[2022-11-16 21:08] just-Bri commented on #7249
Dropping this here for anyone else having issues and using yarn.

This is what is working extremely well for me, added @playwright/test to devDependencies in package.json.
[code]

[2022-11-16 21:23] AlexDaniel opened #18859 "[BUG] .not.toBeVisible with small timeouts always fails regardless of page content"
**Context:**
- Playwright Version: Version 1.25.0
- Operating System: Linux
- Node.js version: v18.10.0
- Browser: Chromium, but probably all

This test ALWAYS fails, regardless of page content:
[code]

I think it's rather obvious that using `expect` should perform some work and not just be a no-op (even if the specified timeout is small).

Previous ticket (https://github.com/microsoft/playwright/

[2022-11-16 22:34] pavelfeldman commented on #18859
I did misunderstand the original request, this one makes it clear, thanks!

[2022-11-16 22:37] augerT opened #18862 "[BUG] Electron + Playwright --debug issues"
**Context:**
- Playwright Version: [1.27.1]
- Operating System: [Windows]
- Node.js version: [18.12.0]
- Browser: [Chromium]
- Extra: [Electron Application]

I'm trying to use Playwright to test my Electron Application, everything mostly works but the --debug option doesn't seem to work as expected. When running npx playwright --debug the inspector comes up (but, is completely empty), my tests sta

[2022-11-16 22:45] aslushnikov commented on #18373
@sunilsurana yep, awesome, I was able to reproduce this on Linux!

[2022-11-16 22:54] pavelfeldman commented on #18859
I'm not sure the fix will be to your expectations. Since we must respect the given timeout, the fix will make it clear that Timeout 10ms was exceeded. We can't know if the element is hidden or visible w/o exceeding the given small timeout.

[2022-11-16 23:23] AlexDaniel commented on #18859
But isn't playwright supposed to perform at least one check, even if the timeout was exceeded?

[2022-11-17 00:36] 1355692540 opened #18864 "[Question] offline pc (win7) wanna to install playwright but excepition"
1:my company pc (windows7)  offline ，l want to use playwright  by java
2:  pom ,already copy jar into company pc's maven repository
<dependency>
            <groupId>com.microsoft.playwright</groupId>
            <artifactId>playwright</artifactId>
            <version>1.20.0</version>
  </dependency>
3:l need to get binary chronium 。 so l copy the folder(**/local/ms-playwright/*) form my own pc (

[2022-11-17 00:36] benmccann opened #18865 "[BUG] regression in killing web server process in 1.28.0"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Linux and Mac
- Node.js version: 16 and 18
- Browser: All
- Extra: Windows is okay

**Code Snippet**

PR with failing CI jobs: https://github.com/sveltejs/kit/pull/7696

You can run locally with:
[code]

The webserver setup happens here:
https://github.com/sveltejs/kit/blob/172e792db86d481be397211d8236c700d458e320/packages/kit/test/util

[2022-11-17 00:46] aslushnikov commented on #18865
Hey @benmccann,

We now send the `SIGTERM` instead of `SIGKILL` by default on Linux & Mac. Could it be that your web server does not respect SIGTERM?

[2022-11-17 00:47] aslushnikov commented on #18865
Actually, could be related to this: https://github.com/pnpm/pnpm/issues/2653

[2022-11-17 00:57] kedevked opened #18866 "[Question] signing using google account"
I am trying to sign in to a website that uses a google authentication. I have been able to do the sign in while using cypress but I have been able to achieve the same behavior using playwright.  Please find below the two specs

[code]
With playwrite, I wrote the following spec:

[code]
An issue has already been created and closed [here](https://github.com/microsoft/playwright/issues/18580). But af

[2022-11-17 00:59] pavelfeldman commented on #18859
Not really, the contract is to respect the timeout. If you don't care about the timeout or retry, you can just query the state.

[2022-11-17 01:02] pavelfeldman commented on #18864
Looks like Playwright could not start the browser you copied. There isn't much we can do here since you were manually copying parts of the product over.

[2022-11-17 01:09] pavelfeldman commented on #18855
So https://playwright.dev/docs/next/api/class-request#request-timing does not work for us.
Playwright just visits those pages, waits for test to execute and collects results for us to analyze.

If Playwright visits those pages and waits for test to execute, then it can report on all the requests along with their timing data. Could you elaborate on why this does not work?

[2022-11-17 01:12] 1355692540 commented on #18864
so how can l install chromium offline ?  l can start the chromium if run xx/local/ms-playwright/xx-chromium/chrom-win/chrome.exe 。the problem  seems strange

[2022-11-17 01:58] refcpu commented on #18851
I did not expect the images to be exactly the same, and decided that the right side was not fully captured and that the extra space at the bottom was not a normal capture.

![image](https://user-images.githubusercontent.com/27007235/202334947-0d141ea4-5ea1-47ab-a9d3-48bda6c28886.png)
![image](https://user-images.githubusercontent.com/27007235/202335194-f3e4aa40-1b17-46a3-9919-11248d5e055c.png)

Al

[2022-11-17 02:28] god-pane opened #18868 "[Question] How to cancel the dialog listener with python"
In our test scenario, we need to listen to the dialog once before doing a certain operation, and if it appears, then accept it, or there may not be a dialog, and when the operation is completed, if the dialog is still listening, it needs to be canceled to avoid the impact on the later dialog.

[2022-11-17 02:51] god-pane commented on #18868
page.once("dialog", lambda dialog: dialog.accept())   this listener

[2022-11-17 03:05] pavelfeldman commented on #18868
if you don't have dialog listeners at all, the dialogs are going to be accepted. So don't install your listener to just accept the dialog. You can also use page.off to remove listeners

[2022-11-17 03:09] god-pane commented on #18868
There is no page.off method in the python language

[2022-11-17 03:34] Arun1N opened #18869 "[BUG] page.locator('text=keyword') actually searches for text contains keyword"
**Context:**
- Playwright Version: [1.27.1]
- Operating System: [Mac]
- Node.js version: [14.6]
- Browser: [WebKit]

Code Snippet:
 await page.locator('text= Country').scrollIntoViewIfNeeded()

Error Log:
locator.scrollIntoViewIfNeeded: Error: strict mode violation: "text= Country" resolved to 2 elements:
    1) <span data-v-17="" class="select-options-labe…> Country </span> aka playwright.$("text

[2022-11-17 04:06] sunilsurana commented on #18373
BTW just curious on which platform did you get consistent screenshots? Also just to let you know we have about 1400 screenshot out of which only these 2-3 screenshot show difference rest all are good. The screenshot is attached in first post of this thread. If you see its always on the border of the persons picture. I guess chrome might be doing in border smoothing or something. I tried to match p

[2022-11-17 04:08] #18868 closed

[2022-11-17 04:09] test20161010 opened #18871 "[Feature] I want to get browser version when launching browser in launchPersistentContext"
Same issue.
https://github.com/microsoft/playwright/issues/12433

Please implement this feature.

[2022-11-17 04:30] benmccann commented on #18865
I've come up with a simpler reproduction and updated the issue description. I was able to reproduce this with npm, so it's probably not related to pnpm.

The reproduction is using [`vite`](https://www.npmjs.com/package/vite), which uses [`connect`](https://www.npmjs.com/package/connect) as its web server. However, I was also able to reproduce it using [`@sveltejs/adapter-node`](https://www.npmjs.c

[2022-11-17 04:53] Alicezhang821 commented on #18869
Not a bug, you can use :text-is('Country')

[2022-11-17 05:53] Smrtnyk commented on #18855
Our real user monitoring product is injected in those test pages and it relies on native browser timings that it gets from performance object, and we are testing that it has proper outcome.
This is how our visiting logic in playwright looks like
[code]
And `runTest` looks like this
[code]
Basically we visit the page with playwright, wait for invisible DOM element to appear, that is a signal that t

[2022-11-17 06:45] cosoc opened #18872 "[Question] disabled Chrome is being controlled by automated test software"
![image](https://user-images.githubusercontent.com/19447682/202375999-4b1848c7-efdd-414a-a24d-4af10a7b275b.png)

how to ban this message

![image](https://user-images.githubusercontent.com/19447682/202375344-49b9012c-2b19-4e83-8195-05c090e06ef3.png)

but have

![image](https://user-images.githubusercontent.com/19447682/202375473-e28c9e3d-56c7-4abf-9509-c5b6abd71faf.png)

[2022-11-17 07:27] AlexDaniel commented on #18859
@pavelfeldman that is the wrong contract. When I write a test, I expect it to do something, it shouldn't just fail randomly. If `expect` is allowed to do nothing at all and fail just because the machine is slow, then what is the acceptable range for timeouts and how would I as a user ever know it?

[2022-11-17 08:09] nuthanqa commented on #18811
![Screenshot (60)](https://user-images.githubusercontent.com/115079265/202391259-0cf8ecc6-5db3-4c60-9c88-bead76c19d37.png)

[2022-11-17 08:21] MindaugasMateika commented on #18869
Or put the text in quotes,
[code]

[2022-11-17 08:55] baptisteArno opened #18874 "[BUG] "Pick locator" disabled when running my test"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Mac
- Node.js version: 18
- Visual Studio Code version: 1.73.1
- Playwright for VSCode extension version: 0.2.16

For some reason, the "Pick locator" button is greyed out when running my test:

https://user-images.githubusercontent.com/16015833/202400889-8fdb0144-7a23-493d-b731-00d1022a863e.mp4

[2022-11-17 09:10] alexbjorlig opened #18875 "How can I run tests in parallel?"
I'm trying to migrate our integration API tests from jest to Playwright. In that process, I would like to ask a question about running tests in parallel.

Let's say I have 100 test files. I would like 10 files to be executed in parallel.
Each running test should have it's own isolated server running.

My questions:

- Where do I start the server - in the playwright.webServer config?
- Do I simply

[2022-11-17 09:23] tylrr123 opened #18877 "[Question]I got a mistake when I run my python with playwright in the Oracle Cloud."
- Playwright Version: [ 1.27.1 ]
- Operating System: [ Red Hat Enterprise 8.6 (Ootpa) aarch64(Py3.7.8)      ]
- Pythonp version: [Python 3.9.15]
- Browser: [ Chromium]

I got a mistake when I run my python with playwright in the Oracle Cloud.
How should I install the missing dependencies ?
Thanks for your help.

`
╔══════════════════════════════════════════════════════╗
║ Host system is missing de

[2022-11-17 09:30] nuthanqa commented on #18811
works fine now. thank you

[2022-11-17 10:14] dominikg commented on #18865
changing from SIGKILL to SIGTERM is a breaking change in my opinion.  This is no longer ending child processes by default and relies on the started process to handle SIGTERM to end children as well.

A backward-compatible way to introduce  this would be to have the signal as an option, default to SIGKILL until the next major and flip it then, allowing users to still use SIGKILL if their server pro

[2022-11-17 11:18] Three-Colors opened #18880 "[Question]How can I wait for selector and don't break out when it can't find a element?"
In my case, one element may have two selectors. I want to `await page locator('the first selector')`, if the first selector can't get a **stable** Element. I will try the second selector. So, I don't want to break out when I use `await page locator('the first selector').waitFor()` or `await page.waitForSelector('the first selector')`, how can I achieve the following code logic:

const selectorElem

[2022-11-17 11:21] mridiniveni opened #18881 "WARNING: Timed out while waiting for driver process to exit"
Hi, I am new to playwright and i see scripts are executing pretty fast but its taking time to close the browser after completion of script execution
   i am using the maven dependency
<dependency>
            <groupId>com.microsoft.playwright</groupId>
            <artifactId>playwright</artifactId>
            <version>1.27.1</version>
        </dependency>

[2022-11-17 13:24] Arun1N commented on #18869
Thank you @Alicezhang821 @MindaugasMateika , Both Solutions work perfectly fine.

[2022-11-17 13:48] sultanzarif opened #18882 "[BUG]"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Mac
- Node.js version: 18.12.1
- Browser: Chromium and Microsoft Edge
- Extra: VPN access is required and enabled during tests

**Code Snippet**

[code]

[2022-11-17 13:49] lifeart commented on #15620
Related issue: https://github.com/microsoft/playwright/issues/16605

[2022-11-17 14:44] benmccann commented on #18865
+1 for treeKill by default. Kill it all with fire

[2022-11-17 14:49] martinowren commented on #18852
The last click() has a long onClick handler. Is there a way that I can give a sign to playwright that it is still doing its thing?
For example using aria-busy etcetc?

[2022-11-17 15:06] bravebox opened #18883 "Testing Experimental: components css modules don't work"
I was testing out the experimental component and it works great with very simple components.

But with our current setup: React, NextJS and Tailwind via css modules it does not work.

Running `npx playwright test-ct`

This works fine:
[code]

This does not work:
[code]
I am getting this error:
[code]

postcss.config.js
[code]

Is there some way to fix or configure this in a right way?

[2022-11-17 15:56] pavelfeldman commented on #18855
I see. We are a lab tool, so making sure rum tools work in our setting is somewhat a low priority. More importantly, in the WebKit family, you can't collect performance data on non-macOS. While the correctness of execution is guaranteed on Linux and Windows, the network stack there is entirely different from Safari's. And that is by far the largest contributor into the perf numbers you are collect

[2022-11-17 16:01] pavelfeldman commented on #18852
You can add { timeout: 15000 } to the subsequent toHaveURL call to let Playwright know that it'll be waiting for it to happen for a long time.

[2022-11-17 16:03] lifeart commented on #7220
+

[2022-11-17 16:36] martinowren commented on #18852
For me, it feels like playwright blocks the onClick handler after the first request (of 3).  The actual call should only take up to 5 seconds, but playwright will time out at 30 seconds, because it will never finish the onClick

[2022-11-17 16:42] martinowren commented on #18852
Here is the onClick handler when done locally in a normal browser:
![image](https://user-images.githubusercontent.com/22822433/202505511-d7ef38d3-7e52-4bad-bc5c-970b7c558108.png)

Here is it in playwright:
<img width="223" alt="image" src="https://user-images.githubusercontent.com/22822433/202505569-5dfbebb5-ee84-4e89-a99b-a5c656bd4bd4.png">

Exact same steps taken

[2022-11-17 16:52] dimsamaras opened #18892 "Cannot run playwright tests on Selenium Grid."
I have created a simple .net 6 console app to check whether it is possible to use Selenium Grid instead of Moon in order to have a svc managing the Browsers.

this is my dummy code Program.cs:
[code]

I have set the necessary env variables [ `SELENIUM_REMOTE_URL`](https://playwright.dev/docs/selenium-grid#connecting-playwright-to-selenium-grid)

**---> THE PROBLEM <---**

**The screenshot for full

[2022-11-17 16:53] martinowren commented on #18852
Narrowed it down further. This is where playwright fails. :

`thumbnail = dataURL` never happens

[code]

[2022-11-17 16:58] pavelfeldman commented on #18871
Merged into https://github.com/microsoft/playwright/issues/12433

[2022-11-17 16:58] #18871 closed

[2022-11-17 16:58] pavelfeldman commented on #18872
This is out of scope for Playwright.

[2022-11-17 16:58] #18872 closed

[2022-11-17 17:00] pavelfeldman commented on #18874
That's as designed, you can use it when the test finishes, otherwise picking locator interferes with the running script.

[2022-11-17 17:01] baptisteArno commented on #18874
Oh, but that would be super useful if the test is stuck, and you want to pick a particular element selector. Any chance we can enable it when running in debug mode at least?

[2022-11-17 17:09] Smrtnyk commented on #18855
Unfortunately our ci in jenkins runs on ubuntu docker images.
We dont see duplicates in real safari.
So you say that this behavior after playwright 1.25 was not introduced by playwright, but it is a behavior introduced by webkit update?
If so we will then need to stop testing on webkit then.
Or is there a way we can update playwright to still have latest ff and chromium and somehow keep this older

[2022-11-17 17:10] pavelfeldman commented on #18875
There are several strategies for implementing this. If you'd like 10 parallel tracks, it means that you'll be running 10 parallel workers. Note that typically parallelism is determined based on the resources rather than based on the number of tests. I.e. 1 worker on CI, 6 workers on MacBook, 25 workers on Xeon workstation. You can always add `--workers=4` in the end of the Playwright command line

[2022-11-17 17:13] pavelfeldman commented on #18880
`const found = await page locator('the first selector').waitFor({ timeout: 3000 }).then(() => true).catch(() => false);`

[2022-11-17 17:14] pavelfeldman commented on #18881
Which browser are you using? Do you use the browser channel?

[2022-11-17 17:16] pavelfeldman commented on #18882
We would need exact steps to follow in order to address this. Usually the difference like this is due to timing and race conditions in the test, where headless runs faster.

[2022-11-17 17:19] pavelfeldman commented on #18883
Playwright uses Vite as a bundler for your components. It looks like your css processor is not compatible with Vite, or is missing configuration. You can pass vite config including the plugin configuration as shown here: https://playwright.dev/docs/next/test-components#q-i-have-a-project-that-already-uses-vite-can-i-reuse-the-config

[2022-11-17 17:23] pavelfeldman commented on #18851
Got it!

[2022-11-17 17:26] pavelfeldman commented on #18855
No, that would not be supported.

Let me schedule this for the next milestone, it might be a sign of a bigger issue on Linux and it would be good for us to look into it.

[2022-11-17 17:26] pavelfeldman commented on #18864
All we have to say about it is here: https://playwright.dev/docs/next/browsers#managing-browser-binaries

[2022-11-17 17:29] pavelfeldman commented on #18874
The risk here is that as you interact with the page, the test can get unstuck.

Makes sense, scheduling it for the next milestone!

Btw, with the latest version of Playwright and the latest version of the VS Code extension, you should be able to do the following: comment out everything after the test, run it, it'll stay on the last state. Then you can pick selector. But I'm sure you've figured it

[2022-11-17 17:44] Nav-2d opened #18885 "[Feature] Make Run Tests and Debug Tests default profile in sync"
Minor request - Currently, in vscode extension when changing default profile under Run Tests button, it doesn't automatically change it under Debug Tests button. Need to change it again in debug tests.

Does it make sense to make them in sync instead of doing it twice?
<img width="245" alt="Screen Shot 2022-11-17 at 9 41 00 AM" src="https://user-images.githubusercontent.com/22205721/202519167-0eb2

[2022-11-17 17:48] Songyu-Wang opened #18886 "[Question] Is there a way to access playwright version information in code?"
I would like to have a framework validation test that basically do this:
[code]
Unfortunately, I cannot find code allow me to do that. Is this a functionality supported? Or do I need to jump out to run a bash script and jump back in?

[2022-11-17 17:49] pavelfeldman commented on #18875
https://playwright.dev/docs/next/test-advanced#workerinfo-object

[2022-11-17 19:09] Nav-2d opened #18888 "[BUG] Codegen doesn't use testIdAttribute from config file"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Mac
- Node.js version: 14
- Browser: Chromium

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
While recording a test using codegen, if we use custom data test id like `data-test-id` instead of `data-testid`, the

[2022-11-17 19:10] Nav-2d commented on #16976
The new `Record at cursor` fixes this scenario. Closing the issue

[2022-11-17 19:10] #16976 closed

[2022-11-17 19:13] pavelfeldman commented on #18885
Would you mind filing it against vscode and linking this issue to it?

[2022-11-17 19:15] pavelfeldman commented on #18886
You can use `const version = require('@playwright/test/package.json').version` as a workaround.

[2022-11-17 19:18] Koalaknightmi opened #18889 "[BUG] html report going down a level on each expect"
**Context:**
## System:
 - OS: Windows 10 10.0.19044
 - Memory: 848.21 MB / 7.77 GB
## Binaries:
 - Node: 16.17.0 - C:\Program Files\nodejs\node.EXE
 - npm: 8.15.0 - C:\Program Files\nodejs\npm.CMD
## npmPackages:
 - playwright: ^1.28.0 => 1.28.0

I have multiple expect statements in the same test and when I run the test I am getting an html report, but the report is making each expect statement a

[2022-11-17 19:20] imartinflores commented on #18881
This is probably related to what happened to me as well? I raised it [here ](https://github.com/microsoft/playwright/issues/17869),  after trying it multiple times, I could see the problem was after the test when closing the browser. In my case I was waiting for a url redirection, the "expect" passed (validating the new url), but the browser remained opened loading the page and it was throwing thi

[2022-11-17 19:22] Songyu-Wang commented on #18886
Ah yea, I guess that works. Thanks. And im not sure if I should close this issue since you added an assignee. Let me know. Thanks again

[2022-11-17 19:28] pavelfeldman commented on #18859
Unfortunately, going the other way would raise the opposite complaints, as in, I passed `timeout: 10`, but the actions stalled for a minute. We need to balance those somehow. It looks like you are misusing the API though, if you want to make a call, you should not misuse the timer and should rather just make that call.

[2022-11-17 19:30] #18889 closed

[2022-11-17 19:35] alexbjorlig commented on #18875
This is amazing - thanks for providing the links. Yes - I'm 95% certain that I'm looking for server per worker.

As long as I can specify that tests inside a worker should **not** run in parallel. I'm reading the links, thanks for providing the info 🙏

[2022-11-17 21:37] mohammedfo123 commented on #18652
Thank you. Where exactly do we use the `DEBUG=pw:browser` command? Which file do we insert it on and where?

[2022-11-17 21:56] asgharkrk opened #18896 "Playwright Debugger Uncaught TypeError: elementText(...).full.trim(...).replace is not a function"
Hi,
I am using playwright with javascript to develop a framework, But every time I try to use codeGen tool or debugger from playwright I get this error and the page stops responding "Uncaught TypeError: elementText(...).full.trim(...).replace is not a function" Please help me fix this issue. Thank you.
OS:WIndows 11
Playwright version: 1.27.1
Language binding:Javascript

[2022-11-17 22:03] ahnpnl commented on #14748
Hi @cameronbraid , do you have an example how to set it up?

[2022-11-17 22:41] tanishqkancharla opened #18897 "Playwright `toMatchSnapshot` against absolute path image"
Playwright has a utility `toMatchScreenshot` that will test a screenshot of something against a predefined image that is in it's snapshot directory. I would like for it to test against an image that is at an arbitrary absolute path. If I pass in an arbitrary path, it will coerce the path (replace the separators with hyphens) to a path inside the snapshot directory.

Is there a way I can use playwr

[2022-11-17 23:11] mxschmitt commented on #18864
Windows 7 is not supported by Playwright, we recommend upgrading to e.g. 8.1, 10 or 11.

[2022-11-17 23:41] cameronbraid commented on #14748
Its just using normal vite running in dev mode and using playwright to drive the browser to the vite pages

Just create a new folder for each test, with the following as an example

**src/test-a/index.html**

[code]

**src/test-a/index.tsx**

[code]

**src/test-a/test-Playwright.tsx**
[code]

**src/viteUrl.ts**

[code]

As I said above `it is a bit of manual work`

Cameron

[2022-11-18 03:12] luin opened #18901 "[BUG] navigator.clipboard not available on WebKit"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Linux
- Node.js version: 16
- Browser: WebKit

**Code Snippet**

[code]

**Describe the bug**

The website is in secure context but still I got the following logs for the above snippet on https://try.playwright.tech/ and also on the CI env (Linux):

[code]

It works on my local development env (macOS).

[2022-11-18 04:41] squarism commented on #7249
Thanks for summing it up and posting a snippet.  I am doing a similar thing and making the title clear "Cache Hit" so that in my CI runs I can see what's going on.  👍

[2022-11-18 06:22] bhvngt commented on #18758
I was trying to use [svelte-htm](https://github.com/kenoxa/svelte-htm) with the latest `playwright` as it neatly allows slots and other usage. I took [svelte-component-test-recipes](https://github.com/davipon/svelte-component-test-recipes) as a base and converted one of the [test](https://github.com/davipon/svelte-component-test-recipes/blob/main/src/lib/props/DefaultProps.test.ts) to its playwrig

[2022-11-18 07:41] Mr-sun-0 opened #18903 "[BUG]Cannot take screenshot with 0 width"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-11-18 07:42] #18903 closed

[2022-11-18 07:44] alfeg commented on #18892
I can confirm this issue when using chrome node in docker or k8s
Tried: `selenium/node-chrome:4.5` and  `selenium/node-chrome:4.6`
Tried exact version from documentation.
One note: standalone-chrome docker is working fine. It's only fails when node is executed separatly.

Got almost same error message
[code]

Sample script that fails
[code]

Chrome capabilities reported by Selenium Grid v4.6
[code

[2022-11-18 08:55] dimsamaras commented on #18892
[mxschmitt](https://github.com/mxschmitt) Playwright only can run on Chrome and Edge on Selenium grid [Playwright can connect to Selenium Grid Hub that runs Selenium 4 to [launch Google Chrome or Microsoft Edge browser, instead of running browser on the local machine.](https://playwright.dev/docs/selenium-grid)

If you try without the channel param (in order to get Chromium or Firefox) you get an

[2022-11-18 09:05] morfies opened #18904 "[Question] Request interception not working sometimes"
Here is my demo code in a fixture:

[code]

The `/api1` mocking not always working, it will fail sometimes.

Not sure if I am using the right way, should I wait for some event before running the test cases?

Thanks

[2022-11-18 09:06] testgitdl commented on #9208
@jfgreffier I tried using your code but I do not get any coverage information. I am starting my app via "ng serve -c dev" and afterwards want to get coverage information.
I have an Angular 14 project with ESM and the test framework is a cucumberjs + Playwright + TypeScript.
I start and stop jscoverage in the beforeall/afterall hooks but do not receive any info although the coverage.json is created

[2022-11-18 09:15] pennxu opened #18905 "[Question]How to change networkidle wait time"
hello!
i want to change networkidle wait time from 500ms to another ,how can I do?
thanks!

[2022-11-18 10:13] harshith-rm opened #18906 "[BUG] The same tests runs twice through jenkins pipeline script even after specifying the worker to 1"
Hi,

I am integrating the abc.spec.js file to run in jenkins pipeline script. The issue is, first it runs the script correctly and again it starts the script from first line of abc.spec.js which means it runs the same script twice. And after the execution it print the letter 'F', not sure what does this mean.

**Pipeline Command**

cd ./record-and-play
npx playwright test --list
npx playwright tes

[2022-11-18 10:24] kachkaev commented on #9208
For those who are looking for a temp drop-in solution, I can recommend [anishkny/playwright-test-coverage](https://github.com/anishkny/playwright-test-coverage), which is [available on NPM](https://www.npmjs.com/package/playwright-test-coverage). It uses Istanbul instead of C8, which allows to collect coverage from all browsers. Before running tests, the app needs to be built with coverage instrum

[2022-11-18 10:43] tepmehatop commented on #16239
Hi,
The same problem, I did not find a solution how to log the body of the request, exactly the part that was sent, not the response body.

Previously used **axios** for request in playwright, now using pure playwright. a
Axios had a method for logging what was sent, what headers and body. "axios.interceptors.request.use..."

It helps to debug the code, very convenient.
For example, I send a POST

[2022-11-18 10:48] ESPodmov opened #18907 "How to automate dolhin anty?"
I'm trying to automate work with Dolphin, but automation ends at the moment the browser opens. All that turned out to be found out is that in order for automation to go as it should, you need to open a new tab and close the start one
What should I do so that automation takes place completely without me?

[code]
DolphinController.py```

import json
import random
import requests

platforms_array = [

[2022-11-18 11:04] organich opened #18909 "[BUG]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-11-18 11:25] #18909 closed

[2022-11-18 11:59] JonahKK commented on #18904
How was the `page` created?
It seems that you've created new context, yet you pass in `use` the `page`, which is created in different context. That is why the registered route does not work.

[2022-11-18 12:43] MindaugasMateika commented on #18906
F means failure and your config is set to retry tests once so it runs it again.

[2022-11-18 13:31] ramprakashyadav opened #18911 "chrome-error://chromewebdata/'"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [Chromium]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**I'm
encountering an i

[2022-11-18 13:40] bravebox commented on #18883
Thanks for the reply. Not sure I understand but I think that I have to change the vue to react stuff and autoimport the postcss and tailwind. I will try it out or hope someone has an example.

[2022-11-18 13:58] nadvolod opened #18912 "[Feature] Front-end performance testing"
It would be great if Playwright could do front-end performance testing using something like Google Lighthouse. For example, Cypress has `cypress-audit`. Something similar where we can run a test and assert the metrics would be great to do with Playwright.

[2022-11-18 14:00] mnataraj17 commented on #15034
Hi all, element hidden error showing up when **display: block** as well.
Any workarounds for this?
Thanks!

[2022-11-18 14:10] bravebox opened #18913 "[Question] Simple React/NextJs test fails in build mode but succeeds in dev mode"
__Context:__
- @playwright/test 1.28.0
- React 18.1.0
- NextJs 12.2.0

__Test file:__
import { test, expect } from '@playwright/test';
test.use({ storageState: 'storageState.json' });

[code]

__config:__
[code]

[code]

__Issue__
While this test runs fine in dev mode when I build/start nextjs the same test fails. Either timing out or saying page is closed. Test fails using the addon and `npx play

[2022-11-18 14:13] morfies commented on #18904
Yes, that makes sense.  Thank you very much for the explanation sir.

[2022-11-18 14:13] #18904 closed

[2022-11-18 14:37] testgitdl commented on #9208
@kachkaev thanks but I already took this as an example and the problem is that the nyc-output is empty - probably it has to do with the nyc ng serve.
Below my npm scripts:
``
    "serve": "nyc ng serve",
    "test:only": "playwright test",
    "test": "start-server-and-test serve http://localhost:4200 test:only"
``

And the output:
``
npm run test

1: starting server using command "npm run serve"

[2022-11-18 14:42] MaximeBernard commented on #18025
Thank you for the clarification. I have to admit this is counter-intuitive and you may want to add a comment about it in the documentation ([above `npm ci` for example](https://playwright.dev/docs/ci#github-actions-via-containers)).

To have some insight into our use case:
- we're using a monorepo (npm workspaces)
- our `npm ci` takes quite some time (1min30)
- we don't have a specific CI job to r

[2022-11-18 14:46] kedarsprabhu opened #18916 "[Question] Migration from Protractor to Playwright for larger spec files"
Our team was just getting started with migration from Protractor to Playwright. We have huge Protractor spec files with lots of PO's, reusable methods and dependencies from other private artefacts. Please suggest how to go about on migration. Have already gone through Protractor to PW migration Doc on the website but it seems to be fine for smaller scripts.

[2022-11-18 14:56] Vinyzu opened #18923 "[Error] Connecting to An Browser over CDP throws an error"
**Context:**
- Playwright Version: 1.25.2
- Operating System: Windows 11
- Python version: 3.10
- Browser: Chromium, but ig all?

**Code Snippet**

Note: This doesnt help any to reproduce the error i just wanna know what the error says.
( I just wanna know what im doing wrong).
If you think this is an Bug of Playwright i can provide a full replicable snippet.

[code]

**Describe the bug**

[code]

[2022-11-18 15:59] pavelfeldman commented on #18913
You don't need the `page.waitForNavigation` call.

[2022-11-18 16:06] pavelfeldman commented on #18911
Most likely your code does not handle some of the use cases that happen during scraping. If you think this is a Playwright bug, it would be best to file a new issue with a small repro (10-15 lines) that demonstrates the bug.

[2022-11-18 16:06] #18911 closed

[2022-11-18 16:08] pavelfeldman commented on #18912
Could you narrow down your request? We need to know the exact use case and the exact perf data you are after. I.e. what exactly you'd like to collect and how exactly you intend to use it.

[2022-11-18 16:10] pavelfeldman commented on #18916
You can port your POs, reusable methods, etc. from Protractor to Playwright on a 1:1 basis. There isn't much we can say outside of that doc.

[2022-11-18 16:15] #18906 closed

[2022-11-18 16:17] pavelfeldman commented on #18905
It is not currently possible, furthermore the use of network idle is discouraged as it leads to flaky tests.

[2022-11-18 16:29] #18852 closed

[2022-11-18 16:40] kedarsprabhu commented on #18916
Oh! We used a migration tool which wasn't much effective on longer specs. Need to figure out if anything else can be done

[2022-11-18 17:10] sadhishkumarthiagarajan-srijan commented on #18681
<img width="1328" alt="Screenshot 2022-11-18 at 11 34 32 AM" src="https://user-images.githubusercontent.com/111989470/202761566-d2fdf7ab-0d83-401f-a16a-ce9ba99abebf.png">
I have attached my dom structure  as well
When i tried with npx codegen command  to generate the code and i can upload the image and below are the code
// await page.locator('text=Select images').click();
// // Click a:has-text("

[2022-11-18 17:12] sadhishkumarthiagarajan-srijan opened #18917 "<img width="1328" alt="Screenshot 2022-11-18 at 11 34 32 AM" src="https://user-images.githubusercontent.com/111989470/202761566-d2fdf7ab-0d83-401f-a16a-ce9ba99abebf.png">"
<img width="1328" alt="Screenshot 2022-11-18 at 11 34 32 AM" src="https://user-images.githubusercontent.com/111989470/202761566-d2fdf7ab-0d83-401f-a16a-ce9ba99abebf.png">
I have attached my dom structure  as well
When i tried with npx codegen command  to generate the code and i can upload the image and below are the code
// await page.locator('text=Select images').click();
// // Click a:has-text("

[2022-11-18 17:13] #18917 closed

[2022-11-18 17:44] aslushnikov commented on #18373
@sunilsurana Results are stable on macOS for me

[2022-11-18 17:47] InduKrish commented on #18797
<img width="1766" alt="Screen Shot 2022-11-18 at 11 46 23 AM" src="https://user-images.githubusercontent.com/113629123/202769107-b8589bc0-ecec-41d2-9a80-29a1bde6f9c7.png">

here is the screenshot when i try - res.url().includes('/vacation/auctions')

[2022-11-18 17:49] WallaceAnalista opened #18918 "[Question] How to validate text in a disabled field"
I have a specific field, which has a value shown. I need to validate the text, but the field is disabledand it is not allowed to enable this field. I'm using JavaScript.

Please, could anyone help me how do I validate the text of this field?

[2022-11-18 18:01] #18874 closed

[2022-11-18 18:10] jpveooys opened #18919 "[BUG] Inconsistent behaviour in Chromium relating to window.matchMedia() use"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Ubuntu 22.04
- Node.js version: 18.12.1
- Browser: Chromium using Pixel 5 device configuration
- Extra: n/a

**Code Snippet**

I have created a simplified reproduction at https://github.com/jpveooys/playwright-repro

(Also includes a GitHub Actions workflow demonstrating the problem.)

**Describe the bug**

To reproduce:

1. Clone the r

[2022-11-18 18:29] alfeg commented on #18892
@dimsamaras
I have tried to follow doc steps with [hubs and nodes](https://playwright.dev/docs/selenium-grid#hub-and-nodes-mode). It just don't work.

Any suggestion on how to debug this issue deeply to investigate what can go wrong?

[2022-11-18 18:31] dgozman commented on #18503
@niyarlatotep Do you mind sharing a specific example where you'd like to use this feature? This will helps us getting the API just right.

Btw, meanwhile you can workaround with something like:
[code]

[2022-11-18 18:42] Nav-2d commented on #18918
You can do something like this:
[code]

[2022-11-18 19:15] ozyx opened #18920 "[BUG] `[expanded=false]` in role selector returns elements without `aria-expanded` attribute"
**Context:**
- Playwright Version: 1.25.2
- Operating System: MacOS
- Node.js version: 18
- Browser: Chromium
- Extra: [any specific details about your environment]

**Describe the bug**

In the [ARIA treeitem role spec](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/treeitem_role), it states:

However, when using a role selector `role=treeitem[expanded=false]`, Playwright w

[2022-11-18 19:23] WallaceAnalista commented on #18918
Hello Nav,

Thanks for the information.

I did it that way but it didn't work.

await expect(page.locator('[totalAtendimentoAbertoLabel="disabled"]')).toHaveText('16.515,27')

This is the field information:

<input type="text" disabled="disabled" value="16.515,27" id="totalAtendimentoAbertoLabel" style="width: 100px;text-align: right;height: 28px;" autocomplete="off">

Regards,

[2022-11-18 19:36] WallaceAnalista commented on #18918
<input type="text" disabled="disabled" value="16.515,27" id="totalAtendimentoAbertoLabel" style="width: 100px;text-align: right;height: 28px;" autocomplete="off">

[2022-11-18 19:37] WallaceAnalista commented on #18918
input type="text"
disabled="disabled"
value="16.515,27"
id="totalAtendimentoAbertoLabel"
style="width: 100px;text-align: right;height: 28px;" autocomplete="off"

[2022-11-18 19:38] WallaceAnalista commented on #18918
Hello Nav,

Thanks for the information.

I did it that way but it didn't work.

await expect(page.locator('[totalAtendimentoAbertoLabel="disabled"]')).toHaveText('16.515,27')

This is the field information:

input type="text"
disabled="disabled"
value="16.515,27"
id="totalAtendimentoAbertoLabel"
style="width: 100px;text-align: right;height: 28px;" autocomplete="off"

Regards,

[2022-11-18 20:00] bravebox commented on #18913
Thanks I will read docs again about what waitfornavigatuon is used for!

[2022-11-18 20:00] #18913 closed

[2022-11-18 20:15] WallaceAnalista commented on #18918
`input type="text"disabled="disabled"value="16.515,27"id="totalAtendimentoAbertoLabel"style="width: 100px;text-align: right;height: 28px;" preenchimento automático="desligado"`

[2022-11-18 20:16] WallaceAnalista commented on #18918
Hello Nav,

Thanks for the information.

I did it that way but it didn't work.

`await expect(page.locator('[totalAtendimentoAbertoLabel="disabled"]')).toHaveText('16.515,27')`

This is the field information:

`input type="text"disabled="disabled"value="16.515,27"id="totalAtendimentoAbertoLabel"style="width: 100px;text-align: right;height: 28px;" autocomplete="off"`

Regards,

[2022-11-18 20:30] fasatrix opened #18921 "[Question] How to fail the current test execution if pre hook has a failure"
Hi
Is there a way to fail/retry the current test execution if something goes wrong in any of the PreHooks?
I see we have a `test.fail()` annotation but does that work in the before hook?
Our use case: we have some complex setup as a pre condition to tests (creating users, setting up data into a database etc) and a number of things can go wrong from time to time and I am trying to find a rubust way

[2022-11-18 20:31] pavelfeldman commented on #18918
You want `toHaveValue`

[2022-11-18 20:35] imartinflores commented on #18912
@nadvolod there used to be a package https://www.npmjs.com/package/playwright-lighthouse - I have never used it and not sure if it still being updated, but I think is similar to cypress-audit

[2022-11-18 21:09] kblok commented on #12988
@yury-s Do you know if there is a way to see why an execution context crashes?
I'm getting some execution context leaks while running some scripts with iframes. Unfortunately, I wasn't able to isolate this yet.

<img width="355" alt="Screenshot 2022-11-18 at 14 46 13" src="https://user-images.githubusercontent.com/2198466/202802687-53c6400d-3aab-415c-a2c3-1d86d12deaa1.png">

[2022-11-18 21:41] pavelfeldman commented on #18921
How do you run your complex setup? If it is a part of the global setup, then failing the global setup blocks the test run. If that failure is in beforeAll/beforeEach, dependent tests are not executed. What PreHooks are you referring to?

[2022-11-18 21:44] pavelfeldman commented on #18771
We need more information to act on this report. As long as we can't repro it, it is unlikely with can make progress with it. Allow me to close it, but please file a new one and link to this issue when you get back to it!

[2022-11-18 21:44] #18771 closed

[2022-11-18 21:44] pavelfeldman commented on #18777
We need more information to act on this report. As long as we can't repro it, it is unlikely with can make progress with it. Allow me to close it, but please file a new one and link to this issue when you get back to it!

[2022-11-18 21:44] #18777 closed

[2022-11-18 21:44] pavelfeldman commented on #18789
We need more information to act on this report. As long as we can't repro it, it is unlikely with can make progress with it. Allow me to close it, but please file a new one and link to this issue when you get back to it!

[2022-11-18 21:44] #18789 closed

[2022-11-18 21:44] pavelfeldman commented on #18795
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-18 21:44] #18795 closed

[2022-11-18 21:46] pavelfeldman commented on #18797
Could you console.log request url in the waitForResponse and share the exact output?

[2022-11-18 21:46] pavelfeldman commented on #18820
We need more information to act on this report. As long as we can't repro it, it is unlikely with can make progress with it. Allow me to close it, but please file a new one and link to this issue when you get back to it!

[2022-11-18 21:46] #18820 closed

[2022-11-18 21:46] pavelfeldman commented on #18821
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-18 21:46] #18821 closed

[2022-11-18 21:46] pavelfeldman commented on #18828
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-18 21:46] #18828 closed

[2022-11-18 22:06] mxschmitt commented on #18759
Yarn 3 relies on Node.js **experimental** loaders which Playwright does not support. We recommend NPM 8/9+ which we use to test Playwright.

If there is an easy workaround which can be applied in our codebase to make it work and be covered with a test, we're open to contributions for it.

Closing in the meantime since we can't act on it.

[2022-11-18 22:06] #18759 closed

[2022-11-18 22:20] mstepin-edt commented on #16239
yeah for my previous project we went with supertest for api calls. We made that design decision over 1 1/2 years ago. Now new job and new project, I thought I'd give the native PW api requests another go, thinking they have improved in some way. I was wrong, and will be using supertest again in the new project.

[2022-11-18 22:26] fasatrix commented on #18921
@pavelfeldman thanks for the quick answer. I am mainly after the before all/beforeEach

[2022-11-18 22:28] mxschmitt commented on #18562
Since this looks more like an issue how @axe-core/playwright publishes their MJS version of their package, I'm closing it for now since we can't act on it.

[2022-11-18 22:28] #18562 closed

[2022-11-18 22:35] bkfarnsworth commented on #15660
+1, copying the helper into my code now to use in the meantime

[2022-11-18 23:36] tnorling opened #18928 "[BUG] Electron firstWindow times out after upgrading to 1.28.0"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Tested on Windows and Mac
- Node.js version: 16
- Browser: Electron
- Extra: Wasn't a problem in 1.27.1 or below. Repros 100% of the time after upgrading.

**Code Snippet**

[code]

**Describe the bug**

After upgrading to 1.28.0 Electron tests are all timing out. Downgrading to 1.27.1 resolves the issue. Example test to assist in repro

[2022-11-19 00:51] #18245 closed

[2022-11-19 04:03] ramprakashyadav commented on #18911
Can you help me with this?, i really dont understand how to fix it

[2022-11-19 08:18] pavelfeldman commented on #18928
Which Electron version is that?

[2022-11-19 14:13] TannuBansal56 opened #18930 "[Feature] Soft assertions in playwright java , so that all steps will run after that i can check which steps got failed"
I have a scenario where we have multiple scenarios to assert. I want to finish off all assertions irrespective of their status and need to see what all assertions got passed or failed once all validations steps were done.
Is there any way to do this in Playwright in java

[2022-11-19 14:54] orkisz opened #18931 "[Bug] VSCode extension does not work with Yarn 2 PnP mode / pnpm with PnP mode"
**Context:**
- Playwright Version: ﻿﻿1.28.0
- Operating System: Mac
- Node.js version: 18.10.0
- Visual Studio Code version: 1.73.1
- Playwright for VSCode extension version: 1.0.0
- Browser: All
- Extra:

**Describe the bug**

I have a project that uses Yarn 3.2.3 with PnP zero-install mode. All my modules are stored in .yarn/cache folder, no node_modules folder exists.

VSCode extension does not

[2022-11-19 15:45] flunderpero opened #18932 "[BUG] SharedWorker is broken on Chromium since 1.27.0"
**Context:**
## System:
 - OS: macOS 12.5.1
 - Memory: 141.05 MB / 64.00 GB
## Binaries:
 - Node: 18.9.1 - ~/.nvm/versions/node/v18.9.1/bin/node
 - Yarn: 3.1.0 - ~/.nvm/versions/node/v18.9.1/bin/yarn
 - npm: 8.19.1 - ~/.nvm/versions/node/v18.9.1/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash

**Code Snippet**

See this repo: https://github.com/flunderpero/playwright-sharedworker-bug

If you run

[2022-11-19 19:08] Christopher2K commented on #17496
Hello!
I'm reopening this issue just to say that I'm constantly reproducing this bug in my CI pipeline: https://github.com/Christopher2K/llcoolwebsite/actions/runs/3504747726/jobs/5870668804

The thing is, I'm really unable to get the same result on my computer. How can I help?

[2022-11-19 21:53] NVolcz opened #18934 "[BUG] Viewport change in Chrome (crPage.js) when taking screenshot triggers animations"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Linux
- Node.js version: v14.19.1
- Browser: Chrome

## System:
 - OS: Linux 5.15 Ubuntu 22.04.1 LTS 22.04.1 LTS (Jammy Jellyfish)
 - Memory: 6.13 GB / 15.36 GB
 - Container: Yes
## Binaries:
 - Node: 14.19.1 - ~/.nvm/versions/node/v14.19.1/bin/node
 - Yarn: 1.22.5 - /usr/bin/yarn
 - npm: 8.10.0 - ~/.nvm/versions/node/v14.19.1/bin/npm
#

[2022-11-19 21:55] ESPodmov opened #18935 "[BUG] Unable to connect to Dolphin Anty"
[code]
Unable to connect to the Dolphin Anty using playwright.chromium.connect_over_cdp() function
All that turned out to be found out is that in order for automation to go as it should, you need to open a new tab and close the start one
DolphinController class just opens new instance of Dolphin browser
P.S.
DolphinController working correctly
P.P.S.
I tested this class with another library

[2022-11-19 21:56] NVolcz opened #18936 "[Feature] Slider comparison when images do not have matching height"
The slider comparison is awesome for visual regression tests but the height of the websites often changes which causes the slider comparison to be disabled. Would it be possible to have it available even if the height are different? Maybe we could add an option to pad images that are different heights?

[2022-11-19 22:04] NVolcz opened #18937 "[Feature] a toMatchScreenshot() for comparing two different screenshots"
We currently have `expect(screenshot).toMatchSnapshot(name[, options])` which is nice when comparing against at snapshot but it doesn't work when comparing a screenshot against a reference website which is useful for doing visual regression to see what has changed. I propose that we add a `toMatchScreenshot(screenshot[, options])` that could be used for something like this:
[code]

[2022-11-20 00:04] TheAPIguys commented on #3726
Hello Guys,

I having the timeout error as below:
{
  "errorType": "TimeoutError",
  "errorMessage": "page.waitForEvent: Timeout 30000ms exceeded while waiting for event \"download\"\n=========================== logs ===========================\nwaiting for event \"download\"\n============================================================",
  "trace": [
    "page.waitForEvent: Timeout 30000ms exceed

[2022-11-20 08:03] sanperrier commented on #18928
electron@14 same

[2022-11-20 12:16] lakshbhutani opened #18939 "Location for storageState.json??"
I have a micro front-end architecture for my react app. One micro front end(container) takes care of login page, I want to write tests related to login in that repo itself. But other micro front-end have dashboard and other pages(listing, etc) which requires user to be logged in.

So how can I write tests related to dashboard and other pages which requires authentication state(user to be logged in

[2022-11-20 12:40] lakshbhutani commented on #10068
@unlikelyzero is there a way to share auth state between a micro front-end architecture since I also want to calculate lighthouse score for logged in routes?

[2022-11-20 13:25] fzembow commented on #2511
In case this helps anyone, I was able to emulate a text paste event using `evaluate`:

[code]

[2022-11-20 14:27] xopr commented on #16401
So for Chromium, I think it might be as simple as an extra `ffmpeg` parameter in ([VideoRecorder.ts#L101](https://github.com/microsoft/playwright/blob/d4053abd2972cb7168b31478b160c5bc3bf05b90/packages/playwright-core/src/server/chromium/videoRecorder.ts#L101))
If this [stackoverflow](https://stackoverflow.com/questions/65434905/how-to-preserve-transparency-when-scaling-png-with-ffmpeg) post is cor

[2022-11-20 15:47] ramprakashyadav opened #18940 "chrome-error://chromewebdata/' getting issue while craping data"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [Windows]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [Chromium]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
when We

[2022-11-20 16:07] avizilbershtein opened #18941 "[BUG] "npx playwrite test" get 404 error"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Windows 10 x64
- Node.js version: 18.12.1 NPM: 9.1.2
- Browser: Chromium
- Extra:

**Code Snippet**

I run "npx playwrite test" but get error

npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/playwrite - Not found
npm ERR! 404
npm ERR! 404  'playwrite@*' is not in this registry.
npm ERR! 404
npm ERR! 404 Note t

[2022-11-20 17:30] augerT commented on #18862
Any comment? Should this work should this not? Please and thank you.

[2022-11-20 19:56] andreabisello commented on #18821
@pavelfeldman thanks.
we moved away from locust for this topic, usint pytest xdist to parallelize playwright on different threads.

[2022-11-20 19:59] Nav-2d commented on #18941
You need `npx playwright test`

[2022-11-20 20:51] modern-sapien opened #18943 "[BUG] when running basic playwright tests locally html report is not reachable"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- 1.28.0

- Operating System: [e.g. Windows, Linux or Mac]
- Windows

- Node.js version: [e.g. 12.22, 14.6]
-16.13.1

- Browser: [e.g. All, Chromium, Firefox, WebKit]
Chromium

- Extra: [any specific details about your environment]
Using basic Playwright getting started test & auto-gen config. The CLI command of `npx playwrig

[2022-11-20 20:58] modern-sapien commented on #18943
Nevermind, docs were helpful here.

[2022-11-20 20:58] #18943 closed

[2022-11-20 21:57] alexgwolff commented on #13467
`toBeInTheDocument` I thinks is a good name and follow testing library.
Any plans about this issue?

[2022-11-20 23:12] bes opened #18944 "[BUG] beforeEach not called when parallel tests with N workers goes to the N+1th test"
**Context:**
- Playwright Version: 1.28.0
- Operating System: macOS 13.0.1
- Node.js version: v18.8.0
- Browser: Chromium

**Code Snippet**

Test fixture
[code]

Sign in helper:

[code]

Test (simplified)

[code]

**Describe the bug**

Running all our seven tests at the same time, with `fullyParallel: true,` and the test starts out fine:

[code]

But when it starts running the 7th tests, it fails

[2022-11-20 23:34] bes commented on #18944
The bug is mitigated by setting `fullyParallel: false,`, but that results in much slower tests.

[2022-11-21 01:00] mstepin-edt opened #18945 "[BUG] no console logging output if using custom reporter"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Ubuntu (WSL)
- Node.js version: 19.0.0
- Browser: Chrome

When adding a custom reporter, the console.log output is no longer displayed in the console.

**NOTE:** The console stdOut attachment to the html reporter still shows the desired output.

Consider the following setup:
[code]
Custom reporter:
[code]

Now consider this test:
[code]

[2022-11-21 01:04] mstepin-edt commented on #18941
Looks like a typo there. You have `playwrite` but I think it should be `playwright`....

[2022-11-21 01:08] test20161010 opened #18946 "[BUG] scrollIntoViewIfNeeded() Timeout with Firefox headful"
When I run a test like below with Firefox headful, I get a timeout error.

[code]

Repository is here.
https://github.com/test20161010/playwright-18946

However, it does not matter when the browser screen is in the foreground.

For example, if you run a test in VSCode,
and the browser screen is displayed,
then click the title bar of VSCode immediately
to put the browser screen on the back,
and you

[2022-11-21 01:21] #18946 closed

[2022-11-21 02:56] bheemreddy181 opened #19177 "[Feature] Make Debugging easy for API Testing"

[2022-11-21 03:55] randomVariable2000 opened #18947 "[Question] Can't choose inquirer choices when run playwright test"
I want to enter some config like element id by inquirer, but when I run the test, I can't choose inquirer choices.

And nodejs readline can't enter stream either.

[code]

[2022-11-21 04:20] #18940 closed

[2022-11-21 04:28] obulat opened #18948 "[BUG] Arabic characters are broken in snapshots in Playwright versions above 1.24"
**Context:**
- Playwright Version: [what Playwright version do you use?] Any version above 1.24.0
- Operating System: [e.g. Windows, Linux or Mac] Linux (inside Docker)
- Node.js version: [e.g. 12.22, 14.6] 16.15.0
- Browser: [e.g. All, Chromium, Firefox, WebKit] Chrome

**Describe the bug**

Arabic characters in the snapshots are broken in Playwright version above 1.24.

At [Openverse](https://wo

[2022-11-21 06:15] #18947 closed

[2022-11-21 06:38] niyarlatotep commented on #18503
@dgozman Hello! I've already made the helper before opening issue, it looks like:

[code]
So I use it like (example near to production):
[code]
So I've already solve my problem somehow, but it would be nice to have it built in (not sure if it really needed), now I have to import my helper explicitely. I'm not sure may be there's a way to extend native playwright expect I tried a bit but had no suc

[2022-11-21 06:53] coader opened #18949 "[Question]how can I mark the chrome process window 'bringtofront'?"
I need capture screen with system time in right corner,  so need get the full screen and chrome be top window,
how can I get the window start by playwright?

[2022-11-21 07:38] ValorHeart commented on #18939
Hi, You need to save the current session storage state by using:
`await requestContext.storageState({ path: "${TestConfig.rootDir}/storageState.json" });`
Then you can load it using the configuration file
`config.use.storageState`

I think that the global setup feature might be very useful for you for that task: https://playwright.dev/docs/test-advanced#global-setup-and-teardown

[2022-11-21 07:38] targos commented on #18424
I think this is fixed in v1.0.0!

[2022-11-21 07:49] suneetfcc opened #18950 "[Question] Workers config option for a project"
My playwright config looks like
[code]

when i run  `npx playwright  test --project=Project1  `
`Running 18 tests using 3 workers`
the project is parallelised with 3 workers and my worker config is not honoured.

Basically i am trying to disable parallelization for one project

[2022-11-21 08:25] dartyuhov commented on #18930
You can use 3rd party tools like [assertJ](https://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/SoftAssertions.html) or built-in assertions based on test-runner that you're using [Junit5 (assertAll)](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions) or [TestNG SoftAssert](https://www.javadoc.io/doc/org.testng/testng/6.8.8/org/testng/asserts/SoftAssert.

[2022-11-21 08:54] bhavarthkandoria opened #18951 "Hook to trigger once HTML report has been created successfully"
Basically, I want to a feature where I can upload my reporting artifacts or full 'playwright-report' directory to some storage where everyone from the team can refer it.

I am looking for the hook which will trigger once HTML report is created successfully. Currently, I am trying to achieve the same by putting the code in teardown script. But it is not working as I want.

[2022-11-21 08:58] zac11 opened #18952 "[Question] How can I set a value to a password input inside a closed shadow root."
So from [this](https://playwright.dev/docs/selectors#selecting-elements-in-shadow-dom) documentation , it is clear to me that Playwright cannot natively access elements inside closed shadow root. However I'm just trying to see if I can get a workaround.

[This](https://selectorshub.com/xpath-practice-page/) is the application under test - an I'm trying to access the `Password` field inside the clo

[2022-11-21 09:00] dimsamaras commented on #18892
@alfeg, thanks for taking a look at it!

I have installed Selenium Grid on Kubernetes using the templates found here: https://github.com/SeleniumHQ/docker-selenium/blob/trunk/charts/selenium-grid/README.md

After that i had no issue taking the logs for the hub and browser pods.

[2022-11-21 09:22] mridiniveni commented on #18881
Exactly similar issue i am facing  @imarntinflores

[2022-11-21 09:23] mridiniveni commented on #18881
BrowserType browserType = playWright.chromium();
        browserContext = browserType.launch(new BrowserType.LaunchOptions().setChannel("chrome").setHeadless(false)).newContext();
        page = browserContext.newPage();

[2022-11-21 09:28] jpveooys commented on #18919
Running it headed or with `--debug`, everything is smaller initially and in the cases where it fails. My best guess therefore is there is a delay in deviceScaleFactor being applied.

[2022-11-21 09:35] testgitdl commented on #9208
@kachkaev I have created a sample project here: https://github.com/testgitdl/playwright-coverage

[2022-11-21 09:59] lakshbhutani commented on #18939
Thanks @ValorHeart  for responding. I've done it in a similar way to run tests in a single repo.
But since it is a micro front-end architecture and login page is a part of container micro front-end and other pages are part of other micro front end's.

So how can I store the auth state from one repository(micro frontend) config and share it with other micro front end's (which have different reposit

[2022-11-21 10:23] #18923 closed

[2022-11-21 10:37] Nilamber01 opened #18953 "[BUG] Test timeout exceeded while setting up "page". webkit"
**Context:**
- Playwright Version: 1.28
- Operating System: Mac OS X 10_15_7
- Node.js version: 18.10.0
- Browser: WebKit
- Extra: Works fine locally, but doesn't work on CI env (mac agent with above config). Chromium and firefox runs fine though.

**Code Snippet**

[code]

**Describe the bug**

browserContext.newPage: Browser closed.
14:28:06      ==================== Browser output: ============

[2022-11-21 10:50] imartinflores commented on #18881
hey @mridiniveni ! I was not using the channel, directly with chromium. Double-check if you don't have any unresolved/pending promises somewhere.
@pavelfeldman is it the correct behavior for WaitForUrl() to keep waiting till the page loads even if the URL has already changed?

[2022-11-21 11:21] Piero87 commented on #15660
+1

[2022-11-21 11:23] qasamppa opened #18954 "[BUG] Playwright test for vscode 1.0.0 doesn't find tests with Vscode 1.73.1"
**Context:**
- Playwright Version: [what Playwright version do you use?] 1.27.1
- Operating System: [e.g. Windows, Linux or Mac] MacOS 12.6
- Node.js version: [e.g. 12.22, 14.6] 19.1.0
- Visual Studio Code version: [e.g. 1.65] 1.73.1
- Playwright for VSCode extension version: [e.g. 1.2.3] 1.0.0
- Browser: [e.g. All, Chromium, Firefox, WebKit] All
- Extra: [any specific details about your environme

[2022-11-21 11:58] ivanrosvimi commented on #2973
Up!!

[2022-11-21 12:04] nadvolod commented on #18912
@pavelfeldman as a software engineer I would like to be able to run automated front-end performance tests using Google Lighthouse metrics.

- Create an automated test that allows me to open a URL and test for certain Lighthouse metrics. Below is an example from cypress-lighthouse. I imagine something similar from Playwright

[code]
- The test should fail and report on the metrics that did not meet

[2022-11-21 12:07] nadvolod commented on #18912
@imartinflores  Looks interesting but hasn't had any commits since April 2022 🤔

[2022-11-21 12:08] jpveooys commented on #18919
Adding `<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">` (which was missing) to `<head>` tag in `site/index.html` seems to fix this and restore consistent behaviour (blue square, rather than red). So this is probably a non-issue in the real world (as a similar viewport meta tag would normally be in use). Will test further and reply if I have any other findi

[2022-11-21 12:22] MuhammadM1998 opened #18955 "[BUG] Chromium works in dev but fails at build (Executable doesn't exist)"
**Context:**
- Playwright Version: 1.28.0 & 1.14.0
- Operating System: Windows 10 10.0.22621
- Node.js version: 18.12.1 (LTS)
- Browser: Chromium
- Nuxt Version: 3.0 (stable)
- Nitro Version: 0.6.0 (latest)

**Reproduction**
[Repo](https://github.com/MuhammadM1998/nuxt-playwright) , [Stackblitz](https://stackblitz.com/edit/github-dseiey)

**Code Snippet**
[code]

**Describe the bug**
I'm using Pla

[2022-11-21 12:27] stevenlumina opened #18956 "[Question] global-setup not storing the correct info"
I am trying to reuse a [sign in using this guide](https://playwright.dev/docs/auth#reuse-signed-in-state).  While it does sign in it isn't saving the information into the correct URL.
For context the steps are:

1. Go to app url which redirects to the SSO
2. log into the SSO saves some into to local storage
3. Go back to the app URL and it saves the same into to local storage but under the app URL

[2022-11-21 12:31] arpan-patelia commented on #18954
I am facing a similar issue.
I created a new Playwright project using VS Code extension but the Test Explorer is asking me to install additional test extension. If I hit the refresh tests button, I get a notification asking me to run `npm install --save-dev @playwright/test`.
I already have it installed the correct way through VS Code extension but still I get this.

It happens for all my Playwrig

[2022-11-21 12:46] tymfear opened #18957 "[FEATURE REQUEST] Allow setting up env variables inside VSCode extensions"
Our setup is done in a way that we need to pass env vars to run against different environments.
Currently I haven't found any clues on how to do that.
But anyway, even if there is a hack to work around it, imo, it would be much user-friendlier to allow setting it up in extension.

[2022-11-21 12:52] macroking opened #18958 "[Feature]ability to select an option value by title"
`locator.selectOption` supports label, value, and index. I think those who are using Playwright to automate Oracle Cloud application will be benefited if we support selecting an option by `title` also.

[code]

[2022-11-21 13:06] klhex commented on #17534
Is this a duplicate to https://github.com/microsoft/playwright/issues/16904?

[2022-11-21 13:07] tadashi-aikawa commented on #18424
I have tried v1.0.0, but another error occurred.

![image](https://user-images.githubusercontent.com/9500018/203062785-7a9da877-8046-48d8-883b-9d5e9c75f7e2.png)

[2022-11-21 13:13] tadashi-aikawa commented on #18424
However, I created a new project (https://github.com/microsoft/playwright/issues/18424#issue-1428319591), then it worked! Many thanks! 😄

By the way, It downloaded a new Chromium. Did I download the one that contains a bug before?

[code]

[2022-11-21 13:37] viraxslot opened #18959 "[BUG] Debug mode doesn't highlight elements on the page"
**Context:**
- Playwright Version: 1.28.0
- Operating System: macOS 12.3
- Node.js version: 16.15.1
- Browser: Chromium

**Code Snippet**
Any code, related to UI automation.

**Describe the bug**
1. Run test case in debug mode `PWDEBUG=1 yarn pw:run --project=chromium`
2. Step over to the step that operates with UI element
3. Check the element is highlighted on the page.

In playwright 1.27.1: we

[2022-11-21 13:45] ivanhofer opened #18960 "[Feature] vs code: support monorepos"
The VS Code extension should not just look for `playwright.config.ts` files at the root to pick up test files. Also subfolders should be taken into account.

[2022-11-21 14:19] BekaOkromchedlidze opened #18961 "[BUG] getByRole API with name parameter seems to follow contain string instead of equality"
**Context:**
- Playwright Version: v1.28
- Operating System: Windows
- Node.js version: v16.13.2
- Browser: Chromium

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

```getByRole('cell', { name: '1 Dec 2022' })```

**Describe the bug**

I am looking to get cell element with name '1 Dec 2022'. There are

[2022-11-21 14:38] ValorHeart opened #18962 "[Question] page.setExtraHTTPHeaders also affect 'request' ?"
Hello, I have two questions:
1. What is the difference between page.setExtraHTTPHeaders and testOptions.extraHTTPHeaders?
2. Does page.setExtraHTTPHeaders also affect the 'request' API ?
Thanks!

[2022-11-21 14:54] zheeeng opened #18963 "[BUG] Reports generating playwright screenshot is outside the Vitest testing context"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Mac
- Node.js version: v16.18.1
- Browser: All
- Extra: Vitest runtime

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

Console reports Error: toHaveScreenshot() must be called during the test.

See more details

[2022-11-21 15:04] alfeg commented on #18892
Okay, my bad.

Take some time and completed run for different Selenium Grid version:
- 4.3 works fine
- 4.4 works fine
- 4.5, 4.6 are failing with logs below

@mxschmitt can at this point I'm not sure should this bug belong to PW or to Selenium Grid itself.

Steps I've done
[code]

Executed js script above  https://github.com/microsoft/playwright/issues/18892#issuecomment-1319653890

Chrome pod (t

[2022-11-21 15:41] harshith-aimyth opened #18964 "[Question] How do i block the location pop-up"
Hi,

I want to block the location popup in my test function in playwright how do I do that?

![image](https://user-images.githubusercontent.com/107207855/203096170-1afce67f-2b6d-414f-a691-f0ed2adf594f.png)

[code]

[2022-11-21 16:12] pavelfeldman commented on #18797
We need more information to act on this report. As long as we can't repro it, it is unlikely with can make progress with it. Allow me to close it, but please file a new one and link to this issue when you get back to it!

[2022-11-21 16:12] #18797 closed

[2022-11-21 16:12] #18844 closed

[2022-11-21 16:12] pavelfeldman commented on #18856
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-21 16:12] #18856 closed

[2022-11-21 16:12] pavelfeldman commented on #18864
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-21 16:12] #18864 closed

[2022-11-21 16:13] pavelfeldman commented on #18875
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-21 16:13] #18875 closed

[2022-11-21 16:13] pavelfeldman commented on #18877
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-21 16:13] #18877 closed

[2022-11-21 16:13] #18880 closed

[2022-11-21 16:16] pavelfeldman commented on #18881
@imartinflores your issue seems to be different

@mridiniveni your company has an enterprise policy that enforces and changes the way Chrome works. It injects scripts and changes shutdown routines. It can't be worked around, you should not test using Chrome w/ this policy because that's not what users will get when they open your page. Chrome only respects this policy in headed mode when running b

[2022-11-21 16:16] pavelfeldman commented on #18882
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-21 16:16] #18882 closed

[2022-11-21 16:18] pavelfeldman commented on #18885
Folding into the VSCode issue.

[2022-11-21 16:18] #18885 closed

[2022-11-21 16:18] sylvaingi commented on #17152
Also observing this error on v1.28.0. The viewport is alternating very quickly between its intended width + height and the same dimensions divided by two.

Tried fiddling with the `deviceScaleFactor` using `1` as a value to disable high dpr emulation, it did not work.

[2022-11-21 16:18] pavelfeldman commented on #18905
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-21 16:18] #18905 closed

[2022-11-21 16:23] pavelfeldman commented on #18912
@nadvolod there isn't much from Cypress in this snippet above, you only use it to navigate the page and then to run Lighthouse. Ironically, lighthouse would always need to re-navigate to the page (multiple times) while it is performing its analysis, so this initial Cypress navigation is a pure overhead.

So this looks like a test runner + Lighthouse integration request. https://github.com/GoogleCh

[2022-11-21 16:24] pavelfeldman commented on #18916
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-21 16:24] #18916 closed

[2022-11-21 16:24] pavelfeldman commented on #18918
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-11-21 16:24] #18918 closed

[2022-11-21 16:25] pavelfeldman commented on #18921
`test.fail()` is not what you think it is - it marks test as failing. What you want is to throw an exception there `throw new Error('Could not set up data');

[2022-11-21 16:25] #18921 closed

[2022-11-21 16:33] #18961 closed

[2022-11-21 16:43] jfgreffier commented on #9208
@testgitdl for c8 coverage, yoiu should open the coverage.json and check it. You might have coverage info, or not. Maybe you have coverage info but the wrong path... You should come over to the [Slack](https://aka.ms/playwright-slack), a GitHub issue isn't very convenient

[2022-11-21 17:03] gselsidi commented on #17818
Please fix have similar issue with multiple config files, I set both profiles as default, but I can only single run tests from the first config file, the 2nd config file throws an error about setting default profiles ect.

[2022-11-21 17:19] tnorling commented on #18928
We're using 18

[2022-11-21 17:52] pavelfeldman commented on #18928
@tnorling I tried following the steps in repo you linked, but they seem to be out of date. I tried to do what makes sense to bring it up (including commenting out puppeteer usage), but still no luck. It is missing mode modules, etc. Can someone share a smaller repro for the problem?

[2022-11-21 17:53] vrseraphin commented on #10337
+1.  Would be very very useful and avoid having a proliferation of .spec.js files for every single config tweak you want to use for a different scope of tests.

[2022-11-21 18:17] tnorling commented on #18928
@pavelfeldman Sorry about that, I stripped out all the unnecessary stuff in [this branch](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/repro-playwright-issue/samples/msal-node-samples/ElectronTestApp). The most minimal repro is literally the code shared in the original issue. Try to launch an electron app then await `firstWindow`

[2022-11-21 18:34] mxschmitt commented on #18957
You can already do this as of today by setting the `playwright.env` setting inside the VSCode settings.

[2022-11-21 18:35] jameskip commented on #18964
https://playwright.dev/docs/api/class-browsercontext#browser-context-grant-permissions

[2022-11-21 18:47] dgozman commented on #18892
@dimsamaras Could you run your playwright script with `DEBUG=pw:api,pw:protocol` and post the logs here? Since some APIs work, and others do not, the problem is most likely in the protocol version incompatibility between Playwright and Chrome. Logs might help us to better understand the problem.

[2022-11-21 18:47] #18898 closed

[2022-11-21 18:52] dgozman commented on #18896
@asgharkrk Do you mind sharing the page url? I suspect that it overwrite `String.prototype.replace` function, but I am not 100% sure.

[2022-11-21 18:57] dgozman commented on #18897
@tanishqkancharla `toMatchSnapshot` also handles updating the baseline for you, which is probably undesirable for an image with the absolute path.

If all you need is to compare two images, perhaps you'd better use a specific API for comparing images? For example, [`pixelmatch`](https://www.npmjs.com/package/pixelmatch) library is currently used by Playwright for this purpose.

If you have a diffe

[2022-11-21 19:10] viraxslot commented on #18950
Hi @suneetfcc As far as I know there is no such option like `workers` for a project. Please see here: https://playwright.dev/docs/api/class-testproject

I think a workaround could be:
[code]

It's like [in this code snippet](https://playwright.dev/docs/test-configuration#testing-options) (please see to the very bottom of the page), but with the different environment variable.

So you can run your

[2022-11-21 19:24] dgozman commented on #18919
I can repro this on Chromium, but not on WebKit. Most likely, the issue is related to this Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1285532.

Could you please elaborate on this issue? I was running your repro in headed mode, and haven't noticed anything being smaller initially. Perhaps, there is a second bug here?

[2022-11-21 19:30] dgozman commented on #18930
As @dartyuhov says, this heavily depends on your test runner. You can already use soft assertions available in your framework, but most likely they will not work with [Playwright's own assertions](https://playwright.dev/java/docs/test-assertions).

I'll close this issue in favor of https://github.com/microsoft/playwright-java/issues/819.

[2022-11-21 19:30] #18930 closed

[2022-11-21 19:33] dgozman commented on #18931
@orkisz So far, both playwright and vscode extension assume node execution environment that implies `node_modules`. I will leave this issue open for prioritization for now.

[2022-11-21 19:42] tanishqkancharla commented on #18897
Yes that's pretty much what I want, but it's close enough to `toMatchSnapshot` that I think it would be really easy/simple for Playwright to provide this as well out of the box, b/c I know playwright has some abstractions over `pixelmatch` like converting different image formates to png, and maybe a few other things.

Really all I need is a `toMatchImage` matcher that will take a buffer or an (abs

[2022-11-21 19:51] dimsamaras commented on #18892
Following @alfeg 's latest comment, i downgraded selenium grid deployment to 4.4 and it works fine.

I will re-upgrade the version and run with the new envs as suggested by @dgozman and post the logs.

Thank you all for the helpQ

[2022-11-21 20:25] jpveooys commented on #18919
The odd thing is, I'm not sure that the change event is being triggered in either case.

It's not the easiest thing to record, but you can just about see it here (VP8-encoded, from 7 seconds in particular):

[playwright.webm](https://user-images.githubusercontent.com/66470099/203148684-fbbab84c-34a0-4c50-a91a-4b92b053c27e.webm)

You can see the two differently sized squares.

That goes away if scr

[2022-11-21 20:43] #18941 closed

[2022-11-21 21:03] dgozman commented on #18934
@NVolcz `animations: 'disabled'` only stops CSS animations, CSS transitions and Web Animations. I looked at the page, and it seems to be doing some JavaScript-based animation instead. Unfortunately, Playwright cannot stop those.

I'd recommend to use [`expect(page).toHaveScreenshot()`](https://playwright.dev/docs/test-assertions#page-assertions-to-have-screenshot-1) instead, because it waits for s

[2022-11-21 21:06] dgozman commented on #18935
@ESPodmov
- Could you please share the `DolphinController` source? We need a repro that we can run locally in order to help you.
- You mention "Dolphin browser". There is no official support for this browser. We might be able to help if the problem is trivial, but there are no guarantees.

[2022-11-21 21:07] dgozman commented on #18936
Seems to be a duplicate of #15802.

[2022-11-21 21:07] #18936 closed

[2022-11-21 21:13] dgozman commented on #18937
@NVolcz I think we can probably do something like `expect(image1).toMatchImage(image2)` for this usecase. See also #18897.

In your particular case, I can recommend to produce screenshots once in `production` environment, commit them to your version control, and then compare `localhost` screenshots to these expectations. This way, you'll have a stable set of screenshots to test against. I hope thi

[2022-11-21 21:13] dgozman commented on #18897
I'll close this as a duplicate of #18937, let's continue the discussion there.

[2022-11-21 21:13] #18897 closed

[2022-11-21 21:34] dgozman commented on #18919
@jpveooys Interesting... I see the big red and small blue, and think that perhaps [default 980px viewport](https://developer.mozilla.org/en-US/docs/Web/HTML/Viewport_meta_tag#background) was not applied by Chromium. But that should be totally fixed by adding a `<meta name=viewport>` tag. Could you please double-check?

I also see the blue square blinking with a different size during the screenshot

[2022-11-21 21:46] dgozman commented on #18944
@bes It looks like you call `test.beforeEach()` in a helper file, not in the test file itself? This is not supported - each file should have it's own `beforeEach` call. I'd recommend **one** of the following:
- extract a common `beforeEachBody(page, context)` and call it in each file from the `test.beforeEach()` hook;
- [override `page` fixture](https://playwright.dev/docs/test-fixtures#overriding

[2022-11-21 22:07] jpveooys commented on #18919
@dgozman Yes, I can confirm the meta tag fixes the original problem. So it's a non-issue for me now – up to you how important the case without a similar viewport meta tag is.

[2022-11-21 22:13] #18920 closed

[2022-11-21 22:20] fzembow opened #18970 "[Feature] Allow selecting textareas by text value"
In the documentation for [Selectors](https://playwright.dev/docs/selectors#text-selector), it is written

Could this also be extended to match `<textarea />` elements as well?

I've noticed that if you have multiple textareas, it is not possible to query them using the text selector, which seems like an omission? My use case is a simple TODO style app where each task is in a textarea - I'd like to

[2022-11-21 22:23] dgozman commented on #18919
@jpveooys Thanks for confirming! I'll leave this open for prioritization now.

[2022-11-21 22:27] dgozman commented on #18945
@mstepin-edt There are two options to make `console.log` visible with custom reporter:
1. Handle [`onStdOut`](https://playwright.dev/docs/api/class-reporter#reporter-on-std-out)/[`onStdErr`](https://playwright.dev/docs/api/class-reporter#reporter-on-std-err) and print to the terminal in your custom reporter. This is what default reporters do for you behind the scenes.
2. Return `false` from [`prin

[2022-11-21 22:33] dgozman commented on #18948
@obulat What docker image do you use? I expect this to be a fonts issue. The fact that rendering trace snapshots locally works as expected also hints at the environment being the culprit.

[2022-11-21 22:36] dgozman commented on #18949
There is a [`page.bringToFront()`](https://playwright.dev/docs/api/class-page#page-bring-to-front) method.
See #1086 for fullscreen.

[2022-11-21 22:36] #18949 closed

[2022-11-21 22:44] dgozman commented on #18950
@suneetfcc There is no such feature as of today - you can only specify `workers` for the whole config. Let's consider this issue a feature request.

[2022-11-21 22:49] dgozman commented on #18951
@bhavarthkandoria We recommend a separate step in your CI config. For example, playwright CI uploads some artifacts after [test run here](https://github.com/microsoft/playwright/blob/main/.github/workflows/tests_primary.yml#L61-L65).

An example of doing this for GitHub Actions, assuming default `playwright-report` location:

[code]

Let me know if this helps.

[2022-11-21 22:54] dgozman commented on #18952
@zac11 I can see two possible solutions:

1. Type on the keyboard after you've focused the input.
[code]

2. Instead of setting an attribute, assign to the `value` property:
[code]

Let me know if this helps.

[2022-11-21 23:00] pavelfeldman commented on #18928
Sounds good, I can repro, we will try to fix it as a part of 1.28.1.

[2022-11-21 23:01] dgozman commented on #18953
@Nilamber01 Playwright does not support macOS 10.15 since version v1.26. See [release notes](https://github.com/microsoft/playwright/releases/tag/v1.25.0).

I wonder how did you end up with `webkit-1735`. Did you do anything specific to download it? Did you run `npx playwright install`? If so, could you please run `DEBUG=pw:install npx playwright install` and post logs here?

[2022-11-21 23:08] dgozman commented on #18955
@MuhammadM1998 I see you are using chromium from `'chrome-aws-lambda'` package. Unfortunately, this is not an official Playwright package, and so we are not able to help with such issues.

[2022-11-21 23:12] dgozman commented on #18958
@macroking In this example, does selecting by `label` work? It is the same as title here.

[2022-11-21 23:13] #18928 closed

[2022-11-21 23:22] dgozman commented on #18964
Also, [here is a guide](https://playwright.dev/docs/emulation#geolocation) for geolocation.

[2022-11-21 23:28] dgozman commented on #18960
@ivanhofer VSCode extension does look into folders. For example, in Playwright's own repo there are many configs, [some](https://github.com/microsoft/playwright/blob/main/tests/components/ct-react/playwright.config.ts) of them [pretty deep](https://github.com/microsoft/playwright/blob/main/tests/library/playwright.config.ts) in the tree.

Do you mind sharing a repro where things do not work, so th

[2022-11-21 23:31] dgozman commented on #18954
We are unable to reproduce this issue, with `playwright v1.27.1/v1.28` and `node v18/v19`. Is there anything else that's special in your setup? Other VSCode extensions? Using `yarn` or some other package manager? Any environment variables you set?

[2022-11-21 23:54] aslushnikov commented on #18424
Looks like this was an issue with the setup; I'll close this then.

If anyone is still affected by this: please open a new issue with some repro steps! Unfortunately we can mostly fix things only if we can reproduce them.

[2022-11-21 23:54] #18424 closed

[2022-11-22 00:06] dgozman commented on #18959
@viraxslot I am running our example test (see below) with `PWDEBUG=1 npx playwright test --project=chromium`, and pausing at `await getStarted.click()` highlights the element.

<img width="408" alt="Screen Shot 2022-11-21 at 4 06 08 PM" src="https://user-images.githubusercontent.com/9881434/203182801-fe7e3ff1-8385-46cc-94ca-265d5c9f0d24.png">

[code]

Could you please share a repro that we can run

[2022-11-22 00:10] dgozman commented on #18963
@zheeeng  Snapshots require tight integration with the test runner, so they are not available when not using @playwright/test. Since you are using `vitest`, you should look for a similar capability there. Let me know if you have more questions.

See also #15800.

[2022-11-22 00:30] EchelonFour commented on #8161
I have come up with a system where the devs can comment on the PR to run a CI task that reruns the tests with an `--update-snapshots` flag and pushes the any changes to the PR branch. But this requires rerunning the entire tests again, which is pretty slow considering the test report from the last run already has the accepted new snapshots in it.

It would be nice to have some kind of "accept snap

[2022-11-22 00:47] dgozman commented on #18956
@stevenlumina On the first glance, you are doing everything right, and it should work. Could you share a repro, or at least a page url, so that we can debug locally?

[2022-11-22 01:37] kedarsprabhu opened #18977 "[Question] Codegen related queries"
Things not captured in Codegen recording:: ===============================
1.>Waiting time or sleep loading time is not captured
 2.>Switch between windows tab is not captured in the code (in multiple windows)
3.>It is not using locators, instead it is using the url links for navigations most of the time.
 4.>If we are to assert any text, then we will have to add it manually isn't it?
5.>Can we ha

[2022-11-22 04:16] suneetfcc commented on #18950
thank you so much i think this is a pretty desirable feature.

[2022-11-22 04:32] zac11 commented on #18952
Thanks @dgozman . The first one works and does the job. Not sure why I didn't use this method tbh. The second doesn't and has the same impact as the one's I've tried.

[2022-11-22 04:39] zac11 commented on #18952
Also tried
`await page.evaluate(() => document.activeElement.nodeValue = 'Top Gun Maverick');` but has the same effect. Nevertheless you can mark this as closed.

[2022-11-22 05:00] #18952 closed

[2022-11-22 05:58] tsvetkovamaria commented on #15481
Maybe this will be helpful for someone. Check if you cookie has the same domain as the domain you're running your tests against.

[2022-11-22 06:23] qasamppa commented on #18954
I have many VSCode extensions and using npm package manager. The thing is, that I have exactly same setup like earlier, only VSCode app and Playwrite test for vscode extension versions have been changed when problem occurred. My colleague has same setup with VSCode version 1.69 and Playwrite test for vscode 1.0.0 setup combination and it worked for him. I haven't tried to downgrade my VSCode yet.

[2022-11-22 06:27] ivanhofer commented on #18960
Today it works flawlessly!
I have restarted VS Code several times yesterday. I didn't see any play button on my tests and the testing panel in VS Code was empty. Only when I moved the config to the root level VS Code picked up my tests.
It seems restarting my computer fixed it.

[2022-11-22 06:27] #18960 closed

[2022-11-22 06:45] zheeeng commented on #18963
Is there any guide for looking for the capability?

[2022-11-22 06:57] NVolcz commented on #18937
```expect(image1).toMatchImage(image2)``` would be awesome!
I implemented something like what you are suggesting but handling snapshots is troublesome and doesn't seem worth it in my case.

[2022-11-22 07:01] alfeg commented on #18892
Attaching `pw*` log against 4.6 Selenium Grid
[debug.log](https://github.com/microsoft/playwright/files/10064706/debug.log)

[2022-11-22 07:09] NVolcz commented on #18936
I agree, it is a duplicate 👍

[2022-11-22 07:14] NVolcz commented on #18934
Thanks for suggestion. I still see this as a bug since the behaviour is a bit unexpected and also not consistent between browsers. My workaround was to manually set the viewport and wait for stability before taking the screenshot but this duplicates what `fullPage: true` is supposed to handle.

[2022-11-22 07:19] amado-saladino commented on #18856
the first locator resolves to `a span`  inside an anchor element.
This line of code got me what I need:

[code]

The second one will do the same thing I wanted to do before, it will try to resolve to an element that does not exist

[2022-11-22 07:56] jfgreffier commented on #18963
Is there any other assertions that require Playwright Test ? It's probably better to list it as a limitation of these methods in the documentation.

[2022-11-22 09:11] scrapenetwork commented on #15416
Possible via py?

if so any working snip/example can work of

thxs

[2022-11-22 09:35] avizilbershtein commented on #18941
Yes sorry my mistake it works fine.
To install it i did copy paste from website and it was installed successfully. But to run it i typed manually.
I tried few hours to find a solution to the error i saw and didn't thought for a second i have typo.

Thanks all

[2022-11-22 10:30] mstepin-edt commented on #18945
@dgozman I did spot those before I logged the bug report, and added them to my reporter. That said, it seems extremely counter-intuitive for a standalone reporter class to influence terminal output and have to explicitly proxy the output stream, else risk affecting existing functionality. There probably aren't all too many use cases where one might want to completely suppress terminal output, and

[2022-11-22 11:00] macroking commented on #18958
@dgozman No, it is not working. The way I have it automated is using elementhandle.

[2022-11-22 12:19] sohaib17 commented on #18894
@dgozman are your steps same as the one mentioned in OP? I reran the test case with latest build (PyPW 1.28 and Chromium v108) and can still see the script tags being returned.

Please see attached screenshots against an ad iframe from this URL.

**- This is the text I got by running the test case:**
![test-output](https://user-images.githubusercontent.com/16270214/203311351-0c52ad3f-971a-4fe2-a6b

[2022-11-22 13:02] SpiderRam commented on #13467
Adding my vote for this one, in WebDriverIO I used [isExisting](https://webdriver.io/docs/api/element/isExisting/) frequently to determine if the test should do _a_ or _b_.  Would very much like to be able to do the same in playwright.

[2022-11-22 13:22] tsvetkovamaria commented on #13815
Maybe it's worth mentioning it in the docs, as it took me a while to figure out the reason of viewport not applied.

[2022-11-22 13:50] thiagodangelo commented on #7220
I also need this feature.

[2022-11-22 13:51] nadvolod commented on #18912
@pavelfeldman good to know about the initial Cypress navigation, thanks for pointing that out 👍

Yes, a test runner + Lighthouse integration. The issue for me with direct Lighthouse integration is that it's not automated. Looks like I could manually construct my assertions on the result of the `await lighthouse('https://example.com', options);` . However, seems more difficult than just calling a f

[2022-11-22 13:55] FishBlanche opened #18985 "pass a proxy to page.evaluate()"
i am trying to pass a proxy to page.evaluate like following:
const newFun = new Proxy(func,{
  apply: function(target, thisArg, argumentsList) {
    console.log('called: ' + argumentsList);
// to do something
    return target(argumentsList);
  }
});
   const   result = await this.page.evaluate(newFun,args);

But got the error:  page.evaluate: Passed function is not well-serializable!page.evaluate

[2022-11-22 14:22] bes commented on #18944
Thank you for the information. It was not clear to me from reading your (very good) documentation that I was not allowed to do it like that.

I liked the `override page fixture` approach, so I tried that one with good results.

🤗

[2022-11-22 14:22] #18944 closed

[2022-11-22 14:28] MuhammadM1998 commented on #18955
@dgozman Would you mind suggesting an alternative to fix the base error then? I used 'chrome-aws-lambda' because I couldn't find an official solution that works. I think you shouldn't close an issue this fast too imo

[2022-11-22 15:27] smckee-r7 commented on #18027
@dgozman I don't know if this is still being looked into for 1.29 but I found what seems to be a simple workaround to get these missing headers. Here's a fork with the changes, https://github.com/smckee-r7/playwright. I don't know if there's any issue with the doing this but from my testing it looks like it works

[2022-11-22 15:30] Ibrizic commented on #11258
Hiya everyone, any updates on this?  👼

[2022-11-22 15:43] debs-obrien commented on #18970
Hi @fzembow

Have you tried updating to the latest version of Playwright and using the new [Locator API.](https://playwright.dev/docs/locators#quick-guide) The selectors doc is now outdated so we highly encourage you to use the new [Locators](https://playwright.dev/docs/locators#quick-guide) one.

You can use [codegen](https://playwright.dev/docs/codegen-intro) to help you find the right locators

[2022-11-22 15:49] santimirandarp opened #18986 "[Question] Why is bigint literal rejected but seems well supported in caniuse?"
I am testing code that uses `bigint` literals like `const a = 22n`. When testing using playwright, I get this error:

[code]

[Support for bigInt literals](https://caniuse.com/bigint) seems wide though (chrome87,edge88, es2020, firefox78), excepting Safari13.

Why is reporting error in all of them ?

Also just replacing by `BigInt(a)` passes all, but I would prefer the `n` literal.

[2022-11-22 16:01] debs-obrien opened #18987 "[BUG] record at cursor when in record new"
**Context:**
- Playwright Version: 1.28
- Operating System: mac
- Node.js version: [e.g. 12.22, 14.6]
- Visual Studio Code version: [e.g. 1.65]
- Playwright for VSCode extension version: latest
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

Click record new
- record a few things
- delete something
- click record at cursor

**Describe the bu

[2022-11-22 16:52] dgozman commented on #18934
@NVolcz `fullPage` does not really change the viewport, so I don't think that's the problem.

Most likely, the key here is "waiting for stability", because that's exactly what `toHaveScreenshot()` offers over just `page.screenshot()` and it helped. Playwright cannot guarantee that your page does not change while you call `page.screenshot()`, but it uses smart strategy in `expect(page).toHaveScreen

[2022-11-22 16:55] dgozman commented on #18963
You better ask this question on `vitest` forum.

I think `toMatchSnapshot()`, `toHaveScreenshot()` and `expect.soft` are the only ones today.

[2022-11-22 17:15] smckee-r7 commented on #18027
@dgozman I don't know if this is still being looked into for 1.29 but I found what seems to be a simple workaround to get these missing headers. Here's a fork with the changes, https://github.com/smckee-r7/playwright. It seems to set the headers whenever they're available which might not be suitable but it works for the HAR data but it means request.headers() will change if extra headers are found

[2022-11-22 17:24] geigerzaehler opened #18989 "[BUG] Role selector with accesible name does not work for Web Component slots"
It looks like the selector `getByRole('button', { name: 'foo' }` does not work if `<button>` is inside a Web Component and if its content is populated by a `<slot>`. Here’s a full example:

[code]

In this example `getByRole('button', { name: 'foo' }` only selects the second button but not the first one. As you can from the screenshot, the accessibility tree for both buttons shows “foo” as the acc

[2022-11-22 17:31] NVolcz commented on #18934
You are correct, it seems that I took a wrong turn somewhere when
debugging. Will go back to debugging the issue again so we can close
this issue as a false positive.

On Tue, 22 Nov 2022, 17:52 Dmitry Gozman, ***@***.***> wrote:

[2022-11-22 17:36] dgozman commented on #18945
@mstepin-edt The reporters API is designed so that you can replace default stdio reporter with anything. For example, you can use a `json` reporter that outputs a json dump to the stdout. I think we can improve documentation though.

[2022-11-22 17:43] dgozman commented on #18894
@sohaib17 Oh, here you are calling `innerText` not on the `body` element, but on the outer `iframe` element instead. I'd suggest to select the `<body>` in the elements panel, and then try `$0.innerText` in the console. Let me know how that goes.

[2022-11-22 18:01] #18934 closed

[2022-11-22 18:01] olivierbeaulieu commented on #18288
Hi @leomelzer! I was running into the same problem, and found this issue.

I've figured out a way to make this work - although I'd love to see the Playwright team come up with a recommended approach.

Rather than having a single HAR file for the entire test, I create multiple HARs by creating "checkpoints". Here's a simplified version of my solution:

[code]

Hopefully this conveys the idea.

[2022-11-22 18:04] dgozman commented on #18964
@harshith-aimyth Oh, sorry, I misunderstood. So you'd like not to `Allow`, but to `Block` with Playwright? This is not supported today. I'll leave this as a feature request.

[2022-11-22 18:08] dgozman commented on #18955
Sure! But I didn't understand the base issue, unfortunately. Could you explain please?

[2022-11-22 18:11] gotmike opened #18991 "[Question] How to chain GetByRole to return table cells in row groups / AriaRole.Row & AriaRole.Cell usage"
i'm trying to get a list of rows and then iterate through that list to get the cells in each row of a table...

the `.GetByRole` locator appears to work for `.AriaRole.Row`, but when i try using `.AriaRole.Cell` i don't get any results...

[code]

is this the wrong way to use `.AriaRole.Cell`?

[2022-11-22 18:12] gotmike commented on #18991
based on this page...
https://www.w3.org/TR/wai-aria-1.2/#cell

seems like cell is intended to indicate `<td>`

[2022-11-22 18:18] debs-obrien opened #18992 "[BUG] Sectors doc is misleading"
**Context:**
- Playwright Version: 1.28

[Selectors doc](https://playwright.dev/docs/next/selectors#role-selector)

Users are bringing up feature requests due to landing on selectors page. see https://github.com/microsoft/playwright/issues/18970

Suggestion:

- Rename doc to "Other Locators"
- Start doc stating that they should first read locators doc which contains 99% of use cases
- Remove all m

[2022-11-22 18:37] dgozman commented on #18503
@niyarlatotep Thank you for the explanation. I'll leave this issue open for prioritization for now.

[2022-11-22 18:43] dgozman commented on #18962
@ValorHeart

`TestOptions.extraHTTPHeaders` is just an easy way to set headers in the config. Under the hood it sets `extraHTTPHeaders` option for the [`browser.newContext()`](https://playwright.dev/docs/api/class-browser#browser-new-context) call and affects all pages created in this context.

`page.setExtraHTTPHeaders()` only affects a single page.

I assume you are talking about `page.request.g

[2022-11-22 18:50] gotmike commented on #18991
is there something about angular pages that would block this sort of locator?

i seem to be able to select based of `.Locator("tblAdSchedule")` but can't get like `.GetByRole(AriaRole.Table)`

[2022-11-22 19:00] gotmike commented on #18991
another example...

this does NOT work...
`var table = page.GetByRole(AriaRole.Table);`

this DOES work...
`var table = page.Locator("#top > div.panel-body > div.table-responsive > table");`

table tag looks like this...

[2022-11-22 19:10] gotmike commented on #18991
also, strangely...

this does NOT work...
`var cells = table.GetByRole(AriaRole.Cell);`

but this DOES work...
`var cells = table.Locator("td");`

shouldn't these produce the same result?

[2022-11-22 19:18] sohaib17 commented on #18894
@dgozman selecting the `<body>` tag and trying `$0.innerText` made the output similar to test script.

I am trying to extract `iframe` text just like we can extract a `page` text in pw. In case of page, I can do `page.inner_text('body')` to extract text version of a page (ignoring script tags). Is there anything similar for iframes in playwright (get plain text content of an iframe)?

I tried to d

[2022-11-22 19:25] ron-hiner-anttila commented on #16274
@oscargforce I was having the same problem and your solution was exactly what I needed, thanks!

[2022-11-22 19:34] ValorHeart commented on #18939
@lakshbhutani , If your session doesn't expire you can save the storageState.json file and keep it in the required project, else you need somehow to start the webserver of your other project and run the global setup against that

[2022-11-22 19:57] leomelzer commented on #18288
Thanks for sharing @olivierbeaulieu! I think this looks like a good work-around.

Skimming the [HAR spec](https://github.com/ahmadnassri/har-spec/blob/master/versions/1.2.md) it looks like we can actually rely on the (sorted) `entries`, hence the Playwright code could be made more intelligent to dismiss previously hit / visited entries (instead of just taking the first one).

But that really feels

[2022-11-22 20:05] gotmike opened #18994 "[Question] Locator seems to hang when selector doesn't exist, is this by design?"
i'm using `Page.Locator("#elementId")` and i find if no element exists with `#elementId` then i get timeout errors.

is this by design? is there some way to test for existence first? maybe a best practice here?

i suppose i could grab the entire page content and look for it just with full-text searching but seems more reasonable it would simply return a `null` value if not found.

[2022-11-22 20:35] ValorHeart commented on #18962
Thanks a lot @dgozman

[2022-11-22 20:35] #18962 closed

[2022-11-22 20:42] Nilamber01 commented on #18953
Thanks for pointing. I took some hint from your comment and updated the mac agent on AWS with latest version
Playwright Version: 1.28.0
Operating System: Mac OS X 13
Node.js version: v18.12.1
Browser: WebKit

Here is the debug log. I have a similar error but atleast NSXPCSharedListener error is gone.

pw:channel:response {
  pw:channel:response   id: 9,
  pw:channel:response   error: {
  pw:channe

[2022-11-22 20:55] dgozman commented on #18959
@viraxslot Thank you, I can reproduce.

[2022-11-22 20:57] dgozman commented on #18970
@fzembow I think this is a valid feature request. There is a similar API in the DOM Testing Library called [`ByDisplayValue`](https://testing-library.com/docs/queries/bydisplayvalue).

[2022-11-22 21:02] dgozman commented on #18977
@kedarsprabhu Could you please explain in more details what are you talking about? I understand some of items, but not all.

What is this "waiting time" or "sleep loading time"?

Playwright does not need to "switch" between tabs, it just works with multiple tabs right away.

Could you be more detailed here please? Codegen definitely generates locators for input actions, so perhaps you are talking

[2022-11-22 21:04] dgozman commented on #18985
@FishBlanche This is not supported. I'd suggest to create a proxy inside your evaluate:

[code]

I'd recommend reading [this guide](https://playwright.dev/docs/evaluating) that explains how node.js environment and page environment are different. Let me know if that helps.

[2022-11-22 21:11] dgozman commented on #18994
@gotmike `Locator` by itself does not hang, but an action performed on this locator might hang. For example, if you click a locator, it [will auto-wait](https://playwright.dev/dotnet/docs/locators) for the element to appear.

If you want to check whether something is visible on the page at a particular moment, you can use:
- [`Expect(locator).ToBeVisibleAsync()`](https://playwright.dev/dotnet/docs

[2022-11-22 21:16] dgozman commented on #18991
@gotmike I think there might be an explicit `role` attribute that overrides the default one. For example, notice the `role="grid"` in your snippet - `AriaRole.Grid` should work in this case:

[code]

However, I recommend using [CodeGen](https://playwright.dev/dotnet/docs/codegen-intro) to generate locators and then tweak them if you'd like. Let me know if that helps.

[2022-11-22 21:17] dgozman commented on #18986
@santimirandarp Could you please share a repro with us? This seems like a misconfiguration of a babel transform or something similar, but it's hard to help without a repro.

[2022-11-22 21:23] dgozman commented on #18894
This should work exactly the same as `page.inner_text()`. I think for this particular `iframe`, inner text just includes the `<script>` tag, but usually that's not the case. Perhaps that's a browser bug, or some edge case behavior in web spec? Unfortunately, there is no easy solution for this. Playwright just calls `element.innerText` and if browser decides to include the script contents, you'll g

[2022-11-22 22:35] dgozman commented on #18953
@Nilamber01 There's probably an issue with your environment/setup, but these logs are not enough. Try running with `DEBUG=pw:browser` to see whether browser complains about anything. If not, I am not really sure how to help.

[2022-11-22 22:39] dgozman commented on #18958
@macroking The following snippet works for me. If you run it in headed mode, you'll see how "Other" is selected by default, but then it switched to "USD - US Dollar". No need to use element handles.

[code]

[2022-11-22 22:45] dgozman commented on #18912
@nadvolod It would be awesome if you would like to build a convenient integration! If you could publish it to share with anyone else that needs it, that would be even better 😄

It is not a top priority for Playwright to include such a feature right now, but I'll leave this feature request open for future prioritization.

[2022-11-22 22:52] imartinflores commented on #18881
@pavelfeldman thanks. In that case, is it expected behaviour from Playwright to keep waiting until the page loads ?

I'm doing this just to double check we are redirected to a particular page:

`await page.waitForUrl('**/testing')`

However, I noticed that even the redirection is quick, it keeps waiting till the url is loaded completely, is there anyway to avoid that, or anyway to check the differ

[2022-11-22 23:14] yury-s commented on #18855
For the record, this is the original bug report where prefetch request caused duplicate entries: https://github.com/microsoft/playwright/issues/17811#issuecomment-1276854980

[2022-11-22 23:17] tanishqkancharla commented on #13288
I was able to get headless electron tests working with this snippet: override the default behavior of showing the browser window once it's ready to show:
[code]
So you can run the app `electron main.js --test-headless=true`, parse the `process.argv`, and when actually ready to display a window, you read the config file, and defer showing the window. This also means you can also test "head-fully" i

[2022-11-22 23:20] #18932 closed

[2022-11-22 23:26] mstepin-edt commented on #18945
@dgozman agreed, if at the very least some improved documentation comes out of this discussion, that would be great. I still stand by my above comment in that a new standalone module such as a reporter should be a consumer and not a proxy for existing behaviour.

[2022-11-22 23:30] tanishqkancharla commented on #12139
I was running into this same issue, and it seems the most likely issue is the electron process failing on startup immediately. If you're piping your logs somewhere else (which is common for electron apps), you might not see the logs that lead to the failure.

For me specifically, the autoupdater was failing; it seems the autoupdater can't work on unsigned Electron builds. So I had to disable the a

[2022-11-23 00:30] yury-s commented on #18855
Debug notes: it seems that after enabling prefetch request interception in WebKit, there is now an extra request is sent / logged for the image url when request is intercepted via page.route.

[2022-11-23 01:41] gselsidi opened #19000 "[BUG] Weird Chromium headless issues....."
1. Can't click on a specific button Works on Firefox Headless

On Chromium headless the app throws "Write permission denied"
I tried changing the user-agent, still fails. It only fails for this specific element only.... it's not passing in headless in the UA....
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36

2. Grabbing a screen

[2022-11-23 01:59] gselsidi opened #19001 "[BUG] Why do issues get closed so easily....."
Noticing a lot of issues get closed haphazardly with bogus reasons no repro. People providing full repo's asking to ping for sensitive info, and just closing it.

I provided literally a 2 step repro, such as .goto .screenshot, closed...... like what? I'm supposed to create a whole repo with a brand new framework, for me to upload a repo for a 2 step test????

Seems very haphazard, or downright laz

[2022-11-23 02:30] gselsidi opened #19002 "[BUG] Masked Elements masking elements in fore front"
Not sure if this is a feature request or bug.

Masked elements block out all other elements, even if the other elements are in the forefront, and the masked elements are in the background.

Is there a way to reverse this? Like If I'm masking an element and take a full screen snapshot with a pop out, the image shows the masked elements blocking out the element in the forefront...

Or is this a reac

[2022-11-23 02:42] dgozman commented on #19002
@gselsidi This behavior is intended, because it was deemed more useful in many scenarios. If you'd like to mask elements at their natural z-order, that's a fine feature request. I'll leave the issue for further prioritization.

[2022-11-23 04:17] gineanne opened #19007 "[Question] How to use expect.poll if the locator is not yet visible on the page?"
I can't figure out how to poll when there is an error encountered inside the expect.poll. My goal is to wait for the locator to be displayed in the page. I need to reload the page to display the new record. I'm creating a record via api  but the problem is I need to wait for a couple of seconds to display the new record in the page.

![image](https://user-images.githubusercontent.com/21330975/2034

[2022-11-23 04:35] Mathiaszero opened #19008 "[Question] How to limit the number of running tests running at the same time?"
I plan to do load testing on my server, but don't know how to limit the number of headless browsers run at a time.  Anyone to guide me in the right direction would be appreciated.  I looked at process ID but can't seem to see those in the process monitor on Linux, as I was planning to detect if the names on the process list and take a head count every second.  I am thinking about maxing out to 5 c

[2022-11-23 05:32] biswasritu6 opened #19009 ""expected string, got undefined" error while passing Key from a text file stored in framework."
#@ I have a text file stored in my framework. eg:Companyname .(as u can see in screenshot 1.)
1. I wanted to pass the value Companyname( the dream company) from that text file into my test script line no 109(as u can see in screenshot 2.). but I am getting the expected string, got undefined" error.
2. in line no 2 I am declaring the text file location and storing it in a variable i.e CompanyDetail

[2022-11-23 05:35] sohaib17 commented on #18894
@dgozman thanks. I will give this snippet a try.

[2022-11-23 05:45] biswasritu6 commented on #19009
here is my code

const { test, expect } = require('@playwright/test');
const { POManager } = require('../pageobjects/POManager');
const { timeout } = require('../playwright.config');
const supplierDataset3 = ((require("../utils/SupplierloginTestData3.txt")));
//const supplierDataset = JSON.parse(JSON.stringify(require("../utils/SupplierloginTestData.json")));
const { loggers } = require('winston')

[2022-11-23 05:46] sunilsurana commented on #18373
@aslushnikov Just checking, any luck with finding cause?

[2022-11-23 06:32] daganilsen opened #19010 "[Question] How to keep the test result history with the HTML reporter"
Hi. I am new to Playwright and it is absolute amazing to work with.
My question is about the HTML reporter (or any of the reporters). It is working fine but it overwrites the results for each test run. Is it possible to add something in the config file so that the test result history is preserved?
It would be nice to see a sub folder within the test-results for each test run.

I hope that this is

[2022-11-23 06:57] gineanne commented on #19007
Update: I managed to make it work. I put a try catch then return the actual value for comparison.

![image](https://user-images.githubusercontent.com/21330975/203488006-1ac3c0d3-b530-4c4a-b9ab-cace7f5ec148.png)

Is this the right way or do you have any suggestions?

[2022-11-23 06:59] ISilviu opened #19011 "[Question] Checking window's attributes"
Hi, is there any way one could check any attribute of the window object?
For example, I'd like to create a test where I'd check the window's `scrollY` attribute.

Thank you!

[2022-11-23 07:04] michelle-choi1 opened #19012 "[Question] TypeError: _test.request.get is not a function"
related to [#10787](https://github.com/microsoft/playwright/issues/10787), but not sure if it's a bug since it might be my user error-
I wanted to put api calls into a helper function file like this:

[code]

and call it here in this test file:
[code]

and this is the error I'm getting: `TypeError: _test.request.get is not a function`
[code]

is it possibly because of the `await` placements? Or sh

[2022-11-23 07:07] michelle-choi1 commented on #19012
hi @dgozman i was hoping you might be able to see this! since you were the one who responded on the similar issue. thanks!!

[2022-11-23 07:08] kedarsprabhu commented on #18977
1. In waiting time, await page.waitForTimeout(); is it captured?
2. Just it was generating URL along with locators but I suppose since the functionality is met that shouldn't be an issue.
3.If I were to click on a "open in a new window" in a frame and it opens in another window, and I've to go back to mainframe, will codegen do it?

[2022-11-23 07:41] FishBlanche commented on #18985
public async evaluate(consoleApi: types.EvaluateFn,...args: any) {
      const result = await this.page.evaluate(args1 => {
         const newFun = new Proxy(consoleApi, {
            apply: function(target, thisArg, argumentsList) {
              console.log('called: ' + argumentsList);
              // to do something
              return target(argumentsList);
            }
          });

[2022-11-23 07:51] aslushnikov commented on #18373
@sunilsurana well, long story short: browser rendering is not guaranteed to be deterministic, so the same input might yield different pixels from time to time. This looks like this case to me.

[2022-11-23 08:36] bc-owner-auto commented on #5351
Hi , just wanted to ask, what if one click on locator triggers download of 3 files.. not sure what to do in this case

[2022-11-23 08:37] victor-schwarzacc commented on #18892
I'm having a similar issue with the latests grid versions.
I'm using dynamic grid and got the error mentioned below.
The issues are reproducible with grid versions: 4.5.2, 4.5.3,4.6.0 .
With 4.5.0 it works perfectly fine.
Playwright versions I tries started from 1.26,27,28

In my scenario I'm connecting via CDP to an existing session .The only action working is navigate to a page ,after which we c

[2022-11-23 08:57] necdetterkes opened #19015 "[Feature] Code-coverage between functions and test cases"
We are creating some functions. For example I created this function to make api call.

`async getRequests (): Promise<any> {
    try {
      const _response = await this.request.get(
          `${apiUrl}`,
          {
            headers: {
              Accept: 'application/json',
              Authorization: userApiKey
            }
          }
      )
      // Assertions
      expect(_response.

[2022-11-23 09:38] biswasritu6 commented on #19009
const { expect } = require('../playwright.config');
const CompanyDetails = ((require("../utils/Companyname.txt")));
//const CompanyDetails2 = JSON.parse(JSON.stringify(require("../utils/Companyname.txt")));

Line 3 also not working.

[2022-11-23 09:40] GeorgeM200 commented on #739
Setting the locale for webkit to en-US or en-GB does not work in my case, I have the answers to the questions returned in German, on Chromium and Firefox it worked.
I tried even locale: ' '
Coul I get some help here?

[2022-11-23 10:00] Fabian-K opened #19016 "[Feature] Network Request Interception: keep a request in-flight/pending"
Hi all,

when intercepting network requests with https://playwright.dev/java/docs/network#handle-requests is there any way to keep a request in-flight/pending to test the “loading” state in the app?

Thanks, Fabian

[2022-11-23 10:02] sohambbh commented on #18892
I'm also facing a similar issue with the latest grid versions.
The issues are reproducible with grid versions: 4.5.2, 4.5.3,4.6.0 .
Surprisingly With 4.5.0 it works perfectly fine.  Playwright versions I tried all > 1.19

with the selenium grid its able to connect. It launches the browser and even navigates to the url. But after that it doesn't interact with the grid.

grid log says - WARN [ProxyW

[2022-11-23 10:06] sam585456525 opened #19017 "[BUG] Can't test components which use process"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Linux
- Node.js version: 16.14.2
- Browser: Chromium
- experimental-ct-react Version: 1.27.1
- rushjs monorepo

Example Component:
[code]

Test Case:
[code]

Error Screenshot:

![image](https://user-images.githubusercontent.com/36227730/203520238-14b8ccfe-a0db-4d40-9a30-f729c4a9ca60.png)

Will throw error when test the component that us

[2022-11-23 10:59] loxinchi opened #19018 "[BUG] Document needs to be modified regarding locator.fill Maximum timeout 30 seconds will be overridden by actionTimeout of 0."
**Describe the bug**

Per the document [locator.fill(value[, options])](https://playwright.dev/docs/api/class-locator#locator-fill)
`Maximum time in milliseconds defaults to 30 seconds`
But if I don’t set action timeout such as `config = { use: { actionTimeout: 10000 } }` or `locator.fill({ timeout: 10000 }))`,
This default timeout `30 seconds` doesn’t seem to be applied.
The error throws until th

[2022-11-23 11:21] 7artur7 commented on #17534
@klhex very similar. In #16904 it is proposed to mark such step automatically. In current ticket - I propose to do it programmatically, when user can select whether he wants to mark this step as failed or remain it as passed, this adds more flexibility. But the solution from #16904 should work as well.

[2022-11-23 11:37] lvd1999 commented on #12876
Hi

Is there a way to assert the copied text without pasting it somewhere?

[2022-11-23 11:41] MaksimKravchuk opened #19067 "[Question]: Is it possible to minify playwright._impl._api_types.TimeoutError?"
### Your question

Playwright 1.28.0
Chrome
Async mode

When I'm trying to click on the element not on the page (because of bug in our app), Playwright returns a 300+ lines error message. This error makes the report hardly understandable. Can I make this error smaller? Without information about all retries?
[code]

[2022-11-23 13:06] sunilsurana commented on #18373
Yeah. And the strange thing is with firefox the screenshot are always deterministic and also with pupeeter and chromium. Not sure if they are disabling or using certain different flags to render or capture screenshot

[2022-11-23 13:27] kompot opened #19019 "[BUG] Add support for TypeScript 4.9 `satisfies` feature"
**Context:**
## System:
 - OS: macOS 12.6.1
 - Memory: 39.79 MB / 16.00 GB
## Binaries:
 - Node: 18.11.0 - ~/Library/Caches/fnm_multishells/77612_1669202754304/bin/node
 - npm: 8.19.2 - ~/Library/Caches/fnm_multishells/77612_1669202754304/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash
## npmPackages:
 - playwright: ^1.28.0 => 1.28.0
 - playwright-core: ^1.28.0 => 1.28.0

**Describe the bug**

W

[2022-11-23 13:58] AkkyLohana90 opened #19020 "[Question]: I want to delete some entities after every test case, how can I do that? & Exception Handling?"
1. I want to delete some entities after every test case, how can I do that?
I have written the delete code to delete the respective entities at the end of each test cases **but if any test case gets fails in between, so it is not executing the delete entity code which is written at last of the test case and that entities are impacting the next test cases**.
Can you please suggest me how to do that

[2022-11-23 14:11] macroking commented on #18958
@dgozman Thanks this is working as expected.

[2022-11-23 14:11] #18958 closed

[2022-11-23 14:50] Colas-RIPOLL opened #19021 "[BUG] Error in global-setup.ts is not tracked into context.trace"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Windows wls
- Node.js version: 18.9.0
- Browser: Chromium

In global-setup.ts
**Code Snippet**

[code]

**Describe the bug**
Run in GitLab Ci or local => same issue :
- failed-setup-trace-admin.zip = 784o
- Extraction : trace.trace = 1.1Ko
- Open it with npx playwright show-trace ./test-results/failed-setup-trace-admin.zip does not have

[2022-11-23 15:03] napsta32 opened #19022 "[BUG] Black video capture when running playwright on jenkins worker"
**Context:**
- Playwright Version: 1.23.2
- Operating System: Ubuntu, macOS
- Node.js version: 16.17
- Browser: Webkit (macOS), Firefox (Ubuntu)
- Extra: Run on Jenkins job

## System:
 - OS: macOS 12.6
 - Memory: 255.82 MB / 16.00 GB
## Binaries:
 - Node: 16.17.0 - ~/.nvm/versions/node/v16.17.0/bin/node
 - Yarn: 1.22.17 - /usr/local/bin/yarn
 - npm: 8.15.0 - ~/.nvm/versions/node/v16.17.0/bin/npm

[2022-11-23 15:05] sfc-gh-pleszczewicz commented on #13092
@jpaxtonrs for me adding `node_modules` to `.sauceignore` did the trick. if you have some packages that you need i believe [this](https://docs.saucelabs.com/web-apps/automated-testing/playwright/yaml/#npm) part of config should work

[2022-11-23 15:06] ninhlt commented on #18415
Still got the issue on Playwright 1.28 firefox
![image](https://user-images.githubusercontent.com/99392715/203579717-d470c63b-6701-4a2d-816e-8f2be92ad82a.png)
after click button submit
`
            iframe.type("#input2", 'myvalue!', delay=100)
            self.enter() // then redirect to another page called pageX
            self.wait_element_loading("text=Value on ", 5000) // text on pageX`

[2022-11-23 15:08] dimas7 commented on #10500
Really needed feature. It's hard to re-run failed tests from the suit manually

[2022-11-23 15:11] MuhammadM1998 commented on #18955
@dgozman using the official package `playwright` or `playwright-core`, the scripts runs fine on dev but fails on production with this error `browserType.launch: Executable doesn't exist at /root/.cache/ms-playwright/chromium-1015/chrome-linux/chrome`
Hence I'm using the `chrome-aws-lambda` as someone found it solves the problem.

This is[ a similar question on SO](https://stackoverflow.com/questio

[2022-11-23 15:12] ninhlt commented on #9840
Do you guy got any updated on this issue ?

[2022-11-23 15:41] mecies opened #19023 "[Question]"
Hey, I am migrating tests from Cypress to Playwright and we had a couple of tests that were testing some elements on the SSR. Is it possible to achieve an equivalent behavior to the Cypress one from [this article](https://glebbahmutov.com/blog/ssr-e2e/#ssr-application)?

With Cypress, we were able to use selectors on the `$html` from the response, I'm not sure if that's doable with Playwright.
I t

[2022-11-23 16:35] dgozman commented on #18977
You mean if you waited between performing actions? This does not produce `waitForTimeout()`. Overall, Playwrights works without `waitForTimeout()` in almost all cases due to built-in auto-waiting, and we recommend other explicit waits like `waitForResponse()` if you really need them.

Codegen does not "go back to it", but it will generate correct code that operates on the window you are interactin

[2022-11-23 16:41] dgozman commented on #5351
@bc-owner-auto You should use [`page.on('download')` event](https://playwright.dev/docs/api/class-page#page-event-download), put downloads into an array and then handle them.

[2022-11-23 17:09] dgozman commented on #18985
Here is a rough sketch, try adapting it to your usecase.

[code]

[2022-11-23 17:22] #18362 closed

[2022-11-23 17:23] dgozman commented on #19012
@michelle-choi1 You import an [`APIRequest`](https://playwright.dev/docs/api/class-apirequest) instance. Instead, you better use the `request` fixture, which is an [`APIRequestContext`](https://playwright.dev/docs/api/class-apirequestcontext) instance that actually has `get` and other methods.

[code]

[code]

Let me know if that helps.

[2022-11-23 17:42] kedarsprabhu commented on #18977
Thanks for the responses! With few manual manipulations Codegen would work fine.

[2022-11-23 17:42] #18977 closed

[2022-11-23 18:23] santimirandarp commented on #18986
I can show you the configuration for playwright and the full error:
[code]

Error:

[code]
and a description:
[code]

[2022-11-23 18:39] dgozman commented on #18955
@MuhammadM1998 Playwright is focused on testing scenarios, so running it outside of local/CI environments is out of the project scope, sorry!

However, `npx playwright install chromium` should work on most systems. If you cannot run it in advance, try running it programmatically before using playwright, as suggested in the SO question linked above. I hope this helps.

[2022-11-23 18:51] pavelfeldman commented on #19001
We get roughly an issue per hour filed. In order to be efficient, we are only accepting the issues that have clear steps to reproduce, clearly stated expected and actual states. Your did not offer that, we need to read the thread and guess what is it about. We would rather prioritize the issues with the clear description (actionable) that are likely to affect broader audiences (impactful).

[2022-11-23 18:51] #19001 closed

[2022-11-23 18:58] dgozman commented on #18986
@santimirandarp What is your `@playwright/test` version? I also see `viteConfig` that is not supported in Playwright, could it be the problem?

I pasted your config, commented out `viteConfig` and ran the following test:
[code]

Everything passed for me:
[code]

Could you please share a full repro so that we can debug locally?

[2022-11-23 19:02] dgozman commented on #19007
@gineanne Your snippet looks good. Since, I assume, you have to call `page.reload()` to get it visible, something like this is the easiest solution.

[2022-11-23 19:02] #19007 closed

[2022-11-23 19:02] dgozman commented on #19008
@Mathiaszero Take a look at the [parallelization guide](https://playwright.dev/docs/test-parallel#limit-workers). Let me know if this helps.

[2022-11-23 19:13] santimirandarp commented on #18986
I will do my best to include more details once back. Thanks for the help.

[2022-11-23 19:16] yury-s opened #19027 "[BUG] record at cursor doesn't stop recording after closing browser"
_Steps to reproduce:_
- Run a test from VS Code with "Show browser" on
- When it pauses on an action hit "Record at cursor"
- Close the browser (click X)

_Expected:_
Recording stopped.

_Actual:_
"Playwright codegen: recording…"

[2022-11-23 19:19] dgozman commented on #19010
@daganilsen This is not supported out of the box. However, you can work around it by providing custom `outputFolder`:

[code]

Let me know if this helps.

[2022-11-23 19:21] dgozman commented on #19011
@ISilviu Take a look at the [evaluation guide](https://playwright.dev/docs/evaluating). Here is an example:

[code]

Let me know if this helps.

[2022-11-23 19:28] MuhammadM1998 commented on #18955
I tried this too but didn't work. Thanks for helping out anyway If I found a solution I'll post it here

[2022-11-23 19:35] viraxslot opened #19028 "[Feature] Add possibility to run only one test from several parameterized tests"
Hi team. It's a proposal for Playwright Test Runner.

I really like parameterized tests, they allow to decrease amount of code:
https://playwright.dev/docs/test-parameterize#parameterized-tests

What I don't like in them: debugging.
Because I need:
1. Set "only" for the `test` function.
2. Comment a part of test data array (sometimes it can be really huge, so scroll up, scroll down).
3. Run the te

[2022-11-23 19:37] #19019 closed

[2022-11-23 19:46] dgozman commented on #19015
Merging into #9208.

[2022-11-23 19:46] #19015 closed

[2022-11-23 19:47] yury-s opened #19029 "[BUG] codegen doesn't fill contentEditable=true div"
Try to generate code for filling To field in outlook.com UI.

[2022-11-23 20:04] viraxslot commented on #19028
I'm curious why I commented code all this time because I can do `testData.slice(0,1)`, but I'll keep the request as is.
Maybe you have an another workaround :)

[2022-11-23 20:39] mareru opened #19030 "[Question] How to execute JavaScript code on each page load event?"
Hello, is there a way to execute JavaScript code on each page load event for every page in the app in Playwright?
So basically every time page is refreshed (loads again) I would like to execute my JavaScript code.
I tried something like this - add it to my auto fixture, but Typescript complains that "Promise returned in function argument where a void return was expected."
[code]

I also tried this

[2022-11-23 20:51] ozyx opened #19031 "[REGRESSION]: SharedWorker messages are blocked on page refresh"
**Context:**
- GOOD Playwright Version: 1.26.1
- BAD Playwright Version: >=1.27.0 <=1.28.1
- Operating System: MacOS, Linux
- Extra: [any specific details about your environment]

**Code Snippet**

[Minimal reproduction repo and instructions here](https://github.com/ozyx/playwright-sw-bug-repro).

To summarize:
1. Run a webapp with a SharedWorker process
2. Launch Chromium from Playwright v1.27.0

[2022-11-23 21:02] dgozman commented on #19016
@Fabian-K Until you handle the request by calling `route.continue()`, `route.abort()`, `route.fulfill()` or `route.fallback()`, the request is "pending". Here is an example of slowing down each request for 3 seconds:

[code]

Let me know if this helps.

[2022-11-23 21:10] dgozman commented on #19020
Usually, you would put deletion code inside [`test.afterEach()`](https://playwright.dev/docs/api/class-test#test-after-each) hook.

If you share an example, I might be able to suggest a particular solution.

This very much depends on your usecase. Decide what you'd like to do with the popup: close it, retry the test, something else? You can use `try/catch` if you have an action that might fail, an

[2022-11-23 21:12] MuhammadM1998 commented on #2321
I've tried to do what @jdexyz suggested and got the following error when deploying to vercel

[code]

[2022-11-23 21:12] dgozman commented on #19021
@Colas-RIPOLL You create a context with enabled tracing, but then create a page in a different context.

Replace the following line:

[code]

with this:

[code]

Let me know if this helps.

[2022-11-23 21:26] dgozman commented on #19022
@napsta32 Could you share a link to the Jenkins job? It's unlikely we'll be able to help without a repro scenario. If you have a Jenkins worker on your own hardware, it is probably environment- or configuration-related.

[2022-11-23 21:27] yury-s opened #19032 "[Feature] codegen should generate getByTitle locator for title=<...>"

[2022-11-23 21:28] yury-s commented on #18301
They are failing locally on OS Monterey as well.

[2022-11-23 21:33] MuhammadM1998 opened #19033 "[BUG] Protocol error (Page.enable): Browser closed"
**Context:**
- Playwright Version: 1.14.1
- Operating System: Windows 10 10.0.22621
- Node.js version: 14.21.1
- Browser: Chromium

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

I'm deploying a playwright minimal starter on vercel (I'm trying to get it working first then

[2022-11-23 21:45] michelle-choi1 commented on #19012
Thank you @dgozman!! that works!!
i made a few changes according to what you suggested:
added expect also to address error `ReferenceError: expect is not defined`—
[code]

added await here too to address error message `apiRequestContext.get: Request context disposed.`—
[code]

[2022-11-23 21:48] michelle-choi1 commented on #19012
not sure if this is the right procedure, but i'm going to close this issue now as it's been resolved!

[2022-11-23 21:48] #19012 closed

[2022-11-23 21:48] ozyx commented on #19031
I think this is the same issue as reported here: https://github.com/microsoft/playwright/issues/18932

[2022-11-23 21:55] #19031 closed

[2022-11-23 22:04] yury-s opened #19034 "[BUG] codegen doesn't produce code for mouse clicks in outlook"
Clicking on incoming message title in outlook doesn't produce any code.

https://user-images.githubusercontent.com/9798949/203653589-2310ca84-431f-440a-ab51-fa46cd9b2906.mov

[2022-11-23 22:40] amilup opened #19036 "[Question] I have a issue with create script to authentication login. I have try to use HTTP Authentication and HTTP Proxy option available in documentation under network. But still browser not load with provided username and password. Is there any way to create driver (or browser profile) with already login for given username and password."
I have try to use HTTP Authentication and HTTP Proxy option available in documentation under network. But still browser not load with provided username and password. Is there any way to create driver (or browser profile) with already login for given username and password.

[2022-11-23 23:03] #18301 closed

[2022-11-23 23:05] pavelfeldman commented on #18928
The fix should be live now.

[2022-11-23 23:05] pavelfeldman commented on #19027
Fixed.

[2022-11-23 23:05] #19027 closed

[2022-11-23 23:07] pavelfeldman commented on #19032
There is no such think `aria-title`.

[2022-11-23 23:10] pavelfeldman commented on #18931
Playwright only works with pure Node.js runtime. My understanding is that yarn pnp requires a modified runtime, namely `yarn node`. Playwright does not support that.

[2022-11-23 23:43] yury-s commented on #19032
s/aria-title/title/

[2022-11-23 23:47] yury-s commented on #19032
For this part of the DOM in outlook send UI
<img width="769" alt="image" src="https://user-images.githubusercontent.com/9798949/203664608-c007d995-6182-4d50-8220-1d1fd18da803.png">

we currently generate
[code]
whereas it could be

[code]

[2022-11-23 23:59] ambiguous48 commented on #19023
You can [turn off](https://playwright.dev/docs/emulation#javascript-enabled) javascript. This way, the page won't hydrate and you can test the server-rendered version of the page.

[2022-11-24 00:17] dgozman commented on #19023
@ambiguous48 Nice idea!

[2022-11-24 00:21] dgozman commented on #19028
I was about to suggest `testData.slice(0, 1)`, but then read your comment 😄

I don't have a better idea for the `forEach` style. If we ever implement [`test.each` or similar](https://github.com/microsoft/playwright/issues/7036), we should make sure it's easy to debug as you say.

[2022-11-24 00:27] ambiguous48 commented on #18937
@dgozman

Would you consider implementing this in a way that would support the following usecase?

[code]

Specifically:

- Compare a screenshot taken at the beginning of the test with one taken at the end.
- Without saving them or having to handle paths, etc.
- While benefiting from the 'visual image diff widget' in the test report which makes it easy to find out why a particular test failed. Lik

[2022-11-24 00:32] dgozman commented on #19030
@mareru You are on the right track! `page.addInitScript` already executes in the page, so you don't need `page.evaluate`. Also, `addInitScript` is called before `body` is inserted, so you need to wait `DOMContentLoaded`.

[code]

[2022-11-24 00:35] dgozman commented on #19033
@MuhammadM1998 Chromium is crashing for you, but since it's a production build, there are no symbols in the stack trace. I am not really sure how to help you. If we were to have a symbolized stack trace, it could help, but this way it's not particularly useful. Sorry.

[2022-11-24 00:36] dgozman commented on #19036
@amilup Take a look at [`launchPersistentContext()`](https://playwright.dev/docs/api/class-browsertype#browser-type-launch-persistent-context) - it allows you to launch the browser with pre-populated profile. Let me know if that helps.

[2022-11-24 00:37] dgozman commented on #18937
@ambiguous48 Yes, so far I think that `toMatchImage()` could support both buffers and file paths.

[2022-11-24 02:11] #19017 closed

[2022-11-24 02:21] gselsidi opened #19038 "[BUG] Chrome Headless Clipboard issue"
We have this function, which is a tooltip, which copies text clipboard, this fails on headless chrome but works on headed.
Works on firefox headless and headed.
Error on headless is: write permission denied

Saw this was supposed to be resolved in 1.24 or never applied to scenario when copy is being initiated from the browser.

[code]

[2022-11-24 04:42] hanayashiki opened #19042 "[BUG] React selector doesn't work with higher-order components"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: Mac
- Node.js version: 1.28.0
- Browser: Chromium
- Extra: Non

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

[code]

**Describe the bug**

Playwright's react selector seems doesn't work with higher-l

[2022-11-24 05:51] AkkyLohana90 commented on #19020
Thanks for the above reply...
1. If you share an example, I might be able to suggest a particular solution.

**async deletePackage(apiToken, packageName, packageId) {
        const deletePackageResponse = await this.apiContext.post(config.baseapiurl + 'url',
            {
                data: {
                    "command": "delete",
                    "data": {
                        "package

[2022-11-24 07:55] daganilsen commented on #19010
Hi Dmitry. Thanks for your answer.
I have actually found a similar solution. Inside the config I have added

`const config: PlaywrightTestConfig = {
....
globalTeardown: './src/copyResults.ts',
`

I have my copy code inside copyResults.ts. So when the testing session is done it will copy the results
Thanks!

[2022-11-24 08:06] Colas-RIPOLL commented on #19021
Ohhhhh thanks a lot ! => fixed !!

[2022-11-24 08:06] #19021 closed

[2022-11-24 08:33] alvkN opened #19044 "[BUG] Incorrect click position calculation on WebKit on Windows with custom scale factor"
**Context:**
- Playwright Version: 1.27.1 and 1.28.0
- Operating System: Windows 10
- Node.js version: v18.12.1
- Browser: WebKit
- Extra: Custom display scale factor: 115%

**Code Snippet**

[code]

**Describe the bug**

Playwright's webkit calculates click position incorrectly on Windows with custom display scale, and it makes debugging impossible
![image](https://user-images.githubusercontent.c

[2022-11-24 08:47] FishBlanche commented on #18985
This 'const fn = new Function(fnString);'  does not work.
I made a test as following:
 let tmp1 = await testtest(async (a,b) => {return a+b;},   1,2);

async function testtest(func,...args){
    const a = await func(...args);
    console.log('a...',a);
    const fnString = String(func);
    const fn1 = new Function(fnString);
    const b = fn1(...args);
    console.log('b...',b);
    return a;
}
b

[2022-11-24 08:48] #16889 closed

[2022-11-24 08:55] viraxslot commented on #19028
@dgozman yeah, it was an interesting found 😁 I just used to use this approach, and did it out of habit. Thanks for linking the issue.

[2022-11-24 09:05] joshmar opened #19122 "[BUG] deviceScaleFactor not setting devicePixelRation properly"
**Context:**
- Playwright Version: 1.28.0 (latest)
- Operating System: Windows 11
- .NET version: .NET 7
- Browser: All

**Code Snippet**
[Devices](https://github.com/microsoft/playwright/blob/main/packages/playwright-core/src/server/deviceDescriptorsSource.json)
(I'm not sure if the same file is used in the playwright-dotnet repo, so I'm just assuming here)

[code]

[code]

[code]

**Describe the

[2022-11-24 09:34] thewilkybarkid opened #19045 "[REGRESSION]: Playwright 1.28 unable to load the @js-temporal/polyfill library"
**Context:**
- GOOD Playwright Version: 1.27.1
- BAD Playwright Version: 1.28.0, 1.28.1
- Operating System: Mac, and Docker
- Extra: https://github.com/PREreview/prereview.org/pull/461 https://github.com/PREreview/prereview.org/pull/477

**Code Snippet**

[code]

([source](https://github.com/PREreview/prereview.org/blob/ab4d4b7ec41865eca1b672576d2d879f49e8aee0/src/infrastructure.ts#L50))

**Descri

[2022-11-24 09:58] Fox32 opened #19046 "[Feature] Align getByRole behavior with testing librrary"
I really like the approach of `getByRole` and similar selectors in testing library and therefore I'm happy to use the in playwright too!

There is one difference that makes problems for me.
Having a page like:

[code]

Using the `getByRole` selector in testing library would match a single result:

[code]

While the same selector in playwright matches both and therefore fail:

[code]

The differenc

[2022-11-24 10:20] mecies commented on #19023
Thank you very much guys, I'll try that and let you know, in the meantime I also tried to parse the response from string to HTML Element with `node-html-parser` like so:
[code]
Would consider that an anty pattern?

[2022-11-24 10:40] mecies commented on #19023
I tried it out with the `javascriptEnabled` flag and it's great, thank you. Feel free to close the issue, I'm not closing in case you would be so kind to reply to the previous question. 🙏

[2022-11-24 10:49] MuhammadM1998 commented on #19033
I solved the problem by just setting the `headless` to `true` in production case, or by removing it as it's the default option anyway.

this is the correct setup for anyone with the same problem
[code]

[2022-11-24 10:49] #19033 closed

[2022-11-24 11:12] imartinflores opened #19048 "[Question] - Routing"
Hi!

I have a question about page.route() ,  I am not sure if I am using it properly.

I have the following code in a fixture:

[code]
Then on my test:

[code]

If I am not wrong, I have noticed that "routing" gets executed again when page.waitForUrl() is called, could it be the case?. Is this a correct usage ? I only want to block some request on the initial navigation (page.goto()), should I use

[2022-11-24 11:55] einarpersson opened #19049 "[BUG] webServer not closing"
I just updated my project and now the `webServer` which is started by Playwright seems to stick around after running tests.  When running again I get `Error: http://localhost:3001 is already used, make sure that nothing is running on the port/url or set reuseExistingServer:true in config.webServer.`

**Context:**
- Playwright Version: 1.28.0
- Operating System: Win10 WSL2, Linux 5.10 Ubuntu 20.04.

[2022-11-24 12:00] domme1908 opened #19050 "[Feature] Page has locator function"
It would be great to have something like page.hasLocator(XY, {timeout:1000}), that essentially does the same thing as page.waitForLocator() but without throwing anything in case the locator was not found and instead returning a boolean. Working with expect(page.locator).toBeSOMETHING requires the DOM-Element the locator is referring to to be existing. But if the element doesn't even exist the auto

[2022-11-24 12:02] InfectedG opened #19051 "[BUG] waitForEvent filechooser timeout"
- Playwright Version: 1.28.1 / 1.27.1
- Operating System: Windows 10
- Node.js version: 18.12.1 / 7.13.0
- Browser: All expect Firefox, no one in 1.27.1/7.13.0
**this is 2 different setups**

**Code Snippet**

[code]

This test is working fine with debug mode, but when I run this in headless, it keep crashing except on Firefox (I guess its due to the fact that I put `permissions.default.microphone

[2022-11-24 12:08] Safbanu13 opened #19052 "[Question] How to connect Playwright with AWS secret manager?"
What would be the best way to manage passwords and secrets in Playwright. We are contemplating using AWS Secret manager for the same. Can someone help me with the implementation code for the same.

[2022-11-24 12:09] vinodreddy-bs opened #19053 "[Question] Interact with extension under devtools panel"
I need to write e2e tests for an accessibility extension. Our extension is loaded in the devtools panel and I would like to interact with it via UI.

Have a library [puppeteer-devtools](https://github.com/dequelabs/puppeteer-devtools) which will provide us the extension panel as a frame and can interact with it (puppeteer version used in this library is depecated). However, this is not supported w

[2022-11-24 12:21] neil-lancaster opened #19054 "[BUG] Mocked requests not being intercepted"
**Context:**
- Playwright Version: 1.27.1
- Operating System: macOS 12.6.1
- Node.js version: 18.11
- Browser: Firefox, WebKit

**Code Snippet**

[code]
[code]
[code]

**Describe the bug**

I'm having an issue with Firefox and WebKit where requests are not being intercepted and therefore tests are failing. I don't have any issues on Chromium (or Edge for that matter) but when I run the tests in de

[2022-11-24 12:25] orkisz commented on #18931
@pavelfeldman Playwright works perfectly with Yarn PnP mode. The problem is only with vscode plugin which **assumes existence of `node_modules` directory** instead of abstracting module resolution. I am almost sure we can agree that manual traversing of `node_modules` is almost always a bad idea and that's why we have `require()` instead of manually opening files using `fs.readFile()` + `eval()`

[2022-11-24 12:29] sawwa711 opened #19055 "[BUG]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-11-24 13:18] BekaOkromchedlidze opened #19059 "[Question] While running a test with VSCode, browser closes when test is finished even though "Show browser" option is enabled"
I would like to utilise the new record at cursor feature but the browsers automatically close once the test has finished. Can anyone tell me is there a preference I have to change in order to keep the browser open?

Thanks

[2022-11-24 13:18] #16670 closed

[2022-11-24 13:19] PeterHevesi commented on #16670
Thanks so much for adding it there :)

[2022-11-24 14:26] debs-obrien commented on #19046
Hi @Fox32 can you try adding exact true as the default for exact is in fact false

[code]

See the [API docs ](https://playwright.dev/docs/next/api/class-locator#locator-get-by-role-option-exact) for more details

[2022-11-24 14:58] lakshbhutani commented on #7447
@badsyntax what is the use of
` lighthouseAuthenticatedPage: [
    async (
      { persistentContext: context, lighthousePage: page, storage },
      use
    ) => {
      // The following uses context.route() to mock some auth related requests (token validation)
      await mockB2CLogin(context);

      await page.goto(rootUrl);
      await insertAuthStorage(page, storage);
      await use(page);

[2022-11-24 14:58] Fox32 commented on #19046
Ah, I'm still on 1.27, but yeah that is the behavior I mean. The problem is that the default for exact is different between testing library and playwright.

[2022-11-24 14:59] julian-hoch commented on #16989
How would you test your locators with just VSCode? With the inspector you can write and validate locator expressions and directly see the result in the browser, or vice versa select elements in the browser and see a proposed locator expression.

[2022-11-24 15:09] debs-obrien commented on #19046
Yes it is different. I will let @dgozman give a better explanation to why we chose the exact default to be false

[2022-11-24 15:59] JorisBoelen-TomTom opened #19352 "[Question]: wait_for_url does not work with redirects"
### Your question

We have an application to login to an AWS account using AzureAD as SAML provider. Basically we launch a browser, let the user authenticate, extract the SAML response and close the browser.

Below is a simplified version:
[code]

If a user is eligible to assume multiple roles in AWS, the SAML_URL (https://signin.aws.amazon.com/saml) will return a HTTP-200 and the `page.wait_for_u

[2022-11-24 16:44] mareru commented on #19030
@dgozman
Thank you a ton! This worked as a charm.
I can express my gratitude in words I would like to come to CA and hug you :)
This is such a good community - I always get so much response and commitment from people.
I am so happy.
Thank you once again! 👍

[2022-11-24 16:56] kedarsprabhu opened #19061 "[Question] Security scan with playwright"
Can security scan be performed using Playwright automation scripts integrating with ZAP (Zed attack proxy) security scan tool as we used to do in Selenium?

[2022-11-24 18:47] NikkTod opened #19062 "[Question] Roadmap for future features port to all available languages"
Hello Playwright team,

I was wondering if you could create a roadmap for future features that possible would be included in future releases (the ones that affect all programming languages).

Every release I am seeing some great improvements, many of them only for JS/TS, but there are also a lot of tickets marked as "P3-collecting- feedback" that are staying for long time waiting on queue.

Visual

[2022-11-24 19:07] ambiguous48 commented on #19023
I guess that would depend what are you testing for. If your aim is to test the _user experience_ on different browsers/devices/screen sizes/etc, then you're better off using the [various](https://playwright.dev/docs/next/release-notes#locators) [web](https://playwright.dev/docs/next/release-notes#new-apis-7) [api's](https://youtu.be/b84eqab3kwc?t=56) exposed by playwright.

Based on the simple exa

[2022-11-24 20:05] arsoni20 opened #19064 "[BUG]"
**Context:**
- Playwright Version: 1.28
- Operating System: Linux
- Node.js version: 14.0
- Browser: [WebKit]
- Extra: I am trying to build automated tests which use headful browser to take screenshots and scroll the page, headless browser doesnt work in my case.

**Code Snippet**

[code]

**Describe the bug**

I am not able to get the response when I add the config - headless:false.

When I add t

[2022-11-24 21:11] dgozman commented on #19023
Closing as per above. Thanks @ambiguous48 for the great explanation!

[2022-11-24 21:11] #19023 closed

[2022-11-24 21:12] #19030 closed

[2022-11-24 21:16] #19010 closed

[2022-11-24 21:41] mxschmitt commented on #19064
How do you start the container? to make xvfb work, you need to pass `--init` when starting the container.

[2022-11-24 21:46] mxschmitt commented on #19059
Can you show us how your test looks like? Do you launch your browser or context manually?

If you use the [page fixture](https://playwright.dev/docs/writing-tests#test-isolation) which Playwright provides to you, the browser should stay open all the time.

[2022-11-24 21:46] mxschmitt commented on #19055
This looks like open by accident, closing by that.

[2022-11-24 21:46] #19055 closed

[2022-11-24 21:47] mxschmitt commented on #19044
Can you provide us a repro which we can run locally?

[2022-11-24 22:17] mxschmitt commented on #19045
Bisect: https://github.com/microsoft/playwright/compare/11eb719d13a832e53acf76bff360530c4ce81299...af38449f429258268e8b0edb5962eb8765b80a8f

bad 1.28.0-alpha-oct-20-2022
good 1.28.0-alpha-oct-19-2022

Most likely caused by https://github.com/microsoft/playwright/commit/9fe72a1da85b874569f1f43532ab688feadd7ffe.

[2022-11-24 22:24] NikkTod commented on #14913
+1

[2022-11-24 22:25] mxschmitt commented on #19051
[code]
this should be the following
[code]

otherwise the async flow is not guaranteed. You want to have first let the filechooser listener attach and then click, when having an await there, it first does the click and race then most likely.

[code]

this should also be

[code]

(missing await)

Most likely this already makes your script work when you apply these two suggestions. this is unrelated

[2022-11-24 22:26] NikkTod commented on #7472
+1

[2022-11-24 22:26] mxschmitt commented on #19061
Yes, you can set a proxy, see here: https://playwright.dev/docs/network#http-proxy

You can also do this inside your playwright.config.ts

[2022-11-24 22:38] mxschmitt commented on #15035
I can verify that this will be fixed in 1.29. You can wait until tomorrow and consume it via the canary releases: https://playwright.dev/docs/canary-releases

[2022-11-24 22:38] #15035 closed

[2022-11-24 22:42] alvkN commented on #19044
Sorry, I can't send you project because it's work project. I should clarify: windows offers standard scaling options like 125%, 150%, etc., but the problem only appears when scaling is user defined, e.g. 115%

[2022-11-24 22:45] alvkN commented on #19044
I just created an ASP.NET Core MVC app (using default template) and it has the same problem, so I'm sure the problem is not with project or tests

[2022-11-24 22:56] mxschmitt commented on #16261
Was able to repro it in 1.24, 1.25, 1.26 but in 1.27 and 1.28 it was working (fixed). So closing for now!

[2022-11-24 22:56] #16261 closed

[2022-11-25 00:20] mxschmitt commented on #19049
We published 1.28.1 with a fix for this. Let us know if it works for you!

[2022-11-25 00:46] amilup commented on #19036
This is the current code I have try
`private async Task<IPage> InitializePlaywriteWithAuth()
		{
			var playwright = await Playwright.CreateAsync();
			_browser = await playwright.Chromium.LaunchAsync(new BrowserTypeLaunchOptions
			{
				Channel = "chrome",
				Headless = false,
			});

			var context = await _browser.NewContextAsync(new BrowserNewContextOptions
			{
				HttpCredentials = new Htt

[2022-11-25 00:49] mxschmitt commented on #19050
there is no page.waitForLocator(). There is [locator.isVisible()](https://playwright.dev/docs/api/class-locator#locator-is-visible) what people usually use. But it does not retry, so for assertions we recommend [expect(locator).toBeVisible()](https://playwright.dev/docs/test-assertions#locator-assertions-to-be-visible) which retries until the condition is met or the timeout is reached.

If you wan

[2022-11-25 02:41] ofqwx commented on #1774
Does anybody know (or can point me in the right direction) on how to mock server side requests. I'm working on a next JS app and I would like to mock getServerSideProps requests.
Thanks.

[2022-11-25 04:24] Philedit6665 opened #19068 "[BUG]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-11-25 04:24] Philedit6665 opened #19069 "[BUG]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-11-25 04:33] mxschmitt commented on #19069
This looks like opened by mistake since its empty, closing by that.

[2022-11-25 04:33] #19069 closed

[2022-11-25 04:33] mxschmitt commented on #19068
This looks like opened by mistake since its empty, closing by that.

[2022-11-25 04:33] #19068 closed

[2022-11-25 04:37] ISilviu commented on #19011
@dgozman thank you kindly.
Yes, it does exactly what I needed.

Fun fact, I was having the same concept in mind, except that I was implementing it in a "React" manner :laughing: :

[code]

[2022-11-25 04:37] #19011 closed

[2022-11-25 06:12] AkkyLohana90 commented on #19020
Hello All,
GM...

[2022-11-25 08:30] damianobarbati commented on #1986
@niek is it possible to have an official ms / playwright Docker image based on alpine?

[2022-11-25 08:34] Niek commented on #1986
Possible? Yes. Will it ever happen? No idea, you should ask MS / the Playwright team like @aslushnikov 😄

[2022-11-25 09:00] InfectedG commented on #19051
Hi! Thanks for the reply and for the fixes, but this is not working actually, I still have the same modal thing for the camera because all of theses browsers except Firefox don't have the perms

[2022-11-25 09:14] sansepion opened #19071 "[Question] FingerPrint Emulator"
Hello.

I have a problem using Playwright with Stealth.

I'm trying to automate messages to my customers, but WhatsApp is detecting the automation and quickly banning me.

When I try to use Playwright's Stealth, the site simply won't open.

But the subject is... How do I emulate a FingerPrint in PlayWright and prevent sites from being detected?

[2022-11-25 09:39] darabos opened #19072 "[BUG] toHaveText() includes display:none elements"
**Context:**

- Playwright Version: 1.27.1
- Operating System: Mac
- Node.js version: 18.3.0
- Browser: Chromium
- Extra: [any specific details about your environment]

**Code Snippet**

[code]

**Describe the bug**

It's surprising to me that `toHaveText()` picks up text from hidden (`display: none`) elements. I really don't care about their contents and just want to make assertions about what is

[2022-11-25 10:02] BekaOkromchedlidze commented on #19059
@mxschmitt I use the page fixture. Please take a look at an example below. I'm wondering if it is because I use global setup to save a logged in storage state. So, at setup I log in, save the state, browser closes and another browser opens once the test begins.
![image](https://user-images.githubusercontent.com/45874523/203955095-d9224c20-16c8-4fb4-83e8-a3f3092210c7.png)

[2022-11-25 10:02] BekaOkromchedlidze commented on #19059
@mxschmitt I use the page fixture. Please take a look at an example below. I'm wondering if it is because I use global setup to save a logged in storage state. So, at setup
![image](https://user-images.githubusercontent.com/45874523/203955095-d9224c20-16c8-4fb4-83e8-a3f3092210c7.png)

[2022-11-25 11:09] IvanAbramow commented on #12683
@aslushnikov
Hello! I have exactly the same problem, the size of the element differs by 1 - 2 pixels.
Screenshot comparison failed:  Expected an image 640px by 694px, received 640px by 696px.

This appears for both page.screenshot and element.screenshot.

For example, in jest-image-snapshot package https://www.npmjs.com/package/jest-image-snapshot
there is an **allowSizeMismatch** parameter that a

[2022-11-25 11:13] dgtlmoon commented on #12683
I think this is an inappropriate comment considering that the software is provided to you free of charge and without warranty

[2022-11-25 11:22] IvanAbramow commented on #12683
I agree with you, I don't mean to offend the playwright team. My mistake. I really love this product and enjoy using it. I just found a few requests about this problem, so I asked to try to solve it.

[2022-11-25 11:55] Abdulhasiib commented on #17881
I am facing the same problem with NTLM Authentication. Please could you share more information about this workaround with Curl and PowerShell?
I can get it working with RestSharp by passing -UserDefaultCredentials, but couldn't find a way to pass Curl in PlayWright APIRequest.

[2022-11-25 12:40] testgitdl commented on #4046
Hello,

We also need this. We cannot get it to work. We need to maximize chrome because setting the viewport has downfalls - cannot really see the popup's in our up.

Thnaks!

[2022-11-25 13:02] MindaugasMateika opened #19073 "[Feature] Do not skip test if shard has no tests to run, generate an empty report instead"
Use case:

I'm statically sharding tests and that works well if there are more tests than shards. However, if you're rerunning a failed test on CI and you have 2 shards then end result looks like:
[code]

It's a bit confusing. Would it be possible to shards that have no tests to run to not skip the test and produce just an empty report?

[2022-11-25 14:54] monikandy commented on #17881
I have a TS+Pw project, I have wrapped PS part in a method:

[code]

[2022-11-25 14:59] AuroreLlinares commented on #15275
Having the same issue too. Did anyone found an alternative solution ?

[2022-11-25 15:14] einarpersson commented on #19049
Yep working as expected now, with `"@playwright/test": "1.28.1",`

Thanks!

[2022-11-25 15:14] #19049 closed

[2022-11-25 15:26] Depechie commented on #18866
Would be nice if we can get a similar example for Azure AD... that would be https://login.microsoftonline.com/<guid>/oauth2/v2.0/token

[2022-11-25 16:13] robd commented on #1799
I dealt with this issue by configuring chrome to ignore cert errors for the hosts I wanted to trust:

- Download the host cert [1]
`openssl s_client -showcerts -connect www.yoursite.com:443 </dev/null 2>/dev/null|openssl x509 -outform PEM > mycertfile.pem`
- Generate the base64 sha 256 digest [2]
`openssl x509 -pubkey -noout -in {mycertfile.pem | openssl pkey -pubin -outform der | openssl dgst -sh

[2022-11-25 16:16] kedarsprabhu commented on #19061
Thanks for the inputs!

[2022-11-25 16:16] #19061 closed

[2022-11-25 16:23] Kremliovskyi commented on #1799
@robd This is different, in my case without the certificates server redirects you to error page, you can not ignore you MUST provide them.

[2022-11-25 17:04] agusjacob opened #19075 "[Question] Is there a way for a test to get the value of a variable that was set during the execution of a previous test?"
We've had some flaky tests related to the IMAP API for reading emails. Many times, the emails have already been received but the API needs extra time to be able to get to them. We have several tests, in different modules/suites that depend on this functionality, and we also don't want to introduce any flakyness to test results.

Therefore, we've come to the conclusion that the best approach would

[2022-11-25 17:25] PriyankaSoni1210 opened #19076 "[Question] Playwright configuration file path options?"
Can the playwright config file be specified in any other locations other than the root or 'tests' directory. For me, any other path except the project root/tests directory, throws the error -
---------------------------------------------------
Running 0 tests using 0 workers

=================
 no tests found.
----------------------------------------------------

[2022-11-25 17:46] Niemetz commented on #14440
Hi mxschmitt
  I need your help!
  I followed your instructions by set this **use: { ignoreHTTPSErrors: true }** in the config file but the execution still fails...
  The error message seems to say that the client is still trying to validate the SSL cert from the server side.
  Error message => "apiRequestContext.get: write EPROTO:17028:error:14094410: SSL..."
  Here is what my config file looks l

[2022-11-25 19:22] Niemetz commented on #16194
Would you please lost the sample code on the "second approach"?  I'd like to see how you specify the ignoreHTTPSErrors: true as a parameter... I'm new to typescript/javascript.  Thanks

[2022-11-25 22:06] dgozman commented on #19020
@AkkyLohana90 I would do something like this:

[code]

Unfortunately, there is no non-racy solution to this problem. If popup could appear during any action, like while user is clicking some button, and mess up the click, the test could also fail. However, you can hope that's a rear occasion and rely on retries, and then you can just schedule a "click the close button" action. Note no `await`.

[c

[2022-11-25 22:09] dgozman commented on #19036
@amilup Your snippet looks good, it should make basic http auth work. Unfortunately, without seeing the whole test (and the page url), I cannot help in a more meaningful way. If you could share a repro, we might be able to help you.

[2022-11-25 22:18] dgozman commented on #18985
This depends on your usecase, I cannot provide fully-working source for you. Here is a [code pointer](https://github.com/microsoft/playwright/blob/2887a2a883292415fab403b4ea9b6b075c121ca5/packages/playwright-core/src/server/javascript.ts#L290) for function normalization, if that helps you.

The following example works for me in Node:

[code]

[2022-11-25 22:19] dgozman commented on #19046
We made `exact: false` the default to align with all other locators. Overall, it is usually more convenient to write lax locators, especially when you do that manually.

[2022-11-25 22:22] dgozman commented on #18892
Playwright does indeed use proxying websocket functionality. We'll take a look, but for now I'd suggest to stay on 4.5.0 since that seems to work.

[2022-11-25 22:24] dgozman commented on #19076
@PriyankaSoni1210 Run with `--config` option. Overall, running with `--help` will show some more interesting options 😄

[code]

[2022-11-25 22:24] #19076 closed

[2022-11-25 22:30] dgozman commented on #19075
@agusjacob Note that any such approach only works if you are not running tests in parallel. Otherwise, you might running the test "supposed to be skipped" even before you determine whether it should be skipped or not.

So, if you are not running tests in parallel, I'd recommend creating a file meaning "skip email tests". Rough sketch:

[code]

[code]

Let me know if that helps.

[2022-11-26 00:15] Nav-2d opened #19083 "[BUG] .not assertion is not rendered correctly in Inspector"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Mac
- Node.js version: 14.6
- Browser: Chromium

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
For the above tests, when I do last assertion i.e `not.toBeVisible()`, it doesn't correctly `.not.` in codegen. It

[2022-11-26 00:20] Nav-2d opened #19084 "[BUG] Webkit browser is cut off at the top"
**Context:**
- Playwright Version: 1.28.0
- Operating System: Mac
- Node.js version: 14.6
- Browser: Webkit
- Device: Macbook Pro 14" M1 2021

**Describe the bug**
Launch any test and observe the Webkit browser that is launched. The browser is bit cutoff at the top

<img width="1297" alt="Screen Shot 2022-11-25 at 4 17 57 PM" src="https://user-images.githubusercontent.com/22205721/204065264-d13a21

[2022-11-26 00:25] Nav-2d opened #19085 "[BUG] getBy queries are not shown in Trace Viewer parameter section"
**Context:**
Playwright Version:1.28.0
Operating System: Mac
Node.js version: 14.6
Browser: [e.g. All, Chromium, Firefox, WebKit]
Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
Doesn't show `getByX` queries correctly in

[2022-11-26 02:11] rb-x opened #19086 "[Question] Dialog Screenshot"
Hello,

i wonder if it's possible to screenshot a webpage with it's dialog (prompt), and if so how since they are generated from the system/browser UI ?

Thank you

[2022-11-26 05:13] Abdulhasiib commented on #17881
Thanks for sharing code snippet. That's helpful. I have one more question. How you're passing this method to the PlayWright APIRequest?

[2022-11-26 07:33] asvignesh-qae commented on #7472
+1

[2022-11-26 08:06] Fox32 commented on #19046
Ok, that's a good reasoning. Selectors like `text=` are also contains queries by default.

I'm fine with keeping it, now I know that `exact` was introduced recently.

[2022-11-26 08:07] #19046 closed

[2022-11-26 14:26] cawa-93 commented on #18928
Still have this issue with 1.28.1

[2022-11-26 14:33] JonahKK opened #19087 "[BUG] Exception is thrown while capturing stack trace"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Mac
- Node.js version: 16.14.0
- Browser: All

**Code Snippet**

[code]

**Describe the bug**

When there is a strict mode violation, the exception is thrown while capturing the stack trace. This is not the first time I've got error like this, but this is the easiest way to reproduce it.
Stacktrace:
[code]

[2022-11-26 14:37] mxschmitt commented on #18928
Can you file a different issue with a repro? Thanks

[2022-11-26 14:37] JonahKK opened #19088 "[BUG] If test title is wrapped to next line, then the "Play" button does not start the test"
**Context:**
- Playwright Version: 1.27.1, extension 1.0.0
- Operating System: Mac
- Node.js version: 16.14.0

**Describe the bug**

![Image 26-11-2022 at 15 34](https://user-images.githubusercontent.com/23238398/204094248-4e66c0ac-81aa-4edc-a5d0-67035eaee1c2.jpg)
Clicking the second button for running the test does not work. Only the first button does something.

[2022-11-26 16:16] dgozman commented on #19048
@imartinflores Once setup, route affects all requests matching the pattern, so it is usually called multiple times. Unrouting is a good solution here. You can also narrow down the pattern to only route some requests, not all of them.

[code]

[2022-11-26 16:22] dgozman commented on #19054
@neil-lancaster Your code looks good, and symptoms sound like a bug. We would be happy to debug, if you could provide a repro including the page. Most likely this is related to a specific request your page is sending, so it's hard to figure out what's going on without trying to debug it locally.

[2022-11-26 17:06] imartinflores commented on #19048
Got it! Thanks @dgozman , I finally used unroute() and worked perfectly . Is the route.continue() necessary in my case ? I think when I only used the abort()  (like in your example), the code hang..

[2022-11-26 17:24] unlikelyzero commented on #19073
We regularly have empty shard executions like @MindaugasMateika . For us, the outcome is wasted CI minutes in spinning up a shard to assign it zero "work" to do.

I think we could recast the enhancement as: Prevent shards from executing totally skipped tests. If I had to guess, this would require that sharding pre-calculates if a test is set to skipped before dividing up the total number of tests

[2022-11-26 17:24] jameskip commented on #18964
Is it possible to deny this prompt at the context level by passing this: `--deny-permission-prompts` to chromium?

[2022-11-26 17:53] dourbi commented on #4282
@shilpa32 did u find any method  for background color in java??

[2022-11-26 18:10] sleaper opened #19090 "[Question] Chrome extension with github action."
Hi guys,
I have a question. When I am testing my chrome extension locally everything is ok and works perfectly well. But when I run a test inside GitHub action I get this error: `Test timeout of 30000ms exceeded while setting up "context".` Is it even possible to test chrome extension inside with Github actions?
My version of playwright: 1.28.1

Here is my test:
![image](https://user-images.github

[2022-11-26 18:12] dourbi commented on #11494
@mxschmitt is there any way to find backrground color in java

[2022-11-26 18:29] dourbi opened #19091 "[Question] how can we find background colour in java in playwright ."

[2022-11-26 21:47] baart1989 commented on #9199
+ 1

[2022-11-26 22:40] dgozman commented on #19048
@imartinflores `route.continue()` is necessary if your route pattern matches more than you'd like. So, in your example, you abort only some requests, and the rest you must continue as you do.

[2022-11-27 06:00] goldylucks opened #19092 "[BUG] can't run custom describe block from vscode"
**Context:**
- Playwright Version: `"@playwright/test": "^1.28.1"`
- Operating System: Mac
- Node.js version: `v16.18.0`
- Visual Studio Code version: `1.73.1`
- Playwright for VSCode extension version: `v1.0.1`
- Browser: all

**Code Snippet**

[code]

PS. The bug template is missing the example:

(I assume the example should be here? 🤔)

**Describe the bug**

New user here, migrated from `cypres

[2022-11-27 06:59] goldylucks opened #19093 "[BUG] custom fixtures not working on beforeEach"
**Context:**
- Playwright Version: `"@playwright/test": "^1.28.1"`
- Operating System: Mac
- Node.js version: `v16.18.0`
- Visual Studio Code version: `1.73.1`
- Playwright for VSCode extension version: `v1.0.1`
- Browser: all

[code]

**Code Snippet**

[code]

**Describe the bug**

I created a fixture as per the [docs](https://playwright.dev/docs/test-fixtures), and TS recognizes the `topNav` on

[2022-11-27 10:27] AkkyLohana90 commented on #19020
**Thanks, dgozman...**
Will try the above suggestions tomorrow (on Monday) and let you know.

[2022-11-27 11:41] AlexKomanov opened #19094 "[Feature] Record Youtube videos with resolution at least of 1080p"
I'm a big fan of your videos. I think it is one of the things that makes the project unique. Gathering information directly from the major developers - is one of the most excellent parts.

But I have a little complaint :)
Your videos are recorded with a resolution of 720p - please record them in at least a resolution of 1080p.

<img width="1456" alt="image" src="https://user-images.githubuserconte

[2022-11-27 15:38] Srinivasan-Akash commented on #18672
Nope, we can just abort or reject the font family CDN and analytics to make it faster by
        await page.route(/(analytics|fonts)/, (route) => route.abort())

[2022-11-27 19:34] imartinflores commented on #19048
Perfect, thanks for the clarification @dgozman !

[2022-11-27 20:08] omar-ameen1 opened #19098 "Can't seem to get test to run in GitHub Actions"
Hello! I'm brand new to PlayWright and was hoping I could get some guidance with this issue.

I've written a fairly simple and straightforward test for my electron application, and it works beautifully locally. Unfortunately, it times out on github actions and fails. I'm not quite sure why.

<img width="802" alt="Screen Shot 2022-11-27 at 3 05 43 PM" src="https://user-images.githubusercontent.com/

[2022-11-27 20:12] jfgreffier commented on #15075
I propose something inspired by Vitest, that can check for uncommited changes, or changes compared to a commit.

[code]

What do you think ?

[2022-11-27 22:35] Newbie012 opened #19100 "[BUG] Host system is missing dependencies to run browsers (WSL2)"
**Context:**
- Playwright Version:1.28.1
- Operating System: Ubuntu 20.04.5 LTS (WSL 2)
- Node.js version: v18.4.0
- Browser:All

## System:
 - OS: Linux 5.10 Ubuntu 20.04.5 LTS (Focal Fossa)
 - Memory: 12.41 GB / 15.58 GB
 - Container: Yes
## Binaries:
 - Node: 18.4.0 - ~/.nvm/versions/node/v18.4.0/bin/node
 - Yarn: 1.22.19 - ~/.nvm/versions/node/v18.4.0/bin/yarn
 - npm: 8.12.1 - ~/.nvm/versions/

[2022-11-27 23:12] dgozman commented on #19048
Closing as per above.

[2022-11-27 23:12] #19048 closed

[2022-11-27 23:17] dgozman commented on #18964
@jameskip `--deny-permission-prompts` chromium flag works across all contexts, but Playwright will take that into account if you specify `launchOptions.args` for a single file:

[code]

Alternatively, just specify it once in the config to disable all prompts in all tests:
[code]

[2022-11-27 23:38] reutenkoivan commented on #19075
For this case, probably, be better to create a file names convention in your project and calculate the glob pattern in the playwright config before every tests execution.

[2022-11-28 00:39] dgozman commented on #18896
We have to reproduce this issue locally to be able to debug it. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-11-28 00:39] #18896 closed

[2022-11-28 00:39] dgozman commented on #18935
Closing because we lack the information to act on this issue. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-11-28 00:39] #18935 closed

[2022-11-28 00:39] dgozman commented on #18951
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-11-28 00:39] #18951 closed

[2022-11-28 00:40] dgozman commented on #18956
We have to reproduce this issue locally to be able to debug it. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-11-28 00:40] #18956 closed

[2022-11-28 00:55] dgozman commented on #18954
@qasamppa I am not sure we'll be able to help you without any more information from your side. I'd suggest trying to disable other extensions, or playing with VSCode version.

[2022-11-28 01:35] pavelfeldman commented on #19059
I can see you are overriding the fixtures in ../../../../fixtures/fixtures. You are probably overriding the page / context fixtures and close the page / context.

[2022-11-28 03:23] danielrob commented on #10648
Another option - more repetition, but less setup. isVisible considers zero results to be false.

[code]

[2022-11-28 03:37] buraksimsekgit opened #19101 "[Question] Switch between multiple configuration files"
Hello everyone,

My question is; sometimes Test Data depends from the environment to the environment. Is that possible for the test class to fetch Test Data dynamically depending on the environment? Let's say we have " qa.json, stage.json, or prod.json " files to store our Test Data. Can fetch these Test Data dynamically on the Test class depending on which environment are we running our tests?

I

[2022-11-28 04:57] hangboss1761 opened #19102 "[Question] When can component testing end the experimental phase"

[2022-11-28 05:48] quidnu opened #19121 "[BUG] Unselectable "input" element"
**Context:**
- Playwright Version: 1.28
- Operating System: Ubuntu 22.10
- Python version: 3.9
- Browser: Chromium

**Describe the bug**

I have a dynamically loaded "<input type='tel'>" input field that I cannot seem to select (hangs on "waiting for locator"). When I put a page.pause() before the locator command and inspector launches it highlights the field with the locator expression. Timing do

[2022-11-28 06:32] sanyamtuteja commented on #12666
@satya081 Were you able to resolve this issue??? I am facing this same issue right now.

[2022-11-28 07:00] monikandy commented on #17881
I am not passing it to Pw API Request, it is hidden in service and I just call it as a step in test, e.g. `await commonElements.unlockElementViaApi(elementGuid);` - so it is rather nasty hack then universal solution to a NTLM problem :)

[2022-11-28 08:39] NgocVo3112 commented on #14813
I also get this issue, could you please spend time to fix this. Thanks a lot.

[2022-11-28 09:00] ingemarson opened #19103 "[Question] popup loses opener after goto(url)"
hey,

I have a popup which goes to a new url using your goto() method. after that it loses the opener and some internal communication using window.postmessage (on our side) does not work anymore. how can I set the opener afterwards or how can I keep the opener on the popup?

thanks!

[2022-11-28 09:24] aakash3771 commented on #14355
I am getting this error while I run two contexts same time.
Worker process exited unexpectedly (code=null, signal=SIGABRT)

[2022-11-28 10:05] OmarSaidIbrahim opened #19105 "Where and how to deploy my python script using Playwright ?[Question]"
Hi all, I am trying to deploy my code somewhere like Heroku or my personal RaspberryPi, but I know none of them support Playwright. My code should run 24/7, every 5 minutes so I will need somewhere to host it and run it. Does anyone have some kind of solution?

The buildpack for Heroku does not support stack 22.

My RaspberryPi is an ARM71 which is not supported.

[2022-11-28 10:48] brzssh opened #19120 "[Question]: witch xpath version playwright supports?"
### Your question

im trying to use xpath 2.0 features such lower-case and matches
but getting invalid xpath error
[code]

[code]

[2022-11-28 10:52] yjing001 opened #19106 "[Question] Stubbing same route with different requests"
I have a page that makes multiple GraphQL requests. Those requests have the same route `**/graphql` but different request body. So for a given test, a generalised function `stubResponse` is called multiple times at the beginning to set up stubs, e.g.,
[code]
but it seems that only the last `stubResponse()` will take effect when the page is loading. Is it supposed that the last one overrides the pr

[2022-11-28 10:59] Ahmad-billz opened #19107 "Can I pass the login credential as parameters through terminal?"
I want to pass the usename and password of the normal user as well as admin user with the run command.
I search the documentatino but could not find anything like:
npx playwright test --adminUser=admin1 --adminPass=adminPass12 --normalUser=user1 --nomalUserPass=Upass12

[2022-11-28 11:01] agusjacob commented on #19075
Hey everyone, I actually ended up implementing a file system solution like you mentioned. Are there any plans in the future to implement any functionality that might replace this?

[2022-11-28 11:02] JakubKoralewski commented on #16961
More support for WSL, Remote-SSH would be great. In the mean time this launch.json configuration worked for me:

[code]

[2022-11-28 11:15] creage opened #19108 "[REGRESSION]: WebKit 16.4 is very slow"
**Context:**
- GOOD Playwright Version: v1.27.1
- BAD Playwright Version: v1.28, v1.28.1
- Operating System: Windows
- Extra: WebKit only

**Describe the bug**
We see huge performance degradation on WebKit 16.4 comparing to 16.0, which was released with Playwright 1.28.

Tests are executing much slower - page actions like clicks, typing, mouse moves are very slow, leading to most of our tests fail

[2022-11-28 11:46] BekaOkromchedlidze commented on #19059
Hi @pavelfeldman , I have created a custom fixture which extend playwright test object but I don't think I am overriding the page fixture. Could you please take a look below. Do you know what I could change to not override the page fixture?
![image](https://user-images.githubusercontent.com/45874523/204269969-d6c7c767-7ca6-4d19-98a7-fb22fb97e57b.png)

[2022-11-28 12:19] AkkyLohana90 commented on #19020
**Thanks, dgozman...**
The above sugested **afterEach** to delete packageName & packageIds is working.
Closing the ticket.
For Exception handling will check the above suggestion.

[2022-11-28 12:19] #19020 closed

[2022-11-28 12:53] BekaOkromchedlidze commented on #19059
I don't think the custom fixture is the problem. I have swapped to use the default playwright test instead and the issue is still happening.
![image](https://user-images.githubusercontent.com/45874523/204282223-58843d03-dacf-451d-9854-3b0e0682a1c8.png)

I have also removed the global setup login + save logged in state flow and this had no effect either.
![image](https://user-images.githubuserconte

[2022-11-28 12:53] lucasbit opened #19110 "[BUG] Unknow engine for page.getByRole after upgrade to 1.28.1"
**Context:**
- Playwright Version: 1.28.1 bug does not show in 1.27.1
- Operating System: Windows
- Node.js version: v18.12.1
- Browser: Chromium
- Extra: Not really- it is fresh project has only 3 tests in it, I have removed node modules, and rerun npm i

![image](https://user-images.githubusercontent.com/29520131/204283974-0e22add7-bf69-4e28-ae0c-d08e1d6ed650.png)

**Code Snippet**

Help us help

[2022-11-28 12:55] inqom-circle opened #19111 "[Question] print console.log on terminal when running test from vscode extension"
Hello,
Is there a way to print the console.log on the terminal when I'm running my test from the playwright vscode extension.
Best.

[2022-11-28 13:01] AntonStriga opened #19114 "[BUG] [Firefox] Protocol error is thrown when interacting with iframe elements"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Windows 10
- Node.js version: v16.16.0
- Browser: Firefox
- Extra: [any specific details about your environment]

**Describe the bug**
1. There is page with iframe. <iframe> ... </iframe>
2. Frame is detected by frameLocator:  this.frameLocator = page.frameLocator('.module-frame')
3. Test interacts with elements of the frame
4. On the s

[2022-11-28 13:10] gineanne opened #19115 "[Question] Can I use multiple storageState to be used in a spec file?"
[code]

[2022-11-28 13:13] bennettdams commented on #16961
@JakubKoralewski I don't know if anything has changed for VS Code/Playwright in this regard since I created this issue, but your `launch.json` works great! The debugger stopps at a breakpoint as expected. Thanks!

Not sure if this issue should be closed then?

[2022-11-28 13:19] BekaOkromchedlidze commented on #19059
@mxschmitt @pavelfeldman I've found the issue. The browser closes when trace collect option is set to 'on'. Can this be considered a bug? I would expect the trace save could be initiated once the user manually closes the browser?
![image](https://user-images.githubusercontent.com/45874523/204287471-405dbb45-3a9e-4974-8a65-4e615773f9bc.png)

[2022-11-28 13:21] qasamppa commented on #18954
@dgozman I installed vscode version 1.70.2 and Playwright test for vscode 1.0.0 -extension started to work immediately. So definitely something to do with latest release(s) of vscode.

[2022-11-28 13:33] ambiguous48 commented on #19107
You can pass environment variables through the command line instead of using an `.env` file. The way to do this will depend on your operating system.

In Linux/bash for example, you can do:
[code]

[2022-11-28 13:37] InfectedG commented on #19051
Any news? I can't launch tests in headless, this is very annoying because I can't test in CI/CD..

[2022-11-28 13:43] ambiguous48 commented on #19111
Do your logs not show when you click the `show output` button?

https://user-images.githubusercontent.com/17984549/131338744-2bf71d20-79b4-48f2-94dd-9c945c34fae1.png

[2022-11-28 13:51] netcompany-sadiksahin commented on #18888
I am experiencing the same issue. Would appreciate this being configurable :)

[2022-11-28 13:56] ambiguous48 commented on #19088
Is there any output when you click the `show output` button?

https://user-images.githubusercontent.com/17984549/131338744-2bf71d20-79b4-48f2-94dd-9c945c34fae1.png

This can happen when 2 tests have the exact same title. You can also try running it through the terminal with `npx playwright test ./myfile.spec.ts` to check the output.

[2022-11-28 14:11] eatonjl commented on #9840
@ninhlt I opened [another issue](https://github.com/microsoft/playwright/issues/18415) about this and they are working on a fix.

[2022-11-28 14:13] eatonjl commented on #16261
@mxschmitt Thank you! I cannot try it out at the moment because I am seeing another issue with Webkit (that I created a separate issue for). I will check it out once I get that working.

[2022-11-28 14:20] rejectozaur commented on #11436
Same here

[2022-11-28 15:56] ktxxt commented on #13673
@jmk0317

Totally agree!

I used this approach for if you have multiple `projects` ->

[code]

It will add the defined `viewport` to all projects.

[2022-11-28 16:02] ingemarson commented on #19103
I found a solution, or maybe more like a workaround. Instead of calling page.goto I do:

[code]

where args.url is the new url we want to go and args.target is the target property of the existing popup. Cool thing is the intercepting requests still works! this.page is the popup and this.container is the opener.

[2022-11-28 16:02] #19103 closed

[2022-11-28 16:45] pavelfeldman commented on #18987
Could you link the steps I should perform along with your expectations and the actual result?

[2022-11-28 17:05] pavelfeldman commented on #18954
Could you tell us what other extensions you have installed? We can't reproduce this problem on clean VSCode + Playwright extension installed.

[2022-11-28 17:07] Durukpandit opened #19117 "[Question]"
I'm trying to automate the download of a PDF file using Playwright, if I click on the link then a new tab opens as a pdf viewer, I am trying to download the pdf by clicking over the link. Just like the selenium plugin works,I have the solution of this using js but i want solution using python.
Please somebody help me.

[2022-11-28 17:13] dgozman commented on #18939
Closing because we lack the information to act on this issue. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-11-28 17:13] #18939 closed

[2022-11-28 17:13] dgozman commented on #18994
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-11-28 17:13] #18994 closed

[2022-11-28 17:14] dgozman commented on #18991
Closing because we lack the information to act on this issue. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-11-28 17:14] #18991 closed

[2022-11-28 17:14] dgozman commented on #18953
Closing because we lack the information to act on this issue. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-11-28 17:14] #18953 closed

[2022-11-28 17:16] #18881 closed

[2022-11-28 17:16] dgozman commented on #19000
Closing because we lack the information to act on this issue. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-11-28 17:16] #19000 closed

[2022-11-28 17:17] dgozman commented on #18894
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-11-28 17:17] #18894 closed

[2022-11-28 17:17] dgozman commented on #19008
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-11-28 17:17] #19008 closed

[2022-11-28 17:17] dgozman commented on #19009
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-11-28 17:17] #19009 closed

[2022-11-28 17:18] dgozman commented on #18986
@santimirandarp Any chance for a repro?

[2022-11-28 17:19] dgozman commented on #19016
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-11-28 17:20] dgozman commented on #19028
Closing this in favor of #7036.

[2022-11-28 17:21] dgozman commented on #19050
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-11-28 17:21] #19050 closed

[2022-11-28 17:21] dgozman commented on #18985
Closing as per above.

[2022-11-28 17:21] #18985 closed

[2022-11-28 17:30] pavelfeldman commented on #19059
I wonder if we should do the opposite instead: while in the 'Show browser' mode, we could disable tracing. Would that work for you? Or do you use traces in your dev workflow?

[2022-11-28 18:32] #18945 closed

[2022-11-28 18:32] #18963 closed

[2022-11-28 18:52] dgozman commented on #19038
@gselsidi you probably need to set `clipboard-write` permission in your config for Chromium. Take a look [at this option](https://playwright.dev/docs/api/class-testoptions#test-options-permissions).

For comprehensive clipboard coverage, there is an open issue #15860, so merging into it.

[2022-11-28 18:52] #19038 closed

[2022-11-28 18:55] dgozman commented on #19042
@hanayashiki You are right - if the name of the higher-order component is not preserved in debug build of React, there is no way to locate based on it. Unfortunately, I don't think Playwright can do something here. Your workarounds with a wrapper or `data-testid` attribute are great.

Unless I misunderstood the issue, I am inclined to close it, since it's not actionable.

[2022-11-28 18:56] gselsidi commented on #19038
it works in headed, does headed automatically set clipboard?

[2022-11-28 19:23] dgozman commented on #19038
Headed and headless have somewhat different permission systems, so it might be the case.

[2022-11-28 19:55] fujii commented on #19108
FWIW, upstream WebKit WinCairo port is observing performance drop for text rendering caused by Cairo 1.17.6. https://bugs.webkit.org/show_bug.cgi?id=248299

[2022-11-28 20:20] jimpriest opened #19123 "[BUG] Playwright Test for VSCode: No tests have been found in this workspace yet"
**Context:**

## System:
 - OS: Linux 6.0 Pop!_OS 22.04 LTS
 - Memory: 12.11 GB / 31.08 GB
 - Container: Yes
## Binaries:
 - Node: 16.13.2 - ~/.nvm/versions/node/v16.13.2/bin/node
 - npm: 9.1.2 - ~/.nvm/versions/node/v16.13.2/bin/npm
## Languages:
 - Bash: 5.1.16 - /usr/bin/bash
## npmPackages:
 - playwright: ^1.24.1 => 1.28.1
## VSCode
 - Version: 1.73.1

Installed the latest Playwright Test for

[2022-11-28 20:21] dgozman commented on #19045
This will be fixed by https://github.com/microsoft/playwright/pull/19026 in v1.29.

Babel issue: https://github.com/babel/babel/issues/14912, fixed in https://github.com/babel/babel/pull/14913, so bumping `@babel/plugin-transform-typescript` to `7.20.2` helped.

[2022-11-28 20:21] agustinmme opened #19124 "[Question] Is it possible to get the intrinsic value of an image?"
Hello,

I am wondering if it is possible to get the intrinsic value of an image.

I'm trying to evaluate if the values being downloaded are the same as being rendered. To do this I compare the width with
  "natural width".

The width can be easily obtained with offsetWidth, getBoundingClientRect or boundingbox.

But the problem is with the intrinsic value, the only way I found is using "naturalWid

[2022-11-28 20:21] #19045 closed

[2022-11-28 20:24] angelo-loria commented on #19120
I believe this is a browser issue unrelated to Playwright. Most (all?) modern browsers do not support xpath 2.0- https://stackoverflow.com/questions/65271107/why-modern-browser-engines-do-not-support-xpath-2-0

You're better off using a [different Locator](https://playwright.dev/docs/locators) over xpath with Playwright

[2022-11-28 20:27] dgozman commented on #19122
@joshmar This is codegen-specific trade-off, where we set `deviceScaleFactor` to 1 or 2, assuming high-dpi on macOS, for things to look nice and sharp. When specifying `Galaxy S9+` in the test, I get `window.devicePixelRatio === 4.5`.

Let me know if this helps.

[2022-11-28 20:36] pavelfeldman commented on #19062
The features you list are Playwright Test Runner features, not Playwright Library features: visual comparisons, soft assertions, expect.poll. While we offer feature parity for Playwright Library in the language ports, we only offer test runner for Node, suggesting that other platforms should utilize prominent test runners from the respective ecosystems: Pytest, JUnit, NUnit, MSTest, etc.

If there

[2022-11-28 20:38] pavelfeldman commented on #19124
they usually give the value of the viewport.

Could you elaborate on this? It sounds like naturalWidth is exactly what you need, what do you mean by "they usually give the value of the viewport"?

[2022-11-28 20:40] pavelfeldman commented on #19123
Does "Developer: Reload Window" action fix the problem? Could you specify other extensions installed on your system?

[2022-11-28 20:42] dgozman commented on #19071
@sansepion Playwright is a testing solution. If a page actively does not want to be tested/automated, Playwright is not going to try to work around that. We do not provide any "Stealth" package/mode that tries to be undetectable, so this is out of scope for the Playwright project.

[2022-11-28 20:42] #19071 closed

[2022-11-28 20:43] pavelfeldman commented on #19117
You can read this for PDF scraping: https://github.com/microsoft/playwright/issues/6342#issuecomment-929112605

[2022-11-28 20:43] #19117 closed

[2022-11-28 20:44] pavelfeldman commented on #19115
No, you would need to place them in different (nested) describes blocks. Otherwise your user2 overwrites user1.

[2022-11-28 20:44] #19115 closed

[2022-11-28 20:44] dgozman commented on #19072
@darabos Text content on the web generally includes hidden text as well. Perhaps you want the [`useInnerText` option](https://playwright.dev/docs/test-assertions#locator-assertions-to-have-text-option-use-inner-text) that would take the visibility, and more, into account?

[code]

[2022-11-28 20:46] pavelfeldman commented on #19114
Could you share an example we can use to reproduce this problem?

[2022-11-28 20:48] dgozman commented on #19073
How do you mark tests as skipped? If you are using top-level syntax and not inline syntax, perhaps we can implement @unlikelyzero's proposal.

[code]