[2022-10-14 09:00] IdreesSamadi opened #18089 "[Question] why does the app refresh when clicking an element?"
It seems like whenever we click an element on a page it refreshes the app. The reason we don't want the app to refresh is that it resets the app state which we don't want to happen.

**Context:**
-  nuxt(`2.15.7`)
- single-page application
- playwright (`1.25.1`)
- Operating System: [Windows, Mac]
- Browser: [Chromium, Firefox]

We tried two different ways of clicking an element, both seem to have

[2022-10-14 09:11] sh0tal commented on #18056
@yury-s let me share my code then.

One note here is that i managed to find a workaround by not declaring the locators in the constructor, i just declared the new page inside the function and continue with the newPage instead of page from there.  But i would like to see how i can implement it using the locators in the constructor.

Initial page object model: (its a snip code), the problem is on th

[2022-10-14 09:21] Wilhop commented on #17179
I must add some additional data on this: 13.10.2022 Microsoft presented Playwright in Microsoft Ignite Playwright https://ignite.microsoft.com/en-US/sessions/ea19c293-7d8a-4218-8203-5af9528a091b?source=sessions

The presenters recorded tests. After recording, they instructed that one should refactor and remove all hardcoded URL's, which were expects toHaveURLs that were generated automatically. So

[2022-10-14 09:40] klarstrup commented on #18061
Let's make it happen then 🤙

[2022-10-14 09:54] surecloud-rwattie commented on #16638
@wodyjowski Thanks for your reply.

Yes I am running the tests locally and pointing to the selenium grid that is in the docker containers.

I don't know how the internals of this all works but surely if I'm setting this on the node then whatever uses this grid url inside the node container will think it's localhost:4444 which in fact would be the node not the hub

I appreciate that, I had previous

[2022-10-14 10:33] Watster69 commented on #16638
Ok so I had tried it before I responded previously and still had no luck. However now using your content for the compose file, I now have it working! I'm honestly dumbfounded as to what's different other than I'm specifying ports for the hub as 4442-4444:4442-4444 and 5555:5555 for the nodes.

On a side note the documentation for this should be updated because the information [HERE](https://playwr

[2022-10-14 10:57] #18085 closed

[2022-10-14 10:58] kamelbou commented on #18085
I will try, thanks a lot.

[2022-10-14 11:24] sjainr commented on #18014
Thanks for writing @yury-s.

- My idea is actually to trigger playwright tests via an API call.

- I am spawning a child process and running playwright tests inside it.

- And while doing so, I want the send some messages like data from the UI, etc.. from my playwright child process to my parent process i.e. my API so that I can send those messages in my API response which will be used by other se

[2022-10-14 12:47] lesha1201 commented on #14303
It would be nice to re-open this issue since it's a valid case where you need to transpile some packages from `node_modules`.

I have a UI-Kit built using `vanilla-extract` and it's published in a raw format (plain TypeScript) to leave the build step on the client side. In my project, I use some constants from the source code (e.g. constants for routes) in the E2E tests. If I import them from `ind

[2022-10-14 13:51] mxschmitt commented on #18080
You either need to escape it with backslash or you need to put it between quotes.

e.g.

`npx playwright codegen "https://www.playwright.dev?test=debug&test1=debug1"`

and

`npx playwright codegen https://www.playwright.dev\?test\=debug\&test1\=debug1`

This is how Bash handels CLI arguments.

Let us know if it works for you!

[2022-10-14 13:55] BeataKr opened #18091 "[Question] empty/initial har file generated after error code"
**Context:**
- Playwright Version: 1.27.1 (also checked with 1.23.0)
- Operating System: Windows
- Node.js version: v16.15.0
- Browser: Chromium

**empty/initial har after error code**

Situation is kind of simple - har file looks good only for test where we can meet on his way statuses with code: 200-204, in case of any call with error status (> 204 and <= 303) I can see only dummy har:
[code]
Re

[2022-10-14 13:59] mmdfaisal1 opened #18092 "[Question] How to have contents of `outputDir` and JSON report (`outputFile`) in the same folder?"
I have a question about `playwright.config`, specifically related to `outputDir` and the `outputFile` property of the json report.

[code]
I then use `resultsOutPutPath` in the following two places:

[code]

But when the test executes, it ends up creating two directories under `./results` Please see screenshot.

How can I have just one directory with the JSON report and the contents of the `output

[2022-10-14 14:04] BeataKr commented on #18091
I just moved routeFromHAR into test and collected all calls (from before* hook as well)...

[2022-10-14 14:27] syed-sapaad commented on #16990
browser._newContextForReuse: Target closed

Execution log

navigating to "about:blank", waiting until "load"

[2022-10-14 14:45] mxschmitt commented on #18018
The same happens for the trace viewer in the actions tab.

[2022-10-14 14:52] francopcwolfram opened #18094 "Why does the firefox application.ini says CodeName=Nightly?"
I knew that back in the earlier versions of playwright, you were using the nightly version instead of the stable version. Now I see that you started using the Firefox stable version (https://playwright.dev/docs/browsers#firefox). However when I navigate to my browsers installation folder I found this in the firefox application.ini:

[code]

I am a bit confused whether you are using the nightly ver

[2022-10-14 14:57] sand4rt commented on #18073
Not sure if possible but it would be great if we don't have to think about awaiting at all. Maybe with a retry mechanism?
Made a simpler version of the problem:

[code]

[code]

[2022-10-14 15:37] #18067 closed

[2022-10-14 15:39] #18080 closed

[2022-10-14 15:42] yury-s commented on #18081
Looks like the canvas size may differ from one run to another. Please share a minimal reproducible example so that we could repeat it locally, there is not much we can do without a repro.

[2022-10-14 16:02] yury-s commented on #18082
Shouldn't all the fields inside `formdata` be just top level fields on `multipart`?

What is the text of the error message?

Try recording a [trace](https://playwright.dev/docs/trace-viewer-intro) to see what headers / data playwright sends and compare that to what postman sends. Perhaps they send an extra header or the body is formatted differently. We need to know what the difference between the

[2022-10-14 16:06] yury-s commented on #18083
The log is self-explanatory: the locator is successfully resolved but you expect the element to be [visible](https://playwright.dev/docs/actionability#visible) while it is not (within 5s).

[2022-10-14 16:06] #18083 closed

[2022-10-14 16:16] #18088 closed

[2022-10-14 16:19] yury-s commented on #18089
You click on a link an the page navigates to the link, the same would happen if a human clicked on the same element, wouldn't it?

[2022-10-14 17:15] poziminski commented on #10143
Here's a helper script for clearing cookie by name in Playwright.

[code]

[2022-10-14 18:00] yury-s commented on #18092
Today the config file is loaded multiple times - once in the test runner and then in each of the worker processes running the tests. So each of them will have a different timestamp. The json report is written from runner process whereas trace files are written from the workers, so you'll have separate directory for each of the workers. To use the same dir in each test run you can save the timestam

[2022-10-14 18:21] yury-s commented on #18094
We do build firefox based on sources of the stable version. The executable that we ship is what build ourselves in our build farm though, we use roughly the same configuration for the builds based on the beta sources of firefox which is likely why you see `CodeName=Nightly` in the .ini file. What actually matters is the version in that file.

Does such CodeName cause any trouble?

[2022-10-14 18:45] just-Bri commented on #13090
Getting the `Target closed` no matter what kind of selector/locator I use when running tests via a GH Action. Not sure if strictly related but figured I'd drop a comment in here.

[2022-10-14 19:16] hammondreg opened #18096 "[BUG] Playwright throws "Unknown platform" from standard Android app using .NET Standard 6.0"
**Context:**
- Playwright Version: [what Playwright version do you use?] 1.27.1
- Operating System: [e.g. Windows, Linux or Mac] Windows 11
- Node.js version: [e.g. 12.22, 14.6] No idea
- Browser: [e.g. All, Chromium, Firefox, WebKit] Chromium
- Extra: [any specific details about your environment] Visual Studio 2022 - Android Application template using .NET Standard 6.0

**Code Snippet**

namespac

[2022-10-14 19:21] hammondreg commented on #18096
Should have put

using Microsoft.Playwright;

at the top of the code snippet ..

[2022-10-14 19:23] janostgren opened #18097 "Set config file in Visual Code Extension"
I want to be able to set configuration file.
It will make possible to work with several configuration inside A VS Code project

[2022-10-14 19:36] AnythingButNormal opened #18098 "[Feature] Please add time and date stamp to Playwright Reporter of when the test execution occured"
Let us know what functionality you'd like to see in Playwright and what your use case is:
           This issue relates to #15258 which was recently closed, but unfortunately not solved.  My DevOps team and I are working in Azure DevOps cloud. for a fortune 100 company. We have been researching solutions to export the results of Playwright Reporter out to Microsoft Teams (or Enterprise Outlook) wi

[2022-10-14 20:05] InduKrish opened #18099 "[Question] Restrict tests to run only specific envs like dev and qa env, but not in prod"
Hi All, is there a way to restrict tests to run only specific envs like dev and qa env, but not in prod?
i run all my tests in docker and pass URL like this.

I have few tests that i want to run only when i pass dev/ qa urls, but when i pass prod url. Can you please advise how to achieve this behavior?

To Run tests in dev:
docker run -e PLAYWRIGHT_BASE_URL="http://ssss.dev.com/" -e RUNMODE="playw

[2022-10-14 20:31] SgtPooki commented on #6037
Not needing any action from playwright here, but FYI that playwright, service workers, and iframes caused me a lot of pain in https://github.com/ipfs-examples/js-ipfs-examples/pull/527 and I had to remove the iframes entirely to get CI to pass in github CI. If anyone knows a solution that I missed, please update me =)

[2022-10-14 20:39] caenguidanos commented on #18073
Exactly, but I wouldn't know how to do it looking at the complexity of the playwright-test source code.

The simplest solution I can think of is:

[code]

And add a payload to the event if you need it.

[2022-10-14 20:54] mmdfaisal1 commented on #18092
Thank you, the above is working. I am even more glad to have gotten a better understanding of how the config file works

[2022-10-14 20:54] #18092 closed

[2022-10-14 21:04] yury-s commented on #18099
There are several ways you can achieve that, you can pick one depending on your preferences and constraints, e.g.

1. One way to achieve that would be to have separate [projects](https://playwright.dev/docs/api/class-testproject) for the tests that should run in dev/qa env and in the prod. Then you can pass the names of the projects that you want to execute as command line argument:

[code]

2. Yo

[2022-10-14 21:21] yury-s commented on #18014
The code above tries to open IPC channel between  `my-server` and playwright test runner process, each test runs in a worker process spawned by the test runner process. So even if you open an IPC channel to the test runner you'll still have to route the messages to workers. To avoid all of that it'd be easier to establish a connection (IPC or even http?) between the tests and `my-server` directly.

[2022-10-14 21:21] #18014 closed

[2022-10-14 21:31] yury-s commented on #18056
Changing the code like this should also work (this is roughly what I meant by creating POM for the new page):

Split paywallTopUpCC into two parts and make it return POM for the popup page:
[code]

Then in the test call fillOutCreditCardData on the popup's POM:
[code]

[2022-10-14 21:31] #18056 closed

[2022-10-14 22:02] ramam-v commented on #14685
@azad-derakhshani-GS were you able to address this issue on your side. I am seeing a similar issue at my end. I have react app with 84 input fields where the execution is failing due to time out or pending operations. I am also noticing that few of the step results are captured under AfterHook  step as you have experienced. I dont see any issues with the first 70 fields but the issue crops up afte

[2022-10-14 22:14] yury-s commented on #18070
The inspector is not supposed to show up in that case. You can set a regular breakpoint in VSCode and do [step-by-step debugging](https://marketplace.visualstudio.com/items?itemName=ms-playwright.playwright#debug-step-by-step-explore-selectors). I'm closing this issue as the original problem was resolved. Please file a new one with the repro if you experience issues with the debugger.

[2022-10-14 22:14] #18070 closed

[2022-10-14 22:22] yury-s commented on #18073
You can already achieve that with [poll](https://playwright.dev/docs/test-assertions#polling):

[code]

Unfortunately there is no generic mechanism that would automatically wait for the desired effects of a user action. Closing this issue as there are several solutions for the problem.

[2022-10-14 22:22] #18073 closed

[2022-10-14 22:27] yury-s commented on #17932
Closing per the response above, there is no further action planned on playwright end. @Torsteinws please file a bug with VS Code to have them fix it.

[2022-10-14 22:27] #17932 closed

[2022-10-14 22:27] yury-s commented on #17950
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-10-14 22:27] #17950 closed

[2022-10-14 22:29] yury-s commented on #18019
Closing per the response above, feel free to open a new issue if it doesn't work.

[2022-10-14 22:29] #18019 closed

[2022-10-14 22:29] smokir commented on #15684
@wentokay could you please share some configuration examples? I've been doing the same thing (chrome extension on v3 manifest) and using `playwright` with `jest-playwright-preset` for e2e testing. But got no luck mocking API requests coming from a service worker.

[2022-10-14 22:30] ambiguous48 commented on #18041
I'm not really sure how to do that. Here is an example to further illustrate the scenario:

Playwright started the servers successfully, completed the test, and exited. However, it failed to kill the servers it started on ports 3000 & 3002. Ideally, playwright should kill those process after the tests are done. I think this is bug.

Meanwhile though, I wouldn't mind writing the logic to kill those

[2022-10-14 23:13] ramam-v opened #18101 "[BUG]"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Windows 10
- Node.js version: 16.16.0
- Browser: Edge

## System:
 - OS: Windows 10 10.0.19042
 - Memory: 4.46 GB / 15.78 GB
## Binaries:
 - Node: 16.16.0 - C:\Program Files\nodejs\node.EXE
 - Yarn: 1.22.19 - ~\AppData\Roaming\npm\yarn.CMD
 - npm: 8.18.0 - C:\Program Files\nodejs\npm.CMD

**Code Snippet**

[code]

**I have a react app w

[2022-10-14 23:31] yury-s commented on #18101
The test you attached passes just fine for me in 15s. It may take much longer on a less powerful machine.

You need to increase timeout even further to let the test enough time to pass. The performance may very between different machines so you'd normally want to add extra time to the test average duration. You can either increase the global per test timeout in the config or if it's just one long

[2022-10-14 23:31] #18101 closed

[2022-10-14 23:37] yury-s commented on #17976
The popup looks like macOS native window while you mentioned that you run the test in the docker container if I understood correctly. If playwright runs inside the container it should no be able to trigger such dialog in the host OS, can you tell us more about how you run the test and how the docker container is involved into the process?

[2022-10-15 03:56] CodingProgrammer opened #18102 "[Question] How to record video on Mac system"
Mac : Apple M1 Pro
version: 12.6

I created a context with dir, but it did not work and there is no dir named "videos" created and there are no video recordings.

[code]

[2022-10-15 05:48] moshikd commented on #18016
i also created new project and still i get this issue.
 this is the project:
[playwrightTEST.zip](https://github.com/microsoft/playwright/files/9791254/playwrightTEST.zip)

according to the documentation (on loading chrome extension) :
<img width="1247" alt="monosnap 15 10 22" src="https://user-images.githubusercontent.com/76883800/195970674-903052ab-dfac-4440-b03d-e62bcda3c9da.png">
there is no o

[2022-10-15 09:07] leotg130 commented on #12857
@WebWizhard We were using PW (Playwright) in the global config, to generate the URLs we need to test. Using PW in the global config doesn't work anymore, you can only use PW in the actual tests.

Now we use PW separately, before tests, to generate a JSON file and then we use that JSON file in PW tests, to generate the list of tests.

I'm not exactly sure what it is that you're trying to achieve, b

[2022-10-15 09:57] vitalics opened #18103 "[Feature] JS. Abort Controller support"
As a part of node.js 16. Abort signal stable feature. I would like to propose [Abort signal](https://nodejs.org/dist/latest-v16.x/docs/api/globals.html#class-abortsignal) and [Abort Controller](https://nodejs.org/dist/latest-v16.x/docs/api/globals.html#class-abortcontroller) support.

## Why?
Abort controller can stops request/browser/page/context and perform cleanup job internally (for reduces po

[2022-10-15 10:41] NicKolai48 opened #18107 "[BUG]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Visual Studio Code version: [e.g. 1.65]
- Playwright for VSCode extension version: [e.g. 1.2.3]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! P

[2022-10-15 10:42] NicKolai48 commented on #18107
https://github.com/microsoft/playwright/issues/18107#issue-1410125640

[2022-10-15 10:42] #18107 closed

[2022-10-15 12:39] tsvetan-ganev commented on #15951
@pavelfeldman, I think @AlexDaniel's point is absolutely valid. I expect the docs to contain a real-world example of a custom matcher that works with a `Locator` reference and is retry-able like the Playwright matchers that come out of the box. It seems that the functions used internally by the library to create retry-able matchers aren't exposed to the outside world as part of the public API.

At

[2022-10-15 15:21] pavelfeldman commented on #18103
We are not interested in supporting the abort signals.

[2022-10-15 15:21] #18103 closed

[2022-10-15 15:23] cma-skedulo commented on #14759
another option is to override storageState when creating a new login page inside test.beforeAll:
[code]

[2022-10-15 16:15] mtlynch opened #18108 "[BUG] Playwright fails to load traces in CircleCI"
**Context:**
- Playwright Version: mcr.microsoft.com/playwright:v1.26.0-focal
- Operating System: Linux (on CircleCI)
- Node.js version: v16.17.0
- Browser: Chromium
- Extra: CircleCI

## System:
 - OS: Linux 5.4 Ubuntu 20.04.5 LTS (Focal Fossa)
 - Memory: 14.47 GB / 16.01 GB
 - Container: Yes
## Binaries:
 - Node: 16.17.0 - /usr/bin/node
 - Yarn: 1.22.19 - /usr/bin/yarn
 - npm: 8.15.0 - /usr/bin/

[2022-10-15 18:00] cmeyer001 opened #18109 "Does Playwright support .net framework version 4.8? [Question]"

[2022-10-15 18:45] tamusjroyce commented on #3146
seems like support for SIGHUP and SIGBREAK is supported in libuv. So opened a request inquiring about this effort above. https://github.com/denoland/deno/issues/16298. It may not be a solution to get this running all the way. But at least a step.

[2022-10-15 19:28] lino-levan commented on #3146
According to https://github.com/denoland/manual/issues/408, it looks like they are rewrite the manual from scratch. They do agree that it is confusing.

Also can we get this reopened? This seems to clearly be an active thread.

[2022-10-15 19:55] lughino opened #18110 "[BUG] Playwright run in docker aws lambda break lambda with cryptic error 254"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Linux ubuntu 20.4
- Node.js version: 16.17.1
- Browser: Chromium
- Extra: Run in docker using the suggested image `mcr.microsoft.com/playwright:v1.27.1-focal`

I'm trying here as you folks may have more clue than me if this is a Playwright specific or not.
I built a docker image using the suggested base image `mcr.microsoft.com/playwrig

[2022-10-15 23:58] jameskip commented on #18020
Would `isVisible()` be better for this?

[2022-10-16 07:26] nikhilgupta1789 opened #18112 "[Feature] Should not skip test cases if one test case failed when running sequentially"
Is there a way to prevent playwright from closing the browser context when one test fails inside a test.describe block? I have multiple tests inside the test.describe and I want to continue running the rest of the tests after some test fails in the same  browser context.

I want to run the test cases sequentially but it shouldn't skip if one test case failed. What to do for this?

Every time invok

[2022-10-16 16:23] mxschmitt commented on #18109
Yes it does, if you have concrete scenarios which don't work, please provide a reproduction in form of a repo to us.

[2022-10-16 19:35] atlowl commented on #18005
@jfgreffier, yep - i do actually like that.
I see your point about being intentional not to provide a diff file when they are different sizes. I used a fixed view port to try and get around that issue.
Guess i can close this as being worked on?

[2022-10-16 22:03] enrialonso commented on #18110
Some time ago I built this you can look and try to test if work for you

[https://github.com/enrialonso/aws-lambda-playwright-python](https://github.com/enrialonso/aws-lambda-playwright-python)

[2022-10-16 22:26] enrialonso opened #18115 "[Question] How to pass a policies.json to firefox launch"
Hi! I need launch a firefox browser but with a somes policies.json. How can do this with playwright?

On Firefox you can create a `distribution` folder on the instalation path for Firefox and set the policies for the browser, [here speak about this](https://github.com/mozilla/policy-templates/blob/master/README.md#securitydevices)

I am test on Ubuntu 22 and my distribution firefox browser read th

[2022-10-16 23:26] DTHerrera opened #18118 "HTML to image with playwright-python"
Hello, When making a screenshot the image is generated with a gray section on the right side, is it possible to delete it or that it is not part of the image that is generated with the screenshot? (attached file with the image)

[ScreenShot_Playwright-python.pptx](https://github.com/microsoft/playwright-python/files/9796743/ScreenShot_Playwright-python.pptx)

if this is possible as it would be?

T

[2022-10-17 00:10] dreamchaser96 commented on #5992
Change browser from chronium to firefox and it will work

[2022-10-17 04:36] tamusjroyce commented on #3146
I would recommend keeping this closed. playwright is not actively working on a solution. deno itself will be responsible for that solution.

There may be further defects after deno does support playwright. I am wondering if reopening this then. Or a through a new defect.

[2022-10-17 04:48] IdreesSamadi commented on #18089
whenever I click on that element, the page doesn't refresh which is the expected behavior. when clicking, Nuxtjs/Vue just replaces the page content with the new content without refreshing the application. however, when I run the code snippet I mentioned above the application seems to refresh when navigating.

I'm expecting a similar behavior from Playwright, i.e no refresh when navigating.

when P

[2022-10-17 05:30] 205g0 commented on #1082
@dgozman or as @nicooprat suggested: could you give us some basic hints how to use `launchServer`? That'd be great, thanks!

[2022-10-17 06:38] moumita30 commented on #18082
![Captureuploadfile](https://user-images.githubusercontent.com/57482730/196105933-2f8ac696-fb5f-4145-b378-3cdec844157e.PNG)

[2022-10-17 06:42] moumita30 commented on #18082
This is the postman request with the code in NodeJs-request mode given beside. The error message is a 500 Server error in debug mode from Vs Code. But when I am running the code from terminal , it is giving no such file or directory. Unfortunately unable to capture trace even if Trace is on in the config file and also running the test file with --trace on. I think, what you said is correct , may b

[2022-10-17 07:05] jfgreffier commented on #18005
Yes, feel free to close it since you have a workaround. In addition, this is not a bug as it works as intended.

[2022-10-17 09:18] srikantyasam commented on #17987
Hi Playwright Team , @pavelfeldman,

 Can I expect any response/solution/workaround on this issue please??

[2022-10-17 09:22] sterschl opened #18119 "[BUG] Test execution in Webkit is very slow"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Windows 10 or Linux
- Node.js version: 16.14.0
- Browser: WebKit

**Describe the bug**

Generally in all tests, it can be observed that the execution in the webkit browser is significantly slower than in chromium, for example.

Running 20 tests in our application takes 3 minutes in chromium. The same tests take 11 minutes to run in webk

[2022-10-17 11:17] Kadirdan94 commented on #18083
@yury-s {timeout: 20000} я поставил timeout на 20 секунд , но все равно ошибка не изменилась

[2022-10-17 12:13] ppshobi opened #18121 "[BUG] input text field goes empty after filling in firefox"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Linux/Mac
- Node.js version: 18
- Browser: [Firefox]
-

## System:
 - OS: macOS 12.2.1
 - Memory: 87.73 MB / 16.00 GB
## Binaries:
 - Node: 18.6.0 - /opt/homebrew/bin/node
 - npm: 8.13.2 - /opt/homebrew/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash

**Code Snippet**
[code]

## The bug

![ezgif-5-a95a79f173](https://user-images.githu

[2022-10-17 12:38] testgitdl commented on #17766
Tested on 1.28.0-alpha-oct-17-2022 and my problem is fixed https://github.com/microsoft/playwright/issues/17614
Thank you!

[2022-10-17 12:45] slavaGanzin commented on #10455
@pavelfeldman Hi there, so is there any way to host trace viewer on my own infrastructure?

Can I just serve trace folder with nginx, for example?

[2022-10-17 13:06] mxschmitt commented on #17809
I can repro on 1.27 which is already in the bug tracker for https://github.com/microsoft/playwright/issues/9840:

[code]

[code]

tries to access to access the frame here:

https://github.com/microsoft/playwright/blob/bac6df30e0b941c2090b938b7ca1028ff4898450/packages/playwright-core/src/server/frames.ts#L211

but it's null, since before another `Page.navigationCommitted` to about:blank happened wh

[2022-10-17 13:38] Shanmuktej commented on #18047
Thanks @yury-s for the workaround, but in this approach the video will be attached to the failed test only.
If the tests - Google & Bing & Yahoo are run, the video of combined feature will be added to the Bing Test if it failed.
![image](https://user-images.githubusercontent.com/62170837/196191567-dcbddc36-855f-4d1c-b326-10a8afa62219.png)
But the traces and screenshots are working as expected by a

[2022-10-17 14:05] NikkTod opened #18122 "[BUG] Playwright does not recognize the following xpath //*[name()='use']//@*[contains(., 'edit')]"
- Playwright Version: 1.26.0
- Operating System: Windows
- Browser: Chromium

I have the following html

[code]

and when pasting the following xpath in the chrome devtools I receive elements returned:
[code]

But when running the test, playwright is not able to find any element. I also tried with the Inspector and put the same xpath within the explore field, but nothing was returned.

Seems that

[2022-10-17 14:55] pavelfeldman commented on #18097
This just needs a doc - you can already specify the config in the 'Run' and 'Debug' drop downs in Testing sidebar.

[2022-10-17 14:59] pavelfeldman commented on #17251
There is a lot happening in your custom fixtures, is there a simpler repro we could use?

[2022-10-17 15:11] pavelfeldman commented on #17804
I think we are on the same page now.

In terms of actionability on this bug, configuring aliases is somewhat a mess in the Node land: different bundlers will use different config files for that, they won't respect the tsconfig's ones. In the end every framework ends up introducing its own config. Here is an [example](https://divotion.com/blog/how-to-configure-import-aliases-in-vite-typescript-and-

[2022-10-17 15:24] royteeuwen commented on #9199
+1

[2022-10-17 15:24] sanderlenaerts commented on #9199
+1

[2022-10-17 15:57] pavelfeldman commented on #17903
We need more information to act on this report. As long as we can't repro it, it is unlikely with can make progress with it. Allow me to close it, but please file a new one and link to this issue when you get back to it!

[2022-10-17 16:06] yury-s commented on #18082
I think you need to change the parameters as follows to match postman structure:

[code]
If it doesn't work, can you capture the request on the server side to see what it actually gets in case of postman?

[2022-10-17 16:09] yury-s commented on #18020
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-10-17 16:09] #18020 closed

[2022-10-17 16:16] athaissen opened #18125 "[Feature] - Polling for Python"
I will need to do something like this :

[code]

Refresh a page repeatedly until expecting a particular element.

I did not find in the doc how to do it except like this

Thanks 🙏

[2022-10-17 16:21] kilted-andres commented on #16544
hey @bibinmohana
could you share functional your javascript or typescript code here?

[2022-10-17 16:24] dgozman commented on #18110
@lughino Not really sure how we can help here. The error message does not ring the bell unfortunately.

[2022-10-17 16:25] yury-s commented on #18016
The test passes for me locally in 9s, perhaps you just need to increase the timeout?

[code]

The difference may be that you have some extension loaded unconditionally due to Chrome policy. Can you go to chrome://extensions and see if there are any extensions in the browser launched by playwright? Can you also try running the test in headless mode and see if it still fails?

Someone recently repor

[2022-10-17 16:32] yury-s commented on #17968
We need a reproducible example that we could run locally to make this report actionable. Please file a new issue with a repro and link it to this one.

[2022-10-17 16:32] #17968 closed

[2022-10-17 16:32] #17983 closed

[2022-10-17 16:33] yury-s commented on #18021
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-10-17 16:33] #18021 closed

[2022-10-17 16:34] yury-s commented on #18026
Closing per the response above, feel free to open a new issue if it doesn't work.

[2022-10-17 16:34] #18026 closed

[2022-10-17 16:39] yury-s commented on #18076
Closing as part of the triage process. We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-10-17 16:39] #18076 closed

[2022-10-17 16:40] yury-s commented on #18081
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-10-17 16:41] yury-s commented on #18099
Closing per the response above, feel free to open a new issue if it doesn't work.

[2022-10-17 16:41] #18099 closed

[2022-10-17 16:55] mastrzyz opened #18126 "[BUG] "Tracing stop" is taking a very long time (Longer than 5 minutes)"
**Context:**
- Playwright Version: 1.27.0
- Operating System: Windows
- Node.js version: 16.13.0
- Browser: Edge
- Extra: [any specific details about your environment]

**Code Snippet**

We are calling the `tracing.stop()` method at the end of our test and it is hanging in `await tracingContext.stop({
          path: `${this.baseLogDirectory}/playwright`,
        });`

[code]

**Describe the bug**

[2022-10-17 16:57] theonesmitty commented on #5017
Has anyone slayed this beast?  What if the App Proxy uses MFA (Phone auth)?  how can we capture logon state for unattended use?

[2022-10-17 16:59] yury-s commented on #18094
We should change that to something that contains 'Playwright' in it to make it clear that this is a custom build.

[2022-10-17 17:07] francopcwolfram commented on #18094
See this is the default `application.ini` that you get when you download firefox for linux from their site:

[code]

[2022-10-17 17:33] yury-s commented on #18072
This might have worked without escaping a while ago (a year or so) but that was a just a side effect of another bug. You currently have to escape the backslash `\\` to make it work on win. Closing this issue as there are no plans on changing this.

[2022-10-17 17:33] #18072 closed

[2022-10-17 17:38] dgozman commented on #18108
@mtlynch Unfortunately, this cannot be fixed on the Playwright side. We need a Service Worker for the trace viewer to work properly, and Circle CI puts all resources behind a redirect. For example:

[code]

If there is a way to open Circle CI artifacts directly from `https://circleci-tasks-prod.s3.us-east-1.amazonaws.com/...` location (it seems like it would need some authentication), things shoul

[2022-10-17 18:10] cmeyer001 opened #18128 "Can the location of the .playwright folder be an optional parameter to point to an alternate location?"
We consume playwright as a library for multiple automation projects. Many end-users have multiple automation projects installed on their desktop. It would be nice to have an optional parameter that allows us to point to a central location for the .playwright folder so that we don't need to have this 70mb folder installed under each project folder.

Currently this folder has to be in a specific loc

[2022-10-17 18:14] toannguyen83 commented on #18072
I see thanks @yury-s  @pavelfeldman . The problem is the workaround to add escape backslash won't work with my current workflow since in VS Code, when right click on a file and select "Copy Path" or "Copy Relative Path", it will not include the escape backlash. It will be a chore to correct all the backlash with the escape character. Here's my reason for running test this particular way:
- guarant

[2022-10-17 19:10] moshikd commented on #18016
@yury-s
I looked into it again and i increased the timeout but still same issue.

the issue is not related to the extension - i removed the extension code and the issue still occur. in addition, i looked into other extension , just in case , but they are not loaded on playwright.

the issue occur also on headless mode.

the issue does not occur when trace is set to off.

what else can be the issue

[2022-10-17 19:12] DTHerrera commented on #18118
Ok, Thank you for directing you to the right forum

[2022-10-17 19:12] #18118 closed

[2022-10-17 19:49] dgozman commented on #18115
@enrialonso You can [specify user preferences](https://playwright.dev/docs/api/class-browsertype#browser-type-launch-option-firefox-user-prefs) instead.

For example, to block `about:config`, place the following in the `playwright.config.ts`:

[code]

If you launch browser manually:

[code]

Let me know if this helps.

[2022-10-17 20:05] dgozman commented on #18119
@sterschl Maybe your app is just slower in Safari? Could you please share a repro with us? Also, I see `Operating System: Windows 10 or Linux` - is it slow on both platforms or just one?

In general, try [recording a trace](https://playwright.dev/docs/trace-viewer-intro#recording-a-trace) and see which operations are slow. Unfortunately, we do not provide any performance recordings inside the page

[2022-10-17 20:09] dgozman commented on #18121
@ppshobi If there is no javascript here at all, this could be Playwright or Firefox bug. Unfortunately, without a repro that we can run locally, it's almost impossible to help you.

That said, this usually indicates a problem with the page itself. Playwright is very fast, and so it exposes possible timing issues. For example, if you open your site while emulating 3G network in Developer Tools, and

[2022-10-17 20:13] dgozman commented on #18122
@NikkTod Playwright selectors only work with elements, and this XPath seems to target an attribute. Let us know what you are trying to achieve, and we'll help you do it in some other way.

[2022-10-17 20:15] dgozman commented on #18125
@athaissen This seems like a perfectly valid solution. Is there a problem with it? Do you have a better alternative in mind?

[2022-10-17 20:26] ppshobi commented on #18121
Thanks for the reply. I can try to put up a repo with this problem. The thing is that this problem only appears in firefox. I had around 40 test runs in our Jenkins pipeline and only firefox had this issue of flakiness

[2022-10-17 20:34] yury-s commented on #18041
Playwright sends -SIGKILL signal to the web server process. It should be sufficient to terminate the entire process subtree. Normally this signal cannot be caught or ignored but your web server manages to survive it and keeps running after the playwright exited. You should check what happens with SIGKILL sent to your server process.

Before playwright exits you should be able to reach playwright p

[2022-10-17 21:07] enrialonso commented on #18115
@dgozman thx for the quick reply but I have special interest on policies, this example for the about configuration.

For example for firefox we can't put a security device for authentication, the method for load programaticaly the security device is put then on the policies. In this [link](https://github.com/mozilla/policy-templates/blob/master/README.md#securitydevices) you can look the config of

[2022-10-17 21:26] dgozman commented on #18115
@enrialonso It is not possible to provide `policies.json` to Playwright today. I'll leave this issue open as a feature request.

[2022-10-17 21:43] Addison-Dalton opened #18133 "[Question] How to properly intercept a POST request's response?"
Hello!

I'm trying to setup a fixture that will automatically listen for POST requests, record the `id` of the created item, and then delete that item as part of the fixtures clean-up phase.

What I'm running into it is it appears the code I have is inadvertently causing a second item to be created.

Here's the code, it's inside a fairly basic `base.extend...` fixture setup.
[code]
To be clear, I

[2022-10-17 21:44] azad-derakhshani-GS commented on #14685
@ramam-v As far as we could figure out, it was happening because the test timeout was too short, because the duration of the test timeout also has to cover the teardown.
To alleviate this, I [suggested](https://github.com/microsoft/playwright/issues/15019) moving the teardown timeout out of the test timeout. However, that approach was not approved so instead (iirc) the errror message was adjusted

[2022-10-17 22:06] andersoncorbellini commented on #11377
+1, this feature will be awesome for the community.

[2022-10-17 23:17] #18126 closed

[2022-10-17 23:20] dgozman commented on #18133
@Addison-Dalton Do not continue the route if you have already fetched it and call `route.fulfill()` instead.

[code]

Let me know if this helps.

[2022-10-17 23:52] mastrzyz commented on #18126
Appreciate it!!!!

[2022-10-18 00:08] richmar10 commented on #14419
Is there a way to combine html reports if we want to run isolated projects separately?

[2022-10-18 01:44] gajus opened #18137 "[Question] proxy.reload: net::ERR_ABORTED"
I am seeing this happening in our tests:

[code]

My theory is that the app is using `window.location` to change the location, which is somehow causing reload to fail.

The code that's failing is simply:

[code]

[2022-10-18 02:41] jw-star commented on #17408
@cfancc @rwoll  hello, have you built it, because the build is not just a dockerfile, I don't know how to build it

[2022-10-18 05:31] GunasriRangu opened #18139 "[BUG] File downloading in some random format not in specified format like pdf/csv"
**Context:**

Playwright Version: 1.22.2
Operating System: Mac
Node version: v16.17.1
Browser: Chromium

**Code Snippet**

test.only('Download Script', async ({ browser }) => {
  const context = await `browser.newContext({ acceptDownloads: true });
const page = await context.newPage();
await page.goto('url');
await page.locator("text= Submit ").click();
const [download] = await Promise.all([
  pag

[2022-10-18 05:34] Karlo5o commented on #17968
Sorry for late response. I have been experiencing this problem for few weeks, but suddenly it works just fine. Application wasn't change neither the version of Playwright, I guess it could have been some issue with deploy server. But thanks for response :)

[2022-10-18 05:47] boris-meerovich-sp commented on #17881
Thanks for the response.
Any chance you have any examples about forwarding credentials via APIRequestContext?

[2022-10-18 06:32] oskarkivra commented on #14303
@lesha1201 I agree; there is plenty of use cases, and node_modules do not only contain javascript code these days.

I can repone this and let @pavelfeldman and the rest of the team decide if this should have more attention or not.

[2022-10-18 06:58] mxschmitt opened #18140 "[internal] roll firefox to 106"
106 goes stable on 2022-10-18.

[2022-10-18 06:58] mxschmitt opened #18141 "[internal] roll firefox-beta to 107"
107 goes beta on 2022-10-18.

[2022-10-18 07:22] KotlinIsland commented on #15773
I've recently tested this, and even with `caret: 'initial'` I'm not seeing any change. @dgozman Do you think there could ever be any now approach that could improve the responsiveness/accuracy of screenshots?

[2022-10-18 09:25] speray opened #18143 "[BUG] vscode extension fails to list any test if config file contains a console.log"
**Context:**
- Playwright Version: 1.20.1
- Operating System:  Windows
- Node.js version: 14
- Visual Studio Code version: 1.72.2
- Playwright for VSCode extension version: 0.2.13

**Code Snippet**

`console.log('hello')`

**Describe the bug**
In vscode, the playwright extension isn't listing any test in the "Testing" section if the config file executes a console.log

After investigations:
Our pla

[2022-10-18 09:56] fj201314 opened #18144 "How to add visual effects to the click and other operation events of plyawright, such as adding a mouse icon"
Now the automated interface is not displayed with mouse like icons. It is difficult to understand what you are doing if you have not seen it yourself

[2022-10-18 09:57] mike2339 commented on #18056
Can you tell more info about this popupobjectfillcreditcarddata

[2022-10-18 09:57] fj201314 commented on #18144
Now the automatic interface does not display any mouse icon. Except the owner of the use case, it is difficult for others to keep up with what the page is doing

[2022-10-18 10:04] sh0tal commented on #18056
@mike2339
I described it in more detail above.

[2022-10-18 10:09] sh0tal commented on #18056
@yury-s @mike2339
Now It seems to be working like a charm, maybe I did a mistake implementing it. Nonetheless thank you for the help :)

[2022-10-18 10:38] mooncater opened #18145 "[Question] `node ./my-script.ts` in the docs, does it work?"
On the the [Library page under Guides](https://playwright.dev/docs/library), there is an instruction that tells to run the following code:

[code]

I think `node` can't directly run a TypeScript file, can it?

[2022-10-18 11:17] UnderNotic opened #18147 "[Feature] Automatic screenshot in .NET"
Is there a way to have automatic screenshot in .NET on failure as it is possible in typescript world?

[2022-10-18 11:25] nikhilgupta1789 commented on #18112
Sure @dgozman I have a scenario please have a look into this.

[code]
Configuration in playwright.config.ts file as fullyParallel as false.
If you look into above scenario I want to login only one time in every test script in beforeAll hook, then I wanted to carry out all subsequent test cases with the same page instance in case of any failure in the test case so in that way we are saving a lot of

[2022-10-18 11:40] mateokurti commented on #17337
@boldchains Kind of out of topic, but would it be possible to share how you've organised `helpers.TestHelpers` in order to manage `storageState`?

[2022-10-18 11:48] boldchains commented on #17337
Hi @mateokurti , here you go!
Hopefully, that can be helpful to you.

[code]

[2022-10-18 13:09] dgozman commented on #18137
@gajus Your theory seems legit. I'd recommend [recording a trace](https://playwright.dev/docs/trace-viewer-intro#recording-a-trace) and looking for "navigated to <url>" in the logs around `page.reload()` to see what's going on.

[2022-10-18 13:10] dgozman commented on #18139
You have to save the download to where you'd like. Take a look at the [downloads guide](https://playwright.dev/docs/downloads). Let me know if you have more questions.

[2022-10-18 13:47] Addison-Dalton commented on #18133
@dgozman Hey, thanks for the suggestion. I gave this a try, but this is the error I got:

[code]

[2022-10-18 14:02] shuguang101 opened #18190 "[BUG]page.request.get() hangs with the timeout parameter"
**Context:**
- Playwright Version: [playwright==1.25.2]
- Operating System: [Mac]
- Python version: [python3.8.13]
- Browser: [Chromium]

**Code Snippet**

[code]

**Describe the bug**

This url "https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web//static/favicons/site.webmanifest" does not support range headers, so a request with the "Range: bytes=0-1" header will caused http request hang.

[2022-10-18 14:16] Addison-Dalton commented on #18133
@dgozman Ah! I tried this instead, and that seems to be working for now.

[code]

[2022-10-18 14:31] dgozman commented on #18144
Duplicate of #1374.

[2022-10-18 14:31] #18144 closed

[2022-10-18 14:33] #18133 closed

[2022-10-18 14:35] Christian-E commented on #18119
I am a colleague of @sterschl and want to provide some further information. The operation system we use is Windows 10 on our development machines and Linux in CI - but that doesn't change anything for us concerning this issue.
What we observe is that basically no matter what we do, it takes much longer in webkit then it takes in chromium.

What we would like to know is, if that is to a certain deg

[2022-10-18 15:31] dgozman commented on #12829
We recommend a separate `tests/tsconfig.json` file in the tests directory that will be automatically picked up by Playwright. [See documentation](https://playwright.dev/docs/test-typescript#tsconfigjson)

[2022-10-18 15:45] MesfinMT opened #18151 "When my test run I want my chrome browser to open a zoom value of 80% automatically, currently it opens 50% by default. How can I setup this in playwright?"

[2022-10-18 15:49] dgozman commented on #15773
@KotlinIsland There's not much we can suggest here. Screenshots in the browser are asynchronous, complicated and time consuming, so there are no guarantees that it happens very fast, especially when your computer is under heavy load.

[2022-10-18 15:51] gajus commented on #18137
That appears to be indeed the case. What's the correct way to handle this?

Do I `try..catch` reload and retry or is there a better way?

[2022-10-18 15:56] dgozman commented on #18137
Depends on what your are trying to achieve. If the page navigates itself, perhaps you could just `await page.waitForURL()` and let it navigate to the final url? Try/catch and retry is also a fine solution.

[2022-10-18 16:01] gajus commented on #18137
In this case, the intent is to ignore what web app is attempting to do, and take user to a new page.

Prior to adding `page.reload()`, we had a race condition problem. To illustrate it:

[code]

The intent was to authenticate user and redirect to them to `/bar`.

However, what happens in practice, the polling mechanism of the app detects that the user was authenticated, and attempts to redirect th

[2022-10-18 16:02] dgozman commented on #18112
@nikhilgupta1789 I'd suggest to look into [reusing signed in state](https://playwright.dev/docs/auth#reuse-signed-in-state). This way, you can log in once, and then start each test with the logged-in state pretty fast. You'll achieve test isolation, so that errors in one test do not affect other tests.

If you insist on using a single page, even in the case of failures, which we strongly discourag

[2022-10-18 16:06] dgozman commented on #18137
I think the easiest would be to let the page redirect to `/home`, and then navigate to `/bar`. Something like this:

[code]

[2022-10-18 16:11] gajus commented on #18137
Where is the facepalm emoji when I need it.

Of course that makes the most sense.

Thanks.

[2022-10-18 16:11] #18137 closed

[2022-10-18 16:29] NICOGTZL opened #18153 "[Question] How can I h"
Hello, I'm trying to get this values but I don't find any method, since with xpath it doesn't work because the page changes from one category to another.

![1](https://user-images.githubusercontent.com/99368878/196488624-a7beb57f-c952-4bcc-acd8-020fbe510a65.PNG)

Thanks!

[2022-10-18 16:39] nikhilgupta1789 commented on #18112
Hi @dgozman for your first approach using reusing of signed in state and running test cases independently I tried running above example test cases with 2 workers making flag true for fullyParallel you will be surprised by seeing the difference in all the time invoking new browser instance or using signed in state with  using same page instance across the test cases and log in only one time. By run

[2022-10-18 16:57] yury-s commented on #18119
I can't reproduce it on linux (Ubutnu 22.04), here is the report I've got [report.zip](https://github.com/microsoft/playwright/files/9813310/report.zip) Chromium and WebKit are comparable, Firefox is a little slower. What's the linux configuration you ran it on?

[2022-10-18 17:14] MesfinMT commented on #18151
package org.example;

import com.microsoft.playwright.*;

public class Example {
  public static void main(String[] args) {
    try (Playwright playwright = Playwright.create()) {
      Browser browser = playwright.chromium().launch();
      Page page = browser.newPage();
      page.navigate("http://playwright.dev");
      System.out.println(page.title());
    }
  }
}

[2022-10-18 17:39] yury-s commented on #18119
Can't reproduce it on the same machine under Windows, here is the report:
[report-win.zip](https://github.com/microsoft/playwright/files/9813771/report-win.zip)

[2022-10-18 17:40] NikkTod commented on #18122
Hey @dgozman,

the whole line that was not working for me was like that:

page.locator("ta-table-row", new Page.LocatorOptions().setHasText("someText")).locator("xpath=//*[name()='use']//@*[contains(., 'edit')]").click();

Nevertheless by my request the devs on the project inserted some sensible class attributes for those elements, so that I can target them. We can close the ticket :)

[2022-10-18 17:43] AdrianMachado commented on #18076
Hi @yury-s I figured out the issue. It had to do with environment variables. I will leave my solution here for others who might have issues with Environment variables in Playwright component testing on Github Actions.

My setup was that I would access environment variables via `process.env`. This is problematic on Vite because [`process.env` is undefined](https://github.com/avkonst/hookstate/issue

[2022-10-18 18:06] ambiguous48 commented on #18041
I wasn't aware of that. Things make much more sense now. Thank you.

Fwiw, this seems to do the trick.

[code]

As for why the processes are not responding to the original SIGKILL, it _could_ be related to this `pnpm` issue but I'm not really sure. https://github.com/pnpm/pnpm/issues/2653

[2022-10-18 18:06] #18041 closed

[2022-10-18 18:14] kannanponmudi opened #18155 "[BUG]"
**Context:**
- Playwright Version: 1.27
- Operating System: Windows 10
- Node.js version: 18.11.0
- Browser:  All

**Code Snippet**
I am using playwright example from here https://github.com/microsoft/playwright/tree/main/examples/todomvc
**Executing with line number**
[code]
**Executing without line number:**
[code]
**Describe the bug**
I was trying to execute only one test from a spec file by me

[2022-10-18 18:27] Huluvu424242 opened #18156 "[Feature] make download timeout for browser binaries configable"
I would like to have an configuration item to config the timeout for the browser binary downloads:
![image](https://user-images.githubusercontent.com/1297475/196512932-732929d2-04aa-4a7a-8dc6-f984dc63e25f.png)

This is useful in cases of company networks in which the virus scan duration is swaying and sometimes the timeout is too short. So in an CI the build will broken and i must new build my app

[2022-10-18 18:54] #18122 closed

[2022-10-18 19:29] dtinth commented on #10132
With the "Show & Reuse Browser" in recent versions, I no longer have issues debugging Playwright tests. Given the new feature, I now find this feature request unnecessary and resolved. Thanks for the great work! 🙏

[2022-10-18 19:35] AlexDaniel commented on #10132
What's “Show & Reuse Browser”? Can you elaborate?

[2022-10-18 19:45] #17964 closed

[2022-10-18 19:48] InduKrish opened #18158 "[Question] how to verify if the data matches a specific format?"
<img width="1214" alt="Screen Shot 2022-10-18 at 2 45 30 PM" src="https://user-images.githubusercontent.com/113629123/196529146-a3108c62-b70a-4991-bb58-98f4f32c25f0.png">

i found a way to iterate the table and verify that the call value from each row is not null, and
I would like to also verify the table has the value that matches this format --> 07/06 0700 - 07/19 0700. (MM/DD 4 digits no)

Can

[2022-10-18 20:07] dgozman commented on #18158
@InduKrish You need to [create a locator](https://playwright.dev/docs/locators) that points to each cell (or to all of them), and then use [`expect(locator).toHaveText()`](https://playwright.dev/docs/test-assertions#locator-assertions-to-have-text) with a regular expression. Something like this:

[code]

Let me know if this helps.

[2022-10-18 20:34] InduKrish commented on #18158
1) [chromium] › tests

    Error: expect(received).toHaveText(expected) // deep equality

    - Expected  - 1
    + Received  + 1

      Array [
    -   /\d{2}\/\d{2} \d{4} - \d{2}\/\d{2} \d{4}/,
    +   "1",
      ]
    Call log:
      - expect.toHaveText with timeout 5000ms
      - waiting

I see an error when i used the above.

[2022-10-18 20:37] InduKrish commented on #18158
https://jestjs.io/docs/expect#tomatchregexp--string

can we use toMatch() with the regular expression like this? I was told to give this a try, Can you help how i should be using toMatch() in my scenario?

describe('an essay on the best flavor', () => {
  test('mentions grapefruit', () => {
    expect(essayOnTheBestFlavor()).toMatch(/grapefruit/);
    expect(essayOnTheBestFlavor()).toMatch(new Reg

[2022-10-18 21:42] Neha-test-dev opened #18163 "Cookie issue while trying to navigate and causing session timeout"
**What is your Scenario?**
The test has to navigate to purchase template and navigate to a different page to view the purchase. The page displays a session timeout issue after navigating successfully. It seems to be that the Playwright tool is probably not retaining the cookies.
**What is your public website URL?**
https://mailchimp.com/login
**What is your Playwright test code?**
[code]

**Steps

[2022-10-18 22:15] mmdfaisal1 opened #18164 "[Question] How to debug tests in VS Code (without Playwright Test extension)?"
I’d like to debug Playwright tests in VS Code (without using [Playwright Test for VSCode](https://marketplace.visualstudio.com/items?itemName=ms-playwright.playwright) the extension). I have the following `launch.json`

[code]

This works fine if I use the JavaScript Debug Terminal and command `npx playwright test testfile.ts`. But not able to debug from within VS Code itself (Run -> Start Debuggi

[2022-10-18 22:56] dgozman commented on #18164
@mmdfaisal1 I think you'll need something like this:
[code]
Let me know whether this helps.

That said, we highly recommend the extension, because it will make your life much easier.

[2022-10-19 04:07] dtinth commented on #10132
@AlexDaniel Check out this part of the release party video: https://youtu.be/NFLHA57a-so?t=141

[2022-10-19 04:44] mailtogagan commented on #17881
It would be great to have NTLM authentication support for HTTP proxy. In our case our Web application is having NTLM authentication hence all of our scenarios are blocked as of now.
I would appreciate if we can prioritize NTLM authentication support for HTTP proxy, in upcoming releases.

[2022-10-19 06:27] tsvetkovamaria commented on #7472
Also tried using codegen to capture drag and drop, it doesn't work on any of the places I've tried.

An example can be run on https://jqueryui.com/droppable/ to verify drag and drop is not recorded, and on https://jqueryui.com/slider/ to verify that slider dragging is not recoded either.

[2022-10-19 06:48] BharadwajShivam opened #18173 "[Question] How to get each log in separate single line"
**Actual Log format -**
[code]

**Expected Log Format -**
`2022-10-19 11:40:56.466                 INFO                      [lib/WebActions.ts:73]                      Clicked on 'Submit' button`

**Logger implementation -**
[code]

![Screenshot 2022-10-19 at 12 21 31 PM](https://user-images.githubusercontent.com/107381924/196617669-433cd704-b1d4-4fba-b4d1-9c9f1f1e5381.png)

[2022-10-19 07:53] Nagam-Naidu opened #18174 "[BUG] Not able to run Playwright test on firefox node on selenium grid"
**Context:**

**Summary:** [BUG] Not able to run Playwright test on firefox node on selenium grid

We have selenium grid with firefox node, when trying to run playwright test using pabot command it is failing with below
error.

**Error:**
`details = “Error: browserType.launch: Connecting to SELENIUM_REMOTE_URL is only supported by Chromium”`

**Command to run test:**
`pabot --processes 5 --testlev

[2022-10-19 08:25] AlexDaniel commented on #10132
@dtinth That doesn't help at all for anybody who is not using VSCode.

[2022-10-19 08:48] GP-QA commented on #16008
We currently have two projects, one with Electric for E2E tests and one with a browser for integration tests with mocked API calls. Because you currently can only have one global setup with playwright, we have two package.json files which contain the same dependencies. This is not handy and makes projects cluttered.  It would be great if this issue finally be picked up!

Thanks in advance,

Geoffr

[2022-10-19 09:05] dtinth commented on #10132
@AlexDaniel Right… I’ll reopen it for the people who do not use VS Code.

[2022-10-19 09:26] Iv3x opened #18176 "[BUG] Locator option hasText actually fails on browserstack on click() method"
**Context:**
- Playwright Version: [1.27.1]
- Operating System: [Mac]
- Node.js version: [14.6]
- Browser: [Chromium]
- Extra: [local and browserstack]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

This Locator actually works locally on my machine but throws an error on

[2022-10-19 10:15] Smrtnyk commented on #17811
@pavelfeldman sorry for the ping, but, do you have some thoughts about this?
In my last comment I have provided a minimal repro.
This is blocking us to update playwright as it breaks many tests on webkit (chrome and ff work properly).
It's just that we don't know why this inconsistency in behavior for webkit.

[2022-10-19 10:20] chandandanjo commented on #1443
Assume you only created one page (via browser context), but for some reason, new pages/tabs open. 
You can have a list of all the pages by : `context.pages`,
Now each element of that list represents a **<class 'playwright.async_api._generated.Page'>** object.
So, now you can assign each page to any variable and access it. (For eg. `page2 = context.pages[1]`)

[2022-10-19 12:03] costag1982 opened #18179 "[Question] What is the correct way to use fixtures based on the 2 implementations I have?"
Hi

I am using Playwrights fixture extension to add my own pages and test data.

I am fairly new to Playwright and have to versions that both work however I would love to know which of the options is correct or indeed if neither are:

Example 1:

[code]

Example 2:

[code]

Example 1 I am using the test scope for everything pages and data where as in example 2 I am using the test scope for pages a

[2022-10-19 13:37] VasanthEzhilkumar opened #18181 "Can i customize the code gen ? Like while recording can i download the code to the local folder ?"

[2022-10-19 13:49] Christian-E commented on #18119
In our CI environment (it's GitLab, but I don't think that matters) we run our playwright tests using a docker image that is heavily based on the official playwright docker image (`mcr.microsoft.com/playwright:v1.27.1-focal`). Today I did some further investigations to narrow our problems down.
In the end I removed all of our customisations and ran the mentioned tests using just the plain official

[2022-10-19 14:40] kblok opened #18183 "[BUG] Clicking on a hidden element shouldn't crash the browser"
**Context:**
- Playwright Version: 1.27
- Operating System: Mac
- Node.js version: [e.g. 12.22, 14.6]
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

Although clicking on a hidden element is not a valid action, The target shouldn't crash (see screenshot) if I try to do that.

![image](https://user-images.githubusercontent.com/2198466/196722469-6410e344-f933-4b5c-b475-4cf03172e

[2022-10-19 14:46] harry-gocity opened #18184 "Importing into test file causes Playwright to evaluate all js/ts in external module"
**Context:**
- Playwright Version: 1.27.0
- Operating System: Mac
- Node.js version: 16 LTS
- Browser: All

**Code Snippet**

I couldn't get it working in CodeSandbox but please see the reproduction [here](https://github.com/harry-gocity/playwright-import) (or try a [sandbox](https://codesandbox.io/s/github/harry-gocity/playwright-import))

1) run `npx playwright test`- the test should pass
2) unc

[2022-10-19 14:55] gabriel-finch-kr opened #18185 "[Feature] `baseUrl` aware `routeFromHar`?"
I love Playwright. Thank you all.
I'm setting up some tooling around the wonderful `routeFromHar` and was banging my head for a little bit trying to determine why my HAR wasn't being replayed in my CI pipeline. I finally realized (as the documentation states clearly) that "HAR replay matches URL and HTTP method strictly" and my organization's dynamic baseUrl use (varies depending on environment) w

[2022-10-19 15:06] mmdfaisal1 commented on #18164
Thank you @dgozman. The following worked

[code]

We could not get the Playwright extension to work in the past where Playwright was a Node project inside another Node project/repo. I will try again - both in that scenario and in the stand alone Playwright project (where I am sure it will work just fine)

[2022-10-19 15:06] #18164 closed

[2022-10-19 15:38] aslushnikov commented on #18140
Fixed!

[2022-10-19 15:38] #18140 closed

[2022-10-19 15:38] aslushnikov commented on #18141
Fixed!

[2022-10-19 15:38] #18141 closed

[2022-10-19 16:07] natalygoloborodko opened #18186 "[Question] When playwright installs browsers in the local folder it can't run tests on them and is still looking for binaries in default folder."
I have a project with cucumber-js + playwright + Typescript and cucumber-js is used as a test runner.
There is a need to install browsers into cloned repo locally and run tests on them.
But when I install them locally as it is described in official [documentation](https://playwright.dev/docs/browsers#managing-browser-binaries-1):
[code]
playwright still tries to look for browsers in a default fold

[2022-10-19 16:21] #17925 closed

[2022-10-19 16:26] mattoni commented on #4488
The issue with this is that simultaneous tests all run the extend independently, causing port conflicts attempting to set up multiple servers :(

[2022-10-19 16:48] #18186 closed

[2022-10-19 17:38] pavelfeldman commented on #17903
I confused this issue with another one, I now remember that you shared the repro offline with me.

[2022-10-19 18:26] #17179 closed

[2022-10-19 18:40] mxschmitt commented on #17809
I can verify that this issue is fixed on `npm i -D @playwright/test@next` or wait for 1.28.

Please try to repro on `@next` or wait for 1.28.

[2022-10-19 18:40] #17809 closed

[2022-10-19 18:40] mxschmitt commented on #9840
I can verify that this issue is fixed on `npm i -D @playwright/test@next` or wait for 1.28.

Please try to repro on `@next` or wait for 1.28.

[2022-10-19 18:40] #9840 closed

[2022-10-19 19:01] debs-obrien commented on #17831
should be added to revised selectors doc which is work in progress by @dgozman

[2022-10-19 19:23] kylecoberly commented on #4488
You could probably lift that socket server out of the function to keep the same reference for every call.

[2022-10-19 19:54] pavelfeldman commented on #18057
This is a current limitation of cross-process component testing. Read more at https://playwright.dev/docs/next/test-components#under-the-hood. We might consider alternative approaches, but for now that's what it is.

[2022-10-19 19:54] #18057 closed

[2022-10-19 20:03] pavelfeldman commented on #18077
Things work for me using exact import from your example.

 Note that since you do not specify "type": "module", you are running in the CJS mode, tsconfig has no control over the Node runtime. So your TS imports are converted into the requires. It also assumes that `test-utils.js` is a CJS file. You should pick the site you are on: ESM or CJS and be consistent with it.

[2022-10-19 20:05] #18018 closed

[2022-10-19 20:06] #18156 closed

[2022-10-19 20:14] dgozman commented on #18158
@InduKrish I think the following should work. No need for `new RegExp`:

[code]

[2022-10-19 20:16] dgozman commented on #18004
@dubpal Unfortunately, we cannot reproduce this issue. Perhaps the problem is in your network/firewall, so that browser is not able to load the url? Not sure how we can help.

[2022-10-19 20:17] dgozman commented on #18054
@dolkons Any chance for a repro?

[2022-10-19 20:20] dgozman commented on #18016
Could this be the same as #18126? If you could run under debugger and pause after the test while the trace file is being saved, perhaps we'll see what Playwright is doing?

[2022-10-19 20:30] dgozman commented on #18151
@MesfinMT Could you share a screenshot please? I am unable to reproduce zooming, so more details are needed.

[2022-10-19 20:32] anandhaprakash-mani commented on #10337
+1. I would use custom arguments to be passed to handle some browserstack related stuff.

[2022-10-19 20:39] drwpow commented on #18077
Yes we probably should change to `{ "type": "module" }` at the package level. But I’m still noticing a behavioral change where from `1.26` to `1.27` that same import either works or doesn’t. That seems like unexpected behavior? That’s more the issue here.

I do have workarounds such as using `require()`, or omitting the extension, that seem to work in `1.27`. But I guess I’m wondering _why_ the im

[2022-10-19 20:47] moshikd commented on #18016
@dgozman
i'm not sure i did it correctly.
 i run it on debugger and it was stuck on the following line -
![monosnap 19 10 22](https://user-images.githubusercontent.com/76883800/196799924-8b445f88-2f4e-46fc-891b-b64bd1892d36.png)
![monosnap 19 10 22](https://user-images.githubusercontent.com/76883800/196800769-c4212c61-9bc0-499d-8e5a-8236d2df812b.png)

i will be glad to assist if needed

[2022-10-19 20:51] dgozman commented on #18016
@moshikd You did the right thing, but this particular place does not help much. Out of curiosity, could you hover the `apiName`? Otherwise, try stopping a few more times, in the hopes we'll find a place that could be the culprit.

[2022-10-19 21:01] moshikd commented on #18016
@dgozman
maybe you meant this?
![Screen Shot 2022-10-19 at 23 59 35](https://user-images.githubusercontent.com/76883800/196803359-6971373a-d58d-4b31-a63f-4c907b80f044.png)

[2022-10-19 22:01] dgozman commented on #18163
@Neha-test-dev Unfortunately, I cannot run repro scenario that requires purchasing a template. If you could create a publicly accessible repro that does not require purchasing templates, we will look into it.

[2022-10-19 22:06] #18155 closed

[2022-10-19 23:08] mxschmitt commented on #18190
Looks like response does only emit `close` but not `end` when its a partial response.

cp: https://github.com/microsoft/playwright/blob/9b35a8071f2afbd6fb123bf418b8c734f8daa2e8/packages/playwright-core/src/server/fetch.ts#L368

[2022-10-19 23:15] PsiKai commented on #13576
This is an issue for me in Webkit running on an Ubuntu container in CircleCI

The following workarounds do not work:

[code]

[code]

With the workarounds the click event has no effect.  Without the workarounds the click is intercepted as described in this issue.

---

Inspecting the DOM in the trace file does not show any blocking elements.  I am selecting the innermost icon element directly, and

[2022-10-19 23:16] dgozman commented on #18173
@BharadwajShivam Is this about Playwright? Seems to be about the `tslog` package. Perhaps you should file this issue in another repository?

[2022-10-19 23:19] dgozman commented on #18174
@Nagam-Naidu As the error message says, connecting to SELENIUM_REMOTE_URL is only supported by Chromium. [Documentation](https://playwright.dev/docs/selenium-grid) says the same. There are no plans to make this work with Firefox, sorry.

[2022-10-19 23:19] #18174 closed

[2022-10-19 23:20] dgozman commented on #18176
@Iv3x Most likely, you have different versions of Playwright locally and on the Browserstack server. I'd suggest to check with them. Let me know if we can help with anything else.

[2022-10-19 23:21] mastrzyz opened #18192 "[Feature] Test Generator extended to support Page Object Model design"
The test generator of Playwright is a very powerful tool eliminating a lot of developer toil in having to find selectors and even reduces the need to look into the docs to find a method to perform an action.

The only problem so far is that any test written in the test generator is not following Page Object Model design.

Can we extend the test generator to support this?

[2022-10-19 23:28] AlexDaniel opened #18193 "[BUG/FEATURE] toBeChecked should work on aria switches"
**Context:**
- Playwright Version: 1.25.0
- Operating System: Linux
- Node.js version: v18
- Browser: All

Previously, code like this used to work on [Quasar's toggles](https://quasar.dev/vue-components/toggle).
[code]

However, the behavior was changed in this commit:
https://github.com/quasarframework/quasar/commit/3913d4ea5fc7a2273c08c2045559efc78f5eebff#diff-f5eeb4d4d83209b84b688b3fd2254644a4e

[2022-10-19 23:48] dgozman commented on #18179
@costag1982 It seems like both versions would work. If your test data does not change between tests, it is totally fine to make it worker-scoped to only compute it once. That said, if test data is fast to compute, you won't save much on making it worker-scoped vs test-scoped.

Overall, worker-scoped fixtures are an optimization where you can setup/teardown it just once because it can be reused bet

[2022-10-19 23:50] dgozman commented on #18181
@VasanthEzhilkumar Could you be more specific about what kind of customization you are interested in?

You can always copy-paste the code into any file you'd like, there is a button for copying the source. You can also use `--output` command line flag that will save the code at the end.

[2022-10-20 01:03] dgozman commented on #18184
@harry-gocity You are not supposed to import front-end stuff from your tests, except for components. Take a look [at the docs](https://playwright.dev/docs/test-components#under-the-hood), especially [this section](https://playwright.dev/docs/test-components#q-i-cant-import-anything-other-than-the-components-from-tsxjsxcomponent-files).

That said, this could be fixed by #18157 if your redux import

[2022-10-20 01:06] dgozman commented on #18192
Closing in favor of #12330.

[2022-10-20 01:06] #18192 closed

[2022-10-20 02:39] #15057 closed

[2022-10-20 02:39] #15919 closed

[2022-10-20 02:42] pavelfeldman commented on #17903
@theisgroenbech pinging you for a hidden module on Slack

[2022-10-20 02:45] pavelfeldman commented on #18077
There were subtle changes to the resolver/loader, they could have affected things. In either case, if you have a small repro where `import { setupTest } from './test-utils.js';` does not work, could you share it with us? It should work and it does work for me locally on a small example.

[2022-10-20 02:57] pavelfeldman commented on #8006
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 02:57] #8006 closed

[2022-10-20 02:57] pavelfeldman commented on #7494
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 02:57] #7494 closed

[2022-10-20 02:57] pavelfeldman commented on #8395
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 02:57] #8395 closed

[2022-10-20 02:58] pavelfeldman commented on #8538
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 02:58] #8538 closed

[2022-10-20 02:58] pavelfeldman commented on #8622
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 02:58] pavelfeldman commented on #8708
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 02:58] #8708 closed

[2022-10-20 02:59] pavelfeldman commented on #8688
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 02:59] #8688 closed

[2022-10-20 02:59] pavelfeldman commented on #7539
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 02:59] #7539 closed

[2022-10-20 02:59] pavelfeldman commented on #8999
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 02:59] #8999 closed

[2022-10-20 02:59] pavelfeldman commented on #8057
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 02:59] #8057 closed

[2022-10-20 03:00] pavelfeldman commented on #9153
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:00] #9153 closed

[2022-10-20 03:00] pavelfeldman commented on #8346
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:00] #8346 closed

[2022-10-20 03:00] drwpow commented on #18077
Sure! I was able to create a fairly-simple repro: https://github.com/drwpow/playwright-import-repro/.

Curious if this is just something weird on my machine or if you see the error too here.

[2022-10-20 03:00] pavelfeldman commented on #9615
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:00] #9615 closed

[2022-10-20 03:00] pavelfeldman commented on #9237
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:00] #9237 closed

[2022-10-20 03:00] pavelfeldman commented on #9739
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:00] #9739 closed

[2022-10-20 03:00] pavelfeldman commented on #9544
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:00] #9544 closed

[2022-10-20 03:01] pavelfeldman commented on #9813
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:01] #9813 closed

[2022-10-20 03:01] pavelfeldman commented on #9238
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:01] #9238 closed

[2022-10-20 03:01] #8080 closed

[2022-10-20 03:01] pavelfeldman commented on #9173
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:01] #9173 closed

[2022-10-20 03:01] pavelfeldman commented on #9569
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:01] #9569 closed

[2022-10-20 03:02] pavelfeldman commented on #8924
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:02] #8924 closed

[2022-10-20 03:03] pavelfeldman commented on #9679
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:03] #9679 closed

[2022-10-20 03:03] #9832 closed

[2022-10-20 03:03] pavelfeldman commented on #9997
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:03] pavelfeldman commented on #9429
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:03] #9429 closed

[2022-10-20 03:04] pavelfeldman commented on #10037
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:04] #10037 closed

[2022-10-20 03:04] pavelfeldman commented on #6543
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:04] #10042 closed

[2022-10-20 03:04] pavelfeldman commented on #10021
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:04] #10021 closed

[2022-10-20 03:04] pavelfeldman commented on #8710
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:04] #8710 closed

[2022-10-20 03:05] pavelfeldman commented on #9553
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:05] #9553 closed

[2022-10-20 03:05] pavelfeldman commented on #5871
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:05] #5871 closed

[2022-10-20 03:05] pavelfeldman commented on #10463
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:05] #10463 closed

[2022-10-20 03:05] pavelfeldman commented on #10321
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:05] #10321 closed

[2022-10-20 03:06] pavelfeldman commented on #10278
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:06] #10278 closed

[2022-10-20 03:06] pavelfeldman commented on #10534
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:06] #10534 closed

[2022-10-20 03:06] pavelfeldman commented on #10614
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:06] #10614 closed

[2022-10-20 03:06] pavelfeldman commented on #10604
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:06] #10604 closed

[2022-10-20 03:06] pavelfeldman commented on #10191
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:06] #10191 closed

[2022-10-20 03:06] pavelfeldman commented on #9541
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:06] #9541 closed

[2022-10-20 03:07] pavelfeldman commented on #10740
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:07] #10740 closed

[2022-10-20 03:07] pavelfeldman commented on #10777
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:07] #10777 closed

[2022-10-20 03:07] pavelfeldman commented on #10780
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:07] #10780 closed

[2022-10-20 03:08] pavelfeldman commented on #10808
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:08] pavelfeldman commented on #8682
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:08] pavelfeldman commented on #10871
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:08] #10871 closed

[2022-10-20 03:08] #10906 closed

[2022-10-20 03:09] pavelfeldman commented on #10942
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:09] #10942 closed

[2022-10-20 03:09] pavelfeldman commented on #8981
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:09] #8981 closed

[2022-10-20 03:09] pavelfeldman commented on #10683
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:09] #10683 closed

[2022-10-20 03:09] pavelfeldman commented on #7557
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:10] pavelfeldman commented on #11246
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:10] pavelfeldman commented on #10562
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:10] #10562 closed

[2022-10-20 03:10] pavelfeldman commented on #7979
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:10] #7979 closed

[2022-10-20 03:11] pavelfeldman commented on #11404
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:11] #11404 closed

[2022-10-20 03:11] pavelfeldman commented on #11412
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:11] #11412 closed

[2022-10-20 03:12] pavelfeldman commented on #7403
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:12] #7403 closed

[2022-10-20 03:12] pavelfeldman commented on #11557
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:12] #11557 closed

[2022-10-20 03:12] pavelfeldman commented on #11554
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:12] #11554 closed

[2022-10-20 03:13] pavelfeldman commented on #10857
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:13] #10857 closed

[2022-10-20 03:13] pavelfeldman commented on #10833
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:13] #10833 closed

[2022-10-20 03:13] pavelfeldman commented on #10476
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:13] #10476 closed

[2022-10-20 03:13] pavelfeldman commented on #11288
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:13] #11288 closed

[2022-10-20 03:14] pavelfeldman commented on #11745
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:14] #11745 closed

[2022-10-20 03:14] pavelfeldman commented on #11571
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:14] #11571 closed

[2022-10-20 03:14] pavelfeldman commented on #11781
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:14] #11781 closed

[2022-10-20 03:14] pavelfeldman commented on #11026
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:14] #11026 closed

[2022-10-20 03:14] pavelfeldman commented on #10599
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:14] #10599 closed

[2022-10-20 03:15] pavelfeldman commented on #11842
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:15] #11842 closed

[2022-10-20 03:16] pavelfeldman commented on #11566
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:16] #11566 closed

[2022-10-20 03:16] pavelfeldman commented on #2632
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:16] pavelfeldman commented on #7449
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:16] #7449 closed

[2022-10-20 03:17] pavelfeldman commented on #7540
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:17] #7540 closed

[2022-10-20 03:17] pavelfeldman commented on #8605
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:17] #8605 closed

[2022-10-20 03:17] pavelfeldman commented on #8849
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:17] #8849 closed

[2022-10-20 03:17] pavelfeldman commented on #8992
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:17] #8992 closed

[2022-10-20 03:18] pavelfeldman commented on #9172
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:18] #9172 closed

[2022-10-20 03:18] pavelfeldman commented on #9249
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:18] #9249 closed

[2022-10-20 03:18] pavelfeldman commented on #9281
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:18] #9281 closed

[2022-10-20 03:18] pavelfeldman commented on #9695
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:19] pavelfeldman commented on #9729
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:19] pavelfeldman commented on #9743
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:19] #9743 closed

[2022-10-20 03:19] pavelfeldman commented on #10270
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:19] #10270 closed

[2022-10-20 03:19] pavelfeldman commented on #10311
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:19] #10311 closed

[2022-10-20 03:20] pavelfeldman commented on #10359
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:20] #10359 closed

[2022-10-20 03:20] pavelfeldman commented on #10370
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:20] #10370 closed

[2022-10-20 03:20] pavelfeldman commented on #10554
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:20] pavelfeldman commented on #10897
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:20] #10897 closed

[2022-10-20 03:21] pavelfeldman commented on #11025
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:21] #11025 closed

[2022-10-20 03:21] pavelfeldman commented on #11685
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:21] #11685 closed

[2022-10-20 03:21] pavelfeldman commented on #11782
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:21] #11782 closed

[2022-10-20 03:21] pavelfeldman commented on #11825
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:21] #11825 closed

[2022-10-20 03:21] pavelfeldman commented on #11939
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:21] #11939 closed

[2022-10-20 03:21] pavelfeldman commented on #11896
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:21] #11896 closed

[2022-10-20 03:21] pavelfeldman commented on #11897
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:21] #11897 closed

[2022-10-20 03:22] pavelfeldman commented on #11928
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:22] #11928 closed

[2022-10-20 03:22] pavelfeldman commented on #11947
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:22] #11947 closed

[2022-10-20 03:22] pavelfeldman commented on #11986
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:22] #11986 closed

[2022-10-20 03:23] pavelfeldman commented on #11731
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:23] #11731 closed

[2022-10-20 03:23] pavelfeldman commented on #9481
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:23] #9481 closed

[2022-10-20 03:23] pavelfeldman commented on #12056
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:23] #12056 closed

[2022-10-20 03:23] pavelfeldman commented on #9611
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:23] #9611 closed

[2022-10-20 03:25] #6856 closed

[2022-10-20 03:25] pavelfeldman commented on #12104
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:25] #12104 closed

[2022-10-20 03:25] pavelfeldman commented on #11522
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:25] #11522 closed

[2022-10-20 03:25] pavelfeldman commented on #7697
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:25] #7697 closed

[2022-10-20 03:25] pavelfeldman commented on #8004
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:26] pavelfeldman commented on #11154
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:26] #11154 closed

[2022-10-20 03:26] #12178 closed

[2022-10-20 03:26] pavelfeldman commented on #11640
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:26] #11640 closed

[2022-10-20 03:26] pavelfeldman commented on #11134
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:26] #11134 closed

[2022-10-20 03:26] pavelfeldman commented on #12181
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:26] #12181 closed

[2022-10-20 03:27] pavelfeldman commented on #12231
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:27] pavelfeldman commented on #12299
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:27] #12299 closed

[2022-10-20 03:27] pavelfeldman commented on #11884
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:27] pavelfeldman commented on #12201
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 03:27] #12201 closed

[2022-10-20 03:27] pavelfeldman commented on #12288
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:27] #12288 closed

[2022-10-20 03:28] pavelfeldman commented on #12345
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 03:28] pavelfeldman commented on #12224
You should instead use `await exepct(locator).toBeVisible({ timeout? })`

[2022-10-20 03:28] #12224 closed

[2022-10-20 03:30] DetachHead commented on #10311
@pavelfeldman could you please clarify what "handfull of upvotes" means? is there a specific amount of upvotes an issue needs to stay open?

either way, issues shouldn't be closed just because of that imo. while i understand marking them as low priority if they don't get much attention, all closing them does is prevent them from gaining any more upvotes in the future because i'd have to "open a ne

[2022-10-20 03:33] DetachHead commented on #8605
the trace file is really messy and difficult to read without this feature, i think it's important. it also has 7 upvotes already @pavelfeldman

[2022-10-20 05:16] janostgren commented on #18097
Hi
Can not find this in my UI.
Which version has this feature?.

mån 17 okt. 2022 kl. 16:55 skrev Pavel Feldman ***@***.***>:

[2022-10-20 05:52] Huluvu424242 commented on #18156
Very thanks

[2022-10-20 06:09] pavelfeldman commented on #9068
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:09] #9068 closed

[2022-10-20 06:11] #6790 closed

[2022-10-20 06:11] pavelfeldman commented on #12145
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:11] #12145 closed

[2022-10-20 06:11] pavelfeldman commented on #12032
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:11] #12032 closed

[2022-10-20 06:11] pavelfeldman commented on #11937
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:11] #11937 closed

[2022-10-20 06:12] pavelfeldman commented on #12365
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:12] pavelfeldman commented on #9202
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:12] #9202 closed

[2022-10-20 06:12] pavelfeldman commented on #12410
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:12] #12410 closed

[2022-10-20 06:13] pavelfeldman commented on #12569
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:13] pavelfeldman commented on #12692
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:13] #12692 closed

[2022-10-20 06:13] #12103 closed

[2022-10-20 06:15] pavelfeldman commented on #12824
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-10-20 06:15] #12824 closed

[2022-10-20 06:15] pavelfeldman commented on #12831
I believe this has been fixed.

[2022-10-20 06:15] #12831 closed

[2022-10-20 06:17] pavelfeldman commented on #12847
Could you elaborate on the downsides of using dotenv & process.env.MYENV combo?

[2022-10-20 06:17] pavelfeldman commented on #13049
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:17] #13049 closed

[2022-10-20 06:17] pavelfeldman commented on #13029
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:17] #13029 closed

[2022-10-20 06:18] pavelfeldman commented on #13069
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:18] #13069 closed

[2022-10-20 06:18] pavelfeldman commented on #12994
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:18] #12994 closed

[2022-10-20 06:18] pavelfeldman commented on #6491
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:18] #6491 closed

[2022-10-20 06:19] pavelfeldman commented on #11240
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-10-20 06:19] pavelfeldman commented on #12819
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:19] #12819 closed

[2022-10-20 06:20] pavelfeldman commented on #13246
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:20] #13246 closed

[2022-10-20 06:20] pavelfeldman commented on #13260
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:21] pavelfeldman commented on #12433
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:21] #12433 closed

[2022-10-20 06:21] pavelfeldman commented on #12151
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:21] #12151 closed

[2022-10-20 06:22] pavelfeldman commented on #13266
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:22] #13266 closed

[2022-10-20 06:22] pavelfeldman commented on #13288
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:22] pavelfeldman commented on #13259
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:22] #13259 closed

[2022-10-20 06:22] pavelfeldman commented on #13133
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:23] pavelfeldman commented on #13027
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:23] #13027 closed

[2022-10-20 06:24] pavelfeldman commented on #10177
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:24] #10177 closed

[2022-10-20 06:24] pavelfeldman commented on #10158
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:24] #10158 closed

[2022-10-20 06:24] pavelfeldman commented on #9028
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:24] #9028 closed

[2022-10-20 06:25] pavelfeldman commented on #13353
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:25] #13353 closed

[2022-10-20 06:25] pavelfeldman commented on #13273
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:25] #13273 closed

[2022-10-20 06:25] pavelfeldman commented on #13385
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:25] #13385 closed

[2022-10-20 06:25] pavelfeldman commented on #13212
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:25] #13212 closed

[2022-10-20 06:25] pavelfeldman commented on #13512
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:25] #13512 closed

[2022-10-20 06:26] pavelfeldman commented on #13529
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:26] #13529 closed

[2022-10-20 06:26] pavelfeldman commented on #13565
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:26] #13565 closed

[2022-10-20 06:26] pavelfeldman commented on #13573
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 06:26] #13573 closed

[2022-10-20 06:26] pavelfeldman commented on #11714
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:26] #11714 closed

[2022-10-20 06:27] pavelfeldman commented on #10050
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:27] #10050 closed

[2022-10-20 06:27] pavelfeldman commented on #10051
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:27] #10051 closed

[2022-10-20 06:27] pavelfeldman commented on #10330
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:27] #10330 closed

[2022-10-20 06:27] pavelfeldman commented on #11908
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-10-20 06:27] #11908 closed

[2022-10-20 07:25] siricinschigrenke opened #18196 "[BUG] Playwright bundle browsers does not have/install Chrome and Edge browsers"
Playwright should support out of the box Chrome and Edge browsers.
That means when you use ./playwright install it should install supported versions of Chrome and Edge browsers in this location %USERPROFILE%\AppData\Local\ms-playwright on Windows
~/Library/Caches/ms-playwright on MacOS
~/.cache/ms-playwright on Linux
Now it install only Chromium and is not the desired behavior because there is no

[2022-10-20 07:51] kritollm opened #18197 "scrollIntoViewIfNeeded not always working from test, but always when run in console."
**Context:**
- Playwright Version: 1.27.1
- Operating System: Windows 11
- Node.js version: 16.16.0
- Browser: Chromium

**await page.locator(selector).scrollIntoViewIfNeeded({timeout: 1000});**

<img width="550" alt="oneScrollIntoView" src="https://user-images.githubusercontent.com/12444201/196888728-3ce6d628-3e78-4de5-b7e5-7b1b08269883.png">
<img width="524" alt="twoScrollIntoView" src="https://

[2022-10-20 07:52] RSS1102 opened #18198 "[waitForTimeout] Slower than actual"
[code]
I visited a `<canvas ></canvas >`page and asked him to wait for 5000ms to generate a video. The action of the video **is slower than that on the actual web** (twice slower)

[2022-10-20 08:37] harry-gocity commented on #18184
Thanks @dgozman - I saw both of those previous links in the similar issue but they apply specifically to using the web components experimental features (or at least that's what the docs imply). If this is the case for using playwright to run tests in browser then these known issues should be bumped much much higher up the docs IMO.

The redux (and other) imports are used in the `mockData` file (ju

[2022-10-20 10:45] bennettdams opened #18201 "[Feature] Testing Library query helper for multiple elements as Locator API (e.g. `getAllBy`)"
I used Testing Library for years and also the [Playwright plugin](https://github.com/testing-library/playwright-testing-library) to be able to use queries in my Playwright tests, so I am really happy that with `v1.27.0` they're now part of the official API 🥳

What is missing right now is the support for queries that are used to access multiple elements:

![image](https://user-images.githubusercont

[2022-10-20 11:01] RSS1102 opened #18202 "[BUG]baseURL : No expected splicing baseURL"
**Context:**
- Playwright Version:  "@playwright/test": "^1.27.1",
- Operating System: Windows
- Node.js version:18.0.6
- Browser: Chromium
- Extra: [any specific details about your environment]

**Code Snippet**
1. The route I expect to access is:`http://localhost:5173/#/rotatestart`
     infact:`http://localhost:5173/rotatestart`
[code]
[code]
---
When I do this is the correct access:
[code]
[co

[2022-10-20 11:40] Nagam-Naidu commented on #18174
@dgozman, Do we have any plan for the same in future?

[2022-10-20 11:44] viraxslot opened #18203 "[Question] What's the correct usage of setTestIdAttribute?"
Hi, team.
I have a custom test id attribute and I don't understand the right place to set it (where to call `selectors.setTestIdAttribute`). I tried to do it in `global-setup` script, but alas. I don't really want to wrap `getByTestId` function and set the test id before it, but that's the only way I see right now.

It would be nice:
- add configuration parameter for custom test id;
- update the d

[2022-10-20 11:49] Nagam-Naidu opened #18204 "[Feature] Firefox support for running for selenium grid."
**Context:**

**Summary:**

We have selenium grid with firefox node, when trying to run playwright test using pabot command it is failing with below
error.

**Error:**
`details = “Error: browserType.launch: Connecting to SELENIUM_REMOTE_URL is only supported by Chromium”`

**Command to run test:**
`pabot --processes 5 --testlevelsplit --outputdir=./output --exclude exclude --include Playwright .`

[2022-10-20 12:18] MindaugasMateika opened #18205 "[Feature] Web app to load and view html reports"
Given that reports can contain multiple traces it would be useful to have a website where you can drop whole reports folder (or zipped folder) to load and view it (it would load traces too). Similarly like https://trace.playwright.dev but for whole html reports.

Would you consider making it happen? Or perhaps you could give some pointers on how to implement it? Perhaps there is https://trace.play

[2022-10-20 12:20] jw-star opened #18225 "How to set ffmpeg to system"
### Your question

this is dockerfile,I want to set up alis, but when I run the container, it doesn't take effect

echo alias ffmpeg='~/.cache/ms-playwright/ffmpeg-1007/ffmpeg-linux' >>/etc/profile
[code]

[2022-10-20 13:17] skyuplam opened #18206 "[BUG] Firefox Web Audio API is not working properly in docker image since v1.24.0-focal"
**Context:**
- Playwright Version: from v1.24.0 to v1.27.1
- Operating System: Linux
- Node.js version: v16.16.0 - v16.17.1
- Browser: Firefox
- Extra: The bug only occurs i in the official docker images from `mcr.microsoft.com/playwright:v1.24.0-focal` to `mcr.microsoft.com/playwright:v1.27.1-focal`

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
t

[2022-10-20 13:43] dgozman commented on #18174
There are no plans to make this work with Firefox, sorry.

[2022-10-20 13:45] dgozman commented on #18196
@siricinschigrenke Playwright works with Chrome and Edge that are already installed on the machine. [See docs](https://playwright.dev/dotnet/docs/browsers#google-chrome--microsoft-edge)

[2022-10-20 13:45] #18196 closed

[2022-10-20 13:47] dgozman commented on #18198
@RSS1102 Could you please share a repro that we can run locally? Attaching a video would also be helpful. I'd suggest to [record a trace](https://playwright.dev/docs/trace-viewer-intro) and investigate what's going on.

[2022-10-20 13:51] Xiphe opened #18207 "[BUG] page.addStyleTag is flaky / unresponsive"
**Context:**
- Playwright Version: 1.27.1
- Operating System: MacOS 12.6 & GitHub Actions
- Node.js version: v16.15.1 & v16.17.1
- Browser: mostly chromium
- Extra: [any specific details about your environment]

**Code Snippet**

[code]

**Describe the bug**

I'm currently updating my package [test-real-styles](https://github.com/Xiphe/test-real-styles) to the latest playwright version and receive

[2022-10-20 14:11] Xiphe commented on #18207
Seems to be related with jest...

v26 seems to run stable, v29 yields the above results, investigating...

[2022-10-20 14:12] rmunn opened #18209 "[BUG] Killing webserver process should use SIGTERM on Linux, with SIGKILL as fallback"
**Context:**
- Playwright Version: 1.20.0-alpha-feb-23-2022
- Operating System: Linux
- Node.js version: v16.10.0
- Browser: Chromium
- Extra: Using docker-compose to launch webserver

**Config Snippets**

Playwright config:
[code]

docker-compose.yml:
[code]

**Describe the bug**

We use a Docker container to launch our dev webserver and run Playwright tests against it. [The `docker-compose up` c

[2022-10-20 14:16] rmunn commented on #12299
Reopened as https://github.com/microsoft/playwright/issues/18209. And I'm not entirely happy with seeing a bug like this closed **with no discussion beforehand**, forcing me to reopen it as a new bug rather than explain why it should be kept open. That will force the 8 upvoters (@sarayourfriend, @carlosflorencio, @jacek-rzrz, @ambiguous48, @Bessonov, @aomarks, @mhoad, and @stefnotch) to find the n

[2022-10-20 14:25] advename commented on #5470
I'll hijack this issue as it's the first result searching for the need of `Promise.all` in Playwright.

I'll use the [`waitForResponse()`](https://playwright.dev/docs/api/class-page#page-wait-for-response) method to showcase the issue.

---

Let's say, we have a Search Input field and a button that triggers the search, eventually making a request to an API (`https://example.com/api/search`, the se

[2022-10-20 14:27] ambiguous48 commented on #18209
Possibly related: https://github.com/microsoft/playwright/issues/18041

This is my current workaround: https://github.com/microsoft/playwright/issues/18041#issuecomment-1282807484

[2022-10-20 14:29] Xiphe commented on #18207
jest@26 also is unstable on CI: https://github.com/Xiphe/test-real-styles/actions/runs/3290294828/jobs/5423076393

[2022-10-20 14:45] Xiphe commented on #18207
Ok... seems as if [jest@27 removed the setImmediate implementation of jsdom](https://github.com/facebook/jest/issues/11204) requiring a polyfill for playwright.

I've polyfilled that with

[code]

which is probably causing some race conditions within playwright.

Using this instead seems to work more stable.

[code]

[2022-10-20 14:52] pavelfeldman commented on #18203
[code]

I'll update the docs...

[2022-10-20 15:05] #18207 closed

[2022-10-20 15:13] inqom-circle opened #18211 "[BUG] connect ETIMEDOUT { myIP } on windows10 env"
**Context:**
- Playwright Version: [1.27.1]
- Operating System: [Windows 10]
- Node.js version: [16.18]
- Browser: [All]

Recently I got many connect ETIMEDOUT { myIP } error.
I use a windows10 computer.
There is no specific things that trigger this error, art least I can't notice it, I just do basic stuff with request calls and front interaction.

[2022-10-20 15:24] pavelfeldman commented on #18209
I'm reading docker docs and it seems like `docker compose` itself is sending SIGTERM to the containers to gracefully kill them: https://docs.docker.com/compose/faq/#:~:text=Compose%20stop%20attempts%20to%20stop,they%20receive%20the%20SIGTERM%20signal. It probably does the same thing when you send SIGTERM to `docker compose`, or it happens automatically if they are a part of the same process tree.

[2022-10-20 15:44] dgozman commented on #18202
@RSS1102 This is how `baseURL` completion works. See [this comment](https://github.com/microsoft/playwright/issues/8933#issuecomment-920270705) or [docs](https://playwright.dev/docs/api/class-testoptions#test-options-base-url) for examples. Your last example is perfect.

Let me know if you have any questions.

[2022-10-20 15:45] dgozman commented on #18204
There are no plans to make this work with Firefox. See also #18174.

[2022-10-20 15:45] #18204 closed

[2022-10-20 15:47] larsqa opened #18213 "[Question] If Promise.all runs all promises at the same time (concurrently), why does the order then still matter?"
Looking at `waitForEvent` (https://playwright.dev/docs/api/class-page#page-wait-for-event), the code example mentions

I thought using `Promise.all` solved the issue all-together?

[2022-10-20 15:50] yury-s opened #18214 "[BUG] RangeError [ERR_OUT_OF_RANGE]: The value of "msecs" is out of range."
I've got this error while running `npm i` in playwright checkout.
[code]

[2022-10-20 16:07] dgozman commented on #18201
@bennettdams [Locators are strict](https://playwright.dev/docs/locators#strictness), so they will throw an error if you try to do a single-element operation. However, if you do a multi-element operation, it will work without the strict check.

For example, if you do `page.getByText('hello').click()`, it will throw if multiple elements matched the locator, as you would expect. But if you do `expect

[2022-10-20 16:10] RSS1102 commented on #18202
ok ，i get it.thanks.

[2022-10-20 16:10] #18202 closed

[2022-10-20 16:12] dgozman commented on #13576
@PsiKai If you could share a repro that we can run locally, please file a new issue and we'll definitely look into it.

[2022-10-20 16:16] dgozman commented on #18184
@harry-gocity I didn't realize this is about e2e and not component tests, my bad! So, in e2e tests you should not import any front-end code at all. Everything is executed in Node.js, which means no redux imports.

I'd recommend to split `mockData` into two files: data that you need for e2e tests and everything else. This way you should be able to import e2e specific data without any problems. Let

[2022-10-20 16:19] dgozman commented on #18197
@kritollm Could you please share a repro that we can run locally? I think this is specific to the page you have, and without it we won't be able to fix the issue.

[2022-10-20 16:19] PsiKai commented on #13576
@dgozman a repro is difficult, as the issue only appeared in CircleCI and not on my local machine.  Could I share the trace file with you as a sufficient repro?

[2022-10-20 16:34] bennettdams commented on #18201
Ahh, so there is no "API feature parity" right now. Testing Library queries already fail when there are multiple elements as a result, Playwright will not. But Playwright will fail when you try to do something with the result.

Basic example: Imagine we render three buttons, but we expect them to all have a different text each. But because of a bug, they now all show the same text:

[code]

Testin

[2022-10-20 16:35] harry-gocity commented on #18184
@dgozman No problem - that's the workaround we've taken in the meantime and it's working fine, albeit we have some duplicated mock data. Is this in the docs and I've just missed it completely?

Thanks otherwise - if this is expected behaviour then you can close this issue. Although, It would be a nice to not have to worry about this at all - we're not really importing these Redux types into our te

[2022-10-20 16:36] dgozman commented on #13576
@PsiKai Well, sharing the trace file is better than nothing, but no guarantees we'll be able to pinpoint the issue. Ideally, you would be able to repro locally, and then [debug with our tools](https://playwright.dev/docs/debug).

[2022-10-20 16:58] dgozman commented on #18185
@gabriel-finch-kr Unfortunately, this is not as easy as just rewriting the url. If some requests have `Set-Cookie` with a domain, we'll probably have to update them too. Same goes for CORS headers, and probably more things. Overall, great idea but not the highest priority at the moment. Leaving the issue open.

[2022-10-20 17:00] pavelfeldman commented on #8470
Which reporter would you like to see it in?

[2022-10-20 17:04] pavelfeldman commented on #11584
Folding into #10825

[2022-10-20 17:04] #11584 closed

[2022-10-20 17:09] JasKirk70 opened #18216 "[Question]What is the best way to introduce wait time if UI automation has to wait for some back end apis to run to proceed further"
So I have a scenario where playwright automation runs to perform some actions in the UI and then has to wait for few seconds for some apis to trigger and create some data. this data will be used by the UI automation to perform further actions on the web.What is the best way to introduce wait here. for now I am using page.waitForTimeout(). Just wanted to check if there is a better way than introduc

[2022-10-20 17:09] viraxslot commented on #18203
@pavelfeldman Could you please check this logic working with fixtures? Looks like it doesn't work.

I've added 2 simple tests
[code]

The result is:
[code]

I've set testId to `config.use.testIdAttribute`

Fixture described in a simple way:
[code]

Please let me know if it's needed to create a separate bug.

[2022-10-20 17:10] pavelfeldman commented on #13629
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-10-20 17:10] #13629 closed

[2022-10-20 17:12] yury-s commented on #16008
Folding into https://github.com/microsoft/playwright/issues/12084

[2022-10-20 17:12] #16008 closed

[2022-10-20 17:13] mxschmitt commented on #12400
This issue seems to be a duplicate of https://github.com/microsoft/playwright/issues/14037 and already fixed. Please let us know if you still reproduce it in the latest versions and re-file if needed, thanks!

[2022-10-20 17:13] #12400 closed

[2022-10-20 17:13] andersk commented on #9729
This is still broken with current Playwright 1.27.1 and Electron 21.2.0. Thanks for reopening. (If there was further feedback I was supposed to provide for the P3-collecting-feedback label, what is it?)

[2022-10-20 17:14] shtlrs commented on #8470
I think it makes sense to have this in the line & list reports, what do you think ?

[2022-10-20 17:15] andersk commented on #9695
This is still broken with current Playwright 1.27.1 and Electron 21.2.0. Thanks for reopening.

[2022-10-20 17:26] dgozman commented on #18213
@larsqa In general, async methods that return a Promise have a synchronous part (before the first `await` inside), and the order of two synchronous parts matter. In the particular case of `waitForEvent()` vs `click()` there is no difference, because synchronous parts are not doing much, but in general you should use caution. Does this make sense?

[2022-10-20 17:31] dgozman commented on #18216
@JasKirk70 Are there any changes on the page after backend is done with creating the data? If so, you can do something like this:

[code]

Basically, how would the user know that they can proceed? You should mimic that in the test.

[2022-10-20 17:39] pavelfeldman commented on #18203
I just ran this:

[code]

and it worked for me. Could you share a self-contained repro?

[2022-10-20 17:39] aslushnikov commented on #18214
Looks like incomplete compilation of the source code; closing as won't fix for now.

[2022-10-20 17:39] #18214 closed

[2022-10-20 17:41] pavelfeldman commented on #18203
What did you mean by that btw? You aren't supposed to set anything to `config.use.testIdAttribute`, just define `testIdAttribute` in your config.

[2022-10-20 17:49] viraxslot commented on #18203
I mean the playwright config path, so it wasn't in a project.use, but in general "use" section. I'll try to create a repo.

[2022-10-20 17:56] pavelfeldman commented on #18205
I assume you meant npx playwright show-report

[2022-10-20 17:59] JasKirk70 commented on #18216
got it sounds good..thanks for the reply

[2022-10-20 18:07] dgozman commented on #18201
@bennettdams Playwright's locator is a "way to find the element". It does not actually look inside the page at the time of creation, it only matches element when you do something with it. This means `page.getByText('My text')` can never fail. It will only be resolved to the element upon the action, assertion or something else. I'd encourage you to read the [locators guide](https://playwright.dev/d

[2022-10-20 18:08] #18216 closed

[2022-10-20 18:13] pavelfeldman commented on #18077
Awesome, thanks, I can repro it. I just could not add 2 + 2 in your original description - now that I read it, it explains the use case very well.

[code]

[code]

does not work in Playwright v1.27 in **non**-ESM mode.

[2022-10-20 18:21] GP-QA commented on #9694
We also have the same issue in our E2E test project.

[2022-10-20 19:02] RSS1102 commented on #18198
https://github.com/RSS1102/canvas
This is my project (including the generated video)。
[code]

and you will see the produced video. When you visit the video, you will find that the image in the video runs very slowly(Not the speed on the web).
You can first visit the video I have generated before, and then you can generate the video yourself again to see the difference.

---
_by the way,In fact, I

[2022-10-20 19:07] viraxslot commented on #18203
@pavelfeldman you're right, it works if set up from the scratch. I'll try to investigate a bit later, this task can be closed I guess.

[2022-10-20 19:45] #18203 closed

[2022-10-20 19:47] Luc45 opened #18222 "[Feature] Allow to skip tests by their name and file path"
- I need to skip the test `foo.spec.js: › Some Describe › Assert something happens`
- I only know whether I need to skip it or not at runtime, when I execute `.bin/playwright`, therefore I don't have skip annotations on that file.
- To do that, I append `--grep-invert "Assert something happens"`.
- Playwright enforces that test titles are unique inside `foo.spec.js`, but not on `bar.spec.js`.
- As

[2022-10-20 20:07] InduKrish opened #18224 "[Question] how to run tests inside docker with headless:true, want to see the browser."
Hi All, is there a way to run the test with headless mode: false inside docker? is there a reason why the text expects to turn on headless mode ( headless : true) while running the tests inside docker? I would like to see the browser execution while running the tests in docker.

please advise where to add xvfb-run  to run tests in headless:true mode? is it inside the docker file?
or something like

[2022-10-20 20:24] mxschmitt commented on #18226
Looks like its this test which is marked as fixme in Firefox: https://github.com/microsoft/playwright/blob/c4d417e04a27090354078cdb80e9ed5ec7145a0a/tests/library/browsercontext-viewport.spec.ts#L109-L120

[2022-10-20 20:46] aslushnikov commented on #18206
@skyuplam it looks like Firefox now requires Pulse audio service working for the web audio api to work. By default, docker container doesn't have `pulseaudio` installed & running.

You can fix it like this:

[code]

Once PulseAudio is started, the test passes for me.

[2022-10-20 20:48] dgozman commented on #18112
@nikhilgupta1789 I followed the [reuse state](https://playwright.dev/docs/auth#reuse-signed-in-state) documentation, created a global setup and start tests with `page.goto()`. Performance results:

- Running your first snippet with fullyParallel is 8 seconds each test, total 8 seconds. Extrapolating this to 40 tests: 320 seconds cpu time, 160 seconds real time with 2 cpus, 40 seconds real time wit

[2022-10-20 21:00] mxschmitt commented on #18190
Looks like the server doesn't properly encode range response with Brotli - apparently it cuts selected range from already encoded body whereas it should first cut out the specified range and then encode it. You can see that the response received with curl is also corrupted: `curl -O -v -X GET -H "range: bytes=0-1" -H "Accept-Encoding: br" https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web/

[2022-10-20 21:25] aslushnikov commented on #18143
@speray Yes, this has been actually fixed as we moved to an IPC reporter.

[2022-10-20 21:25] #18143 closed

[2022-10-20 21:32] #18184 closed

[2022-10-20 21:35] dgozman commented on #18226
Duplicate of #9519. Thanks for filing!

[2022-10-20 21:35] #18226 closed

[2022-10-20 21:53] aslushnikov commented on #18224
@InduKrish `xvfb` is already installed inside docker; you need to call

[code]
inside docker so that there's an X11 display available for browsers launched from the process subtree.

[2022-10-20 23:21] mxschmitt opened #18229 "[internal] chromium headed on macOS ends up in worker teardown timeout error"
[code]

It hangs here: https://github.com/microsoft/playwright/blob/7ae447ea0fd7641b4414b369430623b1f9f260b1/packages/playwright-core/src/server/page.ts#L610-L611

We never get `Target.detachedFromTarget` so it does not end up in here: https://github.com/microsoft/playwright/blob/7ae447ea0fd7641b4414b369430623b1f9f260b1/packages/playwright-core/src/server/chromium/crBrowser.ts#L201-L221

So far it

[2022-10-21 01:30] jw-star opened #18233 "How to set ffmpeg to system"
### Your question

this is dockerfile,I want to set up alis, but when I run the container, it doesn't take effect

[code]
There is also a relationship between the path of ffmpeg and the version number, it is best to fix the path

[2022-10-21 01:30] #18225 closed

[2022-10-21 02:01] gselsidi opened #18234 "[Question] How can I strip project name from snapshot filename creation?"
This is as far as I've gotten but TestInfo.file gives the absolute path, how can i just grab fileName of the current test? Or an easier way to strip the project name? I've already removed the suffix platform stuff.

Reason i want this is to use the screenshots for different desktop browsers, I noticed chrome and firefox both pass image comparison even baseline images created on chrome.

should pro

[2022-10-21 02:15] CodingProgrammer commented on #18102
@dgozman The picture one is the repo. I true the video on(picture two) and configured the dir as the 'files/' under the root. But there is no video recording generated.

<img width="1433" alt="image" src="https://user-images.githubusercontent.com/22937096/197095023-f8d879ae-304a-4082-83cf-181058148373.png">
<img width="898" alt="image" src="https://user-images.githubusercontent.com/22937096/197095

[2022-10-21 02:37] kepta opened #18235 "[BUG] navigator.storage.getDirectory() fails in webkit"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Mac
- Node.js version: 18.7.0
- Browser: WebKit
- Extra:

## System:
 - OS: macOS 12.3.1
 - Memory: 2.18 GB / 32.00 GB
## Binaries:
 - Node: 18.7.0 - /private/var/folders/3c/f3h337b54wj65l4r3l_88l8m0000gn/T/xfs-3785805c/node
 - Yarn: 3.2.2 - /private/var/folders/3c/f3h337b54wj65l4r3l_88l8m0000gn/T/xfs-3785805c/yarn
 - npm: 8.15.0 - ~/.n

[2022-10-21 03:46] cameronbraid commented on #14748
My current approach is to use vite server, and create an index.html and index.tsx file for my tests, which is a bit of manual work.  However it gives me a very fast feedback loop as I can run a component test almost without delay by pointing playwright at the vite server.  When using playwright component testing, I have to wait for the full prod build which as mentioned above is very slow, though

[2022-10-21 05:42] xt0rted commented on #16214
Just ran into this issue as well trying to test a capslock warning on password fields.

[2022-10-21 06:13] einarpersson commented on #7035
Please add watch mode to the CLI. I cannot see any reason against it, other than forcing users to vscode. Although I myself use vscode, I don't want to force it upon others. Please Microsoft, be kind and generous.

I want to use playwright for both my e2e tests and unit tests (and for the latter watch mode is a must).

[2022-10-21 06:15] JonWallsten opened #18236 "[Question] Navigating between Angular routes"
We're currently migrating protractor tests to playwright, and one thing that doesn't work, and I can't find away around it looking through the documentation, is navigating to other routes or navigating to the same route without the current query params.
Example:
`await this.page.goto('http://localhost/#/my-app');`
We then do some stuff in the test and the URL i updated to:
`await this.page.goto('h

[2022-10-21 07:20] xianshenglu opened #18237 "[Feature] [playwright-vscode] Respect custom testIdAttribute in codegen"
Normally, the generated code can not be used directly. One reason is that the generated selector is not what we want.

Since we have already supported `getByTestId` and `testIdAttribute`, so why not use them in the record and pick selector function if the `testIdAttribute` is set?

[2022-10-21 07:42] skyuplam commented on #18206
@aslushnikov Oh, thanks for your quick response and I have just tried it and it works when I installed the pulseaudio and started it.

[2022-10-21 07:52] irharrier2 commented on #12847
1. Dotenv does not work with Jenkins, so I need to maintain two different set of env variables (one for dotenv and one in Jenkinsfile)
2. I have to use a secondary plugin such as dotenv, which goes against the whole concept of Playwright being all in one pack

Downsides of using dotenv is only one part of the problem. Cypress offers some really nice test configuration and environment variable mana

[2022-10-21 07:56] dh0d opened #18238 "[BUG] Browser fixture can't be overriden"
**Context:**
- Playwright Version: 1.27.0
- Operating System: Linux
- Node.js version: 16.17.1
- Browser: [e.g. All, Chromium, Firefox, WebKit]

**Code Snippet**
[code]

**Describe the bug**
The idea - if PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD is set in env we need to use installed cromium for test, otherwise use browsers from playwright.

I've tried to do this via fixtures, but with code above browser

[2022-10-21 08:48] Serhatbird commented on #17394
There is still a problem. you helped me****

[2022-10-21 09:48] mokone91 opened #18240 "[Question] Screenshot difference between mac and ubuntu"
Hi!
I going to setup screenshot testing using @storybook/test-runner + jest-image-snapshot
@storybook/test-runner uses  jest-playwright under the hood, and issue is - screenshots different in various OS.

I understand that this is a normal behavior, different OS renders things differently...
But is its possible to do something to minimize this difference, so i can use some threshold as now its not

[2022-10-21 09:51] dubpal commented on #18004
@dgozman thx for your reply.
The page im testing is hosted on the same machine and I never have issues reaching the page.
Im facing "heavy" flickering on Firefox - which I think is related to the issue that Firefox freezes occasionally.
I've tried to set the viewport to 'null' as recommended here (https://github.com/microsoft/playwright/issues/2576). But I think this isn't allowed anymore.

[2022-10-21 10:03] orlyk opened #18242 "[BUG] Allowing geolocation permissions does not work in Chromium"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Mac
- Node.js version: 16.15.0
- Browser: Chromium
- Extra: Chromium version 107.0.5304.18 (Developer Build) (x86_64)

**Code Snippet**
[code]

**playwright.config.ts**
[code]

**Describe the bug**
There is no `Know your location` pop-up in Chromium, but location is disabled for specific site. Works on Desktop Chrome version:
[code]
<im

[2022-10-21 10:11] Xiphe opened #18243 "[BUG] addStyleTag gets unresponsive with polyfilled setImmediate and high parallelity"
### Context:
- Playwright Version: 1.27.1
- Operating System: OSX 12.6 (M1 Max)
- Node.js version: 16.15.1
- Browser: Chromium

### Code Snippet

[code]

### Describe the bug

Seems as if there is a race condition causing unresponsiveness when setImmediate invokes the passed callback too fast.
On my machine the issue can be reproduced quite reliably with the above snippet and `parallel = 30`.

I'v

[2022-10-21 10:14] ulken commented on #11885
@cmsqa  Necro, but FYI: in contrast to the shorthand of simply feeding a pathname to `page.waitForResponse()`, `response.url()` returns the complete URL string (including protocol and domain etc.).

So, either you would need to compare to that (e.g. `http(s)://yourdomain.xyz/api/documents`) or wrap it in a `URL` object and compare to its `pathname` (e.g. `new URL(response.url()).pathname === "/api

[2022-10-21 10:22] larsqa commented on #18213
@dogzman I tried to read your explanation several times but didn't really get what you mean?

[2022-10-21 10:54] mokone91 commented on #18240
Have to try different cromium flags - but no luck
[code]

[2022-10-21 11:29] theillo opened #18244 "[BUG] debug mode breaks visual regression (event showing mouse icon event on screenshot)"
**Context:**
- Playwright Version: 1.27.0
- Operating System: Windows
- Node.js version: v16.13.2
- Browser: [e.g. All, Chromium, Firefox, WebKit]

**Code Snippet**

test("Smart Frame 1 testing", async ({ page }) => {
  await page.goto("https://smartitnow.blogspot.com/p/e.html");
  await page.mouse.move(700, 400);
  await page.waitForTimeout(4000);
  expect(await page.screenshot()).toMatchSnapshot

[2022-10-21 12:19] NayeemJohnY commented on #3166
@pavelfeldman and @aslushnikov
Is this issue got resolved ? I am facing this issue on below context:
Playwright Version: playwright@1.27.1
Operating System: Windows 10
Node version: v16.13.0
Browser: Chromium

In webkit & firefox it is working

[2022-10-21 12:22] PhilipStubbs opened #18245 "[BUG] interacting with iframe that has webkit-transform: scale() set, causes iframe content to jump around"
**Context:**
- Playwright Version: [1.27.1]
- Operating System: [Mac]
- Node.js version: [e.g. 17.9.0]
- Browser: [All]

## System:
 - OS: macOS 12.5.1
 - Memory: 98.22 MB / 16.00 GB
## Binaries:
 - Node: 17.9.0 - ~/.nvm/versions/node/v17.9.0/bin/node
 - Yarn: 1.22.19 - /opt/homebrew/bin/yarn
 - npm: 8.5.5 - ~/.nvm/versions/node/v17.9.0/bin/npm

**Code Snippet**

Here is the content of a test for

[2022-10-21 12:43] yugawara opened #18246 "[Question] Does getByRole work like locator in vscode?"
In https://marketplace.visualstudio.com/items?itemName=ms-playwright.playwright

See Debug step-by-step, explore selectors

As in the document above, the page.locator.... expression works well with vscode.

However, if I click on getByRole in VSCode, nothing is highlighted.    Is there anything I can  do about this?

[2022-10-21 13:16] costag1982 commented on #18179
Thanks that is a great explanation.

[2022-10-21 13:16] #18179 closed

[2022-10-21 13:33] shuguang101 commented on #18190
`{
    'Accept-Encoding': '',
    'Range': 'bytes=0-1',
}`
This is worked for "https://lf3-cdn-tos.bytescm.com/obj/static/xitu_juejin_web//static/favicons/site.webmanifest". But other urls may also encounter this problem. Is it possible to fix this problem(return an error or trigger timeout). The decompress() is called in fetch.ts, if decompress failed an error should be returned, BrotliDecompress

[2022-10-21 14:01] HoodyStiliyan commented on #18242
I can confirm, in fact, this seems to be happening in all browsers and all the latest channels.

[2022-10-21 14:04] Vivek-Kini commented on #18163
I have a similar issue which happens only on `chromium` where the context (session cookie) is lost when navigating from one page to other page (because of a click event). My scenario is working fine on Firefox using Playwright. Trying to provide a scenario (reproducible steps) to share here to further assess.

[2022-10-21 14:28] dtyunegov opened #18247 "[Feature] How to send multipart request with duplicated keys"
For send array "data[product]" I write
"data[product][]:18
data[product][]:55"

In postman it looks like this:
![image](https://user-images.githubusercontent.com/83776173/197211761-40c4d320-8463-4217-8158-f9628dfd8275.png)

How to make similar array to playwright?
![image](https://user-images.githubusercontent.com/83776173/197219628-c3ae290a-6f26-410a-881e-e623951bf8eb.png)

The following method i

[2022-10-21 15:27] pbiggar opened #18248 "[BUG] Tests do not respect timeout"
**Context:**
- Playwright Version: 1.26.1
- Operating System: Linux
- Node.js version: 14.20.1
- Browser: Chromium

Playwright config [publicly available](https://github.com/darklang/dark/tree/01b55134b2404142ed9675e1435f6e3819bf4647/integration-tests)

**Code Snippet**

[code]

**Describe the bug**

Sometimes when I run my playwright tests, some of the tests hang despite a timeout being set.

For

[2022-10-21 15:30] SRVFLLN opened #18249 "[Question] How should i handle alerts when i use Page Object Model?"
Hello! When i click on button that triggers alert, nothing happens, and i can't figure out why. I have tryed differrent ways to set page.on('dialog'), but nothing works.
My spec file:
![image](https://user-images.githubusercontent.com/93190152/197232308-bc20d3d8-af4f-4435-af00-b6fb0d9b4b1c.png)

Page obect file:
![image](https://user-images.githubusercontent.com/93190152/197232560-2476d121-090c-40

[2022-10-21 15:31] pbiggar opened #18250 "[BUG] After globalTimeout, incomplete tests are not indicated"
**Context:**
- Playwright Version: 1.26.1
- Operating System: Linux
- Node.js version: 14.20.1
- Browser: Chromium

Playwright config [publicly available](https://github.com/darklang/dark/tree/01b55134b2404142ed9675e1435f6e3819bf4647/integration-tests)

**Code Snippet**

[code]

**Describe the bug**

When the globalTimeout is hit, incomplete tests are not indicated, when using the list reporter.

[2022-10-21 15:32] aslushnikov commented on #18206
It's not something we can put to our docker image though: docker container doesn't launch any services by default. So I'll close this for now given this workaround.

[2022-10-21 15:32] #18206 closed

[2022-10-21 15:53] aslushnikov commented on #17876
@wxiaoguang so how do I repro this? Any simple test or snippet that I can run locally in default docker container that will illustrate the issue?

[2022-10-21 16:06] yury-s commented on #18213
@larsqa Imagine that all methods that you call in Promise.all return their results synchronously. In that case wrapping them in `await Promise.all` is essentially a no-op and the order of calls obviously matters. Playwright API methods marked as async have some parts which run synchronously (and some methods may even complete synchronously) so the order of their invocation matters for the same rea

[2022-10-21 16:17] Neha-test-dev commented on #18163
So the session timeout page is displayed only in the flow where one makes a purchase. I have tried to use a free template and with this flow, the tool is unable to recognize the element after navigating to the Templates page. It throws a timeout message -"Timeout of 180000ms exceeded." though the element is present.

[2022-10-21 16:29] nagisaando commented on #14698
The issue is still happening. is there any update for this?

[2022-10-21 16:39] moefinley opened #18253 "[Question] I can't get tracing to work in the global setup"
I followed the instructions [here](https://playwright.dev/docs/next/test-advanced#capturing-trace-of-failures-during-global-setup) but my trace file contains no actions.

I've recreated it in a [simple example](https://github.com/moefinley/playwight-does-not-trace-in-global-setup).

In my simple example my global setup creates a locator and performs and action on it. My understanding is both of th

[2022-10-21 16:48] dgozman commented on #18233
@jw-star Could you tell us more about your workflow? Note that Playwright's [official docker images](https://playwright.dev/docs/docker) already has ffmpeg and all browsers pre-installed.

[2022-10-21 16:50] jw-star commented on #18233
@dgozman I built it myself, no other browser needed

[2022-10-21 16:51] jw-star commented on #18233
[code]

[2022-10-21 16:52] #17479 closed

[2022-10-21 17:11] gajus opened #18254 "[Question] How to allow `waitForURL` to fail?"
The context is this code:

[code]

In short, the expectation is that we try loading `/` page (which would redirect to `/get-started` if user is authenticated or `/login` if they are not), but if it loads wrong page, then we retry.

At the moment, it seems like Playwright immediately causes the test to fail on first `waitForURL` failure.

[2022-10-21 17:13] wxiaoguang commented on #17876
Reference: https://github.com/go-gitea/gitea/pull/20744 , the logs are collected from its failure logs. I can add you as editor for the repo and you can push to retry

I think it should be stable to reproduce (sorry that I am out and haven't prepared the environment on my carried computer)

[2022-10-21 17:13] gajus commented on #18254
I just realized that I could rewrite that check to:

[code]

However, leaving the question open if there is a more appropriate way.

[2022-10-21 17:16] dgozman commented on #18233
@jw-star I am sorry, but I still don't understand what are you trying to achieve. Playwright installs browser and ffmpeg for itself, it does not use any ffmpeg that's available on the system. How should we help you?

[2022-10-21 17:17] wxiaoguang commented on #17876
Related  files:

https://github.com/wxiaoguang/gitea/blob/f08d8b836d5e7e791722e50f52edc92d4662c8fa/tests/e2e/example.test.e2e.js

It's started by  `npx playwright test`, pretty simple.

[2022-10-21 17:19] jw-star commented on #18233
@dgozman I want to use Playwright's ffmpeg, put it in environment variables

[2022-10-21 17:24] jw-star commented on #18233
Therefore, it may need to be changed according to the 1007 path if referenced by other programs

[2022-10-21 17:25] jw-star commented on #18233
If you can fix the directory to remain unchanged, it will be much more convenient

[2022-10-21 19:10] jfgreffier commented on #17799
Isn't it a duplicate of https://github.com/microsoft/playwright/issues/15075 ?

[2022-10-21 19:51] dgozman commented on #18233
I don't think we'll do that, because the cons outweigh the pros.

[2022-10-21 19:51] #18233 closed

[2022-10-21 20:12] ShawnTalbert opened #18255 "[BUG] Timeout on WSL2, works fine in Windows Powershell"
**Context:**

I'm just trying to get the basic example working using `playwright`  via WSL bash prompt.

- Playwright Version: 1.27.1
- Operating System: Windows and WSL
- Node.js version: 16
- Browser:  Chromium, Firefox, WebKit

# for 'native' windows
## System:
 - OS: Windows 10 10.0.19044
 - Memory: 22.89 GB / 63.73 GB
## Binaries:
 - Node: 16.18.0 - C:\Program Files\nodejs\node.EXE
 - npm: 8.

[2022-10-21 20:18] aslushnikov commented on #18094
@francopcwolfram we build firefox with "unofficial" branding. This is the default branding for un-official builds.

You can navigate to `about:buildconfig` in Firefox - it gives all the build configuration.

Hope it helps!

[2022-10-21 20:18] #18094 closed

[2022-10-21 20:26] gajus commented on #18254
Ended up with this:

[code]

[2022-10-21 20:39] yurymatveichuk opened #18259 "[BUG]"
**Context:**
- Playwright Version: 1.27 (reproduce from 1.24)
- Operating System: Mac
- Node.js version: 16.14.2
- Browser:  All

**Code Snippet**

[code]
async selectAssetByName(asset: string) {
    const strictEqualAsset = new RegExp(`^${asset}$`, "g");
    const assetLabelText = this.page.locator("data-testid=rightText", { hasText: strictEqualAsset });
    await assetLabelText.click();
  }

awa

[2022-10-21 20:45] yury-s commented on #18190
Looks like it only hangs in node 16 and passes in node 18, I tried this test:

[code]

In node 18 it throws
[code]
So it should be fixed in the next release once we switch to node 18.

[2022-10-21 20:47] yurymatveichuk commented on #18259
![v1 23](https://user-images.githubusercontent.com/36194946/197285952-bccc34f0-2974-496d-9091-df261e55d200.png)
![v1 27](https://user-images.githubusercontent.com/36194946/197285957-06798805-b6e2-4fbf-9ba7-aa85f8290f6d.png)
<img width="1416" alt="Screenshot 2022-10-21 at 23 38 44" src="https://user-images.githubusercontent.com/36194946/197285977-93432635-7967-429e-a45d-2cc8a3ad516c.png">

[2022-10-21 21:01] yury-s commented on #17976
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-10-21 21:01] #17976 closed

[2022-10-21 21:10] dgozman commented on #18236
@JonWallsten Your `page.goto()` calls look correct. Could you please share a repro that we can run locally? Otherwise, I can just advise to use the [debugging tools](https://playwright.dev/docs/running-tests#debugging-tests) and see what's going on.

[2022-10-21 21:11] dgozman commented on #18237
@xianshenglu I think codegen should already generate `getByTestId()` calls for you. Could you share a page where this does not happen? Also, what's your playwright version?

[2022-10-21 21:14] larsqa commented on #18213
I'm having a tough time understanding your (probable) good explanations, but would love to understand the reason!

My understanding of Promise.all is that it executes its promises all at the same time. Even with some promises, that have synchronous parts inside, how does the order matter if PromiseA or PromiseB end up beeing executed at the same time?

[2022-10-21 21:16] dgozman commented on #18238
@dh0d I think both versions should work. The first version will also launch the default playwright browser, because you wanted to use it by specifying the `browser` argument.

That said, it's much easier to change things in the config:
[code]

[2022-10-21 21:16] gajus commented on #18254
This doesn't quite work, because when `waitForNavigation` times out, that still propagates into an error.

[code]

[2022-10-21 21:30] #18198 closed

[2022-10-21 21:32] #18254 closed

[2022-10-21 21:42] angelo-loria commented on #15456
I'm experiencing the same issue, was there any resolution to this?

[2022-10-21 21:52] dgozman commented on #18243
@Xiphe I don't think that Playwright is ready for all kinds of `setImmediate` polyfills in the wild. We have [some interesting logic](https://github.com/microsoft/playwright/blob/main/packages/playwright-core/src/utils/index.ts#L28-L65) around `setImmediate` use.

Playwright should all work with built-in `setImmediate`, and if it does not that's an issue. I think that "firefox no closing within 15

[2022-10-21 21:56] dgozman commented on #18244
@theillo This is not a mouse cursor, but just some html element being rendered under the mouse by the site. You can try it yourself. I think there might be a race condition, where just running the test happens fast, and site does not render this "cursor", but when you are debugging and moving the mouse around and do it slowly, it does render the "cursor". I don't think we can help in this case.

[2022-10-21 21:59] theillo commented on #18244
Hmm, I understand, I'll check it again. Sorry for the problem and thank you for your time @dgozman

[2022-10-21 21:59] #18244 closed

[2022-10-21 22:05] dgozman commented on #18246
@yugawara This works for me with the extension `v0.2.13`. Could you please share a repro we can run locally?

[2022-10-21 22:09] dgozman commented on #18248
@pbiggar I looked at the report, and it has more than 60 tests, with an average test time of ~10seconds. This amounts for more than 10 minutes, so `globalTimeout` kicks in. Seems like working as expected.

[2022-10-21 22:10] pbiggar commented on #18248
Those tests are split across 8 workers though.

[2022-10-21 22:13] pbiggar commented on #18248
Here's a run where the test doesn't hang, taking a total of a little over 2m. That's how long they usually take when no test hangs. https://app.circleci.com/pipelines/github/darklang/dark/4284/workflows/cf16dadb-516c-4222-b960-c223b9146f93/jobs/44482

[2022-10-21 23:04] dbalikhin commented on #7276
Any progress by any chance? :)

[2022-10-21 23:25] dgozman commented on #18250
@pbiggar That's right, terminal reporters do not print the list of skipped tests, because that could be too many. I think this is more of a feature request, I'll leave it open for prioritization.

[2022-10-21 23:26] dgozman commented on #18247
@dtyunegov Do I understand you correctly that you want to send two values for the same key in `multipart`? If so, this is currently not supported, but I can leave it as a feature request for prioritization.

[2022-10-21 23:28] dgozman commented on #18253
You should replace
[code]
with
[code]

This will make sure that page is created in the `context` that records the trace later on. Let me know if that helps.

You can also follow #14895 that will make it all automatic for you.

[2022-10-21 23:29] #18259 closed

[2022-10-22 00:05] dgozman commented on #18240
@mokone91 There's not much you can do to get the same screenshots between OSes. You use a container to run your visual tests - this way you'll have a reproducible environment.

[2022-10-22 01:16] pbiggar commented on #18250
Yeah, I would classify this as a failed test rather than a skipped one. I don't really see why it would be considered skipped

[2022-10-22 04:42] xianshenglu commented on #18237
playwright@1.27.0
@playwright/test@1.27.0

I have created a repo https://github.com/xianshenglu/playwright-codegen-test-id-issue.  I tested with https://playwright.dev with `testIdAttribute: 'class'`

[2022-10-22 04:47] xianshenglu commented on #18237
Or you can use `data-ph-id` with https://jobs.microfocus.com/global/en/

[2022-10-22 04:56] Bickio opened #18264 "[BUG] Firefox browserContext does not isolate link history"
**Context:**
- Playwright Version: 1.27.1
- Operating System: Linux
- Node.js version: 16.15.0
- Browser: Firefox

**Code Snippet**

[code]

**Describe the bug**

The index page `/` has an anchor pointing to `/page`.

When running the tests in separate workers, the anchor shows as not visited (blue). This is correct behaviour.

However, when running the tests in the same worker, the anchor tag dis

[2022-10-22 05:09] JontyMC commented on #18072
Please reopen this, been looking at this issue for a while. In our team, using ${relativeFile} in launch.json for vscode works for me but no-one else, not sure why this is. Our launch.json looks like this:

[code]

Which runs the command:

`C:\Program Files\nodejs\npx.cmd playwright test path\to\test`

This works on my machine, but not others.

[2022-10-22 05:38] JontyMC commented on #18072
I found out why it was working on my machine. I had node 16.14.0 installed. When I updated to 16.18 I got `no tests found` as others were seeing on the team.

[2022-10-22 05:54] JontyMC commented on #18072
Workaround, use [Command Variable](https://marketplace.visualstudio.com/items?itemName=rioj7.command-variable) vscode extension and use `"${command:extension.commandvariable.file.relativeFilePosix}"`

[2022-10-22 06:04] dh0d commented on #18238
@dgozman seems it is what exactly I need)) thank you.  I will close the issue then.

[2022-10-22 06:04] #18238 closed

[2022-10-22 11:14] shuguang101 commented on #18190
fixed in Node.js 18

[2022-10-22 11:14] #18190 closed

[2022-10-22 12:40] uzeyirqa opened #18265 "[BUG]"
**Context:**
- Playwright Version: [what Playwright version do you use?] 1.23.3
- Operating System: [e.g. Windows, Linux or Mac] Linux centOS 7
- Node.js version: [e.g. 12.22, 14.6] 16.16.0
- Browser: [e.g. All, Chromium, Firefox, WebKit] Chromium

Hi I am getting occasionally  this error when running in parallel. The test runner is cucumber.js. I use 8 workers.

[code]

[2022-10-22 15:28] tadd commented on #14043
Hi all, thanks for the great tool.

Why has this issue stopped for almost half a year? I don't think there is a major barrier since the fix is to undo one line, making it behave the same as the current real Safari.

My problem is not with `SharedArrayBuffer` but with `performance.now`; however, I think that the root cause is the same and lies in this issue.

Since developing a cross-browser JS lib

[2022-10-22 15:56] hamza1311 opened #18266 "[Feature] Create bindings for Rust"
## Description

Create Playwright bindings for Rust. There are many web frameworks that enable developers to write entire web applications in Rust, such as [Yew](https://yew.rs/), [Dioxus](https://dioxuslabs.com/), [Sycamore](https://github.com/sycamore-rs/sycamore) and others. It would be beneficial to write tests for these applications in Rust as well.

## Prior work

In no particular order:
- i