[2021-12-16 22:18] mxschmitt commented on #10966
Seems like it was already clarified by #10446 so closing for now.

[2021-12-16 22:18] #10966 closed

[2021-12-16 23:05] foneandrew opened #10980 "[BUG] page supplied by playwright test does not use recordVideo config"
Context:

Playwright Version: 1.17.1
Operating System: Mac
Node.js version: 16.4.0
Browser: All

(I tried using a few older versions, and it seems that the issue first appeared in v 1.14.0)

Relevant config snippet from `playwright.config.ts`:

[code]

On versions before 1.14.0 this would result in videos being recorded to `output/Chrome/recordings/unnamed` (which would then be moved to a differen

[2021-12-16 23:51] ltsuda commented on #10980
I might be wrong, but I think you're mixing two different video configurations. One is the `recordVideo` from the `BrowserContext` options and the other is the Record Video using the configuration file.

If you want to change the video output repository, you should use the `contextOptions` creating a `newContext` like your last piece of code. But if you want to use the provided Page fixture, you n

[2021-12-17 00:12] foneandrew commented on #10980
Ah thanks you nailed it.

Yes we had some extra config tucked away at the bottom of the config file. Removing the `video: 'on'` fixed everything.

[code]

Thanks again for you help!

[2021-12-17 00:12] #10980 closed

[2021-12-17 00:54] zomars commented on #7597
Hey @mxschmit I can confirm that this is happening again.

[2021-12-17 02:33] #10416 closed

[2021-12-17 05:27] rajukshetri commented on #10927
@mxschmitt thank you very much I will be highly appreciate your efforts towards this  .
I am eagerly waiting for this support as this is road blocking for our CEF e2e testing with PW.

[2021-12-17 06:17] mxschmitt opened #10989 "[BUG]"
**Context:**
- Playwright Version: ToT
- Operating System: macOS
- Node.js version: 16
- Browser: All

**Describe the bug**

When using `--repeat-each 100` the test-case hashes get calculated incorrectly and by the entires get merged inside the HTML report.

e.g. when there are 99 passing and 1 failing, you won't be able to view the 1 failing since they all get the same ID assigned.

Maybe re-use

[2021-12-17 06:44] kspolam opened #10990 "[Question] is Log4js also vulnerable ?"
the latest log4j vulnerabilities is also applicable to log4js which is used by playwright internally ?

[2021-12-17 07:16] cknmca commented on #10975
We are using plugins called ChartIQ then it shows stock exchange dynamic data in the particular time.weather i already use the visual comparison from Playwright for my poc work.but how can i check the screen shots with custom message if the matching screen shots is equal and how can we shows the message of not equal. my next question is how to use @dataprovider concept in Playwright is their any s

[2021-12-17 07:39] ddeogharkar commented on #10911
Please find the git repo for the full code. I have added await before test.step but still I am facing issue with before all.

https://github.com/ddeogharkar/mc_changes

[2021-12-17 08:11] andyjy commented on #10969
🎉 🙏

[2021-12-17 10:14] BrandonQA opened #10992 "Running multiple tests at the same time C#"
Hi guys, currently looking for the best way to run multiple tests at the same time using testcafe. I'm not sure if this is possible from the artical i was reading on https://playwright.dev/dotnet/docs/test-runners.

Thank you for your help and information in advance,
brandon

[2021-12-17 10:47] tkrotoff opened #10993 "[Feature] get the value of an input based on label text"
We can fill an input based on label text: https://github.com/microsoft/playwright/issues/3466 https://github.com/microsoft/playwright/pull/4342

`await page.fill('text="Email address"', 'user@mail.com')`

Would be great to also get the value of an input based on its associated label text:

`const inputValue = await page.inputValue('text="Email address"')`

[2021-12-17 11:15] thernstig commented on #10916
We intend to do this. But we still use a Page Obejct Model kind of API, where we wrap a table component in it. We have a function getHeaders which returns headers. So the actual expect() statement would still be receiving an array and not a locator.

I am going to close this then as it was more of a question of if there is a known difference not documented. But there is not I'll ask the developer

[2021-12-17 11:15] #10916 closed

[2021-12-17 12:05] btd opened #10994 "[Feature] Steps without explicit body?"
Hi, thanks for great lib.

We are migrating our E2E projects now to @playwright/test from CodeceptJs and one of our test engineers asked if it is possible to write `test.step` without body (because of previous `I.say` syntax).

Something like:
[code]

I could imagine this to be working in the similar way it is now. Not sure it is possible to determine body steps.
By idea body is everything between

[2021-12-17 12:26] sadik13 opened #10995 "How to retrieve data block for_each values in my resource "aws_wafv2_web_acl" statement block?"
Hi Team,

In one of my repo  WAFV2 code migrations, I need to retrieve the data block for_each value in my resource "aws_wafv2_web_acl" statement block. So please suggest how to achieve this one in WAFV2.

Below is my sample code snippet:

main.tf:=
===========

[code]

[code]

variable.tf:-
=====================
[code]
If i am  run the Terraform plan(V1.0.0) by using the above code getting the be

[2021-12-17 13:15] dssnoha commented on #10967
is it possible to do it without having to use any kind of interaction ? because i only need to check the page response after navigation and that's it!

[2021-12-17 14:30] Bessonov opened #10996 "[Feature] Include websocket frames in the trace-viewer"
Hey guys! Playwright is **amazing** and thank you very much for it!

I rely heavily on WebSockets and it would be nice if they could be included in the trace viewer.

[2021-12-17 14:53] kblok commented on #10920
1.7.1 fixed it. Thank you @mxschmitt!

[2021-12-17 14:53] #10920 closed

[2021-12-17 15:38] gopi19 opened #10997 "[BUG] Locator/ Text Selector fails to consider leading and trailing spaces in text"
**Context:**
- Playwright Version: 1.17
- Operating System: Windows
- Node.js version:12.19.0
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: None

[code]

**Describe the bug**
![image](https://user-images.githubusercontent.com/27012616/146569825-4ed10d71-b8b9-4731-b161-1d4eeb03d135.png)

I am trying to find an element with text but the text found to have leading and trailing spaces. Due

[2021-12-17 17:22] mxschmitt commented on #10990
Playwright does not use this library. Closing by that since its not affected.

[2021-12-17 17:22] #10990 closed

[2021-12-17 17:25] mxschmitt commented on #10996
web-socket traffic is often binary or JSON based - what kind of data are you sending? Having the JSON of the request and response frames visualised would be also required then.

[2021-12-17 17:27] Bessonov commented on #10996
My use case is exclusively json based

[2021-12-17 17:28] mxschmitt commented on #10992
We recommend nunit as a test-runner for C#, since it provides the best integration with Playwright, gives you an isolated page out of the box and works well with parallelism: https://playwright.dev/dotnet/docs/test-runners#running-nunit-tests-in-parallel

isn't Testcafe only for JS/TS? (If you are using JS/TS, see [here](https://playwright.dev/docs/intro).)

For other test-runners we can't provide

[2021-12-17 17:30] mxschmitt commented on #10995
This looks not related to Playwright, closing by that.

[2021-12-17 17:30] #10995 closed

[2021-12-17 18:07] rinogo commented on #4488
Subscribing.

Note that if you use Socket.io, you can disable websockets in your server with `io.set('transports', ['polling']);`, or if you're on NestJS, `@WebSocketGateway({ transports: ['polling'] })`.

Disabling websockets temporarily in test is obviously not ideal, but it can be a temporary stopgap measure for e2e testing.

[2021-12-17 18:43] #10845 closed

[2021-12-17 20:08] BrandonQA commented on #10992
Hi Sorry miss type on old application i'm using playwright

[2021-12-17 20:20] #10970 closed

[2021-12-17 21:42] Mictim commented on #10935
@mxschmitt Thank you, it is working for me.

[2021-12-17 21:42] #10935 closed

[2021-12-17 21:50] mxschmitt commented on #10994
It is not possible, each step needs to be awaited (you have a missing await) and has a body, otherwise it would never show which step it is running since its going instantly going through it. See here for more information: https://playwright.dev/docs/api/class-test#test-step

[2021-12-17 23:21] sunjeet-khokhar opened #11005 "slowMo option exercised through command line or in playwright.config ?"
Hey folks,

This is regarding a debugging use-case ..
for debugging purposes I want to control the replay speed "globally" for a test run ( rather than from within the test file) , either through the command line or from the config file , but I this does not seem to be allowed

Is it even possible ?

e.g. -->
if on the command line i try to do " npx playwright test --slowMo=2000
i get the unknown

[2021-12-18 05:07] #10888 closed

[2021-12-18 05:09] gopi19 commented on #11005
![image](https://user-images.githubusercontent.com/27012616/146629954-a428d6fe-af13-4f27-bcd6-dff980b65902.png)

[2021-12-18 07:53] cjydayang opened #11013 "[Bug]: wait_for_function method raise error"
### Playwright version

1.17.2

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

Follow the examples in the documentation：[page.wait_for_function](https://playwright.dev/python/docs/api/class-page#page-wait-for-function)

my test script throw an error

### Code snippet to reproduc

[2021-12-18 11:38] trotzig opened #11009 "[BUG] Using certain mp4 video sources causes webkit to crash"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac OS Monterey 12.0.1
- Node.js version: 16.13.0
- Browser: Webkit

**Code Snippet**

Here's a repo that reproduces the issue: https://github.com/happo/playwright-webkit-crash-repo

[code]

**Describe the bug**

When injecting a `<video>` that has an mp4 video `<source>` element in webkit, the browser crashes with this error in the deb

[2021-12-18 15:57] DhairyaBahl opened #11011 "[Question] Selecting Children of an Element"
### Description

I am unable to get the count of number of child elements of a DOM element. I would like to know that how can I get the count when I get the reference to that element using ```page.$('selector')``` ! How to use this to access its child elements ?

### What I tried

I tried using using evaluate f() on page but I don't think it is the right way ! There must be some way to do the same

[2021-12-18 17:03] yitiaofeixiangdeyu opened #11012 "please give your comment Prompt when running the official example AttributeError: 'PlaywrightContextManager' object has no attribute '_playwright'"
![image](https://user-images.githubusercontent.com/64075274/146649453-d23bc4a4-61cd-401b-8bca-40c27edb5bf2.png)

![image](https://user-images.githubusercontent.com/64075274/146649470-d97dda45-aaa8-4315-825f-1ff9e8fc305b.png)

[2021-12-18 17:32] #10624 closed

[2021-12-18 18:56] mxschmitt commented on #11012
Which Windows version are you using?

[2021-12-18 18:57] mxschmitt commented on #11009
Looks related to https://github.com/microsoft/playwright/issues/10892

[2021-12-18 19:00] mxschmitt commented on #11005
You need to put it inside launch options, see here: https://playwright.dev/docs/test-configuration#more-browser-and-context-options

[2021-12-18 19:02] mxschmitt commented on #10992
Do you mean you are using Playwright with Node.js or C#?

[2021-12-18 19:11] ltsuda commented on #11011
[code]

[2021-12-18 21:26] sunjeet-khokhar commented on #11005
thanks for that , yes i was missing put it inside the launch options !
so this config works now ...

![image](https://user-images.githubusercontent.com/15244739/146655875-f623407f-776b-47af-b8d2-05e6fbc952d9.png)

[2021-12-18 21:26] #11005 closed

[2021-12-18 21:43] DhairyaBahl commented on #11011
I will try this next time. This time I managed with evaluate. Thanks. 😄

[2021-12-18 21:43] #11011 closed

[2021-12-18 23:49] heijingg opened #11014 "[BUG] page.on('dialog', ()=>{}) doesn't work when I open a telegram link."
**Context:**
- Playwright Version: 1.17.1
- Operating System: macOS 12.0.1
- Node.js version: v17.0.1
- Browser:  Chromium
- Extra:

[code]

[2021-12-19 11:10] cjydayang commented on #11013
@mxschmitt Sorry this is a privatized web applications so i can't provide a URL. Would it help you analyze the problem if I upload the playwright trace file？

[2021-12-19 22:28] AlexKomanov opened #11016 "[Question] The correct installation of Playwright test"
Hi all.
In order to use the playwright I always use installation of Playwright and also of Test Playwright dependencies.
But I saw tutorials where I just can install the test dependency.
What is the correct one?

[2021-12-19 22:46] mxschmitt commented on #11016
The correct way is to just install `@playwright/test` see here: https://playwright.dev/docs/intro

[2021-12-19 22:46] #11016 closed

[2021-12-19 22:47] mxschmitt commented on #10718
Closing for now since we don't have a repro. Please create a new issue if you still encounter issues.

[2021-12-19 22:47] #10718 closed

[2021-12-20 02:04] cjydayang commented on #11013
[trace.zip](https://github.com/microsoft/playwright/files/7742144/trace.zip)
@mxschmitt This is the trace file

[2021-12-20 02:19] dipanshubhanot opened #11017 "[Question] Change screenshot directory for visual comparisons"
Instead of storing the screenshots next to the .spec.ts file, I wanted all the screenshots to be placed in a separate folder ([project-root]/tests/screenshots).

Is such a configuration possible?

[2021-12-20 05:14] mxschmitt commented on #11017
There is `snapshotDir`: https://playwright.dev/docs/api/class-testconfig#test-config-snapshot-dir

[2021-12-20 08:43] Lanre-Ikuesan opened #11018 "How can I use the browser library to interact with iframe and tinymice"
I am new to robotframework-browser. I am trying to write a test to select frame and then type text into the text area as shown in the screenshot below. I easily would have used the select frame keyword if i was using selenium library. Please I need some help with this.  I will be really grateful.
<img width="646" alt="Issue" src="https://user-images.githubusercontent.com/92743286/146738198-6134fb1

[2021-12-20 08:44] eliassorensen opened #11019 "[BUG] route.fulfill causes missing responseReceivedExtraInfo events"
## System:
 - OS: Linux 5.15 Pop!_OS 21.10
 - Memory: 17.39 GB / 31.10 GB
 - Container: Yes
## Binaries:
 - Node: 14.18.2 - /usr/bin/node
 - npm: 6.14.15 - /usr/bin/npm
## Languages:
 - Bash: 5.1.8 - /usr/bin/bash
## npmPackages:
 - playwright: 1.17.1 (but same in 1.18.0-alpha-dec-20-2021)

**Code Snippet**

[code]

**Describe the bug**

When using `route.fulfill` we no longer receive any `respons

[2021-12-20 09:12] eliassorensen commented on #11019
Just to illustrate - it also causes the `headersArray` in the page response to not contain the `set-cookie` header.

[code]

With `route.fulfill`, above code returns:
[code]

Without `route.fulfill`:
[code]

[2021-12-20 10:02] oioie opened #11020 "[playwright._impl._api_types.TimeoutError: Timeout while waiting for event "popup"]"
This is my python's code:
![image](https://user-images.githubusercontent.com/66261721/146747952-f5d68561-9e11-43a0-9fdd-93f7391c2506.png)
This is my html's code:
![image](https://user-images.githubusercontent.com/66261721/146747876-098e1c54-a728-47af-918f-5edb1b603abb.png)
This is my pic of html
![image](https://user-images.githubusercontent.com/66261721/146748400-2fb7ea43-efb3-4281-b20d-5bdf7d555

[2021-12-20 10:03] cullman1 commented on #10701
No clear reproducible recreation as yet - but I note the line that causes the error is this one in fixtures.ts:

[code]

[2021-12-20 11:53] cullman1 commented on #10701
I notice the same error - specifically `RenderCompositorSWGL failed mapping default framebuffer`

was logged with regards to Firefox 10 months ago and Puppeteer, and is seemingly unfixed:

https://bugzilla.mozilla.org/show_bug.cgi?id=1693011

[2021-12-20 13:38] kblok opened #11022 "[BUG] Unable to navigate pressing Enter on ubereats"
**Context:**
- Playwright Version: 1.7.1
- Operating System: macOS
- Node.js version: 14
- Browser: Chromium
- Extra: [any specific details about your environment]

I was taking a look at [this question on StackOverflow](https://stackoverflow.com/questions/70415952/why-does-playwright-not-change-url-once-button-is-clicked-on-uber-eats)

[code]

Although there are many workarounds to suggest, if yo

[2021-12-20 14:04] bbhxwl opened #11023 "[Question]What's the best thing to do if I want to synchronize operations between multiple browsers?"
I want to access browser A. For example, I enter my account password and log in. My other browsers B and C all repeat the operations of my browser A. what should I do?

[2021-12-20 14:55] esaminu opened #11024 "[REGRESSION]: No longer able to import formatters from @playwright/test/lib/test/reporters/base"
Hey guys, thanks for the great library.

I'd like to report a possible regression. I was previously able to import `formatTestTitle` and `formatFailure` from `@playwright/test/lib/reporters/test/base` and I am no longer able to do so. Is this intentional or is there now a new way to do this?

**Context:**
- GOOD Playwright Version: 1.13.1
- BAD Playwright Version: 1.14.0
- Operating System: Mac OS

[2021-12-20 15:07] pavelfeldman commented on #11024
Our base formatters are an implementation detail. Once we could annotate them as such in package.json, we did it.

[2021-12-20 15:14] Evilweed commented on #10911
@mxschmitt we have the same problem. This is internal app that we cannot easily provide access to, and saving it to hard drive does not help - it does not render properly either way (missing iframes/JS that detects tampering and does not show anything).

But we are happy to provide slightly redacted logs.

**Logs showing the issue:**
[log.txt](https://github.com/microsoft/playwright/files/7746187/

[2021-12-20 15:33] Evilweed commented on #10911
Looking at the callstack i think this is another issue related to Websockets.

![CleanShot 2021-12-20 at 16 30 59@2x](https://user-images.githubusercontent.com/5477821/146792323-6f4e73a9-ab89-41aa-81eb-ae5b129cd3aa.png)

![CleanShot 2021-12-20 at 16 32 01@2x](https://user-images.githubusercontent.com/5477821/146792552-888ce3b6-04f4-43b8-a7c0-220ffa9867bb.png)

[2021-12-20 15:33] MindaugasMateika opened #11025 "[Feature] Allow launching chromium with different dev-tools placement / location"
Personally, it's a little annoying for me that dev-tools are launched on the right side. Although it's a low priority feature but it would be great that in the future there would be an option to launch chromium with different dev-tools dock location.

Similarly to what apparently puppeteer allows: https://github.com/puppeteer/puppeteer/issues/1797#issuecomment-629704019

[2021-12-20 15:38] Evilweed commented on #10911
Last time we had issues with Websocket+Iframe it was this one https://github.com/microsoft/playwright/pull/10518

[2021-12-20 15:48] Evilweed commented on #4488
Sadly having this feature missing makes our lives miserable :< Some time ago we were blocked because duplicate websocket was crashing Playwright - this was fixed. But now we have another bug in Playwright wegarding iframes and Websockets and we are blocked again :< With this feature we could mock/disable websockets and use the framework.

[2021-12-20 16:12] grybykm opened #11026 "[BUG] checkbox check/uncheck fails if page reloads once checkbox state changes"
**Context:**
- Playwright Version: 1.17.1

**Describe the bug**

Check/uncheck method fails with `Element is not attached to the DOM` exception if page reloads on checkbox state changes.

**Log**

[code]

[2021-12-20 16:54] vasyop opened #11027 "[Question] How to prevent new tabs not loading while debugging?"
I'm debugging this snippet with VS code:

[code]

While execution is paused by the debugger (just before `await browser.close();`), if I use the browser manually to navigate to another address, it works as expected. However, if I open a new tab, it never loads. Similarly, if I attach to a running chrome instance via `connectOverCDP`, the already opened tabs work as expected, but new tabs, don't. A

[2021-12-20 18:31] flunderpero opened #11028 "[BUG] HTMLReport does not show test details when using an inlined sourcemaps"
**Context:**
## System:
 - OS: macOS 12.0.1
 - Memory: 1.89 GB / 64.00 GB
## Binaries:
 - Node: 15.14.0 - ~/.nvm/versions/node/v15.14.0/bin/node
 - Yarn: 1.22.17 - /opt/homebrew/bin/yarn
 - npm: 7.7.6 - ~/.nvm/versions/node/v15.14.0/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash
## npmPackages:
 - playwright: 1.18.0-alpha-dec-20-2021 => 1.18.0-alpha-dec-20-2021

**Describe the bug**

This is a

[2021-12-20 18:46] antpingelli opened #11029 "[Feature] Taking full page screenshots on test failures"
I am currently using the `screenshot: 'only-on-failure',` configuration but that does not take full page screenshots, so I am having trouble seeing some aspects of my UI that are helpful for debugging. Is there another way to easily take a screenshot when a test fails? I see the configuration does not allow the option to take a full page screenshot

https://github.com/microsoft/playwright/blob/93a

[2021-12-20 18:51] yury-s commented on #11009
Doesn't crash on Catalina (10.15) but always fails on Monterey (12.0.1) for me.

[2021-12-20 19:25] yury-s commented on #11009
Looks like https://github.com/WebKit/WebKit/commit/0dd1d952a98728e65b76b7b91356f6bc901d854c added `WebCoreNSURLSessionTaskTransactionMetrics _privacyStance` to [CFNetworkSPI](https://github.com/WebKit/WebKit/commit/0dd1d952a98728e65b76b7b91356f6bc901d854c#diff-ea69972d63b32da0207a87f06d2d7a419500a53b7ec5e5228122406098171ccb) which is enabled at compile time if the OS version >=12. Since we don't b

[2021-12-20 19:27] yury-s commented on #10892
See https://github.com/microsoft/playwright/issues/11009#issuecomment-998207761, looks like we need dedicated webkit build for macOS Monterey.

[2021-12-20 19:28] BrandonQA commented on #10992
Using Playwright with C# when using -- NUnit.NumberOfTestWorkers=10 my tests still seem to run individually not at the same time

[2021-12-20 19:33] aslushnikov opened #11031 "[infra] build webkit on MacOS 12"

[2021-12-20 19:33] aslushnikov commented on #11009
build for monterey is tracked here: https://github.com/microsoft/playwright/issues/11031

[2021-12-20 19:42] unlikelyzero commented on #10996
This would be amazing for us as well!

[2021-12-20 19:48] Pavel-2004 commented on #11022
I have came up with a solution to this issue in my stackoverflow thread please check it out.
[https://stackoverflow.com/questions/70415952/why-does-playwright-not-change-url-once-button-is-clicked-on-uber-eats?noredirect=1#comment124485567_70415952](url)

[2021-12-20 19:58] dgozman commented on #10943
@JuanCruzTrinidad I didn't quite understand your question in full, but it seems like you want to dynamically configure tests in your describe block? You can `test.use({ apiBuilder: Foo }}` for any custom fixtures/options that you have. Take a look at the [fixtures guide](https://playwright.dev/docs/next/test-fixtures) - does that help?

[2021-12-20 20:00] dgozman commented on #10964
@josh-thompson13 We won't be able to help without a full repro. Could you share your electron app (or some reduced version of it) in addition to the Playwright script?

[2021-12-20 20:02] dgozman commented on #11014
@heijingg I don't see any dialogs on `'https://t.me/wallstreetbets'`. Are you sure those are dialogs (alert/confirm/prompt), and not some web content?

[2021-12-20 20:04] dgozman commented on #11018
See #8943 for an example, and a related issue.

[2021-12-20 20:04] #11018 closed

[2021-12-20 20:15] yury-s commented on #11029
This is not currently possible via the test config even though we have [fullPage](https://playwright.dev/docs/api/class-page#page-screenshot-option-full-page) option in `page.screenshot`. Converting this report to a feature request.

[2021-12-20 20:57] unlikelyzero commented on #11031
@aslushnikov FYI this _should_ solve the webkit "bug" with basic auth and websockets according to the safari dev team.

https://github.com/microsoft/playwright/issues/10417

[2021-12-20 21:30] dgozman commented on #6238
Since #9546 was reverted, reopening this issue.

[2021-12-20 22:18] yury-s commented on #11019
CDP is not a part of Playwright. Please file a bug in Chromium if you want to change the behavior.

There was a change in how cookies are handled in chromium in v1.15 (see [release notes](https://github.com/microsoft/playwright/releases/tag/v1.15.0)). Now to get all headers you need to use [Response.allHeaders()](https://playwright.dev/docs/api/class-response#response-all-headers), it will contain

[2021-12-20 22:18] #11019 closed

[2021-12-20 22:37] mxschmitt commented on #11017
Closing since answered

[2021-12-20 22:37] #11017 closed

[2021-12-20 22:37] mxschmitt commented on #10994
Closing since answered.

[2021-12-20 22:37] #10994 closed

[2021-12-20 23:00] yury-s commented on #11028
Can reproduce it. Clicking first test (with describe) opens blank page with exception in the console:

![image](https://user-images.githubusercontent.com/9798949/146843897-f7f3d394-2ec9-4097-984e-ea6f128c498d.png)

[2021-12-21 00:24] yury-s commented on #11027
I can reproduce this. When the browser is controlled by Playwright, every time a new page (tab) is created (whether manually or programmatically) it is initially paused and will wait for an explicit command from Playwright to resume (`Runtime.runIfWaitingForDebugger` in CDP). Before Playwright sends that command the page will remain unusable. When Playwright script itself is paused none of such co

[2021-12-21 00:24] #11027 closed

[2021-12-21 00:41] yury-s commented on #11023
You can run the commands on each of the browser instances in turn:

[code]

[2021-12-21 00:41] #11023 closed

[2021-12-21 01:10] bbhxwl commented on #11023
If I want to open the browser and operate in the browser, another browser will change. It's hard, isn't it? At present, this situation is to operate all pages in full code.

[2021-12-21 01:34] CharlieDigital commented on #10667
This isn't fully working yet, but it looks like this:

'''javascript
const dataTransfer = await page.evaluateHandle((data) => {
    const dt = new DataTransfer();
    dt.setData('application/pdf', data);
    return dt;
}, dataString);
'''

Where `dataString` is whatever you are dragging/dropping.  What I can't quite make out yet is how to make this work with PDFs/files.

[2021-12-21 02:21] yury-s commented on #11022
The page loads something asynchronously and if 'Enter' is pressed to quickly it will fail to navigate. So this is an actual bug on the web page. To confirm that, just insert a pause before pressing 'Enter' and it will successfully navigate:

[code]

[2021-12-21 02:21] #11022 closed

[2021-12-21 03:22] yury-s commented on #10832
There is a race condition in the page. Sometimes when I run the test in firefox it logs in just fine, sometimes it gives me invalid user name message:

![image](https://user-images.githubusercontent.com/9798949/146865647-21c54cd3-cff3-45b1-992b-f51633b96401.png)

The test:
[code]

[2021-12-21 04:08] yury-s commented on #10832
It looks like the login fields appear on the screen, playwright fills in the user name and the DOM tree of the page gets rebuilt before playwright types in the password. Try recording trace, it may give you some insight (though I was not able to reproduce it with tracing on, apparently because it slows down the entire script a bit).

[2021-12-21 07:14] eliassorensen commented on #11019
@yury-s

I know that I should probably not have mentioned that I use CDP directly at first - but it it still a problem _without_ using CDP (I know you're using it internally as well, but for a normal user, it is abstracted away behind your own API).

I will probably create a new ticket for the actual problem in Playwright.

The release notes you link to is not mentioning that `headersArray` should

[2021-12-21 07:19] eliassorensen opened #11035 "[BUG] route.fulfill causes missing set-cookie headers on responses"
## System:
 - OS: Linux 5.15 Pop!_OS 21.10
 - Memory: 17.39 GB / 31.10 GB
 - Container: Yes
## Binaries:
 - Node: 14.18.2 - /usr/bin/node
 - npm: 6.14.15 - /usr/bin/npm
## Languages:
 - Bash: 5.1.8 - /usr/bin/bash
## npmPackages:
 - playwright: 1.17.1 (but same in 1.18.0-alpha-dec-20-2021)

**Code Snippet**

[code]

**Describe the bug**

When using `route.fulfill`, set-cookie headers are no longer

[2021-12-21 07:20] eliassorensen commented on #11019
Created this: https://github.com/microsoft/playwright/issues/11035

[2021-12-21 07:51] GitCHQL opened #11037 "[Question] Why memory can't free ?"
Context:

1. Playwright Version: [Version 1.17.1]
2. Operating System: [Windows]
3. Node.js version: [v14.15.3]

[code]

[code]

[2021-12-21 07:57] eliassorensen commented on #11035
Logging `response.headers()` right above `route.fulfill` correctly shows the set-cookie header.

The cookie is also set in the browser. Even though `page.allHeaders` is not showing the cookie..

[2021-12-21 08:27] grybykm commented on #11026
The element is not removed from a user point of view, it takes less than 100ms to reload the page and the checkbox appears in appropriate state.
I can't see why playwright can't wait for the element to exist instead of throwing an exception immediately.

I've built my own implementation of the checkbox temporary that works and doesn't throw an exception
[code]

[2021-12-21 10:22] Evilweed commented on #10911
So previous log was when we were clicking on input button, that triggers downloading of missing JS to show date picking modal. We have used page.eval to set the input value without clicking input. This worked but we are still blocked as trying to send the form after clicking submit also crashes Playwright - with following log output:
[code]

[2021-12-21 10:41] DvDream opened #11038 "[Question] Why isn't Chromium updating?"
Hi, I'm on Windows 10 and I don't understand why my Chromium version is not updating when I run `npm i -D playwright` and then `npx playwright install`.
If I read well, the actual supported version is the r952821, right? Because is not appearing on the `ms-playwright` folder.

Also, I was wondering if in this version the reproduction of H264 codec is supported like the first Chromium version in th

[2021-12-21 11:26] MindaugasMateika commented on #11038
You need nightly version for r952821; `npm i -D playwright@next`

[2021-12-21 12:13] dz1dz1on opened #11039 "[Feature] Implement HTMLSelectElement as a additional type for the evaluate function"
Hey, I would like to take text from the selected option in select element by using eval:

[code]
Right now  `sel` can be type of `SVGElement | HTMLElement`.

Adding this type would allow us to manipulate much easier the data (in TS) taken from select for expect function

[2021-12-21 13:07] refactoreric commented on #10911
Hi @ddeogharkar , looking at the source code in the GitHub repository, it does not look like you are executing the beforeAll anywhere. Because it's called in a hooks.ts, but I don't see that file being included anywhere.

Even if you do import it, the page that is created there will not be available to the tests in the TopNews.test.ts, because both files are modules, so variables need to be explic

[2021-12-21 13:23] ddeogharkar commented on #10911
Hi @refactoreric, Thanks for the answer. I will try to implement that, Actually my motive is to login only once before all the test cases and my entire suite will run with that login, So I wanted to move login function in test.BeforeAll and remove test.beforeEach but as I have created a separate file for beforeAll its not linked to any test cases. Can you please guide me How to achieve this?
Thank

[2021-12-21 13:37] refactoreric commented on #10911
Hi @ddeogharkar , maybe this approach is what you are looking for:
https://playwright.dev/docs/test-auth#reuse-signed-in-state

There are several approaches described on that page to avoid having to log in for each test.

[2021-12-21 13:45] heijingg commented on #11014
![image](https://user-images.githubusercontent.com/10759236/146940012-58b1133c-8e37-4b2f-b294-2d16314d1c62.png)

I don't know how to use code to detect whether this is a Dialog, but it can cover my debug window and bookmarks. I believe this can only be done by Dialog.

[2021-12-21 14:21] ddeogharkar commented on #10911
Yes, this looks good solution. Lets see if it works as there are multiple auths involved in the application.

[2021-12-21 14:54] cullman1 commented on #10701
Ok on the two problems.

1) The empty trace files, it seems that on the event of failures, it generates multiple trace files and only the last one is openable in the playwright viewer. So quite commonly I get 30 trace files for one test and only the last will open. Is that expected behaviour? I can recreate this predictably if it isn't.

2) The second one the intermittent: "RenderCompositorSWGL fa

[2021-12-21 16:03] nabil-brn opened #11041 "[BUG] Full page screenshots​ doesn't work on Electron application"
**Context:**
- Playwright Version: 1.17.0
- Operating System: Windows, Linux and Mac
- Node.js version: 14.18.1
- Browser: Chromium (Electron)
- Extra: N/A

**Code Snippet**

[code]

**Describe the bug**
On Electron application, I unfortunately can't take a screenshot of the full page.
https://playwright.dev/docs/screenshots#full-page-screenshots

[2021-12-21 16:25] NareshMurthy opened #11042 "[Question] Is it possible to record heap snapshots?"
Are there any APIs or Is it possible to record memory/heap [snapshots](https://developer.chrome.com/docs/devtools/memory-problems/#identify_js_heap_memory_leaks_with_allocation_timelines) programatically after opening a page with playwright?

[2021-12-21 16:34] ninja-pinky opened #11043 "[Question] Can be this framework used for automated tasks?"
We have daily some tasks that need to be automated, e.g. fill some forms that have multiple inputs with data from our database in some websites that don't offer any API service.

Can be Playwright used for automated tasks or is it designed just for testing?

[2021-12-21 17:44] ddeogharkar commented on #10911
Hi @refactoreric I am getting below error if I use global.config.ts file
=========================== logs ===========================
waiting for selector "input[name="user"]"
============================================================
    at globalSetup (C:\Automation\Protractor-Automation\Test-sampleProt\global-setup.ts:7:14)
    at Runner._run (C:\Automation\Protractor-Automation\Test-samplePr

[2021-12-21 17:47] yury-s commented on #11019
Sorry for the confusion, I meant `response.headers()` is deprecated, `response.headersArray` is one of the new methods and should contain all headers. There is a bug regarding set-cookie handling though: https://github.com/microsoft/playwright/issues/4987 and looking at the test it seems that it is still a problem in webkit (not in chromium though).

Thank you, let's continue there.

[2021-12-21 17:58] refactoreric commented on #10911
@ddeogharkar , looks like the locator for the username is incorrect. From what I can see, the GitHub login page uses a field identified as input[name="login"] for the user name.

[2021-12-21 18:01] yury-s commented on #11035
Related issue: https://github.com/microsoft/playwright/issues/4987

[2021-12-21 18:07] StevenDenman opened #11435 "Can't save HAR file (it hangs)"
### Your question

Following on from [my bug](https://github.com/microsoft/playwright-dotnet/issues/1841) Sometimes (more so on longer tests with lots of UI interaction) when I directly close the browser context to save the HAR, it hangs.

When I specifically close the IPage beforehand it works fine.

The documentation only states to close the BrowserContext, so should we also close the IPage befo

[2021-12-21 18:22] yury-s commented on #11037
V8 doesn't guarantee the memory to be released immediately. Once you close a context all resources associated with it will be eventually garbage collected. If you have an evidence that it doesn't happen please provide a repro.

[2021-12-21 19:13] yury-s commented on #11026
Depending on the machine load and the hardware performance I can image a situation where it takes significantly longer than 100ms. This is different from the current assumption that `setChecked` in Playwright makes which is that the checkbox must be checked right after the click. We can add some heuristics in the future if there is high demand for this kind of scenarios but for the time being the

[2021-12-21 19:22] Evilweed commented on #10911
I've added debug code to Playwright framework and this is the action that is crashing playwright.
![CleanShot 2021-12-21 at 20 20 15@2x](https://user-images.githubusercontent.com/5477821/146986007-dcaab273-0838-4376-af16-5c3a7406fffd.png)
![CleanShot 2021-12-21 at 20 21 23@2x](https://user-images.githubusercontent.com/5477821/146986073-392f7580-fee2-445f-9d58-1d30cc1aa7ec.png)

[2021-12-21 19:25] yury-s commented on #11026
We could introduce an option that would adjust how long the method waits for the element to become checked.

[2021-12-21 19:28] yury-s commented on #11043
Playwright can and is used for the browser automation that has nothing to do with testing. You can use [playwright library](https://playwright.dev/docs/next/library) which provides generic automation interface not bound to particular testing scenarios.

[2021-12-21 19:28] #11043 closed

[2021-12-21 19:30] yury-s commented on #11042
You can create [CDPSession](https://playwright.dev/docs/api/class-cdpsession) and take snapshots by sending CDP commands to the heap profiler. There is no generic/more user-friendly API in Playwright for the task currently.

[2021-12-21 19:30] #11042 closed

[2021-12-21 19:39] yury-s commented on #11038
It means that you already have required browser versions installed locally.

It depends on which Playwright version you use. For 1.17 which is the latest release it i[s r939194](https://github.com/microsoft/playwright/blob/112fe3ae0d5395d807a60a1434d85f24d36cba09/packages/playwright-core/browsers.json#L6)

For @next version it is [r952597](https://github.com/microsoft/playwright/blob/f5304e3bdaa37

[2021-12-21 19:39] #11038 closed

[2021-12-21 19:45] yury-s commented on #11039
You need to manually downcast it to `HTMLSelectElement` when you know that the element is a select:

[code]

[2021-12-21 19:47] jjeff commented on #10554
Check out the [clickMenuItemById() function](https://github.com/spaceagetv/electron-playwright-example/blob/96bb12d1372c624ee3bb74485db27e8db51bc1a8/e2e-tests/electron-playwright-helpers.ts#L11-L24) in my [Electron Playwright Example repository](https://github.com/spaceagetv/electron-playwright-example). Seems like it does what you want to do.

[2021-12-21 19:51] yury-s commented on #11039
Ok, we should be able to update change the callback type from
`evaluate<R>(pageFunction: PageFunctionOn<SVGElement | HTMLElement, void, R>)`
to something like
`evaluate<R, E extends SVGElement | HTMLElement = SVGElement | HTMLElement>(pageFunction: PageFunctionOn<E, void, R>`
which should make your code work.

[2021-12-21 19:55] jjeff opened #11045 "[Feature] Capture `console` and `error` messages from Electron main process"
While there are methods for
* [`page.on('pageerror')`](https://playwright.dev/docs/api/class-page#page-event-page-error`) and
* [`page.on('console'`)](https://playwright.dev/docs/api/class-page#page-event-console)

It sure would be nice if there were methods for
* `electronApplication.on('error')` and
* `electronApplication.on('console')`

This would allow Playwright to capture launch errors and o

[2021-12-21 21:17] #11039 closed

[2021-12-21 21:23] yury-s commented on #11029
Merging this request into https://github.com/microsoft/playwright/issues/9983

[2021-12-21 21:23] #11029 closed

[2021-12-21 22:39] pirate commented on #5586
If hypothetically someone wanted to trigger a Chrome Extension context menu action from playwright, how would they do this?

![image](https://user-images.githubusercontent.com/511499/147006602-0dbb75b4-e3ee-45b8-9d9f-ca795299f937.png)

something like this maybe? (I wasn't able to get this to work, curious if any of you know how to do this)
[code]

Could we maybe add that to the Playwright docs pag

[2021-12-21 22:49] pirate commented on #5593
What about extension context menu items? <img src="https://user-images.githubusercontent.com/511499/147006602-0dbb75b4-e3ee-45b8-9d9f-ca795299f937.png" width="400px"/>

Is there any way to trigger these via playwright?

[2021-12-21 23:12] yury-s commented on #11041
Can you share minimal repro? I've tried with the attached app and it works just fine
[test.zip](https://github.com/microsoft/playwright/files/7758849/test.zip)
.

[2021-12-21 23:23] yury-s commented on #11024
Closing per the comment above, the formatters are not a part of the public API and can change / be removed any moment. Please file a feature request if you need particular functionality to be added to the public API.

[2021-12-21 23:23] #11024 closed

[2021-12-21 23:54] yury-s commented on #11014
This is a confirmation dialog for opening external url handler. These dialogs are not currently instrumented in Chromium and not exposed by Playwright in any form. Looking at the Chromium code starting from the [url loader](https://source.chromium.org/chromium/chromium/src/+/main:content/browser/loader/navigation_url_loader_impl.cc;l=664;drc=c97bcf7a486314931b1c4d22f8f7d0bed29baba6) I don't see an

[2021-12-22 00:04] yury-s commented on #11013
It's unclear from the trace why wait_for_function threw. Since the application can't be shared, could you provide a reduced repro that we can run? As Max mentioned most likely the problem is that some fishy library overrides intrinsic objects (like Promise) breaks our instrumentation.

[2021-12-22 00:19] yury-s commented on #10967
What will trigger the navigation in that case?

Please share your test case, otherwise we can only guess what it does and may give you wrong advise.

[2021-12-22 00:25] yury-s commented on #10975
You can use [toMatchSnapshot](https://playwright.dev/docs/test-assertions#expectvaluetomatchsnapshotname-options) for comparing screenshots in the tests.

Please file separate issue for unrelated questions. This request https://github.com/microsoft/playwright/issues/10325 looks related to what you are asking.

[2021-12-22 00:25] #10975 closed

[2021-12-22 00:27] yury-s commented on #10964
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2021-12-22 00:27] #10964 closed

[2021-12-22 00:33] yury-s commented on #10932
I cannot reproduce it either (with `state: 'hidden'`). We need more information to act on this report. Please file a new bug report once you have a repro and link to this issue.

[2021-12-22 00:33] #10932 closed

[2021-12-22 00:46] yury-s commented on #10894
The test finishes before the response is received (the failing request is apparently sent after the navigation finishes). You can wait for that particular url using [waitForResponse](https://playwright.dev/java/docs/api/class-page#page-wait-for-response):

[code]

[2021-12-22 00:46] #10894 closed

[2021-12-22 01:00] yury-s commented on #10875
Closing as the last comment provides the solution.

[2021-12-22 01:01] yury-s commented on #10786
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2021-12-22 01:01] #10786 closed

[2021-12-22 01:28] cjydayang commented on #11013
@yury-s Thank you for your reply
I know what you mean. I need some time to think about how to provide a repro

[2021-12-22 01:55] yury-s commented on #10911
@ddeogharkar as mentioned above there is no `input[name="user"]` on the github page, you need ` input[name="login"]`. Can you please reduce the example that you have a provide a minimal repro with actual URLs so that we can run it?

This issue seems different from the originally reported one and makes this thread hard to follow. I'd suggest you file a separate bug so that we can follow up. The exc

[2021-12-22 02:04] yury-s commented on #10701
This is odd, does it happen when you have a single failing test? Can you upload one of those blank traces (assuming the file sizes are not 0) ?

This appears to be the bug in Firefox that you mentioned above and from [the last comment](https://bugzilla.mozilla.org/show_bug.cgi?id=1693011#c16) in the tread it seems that there is no way to disable the failing component.

[2021-12-22 02:12] jithinjosejacob opened #11052 "[Question] Handle multiple alerts in Playwright"
I have a project scenario, where i need to handle multiple js alerts
When i click on refundViaAfterpay button, a Js alert gets created which asks user for refund confirmation.
When user clicks ok(accepts dialog), another Js alert gets generated
I need to capture second alert text as well as accept the second Js alert

With the below script i am able to get alert text from first Js alert only.
i am

[2021-12-22 02:45] ramsesdm opened #11053 "[Question] What to add to a Jenkins Docker file to a execute a Playwright test using Maven"
I am trying to execute a Playwright test (Java) in a dockerized Jenkins job.

This is my Dockerfile (from the Jenkins site)

[code]

When I executed the job I got this

[code]

Inside the Docker image, I tried to execute the command but at some point, I got this:

[code]

Am I missing something?

[2021-12-22 02:45] CaoGaorong opened #11054 "[BUG] could not screenshot big html fully"
**Context:**
- Playwright Version: 1.17.1
- Operating System: macOS 10.15.7
- Node.js version: v12.22.7
- Browser: Chromium
- Extra: [any specific details about your environment]

**Describe the bug**

I need to convert a rich text to an image. My previous solution is using puppeteer. But I found Playwright-node is faster than Puppeteer, so I am going to migrate my project from puppeteer to playwr

[2021-12-22 04:35] jithinjosejacob opened #11055 "[Question] Handling mutlitab in PageObject Model"
I am using Page Object Model for my tests using Playwright Test Runner and TypeScript

I have a scenario where i need to handle multitab

I am trying to access context inside one of the pages, so that i can work with new tab

But i am getting following error

TypeError: Cannot read properties of undefined (reading 'waitForEvent')

Is the below approach correct or is there any other way to handle t

[2021-12-22 07:37] ddeogharkar commented on #10911
@refactoreric , I have created new repo - https://github.com/ddeogharkar/practiceglobalsetup please refer this & try running from your end currently test is passing but browser is getting opened & closed immediately, I am suspecting it is not including the global-setup.ts file.

[2021-12-22 07:57] OriAmir commented on #10875
thanks for the response and the help @mxschmitt

[2021-12-22 09:02] godjira-homless commented on #9354
I found the solution. Under Firefox if I set the move position to center, than will work.

`import { test } from '@playwright/test';

test("jqx mouse test", async ({ page })=>{
    Promise.all([
        await page.goto("http://shaker.umh.es/jqwidgets-v3.8.0/demos/jqxgrid/spreadsheet.htm"),
        await page.waitForLoadState("networkidle")
    ]);
    const sideBar = page.locator("#jqxScrollThumbv

[2021-12-22 09:41] cullman1 commented on #10701
[trace-1.zip](https://github.com/microsoft/playwright/files/7761636/trace-1.zip)

Here's one from a run where 6 files were created, all 6 had non-zero file sizes, only the last one is openable in trace viewer. (I've kept all of them in case needed).

[2021-12-22 09:50] ermi1968 opened #11056 "[BUG] When i run my test in different browsers Chrome, Firefox and Webkit only Chrome get pass. The rest fails"
**Context:**
- Playwright Version: [what Playwright version do you use?] 1.17.1
- Operating System: [e.g. Windows, Linux or Mac] Windows 10
- Node.js version: [e.g. 12.22, 14.6] v14.18.0
- Browser: [e.g. All, Chromium, Firefox, WebKit] All
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we

[2021-12-22 11:05] ElliottDevlinPA opened #11057 "[Question] Test hangs after all steps have completed successfully"
Hi,

I am using Playwright Test v1.17.1 with TypeScript and have implemented the Page Object Model into my project.

I am experiencing an issue with one of my tests whereby all of the steps complete successfully, but the browser remains open for anywhere between 10 and 30 seconds rather than closing and finishing the test run. It seems to hang longer when run headless. This issue doesn't occur wit

[2021-12-22 11:20] refactoreric commented on #10911
Hi @ddeogharkar , since this is more a learning story than an issue in Playwright, maybe it's better to for the Playwright team to close this issue and for us to continue the conversation(s) on Slack: https://aka.ms/playwright-slack

I did have a quick look at your globalsetup repository. WARNING: Never save storageState.json in a Git repository shared with others.

If you want to check whether th

[2021-12-22 11:31] ddeogharkar commented on #10911
@refactoreric Will work, you can close this issue.

[2021-12-22 11:34] petetnt opened #11058 "[Question] Error: ["..."] selector engine has been already registered"
As background, we are in progress of migrating our Cypress + Testing Library based scripts to Playwright.

We've been trying out a custom selector engine based on `testing-library` defined in here https://gist.github.com/sebinsua/205682c7af6966fdadc103b4e15d0d8b, which works great! Trying to register the selector in multiple files errors with ` Error: "role" selector engine has been already regist

[2021-12-22 11:47] ahmedmukhtar1133 opened #11059 "[BUG] Electron multiple windows issues"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac
- Node.js version: 14.6
- Browser: Electron

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

We've multiple BrowserWindows in electron but in our case first window is not our main window. So if we use below

[2021-12-22 14:14] ryanking13 opened #11102 "[Question]: Firefox performance issue on running WebAssembly modules."
### Your question

First of all, thanks for the amazing project.

In [Pyodide](https://github.com/pyodide/pyodide), we are considering a migration of our test framework from Selenium to Playwright. Pyodide runs the CPython interpreter in the browser through WebAssembly, so our tests require running complex jobs using WASM.

However, when I tried to use Playwright's firefox browser for WASM testing

[2021-12-22 14:20] bennypowers opened #11060 "[Question] "no tests found", but files exist"
With this config:
[code]

and these files present:

[code]

When I run `npx playwright test`, I get:

[code]

I expect playwright to pick up the tests at:
[code]

[2021-12-22 14:41] jacksteamdev commented on #5593
@pirate It's not the same, but you might try using the undocumented `Event#dispatch` method to simulate events.

![image](https://user-images.githubusercontent.com/23390212/147109502-21a04312-5404-447e-907f-6696c4858650.png)

[2021-12-22 14:59] szamacz opened #11061 "[BUG] Edge is not installed as a part of all browsers"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Linux
- Node.js version: 14.8.2
- Browser: Edge

npx playwright install command is not installing edge browser.
 Because of that tests that are running on edge stable channel throwing error:
[code]

[2021-12-22 15:09] imartinflores opened #11062 "Connect to Selenium Grid"
Is there any documentation on how to connect to a Selenium Grid ? or is it not supported ? If it is not, is it something on the roadmap to be added ?

Thanks!

[2021-12-22 15:12] aposiker opened #11063 "[Feature]"
It would be cool to have access to ```testInfo``` methods not only inside the tests. My use case was adding attachments via TS decorators.  I have a decorator in my test project, that I use to log methods calls from Page Objects as test steps, and here I was trying to add all arguments that were passed to the method as an attachment, but as I understood from the docs `testInfo` methods (```testInf

[2021-12-22 15:22] ltsuda commented on #11062
I hope this helps

https://playwright.dev/docs/selenium-grid

[2021-12-22 15:23] imartinflores commented on #11062
@ltsuda thanks a lot, yes, it really helps, have not seen it before!

[2021-12-22 15:29] ltsuda commented on #11061
Playwright's install process only installs Chromium, Firefox and Webkit by default.

As the error message said, you have to run the `npx playwright install msedge` after the regular `npx playwright install` to install it.

See the second bullet item from the link below.
https://playwright.dev/docs/release-notes#ubuntu-arm64-support--more

Here's how to manage Browsers' installation
https://playwri

[2021-12-22 15:29] imartinflores commented on #11062
@ltsuda  have you tried it before ? should it be executed directly from the terminal ?
Just getting this when trying it.

The term 'SELENIUM_REMOTE_URL=http://mygrid.grid:4444/wd/hub' is not recognized as the name of a cmdlet

[2021-12-22 15:35] ltsuda commented on #11062
I'm sorry, I've never used before.

I think it should be run from the terminal, but the syntax in the docs looks like from Bash terminal. It might be good to provide more information about your OS, if it is Windows or Linux, if you are using Playwright@Test or Playwright Library, node version, etc.

With this information, the team from Playwright could help with better/correct infos.

[2021-12-22 15:38] imartinflores commented on #11062
Cool, no problem. Yeah, I am running it on Windows, using Playwright@Test . Node version @ 8.3.0 . Ill try to find something else!
Thanks a lot!

[2021-12-22 15:42] ltsuda commented on #11062
No problem.

I think this should help.

There is a Powershell or Batch syntax tab on some of the code blocks, as you are using Windows, this is the correct way to set environment variables. The page is just to show the syntax example.
https://playwright.dev/docs/browsers#managing-browser-binaries

[2021-12-22 15:50] imartinflores commented on #11062
Cool, that works. I am having issues executing the test on the grid now, but thats something different.
Thanks for helping. Ill close it!

Regards,
Nacho

[2021-12-22 15:50] #11062 closed

[2021-12-22 16:09] jadlr commented on #5586
@mxschmitt sorry to bring this up again. How do I run the code on https://playwright.dev/docs/chrome-extensions as a test?

[2021-12-22 16:21] imartinflores opened #11065 "[Question] Selenium Grid Issue"
Hi guys, I am trying to connect to a running selenium grid we are using by following the docs in v1.17 (https://playwright.dev/docs/selenium-grid/)

I am getting this error when running the test by lunching the browser:
 `const browser = await playwright.chromium.launch({ headless: false, channel: "Chrome" });`

I have tried it without specifying any channel as well.

I have also checked that the

[2021-12-22 16:22] yizhiyan commented on #5627
I also encountered this problem when using pkg packaging
[code]

[2021-12-22 16:32] bvanderneut commented on #2662
I guess the link is outdated and I think this is the new url:
[https://playwright.dev/docs/network#http-authentication](https://playwright.dev/docs/network#http-authentication)

[2021-12-22 17:30] dgozman opened #11068 "[BUG] ElectronApp.close has a 30 seconds timeout"
All other `close()` methods do not have a timeout - we should remove this one as well.

[2021-12-22 17:48] yury-s commented on #11052
With your code you will accept second dialog twice which is not allowed and will lead to `"dialog.accept: Cannot accept dialog which is already handled"` exception. You can get away with a single listener:

[code]

[2021-12-22 17:48] #11052 closed

[2021-12-22 18:16] yury-s commented on #11037
Ok, this is specific to remote connection. The memory goes down after closing the contexts by about half but not to the original level. Once the browser connections are closed it drops to the original level.

[2021-12-22 18:19] frvwfr2 opened #11103 "[Bug]: Video recordings are longer than the test execution"
### Playwright version

Version 1.17.0-rc1

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

Python 3.7.3

### What happened? / Describe the bug

When recording videos, the video duration is about 1.5x as long as the run itself. In the sample code below, the total time to execute was around 42 seconds, but the video is 48 seconds.

T

[2021-12-22 18:27] yury-s commented on #11037
It only happens when there are 2 remote connections, if there is only one everything works fine:
[code]

[2021-12-22 18:44] neongreen opened #11071 "[BUG] "Selector resolved to several elements" but the inspector reports only 1 element"
**Context:**
- Playwright Version: 1.17.1
- Operating System: macOS
- Node.js version: 16.13.0
- Browser: Chromium

I have a selector that looks like this: `*_react=ReplyComponent >> :has-text("something")`. My understanding is that it would match a `<ReplyComponent ...>` that has `"something"` somewhere inside. I have only one `<ReplyComponent ...>` on the page, and the inspector agrees with me —

[2021-12-22 18:50] neongreen commented on #11071
Funnily, if I amend the selector to say just `_react=ReplyComponent`, it works fine.

Is something wrong with how `*... >> ...` works?

[2021-12-22 19:03] ynjacobs opened #11072 "[Question]How to enable all third party cookies"
Thanks for this wonderful library.

I have been searching for a way to enable 3rd party cookies in chrome settings using playwright

I have tested enabling and blocking in non playwright incognito and non incognito window and seems when cookies are blocked I cannot access the page I need and when they are enable then I can.

So I'm wondering how I can do this in playwright? I have tried manually c

[2021-12-22 19:23] amotl opened #11073 "[BUG] tracing.stopChunk: ENOENT: no such file or directory, open '.../page@xxx-0000000002.jpeg'"
Dear Playwright developers,

first things first: Thanks a stack for conceiving this excellent program. We started to use it just recently and are really like "This is actually what we have been expecting from Selenium since ages".

We observed a minor problem and wanted to report it back to you. Please let us know if you need further information about this report. Unfortunately, we haven't been ab

[2021-12-22 19:26] yury-s commented on #11054
Thanks for providing good repro! I tried it locally and the image rendered fine without any gaps. However, the image file is too large, it takes about a minute to render in a Chrome tab for me and default image viewer on linux just fails to open it. We've seen such problems with screenshots in the past (e.g. [this one](https://github.com/microsoft/playwright-java/issues/436)) and they seemed to be

[2021-12-22 19:30] yury-s commented on #11055
It looks like the context that you pass into AfterpayLoginPage is undefined or it gets reset to undefined before calling `this.context.waitForEvent`. Is `afterpayLoginPage` a test fixture? Can you share its code?

[2021-12-22 20:07] yury-s commented on #11054
I can reproduce the problem on Mac but only in headless mode, sometimes it renders full image but most of the time part of the image will be blank similar to your screenshot. As I mentioned there is not much we can do on the Playwright end about the rendering, as a workaround you can try running in headful mode.

[2021-12-22 20:37] amotl opened #11074 "[BUG] frame.fill: Protocol error (Page.insertText): error in channel "content::page""
Hi again,

coming from #11073, we would like to share this observation with you.

With kind regards,
Andreas.

## Version and context information
- Playwright Version: 1.17.1
- Operating System: macOS and Linux, both native and via Docker
- Node.js version: 17.3.0 (macOS) and 16.13.1 (Docker)
- Browser: Mozilla Firefox 94.0.1

## Bug description

[code]
</details>

As reflected with all the other

[2021-12-22 20:45] amotl commented on #11074
For what it's worth, we can share the corresponding test case right away. It took some minutes to figure this out as newcomers to Playwright, but after conceiving it, we are deeply impressed by its conciseness, preciseness and effectiveness. Thanks again for conceiving this great framework!

As it mostly works, it would be so sweet if we could figure out the reason for the `NS_ERROR_NOT_INITIALIZE

[2021-12-22 20:46] yury-s commented on #9354
Ok, the problem is the actual difference between the browsers in how they handle clicks on the elements that have rounded corners. In this case the scroller has `border-radius: 3px`:
![image](https://user-images.githubusercontent.com/9798949/147152520-0831b83b-f316-48af-9148-73d32f0f4fb5.png)

When you click at the top left corner of the bounding box, it is formally outside the border of the eleme

[2021-12-22 20:46] #9354 closed

[2021-12-22 21:28] yury-s commented on #10701
Can share other traces too? Looks like a bunch of tests was interrupted early and produced those traces.

[2021-12-22 21:31] yury-s commented on #11056
What exactly is failing? You can collect [traces](https://playwright.dev/docs/api/class-testoptions#test-options-trace) to see what's the difference in the behavior between the browsers.

[2021-12-22 21:37] yury-s commented on #11057
Can you record and upload trace for the failing test case? Also you are reusing the same page for to page object models concurrently, is that expected or they are supposed to be two different browser pages (tabs) ?
[code]

[2021-12-22 22:33] amotl commented on #11073
Hi again,

we are not completely sure about this, but when removing the `trace`, `screenshot` and `video` settings, we are occasionally getting errors like the ones outlined at #11074. One the one hand, this might indicate we will have to compensate for some timing-related details within our recipe. On the other hand, it might also indicate that the `ENOENT` error might have masked the other error

[2021-12-22 22:44] #10911 closed

[2021-12-22 23:02] yury-s commented on #11058
This doesn't work because `globalSetup` runs in the main test runner node process while tests are executed in [worker processes](https://playwright.dev/docs/test-parallel#worker-processes).

What you need is an [automatic](https://playwright.dev/docs/next/test-fixtures#automatic-fixtures) worker [fixture](https://playwright.dev/docs/test-fixtures#worker-fixtures) that would register the selectors

[2021-12-22 23:02] #11058 closed

[2021-12-22 23:10] yury-s commented on #11060
It looks like test runner is looking for the tests in a wrong location, what is the absolute path to the test files? You can try replacing `testDir: '.',` in the config with something that doesn't depend on the current dir: `testDir: path.join(__dirname, 'tests'),`

[2021-12-22 23:14] petetnt commented on #11058
Awesome, thanks Yury!

[2021-12-22 23:23] yury-s commented on #11059
You can get access to already opened windows via [`windows()`](https://playwright.dev/docs/api/class-electronapplication#electron-application-windows) and listen to the window creation events via [`on('window')` ](https://playwright.dev/docs/api/class-electronapplication#electron-application-event-window) event and then detect desired window using the Page properties.

[2021-12-22 23:23] #11059 closed

[2021-12-22 23:26] yury-s commented on #11063
Merging into https://github.com/microsoft/playwright/issues/9417, please thumb up that request instead.

[2021-12-22 23:26] #11063 closed

[2021-12-22 23:27] #11061 closed

[2021-12-22 23:34] rwoll opened #11078 "[REGRESSION]: Official Docker Containers and Node Unhandled Rejections Crash"
This is not really a regression in PW, but an informational note. This may be helpful for others debugging why some Playwright scripts start crashing hard without any changes to the scripts themselves. (This doesn’t have to do specifically with PW, but since it becomes relevant with the official containers and how your scripts are written that are running in them, I’m adding it here.)

The Node ve

[2021-12-22 23:38] rwoll commented on #11078
While this isn't really an issue with PW, perhaps it is worthwhile to call out major NodeJS version upgrades in PW release notes.

(I don't expect the PW team to track every Node change that may impact users, so simply a line like "Official Docker Containers have switched from using Node Version X to Y. Please review the Node release notes for relevant changes." might be helpful to users without a

[2021-12-23 00:47] yury-s commented on #11071
Remove the `*` from the beginning of the selector, it should be `_react=ReplyComponent >> :has-text("something")`

[2021-12-23 01:00] yury-s commented on #11072
Why do you think you are blocked because of third-party cookies? Perhaps the web site doesn't like that the browser is controlled by an automation tool.

[2021-12-23 01:08] yury-s commented on #11073
There were some fixes to `tracing.stopChunk` recently. They are not yet released but maybe you could give them a try in the @next version of playwright and see if the problem persists?

It might be the case. We'll have a look at the other report.

[2021-12-23 01:15] yury-s commented on #11074
Would it be possible for you to provide a page that does what you describe (with the iframe that loads the component) ?

[2021-12-23 01:25] ynjacobs commented on #11072
@yury-s thanks for your reply.
Sorry I should have clarified in my question, I am able to use playwright for the first site I am accessing with no problems. I have an iframe with another site that is refusing to connect and it is showing in the network of dev tools that cookies are being blocked for 3rd party requests.
 The same behaviour happens when I block 3rd party cookies in non playwright br

[2021-12-23 02:03] yury-s commented on #11072
Can you share the link? When I go to https://www.whatismybrowser.com/detect/are-third-party-cookies-enabled using playwright it shows 'Yes'

[2021-12-23 02:20] ynjacobs commented on #11072
I'm using incognito mode

![Screenshot (103)(2)](https://user-images.githubusercontent.com/49129946/147177671-abb9c08b-acdf-412d-acb8-c72a6cfa4a92.jpg)

I was just using inspect tools and going to Network tab (didn't use an external link to test)

![Screenshot (104)](https://user-images.githubusercontent.com/49129946/147177271-396b4d55-4052-41d9-9aed-af72421aa57e.jpg)

[2021-12-23 04:41] jithinjosejacob commented on #11055
@yury-s - i have updated the initial message with the whole script

[2021-12-23 06:53] 1aerostorm opened #11086 "[Feature] waitForFunction, but NOT in page context"
Let we need to wait for some console logging. We can use `'console'` event.

There is `waitForEvent`, but it will be too complicated if there are many console logs and we need to wait for each log within a loop.

So, we can use `page.on()` and store message into a variable:
[code]

But how to wait until "flag" variable will be initialized?

At current moment we have to store the variable in a page

[2021-12-23 07:04] bennypowers commented on #11060
Same with
[code]

[2021-12-23 07:27] szamacz commented on #11061
Thanks for qreply.  Maybe I should pharse this a little bit differently - What's the point of having a command which installs all the browsers but not Edge? If I would like to install only Edge I will use command mentioned by you but this seems to be quite strange to use one command to install all browsers but not edge and then the second command to install only edge. When setting up tests on CI p

[2021-12-23 07:50] dimkin-eu commented on #10219
old one ticket, where pics with big and small diffs are same after same threshold
https://github.com/microsoft/playwright/issues/9444

[2021-12-23 09:10] cullman1 commented on #10701
[trace-2.zip](https://github.com/microsoft/playwright/files/7768101/trace-2.zip)
[trace-3.zip](https://github.com/microsoft/playwright/files/7768102/trace-3.zip)
[trace-4.zip](https://github.com/microsoft/playwright/files/7768103/trace-4.zip)
[trace-5.zip](https://github.com/microsoft/playwright/files/7768104/trace-5.zip)
[trace.zip](https://github.com/microsoft/playwright/files/7768108/trace.zip)

[2021-12-23 09:23] stoefln commented on #11059
@yury-s  what's still unclear to me is how to identify windows. If the window ID is not consistent, do we have to identify windows by their title?

[2021-12-23 09:26] CaoGaorong commented on #11054
Thank you for your reply! I have add puppeter script that works correctly to my git repository :  https://github.com/CaoGaorong/PlaywrightTesting.git (same as above).

And I've test my script for thousands of times(using a python script) in my computer:
- Image generated by Playwright, the accurate rate was 64%.
- Image generated by Puppeteer, the accurate rate was 100%
So I thought the difference

[2021-12-23 09:28] CaoGaorong commented on #11054
Yes, you are right! This problem won't accur in headful mode. But my script will run in a backend linux server without GUI, so I thought it may not work, lol.

[2021-12-23 09:41] CaoGaorong commented on #11054
In addition, my requirement is:
- receive an rich text (will be converted to html source code)
- convert the html to image (whatever technology, I choose playwrigh)
- save the image
It can help me a lot  if you can give some advices about how to speed up the process above. Such as some playwright trick ? Or some technology to speed up converting html to image in backend server.
I'd appreciate your

[2021-12-23 09:57] neongreen commented on #11071
When I remove the `*` it selects the `p` inside the ReplyComponent — I want the ReplyComponent itself.

According to the docs, `*` should make it select the outer part of the `>>` rather than the inner part. Are the docs wrong?

[2021-12-23 10:21] dshaplyko opened #11087 "[BUG] Page title is not returned for newly opened pages in Headless mode"
**Context:**
- Playwright Version: 1.17.1
- Operating System: MacOS
- Node.js version: 14.17.6
- Browser: Chromium

Hi colleagues!

I'm trying to implement a simple test scenario:
1. Open the app
2. Click some link (new browser tab should be opened after it)
3. Switch to the new browser tab
4. Validate the title/url of the newly opened tab

*Actual result:* I receive "chrome-error://chromewebdata/

[2021-12-23 11:45] ltsuda commented on #11061
If you only need Edge, you can skip the installation of the other ones during the first command as said in the link below, then you can install only the edge with the install msedge command.

https://playwright.dev/docs/browsers#skip-browser-downloads

[2021-12-23 11:55] ElliottDevlinPA commented on #11057
Hi @yury-s, thanks for your response.

Just to clarify - the test isn't failing in that all of the steps complete successfully, the issue is that the session hangs after all of the steps have been completed instead of closing down immediately as would be expected. Re: the two pages, that is expected in that the test only requires a single window/tab.

Please find the Trace folder attached.

Many t

[2021-12-23 13:29] nabil-brn commented on #11041
Hello @yury-s,

We're using electron version 13.5.2, it could come from our app, I guess?

[2021-12-23 14:14] Jothny opened #11089 "[BUG] Test is failed with the "Protocol error ..." when making a screenshot of the full page on mobile 'Webkit' browser"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Linux Ubuntu 18.04.6 LTS
- Node.js version: v12.20.0
- Browser: WebKit

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]
playwright.config.js file
[code]
**Describe the bug**

Test is failed with the message ```page.screenshot: Protoco

[2021-12-23 15:47] xflihaibo opened #11090 "[BUG] Failed to get DOM node"
**Context:**
- Playwright Version: 1.17.0
- Operating System: Mac
- Node.js version:  14.15.0
- Browser: Chromium
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
The img label is not closed ,failed to get DOM node

[2021-12-23 17:50] yury-s commented on #11055
The code looks correct, it appears that `AfterpayLoginPage.context` gets cleared at some point after the object is constructed but it's hard to tell for sure without seeing full code and the error. Can you please provide a repro?

Is there a reason you redefine `page` and `context` fields in `AfterpayLoginPage` when they already exist in the superclass?

[2021-12-23 18:07] yury-s commented on #11086
You can specify custom [predicate](https://playwright.dev/docs/api/class-page#page-wait-for-event-option-options-or-predicate) and `timeout` as options of `waitForEvent`:
[code]

[2021-12-23 18:07] #11086 closed

[2021-12-23 18:28] yury-s commented on #11060
That's what it does, it will traverse the directory of the config file. You config does work in this example: [issue-11060.zip](https://github.com/microsoft/playwright/files/7770894/issue-11060.zip). Looks like you config file is located elsewhere.

Can you answer this?

[2021-12-23 18:37] yury-s commented on #11059
`title()`, [`url()`](https://playwright.dev/docs/api/class-page#page-url) or just evaluate custom js code in the page to identify it. If you don't control from the playwright end when the windows created and in which order you'll need to figure out which window is which nor relying on the order of those events or the window ids as they may change from run to run, see e.g. #6748

[2021-12-23 18:40] ahmedmukhtar1133 commented on #11059
@yury-s Do we've any listener inside the evaluate function?
Same problem is there windows order is not consistent and we've to find the specific window.
[code]

[2021-12-23 18:49] yury-s commented on #11054
Thank you. Looking at the code there should be no discrepancies in the output. I suspect we may start browser with different command line options which affects the rendering behavior, I'll look into that.

Note that the behavior varies from machine to machine, I was not able to reproduce the problem on my linux box.

[2021-12-23 19:05] ahmedmukhtar1133 commented on #11059
@yury-s
I tried this code for getting desired page, but it's only getting fired for first window which is not desired page:
[code]

If I just remove the `await` before `electronApp.waitForEvent` then it fires for each window but in that case next code will fail unless we've desired page.

Also tried like this but no success:
[code]

[2021-12-23 19:23] yury-s commented on #11054
Starting with the same flags doesn't make any difference.

Also when launching with `DEBUG=pw:browser` there is a number of errors:

[code]
which basically means that you are pushing the browser over the limits and it may fail any moment which is what happening with the screenshot.

[2021-12-23 19:59] yury-s commented on #11054
Looks like it was fixed by https://github.com/microsoft/playwright/pull/10606 and is now working in playwright@next, I cannot reproduce it on mac anymore.

[2021-12-23 19:59] #11054 closed

[2021-12-23 20:32] yury-s commented on #11071
Can you share the link?

[2021-12-23 20:37] yury-s commented on #11071
Ok, I guess you are talking about https://playwright.dev/docs/selectors#intermediate-matches

[2021-12-23 20:40] yury-s commented on #11071
@neongreen can you share a repro that we could run locally? Otherwise it's hard to tell what's going on there.

[2021-12-23 21:17] yury-s commented on #11087
"chrome-error://chromewebdata/" means that you tried to navigate to a non existent url or there was a network error during the navigation. It's a chrome page for network errors. If it doesn't happen in headful then either your code navigates to a different url in headless or the server behaves differently depending on whether the request is from headless browser. Can you share a repro that we can

[2021-12-23 21:27] yury-s opened #11092 "[Feature] capture network failures in traces"
Navigation to non-existent url will end up on the internal error page ("chrome-error://chromewebdata/") but there is no evidence of the failing network activity in the trace, so you cannot even tell what url failed. This makes it hard to debug problems like https://github.com/microsoft/playwright/issues/11087

[2021-12-23 21:30] yury-s commented on #11087
Unfortunately failed network requests are not captured in the trace at the moment, I filed a feature request for that: https://github.com/microsoft/playwright/issues/11092

[2021-12-23 21:41] yury-s commented on #11061
By default playwright installs only open source browsers. All proprietary ones including Edge and Chrome have to be installed manually.

[2021-12-24 03:35] jithinjosejacob commented on #11055
i have removed the redinition of page and context and defined context for every fixture. Now i am able to access the context properly in the tests. Only problem i am seeing right now is when i open a new tab ,it opens up a new window instead of a new tab in existing browser (but tab2 opened has the same cache and cookies as that of tab1). i will raise this a seperate question for this with a repro

[2021-12-24 03:36] #11055 closed

[2021-12-24 06:40] #11090 closed

[2021-12-24 10:29] bennypowers commented on #11060
🤦 This was my error, I hadn't compiled my `.ts` test files to `.js`

Thanks for your help :)

[2021-12-24 14:14] neongreen commented on #11071
@yury-s Done. Please see https://github.com/neongreen/pw-repro

[2021-12-24 14:19] neongreen commented on #11071
Also note that the bug disappears if you inline the definition of ShowReply into ReplyComponent.

[2021-12-24 14:19] neongreen commented on #11071
Also note that the bug disappears if you inline the definition of ShowReply into ReplyComponent.

[2021-12-24 15:18] ahmedmukhtar1133 opened #11095 "[Question] How to get desired window inside electronApp.evaluate and using electronApp.on('window')"
**Using electronApp.waitForEvent('window'):**
I tried this code for getting desired page, but it's only getting fired for first window which is not desired page (then timeout):

[code]
If I just remove the await before electronApp.waitForEvent then it fires for each window but in that case next code will fail unless we've desired page.

Also tried like this but no success:
[code]

   **Inside elec

[2021-12-24 18:38] aw1875 opened #11096 "[Question] Catching BrowserServer Close Events"
I'm trying to track browser's by PID so I can kill them off with a button based on which browser they are associated to. My understanding the way to do this is creating a BrowserServer so I get access to the PID. I have this process of creating the bs, connecting the browser, and opening a new context all within a while loop so that they retry the task until completed successfully.  However, I'm h

[2021-12-24 19:09] aw1875 commented on #11096
Edit: It seems like I have successfully been able to catch the event with

[code]

However, the issue I am now running into is my entire program shuts down after breaking the loop.

[2021-12-24 19:18] aw1875 commented on #11096
Seems like writing out the problem helped me solve it so I guess I can close this issue!

[2021-12-24 19:18] #11096 closed

[2021-12-25 10:32] 1aerostorm commented on #11086
@yury-s Okay, but:

1. It is complicated if we want to check it few times:
[code]

Compare it with:
[code]

1.1. One of problems is what my waiter implementation uses 3000 msec by default and `waitForEvent` uses 30000 msec by default, so we should to specify timeout forcely.
Actually, 30000 msec is too big timeout for testing, as well as for "debugging" tests.

2. Usage of `waitForEvent` for detec

[2021-12-25 14:04] viviov opened #11104 "[Question]: input type=ratio element cant be fill or click"
### Your question

the element like below:

[code]

playwright codegen generate method is page.fill, it's not working. I switch to page.click,
not visible error occurs. Anybody know how to handle this?

[2021-12-25 15:01] 1aerostorm opened #11098 "Chaining of assertions (or Debugging selectors)"
We can check:
[code]

And it will fail if button is not visible.
Also, it will fail if no button at all (and yes, it will print a proper error message).

But what if there are... 2 buttons due some bug? :)
Or what if we forgot what there are 2 '.image-btn', and testing wrong button?

Yes, we can do:
[code]

But why we can't do:
[code]
or
[code]
or, at least,
[code]
?

(I know what you are using Je

[2021-12-25 22:28] codeman5000 opened #11099 "Use browser without cache or Hard refresh page"
Hello,

i’m using playwright with Python and chromium browser.
I wonder how you can use the browser to not use cache when I load pages.

an alternative would be to be able to hard refresh the page in some way…

it looks like playwright is not making this easy and have been looking for hours trying to find a solution

[2021-12-25 23:25] c3er opened #11100 "[Feature] Access Electron context menu in test"
I didn't found any way to access a context menu that is generated in the renderer process via the Remote module.

The renderer JS under test looks like this:

[code]

Neither [Playwright's](https://playwright.dev/docs/api/class-playwright) nor [Electron's](https://www.electronjs.org/docs/latest/api/menu) documentation seems to show any way to access a menu that is not the application main menu.

I

[2021-12-26 16:00] saivarma576 commented on #10616
My bad, actually  It worked after running  cmd with admin privileges(same way I modified in Jenkins as well)

[2021-12-26 20:24] Nav-2d opened #11101 "[BUG] mouse.wheel not working for webkit mobile devices on Docker containers"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac
- Node.js version: 12.22
- Browser: Webkit (iPhone12)
- Extra: Run the below test on Docker container

**Code Snippet**

[code]

**Describe the bug**
Run the above snippet locally and observe the screenshot. It is noticed that the mouse.wheel actually happened and the page scrolled.

Now run the above snippet in docker container and

[2021-12-26 22:03] aslushnikov commented on #11101
This looks very similar to https://github.com/microsoft/playwright/issues/10183. Can you please try on tip of tree to see if it's working?

[code]

[2021-12-26 22:06] aslushnikov commented on #11099
You can create a new context and load a page there. It will load without any caching

[2021-12-26 22:16] aslushnikov commented on #11102
Thank you for the repro, I'll take a look

[2021-12-27 00:57] Nav-2d commented on #11101
Hi @aslushnikov - I tried the tip of tree as well but same issue. Looking at this [PR](https://github.com/microsoft/playwright/pull/10946/files), it seems like it is not supported in mobile webkit or am I wrong here?

[2021-12-27 04:00] LuizFelipeNeves commented on #6319
Something that can help if it hasn't already been done is optimizing requests, ignoring unnecessary things like images.

[2021-12-27 07:26] szamacz commented on #11061
That's the answer I was looking for, thank you

[2021-12-27 07:43] xiaowenhuman opened #11106 "operate multiple browsers in headless:false mode [Question]"
Hi,
I need to operate multiple browsers n headless:false mode at the same time.While I am operating a browser, other browsers will enter the background. However, I need to operate other browsers. What parameters do I need to set for the browser?

[2021-12-27 09:25] shirshak55 commented on #11106
what do you mean by other browser goes to the background?

[2021-12-27 10:18] suchcodemuchwow commented on #981
This issue still exist in 1.17.1 @pavelfeldman

[2021-12-27 12:01] viviov commented on #11104
thanks for your reply, force=True working

[2021-12-27 12:01] #11104 closed

[2021-12-27 13:54] Meemaw opened #11108 "[Question] Access chrome extension context from @playwright/test"
Hi.

We're exploring Playwright as our E2E test runner. One of our main requirements is ability to communicate with chrome extensions (e.g. Metamask). I'm working on a proof of concept with `@playwright/test` where I successfully setup `MetaMask` using `chromium.launchPersistentContext`, but facing some issues.

After the MetaMask setup, we would want that `window.ethereum` to get populated/inject

[2021-12-27 15:09] hananmalka commented on #9742
@dgozman - I support this as a must have feature.
I'm wrapping all my steps with test.step to be able to customize allure report steps.
When doing that - I'm not able to return any value from my methods.
test.step should be able to support a return value.

[2021-12-27 15:10] guillermoarellano opened #11109 "[Question] How do I trigger custom events from Playwright test?"
Hi,

I am having trouble firing a custom event and dispatching it via the window object. Can somebody help me resolve this issue?

I am getting the following error: `ReferenceError: CustomEvent is not defined`

This is my test script:

[code]

[2021-12-27 15:14] guillermoarellano commented on #11106
The other browsers will open and run overlapped on top of each other. This is done because the tests are running in parallel, to speed up test suite completion. Are you looking to run in non-headless mode and have each of the browser tests run in sequence? What is the requirement?

[2021-12-27 16:53] lakibm77 opened #11110 "[BUG]playwright launches default context also when we use own context in tests"
test('Login to the application3', async ({browser , page}) => {

        const context = await browser.newContext();
        page = await context.newPage();
        const loginpage = new _loginPage(page)

             })

I am defining my own context in generalised way to serve some benefits but it launches 2 instances of the browser one being the default context with blank browser. its quite anno

[2021-12-27 17:31] aslushnikov commented on #11110
@lakibm77 you're destructuring `page` in your test arguments, so a default page is created for you. Remove the page from test arguments, like this:

[code]

[2021-12-27 17:31] #11110 closed

[2021-12-27 17:36] aslushnikov commented on #11109
@guillermoarellano the test itself is run inside node.js - check out the explanation in our documentation [here](https://playwright.dev/docs/evaluating). And consequently, node.js doesn't have a `CustomEvent` class.

To dispatch event on the window inside page, you should use [`page.evaluate()`](https://playwright.dev/docs/evaluating) method:

[code]

[2021-12-27 17:50] aslushnikov commented on #11108
@Meemaw if I understand correctly, substituting default `context` fixture with the one from the persistent context will do the trick for you. Since `page` fixture depends on `context` fixture, the default `page` will be created in the persistent context.

Here's an example:

[code]

Does it help?

[2021-12-27 17:57] aslushnikov commented on #11101
Ah indeed! Let's wait for Yury to come back from vacation. He's been looking into this

[2021-12-27 18:09] Meemaw commented on #11108
@aslushnikov found this shortly after I posted the question. It works, but I have a follow up question. What is the scope of `context`? Is this being executed for each test, or can it be changed to per worker scope?

[2021-12-27 19:02] aslushnikov commented on #11108
@Meemaw `context` fixture is a "test" fixture, meaning that it'll be recreated for every test. If you want to re-use the context you have a few options:

1. Use the approach suggested here -  https://playwright.dev/docs/test-retries#reuse-single-page-between-tests
2. Create a `globalContext` worker fixture and override `page` fixture to depend on it.

The second approach looks like this:

[code]

[2021-12-27 19:03] aslushnikov commented on #11108
Do note though that profile directory has to be unique per worker, so don't hardcode it's name and rather generate one randomly.

[2021-12-27 19:22] LDubya commented on #6319
@LuizFelipeNeves images can be very important, depending on what you are doing. The project that I used playwright for needed to take screenshots of webpages, and the images mattered a whole lot. Automated browsers have lots of different use cases.

[2021-12-27 19:37] aslushnikov opened #11112 "[tests] bot that runs tests for Ubuntu arm64 is unhealthy"
The bot is using docker + qemu to run tests for aarch64 Ubuntu on the x86_64 host machine and fails with the `disk ran out of space" issue.

Turns out Chromium is crashing all the time, so we have lots of artifacts that fill the disk. And Chromium is crashing due to Qemu emulation - it fails with CHECK:

[code]

And indeed, in Qemu environment there are two threads instead of a single one. It migh

[2021-12-27 20:22] Meemaw commented on #11108
@aslushnikov thanks for the feedback. I'm having some issues with the "globalContext":

1. There seems to be some Typescript issues with `scope: "worker"`:
<img width="811" alt="Screenshot 2021-12-27 at 20 37 46" src="https://user-images.githubusercontent.com/8524109/147504545-3451d343-70ad-4a7a-a093-9369d3eae586.png">

2. Is "globalContext" somehow special global fixture? I tried something simila

[2021-12-27 20:41] guillermoarellano commented on #11109
@aslushnikov This worked flawlessly. Thank you very much for teaching me and helping resolve the problem. I wish you a Happy New Year!

Best wishes,
Guillermo Arellano

[2021-12-27 20:41] #11109 closed

[2021-12-27 23:25] aslushnikov commented on #11108
@Meemaw for the first, the following works for me with typescript:

[code]

This should work. Two things though:
- your `base.extend` should look like this - `base.extend<{}, { workerId: string }>`, this way it'll compile
- make sure to import your new `test` in all subfiles.

If it still doesn't work, would you mind sharing some code?

[2021-12-27 23:45] aslushnikov commented on #11098
Forwarding this to Dmitry and marking this as 1.18 so that Dmitry takes a look once he's from vacation.

[2021-12-27 23:48] aslushnikov commented on #10832
Looks like Playwright is just too fast at filling in these fields. Not a bug!

[2021-12-27 23:48] #10832 closed

[2021-12-27 23:49] #10943 closed

[2021-12-27 23:49] #10967 closed

[2021-12-27 23:50] aslushnikov commented on #11013
@cjydayang please feel free to file a new issue with a repro! I'll close this meanwhile.

[2021-12-27 23:50] #11013 closed

[2021-12-27 23:51] aslushnikov commented on #11041
@nabil-brn this is unfortunately not actionable without a repro that we can run & debug locally. Please feel free to resubmit once there's a repro!

[2021-12-27 23:51] #11041 closed

[2021-12-27 23:52] aslushnikov commented on #11056
@ermi1968 this is not actionable without a repro that we can run & debug locally. Please feel free to resubmit once there's a good repro!

[2021-12-27 23:52] #11056 closed

[2021-12-28 02:25] rwoll opened #11116 "[BUG] HTML Report Strikesthrough Too Much in Textual Snaoshot Diffs"
**Context:**
- Playwright Version: ToT

See the PR description https://github.com/microsoft/playwright/pull/11115 here for screenshots of the issue, tests, etc.

[2021-12-28 02:27] rwoll commented on #11116
We've started using @plawyright/test for API tests that have lots of textual snapshots, so this became pretty pronounced, but I don't think it is a new regression.

[2021-12-28 03:18] suchcodemuchwow opened #11117 "[Question] Is there a way to disable timeout logs in Playwright ?"
Yes sometimes these are necessary but in my usecase it just pollutes the output. Is there a way to prevent logging timeout errors specific to locator or globally ?

[code]

[2021-12-28 04:41] rwoll commented on #10510
If I understand this request correctly, we'd find this useful to.

For context, we're moving lots of API tests (ie tests that don't require the browser, but take advantage of @playwright/test as a generalized amazing test framework).

Most of the API tests run as end to end tests against live environments (sort of like smoke tests). Most of the test files are wrapped in a giant test.describe.paral

[2021-12-28 06:13] hiko-vietduong commented on #4961
It still happen, any update for this one?

[2021-12-28 08:23] neongreen commented on #11071
Ping me if there's anything else I can do to help with the repro.

[2021-12-28 08:54] pamalite opened #11118 "Firefox Browser Failed to Run Example Code"
Getting the following timeout errors when the following "p.firefox.launch()" is used:

[code]

The example code:

[code]

Same behavior when used with `headless=False`, and async APIs too.

When `headless=False`, this is what Firefox Nightly shows:

![image](https://user-images.githubusercontent.com/5591/147547867-e00792ab-6bb9-4d54-b3b0-d4f514defb98.png)

System details:
- OS: Windows 10
- Python

[2021-12-28 09:20] creage commented on #10932
@mxschmitt @yury-s Well, it still doesn't work for me here.

I'm using my locators in the **separate** .ts file that I'm importing in the test file, and selectors in that **imported file** are still using default, 30 seconds, timeout.

The only way I was able to make them respect slowness is by explicitly defining
[code]
in the top of my test file.

@mxschmitt
Using `expect().toBeVisible()` is eve

[2021-12-28 13:22] dssnoha opened #11120 "[Question] is it possible to turn tracking prevention on ?"
is it possible to turn tracking prevention on during headless tests ?

[2021-12-28 16:00] brettneese commented on #10095
@aslushnikov I was away for the holidays, but thanks!!! I'm glad I wasn't hallucinating or doing something wrong.

[2021-12-28 16:53] onno-amsterdam opened #11121 "[Question] trx reporter in Azure pipeline"
Hi Playwright,

Currently I'm refactoring my Playwright framework to use the Playwright test runner instead of Jest. I run my tests in an Azure pipeline and use trx format for reporting - currently using the jest-trx-results-processor package as reporter.

I'm looking into how to do trx reporting in Azure when using the Playwright test runner but can't find anything on this subject. Is there a sol

[2021-12-28 17:56] #11116 closed

[2021-12-28 18:05] aslushnikov commented on #11121
Hey @onno-amsterdam,

There's no built-in trx reporter, but you can create your own reporter using the [reporter API](https://playwright.dev/docs/api/class-reporter).

[2021-12-28 18:06] aslushnikov commented on #11120
@dssnoha what browser are we talking about?

[2021-12-28 18:26] aslushnikov commented on #11118
@pamalite I can easily repro on tip of tree with the following script:

[code]

the issue seems to be in the http -> https redirect; changing URL from `http://playwright.dev` to `https://playwright.dev` makes script work.

Investigating!

[2021-12-28 18:28] aslushnikov commented on #11117
@suchcodemuchwow you can pass 0 to the method timeout or set it up as default value per context: https://playwright.dev/docs/api/class-browsercontext#browser-context-set-default-timeout

[2021-12-28 18:36] aslushnikov commented on #11065
@dgozman could you please take a look? (assigning 1.18 for visibility so that Dmitry takes a look when he's back from vacation)

[2021-12-28 18:39] aslushnikov commented on #11095
@ahmedmukhtar1133 so how exactly do you want to differentiate windows?

[2021-12-28 18:52] ahmedmukhtar1133 commented on #11095
@aslushnikov I belive only option to filter windows is using title but `BrowserWindow.getAll().map(async w => await w.title()` in some cases doesn't have the correct titles. Sometimes it has one missing title for a window or repeated.
*Expected output:*
['Loading', 'Main', 'Worker']

But getting:
['Loading', 'Loading', 'Worker'] OR ['Main', 'Main', 'Worker']

[2021-12-28 18:53] ahmedmukhtar1133 commented on #11095
@aslushnikov  How can I use waitForEvent for getting my desired window for playwright page?

[2021-12-28 19:37] dssnoha commented on #11120
all types of browser that are available  in playwright.

[2021-12-28 20:09] Luc45 opened #11122 "[Feature] `install-deps` should be more friendly to users of other Linux distros"
Currently, only Ubuntu 18.04 and 20.04 are officially supported by Playwright.

Out of the box on Manjaro, playwright is able to be installed and run a tests both in headless and headed mode:

1. npm i -D @playwright/test
2. npx playwright install
3. npx playwright test

Code under test:

[code]

It works.

However, when I try to execute the same test with more browsers after specifying `chromium`

[2021-12-28 20:15] aslushnikov commented on #11089
@Jothny I unfortunately cannot reproduce this inside ubuntu 18.04 docker container. Does it repro reliably for you? Does it repro in a docker container?

[2021-12-28 20:19] aslushnikov commented on #11112
My experiments concluded that it's currently impossible to run our browser tests on x86_64 hosts using the qemu emulation of aarch64. These tests simply take too long to complete.

The plan forward now is to use our M1 hardware to run docker ubuntu arm64 tests. I do want to land the `#smoke` hashtag for tests so that we don't spend too much time running tests.

[2021-12-28 20:25] aslushnikov commented on #11120
@dssnoha we don't do anything special regarding this feature on Playwright side, so browsers are run with whatever their defaults are. What makes you think it's off by default?

[2021-12-28 20:28] aslushnikov commented on #11122
@Luc45 fair enough. Would you like to submit PR to have a more friendly message with the list of packages for non-ubuntu distros?

You'd need to enhance this function: https://github.com/microsoft/playwright/blob/fba29aa31942e81ebf7c70ef53eda97aeab24017/packages/playwright-core/src/utils/dependencies.ts#L148

[2021-12-28 20:32] Meemaw commented on #11108
@aslushnikov that works. Thanks for the help, things make sense now 👍

I have 1 final question that is somehow related to Chrome Extensions:
- Is there a way/workaround to click on the extension icon in the tabbar? I have 1 extension (Kaikas) that doesn't play well if not triggered like this. They even have a screenshoot

<img width="637" alt="Screenshot 2021-12-28 at 21 31 44" src="https://user-i

[2021-12-28 20:45] aslushnikov commented on #11108
@Meemaw this is tracked separately at https://github.com/microsoft/playwright/issues/5593. Please upvote!

Given how popular the issue is, it's likely to appear sometime in future!

[2021-12-28 20:54] #11108 closed

[2021-12-28 20:57] Luc45 commented on #11122
Thanks for pointing me to the function. I will try, even though JavaScript is a language that I only use on a per-need basis for basic FE. My main languages are PHP and Go. I will poke at it through the end of this week and post and update here if I am able to progress.

[2021-12-28 21:22] dssnoha commented on #11120
@aslushnikov it's the default in all my browsers even when i used the debugger in playwright headless tests it was the same.

[2021-12-29 03:28] rwoll opened #11126 "[BUG] Test Reporter Gets Confused on File Name"
**Context:**
- Playwright Version: 1.17 and ToT
- Operating System: macOS
 - Node: 14.17.6 - ~/.nvm/versions/node/v14.17.6/bin/node
 - Yarn: 1.22.11 - ~/.nvm/versions/node/v14.17.6/bin/yarn
 - npm: 7.24.1 - ~/.nvm/versions/node/v14.17.6/bin/npm

**Code Snippet**

See the following for a full description and repro: https://github.com/rwoll/playwright-parameterized-tests-repro/blob/main/README.md

*

[2021-12-29 03:30] rwoll commented on #11126
Correction: The HTML Reporter gets it partially correct. It groups the tests properly so they are in the correct accordion, but the line items within them still reference `helpers/index.ts` within the case. For example, see this screenshot:

<img width="1056" alt="Screen Shot 2021-12-28 at 7 28 10 PM" src="https://user-images.githubusercontent.com/11915034/147624720-04f59050-ca47-4375-93e5-c294779

[2021-12-29 06:24] paambaati commented on #11108
@aslushnikov I'm doing this exact same thing, with the addition of needing to set storage state on that persistent context. How would you recommend I do it?

I tried this but this isn't working though –

[code]

[2021-12-29 06:51] paambaati commented on #11108
@aslushnikov This doesn't work either (after having read https://playwright.dev/docs/test-fixtures#overriding-fixtures) –

[code]

Curiously, when I use this custom `test` method, I do see the `[INFO] Extending browser context` line being printed, but not `[INFO] Extending storage state`.

[2021-12-29 07:16] alisterscott opened #11127 "[BUG] Locale differences when running headed vs headless"
**Context:**
- Playwright Version: 1.17.1
- Operating System: macOS M1
- Node.js version: 17.0.1
- Browser: Chromum
- Extra: locale is `en-AU`

[code]

**Code**

[code]

**Describe the bug**

If locale is not set via test options, when running headed vs headless a different locale is set which can lead to confusion. For example, the above script run as headless:

[code]

and HEADED:

[code]

note

[2021-12-29 09:01] lakibm77 opened #11128 "[Feature] I want to handle multiple environments and pass env name from CLI."
i have defined .env file like below

[code]

and a class to initialize those variables.

[code]

now, i should have an option to pass Environment as variable from CLI. i am using below but Environment value is taking undefined.
[code]

can some one help me if there already a way to achive this.

[2021-12-29 11:57] paambaati commented on #7634
@badsyntax I've run into this same problem. Would you mind showing me how you're doing this?

I can set the cookies fine (using `context.addCookies({})`), but I haven't found a straightforward API to set local storage similarly.

[2021-12-29 12:20] Smrtnyk opened #11129 "[Question] Run tests without exiting the process"
We wrote some tests in playwright and want to excercise our CI for a few weeks.
Tests would be executed in CI stages on all PR builds, but we don't want to fail the pipeline if playwright tests fail, we just want to observe it for some time to learn about how it behaves, does it fail often etc...
Is there a flag that would not exit the process if tests fail?

[2021-12-29 12:35] Smrtnyk commented on #11129
Also are there some best practices for CI when it comes to playwright written somewhere?
For example is it ok to run all the tests in parallel in CI?

Jest recommends using `maxWorkers: "50%"` in CI. But not sure for playwright what is recommended.
Our nodes in CI are not always the same, we sometimes get different machine assigned with less or more resources and cores.

[2021-12-29 16:27] bpasero opened #11130 "[BUG] browserType.launch: Protocol error (Browser.enable): Browser closed"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac
- Node.js version: 14.x
- Browser: All
- Extra: Azure pipelines CI run

**Code Snippet**

[code]

**Describe the bug**

We had a failing Azure pipelines CI run in https://dev.azure.com/monacotools/Monaco/_build/results?buildId=148061&view=logs&j=3792f238-f35e-5f82-0dbc-272432d9a0fb&t=0d7e5bc9-922f-51dd-b06a-a90d0b9feeeb&l=13 with th

[2021-12-29 17:35] LuizFelipeNeves commented on #6319
@LDubya you're right, in my case I managed to alleviate the situation by closing the pages, and opening new ones, re using context, instead of reloading and having a memory increase.

[2021-12-29 21:22] ckundo commented on #10562
Opened a PoC PR to illustrate an approach, above.

[2021-12-30 01:06] aslushnikov commented on #11130
@bpasero I see this is Firefox crashing for you. A few questions:

- does it happen reliably? If yes, can you please launch your tests with `DEBUG=*browser*` env variable?
- do you have tracing / video recording enabled during this test run?

[2021-12-30 01:14] aslushnikov commented on #11129
@Smrtnyk Do you use @playwright/test? In this case, test runner would not exit as a test fails. It will, however, exit with non-zero error code. Depending on your CI, you can instruct it to continue executing other steps, e.g. in github actions you'd use the [`if: always()` condition](https://stackoverflow.com/a/58859404/314883).

We have some documentation available here: https://playwright.dev/d

[2021-12-30 01:16] aslushnikov commented on #11128
cross-env should go before the command:

[code]

[2021-12-30 01:26] rwoll opened #11134 "[Feature] API Testing: Easy Opt-Out of Platform Name in Snapshots"
We use Playwright Test for API testing and make heavy use of snapshots on textual data that's been normalized from JSON API responses.

Currently, Playwright Test will embed the platform name by default in the snapshot, but this doesn't make sense for API Testing.

I stumbled a bit trying to find out how to disable it. (I saw `snapshotDir` could be overriden in the playwright.config.ts, but not `s

[2021-12-30 01:26] aslushnikov commented on #11127
@alisterscott thanks for reporting! Looks reasonable to me to default to en-US unless set otherwise.

[2021-12-30 01:28] rwoll commented on #11134
Just posted https://github.com/microsoft/playwright/pull/11132 in case the team wants to make it a top-level config. The work around (`auto` hook works for now, but it took my digging through playwright's own internal tests to see that was viable option).

[2021-12-30 01:29] alisterscott commented on #11127
I think that's a good solution to ensure consistent test results between headed and headless without any overrides

[2021-12-30 01:42] aslushnikov commented on #11126
@dgozman I wonder if we can prefer `.spec.ts` or `.spec.js` frames to the top stack frame when determining test location?

[2021-12-30 01:44] aslushnikov commented on #11122
Yeah I eye-balled it as well and looks very doable.

[2021-12-30 01:45] aslushnikov commented on #11134
Thanks Ross! Let's wait for the folks to come back so that we can discuss this.

As usual, I'll assign 1.18 and Dmitry to this so that we don't loose track :-)

[2021-12-30 01:48] aslushnikov commented on #11118
This is fixed on tip-of-tree now; will be available in tomorrow's canary release and will be installable with

[code]

[2021-12-30 01:48] #11118 closed

[2021-12-30 01:57] rwoll commented on #11134
Thanks! Sounds good! The PR introduces it into the public API 👻 , so it def warrants a discussion. 😄  The workaround works for now so this is **not** blocking anything FWIW.

Perhaps there is also a more holistic way of solving and thinking about API Testing. For example, when doing API testing (i.e. non-browser testing) w/ Playwright Test, maybe there are other preset configs, fixtures, etc. that

[2021-12-30 02:03] aslushnikov commented on #11071
@neongreen I tried but this fails for me.

[code]

It looked like some instructions are missing for the repro. So I tried to build and start the app as well:

[code]

But then running tests with the localhost server running fails like this:

[code]

[2021-12-30 02:04] aslushnikov commented on #11071
I'd appreciate if there's a minimalistic repro that just has the page & a small playwright script that illustrates the issue.

[2021-12-30 03:08] stackWang opened #11136 "[BUG]"
**Context:**
- Playwright Version: 1.17.2
- Operating System: Windows7
- Node.js version: 10.24.1
- Browser: All

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

Code:
[code]
Problem:
[code]

**Describe the bug**
i was debug the problem, seems the program trying use the node.exe to install "\package\li

[2021-12-30 03:43] oushu1haojianqiang1 opened #11138 "[Question] The usage problem in centos system"
I'm running Playwright in centos with headless mode. I specified in the task to skip downloading browsers and provide a local browser directory, but a new browser is downloaded every time.I am very worry.

[2021-12-30 04:27] aslushnikov commented on #11138
@oushu1haojianqiang1 could you please show what exactly is your configuration?

[2021-12-30 04:29] aslushnikov commented on #11102
@ryanking13 turns out this happens due to Playwright using firefox's debugger functionality.

You can reproduce the same behavior using stable Firefox, opening devtools, and navigating to the page:

[code]

[2021-12-30 04:32] #11102 closed

[2021-12-30 04:33] aslushnikov commented on #11112
These are moved to internal repository now and run #smoke tests; this is fixed now.

[2021-12-30 04:33] #11112 closed

[2021-12-30 04:45] oushu1haojianqiang1 commented on #11138
npm 6.14.6
npx  6.14.8
playwright 1.17.1
chromepath = ~/.cache/ms-playwright/chromium-939194/chrome-linux/chrome
I run it using Java programs

![image](https://user-images.githubusercontent.com/83932262/147722298-97480137-aaad-4a0f-a9c2-c1e54f98c910.png)

Are these?

My English is not good, may have impolite tone, forgive me

[2021-12-30 04:49] oushu1haojianqiang1 commented on #11138
![image](https://user-images.githubusercontent.com/83932262/147722509-d14258c2-cfeb-45e9-b70d-c343448855ba.png)
Even though browser-skipping download is set, some process is still downloading it

[2021-12-30 04:59] aslushnikov commented on #11138
@oushu1haojianqiang1 how do you set browser skipping?

[2021-12-30 05:01] oushu1haojianqiang1 commented on #11138
![image](https://user-images.githubusercontent.com/83932262/147722971-6491f4b8-6432-40aa-987c-aff2092d99cf.png)
set PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1

[2021-12-30 05:01] aslushnikov commented on #11031
This is fixed now; should be available in canary tomorrow.

[2021-12-30 05:01] #11031 closed

[2021-12-30 05:16] aslushnikov commented on #11138
Ah! You should set in the powershell instead:

[code]

[2021-12-30 05:23] aslushnikov commented on #11057
@ElliottDevlinPA can you try running with `video: 'off'` in your config?

[2021-12-30 05:24] aslushnikov commented on #11073
I'll close this for now. Feel free to re-file if it is not fixed yet!

[2021-12-30 05:24] #11073 closed

[2021-12-30 05:26] aslushnikov commented on #11074
@amotl some variation of this issue was fixed a while ago; but apparently there's another one that hits you.

However, without a good repro, this is not actionable.

But! If you have a repro that we can run locally and see the behavior, please file a new issue with the repro! Once there's a repro, we'll be happy to fix it.

[2021-12-30 05:26] #11074 closed

[2021-12-30 05:26] aslushnikov commented on #11087
Looks like this issue is explained, and a follow-up is filed by Yury.

[2021-12-30 05:26] #11087 closed

[2021-12-30 05:27] #11099 closed

[2021-12-30 05:27] aslushnikov commented on #11106
Please re-file with a clearer description!

[2021-12-30 05:27] #11106 closed

[2021-12-30 05:27] #11117 closed

[2021-12-30 05:29] aslushnikov commented on #11120
@dssnoha I still don't follow what's going on and how we can help. So can you please explain in details what's the expected behavior, what you do, what you observer, and why it's not what you expect?

I'd love to follow your steps locally and see it all for myself.

[2021-12-30 05:29] #11121 closed

[2021-12-30 05:29] #11128 closed

[2021-12-30 06:06] oushu1haojianqiang1 commented on #11138
ok,thanks

[2021-12-30 06:07] oushu1haojianqiang1 commented on #11138
![image](https://user-images.githubusercontent.com/83932262/147726163-66c60585-e7e6-4cbb-9f20-3305ff64d6b9.png)

like this?

[2021-12-30 06:09] oushu1haojianqiang1 commented on #11138
It's in the ~/.bashrc file

[2021-12-30 06:13] oushu1haojianqiang1 commented on #11138
But it didn't work

![image](https://user-images.githubusercontent.com/83932262/147726415-3bbd9025-5e01-4c16-8515-4588d6b7d116.png)

Still downloading the browser kernel

[2021-12-30 07:16] bpasero commented on #11130
@aslushnikov

Not on every run, but maybe once per week we get this

Yup we do. We start/stop tracing per unit test and only persist it on failure.

Would it make sense to always set `DEBUG=*browser*` for our CI? And how is the output generated, on std out?

[2021-12-30 07:28] Smrtnyk commented on #11130
I can confirm that I have the same issue and it happens just sometimes randomly, and only on firefox (we run chromium, webkit and ff)
I will observe when it happens again and collect the trace.

[2021-12-30 08:09] Smrtnyk commented on #11129
Yeah I am using @playwright/test. I have wrapped the step with catchError in jenkins file.

About the timeout issue, what I observed from excercising our CI is that bad guy is mostly the firefox.
Chromium and Webkit are pretty stable.
Firefox occasionally just timeouts and I think the issue happens even before it sees the test.skip statement in the test, therefore it looks like it also timeouts on

[2021-12-30 08:24] Smrtnyk commented on #11129
In the link you provided which I already read before the example shows
[code]

Is there are a reason maybe why the example suggests that conditional statement for the CI, or is that just some arbitrary example?

[2021-12-30 08:59] lakibm77 commented on #11128
Thank you so much for the resolution. however, it works only the below way and when i give the command directly from power shell/cmd it says cross-env not recognised..
"scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "testsmoke": "npx playwright test tests/test.spec.ts --project=chromium",
    "Testenv": "cross-env Enviroment=QA npx playwright test /tests/paralleldemo/En

[2021-12-30 09:01] oushu1haojianqiang1 commented on #11138
One last question, playwright is version 1.17.0, can the nodeJS version use 12.x ？

[2021-12-30 09:03] oushu1haojianqiang1 commented on #11138
![image](https://user-images.githubusercontent.com/83932262/147737204-5a4ff416-26eb-49d5-bff5-c399ad8efdeb.png)
Now I have a new discovery

[2021-12-30 10:29] bpasero commented on #11130
It just happened again, we will probably have to disable Firefox to get non-flaky test runs.

[2021-12-30 11:29] photkey opened #11142 "[Question]: How can playwright achieve an effect like 'ActionChains(driver).move_to_element(element).click(element).perform()'?"
### Your question

I'm trying to get familiar with playwright today, and tried to put it on my work. The thing is that the website I tested has an element which needs to hovering for a while before it changed color and can be clicked. I used to use selenium to achieve that, which is `ActionChains(driver).move_to_element(element).click(element).perform()`. But in playwright, I have tried clicked di

[2021-12-30 12:50] leobastiani opened #11141 "[Question] Is it possible to use playwright.config.ts webServer for multiple servers?"
I wish I could be able to use a server for each worker and available then for each port.
For example:

[code]

Is it possible?

[2021-12-30 13:01] leobastiani commented on #8206
https://github.com/microsoft/playwright/issues/11141

[2021-12-30 15:48] aslushnikov commented on #11130
@bpasero we recently fixed a significant bug related to tracing in firefox that resulted in 72% of all the crashes we see. Can you please try running with @playwright/test@next?

[2021-12-30 16:23] pavelfeldman commented on #11098
Locators are strict, it means that the check

[code]

is not necessary, it is done automatically.

[2021-12-30 16:55] bpasero commented on #11130
I would rather wait for a new official release from `playwright` if that is coming up soon?

[2021-12-30 17:44] aslushnikov commented on #11130
@bpasero scheduled for jan 2022!

[2021-12-30 18:11] aslushnikov commented on #11128
@lakibm77 ah, right! It should be `npx cross-env` if you're in powershell / cmd:

[code]

[2021-12-30 22:33] aslushnikov commented on #11142
@photkey Playwright's click (i.e. [`page.click()`](https://playwright.dev/python/docs/api/class-page#page-click)) moves mouse over the element first and then clicks the element. So what exactly didn't work for you?

[2021-12-30 22:34] aslushnikov commented on #11141
@leobastiani Not possible yet; there's a feature request for this though: https://github.com/microsoft/playwright/issues/8206

Please upvote to stay in the loop!

[2021-12-30 22:34] #11141 closed

[2021-12-31 01:28] leobastiani commented on #11141
Thank you, it's a bit different from what I see in this PR although it's still related

[2021-12-31 07:33] lakibm77 commented on #11128
Thank you so much this works fine....

[2021-12-31 09:09] 1aerostorm commented on #11098
@pavelfeldman what do you meaning?
[code]
No. If there are 2 pcs of imageBtn, we don't know about that, but that is a bug. Please read issue again.

[2021-12-31 09:24] creage opened #11143 "[Feature] TRX Reporter"
We are using Azure DevOps for our CI/CD, and report our test results using JUnit reporter for now. But this reporter is very limited in functionality - it cannot deliver attachments directly as a part of the report itself.

Would be nice if you guys there at Microsoft create a Visual Studio TRX reporter for Playwright, which has greater support in Azure, so we can deliver attachments (traces, scre

[2021-12-31 14:11] Meemaw opened #11145 "[Feature] Allow ElementHandle as an input to DOM expect matchers"
We're using https://github.com/testing-library/playwright-testing-library for selecting elements on our page. Those return `ElementHandle`, which doesn't seem to be compatible with some `expect` matchers.

Simple example:
[code]

Throws:
[code]

There might be a way to get a `Locator` from `ElementHandle` (not sure), but it would be great if those also worked with `ElementHandle` itself.

[2021-12-31 21:32] bvaughn commented on #5371
In case it's helpful, I ran into this issue when playing around with a pet project: https://github.com/bvaughn/planner/pull/7

Headless screenshots are different on my MacBook which causes tests to fail:

# Headless
![canvas-screenshot-1-actual](https://user-images.githubusercontent.com/29597/147839399-72421248-0449-4d4c-9351-56d917774ef9.png)

# Visible
![canvas-screenshot-1-expected](https://use

[2022-01-01 17:56] dfberry commented on #11126
I have the same problem.
OS: mac
Nodejs: 14.15.1
NPM 6.14.8

The error is in the authentication spec but is only partially reported that way.

[code]
![Screen Shot 2022-01-01 at 9 54 09 AM](https://user-images.githubusercontent.com/1517008/147857047-3a593049-29a9-4139-a561-813857f89528.png)

[2022-01-01 22:49] pavelfeldman commented on #11145
Making assertions work against `ElementHandle` would not make much sense - underlying elements can be swapped by React at any moment:

[code]

Using locator objects solves this and other races.

Could you share why you are using testing library to select elements? I would imagine that Playwright's [selectors](https://playwright.dev/docs/selectors) are much more powerful at this point.

[2022-01-01 23:05] pavelfeldman commented on #4303
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing such issues to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think this is a

[2022-01-01 23:05] #4303 closed

[2022-01-01 23:06] pavelfeldman commented on #4855
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing such issues to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think this is a

[2022-01-01 23:06] #4855 closed

[2022-01-01 23:08] pavelfeldman commented on #4910
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:08] #4910 closed

[2022-01-01 23:08] pavelfeldman commented on #5372
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:08] #5372 closed

[2022-01-01 23:09] pavelfeldman commented on #5481
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:09] #5481 closed

[2022-01-01 23:09] pavelfeldman commented on #3285
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:09] #3285 closed

[2022-01-01 23:10] pavelfeldman commented on #4987
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:10] #4987 closed

[2022-01-01 23:10] pavelfeldman commented on #5725
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:10] #5725 closed

[2022-01-01 23:11] pavelfeldman commented on #6190
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:11] #6190 closed

[2022-01-01 23:11] pavelfeldman commented on #4798
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:11] #4798 closed

[2022-01-01 23:11] pavelfeldman commented on #6188
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:11] #6188 closed

[2022-01-01 23:12] pavelfeldman commented on #6243
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-01-01 23:12] #6243 closed

[2022-01-01 23:12] pavelfeldman commented on #6168
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:12] #6168 closed

[2022-01-01 23:15] pavelfeldman commented on #6459
There is n-th in our new locators api, i think it should work for you!

[2022-01-01 23:15] #6459 closed

[2022-01-01 23:15] pavelfeldman commented on #4077
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:15] #4077 closed

[2022-01-01 23:16] #6079 closed

[2022-01-01 23:16] pavelfeldman commented on #6488
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:16] #6488 closed

[2022-01-01 23:16] pavelfeldman commented on #6537
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:16] #6537 closed

[2022-01-01 23:17] pavelfeldman commented on #6497
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:17] #6497 closed

[2022-01-01 23:17] pavelfeldman commented on #4959
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:17] #4959 closed

[2022-01-01 23:17] pavelfeldman commented on #6573
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:17] #6573 closed

[2022-01-01 23:20] pavelfeldman commented on #4687
It looks like the industry has settled on the browserType.connect. Please file a new issue if you are still interested in this functionality.

[2022-01-01 23:20] #4687 closed

[2022-01-01 23:20] pavelfeldman commented on #5651
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:20] #5651 closed

[2022-01-01 23:20] pavelfeldman commented on #4049
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:20] #4049 closed

[2022-01-01 23:20] pavelfeldman commented on #6690
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:20] #6690 closed

[2022-01-01 23:21] pavelfeldman commented on #6778
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:21] #6778 closed

[2022-01-01 23:22] pavelfeldman commented on #6615
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:22] #6615 closed

[2022-01-01 23:22] pavelfeldman commented on #4834
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:22] #4834 closed

[2022-01-01 23:23] pavelfeldman commented on #2404
This is not something Playwright team is actively looking at, so closing it to manage the expectations.

[2022-01-01 23:23] #2404 closed

[2022-01-01 23:23] pavelfeldman commented on #6885
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:23] #6885 closed

[2022-01-01 23:23] pavelfeldman commented on #6898
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:23] #6898 closed

[2022-01-01 23:23] pavelfeldman commented on #6900
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:23] #6900 closed

[2022-01-01 23:24] pavelfeldman commented on #7046
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:24] #7046 closed

[2022-01-01 23:24] pavelfeldman commented on #7107
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:24] #7107 closed

[2022-01-01 23:25] pavelfeldman commented on #7053
[code]
is a new way to asserting this.

[2022-01-01 23:25] #7053 closed

[2022-01-01 23:25] pavelfeldman commented on #6905
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:25] #6905 closed

[2022-01-01 23:26] pavelfeldman commented on #7114
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:26] #7114 closed

[2022-01-01 23:27] pavelfeldman commented on #6945
you can pass { force } into selectOption now.

[2022-01-01 23:27] #6945 closed

[2022-01-01 23:27] pavelfeldman commented on #7043
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:27] #7043 closed

[2022-01-01 23:29] pavelfeldman commented on #6798
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:29] #6798 closed

[2022-01-01 23:29] pavelfeldman commented on #7296
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:29] #7296 closed

[2022-01-01 23:30] pavelfeldman commented on #7316
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:30] #7316 closed

[2022-01-01 23:30] pavelfeldman commented on #7241
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:30] #7241 closed

[2022-01-01 23:31] pavelfeldman commented on #2286
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:31] #2286 closed

[2022-01-01 23:31] pavelfeldman commented on #7126
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:31] #7126 closed

[2022-01-01 23:31] pavelfeldman commented on #7405
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:31] #7405 closed

[2022-01-01 23:32] pavelfeldman commented on #7138
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:32] #7138 closed

[2022-01-01 23:32] pavelfeldman commented on #7263
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:32] #7263 closed

[2022-01-01 23:32] pavelfeldman commented on #7440
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:32] #7440 closed

[2022-01-01 23:33] pavelfeldman commented on #5495
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:33] #5495 closed

[2022-01-01 23:33] pavelfeldman commented on #7466
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:33] #7466 closed

[2022-01-01 23:33] pavelfeldman commented on #7411
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:33] #7411 closed

[2022-01-01 23:34] pavelfeldman commented on #7514
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:34] #7514 closed

[2022-01-01 23:34] pavelfeldman commented on #5906
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:34] #5906 closed

[2022-01-01 23:35] pavelfeldman commented on #7524
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:35] #7524 closed

[2022-01-01 23:36] pavelfeldman commented on #7459
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:36] #7459 closed

[2022-01-01 23:36] pavelfeldman commented on #7556
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:36] #7556 closed

[2022-01-01 23:37] pavelfeldman commented on #7558
test.info() will be there as of v1.18.

[2022-01-01 23:37] #7558 closed

[2022-01-01 23:37] pavelfeldman commented on #7648
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:37] #7648 closed

[2022-01-01 23:37] pavelfeldman commented on #7647
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:37] #7647 closed

[2022-01-01 23:37] pavelfeldman commented on #7663
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:37] #7663 closed

[2022-01-01 23:37] pavelfeldman commented on #7641
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:37] #7641 closed

[2022-01-01 23:38] pavelfeldman commented on #7635
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:38] #7635 closed

[2022-01-01 23:38] pavelfeldman commented on #7611
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:38] #7611 closed

[2022-01-01 23:38] pavelfeldman commented on #7601
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:38] #7601 closed

[2022-01-01 23:39] pavelfeldman commented on #7783
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:39] #7783 closed

[2022-01-01 23:39] pavelfeldman commented on #7745
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:39] #7745 closed

[2022-01-01 23:39] pavelfeldman commented on #5613
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:39] #5613 closed

[2022-01-01 23:40] pavelfeldman commented on #7855
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:40] #7855 closed

[2022-01-01 23:40] pavelfeldman commented on #7846
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:40] #7846 closed

[2022-01-01 23:41] pavelfeldman commented on #5721
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:41] #5721 closed

[2022-01-01 23:41] pavelfeldman commented on #5855
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:41] #5855 closed

[2022-01-01 23:41] pavelfeldman commented on #6015
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:41] #6015 closed

[2022-01-01 23:41] pavelfeldman commented on #7927
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:41] #7927 closed

[2022-01-01 23:43] pavelfeldman commented on #7032
It seems like there is nothing Playwright team can act on in the scope of this bug, so closing it.

[2022-01-01 23:43] #7032 closed

[2022-01-01 23:43] pavelfeldman commented on #7363
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:43] #7363 closed

[2022-01-01 23:43] pavelfeldman commented on #6559
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:43] #6559 closed

[2022-01-01 23:44] pavelfeldman commented on #7638
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:44] #7638 closed

[2022-01-01 23:45] pavelfeldman commented on #7853
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:46] pavelfeldman commented on #6743
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:46] #6743 closed

[2022-01-01 23:47] pavelfeldman commented on #8028
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:47] #8028 closed

[2022-01-01 23:47] pavelfeldman commented on #7889
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:47] #7889 closed

[2022-01-01 23:47] pavelfeldman commented on #7756
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:47] #7756 closed

[2022-01-01 23:48] pavelfeldman commented on #7642
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:48] #7642 closed

[2022-01-01 23:48] pavelfeldman commented on #7978
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:48] #7978 closed

[2022-01-01 23:49] pavelfeldman commented on #8100
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:49] pavelfeldman commented on #7928
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:49] #7928 closed

[2022-01-01 23:50] pavelfeldman commented on #8022
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:50] #8022 closed

[2022-01-01 23:50] pavelfeldman commented on #8342
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:50] #8342 closed

[2022-01-01 23:51] pavelfeldman commented on #8115
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:51] #8115 closed

[2022-01-01 23:51] pavelfeldman commented on #6037
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:51] #6037 closed

[2022-01-01 23:51] pavelfeldman commented on #8274
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:51] #8274 closed

[2022-01-01 23:51] pavelfeldman commented on #8280
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:51] #8280 closed

[2022-01-01 23:52] pavelfeldman commented on #7022
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:52] #7022 closed

[2022-01-01 23:52] pavelfeldman commented on #8265
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:52] #8265 closed

[2022-01-01 23:53] pavelfeldman commented on #8475
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:53] #8475 closed

[2022-01-01 23:54] pavelfeldman commented on #8487
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:54] #8487 closed

[2022-01-01 23:54] pavelfeldman commented on #8087
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:54] #8087 closed

[2022-01-01 23:54] pavelfeldman commented on #8508
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:54] #8508 closed

[2022-01-01 23:54] pavelfeldman commented on #8590
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-01 23:54] #8590 closed

[2022-01-01 23:55] pavelfeldman commented on #8532
#### Why was this issue closed?

We are prioritizing the features based on the upvotes, recency and activity in the issue thread. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it

[2022-01-01 23:55] #8532 closed

[2022-01-02 00:47] Daveiano commented on #5013
Any progress or update on this? I am struggling with the same issue.

[2022-01-02 03:32] KotlinIsland commented on #7853
This feature is intensely based, it looks like a mistake was made by closing it.

[2022-01-02 03:33] KotlinIsland commented on #7978
@pavelfeldman This feature is needed, please reopen.

[2022-01-02 09:16] brzssh opened #11148 "[Question]how to locate several elements at once?"
is there something similar  to find_by_element**s**(in selenium).

i would like to locate several elements and iterate over them

i tried to

[code]

but got error:
playwright._impl._api_types.Error: Error: strict mode violation: "xpath=//*[@class="dropdown-header"]//*[@class="dropdown-menu-label"]" resolved to 2 elements:
    1) <div class="dropdown-menu-label">User</div> aka playwright.$("text=U

[2022-01-02 09:25] bennypowers commented on #11060
Me again!

This issue does indeed occur even when I remember to build my tests files. I believe, based on the `collectFiles` function in runner.js, that gitignored files (like my built tests) are excluded from the runner. Is there a way to override that behaviour?

This config does not help:

[code]

logging in the runner.js file in node_modules:

[code]

[2022-01-02 17:45] Meemaw commented on #11145
Main reason is that it **enforces** best practices and prevents bad selectors. I'm aware Playwright's builtin selectors are quite strong, but there are concepts that testing library abstracts away so you don't have to know the underlying selectors implementation/engine.

I would love if those selectors returned `Locator` though. I'm slightly annoyed having to deal with `Promises` all around.

I gu

[2022-01-02 19:22] Nav-2d commented on #11148
Maybe this can help - https://playwright.dev/docs/next/locators#lists

[2022-01-03 01:33] oioie opened #11149 "[BUG]"
**Context:**
- Playwright Version: [1.17.2]
- Operating System: [Linux(ubuntu 20.4)]
- Node.js version: [16.13]
- Browser: [WebKit]
- Extra: [docker]

playwright install-deps

**Code Snippet**
When i run the shell,It happens every time.But my network not bad,and my apt-get's source is default.
![image](https://user-images.githubusercontent.com/66261721/147894333-43fc70d2-0a49-49a1-9aaf-fef7634d8df

[2022-01-03 01:37] oioie commented on #11149
I tried a reduced version,But it doesn't solve it.

[2022-01-03 02:09] oioie commented on #11149
i tried Manual installation
![image](https://user-images.githubusercontent.com/66261721/147895568-1ec149e3-011e-4b25-a03f-41a7a6c3da5b.png)

[2022-01-03 03:08] #11149 closed

[2022-01-03 03:12] oioie commented on #11149
May be was my net have some question,i finished installing.

[2022-01-03 04:07] pavelfeldman commented on #11145
I'm not familiar with how testing library **enforces** best practices, but your `byRole` and `byLabelText` use cases are clear.

`byLabelText` would look like this:

[code]

starting with 1.18 it will also be available as

[code]

Although testing library claims that `byRole` queries the accessibility tree, it most definitely does not (it runs outside the browser and only browser can build a11y tr

[2022-01-03 07:58] klhex commented on #7786
Happy New Year, everyone!

@dgozman  Any updates on this feature request? IMHO it would be a perfect candidate for starting the new year, setting Playwright Test further apart from most other test runners which (AFAIK) don't offer such a useful feature. 😃

[2022-01-03 08:35] #11148 closed

[2022-01-03 09:10] jay-espiritu opened #11150 "[Question] Run playwright docker using Apple Silicon (M1) macs"
System: macOS Monterey (12.1)

I am struggling to try and run playwright docker. Based on this #7723, it should run when v1.17 is out. but for some reason, it keeps failing when trying to install chrome dependencies (see error below). Am I missing something? Is there documentation to run playwright docker specifically for M1 macs?

**Dockerfile**

[code]

**Error**

<img width="1010" alt="Screen S

[2022-01-03 09:40] Smrtnyk commented on #11129
I saw in another issue that there were some bugs fixed for firefox and that will come in next release.
Will close this for now since our CI seems pretty much stable, other than occasional ff hiccups.

[2022-01-03 09:40] #11129 closed

[2022-01-03 09:40] dominic-simplan commented on #10964
We had the same issue.
In our case, `electronApp.firstWindow()` sometimes returned the DevTools window, sometimes the actual main window. If the DevTools window is returned, the test waits indefinitely for the selector.

We worked around this problem by opening the DevTools manually afterwards:

[code]

Not sure if this is something which could be fixed in playwright...?

[2022-01-03 10:20] murraymichal commented on #9983
hey! do you consider this doable in near future?

[2022-01-03 15:18] aslushnikov commented on #11150
@jay-espiritu `npx playwright install chrome` doesn't work on Ubuntu arm64 since there's no officially distributed build of Chrome for ubuntu on arm64. The latest 1.17.1 version of Playwright has a descriptive error for this

[2022-01-03 15:38] aslushnikov commented on #11060
@bennnypowers so how come your source files are ignored and not committed?

[2022-01-03 15:43] Luc45 commented on #11122
![image](https://user-images.githubusercontent.com/9341686/147948856-57be8d75-8689-4d7b-841d-c31ee881f19a.png)

I wanted to do something more sophisticated, checking if `command -v apt-get` returned 0 (`apt-get` exists) or 1 (does not exist), and displaying a custom message depending on it, but I was spending some time trying to get the command to spawn to retrieve the exit code, and my team decid

[2022-01-03 16:05] aslushnikov commented on #11103
I can reproduce this on tip-of-tree with the following snippet:

I get `automation: 51.477s` while the video itself is 63 seconds.

[code]

[2022-01-03 16:37] bennypowers commented on #11060
... the `.e2e.spec.js` files are build artifacts. my test sources are typescript files.

[2022-01-03 16:52] aslushnikov commented on #11138
@oushu1haojianqiang1 I'm confused. Is this CentOS, windows, or Ubuntu?

In case of CentOS like stated in the original question, then Playwright doesn't support it out-of-the-box. You might try installing Chrome separately from official sources, but this is not an officially supported workflow.

If this is windows & Powershell, then you should not use `.bashrc`.

In case of ubuntu, bashrc is the ri

[2022-01-03 16:58] aslushnikov commented on #11122
Let's not. Listing the libraries to install for arch linux is too much of a commitment for us - we'll never keep this list up-to-date since we don't run any of our tests on arch.

Thank you for looking into this though!

[2022-01-03 16:58] #11122 closed

[2022-01-03 17:04] Luc45 commented on #11122
@aslushnikov jfyi, the dependencies list is generated automatically:

[code]

[2022-01-03 17:05] amrsa1 opened #11154 "[Question] Why android test is not running until i manually run adb devices in cmd ?"
I'm not sure if this is a bug or expected behavior that I'm unable to run the android test unless I manually run "adb devices" command in terminal

![image](https://user-images.githubusercontent.com/32042806/147958631-f1e6eba9-2160-44cc-b56a-6046586dd957.png)

[2022-01-03 17:25] yury-s commented on #11060
You could specify .spec.ts files in the filter, but I guess you have a separate build step with custom ts config which rules out this option?

[2022-01-03 18:54] yury-s commented on #11101
Mouse wheel is not supported in mobile webkit, after #10946 you should get an exception saying that if wheel api is accessed with mobile emulation on.

[2022-01-03 18:54] #11101 closed

[2022-01-03 19:10] yury-s commented on #11098
If the selector resolves to 2 elements you'll get
[code]

[2022-01-03 19:49] pavelfeldman commented on #10997
The following test works for me, could you clarify what's expected vs what is happening?

[code]

[2022-01-03 19:56] akarabach opened #11157 "[BUG] browserContext.storageState: net::ERR_BLOCKED_BY_CLIENT"
**Context:**
- Playwright Version: ^1.17.1
- Operating System: Windows
- Node.js version: v14.16.1
- Browser: Chromium
- Extra: Windows 11

**
## System:
 - OS: Windows 10 10.0.22000
 - Memory: 18.48 GB / 31.90 GB
## Binaries:
 - Node: 14.16.1 - C:\Program Files\nodejs\node.EXE
 - Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
 - npm: 6.14.12 - C:\Program Files\nodejs\npm.CMD
## Languages

[2022-01-03 21:22] pavelfeldman commented on #10816
I can't repro it:

![screenshot](https://user-images.githubusercontent.com/883973/147981685-4f700829-5aab-4fb3-b858-aaced1111f4c.png)

[2022-01-03 22:37] dgozman commented on #11126
@dfberry Could you please share more details? I don't quite understand your setup, for example how is "authentication.spec" ended up being called from the "example.spec"?

@rwoll There are multiple scenarios to consider, and we should find the right balance between them.

1. `const myTestWrapper = require('./helper')` like in your scenario, that is called like `myTestWrapper()` from the `example.s

[2022-01-03 23:25] dgozman commented on #11098
I like this proposal. All the information is there, we just need a way to nicely present it.

[2022-01-03 23:58] rwoll commented on #11126
@dgozman Can you show some examples of what are in the `helper` for (1) and (3) for your above examples? In my mind they are logically equivalent and should report as being apart of `example.spec.ts`. ((3) is just (1) with a for loop.)

My repro repo had an extremely abbreviated example, in reality our `parameterizeTestCase` looks something more like[^1]:

[code]

I could see us adding another lay

[2022-01-04 00:17] rwoll commented on #11126
@dgozman Aside: once we have a more concrete idea of how each of these should report/group, I'd like to follow up on the report info, code frames, and stack traces. For example, if the `expect` is in a helper that's called in a test:

[code]

how much code frame context should be shown in the reporter? Should it show `helpers.commonAsserts` callsite as the problem code frame, or should it dive int

[2022-01-04 01:29] #10859 closed

[2022-01-04 01:46] #6238 closed

[2022-01-04 02:25] flunderpero commented on #10613
Just a quick note: It is working again.

[2022-01-04 02:34] oushu1haojianqiang1 commented on #11138
Thank you for your answer,This is a centos system
感谢

[2022-01-04 02:34] #11138 closed

[2022-01-04 02:49] yury-s commented on #11037
The problem is that when a new page is created via one connection we auto attach to it in the other connection too. This happens because the second connection receives `Target.attachedToTarget` event for an unknown context which is expected to always be default (persistent) context but this invariant is not true when there are contexts created through different connections. This is a bug.

[2022-01-04 02:58] MrDust0 opened #11161 "[Question] About temporary files"
Hi

Lately, i've been trying to deploy Playwright to  my project, but it comes some problems.

When initializing, with code
[code]
, it hangs when creating page. But it didn't happen before.

Then i checked /tmp/, there are lots of files such like

![image](https://user-images.githubusercontent.com/56252828/148003568-86e88f27-7d01-4723-8465-57a0cdfe9453.png)

i removed that files manually, but it

[2022-01-04 03:08] flyfoxCI opened #11162 "[Bug]: on download page crash down"
### Playwright version

1.17.2

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

backgroud: i use  async to create many context but when one meet the error below the whole client crash down

[code]

### What happened? / Describe the bug

backgroud: i use  async to create many context but when one meet the error below the whole client

[2022-01-04 05:17] #10098 closed

[2022-01-04 05:18] pavelfeldman commented on #10098
This is now fixed in the HTML report, but it requires a separate fix in Allure. Please file this bug in the allurejs repo and someone can fix it there.

[2022-01-04 05:20] pavelfeldman commented on #10989
This has been fixed earlier today.

[2022-01-04 05:20] #10989 closed

[2022-01-04 08:23] ElliottDevlinPA commented on #11057
Hi @aslushnikov. I tried setting video to off but still experience the issue. I am on MacOS Big Sur v11.6.1.

[2022-01-04 09:25] Meemaw commented on #11145
It's not that simple. I assume the element selected by this would be the `label`, and not the `input` thats associated with it, which is what `byLabelText` does.

Yeah, I'm fairly certain they have heuristics for this. This for example wouldn't select `<button>Username</button>`, or am I wrong?

[2022-01-04 10:25] vthommeret opened #11164 "[Feature] Support IndexedDB for shared auth use cases"
Some services (notably Firebase Auth) use IndexedDB to store authentication state. The current API's for reusing authentication state only support cookies and local storage: https://playwright.dev/docs/auth#reuse-authentication-state

While it is possible to write IndexedDB code to manually read authentication state, serialize it, store it in an environment variable, and then add it back to a page

[2022-01-04 10:38] andreabisello commented on #7557
@sytolk have you found a way to set the screen size?

[2022-01-04 10:44] AlexShemeshWix opened #11165 "npx playwright install-deps fails on self-hosted runner"
I have configured github action self hosted runner in my cluster.
My tests failed with
browserType.launch:
[code]
Ive put
[code]
step into my workflow file
it fails
[code]

What am i doing wrong?

[2022-01-04 10:59] nicojs commented on #1604
Hi 🙋‍♂️, an interesting discussion you have here 🤗. Pitching in with my findings after a few weeks of playwright experience.

## General PageObject rules

1. All interaction with the page should be done via page objects. I.e.: No selectors in your `.spec` files. No page internals should leak to the `.spec` files.
2. All assertions should be done in your tests. I.e. no `expect...` in your page obje

[2022-01-04 11:35] nicojs commented on #7558
And how will we get a reference to the `test`?

[2022-01-04 11:35] bennypowers commented on #11060
[playwright docs](https://playwright.dev/docs/test-typescript) recommend compiling ts sources for some cases. Clearly, those built files should not be committed.

Specifying ts sources in testMatch does not work:

[2022-01-04 11:39] AngelLopezBellmont commented on #10832
@aslushnikov  @yury-s  @dgozman  sorry for the late replay.( i was on holidays) .
Thanks for all the info, support and help
I am new in playwright. I don´t know how to punctual reduce the speed of a test, so there is no problem for firefox. I will open a question

[2022-01-04 11:51] AngelLopezBellmont opened #11167 "[Question] how to punctual reduce test speed. Problem login with firefox because is too fast (with chromium and webkit no problem)"
Hi,
We have a problem in firefox because the login page fills up to fast in firefox, and we get error (it does´t happend in chromium, webkit)
**So we want to reduce test speed just in the login part. How can we do it, without reducing the speed in the rest of tests after login?**

- playwright version: 1.16.3
- operating system: locally-> windows, cicd -> azure
- node version: 15.0.1
- npm version

[2022-01-04 12:13] AngelLopezBellmont commented on #11167
https://github.com/microsoft/playwright/issues/10832

[2022-01-04 12:40] aslushnikov commented on #11157
@akarabach could you please provide a repro that we can run locally to reproduce this issue?

[2022-01-04 12:44] aslushnikov commented on #11161
@MrDust0 this is unclear! Does the very first and simple playwright script work (i.e. try launching browser without the custom flags you pass)? What's your operating system? What's your playwright version? When did things stop working?

If there's still a mystery, can you please run your program with `DEBUG=*` log and send it to us?

Sure, you can use [`chromium.launch_persistent_context`](https:/

[2022-01-04 12:46] aslushnikov commented on #11162
@flyfoxCI can you share a script that reproduces this issue? We'll also appreciate if you can minimize the script, isolating the issue as much as possible!

[2022-01-04 12:48] aslushnikov commented on #11165
@AlexShemeshWix installing dependencies requires root access / sudo. If you have `sudo` on your self-hosted runner, you can just run `sudo npx playwright install-deps` and it should work.

[2022-01-04 12:53] aslushnikov commented on #11167
@AngelLopezBellmont Well, this test passes for me, maybe I have a slower machine than yours... However, if you want to type slower, you can use [`page.type()`](https://playwright.dev/docs/api/class-page#page-type) instead of `page.fill`: there's a `delay` option in `page.type` that will wait certain type before each key press.

[2022-01-04 14:38] adambeth opened #11170 "[Question] How can I get the request object from a request.post()"
I want to be able to get the request object being sent to the HTTPS server when performing a POST

How to I go about doing this

` const _inquiryResponse = await request.post(`${baseURL}api/v4/inquiries/`,{
            data: {
                "preferred_date1": "2022-01-05",
            }
        }) `

How can i view the request from the above code

[2022-01-04 15:26] Nokel81 commented on #10554
@jjeff That is actually what I am doing, this bug report is about calling that function not passing to the application the correct data.

[2022-01-04 15:51] ElliottDevlinPA commented on #11057
@aslushnikov I think I've just found the source of the issue - when I set Trace to 'of' in the config, the issue no longer occurs. However, if the value is 'on' or 'retain-on-failure', the issue occurs.

[2022-01-04 16:57] QAReview opened #11172 "[BUG] No docker image for v1.17.1-focal-arm64"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac M1
- Node.js version: 16.x

**Describe the bug**

I retrieved playwright version from package.json which is 1.17.1 and download the docker image.

mcr.microsoft.com/playwright:v1.17.1-focal-arm64 - Not exist
mcr.microsoft.com/playwright:v1.17.1-focal - Exist

[2022-01-04 16:58] #11170 closed

[2022-01-04 17:11] IuliiaBondarieva opened #11173 "[BUG] locator.hover({ force: true }) results browserContext.close failed - only on CI"
**Context:**
- Playwright Version: playwright/test@1.17.1
- Operating System: Mac
- Node.js version: v14.17.4
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

[code]

Add any other details about the problem here.
It happens only on CI (Jenkins)

I wanted to try option noWaitAfter from locator.hover([options])​ but it's not implemented, even so in docs you can find:
"Wait for in

[2022-01-04 17:12] IuliiaBondarieva commented on #11173
`page.close()` at the end did a trick, but it's still a BUG.

[2022-01-04 17:25] jezsung opened #11174 "Selecting text nodes or attributes with the XPath selecter does not work"
When working with `Locator` with XPath expressions, the below syntax seems not to return the correct value.
[code]

Not only the below code's `attr` parameter has the wrong type, but also the actual value is not attribute.
[code]
Is XPath not fully supported?

[2022-01-04 17:38] aslushnikov commented on #11122
@Luc45 oh, I thought that's a hardcoded list that you suggested there.. My bad!

Still, i wouldn't make the message more scary for general ubuntu users.

[2022-01-04 17:39] aslushnikov commented on #11057
@ElliottDevlinPA can you please create a simple test repository with all your files so that we can run it locally and debug the behavior?

[2022-01-04 17:59] dgozman commented on #7036
I don't see any real different between the following two. If anything, the latter even gives me more control - for example, I can skip a test when `urlType` has some specific value, and more.

[code]

[2022-01-04 18:25] pavelfeldman commented on #10213
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-01-04 18:25] #10213 closed

[2022-01-04 18:26] Luc45 commented on #11122
Agreed. I tried to differentiate Ubuntu user from non-Ubuntu users, but that's a bit tricky with Node out of the box. What I did instead, was checking if `apt-get` system command existed, and I display the message for Ubuntu/non-Ubuntu based on that. That's what I meant with:

[2022-01-04 18:32] dgozman commented on #9217
Everything but the browser version is available, and we are exploring how to expose the version.

[2022-01-04 18:38] pavelfeldman commented on #5231
#### Why was this issue closed?

We are prioritizing the bugs based on the upvotes, recency and our ability to act. It looks like this issue only has a handful of upvotes, has not been touched recently and/or we lack sufficient feedback to act on it. We are closing issues like this one to keep our bug database maintainable. Please feel free to open a new issue and link this one to it if you think

[2022-01-04 18:38] #5231 closed

[2022-01-04 18:38] jadenmazzone opened #11175 "Missing dependencies on AWS EC2 linux instance"
After installing:
[code]
Then running an API that uses playwright I was given the following "missing dependencies" error:

[code]

Is it possible to install playwright on an EC2 instance? If so, how do I install the missing dependencies?

[2022-01-04 18:55] dgozman commented on #11126
@rwoll We usually suggest to use helper functions instead of test wrappers:

[code]

This way you are not going against the test runner, but work together with it.

Re: the error snippet - I will look into that.

[2022-01-04 19:26] aslushnikov commented on #11172
@QAReview that's interesting. If you just use the `mcr.microsoft.com/playwright:v1.17.1-focal` on Mac M1, it'll download an aarch64 one.

[2022-01-04 19:46] aslushnikov commented on #11175
What's the operating system? Please note that Playwright only supports Ubuntu 18.04 and 20.04.

[2022-01-04 19:53] bvaughn opened #11177 "[BUG] Screenshot tests differences between headless and headful"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac
- Node.js version: v14.17.0
- Browser: Chromium
- Extra: MacBook Pro with retina display and external Dell U3417W

**Code Snippet**

Code to reproduce this problem is available here:
https://github.com/bvaughn/planner

This is a planning app that renders to an HTML canvas.

**Repro steps**
1. Checkout repo
2. Run `yarn install` and

[2022-01-04 20:34] yury-s commented on #7339
Can only reproduce this on Mac headless. Works well on Linux and in headed mode.

[2022-01-04 20:46] rwoll commented on #11126
Thanks, @dgozman!

I'll switch to the helper with explicit test pattern across the board. I don't think that should be an issue here. (We use it elsewhere plus it gives better focus etc. use and probably resolves the "file name confusion issue").

Aside: The actual implementation did use `step`, too, I just paraphrased the code badly when I paraphrased/sanitized it for this ticket but that's actua

[2022-01-04 20:55] rwoll opened #11178 "[Question] Serial and Parallel Suites"
The following results in an error (`describe.serial cannot be nested  inside describe.serial`):

[code]
But I expected `sub suite` is allowed to run at the same time as `a`, and `1` always runs before `2`.

We can workaround this limitation by breaking up tests across multiple files and/or test.step, but logically it seems like it would be something OK to do. Is there a specific reason this partic

[2022-01-04 21:02] pavelfeldman commented on #11174
Locators only locate elements. What is your use case?

[2022-01-04 21:07] pavelfeldman commented on #11173
It looks like the test failed and the browser was closed. Could you show the test output (console or html)? It is likely to be telling you what failed and why. The log you are showing is for low level debugging.

[2022-01-04 21:12] deepakkamboj commented on #8971
@pavelfeldman - Please let us know when this feature will be available. This is the requirement from a lot of teams but it's getting pushed from v1.16 to v1.19 now. We have been waiting for this feature to be available for long time now.

[2022-01-04 21:27] #10811 closed

[2022-01-04 22:02] MarcusFelling commented on #8777
@kumarragMSFT - there are a number of reasons you're experiencing this. As @avodovnik mentioned, policies could be one of them, detecting user agent, headless, etc. Another could be cookies not persisting (known issue: https://github.com/microsoft/playwright/issues/717).

[2022-01-04 22:02] #8777 closed

[2022-01-04 22:34] pavelfeldman commented on #11177
I can repro this. Missing step:

2.5. Run yarn start

[2022-01-04 22:49] jezsung commented on #11174
I wanted to fetch data from text nodes or attribute nodes. I know I can do it with other selectors, and `getAttribute` or other helpful functions, it's going to be much easier to be able to select what I want with XPath.

[2022-01-04 22:49] jadenmazzone commented on #11175
it's linux-gnu. Seperate question now: are you saying playwright wouldn't work on macOS?

[2022-01-04 22:50] jadenmazzone commented on #11175
It's linux-gnu. Separate question now: are you saying that playwright wouldn't work on macOS?

[2022-01-05 00:01] pavelfeldman commented on #11177
@bvaughn: sent you a PR with minor test fixes: https://github.com/bvaughn/planner/pull/14

[2022-01-05 00:02] bvaughn commented on #11177
Oh that’s very kind. Thank you!

[2022-01-05 00:09] pavelfeldman commented on #11071
[code]

The way this selector works is:
- First find all `ReplyComponent` components
- In those components, locate ALL elements that HAVE text "something".

This will return 3 elements for the following structure:

[code]

which one did you intend to select?

[2022-01-05 00:24] pavelfeldman commented on #11072
We don't have a feature that enables all cookies in Chrome, we only use default settings.

[2022-01-05 00:27] pavelfeldman commented on #11095
Could you elaborate on what you mean by 'get desired window'? Do you need BrowserWindow instance? or Playwright page? What is your scenario?

[2022-01-05 00:36] pavelfeldman commented on #11145
It'll resolve to a label, but input methods such as `fill` work on label locators.

Got it. We don't have anything like this. Let me treat this issue as a feature request for the role selectors.

[2022-01-05 00:37] pavelfeldman opened #11182 "[Feature] Add byRole selector"
Extracted from https://github.com/microsoft/playwright/issues/11145

https://testing-library.com/docs/queries/byrole/

[2022-01-05 01:27] rwoll opened #11183 "[BUG] HTML Reporter: Image Mismatch Section Shows Even on non-Image Types"
**Context:**
- Playwright Version: ToT, 1.17.1

The HTML Reporter always shows an Image Mismatch section, even if the snapshot is not a common image format:

<img width="981" alt="Screen Shot 2022-01-04 at 5 08 33 PM" src="https://user-images.githubusercontent.com/11915034/148145177-4d08d3df-d92d-4045-9d83-a8cfb0eeb219.png">

In this example, our use case is API testing, so we are not doing visual

[2022-01-05 02:10] flyfoxCI commented on #11162
`    async def random_click(self, email):
        await asyncio.sleep(20)
        times = 0
        begin_time = datetime.now().timestamp()
        while times < 60:
            sleep_time = random.randint(-20, 20) + 60
            try:
                current_time = datetime.now().timestamp()
                if current_time - begin_time > 4200:
                    break
                link = "xx

[2022-01-05 02:14] flyfoxCI commented on #11162
just update the sample code. I use proxy in context init and then get random link to go, after run some time the error occur and  the crash down.

[2022-01-05 02:19] pavelfeldman commented on #11183
This sounds good to me.

[2022-01-05 02:34] pavelfeldman commented on #11060
Related question: we have a new (experimental) way of allowing esm module imports in the .ts files, so after all, maybe you don't need to compile ts manually? Try setting environment variable `PW_EXPERIMENTAL_TS_ESM=1` and running your tests that use esm imports w/o compilation.

[2022-01-05 04:43] dgozman commented on #10325
You can do this with `globalSetup.ts` - just write some data to a file in the `globalSetup`, and then read it in your test file.

[code]

[2022-01-05 04:56] adambeth commented on #11170
@yury-s  Thanks mate

[2022-01-05 04:57] gokula-krishna-dev opened #11187 "[BUG] webServer configuration doesn't work on Windows"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 16.13.1
- Browser: N/A
- Extra: N/A

My `playwright.config,js` config:
[code]

When I run `npx playwright test` I get the following error on Windows but **works on Linux**. It works fine if I remove `webServer` block:

[code]

[2022-01-05 05:08] MrDust0 commented on #11161
@aslushnikov

my playwright version is 1.16, the os is linux -- i can't tell what exactly it is since it is the custom system of my firm.

Here is my snippet:
[code]

I want to create a thread of Chromium, and assign some jobs to it. In fact, I keep testing in other parts, i.e., this thread was just created, held on, then closed. The first several times, it could be created -- the log recorded. Af

[2022-01-05 05:30] pavelfeldman commented on #11187
[code]

This points to a bug in the nuxt config file. Does `npm run start` work for you?

[2022-01-05 06:11] bennypowers commented on #11060
[code]

[2022-01-05 06:12] Bilb opened #11189 "[BUG] Web Worker not created when electron app started from playwright"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Linux
- Node.js version: 14.16.0
- Browser: Chromiu
- Extra: Electron

[code]

Web worker is not loaded by the Worker constructor when the electron app is started from playwright.
The only error I get is

[code]

Any idea from where this issue can come? The filepath is fine for both of the env.
I couldn't find any config to enable web w

[2022-01-05 07:02] gokula-krishna-dev commented on #11187
Thanks for the reply @pavelfeldman. The problem was on Nuxt config. Sorry for the trouble

[2022-01-05 07:02] #11187 closed

[2022-01-05 07:26] rwoll opened #11190 "[BUG] HTML Report Server EADDRINUSE (yarn v1 issue?)"
**Context:**
- Playwright Version:  1.17, ToT

## System:
 - OS: macOS 12.0.1
 - Memory: 4.47 GB / 32.00 GB
## Binaries:
 - Node: 16.13.1 - ~/.nvm/versions/node/v16.13.1/bin/node
 - Yarn: 1.22.17 - ~/.nvm/versions/node/v16.13.1/bin/yarn
 - npm: 8.1.2 - ~/.nvm/versions/node/v16.13.1/bin/npm
## Languages:
 - Bash: 5.1.8 - /usr/local/bin/bash

**Repro**

[code]

**Describe the bug**

See repro steps

[2022-01-05 07:30] rwoll commented on #11190
I think this is a `yarn` v1 issue (https://github.com/yarnpkg/yarn/issues/4667), but haven't yet confirmed that it is fixed with v2. If someone already has v2 installed, please try out the repro steps and let me know! If it's confirmed as a bug in yarn, please close this issue!

Filed so if someone else hits it, the error is searchable. Possibly relates https://github.com/microsoft/playwright/issu

[2022-01-05 07:32] jay-espiritu commented on #11150
Ahh. Thanks @aslushnikov ! I switched to `npx playwright install firefox` and it started working fine.

[2022-01-05 07:51] anjalivaswani86 opened #11191 "Not able to launch Chromium"
**Context:** : Getting the error :  Failed to install browsers
Error: Failed to download chromium v939194, caused by
Error: Download failed: server returned code 407. URL: https://playwright.azureedge.net/builds/chromium/939194/chromium-win64.zip

playwright = Playwright.create();
	browser = playwright.chromium().launch();

- Playwright Version: [what Playwright version do you use?]
- Operating Sy

[2022-01-05 08:36] AndyGleed commented on #7819
This feature would be very useful for my company as well.  Not a deal breaker to not have it but would be greatly appreciated if this could be added at some point :)

[2022-01-05 09:10] ElliottDevlinPA commented on #11057
@aslushnikov unfortunately I don't think I will be able to do that as the application I am testing is not publicly accessible. I will try to replicate the issue against a different site and will create a test repo if I am successful. At least I have a workaround in the meantime. Thanks.

[2022-01-05 09:22] emilezwiggelaar opened #11194 "Missing dependency chrome_elf.dll"
**Context:**
- Playwright Version: 1.16.3
- Operating System: Windows 10 (virtual desktop with company policies active)
- Node.js version: 16.11.1
- Browser: Chromium 930007
- Extra: Same issue as mentioned in [7560](https://github.com/microsoft/playwright/issues/7560)

Error when running testcases:

**Full list of missing libraries:
    chrome_elf.dll**

As stated in the linked issue chrome_elf.d

[2022-01-05 09:27] D-Pagey commented on #11190
I had the same issue, also using yarn `v1.22.15`. Killing the process solved it.

[2022-01-05 10:09] MrDust0 commented on #11161
It is because that too many chromes open at the same time?
![image](https://user-images.githubusercontent.com/56252828/148199541-e2bfd521-9166-4c3f-af37-16d3263fb9d8.png)
Actually, there should be 10 threads, but 6 recorded. 3 of them created page successfully, and 2 created context, but no page.

[2022-01-05 10:17] neongreen commented on #11071
Oh, thanks! First time I'm seeing `:scope`. Going to mark as closed.

[2022-01-05 10:17] #11071 closed

[2022-01-05 10:26] IuliiaBondarieva commented on #11173
The only output was `Timeout of 10000ms exceeded` and all `expect` were green. It's an exact reason why I decided to look at low-level debugging.

[2022-01-05 10:51] IuliiaBondarieva commented on #11173
The strange thing was that without using the `force: true` option the test also did not work on CI, but because it was waiting for the readiness of the component to hover. Locally everything worked fine.
We are very often confronted with the problem of a different response locally and on the CI system.

[code]

[2022-01-05 11:04] basilgood commented on #5949
This issue is still not resolved.
If a selector has ```display: none``` and his child has anything, when the parent becomes visible Playwright doesn't believe the layer is visible. The issue can be worked around by using ```{ state: "attached" }```.

Context:

* Playwright Version: 1.17.1

* Operating System: Linux

* Node.js version: 14.18.1

* Browser: Chromium

Code Snippet:
[code]
[code]
[code

[2022-01-05 12:12] IuliiaBondarieva opened #11195 "[BUG] playwright scrolls too far and"
**Context:**
- Playwright Version: @playwright/test@1.17.1,
- Operating System: Mac
- Node.js version: v14.17.4
- Browser: Chromium
- Extra: failing on CI or by inspect

**Code Snippet**

[code]

Logging

[code]

Debugging:

[code]

**Describe the bug**

By scrolling to `activateButton` playwright fires `element does receive pointer events` but pointer stops further than element location.

<img wi