[2022-07-20 19:30] kgeis commented on #11103
Probably a duplicate of #9611.

[2022-07-20 19:36] nrhoffmann commented on #15813
I see.

The issue I am encountering is that an upstream component in my application binds to `onchange` instead of `oninput` and Playwright's `fill` only emits an `input` event.

[2022-07-20 19:41] #15794 closed

[2022-07-20 19:45] dgozman commented on #15813
@nrhoffmann `onchange` will be fired once the `input` blurs. Try focusing some other element and see. But I think that's actually the bug in the component 😄

[2022-07-20 19:54] dgozman commented on #15662
@bezyakina Any change for a log with `DEBUG=pw:protocol,pw:browser`?

[2022-07-20 19:57] dgozman commented on #15576
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-20 19:57] #15576 closed

[2022-07-20 19:57] dgozman commented on #15349
We have to reproduce this issue locally to be able to debug it. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-07-20 19:57] #15349 closed

[2022-07-20 19:58] #15650 closed

[2022-07-20 20:13] peterbartha commented on #14792
Try this: https://github.com/microsoft/playwright/discussions/13716#discussioncomment-3192464

[2022-07-20 20:26] dgozman opened #15818 "[BUG] Firefox crash on MacOS"
Possibly related to the recent ff init changes?

Reproduces locally with M1:

[code]

Logs:
[code]

[2022-07-20 20:44] rwoll commented on #15636
closing this. we decided to make service worker network support experimental/feature-flagged. If users desire this, let's have them file a new issue to start the conversation.

[2022-07-20 20:44] #15636 closed

[2022-07-20 20:46] Forfold commented on #15349
For sure- I just made a repo outlining this (unfortunately where I'm seeing it is in an internal project). I'll make another issue though

https://github.com/Forfold/playwright-test

[2022-07-20 20:51] Forfold opened #15819 "[BUG] "Requiring @playwright/test second time" when using shared package"
**Code Snippet**

https://github.com/Forfold/playwright-test

**Describe the bug**

Related to #15349 and #11889

I have a `playwright-auth` package I'm creating to handle some login stuff that I plan to use in multiple repos I'm working on. `playwright-auth` exports a `login()` and a `globalLogin()` function. I've created the above repo `playwright-test` acting as my auth package.

I see `Error:

[2022-07-20 21:15] AnatoliiHanziuk commented on #15802
Good catch. However, the addition of the `await` doesn't solve the problem.
[Here](https://github.com/AnatoliiHanziuk/playwright-screenshot-diff-problem) you can find the repository with the problem I described.

[2022-07-20 21:21] aMediocreDad opened #15820 "[BUG] Experimental CT: Svelte named Slots"
**Context:**
- Playwright Version: experimental-ct-svelte": 1.23.4
- Operating System: Mac / Linux
- Node.js version: 16.14.2 / 18.5.0
- Browser: All
- Extra: *

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

**Reproduction**: https://github.com/aMediocreDad/playwright-svelte-slots-repro

[code]

**De

[2022-07-20 22:14] kremenni commented on #15778
It seems like that after manually deleting not needed graphql requests, it's also required to set `notFound: 'fallback'` in the options.

I also just found that in [documentation](https://playwright.dev/docs/network#replaying-from-har) it's said that not only urls, but POST payloads are also matched, which is exactly how `routeFromHAR` would differentiate between different graphql requests

@dgozm

[2022-07-20 22:14] #15778 closed

[2022-07-20 22:24] vivekVells commented on #15734
Thanks @dgozman. was rechecking few things again and looks like the login page is rendering twice. so, on the 1st page load, values are being inputted properly while on the 2nd page re-load, previous input are being cleared.

I will close this issue 😀

thank you for the swift response and directions; this helped.

[2022-07-20 22:24] #15734 closed

[2022-07-20 22:49] Samat-Imamov opened #15822 "[Question] Arguments for string script when using evaluate"
Previous post - #15579

Yury showed how to execute string script code with arguments, however, that did not work for me. What I want to do in particular is pass a Locator (or at least an ElementHandle) as an argument. For context, I'd like to execute a knockout script on said element. Let me know if you need any more information. Thank you!

[2022-07-20 23:38] Samat-Imamov commented on #15822
Figured it out, closing the question!

[2022-07-20 23:38] #15822 closed

[2022-07-20 23:52] dgozman commented on #15815
@Agustin-DeLuca Could you please provide more details? Ideally, a code snippet.

[2022-07-21 00:01] dgozman commented on #15819
@Forfold This is because you use a relative link between two modules, and each has a copy of `@playwright/test` in their own `node_modules`. Take a look at [this comment](https://github.com/microsoft/playwright/issues/11817#issuecomment-1043630558) for the solution. Let me know if this helps.

[2022-07-21 00:15] Forfold commented on #15819
I have my `playwright-auth` package published on our internal artifactory. I used a relative path for purposes of the example so I wouldn't have to go through publishing a dummy package to npm

[2022-07-21 04:38] ameyanatu commented on #13957
use '--window-position=0,0' in args and capture the current viewport using pyautogui or any other python library, which will properly maximize browser window.

[2022-07-21 04:38] ameyanatu commented on #813
use '--window-position=0,0' in args and capture the current viewport using pyautogui or any other python library, which will properly maximize the browser window in playwright python

[2022-07-21 04:57] Gopala7721 opened #15824 "not able to launch the browser inside the docker container"
**Context:**
- Playwright Version: 1.23.0
- Operating System: macOS Monterey (version 12)
- python version: 3.8.6
- Browser: Chromium, Firefox(both are giving error)
- Extra: when i run my python playwright script outside the docker container it will work, if i do the same thing inside my docker container it is giving below error
[code]

Add any other details about the problem here.

[2022-07-21 05:01] vishwajeetgodge13 commented on #15751
it's not working. i will share sample of code snippet

[2022-07-21 05:15] Gopala7721 commented on #15824
some time it will gives below error:
__________________ ERROR at setup of TestAuthzTestRoles.test_create_delete_role[ccs.account-admin-chromium] ___________________

request = <SubRequest 'ui_login' for <Function test_create_delete_role[ccs.account-admin-chromium]>>
login_by_role = <function login_by_role.<locals>.ui_login at 0x4012a695e0>

    @pytest.fixture(scope="session", autouse=True)
    de

[2022-07-21 06:03] Diokuz opened #15825 "[Question] Proper QA term for "PageObject of component"?"
Question about QA terms, not playwright)

We all know https://playwright.dev/docs/test-pom which is about page (PageObject = object of page). But in our case there are many "objects" relates to

1. Reusable react components (e.g. form with a lot of complex logic, or just part of that form like accordion field)
2. Reusable app modules (like authorization)
3. Reusable Client API (e.g. for mocking ht

[2022-07-21 06:56] jatin-karla11 commented on #12859
facing the above mentioned issue, what's the fix? @mxschmitt

[2022-07-21 07:07] mxschmitt commented on #12859
You need to use Ubuntu or our official image: https://playwright.dev/docs/docker

[2022-07-21 07:33] mathiasi opened #15826 "[Feature] IBrowser only implements IAsyncDisposable and not IDisposable"
Seeing that Playwright is a Microsoft product I thought it would be right if it would follow the recommendations from the Microsoft Doc.

https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-disposeasync

[2022-07-21 08:46] cunhabruno commented on #15790
I will try this, for the quick response!

[2022-07-21 08:46] #15790 closed

[2022-07-21 09:45] slim-hmidi opened #15828 "[BUG] window.location.href is empty when testing <a/> tag"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: MacOs
- Node.js version: 16.14.2
- Browser: chromium
- Extra: [any specific details about your environment]

## System:
 - OS: macOS 12.4
 - Memory: 438.21 MB / 16.00 GB
## Binaries:
 - Node: 16.14.2 - /usr/local/bin/node
 - Yarn: 1.22.18 - /usr/local/bin/yarn
 - npm: 8.13.2 - ~/Desktop/workspace/everestat

[2022-07-21 09:53] WhyAsh5114 commented on #2902
I need this as well, sometimes in Svelte, the binding of elements and/or their properties to JS variables takes time and results in failed tests. Would be nice to have a way to check and waitFor the bind to occur first.

[2022-07-21 10:29] elainefy commented on #15774
Hi @dgozman, please refer to the failed test demo at https://github.com/elainefy/playwright_screenshot. Command to execute the test -`yarn pw`

No screenshot found in the test report.
![image](https://user-images.githubusercontent.com/26919032/180192313-d3766632-1e88-4a98-ba9e-7f8c94ea2bf0.png)

Test run log:
`Running 1 test using 1 worker
  1) testing.test.ts:16:5 › Feature: Testing › Failed test

[2022-07-21 10:45] sumitsg004 commented on #14842
@gauravgandhi1315 is your issue resolved?

I am facing similar issue. I search for customer and click submit.
Manual - It navigates to next page.
Playwright Automation - does not navigate further.

If your issue is fixed, please let me know how you were able to achieve it. It would be great help. thanks in advance.

[2022-07-21 11:51] klepik1990 commented on #15824
Try run tests inside the container using headless: true. I quite sure it will help

[2022-07-21 11:53] anduingaiden commented on #8161
Is there any way to take one screenshot of the entire page?
We have many cases of "long pages" and for now, we are instructing our test script to, multiple times, scroll down the page and take a snapshot until we reach the end of the page. Than, we compare all the screenshots.

Is there an easier way to do it? If not, do u intend to add this kind of option?

Thanks in advance!

[2022-07-21 12:11] AmanDaharwal opened #15834 "[Question]How to verify a document opening in new tab after clicking a button"
In our web application, we have a button, on click opens document( pdf) in new tab. How we can verify the document is successfully opened( may be using response code) in new tab?

[2022-07-21 12:23] unickq commented on #8852
So is there an option to list skipped tests? --list for `test.skip()`
Tried grep, but didn't work

[2022-07-21 12:31] Meemaw opened #15835 "[Feature] Modify response body of a fulfilled routes request"
Add an option to intercept the request response and modify the body. Currently this doesn't seem to be possible, so we are working around it with `page.route` + `route.fulfil`

Example:

[code]

This is not ideal, because requests are now made via `context.request.fetch` which is not 100% identical to the default browser request.

[2022-07-21 12:40] PabloBagliere commented on #13230
Hello I have the same error with firefox "Error: Access was denied while trying to open files in your profile directory" when using it with jenkins and I started to test why and it is docker issue not jenkins since I could have the same error with docker. The error is when maintaining the docker volume. Using this example [repository](https://github.com/rwoll/jenkins-playground) uploaded by @rwoll

[2022-07-21 13:00] peterbartha commented on #13230
Try this: https://github.com/microsoft/playwright/discussions/13716#discussioncomment-3192464

[2022-07-21 13:17] PabloBagliere commented on #13230
Thank you, it worked for me to change the user.

[2022-07-21 13:24] AshisRaj commented on #15762
I will try with debug tools. Creating a repro will be challenging as it requires React code too to listen and handle the events.

[2022-07-21 13:29] pnavalimath commented on #14988
@mxschmitt any updates on this feature request or any tentative dates for release?
I'm wondering when the fix is ready and people have expressed interest, what is holding from merging to master branch or releasing it?

I was wondering why people are not adopting playwright fast, over Cypress. Looks like I'm getting some answer now looking at this open issue for more than a month 👎

[2022-07-21 13:31] Agustin-DeLuca commented on #15815
The app that I'm testing has an element that sometimes loads correctly and sometimes doesn't. I was asked not to take the first try as an error; so I need to assert if the element was loaded or not and, if it wasn't, refresh the page to retry the failed action and continue the test. The problem is that when playwright fails to find the element, the browser is closed and I can't prevent it. I don't

[2022-07-21 13:47] nrhoffmann commented on #15813
@dgozman Yes, it probably is.

I was hoping there would be a way to configure the `locator.fill()` and make it work for me, because it doesn't really emulate a user and it seems to exist for the convince of the developer. Unless I'm missing something, I don't think a user can `fill` an input using a keyboard and mouse. They can `type`, but not `fill`.

I appreciate your help and responsiveness.

[2022-07-21 14:06] aslushnikov commented on #15818
Debug build trace:

[code]

[2022-07-21 14:22] bnesteruk opened #15841 "[Feature] Locator to implement Iterable"
A Locator object apparently can be resolved to several elements, so can represent a list.
And there are some useful methods to use in this case (e.g. `Locator.first()` `Locator.nth()` etc).
Same time, If I need to iterate several locators, the only way I see (please correct me if I'm wrong) is to  get the count first, and then take each new item by index from locator list manually:

[code]
And thi

[2022-07-21 14:26] dkarneyenka commented on #15228
Hi all,
Sorry for the late response as I was on vacation.
Currently, I understand the limitation of the current approach of the Playwright Test Runner. Thus, I do not mind if the current issue was closed. However, I would like to point the Playwright team to play around with the Data Driven approach in terms of increase Tester Experience 😄

[2022-07-21 15:05] mxschmitt commented on #15841
Looks like a duplicate of https://github.com/microsoft/playwright/issues/12336.

[2022-07-21 15:34] dgozman commented on #15813
@nrhoffmann `fill` is basically equivalent to focusing the input and pasting the text, apart from the `paste` event on the `document`. It is strictly equivalent to some a11y-specific input methods that insert text directly. So I would say it's like a real user, although it's not the most common way of entering the text.

Anyway, did you try `dispatchEvent()`? I think it should work for you.

[2022-07-21 15:39] dgozman commented on #15691
Closing because we lack the information to act on this issue. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-07-21 15:39] #15691 closed

[2022-07-21 15:44] joshuacc opened #15845 "[Feature] Add option to compress *.har files into zip archives"
My team recently hit an issue where after enabling the `recordHar` option for failures we ran out of storage space for our test runs pretty quickly. After investigating we saw that the har files were on average about 8 times larger in size than the Playwright trace files we also save.

Compressing the har files into a zip archive results in a huge improvement in storage. For example, a 40mb har fi

[2022-07-21 16:00] Diokuz opened #15846 "[Question] Playwright test runner with different browser engine?"
Is that possible to use playwright-test with different browser engine, not just playwright? Like puppeteer, webdriver or protractor?

I like fixtures and retries, but what if I want to use different engine?

[2022-07-21 16:28] daddyman commented on #15084
@dgozman  With your change I have 7 successful test runs in a row.

Thanks for your help.

[2022-07-21 16:34] daddyman commented on #12182
I opened a new issue specific to my case #15084 (a token refresh occurring during a test would add and remove an iframe which caused problems in playwright).

There is a pull request #15812 that fixed my problem when I manually applied it.

[2022-07-21 16:38] pitweval commented on #15634
Question, I got this solution working, for some webpages, but other pages simply do not show the overlay.  My guess is that there is something about the webpage that is blocking the overlay, but I am not sure where to look.  Thoughts?

[2022-07-21 16:48] nrhoffmann commented on #15813
@dgozman It did work, but the framework (Blazor) is not picking it up, maybe because it is not trusted? I will have to do more poking around. I'm not stuck because clicking out and `type` work; the component handles every event except for `oninput`, definitely a bug.

[2022-07-21 16:59] Gopala7721 commented on #15824
tried it did not work

[2022-07-21 18:25] jimpriest opened #15848 "[Feature] Control what order test items are printed to console during test runs"
Current when I run my tests I get a very long string printed to console:

[code]
Would it be possible to make this configurable? As you can see in the preview above the important bits are usually off the screen. Especially in our CI environment.

I only use Chrome so [Chromium] is useless, and I don't really care about  the directory either.    In any case I'd rather have the test name first, then

[2022-07-21 19:12] souleonardo opened #15849 "[Question] How to handle context menu dialog with right click to save an image - Playwright"
I'm trying to do an automation that downloads an image from a website.

My use case requires me to right click and choose the "save as" menu and choose a location on my computer to save the file.

But using the code below I can't make the menu appear to continue with the automation, do you know any way to do this? maybe a plugin..

I couldn't make the menu (dialog) appear with the code:

       aw

[2022-07-21 19:12] matt-seedata-io opened #15850 "how to handle captcha (v2) [Question]"
we have introduced captcha into our login journey and signup journey, and our previous e2e test script now (predictably) fails. How  should captcha be incorporated within a test script?

[2022-07-21 19:32] ayroblu commented on #8161
@anduingaiden Please see: https://playwright.dev/docs/screenshots#full-page-screenshots

[2022-07-21 19:44] weyert opened #15853 "[BUG] Chrome and Webkit always return null for postDataBuffer"
**Context:**
- Playwright Version: 1.23.4
- Operating System: Mac
- Node.js version: 18.3.0
- Browser:  Webkit, Chromium

## System:
 - OS: macOS 12.4
 - Memory: 99.64 MB / 16.00 GB
## Binaries:
 - Node: 18.3.0 - ~/.volta/tools/image/node/18.3.0/bin/node
 - Yarn: 3.2.1 - ~/.volta/tools/image/yarn/1.22.18/bin/yarn
 - npm: 8.13.2 - ~/.volta/tools/image/npm/8.13.2/bin/npm
## Languages:
 - Bash: 3.2.5

[2022-07-21 19:53] geoffreyhale commented on #10010
Able to reproduce the same issue when adding only the following line:

<img width="871" alt="image" src="https://user-images.githubusercontent.com/3221283/180303488-a930e9e0-83e6-44a2-865e-e07bc0ad1c71.png">

[2022-07-21 20:05] weyert commented on #15850
I think you need to disable it for your test users

[2022-07-21 20:15] rwoll commented on #15773
Closed related issue in Python repo and moving the example from the user here for triaging: https://github.com/microsoft/playwright-python/issues/1420#issuecomment-1191053014

[2022-07-21 21:05] geoffreyhale commented on #11190
Am having same issue using npm not yarn

[2022-07-21 21:29] nate-blum commented on #15770
sorry about this, it turns out the issue was completely unrelated and playwright was working as expected. my apologies

[2022-07-21 21:29] #15770 closed

[2022-07-21 21:47] fara20222 opened #15859 "[Question] Chromium distribution 'msedge-canary' is not found"
I'm setting up a docker image to test our features in Edge Canary using Playwright. In the docker environment, Edge Canary is installed at C:/Windows/System32/config/systemprofile/AppData/Local/Microsoft/Edge SxS/Application/msedge.exe. However, Playwright tries to launch Edge at a different location, as indicated in the error message below.

I tried to specify executablePath as below to where Edg

[2022-07-21 21:48] aslushnikov commented on #13097
Reopening this to track the clipboard isolation work.

[2022-07-21 21:52] mxschmitt commented on #15853
Looks similar to https://github.com/microsoft/playwright/issues/6479.

[2022-07-21 21:53] mxschmitt commented on #15859
If you specify you don't need to specify a channel. Does it work if you just specify the executablePath?

[2022-07-21 21:54] aslushnikov opened #15860 "[Feature] a dedicated clipboard API"
It might be nice to have a dedicated clipboard API scoped to page.

Some ideas:

[code]

[2022-07-21 21:58] aslushnikov commented on #13097
Example requests of clipboard isolation: https://github.com/microsoft/playwright/issues/8114#issuecomment-1103317576

[2022-07-21 21:59] aslushnikov commented on #8114
This issue has three parts in it that we'd like to track separately:
- clipboard isolation: https://github.com/microsoft/playwright/issues/13097
- dedicated clipboard API: https://github.com/microsoft/playwright/issues/15860
- basic clipboard support via shortcuts: `Ctrl+C/V` and `Cmd+C/V`: [this issue](https://github.com/microsoft/playwright/issues/8114)

The shortcuts work now across the board a

[2022-07-21 21:59] #8114 closed

[2022-07-21 22:07] fara20222 commented on #15859
Hi Max, I appreciate your quick reply. If I don't specify a channel, it will pop up the following error asking me to do npx playwright install. Since I'm using Edge Canary installed myself, do I need to do px playwright install?

browserType.launchPersistentContext: Executable doesn't exist at C:\Users\ContainerAdministrator\AppData\Local\ms-playwright\chromium-1011\chrome-win\chrome.exe
designera

[2022-07-21 22:13] sonntag-philipp opened #15862 "[BUG] TypeScript not working with "type": "module" // Unknown file extension ".ts""
**Context**
- Playwright Version: 1.23.4
- Operating System: Windows
- Node.js version: 14.20.0 and > 16
- Browser: All, Chromium, Firefox, WebKit
- Extra: I used nvm for Windows to switch the NodeJS versions.

**Console log**
[code]

**package.json**
[code]

**Describe the bug**
The TypeScript support in combination with `"type": "module"` seems to be only working in NodeJS >= v16.
Combining Type

[2022-07-21 22:42] aslushnikov commented on #15824
What's your container architecture and what's your MacOS architecture?

[2022-07-21 23:09] aslushnikov commented on #13591
Debian 11 Bullseye is supported since Playwright v1.24!

[2022-07-22 00:12] Miciurash opened #15865 "[Feature] Locate element by focus"
As a developer I would like to get the element the focus is on.

We currently have `elementHandle.focus()`, `page.focus(selector[, options])` and `frame.focus(selector[, options])`.

It would be great to have a method that could **return the element on which we have the focus on**.

[2022-07-22 00:15] dgozman commented on #15828
You need to add `await newPage.waitForLoadState()` to wait until the new page loads. Take a look at [this guide](https://playwright.dev/docs/pages#handling-popups).

[2022-07-22 00:15] #15828 closed

[2022-07-22 00:19] dgozman commented on #15834
Usually, a new tab will produce another `page` that you can check for various conditions like a url. Take a look at [this guide](https://playwright.dev/docs/pages#handling-popups).

That said, pdf documents usually end up as a download, so you might need to expect a download instead. Follow [this guide](https://playwright.dev/docs/downloads) in such a case.

Let me know if this didn't help.

[2022-07-22 00:19] #15834 closed

[2022-07-22 00:23] dgozman commented on #15835
@Meemaw Your snippet is the intended way to modify the response, see original issue #1774. Here is [the documentation](https://playwright.dev/docs/network#modify-responses).

[2022-07-22 00:23] #15835 closed

[2022-07-22 00:23] #15841 closed

[2022-07-22 00:27] dgozman commented on #15845
If you pass `recordHar.path` that ends with `.zip`, har will be compressed automatically. Take a look [at the API docs](https://playwright.dev/docs/api/class-browser#browser-new-context-option-record-har) for more available options, for example `recordHar.content`. Let me know if this didn't help.

[code]

[2022-07-22 00:27] #15845 closed

[2022-07-22 00:29] dgozman commented on #15846
@Diokuz You can use `@playwright/test` as a general-purpose test runner. Just add your own fixtures, or overwrite existing ones, and use any other library you'd like. [This guide](https://playwright.dev/docs/test-fixtures) should get you started.

[2022-07-22 00:29] #15846 closed

[2022-07-22 00:33] dgozman commented on #15849
@souleonardo Playwright does not automate browser UI, including the right-click menu.

You can try to get the `href` attribute from the link using [`locator.getAttribute()` method](https://playwright.dev/docs/api/class-locator#locator-get-attribute) and download it manually.

Alternatively, try clicking with the `'Alt'` keyboard modifier - in most browsers this usually downloads the link instead o

[2022-07-22 00:36] dgozman commented on #15850
As @weyert suggests, you need a testing mode where captcha is disabled. Playwright is not able to solve captchas for you 😄

[2022-07-22 00:36] #15850 closed

[2022-07-22 00:44] dgozman commented on #15859
@fara20222 The last error message suggests that you don't have `@playwright/test` in your dependencies. Do what it suggests:

[code]

The first error message suggests that your `executablePath` is ignored. That's because you should put into `launchOptions`:
[code]

Let me know if that helps.

[2022-07-22 00:46] dgozman commented on #15862
@sonntag-philipp Indeed, `"type": "module"` mode only works with Node >= 16. Let me update the docs.

[2022-07-22 00:52] dgozman commented on #15813
Indeed, event from `dispatchEvent()` will not be `isTrusted`. Thanks for confirming the other workarounds. I'll close the issue now.

[2022-07-22 00:52] #15813 closed

[2022-07-22 00:56] dgozman commented on #15815
@Agustin-DeLuca Thank you for the detailed report!

I think that you just need to a timeout to your first `.fill()` call that may fail. Otherwise, it waits until the whole test times out, and the browser is closed because testing has finished.

[code]

Let me know if this helps.

[2022-07-22 02:08] sanjoyghosh opened #15867 "Surface Credit Card Autofill on Google Chrome on www.amazon.com"
Hello,

I am trying to write a Playwright Script to surface the Credit Card Autofill on www.amazon.com when you have GPay Credit Card on file at pay.google.com.  When you try to add a Credit Card to your amazon account on Google Chrome, if you click in the "Card number" text box, it should popup all the Credit Cards registered with pay.google.com to the user profile that you are signed into Google

[2022-07-22 02:21] #15862 closed

[2022-07-22 02:28] dgozman commented on #15774
@elainefy Thank you for the repro. This issue is similar to #14854, and should be already fixed in v1.24 release.

[2022-07-22 02:28] #15774 closed

[2022-07-22 02:41] dgozman commented on #15802
Thank you for the example repository. I just ran the tests, and html report shows me the images. Since the images are of a different size, the `diff` image is not available, but it will be once the sizes match.

<img width="1019" alt="html report" src="https://user-images.githubusercontent.com/9881434/180350816-4a8075f9-5758-4df9-8fee-9c2021f285c5.png">

Also, you should await the [`page.setViewpo

[2022-07-22 02:55] dgozman commented on #15819
I did the following and everything works.

[code]

There are no errors and the single test successfully prints `appPage`:

[code]

[2022-07-22 03:00] elainefy commented on #15774
@dgozman Awesome! Thank you for the fixes :)

[2022-07-22 03:43] fara20222 commented on #15859
Thank you so much, Dmitry. Moving it to launchOptions solves the problem for me.
The interesting thing was that I have both @playwright/test 1.23.4 and playwright 1.23.4 in my dependencies, and chromium-1012 on my machine, but Playwright wanted chromium-1011. Anyway, problem solved :)

[2022-07-22 03:53] rokumura7 opened #15868 "[Question]What is the difference between waitForEvent('load') and waitForLoadState('load')?"
Is there any difference between waitForEvent('load') and waitForLoadState('load') other than the return value?

[2022-07-22 03:56] chaganiu opened #15869 "[Question] Playwright + MutationObserver"
I'd like to use Playwright + MutationObserver to handle a situation where my application has random loader elements show up.  A simplified use-case that i'm trying to handle is like this:

1. fill input A
2. click button B
3. **Sometimes** loader shows up, disappears, **sometimes** shows up a 2nd time, disappears.
4. fill input C
5. click button D

While the loader is present, if I fill input C, o

[2022-07-22 04:23] berelton opened #15870 "[BUG] Failed to connect to socket /var/run/dbus/system_bus_socket: No such file or directory"
Hi, getting following issue with playwright in docker with gitlab-ci:

[code]

I created a repo with issue reproducible:
https://gitlab.com/berelton/playwright-issue

You can check the job logs:
https://gitlab.com/berelton/playwright-issue/-/jobs/2755635983

image used: `mcr.microsoft.com/playwright:v1.24.0-focal`

[2022-07-22 05:59] klepik1990 commented on #15212
@aslushnikov You were right. There was an imported method in my test from the module witch includes component.tsx, problem temprorary solved by changing import path. Thanks for your time

[2022-07-22 06:41] vijaydubber commented on #15824
Did it still show these errors:
E       ║ Looks like you launched a headed browser without having a XServer running.                     ║
E       ║ Set either 'headless: true' or use 'xvfb-run <your-playwright-app>' before running Playwright. ║

[2022-07-22 06:45] Gopala7721 commented on #15824
yes

[2022-07-22 06:46] KSingla15 opened #15871 "[Question] axe-core(web accessibility testing plugin) support for Playwright Java?"
Is there any plan to extend axe-core(https://www.deque.com/axe/) support for Playwright Java?

I am currently using Playwright Java for functional automation testing and realized that there is no support for accessibility testing in Playwright java. However, it's there with Playwright Node.js.

[2022-07-22 06:47] Gopala7721 commented on #15824
iam getting below error:
not sure why browser is closing even we cannot launch the browser(chromium,firefox,webkit)

E playwright._impl._api_types.Error: Browser closed.
E ==================== Browser output: ====================
E /root/.cache/ms-playwright/chromium-1012/chrome-linux/chrome.

[2022-07-22 06:51] KSingla15 opened #15872 "[Feature] axe-core(web accessibility testing plugin) support for Playwright Java"
I think accessibility testing is equally important to functional and visual testing for a web application.

I am currently using Playwright-Java as an automation tool for functional testing and there is no support for accessibility testing with Playwright-Java. However, there is support available for Playwright-Node.js.

Could you please consider extending accessibility testing support to Playwrig

[2022-07-22 07:10] shivshankar93 opened #15873 "[Question] Unable to run api testing in dotnet"
I copied the complete code from the below page but am unable to run the test, I am knew to both C# and Playwright.
https://playwright.dev/dotnet/docs/api-testing#complete-test-example

The 1st problem I face is that there is no main method to start the program
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS5001	Program does not contain a static 'Main' method suitable for an

[2022-07-22 07:47] shivshankar93 commented on #15873
Microsoft.Playwright.PlaywrightException
  HResult=0x80131500
  Message=Driver not found: C:\Users\suress\source\repos\PlaywrightNew\PlaywrightNew\.playwright\node\win32_x64\playwright.cmd
  Source=Microsoft.Playwright
  StackTrace:
   at Microsoft.Playwright.Helpers.Driver.GetExecutablePath() in /_/src/Playwright/Helpers/Driver.cs:line 57
   at Microsoft.Playwright.Transport.StdIOTransport.GetPro

[2022-07-22 08:00] anduingaiden commented on #8161
It's clear that I did not explore this part of the documentation yet. Sorry about that and thank you very much.

[2022-07-22 08:58] Romex91 commented on #10132
**I think this feature is an absolute must-have.**
None of the suggested solutions worked for me:
* Would using the trace viewer accomplish what you are looking for?
No. It's very inconvenient, especially when having multiple browsers open simultaneously.
* Check out Playwright Test for VS Code plugin, it'll stop on failure when debugging!
No capability to specify environment variables
* suggested

[2022-07-22 09:07] JannisBush opened #15874 "[BUG] codegen stalls browser for some sites, even the close button is not working anymore"
**Context:**
- Playwright Version: 1.23.0
- Operating System: Linux, Mac
- Browser: Chromium, (Firefox)
- Extra: codegen

**Code Snippet**
Run `playwright codegen cloudflare.com`

**Describe the bug**

Wait for the site to load, then click outside of the cookie banner.
After that you cannot click anywhere anymore, only scrolling still works.
Even the close button of the browser is not working anym

[2022-07-22 09:25] JannisBush opened #15875 "[Question] Is it possible to get selectors from ElementHandle"
Hi,

Thanks for this cool project.
If I have an ElementHandle, is it possible to generate all possible selectors that would (uniquely) identify this element?

As an example use case, let's suppose I have a selector that resolves to three elements.
For these three elements I want to have alternative selectors such that in the future I can uniquely identify them and I cannot use `nth` as the order o

[2022-07-22 10:22] pt-haplo commented on #14067
@mxschmitt I am just starting out with Playwright and have hit this issue. From what you are saying, Playwright is expecting a "challenge" response from the server, after which it will remake the request with the `Authorization` header.

In my situation, I don't get that. It seems that the server that I'm using for API testing expects the `Authorization` header straight off the bat (and, I would g

[2022-07-22 11:15] mirao opened #15877 "[Question] Browser versions in 1.24 release notes"
Is it possible to add browsers used in 1.24 here: https://github.com/microsoft/playwright/releases/tag/v1.24.0 ?

I can see them in https://github.com/microsoft/playwright/releases/tag/v1.23.4 only

[2022-07-22 11:34] medabalimi-jagadeesh commented on #12199
How can this be achieved in playwright-java?

[2022-07-22 12:01] pt-haplo commented on #14067
I have just read the [RFC7617 specification](https://datatracker.ietf.org/doc/html/rfc7617) and, interestingly, it says that the server **_can_** respond with a 401 status code, not that it **_will_** or **_must_** respond with that status code:

   lacks credentials, the server can reply with a challenge using the
   401 (Unauthorized) status code ([[RFC7235], Section 3.1](https://datatracker.iet

[2022-07-22 12:13] joshuacc commented on #15845
@dgozman Thanks for pointing that out!

[2022-07-22 12:29] MichalFidor opened #15878 "[REGRESSION]: Error: multipleDefine and Page is not a constructor (dojo), when trace is set to on."
**Context:**
- GOOD Playwright Version: 1.20.2
- BAD Playwright Version: 1.21.1
- Operating System: Mac
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

I’ve wanted to upgrade our `@playwright/test` runner to the newes

[2022-07-22 12:40] aslushnikov commented on #15877
Oops, fixed!

Browser Versions:

- Chromium 104.0.5112.48
- Mozilla Firefox 102.0
- WebKit 16.0

Stable channels:

- Google Chrome 103
- Microsoft Edge 103

[2022-07-22 12:40] #15877 closed

[2022-07-22 13:52] Miciurash commented on #15865
Good point @chaganiu! Wouldn't we expect that to be part of the Playwright framework and work for both Page and Frame ?

[2022-07-22 14:10] chandruswaminathan opened #15880 "Playwright JAVA -- Inspector[Question]"
Hi,

I am trying to invoke the inspector from command prompt. The web page which I use has a self signed certificate and after invoking the inspector getting error as  below. Is it possible to ignore the HTTPSError during inspector. Thanks in advance
{
  name: 'Error'
}

Regards,
Chandru

[2022-07-22 14:26] eatonjl commented on #14884
@dgozman Ok, I did some more investigating. I was able to get the error you got when you tried. That would be great to get that fixed. I also am still getting the missing text on the popup, but it isn't consistent. I no longer am experiencing Firefox crashing (maybe Firefox had an update). I am not seeing these issues in the other browsers.

[2022-07-22 14:32] eatonjl commented on #14884
And when I say that the blank text on the popup is not a consistent issue, I should say I don't see that specific error all the time because other errors sometimes occur before it, not that it sometimes works.

[2022-07-22 14:48] Forfold commented on #15819
but how would this work when my package is installed via my internal npm registry? that is the issue im facing.

[2022-07-22 14:50] michaelchiche opened #15883 "[BUG] Trace not correctly generated when using npx playwright open --save-trace"
**Context:**
- Playwright Version: 1.24.0
- Operating System: Linux
- Node.js version: 16.16.0
- Browser: Chrome

**Code Snippet**

[code]

When generating a trace with `npx playwright --save-trace trace open ` I dont have all the steps, nor the console & network tabs filled with data when opening the trace using `npx playwright show-trace trace`
but it does work when usig `codegen`

[2022-07-22 15:29] mike-czarnota commented on #10478
Yeah, it would be great to have such feature 🙂

[2022-07-22 15:35] regseb opened #15884 "[BUG] Accessibility documentation on website doesn't have menu"
**Describe the bug**

The menu isn't displayed in the [`Accessibility` class](https://playwright.dev/docs/api/class-accessibility) documentation page. And the menu (on the others pages) doesn't contain a link to _Accessibility_ page (I found the link with [`page.accessibility`](https://playwright.dev/docs/api/class-page#page-accessibility)).

[2022-07-22 16:09] dgozman commented on #15819
@Forfold Sorry, I don't have an internal npm registry to quickly check that, but I'd assume it's exactly the same as installing from a packed package. Note that in your example you don't have `@playwright/test` as a prod dependency in the helper package, which is the right way to do it.

[2022-07-22 16:15] dgozman commented on #15859
@fara20222 I am happy that it helped! To avoid issues in the future, you should only have `@playwright/test` in your deps, but not `playwright`.

[2022-07-22 16:15] #15859 closed

[2022-07-22 17:42] dgozman commented on #15865
@Miciurash What do you want to do with the focused element? Assert it? Click on it? Something else? Depending on the usecase, we might have a different API.

For now, you can get it through evaluate:
[code]

[2022-07-22 17:44] dgozman commented on #15867
@sanjoyghosh That's probably because Chrome does not want to do this when controlled by automation. Try passing `ignoreDefaultArgs: true` to see whether it helps. Otherwise, not sure how we can help.

[2022-07-22 17:46] dgozman commented on #15868
@rokumura7 You can call `waitForLoadState('load')` at any moment, even after `'load'` has already happened. With `waitForEvent('load')` you'll make sure there that page is not loaded right now, but will get a load event in the future.

[2022-07-22 17:52] aslushnikov commented on #15824
Hey @Gopala7721,

Could you please re-file, filling in the issue template and answering the questions about your host machine architecture, exact docker command that you run, and the simple script that reproduces the issue?

Thanks!

[2022-07-22 17:52] #15824 closed

[2022-07-22 17:55] aslushnikov commented on #15566
Speculatively assigning to Yury so that it doesn't fall through the cracks!

[2022-07-22 17:58] aslushnikov commented on #15578
Closing this since the discussion has stalled!

[2022-07-22 17:58] #15578 closed

[2022-07-22 18:20] dgozman commented on #15869
@chaganiu I think you cannot solve this problem 100% reliable, because you don't know whether the loader will show up. However, you can give it some time to appear and then wait for it to disappear like this:

[code]

Let me know if this helps.

[2022-07-22 18:24] dgozman commented on #6479
See also https://github.com/microsoft/playwright/issues/9648#issuecomment-953400441 for more cases where Chromium lacks post data.

[2022-07-22 18:24] dgozman commented on #6479
See https://github.com/microsoft/playwright/issues/15853 for another repro.

[2022-07-22 18:25] chaganiu commented on #15869
@dgozman this is what i'm doing now but i wanted to avoid putting these types of waits all over my tests since it happens in a lot of places/pages.

That's why i thought if there was a way for the DOM to tell me when the loader shows up (via mutation observer or some other method), then i could wait until it disappears somehow?

[2022-07-22 18:25] dgozman commented on #15853
Thank you for the repro! Merging into https://github.com/microsoft/playwright/issues/6479.

[2022-07-22 18:25] #15853 closed

[2022-07-22 18:27] dgozman commented on #15869
@chaganiu But even with the mutation you will still have to wait for some time to make sure the loader either did appear or it didn't. As you say, you want to "pause execution of the script until the loader disappears", but that means pausing for some time until you are certain it will not appear at all. At least, that's how I understand your problem.

[2022-07-22 18:32] chaganiu commented on #15869
I guess i was wondering if there was some way for the callback in the mutation observer to pause the playwright script.

[2022-07-22 19:01] eatonjl commented on #14559
@aslushnikov Even thought the suggestion you gave last didn't work, we have it working now. We had an issues with running the line for downloading the browsers (_npx playwright install --with-deps_). The error was: "Password: su: Authentication failure"
Apparently, when the playwright script is run through npx/npm it assumes the user role of whoever owns the directory from where it is run. In this

[2022-07-22 19:37] dgozman commented on #15869
@chaganiu There's no such thing. But also it won't help, since by the time this callback would run, your script could have already executed the second `fill()`, and therefore the input would be cleared anyway.

[2022-07-22 19:37] dgozman commented on #15869
I guess I'll close this, since the question was answered.

[2022-07-22 19:37] #15869 closed

[2022-07-22 19:47] dgozman commented on #15870
I see the following error in the logs:

[code]

Try passing `--disable-gpu` flag to see whether it helps:
[code]

[2022-07-22 19:48] dgozman commented on #15871
Duplicate of #15872.

[2022-07-22 19:48] #15871 closed

[2022-07-22 19:51] dgozman commented on #15872
See issue #14112 for a plan.

@dbjorge Here is a request for the Java version. I remember you wanted to add it as well 😄

[2022-07-22 19:51] #15872 closed

[2022-07-22 19:59] rwoll commented on #1090
Playwright v1.24.0 was released this week. As part of the new release, we've updated the Playwright Network guide: https://playwright.dev/docs/network#missing-network-events-and-service-workers pertaining to this issue.

Please check it out and let us know if you have any questions or if your use case is not addressed by commenting on https://github.com/microsoft/playwright/issues/15684, or filing

[2022-07-22 19:59] #1090 closed

[2022-07-22 20:23] dgozman commented on #15875
@JannisBush This is not possible today. Could you please lLet us know how you intend to use it?

Note that if you call `locator.click()` for example, and selector does not uniquely identify the element, Playwright will suggest unique selectors for all the matching elements in the error message. Does that work for you?

[2022-07-22 20:29] dgozman commented on #15878
@MichalFidor It could be that code that collects snapshots for the trace file has some kind of conflict with dojo. However, I am not sure what to do without a page that has this problem. If you could get this reproduced with un-minified dojo source, maybe we can make sense of the issue by reading the source around the stack trace locations, but that's a stretch.

[2022-07-22 20:39] dgozman commented on #15880
Try the following command:

[code]

Get a list of all options applicable to `open` command:

[code]

[2022-07-22 20:39] #15880 closed

[2022-07-22 20:55] dgozman commented on #15883
@michaelchiche Indeed! That's because `open`, as opposite to `codegen`, does not really record any actions.

We can probably remove this flag from `open`, but you can always turn on codegen in the UI and the actions will be recorded. Does that work for you?

[2022-07-22 21:09] sand4rt opened #15889 "[Feature] Component testing and page.goto"
**Context:**
- Playwright Version: 1.24.0
- Operating System: All
- Node.js version:  v17.3.0
- Browser: Chromium
- Extra: Vue component testing

I've been playing with the Vue component testing feature and it seems like the `page.goto()` is not working properly.

For example
[i have a failing test that should be passing](https://github.com/sand4rt/TVmaze/blob/master/src/Features/NotFound/NotFound

[2022-07-22 21:10] sand4rt commented on #15889
[Here](https://github.com/sand4rt/TVmaze/blob/master/src/Features/Browse/BrowsePage.test.ts#L61) you can see another example that also uses the `page.goto` function that i can it goes to work.

[2022-07-22 21:22] michaelchiche commented on #15883
Hi @dgozman . That's fine by me. But I just thought it was weird. I expected both to have the same behavior.

I guess removing the flag from `open` does the trick :)

[2022-07-22 21:49] berelton commented on #15870
@dgozman thanks for the reply. This did not help :(

https://gitlab.com/berelton/playwright-issue/-/jobs/2759902752

[2022-07-22 23:13] dgozman commented on #15481
We have to reproduce this issue locally to be able to debug it. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-07-22 23:13] #15481 closed

[2022-07-22 23:14] dgozman commented on #15737
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-22 23:14] #15737 closed

[2022-07-22 23:14] dgozman commented on #15738
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-22 23:14] #15738 closed

[2022-07-22 23:14] dgozman commented on #15752
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-22 23:14] #15752 closed

[2022-07-22 23:15] dgozman commented on #15763
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-22 23:15] #15763 closed

[2022-07-22 23:16] dgozman commented on #15749
Closing as per above. If you believe we can help you here and you have a repro that we can run locally, please file a new issue with a repro and link to this one.

[2022-07-22 23:16] #15749 closed

[2022-07-22 23:16] dgozman commented on #15767
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-22 23:16] #15767 closed

[2022-07-22 23:16] dgozman commented on #15792
Closing because we lack the information to act on this issue. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-07-22 23:16] #15792 closed

[2022-07-22 23:17] dgozman commented on #15801
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-22 23:17] #15801 closed

[2022-07-22 23:18] #15874 closed

[2022-07-22 23:38] dgozman commented on #15870
@berelton Oh, it looks like you are launching the browser yourself. You should add `--disable-gpu` [here instead](https://gitlab.com/berelton/playwright-issue/-/blob/master/tests/utils/test.js#L17). Sorry, that was not clear to me the first time.

[2022-07-23 00:14] berelton commented on #15870
@dgozman same :(

https://gitlab.com/berelton/playwright-issue/-/jobs/2760236085

[2022-07-23 00:44] vai0 opened #15891 "[BUG] Typescript - Relative path is resolving relative to tsconfig's baseUrl"
**Context:**
- Playwright Version: 1.24.0
- Operating System: Debian 11
- Node.js version: 12.17.0
- Typescript version: 4.6.4

file structure
[code]

tsconfig.json
[code]
`forms_cms_standard.spec.ts` is importing from `utils.ts` relatively. `import { ... } from "../utils`.

[code]

If I remove `baseUrl` from `tsconfig` playwright runs just fine, although I can't do that since the non-relative imp

[2022-07-23 02:44] #15084 closed

[2022-07-23 07:51] jfp1992 opened #15893 "[Feature] [python] Option to choose single quotes for codegen"
See the below example locator generated by the code generator
[code]
I find myself having to change all of these to single quotes

I propose to have an option where this will also generate using single quotes as they are already supported in the selector engine:
https://github.com/microsoft/playwright/pull/1902

The alternative option for generated code would be:
[code]
To be clear, I'm not sugges

[2022-07-23 10:20] MarkoNaumovic opened #15894 "[Question] Upload Folder in C#"
Hi, I try to find a way to upload folded in my test but something is not working. This is my example of a method ...

 public async Task UploadFolderAsync(string folder)
    {
        var folderChooser = _page.RunAndWaitForFileChooserAsync(async () =>
        {
            await _page.ClickAsync("button span:has-text('Select folder')");
        });
        await folderChooser.Result.SetFilesAsync(

[2022-07-23 10:52] purepear commented on #6479
I also hit similar issue because of the CDP bug in Chromium. I'm using [Ky](https://github.com/sindresorhus/ky) which is utilises `request.clone()` for immutability and hooks.
Are you aware if there's any way around this issue while stills using `request.clone()`(without abandoning Ky)?

Here's a test: `npx playwright test --browser all`

[code]

[2022-07-23 10:57] NikkTod commented on #15357
@aslushnikov It works! Very very much thank you! Keep it going, playwright is the future!

[2022-07-23 11:58] alvipeo commented on #14041
I have similar problem:
[code]

If I debug this test (`npx playwright test --debug`), it always works. If I simply run it, it ALWAYS fail. No matter what I do.

[2022-07-23 12:09] a7medmo7med9 opened #15895 "[BUG] using playwright inside electron window with nodeIntegration option"
**Context:**
- Playwright Version: [1.24.0]
- Operating System: [Windows]
- Node.js version: [v16.16.0]
- Browser: [Chromium]
- Extra: [I'm using electron-react-boilerplate]

**Code Snippet**

code for frontend react js

[code]

![1](https://user-images.githubusercontent.com/34967435/180603900-c4265670-2b25-434d-b111-793485893cd9.PNG)

**Describe the bug**

I'm using this template for electron [El

[2022-07-23 13:38] mxschmitt opened #15896 "[BUG] html report with other reports won't trigger onEnd"
Repro:

[code]

Actual: no report.json gets created
Expected: report.json gets created

Notes: Its the trace viewer opens, it stalls and the other testEnd functions won't run.

Reported multiple times + here: https://playwright.slack.com/archives/C01AG7QGW2F/p1658504118459009

[2022-07-23 17:53] unlikelyzero commented on #15818
FWIW, we're seeing this when running in headed mode. We don't have a reproducer yet and have opted to run within the focal container instead

[2022-07-23 18:49] AndysonDK opened #15898 "[BUG] Typescript error: The type for webServer config property (TestConfigWebServer) is not typed correctly"
**Context:**
- Playwright Version: [1.24.0]
- Operating System: [WSL2 (Ubuntu)]
- Node.js version: [v16.13.0]
- Browser: [All]

**Code Snippet**
Here is the config that I use where the typescript error occurs
[code]

**Describe the bug**
As you can see here is the typescript error:

<img width="587" alt="image" src="https://user-images.githubusercontent.com/28491857/180618681-1bc30d11-bd4c-4a6c-b6

[2022-07-23 22:59] SoloBlu314 opened #15899 "install firefox]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-07-24 05:45] aquarius-wing commented on #5181
How to codegen by using electron?
Using "Codegen with custom setup"?
I wrote the js file with "findLatestBuild('dist_electron')", but I don't know how to run it.
The `npx playwright codegen` doesn't have option to set setup file.

[2022-07-24 09:42] hungdao-testing commented on #4051
Hi all,

Thanks for interesting topic, I am curious about how we observe the changes for attribute (im my case: `style`) in a HTML tag.

When I scroll the table, the value of the attribute `style` will be updated to a certain value. If I could know when the changes are applied to DOM for the certain element, I could add it to custom `scroll` function to handle waiting

![image](https://user-images

[2022-07-24 10:13] sand4rt opened #15900 "[BUG] Component testing Vue slots"
**Context:**
Playwright Version: 1.24.0
Operating System: All
Node.js version: v17.3.0
Browser: All
Extra: Vue component testing

**Code Snippet**

See full repo [here](https://github.com/sand4rt/playwright-component-testing-vue-issues/blob/slots/src/components/Form.test.ts).

[code]

**Describe the bug**

I cannot specify a component as a slot.

[2022-07-24 11:25] mxschmitt commented on #15899
Looks like this was just the empty template. Please file a new one if you encounter issues.

[2022-07-24 11:25] #15899 closed

[2022-07-24 12:05] hazelcj opened #15902 "[Question] Firefox installed along with playwright install firefox is nightly instead of stable"
Hi,

I have a question regarding how to install Firefox stable with command: playwright install firefox.

My environment:
Python: 3.7
Playwright: 1.22
Firefox: Nightly 99.0.1 (64-bit)

According to https://playwright.dev/python/docs/1.22/browsers#firefox, Playwright's Firefox version should match the recent stable build. How do I install a stable version of Firefox and make it working with Playwri

[2022-07-24 12:45] sandogeek opened #15903 "[Question]Is there a way to do emulation using `launchPersistentContext `?"
I found a way to do emulation using `launch` here https://playwright.dev/docs/emulation.
It is inconvenient since I need to login every time.
Thanks for any help.

[2022-07-24 14:56] bezyakina commented on #15662
@yury-s @dgozman sorry for the late reply, logs in file [debug-logs.txt](https://github.com/microsoft/playwright/files/9176008/debug-logs.txt)

Unfortunately I cannot provide access to the debug build of our application

I tried, the error is still reproducible

[2022-07-24 19:39] #15884 closed

[2022-07-24 19:45] dgozman commented on #4051
@hungdao-testing You can do something like this today:

[code]

Alternatively, if `style` value is unpredictable, you can write a function to [wait for](https://playwright.dev/docs/api/class-page#page-wait-for-function):
[code]

[2022-07-24 19:56] dgozman commented on #15781
We have to reproduce this issue locally to be able to debug it. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-07-24 19:56] #15781 closed

[2022-07-24 19:56] dgozman commented on #15799
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-24 19:56] #15799 closed

[2022-07-24 19:57] dgozman commented on #15751
We have to reproduce this issue locally to be able to debug it. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-07-24 19:57] #15751 closed

[2022-07-24 19:58] dgozman commented on #15762
@AshisRaj If you come up with a repro that we can run locally, please file a new issue with it and link to this one.

[2022-07-24 19:58] #15762 closed

[2022-07-24 20:02] sand4rt opened #15906 "-"
-

[2022-07-24 20:03] dgozman commented on #15773
@aslushnikov Could this be caret hiding that waits for some evaluate?

[2022-07-24 20:08] #15906 closed

[2022-07-24 22:06] RomanTarAff opened #15907 "Why I get ERROR:gpu_memory_buffer_support_x11.cc(44)] dri3 extension not supported."
Hi! I'm using github actions to run my playwright tests on chromium + extension
[code]
 And I've the following error:
[code]
    What I'm doing wrong?? Locally works perfectly, on github no

[2022-07-24 23:32] morkos11 opened #15908 "[Question]How to Open Brave Tor using the launch method ?"
i was wondering how to open Brave Tor using the launch method , i already try to set ignore_default_args to True so i can open tor but it was useless as it gives me an error , i can control brave tor only with  launch_persistent_context but browser appear as bot and i cant log to google , i can do this process with selenium but playwright is much faster, i hope anyone can help me or tell me what i

[2022-07-24 23:44] humanfriend22 commented on #15908
Try passing `--incognito` as an argument. I haven't tried this myself however.

Source: https://github.com/brave/brave-browser/issues/2105#issuecomment-448337939

[2022-07-25 00:39] morkos11 commented on #15908
thnx for ur help, but unfortunately it didnt work too

[2022-07-25 01:27] rokumura7 commented on #15868
Thank you for your answer. I will try to use it in the right place at the right time :)

[2022-07-25 02:43] ryanrosello-og opened #15909 "[BUG] exception thrown => undefined: Browser has been closed when attempting to close the browser"
**Context:**
- Playwright Version: [what Playwright version do you use?] **1.23.4**
- Operating System: [e.g. Windows, Linux or Mac] **Windows**
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit] **chromium**
- Extra:  We are running our tests using BuildKite => Docker => Browserstack combo

## System:
 - OS: Windows 10 10.0.22000
 - Memory: 641.53 MB / 15.79 GB

[2022-07-25 03:58] RockLakeGrass opened #15910 "[BUG] Build failed on windows arm64"
Build failed on windows arm64.

[2022-07-25 04:05] has-n opened #15911 "[BUG] electron.launch behaves differently locally vs CI"
**Context:**
- Playwright Version: 1.23.4
- Operating System: MacOS
- Node.js version: 16.16.0
- Browser: Electron
- Extra: [any specific details about your environment]

## System:
 - OS: macOS 12.0.1
 - Memory: 806.64 MB / 8.00 GB
## Binaries:
 - Node: 16.16.0 - ~/.nvm/versions/node/v16.16.0/bin/node
 - npm: 8.11.0 - ~/.nvm/versions/node/v16.16.0/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash

[2022-07-25 06:08] RomanTarAff commented on #15907
Without extension it works fine. What were the changes related to adding extensions to browser that it failed?

[2022-07-25 07:05] JannisBush commented on #15875
@dgozman The idea is that I manually find some interesting elements on some pages and want to find similar elements on other pages automatically. If I only use the manually created selectors from the beginning, I will miss many elements that do not match the selectors. Thus, I want to extend the set of selectors during the crawl by adding alternative selectors for the elements I already found in t

[2022-07-25 07:22] #15910 closed

[2022-07-25 07:46] SimonGolms commented on #15908
Passing `--tor` as an argument could work, see: https://github.com/brave/brave-browser/issues/2105#issuecomment-891961837

[2022-07-25 08:21] SimonGolms opened #15912 "[BUG] component testing `toContainText` not accepting array with multiple elements on version `1.24.0`"
**Context:**
- Playwright Version: 1.24.0
- Operating System: Windows and Mac
- Node.js version: 16.16.0
- Browser: All
- Extra: WSL2

[code]

**Code Snippet**

[code]

[code]

**Describe the bug**
After updating to the latest version of `@playwright/experimental-ct-react@1.24.0` and `@playwright/test@1.24.0` the tests where an array with multiple elements is passed to `toContainText` do not work

[2022-07-25 08:27] Camo30 commented on #12542
Thanks for reopening. In my opinion the api was a great improvement. I'm heavily using the page objects pattern for locators and because of this I often need to get from one locator to the next one without reusing the same CSS selector twice.

For example:
[code]

[code]

[2022-07-25 08:33] AlexanderMykulych opened #15913 "[BUG] hooksConfig is required for mount fixture"
**Context:**
- Playwright Version: 1.24.0
- Operating System: Mac
- Node.js version: v16.14.2
- Browser: Chromium

**Code Snippet**
I have a component test:

[code]

**Describe the bug**

After updating to 1.24.0 I have typecheck error that `hooksConfig` is required in the `mount` fixture. Full text:

[code]

**Possible resolution**
make `hooksConfig` optional for `mount` fixture

[2022-07-25 08:39] #15898 closed

[2022-07-25 08:44] DvDream opened #15914 "[Question] Cucumber <-> Playwright - Cannot create newContext() when selected channel is 'chrome'"
Hi,

I am trying to use Cucumber with Playwright and I need some of my tests to be run within Chrome. Since I alwasy had no problem running test with chrome using Playwright test runner, I am having some issue when using Cucumber.

These are my Before/After hooks (which in Playwright would be similar to BeforeEach and AfterEach):

[code]

As you can see, is a bit cumbersome to configure wrt pure P

[2022-07-25 08:58] vijaydubber opened #15915 "[BUG] Playwright Documentation Website | Search functionality appears to be broken"
**Describe the bug**

Visit
https://playwright.dev or https://playwright.dev/docs/intro

Use search bar on the top right.

Search for any known keyword, such as `Selector `, or `Electron`, or `Page`

Expected:
Documentation relevant to the keyword to be displayed

Actual
No results

![image](https://user-images.githubusercontent.com/107010980/180738821-b7a6bf5a-2cad-4381-8ff3-b5022af72e08.png)

Te

[2022-07-25 09:14] dsumac commented on #11975
In the mean time, it exists an acceptable alternative: use **the playwright `steps`** to explain all Given/When/Then assertions.

The solution is light and fonctionnal.

Ex:

[code]

[2022-07-25 09:16] mxschmitt commented on #15915
We are currently regenerating the search index, should be back in 15-30 minutes. Sorry for the inconvenience!

[2022-07-25 09:20] vijaydubber commented on #15915
Hi @mxschmitt ,
Assuming there is b/g deploy / release. Is it possible to do DNS cutover after index rebuild.

[2022-07-25 09:23] mxschmitt commented on #15915
No, it's because we changed from having the index based on the versions to having only a single `stable` version + (meta information since when a version was available). And since the index is connected to the version (`1.24`, `1.23`...) there were no entries for the new `stable` index. Thats why the search returned 0 results.

The index has been re-generated, closing by that.

[2022-07-25 09:23] #15915 closed

[2022-07-25 10:28] PavanMudigondaTR commented on #11975
Yes, I am using this currently. Currently this approach is causing me to repeat code and maintenance difficult. Just trying to see if cucumber support would remove repeating same code related to given when then. Any how thanks for inputs.

[2022-07-25 12:00] DvDream commented on #15914
Closing this issue because I was checking for the wrong parameter..

[2022-07-25 12:00] #15914 closed

[2022-07-25 12:36] souleonardo commented on #15849
Thank you so much @dgozman

[2022-07-25 13:06] sand4rt opened #15919 "[Feature] component testing mount result"
Can the `update ` and the `unmount` functions be added? This is useful for Vue, React and Svelte:

[code]

[code]

## TODO
- [x] update Svelte
- [ ] update Solid
- [x] update React
- [x] update Vue
- [x] update Vue2
- [x] unmount Svelte
- [x] unmount Solid
- [x] unmount React
- [x] unmount Vue
- [x] unmount Vue2

[2022-07-25 13:17] sand4rt opened #15920 "[Feature] Component testing Vue/Svelte events/emits"
Can the event handling API be changed to that of Vue Test Utils and Testing library? Those seems more user-friendly to me than the current API.

Current API:

[code]

VTU API:

[code]

related to: https://github.com/microsoft/playwright/issues/15919

[2022-07-25 14:45] #15894 closed

[2022-07-25 16:03] #15815 closed

[2022-07-25 16:03] dgozman commented on #15802
We have to reproduce this issue locally to be able to debug it. If you can provide a full repro, please file a new issue with it, and link to this one.

[2022-07-25 16:04] dgozman commented on #15819
@Forfold We have to reproduce this issue to be able to debug it. If you can provide a full repro that we can replicate locally, please file a new issue with it, and link to this one.

[2022-07-25 16:04] #15819 closed

[2022-07-25 16:05] dgozman commented on #15865
It seems like the issue has been resolved. If you still encounter problems, please file a new issue with a repro and link to this one.

[2022-07-25 16:05] #15865 closed

[2022-07-25 16:05] dgozman commented on #15867
Closing as per above.

[2022-07-25 16:05] #15867 closed

[2022-07-25 16:06] #15868 closed

[2022-07-25 16:07] dgozman commented on #15875
@JannisBush Thank you for the details. Since the workaround works for you, I'll close this issue.

[2022-07-25 16:07] #15875 closed

[2022-07-25 16:12] #15849 closed

[2022-07-25 16:16] #15883 closed

[2022-07-25 16:23] topolanekmartin opened #15924 "[Question] Is there assertion for check if is element fully visible?"
Hello,

I've scenario where I have element overlapped with other element. Is there some assertion where I can check if element is fully visible?

![image](https://user-images.githubusercontent.com/44465269/180826849-20549154-9d4a-43ec-a3b4-9a4afa4c696f.png)

Thanks in advance.

[2022-07-25 16:25] FrankWang117 opened #15925 "[BUG] fill two inputs one by one will clear prev input value"
**Context:**
- Playwright Version: 1.20.1
- Operating System: Mac
- Node.js version: 16.15.0
- Browser: Chromium
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
when I fill inputs one by one,something is wrong.
When th

[2022-07-25 16:47] mxschmitt commented on #15896
ideas:
- add e.g. onExit

[2022-07-25 16:49] Forfold commented on #15819
From your comment it looks like I may need a second config file for playwright in my repo. The config included there is for the example website only.

However, regarding installing the package from a tgz file, I don't know if I would expect my users to do that. I would assume that importing `login` should work out of the box if they install my `playwright-auth` package and have their own playwrigh

[2022-07-25 16:52] mxschmitt commented on #15809
You can close the page beforehand and then it should work.

---

we'll follow up with docs changes and throw if its sync python.

[2022-07-25 17:06] #15396 closed

[2022-07-25 17:08] mxschmitt commented on #15378
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-25 17:08] #15378 closed

[2022-07-25 17:27] mxschmitt commented on #11182
Closing as per above, seems to be working as it is for a large customer.

[2022-07-25 17:27] #11182 closed

[2022-07-25 19:28] romanzy-1612 opened #15927 "[BUG] text content assertion in web-components"
**Context:**
- Playwright Version: 1.24.0
- Operating System: Debian GNU/Linux 11 (bullseye)
- Node.js version: v16.16.0
- Browser: All

**Code Snippet**
[code]

**Error output**
[code]
**Describe the bug**

While testing my web-component routing library, I have noticed an issue with methods such as `toHaveText`, `toContainText`, or any other way of asserting the text content of web-components sha

[2022-07-25 19:56] dgozman commented on #14884
@eatonjl I played with it more, following your instructions. Unfortunately, I was not able to repro the blank popup - perhaps it's racy enough to not repro on my computer.

The `Cannot read properties of undefined (reading 'childFrames')` error is blocking approximately half of the runs for me. We'll work on fixing that first, see issue #9840 for tracking it.

[2022-07-25 20:20] #15896 closed

[2022-07-25 20:22] #14953 closed

[2022-07-25 20:25] pavelfeldman commented on #15927
`page.locator` does not return a promise and `expect.resolves` should be followed by something. So this code does not check anything.

[code]

This does looks like the right check, but it looks like your lit-router never gets the needed text, so it times out after default 5 seconds.

[2022-07-25 20:37] pavelfeldman commented on #15925
It passes my test, any reproduction you can report? Your page is probably updating itself after you filled the first field. Try running your test manually + emulating slow 3g connection and it is likely that your input will get reset. I.e. looks like your page has a bug that erases the user input.

[2022-07-25 20:38] pavelfeldman commented on #15924
No, please upvote https://github.com/microsoft/playwright/issues/8740 + describe your scenario there to make sure we cover it.

[2022-07-25 20:38] #15924 closed

[2022-07-25 20:42] pavelfeldman commented on #15920
We would still need something like the existing API so that we could handle the event being fired. How is this handled in VTU? Or do they store events in separate collections at all times and don't allow for checking the relative timing of multiple events on different targets?

[2022-07-25 20:44] pavelfeldman commented on #15919
Thanks for another useful use case. I meant to ask a while ago, would you be interested in contributing patches for the components story?

[2022-07-25 20:48] pavelfeldman commented on #15913
Fixed and merged into 1.24 branch, will be published with 1.24.1. Thanks @sand4rt !

[2022-07-25 20:48] #15913 closed

[2022-07-25 20:54] giladmp1978 commented on #11864
Hi,
any chance we will have regex in data-test?
this is really missing for me

[2022-07-25 20:54] pavelfeldman commented on #15912
This happened due to the fix for the fragment components. As far as Playwright is concerned, your component, once rendered, is represented with the `<div>` that has all that combined text. I.e. it is not a list, so you should not use `toContainText([])` with it. You can try changing your assertion to:

[code]

This would explicitly check the locator to div's children.

[2022-07-25 20:59] pavelfeldman commented on #15908
This would be outside of the scope for the Playwright test, but I can leave it open so that if someone has a solution they could help.

[2022-07-25 21:01] pavelfeldman commented on #15907
For some reason the browser could not start with your extension, I don't think we'll be able to help with it given that it works locally.

[2022-07-25 21:03] pavelfeldman commented on #15903
I'm not sure I understand your request, if you are using persistent context, you can login once and the context will keep your logged in state.

[2022-07-25 21:05] naemtl commented on #15865
I'm having this same issue, and I'm not able to get past it with the current solution!

`const focusedElementText = await page.evalute(() => document.activeElement.textContent);`

If I try:

[code]

I get: ` TypeError: focusedButton.click is not a function`

[2022-07-25 21:07] pavelfeldman commented on #15900
Yes, I'm not sure I understand the text vs markup ambiguity in VTU, so we interpret slots as text there. Any reason you don't like JSX for composition? Looks way easier to read, is more in line with the way you compose in the actual `.vue` files. Would be interested in what you think.

[2022-07-25 21:08] pavelfeldman commented on #15895
It might be that we don't work with the nodeIntegration well.

[2022-07-25 21:09] naemtl opened #15929 "[Feature] Locate element by focus (reprise)"
https://github.com/microsoft/playwright/issues/15865#issue-1313964836 this issue was opened a few days ago by someone else, and I'm experiencing something quite similar. So far, I've tried a multitude of ways to try to overcome this limitation. With the solution outlined in the ticket I've linked, I've tried:

[code]

After running this, I get: `TypeError: focusedButton.click is not a function`

[2022-07-25 21:15] a7medmo7med9 commented on #15895
Is there any way to get it work

[2022-07-25 21:17] pavelfeldman commented on #15891
The test in the attached PR passes for me, does it capture your set up?

[2022-07-25 21:30] scottfwalter opened #15931 "[Question] Code Coverage and Reuse Page Between tests"
We re-use the page object like this:

[code]

However, I want to use a baseFixture to track code coverage with something like this:

[code]

This baseFixture does not seem to work unless the tests are setup this way:

[code]

Any idea on how I can share the page object between tests but also have a baseFixture?

[2022-07-25 21:45] vai0 commented on #15891
@pavelfeldman thanks --- that test looks accurate. odd it passes, but fails on my end. i'll try stripping with the other `compilerOptions` I have in my config and see if they're the reason.

[2022-07-25 21:59] pavelfeldman commented on #15889
I believe `page.goto` works as expected here. What it does is it navigates the page to the specified URL and navigation is resetting the world along with all the JS state, as it is supposed to. No wonder none of the installed routers work. Non-anchor navigation is equivalent to going to a new URL via `about:blank`. In order to perform the navigation that router can handle, you should actually clic

[2022-07-25 22:07] pavelfeldman commented on #15889
For the second use case, it would be something like this:

[code]

Navigating to `playwright/index.html` before `mount()` is consistent with your `unmount` request, so I think we can try making that change.

[2022-07-25 22:08] pavelfeldman commented on #15825
We don't own the names, but I think COM (component object model) sounds great :)

[2022-07-25 22:10] pavelfeldman commented on #15929
That's because element handles are not primitive types, try this instead:

[code]

[2022-07-25 22:15] dgozman commented on #15865
@naemtl Try using [`:focus`](https://developer.mozilla.org/en-US/docs/Web/CSS/:focus) CSS pseudo.

[code]

[2022-07-25 22:16] pavelfeldman commented on #15931
I don't think there is a good way, none of your tests are using the `context` fixture, they use the page that you created manually in `beforeAll`. Once you've stepped into the serial mode with `beforeAll`, it is best to put the rest of the code there:

[code]

[2022-07-25 22:28] auaustorg-ms opened #15932 "[BUG] - Install MS Edge on CI Fails"
On CI machines (MacOS and Windows) running:
`yarn dlx playwright@1.23.2 install chrome webkit msedge --with-deps`

Fails with an error installing Edge. We see linux passing this step just fine.

MacOS Error:
<img width="1288" alt="image" src="https://user-images.githubusercontent.com/109989771/180884524-02707bfa-52b7-42b5-8c7d-755940010f46.png">

Windows Error:
<img width="1591" alt="image" src="h

[2022-07-25 22:41] aslushnikov commented on #15902
This is the build of 99.0.1 version which is a stable version; Beta would have a `99.0.1b3` version, or something like this.
Don't let the "Nightly" confuse you; this is just to designate that we don't use official mozilla branding for our builds.

[2022-07-25 22:42] aslushnikov commented on #15870
This has something to do with your custom fixtures; running just plain Playwright works fine: https://gitlab.com/aslushnikov/playwright-issue/-/jobs/2768557930

[2022-07-25 23:00] scottfwalter commented on #15931
@pavelfeldman Thanks for the hint!  That got me going in the right direction.

[2022-07-25 23:09] dgozman commented on #15560
This does indeed repro for me with Playwright, but I was not able to create a standalone repro that uses just evaluate.

[2022-07-25 23:43] DetachHead opened #15934 "[BUG] `page.locator.isVisible` returns `true` on hidden element"
**Context:**
## System:
 - OS: Windows 10 10.0.19044
 - Memory: 926.38 MB / 15.78 GB
## Binaries:
 - Node: 18.0.0 - C:\Program Files\nodejs\node.EXE
 - npm: 8.7.0 - C:\Program Files\nodejs\npm.CMD
## Languages:
 - Bash: 5.0.17 - C:\WINDOWS\system32\bash.EXE
## npmPackages:
 - playwright: ^1.23.0 => 1.23.0

**Code Snippet**

[code]

**Describe the bug**
this SAPUI5 busy indicator is not visible, an

[2022-07-25 23:55] #15932 closed

[2022-07-25 23:58] mshre001 opened #15937 "[Handling new pages] getting Context closed error when trying to get to new tab"
Hello, I am using playwright Version 1.23.4  - I am trying to test a scenario where clicking a button opens a new tab, and I am trying to focus on the newly opened tab and get the title of the page. Following the instructions found at : https://playwright.dev/docs/pages.

Below is a snippet of  my spec -
test.describe("Test suite ", async () => {
  let page;
  let context;
  test.beforeAll(async (

[2022-07-26 01:09] dgozman commented on #14504
For the reference, we decided not to proceed with a risky fix in #14598. I'll merge a PR with an improved error message as a mitigation strategy.

[2022-07-26 01:55] pavelfeldman commented on #15325
Closing as per above, let's embrace the wrapper solution. Please let us know if there are outstanding issues.

[2022-07-26 01:57] pavelfeldman commented on #14750
Folding into https://github.com/microsoft/playwright/issues/15325. We are embracing wrappers for context configuration. I.e. you create a wrapper component that does

[code]

[2022-07-26 01:57] #14750 closed

[2022-07-26 05:28] #15825 closed

[2022-07-26 05:52] fortegaseguel opened #15941 "[Question] How I can Activate/Deactivate Enhanced Tracking Protection for Firefox"
Hi, When I use Playwright some sites block the navigation, especially in login forms.
I discovered that if I deactivate the Enhanced Tracking, when I'm using Firefox, I can access without problems, but I have to do this manually.

How can I add this feature in the context of my program to do this automatically?  I'm using python for now.

Thanks to all!!

[2022-07-26 05:58] fortegaseguel opened #15942 "[Question] Strange Action when I change the screen using Codegen"
Hi everybody!

This is some weird question, but, when I'm using Playwright with Firefox and I try to navigate to login in a page, in the laptop screen all works fine, but if I change the action to my secondary screen, the browser send me an server's error and the process fails.

What could it be?? I'm think is something about browser fingerprint or some like this.

If you know how can I adjust it,

[2022-07-26 06:29] ycswaves commented on #12822
Hi @eatonjl , could you share with me where you set the locale in the global-setup? Thanks!

[2022-07-26 09:42] eutudb23 opened #15946 "[BUG]: chaining multiple API calls with stored variables and re-used are not applied to the last API calls"
**Context:**
- Playwright Version: [1.23.4]
- Operating System: [Mac]
- Node.js version: [16.16.0]
- Browser: [Chromium, Firefox]
- Extra: [nothing additional]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

This is working by having a token hardcoded:
[code]
![image](https://user-images.githubusercon

[2022-07-26 09:48] topolanekmartin commented on #8740
+1 In my case this assertion will be very useful. I don't have any possibility how to check if element is fully visible at this moment.

![overlapping](https://user-images.githubusercontent.com/44465269/180977435-61b35517-73b9-49c1-8bb2-12554617bf54.gif)

[2022-07-26 10:11] eutudb23 commented on #15946
It can be closed as I found a solution by using timeout for specific/between calls as it takes more than the default allotted time.
This seems more pronounced when querying response and re-use the var on the next call, seems like it does not have enough time to parse and re-use.

[2022-07-26 10:27] Diokuz opened #15948 "[Question] How to override fixture's scope?"
Hi there!

We want to override `page` fixture to run all our 1000+ tests in just one browser tab, because each navigation takes 3-5 seconds, and SPA-navigation (in the storybook) just 5 ms. Otherwise we have x20 test running time, because the average test takes just ~50ms (so, you got total test time 5ms + 50ms in one case and 3s + 50ms in another).

I tried to follow this guide https://playwright

[2022-07-26 10:34] chrisboakes opened #15949 "[BUG] `page.locator.toContainText` returns single string in an array for nested DOM nodes"
**Context:**
- Playwright Version: [1.24.0]
- Operating System: [Mac]
- Node.js version: [16.16.0]
- Browser: [Chromium]

**Code Snippet**

[code]

**Describe the bug**

It seems that running the `toContainText` assertion on a `locator` with nested DOM nodes returns a single string in an array (instead of an array of values). E.g.

[code]

Returns `['Foo 1Bar 1Foo 2Bar 2']` whereas it should be `[

[2022-07-26 11:28] andykenward commented on #7249
I think we would need to use `npm ls @playwright/test` or `npm ls @playwright/test --json` to get the version that's actually installed. Can someone help with how we can parse the output for the version number?

`npm ls @playwright/test --json`
[code]

[2022-07-26 11:37] AlexDaniel opened #15950 "[Feature] toBeOK should print the response if it is short enough"
I have code like this, I think it is quite typical:
[code]
So, I'm just making a request and checking if it's OK (if the status code is in 200..299 range).

On failure, Playwright will print something like this:
[code]
That's a lot of data, but none of it is actually useful. Usually, on 400, the backend returns a more detailed reason in the response body. The actual reason for failure can be shown

[2022-07-26 12:08] AlexDaniel opened #15951 "[Question][Docs] Extending expect with custom DOM-related assertions (and using locators)"
Playwright documentation comes with an example on how to use `expect.extend` to add a custom matcher:
* https://playwright.dev/docs/test-advanced#add-custom-matchers-using-expectextend

That example is pretty much identical to the one in jest docs, and as such, not useful:
* https://jestjs.io/docs/expect#expectextendmatchers

The reason it is not useful is because I want to write a custom matcher

[2022-07-26 12:12] AlexDaniel commented on #15951
Ah, now thinking about my example I'm pretty sure I'm not handling `.not` correctly… It feels like there has to be an easier way by reusing something from Playwright [internals](https://github.com/microsoft/playwright/blob/99d1ad5a88c3e89360829eee92dbaa98d75beaa4/packages/playwright-test/src/matchers/matchers.ts#L135), but so far I don't know how to do that.

[2022-07-26 12:27] bkrmadtya commented on #13547
Thanks, `toHaveUrl` worked for me.

[2022-07-26 12:41] eoinomeara11 commented on #11818
Adding to playwright config would allow different ports to be used for normal testing and experimental component testing

[2022-07-26 12:49] eatonjl commented on #12822
You need to add "locale: 'en-us'," in the context.
It looks like this:
[code]

[2022-07-26 12:52] LSViana commented on #12821
Is this issue still happening? I'm using `@playwright/test` at `1.24.0` and I see something similar on Chromium browsers only.

When trying to click on a `button` that's wrapped in a `span`, I noticed that the Inspector shows me this:

[code]

And it retries until it times out. I noticed that if I add `display: inline-block` to the `span` that wraps the `button` then the click operation works as e

[2022-07-26 13:27] MickeyTrausch opened #15952 "[BUG] No source available when running plawright in debug mode"
**Context:**
- Playwright Version: 1.21.0
- Operating System: Windows
- Node.js version: 16.15.0
- Browser: All

**Describe the bug**

When launching playwright in debug mode, the playwright inspector diplay //No source available, but when clicking on step over in the chronium windows I can see each step of the test.

[2022-07-26 13:39] Meemaw opened #15953 "[BUG] Chromium instability on self hosted github actions running on EKS"
**Context:**
- Playwright Version: 1.21.1
- Operating System: Linux
- Node.js version: 16.11.0
- Browser: Chromium
- Extra: Running within self hosted github action runners running on EKS (k8s)

**Describe the bug**

We are seeing extreme instability of Chromium browser on our Playwright E2E test suite running within self hosted github actions on EKS (k8s).

This is being surfaces as even the most

[2022-07-26 14:09] sand4rt commented on #15900
I agree with your statements. However, it is another technology that adds to an already large stack of technologies that people are being pushed towards when using frontend frameworks.

In my opinion there aren't many use cases where you want to add complex slots to your component _(inside tests)_. I only do this when the parent component and child components are talking directly to each other whi

[2022-07-26 14:17] unlikelyzero commented on #15907
@RomanTarAff I'm seeing hints of this error all over the place -- including cypress repos.

Have you tried explicitly setting the disable-gpu flag in chrome --disable-gpu ?
have you tried using the windows or macOS agent?

Without much context, I'm wondering if there's an issue with ubuntu / xvfb

[2022-07-26 14:19] landoephan commented on #11864
need that, too!

[2022-07-26 14:33] eatonjl commented on #14884
Thanks for checking again. I have a hard time reproducing it at times because of the Cannot read properties of undefined (reading 'childFrames') error as well. I agree that we can wait for that fix and then see if it is still happening after that point. I see the if was put in for 1.23 then removed and put into 1.24, then removed and put into 1.25. Then it was removed from 1.25. Any idea if it wil

[2022-07-26 15:04] sand4rt commented on #15889
Thanks for explaining! Yes, makes sense. Yeah i believe it's either history mode or hash mode.

The first use case/test is works!

Navigating before mount doesn't work yet. Need to debug it a little further but looks like the [navigation will be reset when mounting](https://github.com/microsoft/playwright/blob/main/packages/playwright-test/src/mount.ts#L38).

Don't you think that the API for navig

[2022-07-26 15:06] pavelfeldman commented on #15953
It looks similar to https://github.com/Zenika/alpine-chrome/issues/109. We are already passing `--no-sandbox` by default, so you can try passing `--disable-gpu` launch argument. They posted their deployment config https://github.com/Zenika/alpine-chrome/pull/139/files as they were closing the bug, maybe it helps.

[2022-07-26 15:07] eatonjl opened #15957 "[Question] Can't download browsers"
I am using the following for my shell script in TeamCity to run my tests:
[code]

However, when I try to run them, I get the following error: Password: su: Authentication failure

I assume this is an issue with how we have the Docker container set up on the linux server, but I am not sure how to fix it. Any help would be appreciated!

[2022-07-26 15:17] naemtl commented on #15929
Almost there! This does get the focused element signed, but I wanted to know if there was a way to compare the result of `const focusedElement = await page.evaluteHandle(() => document.activeElement);` to a locator. To be more specific, I mean something like:

const focusedElement = await page.evaluteHandle(() => document.activeElement);
if (focusedElement === this.page.locator(`[data-test-id^="In

[2022-07-26 15:25] pavelfeldman commented on #15931
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-26 15:25] #15931 closed

[2022-07-26 15:27] pavelfeldman commented on #15929
You can try `page.locator(':focus')` then.

[2022-07-26 15:31] SuperSonicHub1 opened #15958 "[BUG] Cannot use switch `--enable-webrtc=0` with WebKit"
**Context:**
- Playwright Version: 1.24.0
- Operating System: Linux
- Node.js version: v17.1.0
- Browser: WebKit
- Extra: WebKitGTK 2.37.0 (57.1@playwright-build)

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
Running `~/.cache/ms-playwright/webkit-1683/pw_run.sh --enable

[2022-07-26 15:31] pavelfeldman commented on #15934
I suspect that at the moment when the check was made, it was visible, but then it became hidden. It explains everything you observe.

[2022-07-26 15:36] SuperSonicHub1 commented on #15958
After doing further investigation it seems that specifying `--headless` causes a different binary to be opene which indeed doesn't have `--enable-webrtc` as a command line flag. I guess I now need to open up a WebKit bug?

[2022-07-26 15:37] pavelfeldman commented on #15942
We would need exact steps to follow in order to address this.

[2022-07-26 15:38] pavelfeldman commented on #15941
We would need exact steps to follow in order to address this.

[2022-07-26 15:41] pavelfeldman commented on #15946
I'll close as per above, but it sounds strange - there are no such timeouts on the client side, so it might be the server issue that takes time to propagate the credentials. In either case, if you find more issues, please feel free to open a new bug and link to this one.

[2022-07-26 15:41] #15946 closed

[2022-07-26 15:42] mshre001 commented on #15937
Thanks Pavel,
yes I am running in serial mode, the beforeAll has a login step for our application, which requires otp code and wanted to avoid doing that for each test. Is that the reason for me getting this error?

[2022-07-26 15:44] pavelfeldman commented on #15948
The easiest would be to use serial mode for that: https://playwright.dev/docs/next/test-retries#reuse-single-page-between-tests. Note though that since you are using the same context for multiple tests, it'll be slowly leaking. So using it for 1000 tests would be pushing it. Maybe use one per file.

[2022-07-26 15:44] Meemaw commented on #15953
We are starting context like this:

[code]

Note that `"--no-sandbox"` and `"--disable-gpu"` are the additional arguments we tried on EKS and weren't needed on CirleCI VMs.

We are installing deps using `npx playwright@1.21.1 install-deps chromium`

[2022-07-26 15:46] pavelfeldman commented on #15949
toHaveText / toContainText would expect as many strings as there are elements in the `locator.count()`. In your case, this is one element, so you get one string. You can change your locator to `page.locator('[data-test="items"] > *')` if you want immediate children of your items list.

[2022-07-26 15:48] SuperSonicHub1 commented on #15958
I'm going to be closing this issue as it's likely out of scope for you all. I think it would be good to clarify [here](https://playwright.dev/docs/browsers) that there is significantly different behavior for how WebKit works depending on if `headless` is set to `false` or `true`.

[2022-07-26 15:48] #15958 closed

[2022-07-26 15:49] pavelfeldman commented on #15951
You can probably use `expect.poll` to save on the retry logic.

[2022-07-26 15:50] pavelfeldman commented on #15952
We would need exact steps to follow in order to address this.

[2022-07-26 15:53] #14504 closed

[2022-07-26 15:55] dgozman commented on #14884
@eatonjl Fix for the `childFrames` issue depends on a larger refactoring in Firefox code, so no precise ETA yet, unfortunately.

[2022-07-26 15:56] pavelfeldman commented on #15953
No ideas on top of my head. I assume you run with `xvfb-run` and your `headless: false` is there because you are testing an extension. This puts your use case into a very narrow niche (extension testing + k8s), there aren't many users like this and I don't think we've seen anything like this. I'd try bisecting it using non-persistent contexts, headless operation, persistent w/o extension, etc and

[2022-07-26 15:59] pavelfeldman commented on #15957
`npx playwright install --with-deps` installs system dependencies and that certainly requires super user privileges. It looks like your Docker user does not have them. If this is your own image, you should run `npx playwright install --with-deps` when building the container rather than at runtime. That would also make it run much faster because all the dependencies will be baked into your containe

[2022-07-26 16:06] naemtl commented on #15929
Gotcha.

Forgive me if I'm missing something here. For added context, here's the entire code block I'm trying to get to work. When I try to do `focusedButton === this.fields.signatures`, the condition always returns falsy, though my intention is to be able to assert that they're equal.

[code]

If I go about it like this though:

[code]

the test runs and passes, but I want to be able to evaluate

[2022-07-26 16:14] eatonjl commented on #15957
@pavelfeldman I will give that a try. Thank you! Do I need to install the dependancies if I am using the Playwright Docker image? The documentation says, "Use our Docker image in Linux agents or install your dependencies using the CLI."

[2022-07-26 16:30] guodeo opened #15960 "How to set timeout in .net[Question]"
On the playwright documentation for node.js, it has documentation, however for the .net application there is no such page... how can I change the default timeout for .net please?

[2022-07-26 16:34] aslushnikov commented on #15941
There's a variety of preferences that we can try toggling, but we'd need a repro to recommend at least something!

[2022-07-26 16:46] YusufOzturk-Development opened #15961 "How do i run all run: async () => {} promises one after the other?"
I want to run all run promises step by step in my Identity.api.ts file .When Signin and Token  promises run,taking below error(I mean both run: async () => {} promises );

[code]

If I get one of them(Token or Signin) to command line the code works fine but both of them not working properly. How do i run all run: async () => {}  promises one after the other when I call Identity.spec.ts file from s

[2022-07-26 17:01] 1234Brian commented on #13968
Ok got it👍 perfect string

[2022-07-26 17:02] raje312 opened #15962 "[Question] Why does last test result gets printed after afterAll()"
I have simple test structure and noticed that all logging as part of afterAll() printed before the last test result
import { test } from '@playwright/test';

test.describe.serial('root describe', () => {

  test.beforeAll(async () => {
    console.log('enter before all');
  });

  test.afterAll(async () => {
    console.log('enter after all');
  });

  test('test1', async () => {
    console.log('

[2022-07-26 17:07] xaker01 commented on #11869
when will the fix be?

[2022-07-26 17:24] jake-b-story commented on #2661
@yusoof-pret and @rohithbb433

To set this within the playwright.config.ts file, I believe it will look like:
[code]

[2022-07-26 17:48] eranr-talon opened #15965 "[BUG] Page reopen workaround for WebKit locale and Chromium isMobile bugs is applied even when not needed"
**Context:**
- Playwright Version: 1.25.0
- Operating System: macOS 12.4
- Node.js version: 18.6.0
- Browser: Chromium-based browser

**Describe the bug**

The workaround to isMobile and locale that was introduced in https://github.com/microsoft/playwright/pull/2177 is applied to all instances, regardless of the browser type and options.

This uncommon behavior, re-opening the page, that is caused

[2022-07-26 18:29] bezyakina commented on #15662
@yury-s @dgozman I tested the code with adding a forced wait of 1000ms between scroll and screenshot, took 50 screenshots one after another, as a result, the error did not reproduce. When I remove the extra wait, the bug reproduces again. I hope this information helps you.

[code]

[2022-07-26 19:14] eranr-talon commented on #15965
@dgozman in https://github.com/microsoft/playwright/pull/15904#issuecomment-1195778965

So I checked and we weren't setting `locale` explicitly anywhere. I figured that it must be set implicitly by Playwright somewhere and after some time of debugging I found that it is indeed [getting a default value](https://github.dev/microsoft/playwright/blob/0b72f7ec99dfd42ca91dee17d822a8d9a4ef711a/packages/p

[2022-07-26 19:36] Aenz99 opened #15969 "[Question]Test folders"
Hello guys, I'm new to PW, a simple question here:
Could the tests files be in another folder rather than Playwright/tests ?

for example: Playwright/Model1/Tests

I tried that but it isn't recognizing my tests, it says 0 tests found.

Thanks in advance.

[2022-07-26 19:41] lsingh23 opened #15970 "[Question] how to run some selective tests run on a single worker while others are running in parallel using multiple workers"
Is there a way to make the tests work in parallel mode for some tests while the others in a serial mode. I know we can do something like separating test projects into two different projects and run each of them according to specific workers. Is this approach suitable for running tests on CI as well?

[2022-07-26 19:51] pavelfeldman commented on #15970
You can certainly split into projects and run some of them with --workers=1, that way tests work serially even without the describe.serial.

[2022-07-26 19:51] pavelfeldman commented on #15969
Sure, you can point to any folder. You probably specified 'tests' folder in your `playwright.config.ts`.

[2022-07-26 19:55] eatonjl opened #15971 "[Question] How to use the project browser in global setup"
I am using the global setup feature in Playwright. I am going off of the [Playwright documentation](https://playwright.dev/docs/test-advanced) that has it using Chromium. I am wondering if there is a good way to make it, instead, use the browser the project is using (I.E. if I am running tests in webkit, use webkit for global setup). Here is my global setup file:
[code]

[2022-07-26 19:58] pavelfeldman commented on #15961
Just iterate over them in a loop instead of doing parallel run via Promise.all.

[code]

[2022-07-26 20:01] LadaVarga opened #15972 "Showing sameSite error in code but it works properly"
Hello,

I have problem with setting "sameSite" attribute in cookie. It works but VScode shows error when I tried to set it up. If I use SameSite it doesn't show error but it doesn't work. Am I doing something wrong? I use chromedriver 102 and I updated Playwright to latest version.

[code]
[code]
<img width="881" alt="2022-07-26 21_43_36-bid-board-integrated spec ts - esticom-frontend - Visual Stu

[2022-07-26 20:02] pavelfeldman commented on #15971
You can add `browserName` into the line `const { baseURL, storageState, ignoreHTTPSErrors } = config.projects[0].use;` and do `await playwright[browserName].launch()`

[2022-07-26 20:08] eatonjl commented on #15971
I now have it this way:
[code]
But it is saying that it "Cannot find name 'playwright'."

[2022-07-26 20:19] pavelfeldman commented on #15972
It is a type checker issue, you can declare it as any to disable type checking:

[code]

[2022-07-26 20:20] pavelfeldman commented on #15971
[code]

[2022-07-26 20:26] eatonjl commented on #15971
OK, it is no longer throwing the same fit but, when running it, I get an undefined error. I think it is because I do not have "browserName: 'firefox'" in my config. I am using project. Instead, I have lines like this:
[code]

[2022-07-26 20:30] sand4rt commented on #15920
Seems like they [record](https://github.com/vuejs/test-utils/blob/main/src/emit.ts#L47) and store all [events in a collection](https://github.com/vuejs/test-utils/blob/main/src/emit.ts#L8) at [any time](https://github.com/vuejs/test-utils/blob/main/src/emit.ts#L36). Not completely sure but I think VTU does not support checking for relative timing of multiple events on different targets. I don't se

[2022-07-26 20:30] eatonjl commented on #14884
Thanks for letting me know. I will keep an eye on that issue. Firefox will be a no-go for us until that can be fixed. Thanks!

[2022-07-26 20:30] pavelfeldman commented on #15900
All the Vue examples you provide above are actually a subset of JSX, at least syntactically. `{{ text }}` is basically an object shorthand notation `{ text }` that you can use inside the code block `{ }`. But the tooling / type checking will get confused for sure, so I would keep it JSX for the VS Code smarts.

The missing bits for the complete template support in slots would be:
- The mapping fro

[2022-07-26 20:34] pavelfeldman commented on #15889
Well, the document's [baseURL](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base) will be used, which is different from our baseURL.

No real reason to not add it, we can have that sugar. We can convert this issue into the request for this feature.

[2022-07-26 20:37] pavelfeldman commented on #15957
You don't need deps if you are using the official Docker image, everything is installed!

[2022-07-26 20:37] eatonjl commented on #15957
@pavelfeldman Since I am using the Playwright Docker image, I shined my shell script to just this:
`npx playwright test tests/smoketestshould --project=firefox`
That works fine with it is "--project=webkit" or "--project=chromium". But when run with "--project=firefox" the build log says it is running 88 tests on 1 worker but then it hangs like it is in an eternal loop or something.

[2022-07-26 20:37] dgozman commented on #15962
@raje312 That's because we print the result after corresponding hooks including `afterAll` run. If that's problematic, please tell us in more details.

[2022-07-26 20:38] #15741 closed

[2022-07-26 20:41] pavelfeldman commented on #15929
There are a couple of problems with your script:

[code]

1. page.locator does not return a promise, it is a value

[code]

2. This comparison is only true if `this.fields.signatures` in fact stores a pointer to the exact same `focusedButton` locator. That's how JavaScript works.

[code]

This check does not add value, because you just obtained a focused element, so it is focused. Typically the te

[2022-07-26 21:03] DetachHead commented on #15934
@pavelfeldman i thought so too, but this was tested on a static html file that I saved from a trace file. Nothing on the page is Changing at all here

[2022-07-26 21:09] naemtl commented on #15929
Thank you Pavel, you've been a great help! :)

[2022-07-26 21:09] #15929 closed

[2022-07-26 21:10] raje312 commented on #15962
printing result of entire test is fine but in this case playwright is printing the result of test3 after afterAll() while that of test1, test2 is being printed before afterAll()

[2022-07-26 21:13] raje312 commented on #15962
in our test, the result of test3 is printed after afterAll() cleanup logging and appears after test3 is run after cleanup

[2022-07-26 21:21] pavelfeldman commented on #15934
We would need exact steps to follow in order to address this.

[2022-07-26 21:22] pavelfeldman commented on #15957
Ok, so Firefox tests hang when running in Docker? Is that v1.24?

[2022-07-26 21:26] pavelfeldman commented on #15957
Firefox tests are passing on our internal Docker dashboard, please provide an example of the test that we should try.

[2022-07-26 21:55] pavelfeldman commented on #15948
[code]

[2022-07-26 22:42] pavelfeldman commented on #15919
I'm adding unmount in the PR above, you can follow the pattern and implement `setProps`. I'm not sure it will work for all the frameworks, but present fixtures API allows framework-specific signatures, so I'm sure something useful can be done for each.

[2022-07-26 22:43] #15325 closed

[2022-07-26 22:43] YusufOzturk-Development commented on #15961
Hi @pavelfeldman  I tried your code but only one promise worked again. On the terminal I only see Signin's console.log not Token's console.log.Both of them should be on the terminal.Took below error again
![aa](https://user-images.githubusercontent.com/43332307/181124746-8c0949d2-bd19-4d42-b0db-4275715f6932.png)

[2022-07-26 22:45] pavelfeldman commented on #15076
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-26 22:45] #15076 closed

[2022-07-26 23:18] yury-s commented on #15558
@DiogoLopes99 Thanks for the trace, I can see locally that the sidebar is not scrolled to the selected element. Trace recorder failed to save the scroll position to the trace file. We need access to the page where this happens to debug the recorder. Can you share a page with such sidebar?

[2022-07-26 23:31] DetachHead commented on #15934
@pavelfeldman

ok i was able to reproduce it with the example elements on the sapui5 docs

[code]

[2022-07-27 00:31] pavelfeldman commented on #15971
The simplest would be to add browserName: 'firefox', etc into the use

[2022-07-27 00:32] #15961 closed

[2022-07-27 00:51] daddyman opened #15977 "[BUG] test.use of storage state regression in 1.24"
**Context:**
- Playwright Version: 1.24.1
- Operating System: Windows and Linux
- Node.js version: 16.16.0
- Browser: Chromium
- Extra:

## System:
 - OS: Windows 10 10.0.22000
 - Memory: 15.67 GB / 31.64 GB
## Binaries:
 - Node: 16.16.0 - ~\AppData\Local\nvs\node\16.16.0\x64\node.EXE
 - Yarn: 1.22.19 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
 - npm: 8.11.0 - ~\AppData\Local\nvs\node\16.16.0\x64\

[2022-07-27 01:04] eatonjl commented on #15971
I could do that, but wouldn’t that cause it to only use that one? If I have browserName be “Firefox” but I use the WebKit project then I once again will be using two different browsers. Maybe I am misunderstanding what you are saying.

[2022-07-27 01:05] eatonjl commented on #15957
Yes, it hangs when running it in Playwright Docker 1.24.  I will try and get you something tomorrow.

[2022-07-27 01:33] pavelfeldman commented on #15971
I assume that you are running your tests using --project= in the command line. Then you would assign browserName in all the projects respectively and each time you run the tests proper browser is used.

[2022-07-27 02:04] romanzy-1612 commented on #15927
Thank you for the reply.

Indeed `:has-text` does nothing. Still learning playwright 😁

But I do have the given text inside of the shadow dom. Here is more input on the issue:

If I wrap `Hello, manual` in the div (`<div>Hello, manual</div>`) the output is the same. Playwright says that text is "".

Now if I change my locator query to target a div inside of the webcomponent
[code]
The test passes.

[2022-07-27 02:12] pavelfeldman commented on #15920
Well, they are events, so you might want to know "when" they fire, not just "that" they fire. But I can see how a collection can save time.

[2022-07-27 02:46] hazelcj commented on #15902
Hi @aslushnikov,
Appreciate your professionalism and explanation.

[2022-07-27 02:46] #15902 closed

[2022-07-27 05:10] Diokuz commented on #15948
Just tweaked types a bit

[code]

and it works!

Thanks!

[2022-07-27 05:11] #15948 closed

[2022-07-27 07:25] VishnuSomisetty opened #15980 "Does Playwright Java language will support Angualr application"
Playwright java language does support angular application like timeouts, synchronization, locators angular

[2022-07-27 07:29] ennjin opened #15981 "[Question] Is there any possibility to filter test cases before runner is started?"
I've read the docs and seems that `grep` (with specific tags) and `only` not that I need.
It would be nice to have some API (or hook) to filter test cases. For example:

[code]

The suggest above will add ability to run tests by 3d party test plans (allure for example)

[2022-07-27 07:37] lic-8 opened #15982 "[Question] data types in .HAR json"
Hello, when dealing with the json of the .HAR file, what is the data type of these two fields :

log -> entries -> cache -> beforeRequest
log -> entries -> cache -> afterRequest

Every site I try to scrap returns null. I need to know which type to assign to my Go struct.

Thanks

[2022-07-27 09:31] aaronxiang0926 opened #15983 "[BUG] Electron 14+ does not work with @nestjs/common"
**Context:**
- Playwright Version: 1.24.*
- Operating System: Windows
- Node.js version: 16.10 +
- Browser: Chrome

**Code Snippet**
    electronApp = await electron.launch({ args: [path.join(__dirname, ' ****')], bypassCSP: true });
    app1stWindow= await electronApp.firstWindow();
[code]

[2022-07-27 09:53] np-xavier commented on #6258
Adding my own use case: Our applications have one-time modal confirmation boxes that appear when a new session is launched. Whether the modal shows or not is set and read in Local Storage, so being able to set them all to 'confirmed' at the start of the test would be much better than trying to wait to see if the modal is present and then make it go away with clicks.

[2022-07-27 09:57] mxschmitt opened #15984 "[internal] dig into webkit/firefox memory consumption"
Action-item: make https://github.com/microsoft/playwright/actions/workflows/tests_video.yml passing.

running WK/FF tests seems to require too much memory over time. 8+GB while CR requires <1GB.

[2022-07-27 10:19] monkekode opened #15985 "[BUG] page.request.fetch doesn't use proxy settings"
**Context:**
## System:
 - OS: macOS 12.4
 - Memory: 19.65 MB / 16.00 GB
## Binaries:
 - Node: 16.13.1 - /usr/local/bin/node
 - Yarn: 1.22.17 - /usr/local/bin/yarn
 - npm: 8.1.2 - /usr/local/bin/npm
## Languages:
 - Bash: 5.1.16 - /usr/local/bin/bash

**Code Snippet**

[code]

**Describe the bug**

When you use chromium with proxy-server argument, requests made with `page.request.fetch` will NOT u

[2022-07-27 10:36] chrisboakes commented on #15949
@pavelfeldman thanks. I found to match all children everything in the example above, I needed to run `page.locator('[data-test="items"] > * > *')`. Closing now

[2022-07-27 10:36] #15949 closed

[2022-07-27 11:09] vladkrasn commented on #7441
Will websites like https://nextjs.org/ ever become normal looking in Playwright's Webkit? Or is entirely up to the website?

[2022-07-27 11:28] mkgn opened #15986 "Configuring context properly at the beginning of test suite"
I am using Playwright with MSTest. As of now my test cases tries to follow page object pattern. So I have

    public class BasePage: PageTest
    {
        [TestInitialize]
        public async Task TestSetup()
        {
            Page.Context.Browser.NewContextAsync(new BrowserNewContextOptions
            {

            })
            await Context.Tracing.StartAsync(new TracingStartOptions

[2022-07-27 11:39] srikanthmasanala commented on #15969
Configure as below in playwright.config.ts

const config: PlaywrightTestConfig = {
  **testDir: "./Tests",**

[2022-07-27 12:08] Diokuz opened #15990 "[Feature] Dont remove old local browser"
The problem:

I have two project with playwright-test. One project just updated playwright-test to 1.24.1, and I had to run `npx playwright install`.

But when I switched to another project with playwright-test version 1.23.4, I failed to run tests there, because `npx playwright install` led to

[code]

browsers were removed!

Could you please do not remove browsers, when they actually still might

[2022-07-27 13:50] KarolKCzarnecki opened #15992 "[Question] how to check if my input text match with what I input ?"
Hello,
I have a question  ( sorry english isn't my  native  language ) .  when i add text in text field input. For example text_page.locator_text.fill("texttext"). i saved this form. When I open this form text is in there in text field but i want to playwright check it . I try expectect(text_page.locator).to_contain_text("texttext"),  to_have_text  and other but nothing work. Please help me , than

[2022-07-27 13:57] kbarendrecht commented on #11987
I understand this doesn't help anyone with this issue, but for the sake of providing feedback: It works out the box for me with WSLg on Windows 11 👍🏻

[2022-07-27 14:12] KarolKCzarnecki commented on #15992
I am using python

[2022-07-27 14:18] sand4rt commented on #15919
Awesome😄 I will have a look at ’setProps’!

Wondering why you would choose for '({ unmount }) => {}' and 'unmount(compoment)' instead of just calling 'component.unmount()'? The last option is easier to write and read right?

[2022-07-27 14:27] mxschmitt opened #15993 "Reentrant plugin detected trying to load"
Bisect: https://github.com/microsoft/playwright/compare/44e214a972866c29354f9bc35e5e3d3e6fb28d56..d02914fa3a789d854ea57080b16228f8b3981520

[code]

Bot link: https://github.com/microsoft/playwright-internal/runs/7330880344?check_suite_focus=true

Repro: rename playwright repo into playwright-internal. and run `npm run test -- --grep "@smoke" `

[2022-07-27 15:06] Ganeshcei opened #15995 "Getting "Failed to open browser on http://127.0.0.1:9323#?testId=b96b4b0675f4437bc9a4d10897410f898ad7a961-fc546356f638c7128f83693e85ebe46b7a875b8a" error message while running the script via github action(using docker image)"
![image](https://user-images.githubusercontent.com/107694949/181282196-f348781e-b209-4eef-98f6-96655007c71a.png)

[2022-07-27 15:07] Ganeshcei commented on #15995
Could any one please help me on this?

[2022-07-27 15:12] DiogoLopes99 commented on #15558
Done, sent it to you email :)

[2022-07-27 15:23] robertlagrant commented on #15707
Sorry I missed this. Thanks for the update; let me just add a final comment to see if I've understood correctly.

The issue is that when the automation clicks close, the element may still be present due to animation runs, until it eventually (from the perspective of a computer) is removed. If I expect the count to be 0, and it's still there, will the check retry until it passes?

[2022-07-27 15:49] TakesTheBiscuit commented on #11975
Up

[2022-07-27 15:51] #15977 closed

[2022-07-27 15:51] Aenz99 commented on #15969
That means that tests will only run in "./Tests" folder?

[2022-07-27 16:09] #15993 closed

[2022-07-27 17:05] dgozman commented on #14989
The fix was reverted in #15979 due to some breakages, so reopening.

[2022-07-27 17:28] mxschmitt commented on #15983
Yes it does support Electron 18.

Could you provide us a minimal reproducible what exactly is not working so we can run it locally and find out if the Electron version is the root-cause of it?

[2022-07-27 17:30] mxschmitt commented on #15982
We never set them, so its always `null`, see here about the expanded struct how it could look like in the future:

https://github.com/microsoft/playwright/blob/7bd72716f960ed11b48447c22f49a3b4ee453eb5/packages/playwright-core/src/server/har/har.ts#L153-L157

[2022-07-27 17:31] mxschmitt commented on #15985
When launching the browser, you can pass the proxy configuration instead by passing a CLI option. See [here](https://playwright.dev/docs/network#http-proxy).

[code]

Let us know if this works for you!

[2022-07-27 17:34] monkekode commented on #15985
I'm actually connecting to a separate browser with `connectOverCDP`, so I have nowhere to put that option in. I was under the impression that the `p.request.fetch` part should use the browser instance to make the request, it seems however that it's just a convenience method for node.js to do the request without touching the actual browser?

[2022-07-27 17:37] pavelfeldman commented on #15995
Is this happening on CI? It looks like you configured HTML report to force-open on CI for passed tests.

[2022-07-27 17:41] Nithos commented on #12168
First of all, yes this would make the testing more seamless so +1 for this addition or similar.

As to your followup, I'm not sure if the browser check is correct as the commands might be coming from the OS. For instance I'm trying to copy some text then paste them back. To do the paste I use `keyboard.press('${modifier}+KeyV')` which depending on the userAgent will result in either `Meta` or `Con

[2022-07-27 17:41] pavelfeldman commented on #15992
Please provide a snippet of code that we could use to reproduce your problem.

[2022-07-27 17:42] pavelfeldman commented on #15990
If there is another Playwright installation using those old browsers, they won't be removed. Only when you erase the old client they are collected.

[2022-07-27 17:43] pavelfeldman commented on #15981
There is no such feature. I'll leave it open to collect upvotes.

[2022-07-27 17:44] pavelfeldman commented on #15980
It does!

[2022-07-27 17:44] #15980 closed

[2022-07-27 17:45] pavelfeldman commented on #15985
Correct, the actual request is make by Node, but uses browser's cookie store.

[2022-07-27 17:45] #15985 closed

[2022-07-27 17:46] pavelfeldman commented on #15982
Those are optional in HAR, so we don't populate them.

[2022-07-27 17:46] #15982 closed

[2022-07-27 17:46] dgozman commented on #15962
It is not run after cleanup, it is finished after cleanup. That's to ensure that cleanup logging/errors/etc. gets to the report of some test and is not lost forever.

I hope this answers the question. Let me know if it does not.

[2022-07-27 17:46] #15962 closed

[2022-07-27 17:48] dgozman commented on #15965
You are right! This is an unfortunate situation. I think your proposed fix would be the best right now.

[2022-07-27 18:09] ericmatthys opened #15998 "[BUG] New Playwright releases break GitHub Actions cache"
**Context:**
- Playwright Version: Latest (14.1 now)
- Operating System: Linux (GitHub Actions Ubuntu runners)
- Node.js version: 16x
- Browser: Chromium

**Code Snippet**

GitHub Actions setup steps:

[code]

**Describe the bug**

When a new Playwright version is released, it seems like we run into problems with our GitHub Actions cache. Maybe the timing is coincidental and it's not actually rela

[2022-07-27 18:34] sachin6757 opened #15999 "[BUG] Unable to download file on grid"
**Context:**
- Playwright Version: 1.23.0
- Operating System: Mac
- Node.js version: v12.22.3
- Browser: Chromium
- Extra: Selenium Grid 4.3.0

**Bug Description**

We have testcases to test the download functionality from the application. We have used promise to wait for the download to verify if the file is getting downloaded.

When we run testcase locally it works fine. However when we try to r

[2022-07-27 18:58] yury-s commented on #15558
Thanks for sharing! I tried recording similar [trace.zip](https://github.com/microsoft/playwright/files/9202833/trace.zip) with that page and a simple test below but the problem doesn't reproduce (everything scrolls as expected). Can you try locally finding a page where the bug could be reproduced?

[code]

[2022-07-27 19:23] #15965 closed

[2022-07-27 20:07] pavelfeldman commented on #15969
https://playwright.dev/docs/next/api/class-testproject#test-project-test-dir

[2022-07-27 20:13] pavelfeldman commented on #15927
Could you provide the code snippet I could use to reproduce it, or at the very least a screenshot of your dom along with the expectations? Playwright's selectors pierce shadow dom seamlessly, but text is still taken from the light (usual) DOM, as opposed to the composed DOM (that browser uses to render the page after slot composition). That might explain what you are observing, but I'd like to mak

[2022-07-27 20:18] pavelfeldman commented on #15919
There is no `Locator.unmount`, so we would need a separate type for it. Let's see how many methods we will need and if we get a bunch, we can transition.

[2022-07-27 20:26] tonirecio commented on #11975
Up

[2022-07-27 21:02] pavelfeldman commented on #15998
I can't think of anything on our side that would cause it. You do run `pnpx playwright install --with-deps chromium`, which is installing the browser. That action should have a log saying whether it installed browser at the path mentioned in the error message.

[2022-07-27 21:03] pavelfeldman commented on #15999
We would need exact steps to follow in order to address this.

[2022-07-27 21:08] melb47 commented on #15371
I tried this for my situation and it is not resolving properly. When I query `document.querySelectorAll('#solutionSnapshotCard')` I get the correct amount returned, 18, as shown in the second picture. However, using
[code]
it only returns 10.

As shown in the first picture, the 18 selectors get divided into two different divs, and it appears that the Playwright code is only looking at the first se

[2022-07-27 21:38] ericmatthys commented on #15998
Could it be that `pnpx` is fetching the latest, which may not match the `playwright` version in `package.json`? Perhaps we should be using `pnpm exec` instead.

[code]

[2022-07-27 21:46] ericmatthys commented on #15998
That would explain the coincidental timing with new releases. Thanks for the response. I'll keep an eye on it with this change.

[code]

[2022-07-27 21:46] #15998 closed

[2022-07-27 22:11] pavelfeldman commented on #15934
Thanks for the report! isVisible was not working correctly for elements that are inside <button> (role=button in your case).

[2022-07-27 23:39] #15566 closed

[2022-07-28 02:19] rmunn opened #16005 "[BUG] APIRequestContext not honoring httpCredentials option"
Related to https://github.com/microsoft/playwright/issues/13772; I believe this is the same issue, and that the repro in this issue will solve #13772 as well. When a new browser context is created with the `httpCredentials` option, `context.request.get` (and `post` and the other methods too, though this repro only demonstrates `get`) is not sending an `Authorization` header. The `httpCredentials`

[2022-07-28 02:19] rmunn commented on #16005
This may also be the cause of the issue mentioned in https://stackoverflow.com/questions/73069593/playwright-basic-authentication-for-api-test.

[2022-07-28 02:24] rmunn commented on #13772
@dgozman - I believe #16005 is the same issue. I've included a repro which I managed to get boiled down to the bare minimum, so it should hopefully be pretty simple to isolate the cause and fix it.

[2022-07-28 03:17] #14310 closed

[2022-07-28 03:47] GHkmmm commented on #2767
Is there a solution to this problem now?

[2022-07-28 03:52] mmkal opened #16007 "[Feature] Different `actionTimeout` when spinner is showing"
It's not always possible to set a good `actionTimeout` that works everywhere, and in some cases, not even possible to set a good one for a _single_ action.

For example, let's say we have a step in our flow that sometimes takes 0.1s (say when some data is cached), sometimes takes up to 30s, and sometimes (while developing), errors out. Right now, our only choice is to set the timeout to `30_000` e

[2022-07-28 03:54] rmunn commented on #13772
On further investigation, this may not have the same cause as #16005. But it's worth using the same technique (running a simple HTTP echo service) to investigate whether the `extraHTTPHeaders` from the config are actually being added to the request in `request.get`, or whether they're being ignored the way `httpCredentials` is being ignored in #16005.

[2022-07-28 05:18] ivy-lli commented on #15566
Thanks a lot for your work! Playwright is an awesome piece of software 🎉

[2022-07-28 05:42] Diokuz commented on #15990
Why they were removed then?) I definitely have a project with playwright-test@1.23.4, and I debugged tests there last week.

Another scenario with just one project:

1. Update @playwright-test
2. Update browsers with npx playwright install
3. Face some problems (doesnt matter which ones)
4. Roll playwright-test back to previous version
5. Now you have to run npx playwright install and wait more ti

[2022-07-28 05:46] mrmckeb commented on #10437
@JoelEinbinder I was chatting with my colleagues about this today and wanted to share thoughts.

What we're doing now is running multiple shards (GitHub Actions), uploading each HTML report as an artifact, and then we have a final step that combines all the uploaded reports using `playwright-merge-html-reports`.

How we think an official solution might look would be that there's a new reporter whi

[2022-07-28 06:07] aaronxiang0926 commented on #15983
os: ubuntu linux
node: 16.16.0
electron: 18.3.5

**Error:**

✖ failed
      Error: function timed out, ensure the promise resolves within 5000 milliseconds
          at Timeout.<anonymous> (/home/lambo/workspace/webem-node16/webem/node_modules/@cucumber/cucumber/src/time.ts:53:14)
          at listOnTimeout (node:internal/timers:559:17)
          at processTimers (node:internal/timers:502:7)

my c

[2022-07-28 06:08] srikanthmasanala commented on #15969
Yes, all test files placed in the Tests folder will run.

[2022-07-28 06:15] rwoll opened #16991 "Actionability Check Error Missing Critical Information"
Compared to the command line and the HTML Report, the error message in the VSCode critically omits which specific element is intercepting pointer events making it hard to debug:

<img width="1246" alt="Screen Shot 2022-07-27 at 11 12 51 PM" src="https://user-images.githubusercontent.com/11915034/181433518-d688edb8-d384-461f-bb63-864bc14c497b.png">

The CLI and HTML Report helpfully has more inform

[2022-07-28 07:05] mariaceo opened #16008 "[Question] Different global setup per project"
I know it's been asked before in #14513, but reopening this question since it would really help us.
We want to split our tests in separate projects per teams. And each team has different setup, that we can't do separately per project at the moment, although that would be super useful. Because then we could run all the test of a team or all tests of all teams and have a single report for all result

[2022-07-28 07:09] SirCmX commented on #15992
Hey @KarolKCzarnecki , sometimes the field also has the text as a Value.
try await expect(page.locator('pseudoCode')).to_have_text("example")
or await expect(page.locator('pseudoCode')).to_have_value("example")

[2022-07-28 07:52] objones opened #16009 "[Question] How to stop page from automatically 'bringToFront()'-ing / becoming focused on open?"
I have some code, the spirit of which is to open and process a large number of links one after another, but never having more than e.g. 10 tabs open at a time, like so:

[code]

 Naturally, I want to just set this and forget it, and do other work while it's running, but I cannot, because every time a new page gets opened, it becomes active and focused, stealing focus away from whatever I would oth

[2022-07-28 08:25] Diokuz opened #16010 "[Question] test.skip inside a test – is that a correct way to skip the test?"
We have some strange behavior:

[code]

Test is actually __skipped__

[code]

We followed this doc to skip test and be able to set allure.description at the same time https://playwright.dev/docs/test-annotations#skip-a-test

Sometimes retry leads to ✓, sometimes to ✘.

Why test fails if it skipped?

Is there a better way to skip test and set description for allure report?

Playwright version is 1.

[2022-07-28 08:28] Diokuz commented on #16010
One more thing: we have `retries: 7`, and there is just one retry.

[2022-07-28 09:27] angelfx commented on #15981
It looks like very useful for allure integration.
I think this feature will help to integrate playwright tests with test plans.

[2022-07-28 09:32] Orake opened #16011 "I have recently started using playwright, the issue I face is, when I run tests in a file (spec) they pass, however when I run all files together some tests fail. I can provide more details if necessary. Any help appreciated very much"

[2022-07-28 09:56] 1hakusai1 commented on #14596
Same issue with v1.24.1

[2022-07-28 10:10] serembon commented on #15870
@aslushnikov I have a similar problem, with one worker your example works, but if more than one then the error remains

[2022-07-28 10:16] lynn-fisher opened #16015 "Submitting reports to Xray in globalTeardown script fails as reports are generated after teardown"
Hi there,

I running tests in playwright and submitting junit report generated to Jira Xray in globalTeardown however the report is not being generated before globalTeardown is called which means it will error first time, as no report is available yet, but second time it will take the report generated first time round.

I am using the xray configuration in playwright conf file as stated in Playwri

[2022-07-28 10:44] serembon commented on #15870
Addition: when setting up with 2 or more workers, the playwright opens new pages in the first context instead of creating new contexts. This happens both in CI and when run locally.

[2022-07-28 10:49] dimkin-eu commented on #15239
@rwoll, works like a charm :)
There is only 1 issue - if one `fixme`s whole spec with n tests it adds 1 to skipped, not n

[2022-07-28 10:54] dimkin-eu opened #16016 "[Feature] SuiteFunction lacks `fixme`"
one can amend `test.describe` to `test.describe.only` or `test.describe.skip` , but cant to `test.describe.fixme`
![Screenshot 2022-07-28 at 13 53 19](https://user-images.githubusercontent.com/7899764/181488821-9ec657a3-db07-429e-87f7-b70400ba58b4.png)

[2022-07-28 12:19] PfrLisBerndt opened #16019 "[BUG] Not able to assert text in text field"
**Context:**
- Playwright Version: 1.22.0, also tried 1.24.0
- Operating System: Windows

- Browser:  Chromium
- Extra: Using Java-API

**Code Snippet**

[code]
respectively
[code]

**Describe the bug**

Add any other details about the problem here.
![image](https://user-images.githubusercontent.com/43057926/181502999-b1f5f38f-ef9c-448e-843b-44b02d3abed2.png)

Output is:

14:00:43-07/28/22 ["com.m

[2022-07-28 12:21] dsumac commented on #11975
To avoid code repeating on "given/when/then" you can extract the steps like this:

[code]
and use it in tests:

[code]

[2022-07-28 12:31] dimkin-eu commented on #16019
because the text in input is stored in `value` ?

[2022-07-28 12:32] PfrLisBerndt commented on #16019
May be a point. How can I reach it?

[2022-07-28 12:44] #16019 closed

[2022-07-28 12:49] natalygoloborodko commented on #11975
Using test.step() doesn't solve the problem.
Many companies use protractor + cucumber and business wants to see those Gherkins as they were after switching to Playwright.
It may work for completely new projects, but for migrating existing ones... no.

[2022-07-28 13:09] sand4rt commented on #15919
Have you taken into account that the `setProps` will not automatically be type safe as well if i follow the current implementation of `unmount`?

[code]

instead of

[code]

In addition, [Testing Library](https://github.com/testing-library/react-testing-library/blob/main/types/index.d.ts#L14), [Vue Test Utils](https://test-utils.vuejs.org/api/#wrapper-methods) and partially [Cypress component test

[2022-07-28 13:39] mitalahir18 opened #16021 "I want to automate the test, where I am taking a screenshot of the tab/Window/Screen using Media recorder APIs. How can I do automate that ??"
Hello all, I am also facing a similar issue, Please help if anybody knows!!
I want to automate the test, where I am taking a screenshot of the tab/Window/Screen using Media recorder APIs.
Thanks in advance!

![image](https://user-images.githubusercontent.com/47550251/181519163-b40a8c69-9789-446b-b234-adb74ee3196b.png)

[2022-07-28 13:53] PavanMudigondaTR commented on #11975
Right now I need for two business units who are on proctractor and selenium with cucumber. So test.step is not solving it. I am trying WebdriverIO but it's not as good as playwright but I am not having choice other than going with WebdriverIO .

[2022-07-28 14:19] eatonjl commented on #15971
I tried adding it to the project:
[code]
But I still get an error at run stating that launch has an undefined value. At this point I would say you can close this and I will not worry about it. I was thinking there would be a lot less customizing to get the global setup to use the project browser. Thanks!

[2022-07-28 14:20] #15971 closed

[2022-07-28 14:32] eatonjl commented on #15957
OK, I will try to add some code here and what I am doing in TeamCity to recreate this. Let me know if you need something more or something different. The global setup and a lot of the config entries do not matter for the example test, but I am including them in here since they are in the code and global setup is being done before the example test runs.
I have this in TeamCity and I am using the fo

[2022-07-28 15:29] serembon commented on #15870
I have found the problem:

If `userDataDir` provided, for instance `/tmp/user-data-dir` - error occurs; if not - tests starts correct

https://gitlab.com/serembon/playwright-issue

`npm run test`

[2022-07-28 15:50] mxschmitt opened #16025 "[Bug] keyboard/frame tests don't work with Electron 17+"
Failing tests:

[code]

#### CDP Input.dispatchKeyEvent, Input.dispatchMouseEvent regression:

- Bisect range: https://github.com/electron/electron/compare/v18.0.0-nightly.20211123...v18.0.0-nightly.20211124
- Bad: 18.0.0-nightly.20211124 bad
- Good: 18.0.0-nightly.20211123: good
- note: Input.writeText gets called, but it's a noop for some reason
- Repro: https://gist.github.com/mxschmitt/8e85df8

[2022-07-28 15:55] dgozman commented on #15870
@serembon If you run with multiple workers, you should pass different `userDataDir` in each worker. It is impossible to run two browser instances pointing to the same user data dir at the same time.

[2022-07-28 16:08] jhyot commented on #15909
I also have seen "Browser has been closed" while closing, with Browserstack. It is not reproducible, just happens sometimes. We use Playwright Java, **1.22.0**.

[2022-07-28 16:12] jhyot commented on #15818
Seeing this with at least with headed mode (but not always reproducible), Playwright Java 1.22.0, M1 Pro Macbook, macOs 12.4

The crash log seems similar, but not exactly the same:
[code]

[2022-07-28 16:56] Camo30 commented on #13283
@rwoll Same issue here. Is there a way to identify the browser name and version which is currently used while running the tests? Tried with a custom reporter but there is no information available.

[2022-07-28 17:05] Camo30 commented on #9217
@dgozman: In my case `suite.project()` always returns undefined. Any thoughts?

[2022-07-28 17:26] dgozman commented on #9217
@Camo30 Perhaps you are calling it on the root suite? Check out [the docs](https://playwright.dev/docs/api/class-suite#suite-project).

[2022-07-28 17:28] jhyot opened #16027 "[BUG] Using page.route with postData size > 7.4k fails on Firefox"
**Context:**
- Playwright Version: [what Playwright version do you use?] 1.22.0 (Java)
- Operating System: [e.g. Windows, Linux or Mac] Mac
- Node.js version: [e.g. 12.22, 14.6] Using Java runner
- Browser: [e.g. All, Chromium, Firefox, WebKit] Firefox
- Extra: [any specific details about your environment]

**Code Snippet**
Java:
[code]

**Describe the bug**

After being processed by the route sho

[2022-07-28 17:29] pavelfeldman commented on #16015
Today, you would need to add an additional [reporter](https://playwright.dev/docs/next/test-reporters#third-party-reporter-showcase), that will send your reports in the `onEnd` async callback.

[2022-07-28 17:31] pavelfeldman commented on #16011
This would typically mean your tests are flaky and non-deterministic. Use https://playwright.dev/docs/next/test-assertions to prevent the flakiness.

[2022-07-28 17:32] Prinzhorn commented on #5905
To safe anyone from going through the same rabbit hole I just did, this works with the latest playwright 1.24.1:

[code]

From https://github.com/microsoft/playwright/issues/13267#issuecomment-1086786960 and https://github.com/microsoft/playwright/pull/13280

[2022-07-28 17:32] pavelfeldman commented on #16021
This dialog is not a part of the web page, it is a browser dialog for sharing screen. Playwright does not allow testing native browser parts, it only tests web pages.

[2022-07-28 17:32] #16021 closed

[2022-07-28 17:34] pavelfeldman commented on #16010
It is Ok to skip the test this way, maybe your fixtures are flaky and are throwing sometimes, so it never comes to the test.skip().

[2022-07-28 17:39] pavelfeldman commented on #16009
New pages will steal focus in the headed mode. It looks like you should uses headless mode instead? You are also running code on 10 pages at a time and are reusing the browser context for several navigation - it'll be flaky and leaky because context keeps navigation data for all pages. You should create a browser per parallel track, and create browser context for each page navigation.

[2022-07-28 17:44] sand4rt commented on #15889
Unfortunately, it looked like the first test passed but it wasn't.. Did some debugging and found out that `window.history.pushState()` doesn't trigger the Vue router. So this won't work:

[code]

Created an [example application](https://sand4rt.github.io/playwright-component-testing-vue/) to illustrate this. Code can be viewed [here](https://github.com/sand4rt/playwright-component-testing-vue/blob

[2022-07-28 17:51] pavelfeldman commented on #16007
This would be tricky since it might be that spinner shows up after the action has started. As in it starts clicking `foo1` and while it is waiting for the element, spinner shows up. Now we need to re-install all the watchdogs, etc. I don't think it is technically feasible.

As I understand, the contract for your app is that within 5 seconds I either see a spinner or I see an error, so it might mak

[2022-07-28 17:54] promer94 commented on #14380
[code]

Find a way to use react production profiling in component test

[2022-07-28 17:57] pavelfeldman commented on #15662
Let's make sure non-stalling evaluate is not stalling and allow an explicit nowait option that disables caret waiting.

[2022-07-28 17:58] pavelfeldman commented on #15870
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-28 17:58] #15870 closed

[2022-07-28 17:59] pavelfeldman commented on #15878
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-28 17:59] #15878 closed

[2022-07-28 18:03] pavelfeldman commented on #15889
I'm not surprised - the way routers work is their implementation detail. The contract is that they would give you a way to create a link and that link would work. So the test for it would suggest that you are clicking the link instead.

[2022-07-28 18:04] pavelfeldman commented on #15891
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-28 18:04] pavelfeldman commented on #15903
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-28 18:04] #15903 closed

[2022-07-28 18:05] pavelfeldman commented on #15912
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-28 18:05] #15912 closed

[2022-07-28 18:06] pavelfeldman commented on #15925
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-28 18:06] #15925 closed

[2022-07-28 18:09] pavelfeldman commented on #15937
1. I don't see where you are using the serial mode.
2. Your Promise.all usage is wrong, they have extra awaits, should be:

[code]

[2022-07-28 18:13] pavelfeldman commented on #15957
Unfortunately, this is not something we can reproduces, it is full of code we don't have access to. Does it work when you run it locally? So is the problem localized to the Docker+Firefox? Are you running it on TeamCity? Our Docker tests run on GHA.

[2022-07-28 18:13] pavelfeldman commented on #15969
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-28 18:13] #15969 closed

[2022-07-28 18:13] pavelfeldman commented on #15970
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-28 18:13] #15970 closed

[2022-07-28 18:14] pavelfeldman commented on #15937
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-28 18:14] #15937 closed

[2022-07-28 18:15] pavelfeldman commented on #15972
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-28 18:15] #15972 closed

[2022-07-28 18:21] sachin6757 commented on #15999
@pavelfeldman , We are using [robotframework browser](https://marketsquare.github.io/robotframework-browser) library.  Please find steps below:

1. Start selenium grid using docker swarm.
2. Set SELENIUM_REMOTE_URL=http://x.x.x.x:4444/wd/hub
3. Execute testcase which has promise to validate download file
4. Verify downloaded file should be present in path specified

Here testcase is failing at ste

[2022-07-28 18:22] pavelfeldman commented on #15990
- Why they were removed then?

I don't know maybe you deleted that project. If you can repro the problem, please send us the steps that we can follow.

- Another scenario with just one project

You can set `PLAYWRIGHT_SKIP_BROWSER_GC=1` env variable to skip the old browser deletion!

[2022-07-28 18:24] eatonjl commented on #15957
I can set it up so you have access to everything. The only thing I can't set up for you is TeamCity. It works locally but I am not using the Playwright Docker image when doing that.
What do you need from me so you can investigate further?
And have you been able to try running any test in Firefox with the mcr.microsoft.com/playwright:v1.24.0-focal docker image successfully?

[2022-07-28 19:46] dstampher opened #16031 "[BUG] Navigation failed because page was closed!"
## System:
 - OS: Windows 10 10.0.19044
 - Memory: 5.73 GB / 15.73 GB
## Binaries:
 - Node: 18.4.0 - C:\Program Files\nodejs\node.EXE
 - Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
 - npm: 8.12.1 - C:\Program Files\nodejs\npm.CMD
## Languages:
 - Bash: 5.0.16 - C:\Windows\system32\bash.EXE
## npmPackages:
 - playwright: ^1.24.1 => 1.24.1
 - playwright-extra: ^4.3.3 => 4.3.3

**Code Sni

[2022-07-28 19:51] SimonGolms commented on #15912
Thanks for the hint and the help, learned something new today :)

[2022-07-28 19:55] dgozman commented on #15662
I looked at the logs. `Page.captureScreenshot` CDP command is taking more than 5 seconds. Maybe it is hanging, or maybe it's just slow - we don't know unfortunately.

Fixing this issue requires debugging chromium on android, with a local repro that includes this specific webview app. This is a lot of setup, so I don't think we'll be prioritizing this issue high enough in the nearest future.

For n

[2022-07-28 19:57] #14989 closed

[2022-07-28 20:44] mshre001 commented on #15937
Thank you so much for your help,  this seems to have worked! I do need to get a better understanding of Promise  in pw.

[2022-07-28 21:01] pavelfeldman commented on #16031
You can't access internal pages with Playwright.

[2022-07-28 21:01] #16031 closed

[2022-07-28 21:05] dstampher commented on #16031
@pavelfeldman Ah, would be great if the error message was a bit more explicit.  Currently it says basically nothing :)  Just that the page closed.
Also, since Brave does not have launch flags for certain options that I need to set, and I cannot access internal pages with Playwright (I was able to with Puppeteer), I suppose there is no way to set the options that I need with Playwright?

[2022-07-28 21:07] #15798 closed

[2022-07-28 21:09] #15934 closed

[2022-07-28 21:41] mxschmitt commented on #15983
Can you provide us a repro which we can run locally?

I can our tests on Electron 18 and they pass for me (except unrelated failures where we work separately on it. https://github.com/microsoft/playwright/issues/16025 - they are not the cause of the timeout tho).

[2022-07-28 22:19] mEklavya opened #16038 "Playwright Java - is there a way to use system node version ?"
Playwright.create() is failing as it is installing the node.exe in the temp directory which the user is not allowed to run. Is there a way not to use this temp path and use system node js installed in program files

![image](https://user-images.githubusercontent.com/42370888/181646341-b7fa9419-e853-491d-9dca-d13843007868.png)

[2022-07-28 22:27] objones commented on #16009
Thanks, this will suffice I suppose.

[2022-07-28 22:27] #16009 closed

[2022-07-28 22:34] rwoll commented on #15239
@dimkin-eu Can you elaborate with a code snippet? I'm not sure I follow. Depending on where the skip/fixme is used certain code is not run. Some examples in the tests of the various cases: https://github.com/microsoft/playwright/pull/15277/files

[2022-07-28 22:35] Misha31 opened #16039 "[Question] CSS > position:absolute not visible"
Hello.

Faced the problem of finding links with absolute positioning.
Example page:

[code]

This page looks like this - https://prnt.sc/GwnoZ5S_r7bU

My function:
[code]

The result of the function execution:
[code]

For the first three links, my script can't click.
How can you tell if a link is hidden?

[2022-07-28 22:44] yury-s commented on #16038
No, the node.js and the driver files is essential part of Playwright. You can configure alternative location of the temp directory by providing `playwright.driver.tmpdir` java system property (see https://github.com/microsoft/playwright-java/issues/728 for more details). Would that work for you?

[2022-07-28 22:48] #9888 closed

[2022-07-28 22:56] romanzy-1612 commented on #15927
You can find repo with test results included [here](https://github.com/romanzy-1612/playwright-issue-15927)

I have done assertion on the class, so the web-component is located correctly.

Many thanks!

[2022-07-28 23:19] ryanjduffy commented on #13078
:wave: Running into this error on `@playwright/test@1.19.2` and we're not able to upgrade beyond that right now. Any way to work around it in the interim?

[2022-07-28 23:57] dgozman commented on #13078
See [this comment](https://github.com/microsoft/playwright/issues/13078#issuecomment-1082271101).

[2022-07-29 01:49] FrankWang117 commented on #15925
@pavelfeldman thx a lot,it is my page bug.

[2022-07-29 05:51] mitalahir18 commented on #16021
Thanks, @pavelfeldman for the confirmation we also have doubt about it but I just want to confirm it.

[2022-07-29 06:21] nelypetrova opened #16041 "[Question] Error: Error: elementHandle.evaluate: TypeError: Map is not a constructor at parseEvaluationResultValue2"
Hi guys,
After an update, I have an issue with some tests that I am pretty sure they were written correctly and they successfully passed. Now, I don't know what I did but when I run the tests they failed with an error Error: Error: elementHandle.evaluate: TypeError: Map is not a constructor
    at parseEvaluationResultValue2 (<anonymous>:48:84)
   It happened on expect state. Here's the test:

![i

[2022-07-29 06:36] mahula commented on #11975
Up

[2022-07-29 07:28] changchichung opened #16042 "[Question] same test file in different path , one works , the other one running 0 test"
I create a test file with codegen and store it in the sub-directory of the working DIR
then run test but no tests found
[code]
then I copy the test file into the tests sub-folder
then it works
[code]

is that a "normal" behavior ?
should I store all ests files in tests folder ?

[2022-07-29 07:38] vijaydubber opened #16043 "[Feature] Ability to attach screenshots / videos / traces captured in globalSetup / teardown to html report"
we have testInfo.attach(), but there won't be any tests when globalSetup is running. So won't be able to attach at that level.

This would be especially useful when running tests in CI, because the HTML will show all the tests as skipped, and won't have any information on why it was skipped.

[2022-07-29 08:32] autTestUser opened #16044 "playwright-transform-cache causes permission issue when different users run tests"
playwright-version: **1.21.1**
OS: **Linux (Ubuntu 20.04)**

If the same test case is run by different users, there is a permission issue as shown below. Whoever first runs the test would have the proper permission since the folders and files under **/tmp/playwright-transform-cache** would be created by that user. Is there a way to redirect this cache to each user's home directory instead of in th

[2022-07-29 08:45] serembon commented on #11833
Feature request reached 65 likes. Any chance of being included in upcoming releases?

[2022-07-29 10:14] thebencourt commented on #15949
@pavelfeldman this used to work in v1.23.4. Is it an intentional change or a regression?

[2022-07-29 10:21] sumitsg004 opened #16045 "[Question] \node_modules\playwright-core\bin\PrintDeps.exe - What is the purpose of this file ?"
Hi Team,

Our security team is deducting this as suspicious malicious file. Can you please explain the purpose of this file in the playwright-core.

Thanks in Advance.

[2022-07-29 10:56] lynn-fisher commented on #16015
Thank you, Is there a way to use/pass the config to the customer reporter? I need to use the project channel information from the config in the submission to Xray to say if tests where run in Chrome/Edge etc. I had this working in globalTeardown but not sure how to access same information in custom reporter.

Thanks

[2022-07-29 11:20] mmkal commented on #16007
It's more like, there are two "ok" states the app can get into: 1) success quickly (on cache it), 2) success slowly on cache miss. There are also various "not ok" states - which is why we're using playwright in the first place, the errors I'm talking about are just bugs, not expected app state (obviously we aim to catch these _before_ they get into our main branch).

But yes I think something like

[2022-07-29 11:24] KarolKCzarnecki commented on #15992
hey thank you !!! I almost positive i tr it before but no matter it is work

[2022-07-29 11:24] #15992 closed

[2022-07-29 11:51] Ghislain89 commented on #15999
I'm not entirely sure this is a bug, likely a missing feature.  Your browser is running in a docker container, whilst the test runner is likely running on a different container/host/virtual machine. Your assertion is by default looking at the file path on the host that is executing the tests.

I guess if Playwright wants to support this they'll have to somehow interface with Selenium to fetch the

[2022-07-29 11:52] Ghislain89 commented on #16042
I think Playwright looks for existing projects in your playwright.config.ts. Have you defined a project there?

[2022-07-29 13:33] leotg130 opened #16048 "[BUG] Click misses target due to animation"
**Context:**
- Playwright Version: 1.22.1
- Operating System: Linux
- Node.js version: 16.13.2
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

Seems like PW is not waiting for animation to finish before trying to click an element, causing it to click wrong element. Due to the 100 iterations within the test it fails quite reliably, so this doesn't happen very often in the above

[2022-07-29 13:59] Stratoscop commented on #12096
upvote for electron support!

[2022-07-29 14:47] ElliottDevlinPA opened #16051 "[Question] HTML Reports not displaying correctly on Jenkins"
Hi,

I'm currently having an issue with the built-in HTML Playwright reporter and Jenkins. When a run completes on Jenkins and I try to view the report I get a blank screen (see below image). I am able to download a zip of report, but ideally I'd like it to be displayed in Jenkins for quick reference.

I have Implemented the Publish HTML plugin in my Jenkinsfile which I believe should allow the re

[2022-07-29 14:53] jfp1992 commented on #6319
Also having this issue, we need to run our tests linearly and I would save a lot of execution time keeping one browser session. But over time the memory leak gets too much and the CI environment locks up because it fills up the memory.

[2022-07-29 15:13] ElliottDevlinPA commented on #15009
@ltsuda apologies for the delay in responding - your suggestion does indeed solve my issue. Thank you.

[2022-07-29 15:18] afaheyguideline commented on #13038
I am seeing this issue as well It happens randomly and I can not reproduce.
  browser.newContext: Browser closed.

[2022-07-29 15:26] pavelfeldman commented on #16015
Yes, there is: https://playwright.dev/docs/next/api/class-reporter#reporter-on-begin

[2022-07-29 15:41] pavelfeldman commented on #16051
If your report opens locally, but fails to open when served from Jenkins, it is most likely a deployment problem. Opening Chrome DevTools and looking at the Console is likely to give you a clue on what went wrong.

[2022-07-29 16:19] pavelfeldman commented on #16045
Browsers need certain runtime dependencies to operate. For example certain Visual Studio runtime dlls. If we start the browser on the system with missing dependencies, it'll fail. This executable is identifying and printing the missing runtime dependencies of the executables.

[2022-07-29 16:22] pavelfeldman commented on #16042
Your config file `playwright.config.ts` is probably pointing at the `tests` folder.

[2022-07-29 16:24] pavelfeldman commented on #16041
The site that you are testing is overwriting the built-in `Map` class.

[2022-07-29 16:29] ElliottDevlinPA commented on #16051
Hi @pavelfeldman  - thank you for your response.

This is the error I get in the console....

`Blocked script execution in 'https://jenkins.pa.media/job/Content/job/Playwright%20WordPress%20POC/job/main/250/Playwright_20Test_20Report/index.html' because the document's frame is sandboxed and the 'allow-scripts' permission is not set.`

`Refused to apply inline style because it violates the followin

[2022-07-29 16:34] pavelfeldman commented on #16039
This is consistent with our visibility definition: https://playwright.dev/docs/actionability#visible

[2022-07-29 16:39] pavelfeldman commented on #15942
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-29 16:39] #15942 closed

[2022-07-29 16:40] pavelfeldman commented on #15951
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-29 16:40] pavelfeldman commented on #15952
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-29 16:40] #15952 closed

[2022-07-29 16:43] pavelfeldman commented on #15990
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-29 16:44] Misha31 commented on #16039
Please tell me how to determine that this block of links is hidden?

[2022-07-29 16:45] pavelfeldman commented on #15957
Yes, we have internal bots that run all the tests on Docker, including Firefox.

Given the above, our best hope is your bisecting the problem and helping us localize the use case.

[2022-07-29 16:48] eatonjl commented on #15957
@pavelfeldman I am trying to run the tests locally using the Docker image so I can get TeamCity out of the mix and confirm whether or not it is part of the problem. But I am not sure how to get Playwright to use the Docker image instead of the locally installed browsers. How do I do that?

[2022-07-29 16:59] eatonjl commented on #15957
Also, is there a way to downgrade the Playwright version so I can see if this is unique to this build?

[2022-07-29 17:00] pavelfeldman commented on #16039
You could check `locator.boundingBox()` manually to compare to the viewport boundaries.

[2022-07-29 17:01] nelypetrova commented on #16041
Thank you for the answer!
I think the developers didn't make changes in this page. The tests passed successfully not long time ago. Sadly, even your demo example tests failed. Am I missing something to install?
![image](https://user-images.githubusercontent.com/78469204/181808556-9c9a215b-9818-455f-9f30-5393d6eb3f5e.png)

[2022-07-29 17:01] pavelfeldman commented on #15957
Same way you do it on TeamCity, but locally? Everything needs to be inside the docker.

[2022-07-29 17:05] eatonjl commented on #15957
Hmm, I will need to figure out how to set that up. In the meantime I am rolling back the version I had when it was working and confirm whether or not I still have the issue. I will let you know what I find.

[2022-07-29 17:18] pavelfeldman commented on #16007
That's a fine strategy. In your case, error handling is more of an optimization: you know if the error showed up, there is no point in waiting for the happy path to happen for 30 seconds, you can bail out immediately. As an option, you could do something like `page.waitFor('.error').then(() => throw new Error())`. That'll produce an unhandled exception that will stop the test. I.e. keep your happy

[2022-07-29 17:29] Nav-2d commented on #16051
Hi @ElliottDevlinPA - Here is the related issue that will help you: https://github.com/microsoft/playwright/issues/10274

[2022-07-29 17:30] debs-obrien opened #16057 "[BUG] Example test works on chromium and webkit but fails on firefox"
**Context:**
- Playwright Version: latest
- Operating System:  Mac Monterey version 12.4 (2019)
- Node.js version: 18.7
- Browser: All
- Extra:

**Describe the bug**

Installing Playwright using npm init command and running the test as per getting started guide and test fails on Firefox on line 4 of test which is await page.goto('https://playwright.dev/')

**Error messages show:**

page.goto: SEC_

[2022-07-29 17:34] Misha31 commented on #16039
Thanks for your help, this method will work.

[code]

[2022-07-29 17:38] joe733 opened #16062 "[BUG] `response.status_text` is empty on Chromium"
**Context:**
- Playwright Version: 1.24.0
- Operating System: Linux
- Python version: 3.10.5
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

On Chromium `response.status_text` is always empty.

[2022-07-29 17:38] pavelfeldman commented on #16057
This suggests that your machine does not recognize the trusted certificate authorities. Did you update your machine?

[2022-07-29 17:48] debs-obrien commented on #16057
Interesting. I see another software update from Mac so will try that and get back to you.

[2022-07-29 17:56] eatonjl commented on #15957
So, I was able to get it to work by adding "chown root ." above "npx playwright test tests/smoketestshould --project=firefox" in the shell script. I am not sure why Firefox needs that while Chromium and Safari don't.

[2022-07-29 18:04] debs-obrien commented on #16057
Updating to latest version did not fix the issue. Still get same error

[2022-07-29 18:14] debs-obrien commented on #16057
Ohh I see, running in debug mode gives me an error saying Did not connect: Potential Security Issue. Any idea how to fix that issue. So the test can run. Is it an issue with the website, my computer, browser ? Not on corporate network and not using anti-virus

[2022-07-29 18:36] debs-obrien commented on #16057
When running in debug mode and stepping through:
<img width="1648" alt="Screenshot 2022-07-29 at 20 35 25" src="https://user-images.githubusercontent.com/13063165/181823327-a127cfc6-70cb-400d-8b1c-0eaf50299220.png">

[2022-07-29 18:39] pavelfeldman commented on #16041
Those seem to be unrelated. In the first case, Map object is overwritten. This is bad, because it would break the page itself should it be using Maps, so you can consider that page having a bug. A developer can evaluate 'Map' in console and see what's going on there.

The second one seems unrelated, I can't reproduce it, I'd need exact steps to repro. Most likely you need to run `npx playwright in

[2022-07-29 18:46] #15950 closed

[2022-07-29 18:48] pavelfeldman commented on #15919
We have until v1.25 branch point to make this decision. I agree with your points, we can put those calls on the Locator subclass. The unfortunate bit is that they might end up being different for each framework, but I guess we can live with it. Do you want to send a patch that does it?

[2022-07-29 18:51] pavelfeldman commented on #16057
I searched for the error message and here is what I got: https://windowsreport.com/firefox-not-connect-potential-security-issue/

[2022-07-29 19:17] rogerpadilla commented on #739
Still not working

[2022-07-29 19:26] vladkrasn opened #16061 "[BUG] testConfig.use.viewport doesn't work"
**Context:**
- Playwright Version: 1.24.2
- Operating System: Windows 11
- Node.js version: 16.15.1
- Browser: All

**Code Snippet**

[code]
[code]

**Describe the bug**

Can't set viewport size in playwright.config.ts file. page.setViewportSize() works though

[2022-07-29 19:44] #15086 closed

[2022-07-29 19:44] #16016 closed

[2022-07-29 19:48] rinogo commented on #15086
Awesome - Thanks, @mxschmitt, @rwoll, @whgfu, @dgozman, and @pavelfeldman! You guys do great work on Playwright. 🙌

[2022-07-29 20:01] AlexDaniel commented on #15951
@pavelfeldman what information do you need? Basically, the point of the ticket is that Playwright docs should explain how to add playwright-related expect extensions (anything that works with the DOM). Any simple example will do.

[2022-07-29 20:19] arpowers commented on #6319
@aslushnikov whats the status of the memory leak fix?

In our case, we get memory leaking on a per context basis even if we close context AND the browser itself. No clear way of restoring it to baseline, so we are triggering a health check fail. Super duper hacky trying to run Playwright in production ...

 Seems like there is a fix though, has it been pushed?

<img width="530" alt="Screen Shot 20

[2022-07-29 20:48] rwoll commented on #16062
If you go to `https://stackoverflow.com/404` in stock FF, CR, and WK, and then run: `fetch("https://stackoverflow.com/404").then(r => console.log(r.statusText))` you'll see Firefox is the only one to have `statusText` in this case (site doesn't set it explicitly), so I believe Playwright's behavior here is appropriate.

/cc @pavelfeldman

[2022-07-29 20:51] Misha31 commented on #16039
Now I encountered the following problem, some of the links are hidden by the "opacity:0" property.
Tried via "XPath" - page.locator("//a[not(contains(@style, 'opacity:0'))]"), failed, this property has "div" block, not "a".
On other sites, it may not be a "div", so it's better not to use it.
Can you help solve the problem?

[2022-07-29 21:28] debs-obrien commented on #16057
Test now working after removing antivirus

[2022-07-29 21:28] #16057 closed

[2022-07-29 21:34] debs-obrien commented on #15960
For now I can see this for timeout in .NET documentation.
https://playwright.dev/dotnet/docs/next/api/class-browsercontext#browser-context-set-default-timeout although there are no example code blocks for it

@mxschmitt is there anything we can do to improve this

[2022-07-29 21:38] pavelfeldman commented on #16061
Is this your full config, or do you have something like

[code]
in your projects section? Noe that device includes the viewport definition, so in this case you overwrite your value with it.

[2022-07-29 22:00] yury-s commented on #16027
@jhyot I couldn't reproduce it neither in node js nor in java. Could it be that the server is trimming the request? If not, we'll need a full reproducible example.

Js snippet:
[code]

Java snippet:
[code]

[2022-07-29 22:15] yury-s commented on #15550
The page in that project doesn't print anything to the console. Did you mean a different page?

[2022-07-29 22:16] #15614 closed

[2022-07-30 00:48] muhammad-saleh commented on #15802
Is it possible to do something here instead of just removing the diff tab?
Maybe show the diff between the two images and fill the shorter one with solid color?
Sometimes we update the UI and we could increase/decrease a margin that could affect the page's height.

Maybe at least keep the diff slider while aligning the actual and the expected screenshots to the top?

[2022-07-30 00:53] muhammad-saleh opened #16069 "[Feature] In the HTML report, Make the tabbed pane for the screenshot comparison sticky"
Related to:
https://github.com/microsoft/playwright/issues/15802

![image](https://user-images.githubusercontent.com/1510608/181863894-4bd888ff-674c-4397-9be0-08b39b7981f3.png)

Since the diff tab might not always be visible and I would like to compare the Actual vs Expected images, It would be nice to make this bar sticky while you scroll down. Even better to maintain the page scroll position whe

[2022-07-30 01:57] joe733 commented on #16062
Running the above command & looking at network headers in the inspect tool, I see `statusText` for both Firefox and WebKit.

Firefox `102.0 (Nightly Build) (64-bit)`:

![image](https://user-images.githubusercontent.com/38415384/181865565-096943a4-4732-491d-a67c-77ffcb1a0aac.png)

WebKit:

![image](https://user-images.githubusercontent.com/38415384/181865786-71e3e1d7-ddfd-4297-a6a2-5ea3cbf78196.png

[2022-07-30 02:30] dgozman commented on #15802
@muhammad-saleh Could you please share more details about your usecase?

Playwright has a fixed viewport by default, so changing page layout should not affect the size of `page.screenshot()`. Are you doing something special here?

[2022-07-30 03:00] muhammad-saleh commented on #15802
@dgozman My use case is that in our org we have a staging website and each PR gets its own environment and url. What I need is to do a visual regression test between the changes in the PR vs. the staging env. using full page screenshots.
When in the PR we change the styles and reduce for example overall margins or font size, this result that the actual and the expected screenshots have different h

[2022-07-30 06:50] y0utubeperson1 opened #16071 "[Question] Autoanswer Questions On Create"
Upon running:
[code]
I am prompted with the questions

[code]

I want to know if theres a way to bypass this or set these answers as a command

[2022-07-30 07:10] vladkrasn commented on #16061
Thank you, didn't know it did that

[2022-07-30 07:10] #16061 closed

[2022-07-30 14:11] ncaq commented on #11932
I solve to env of extends.

[code]

[2022-07-30 14:37] dtinth opened #16994 "`page.pause()` does not work when debugging tests via VS Code"
Steps to reproduce

1. Create a Playwright project (Test: Install Playwright)
2. Add `await page.pause()` to `tests/example.spec.ts`

   <img width="568" alt="image" src="https://user-images.githubusercontent.com/193136/181919058-31ae532e-2f33-485e-b0b0-c41b9524000e.png">

3. Right click and **Debug Test**

    <img width="324" alt="image" src="https://user-images.githubusercontent.com/193136/1819

[2022-07-30 15:58] lswnsn commented on #15983
hello, i test if git clone https://github.com/electron/electron-quick-start,  use latest playwright, latest electron version, we can get firstWindow(), but this electron-quick-start main.js is very simple.

i use playwright simple introduction test code. e.g:

const { _electron: electron } = require('playwright');

(async () => {
    // Launch Electron app.
    const electronApp = await electron.l

[2022-07-30 16:40] aalcatelz opened #16072 "[BUG] page.url() - doesn't return actual url"
**Context:**
- Playwright Version: 1.24
- Operating System: Windows
- Node.js version: 16.16.0
- Browser: Chromium

**Code Snippet**
[code]
page.url() - doesn't return actual url

[2022-07-30 18:58] Mattwmaster58 opened #16108 "[BUG] "Unable to retrieve content because the page is navigating and changing the content." after reload() and content() in sequence"
**Context:**
- Playwright Version: 1.24.0 (also observed in 1.21)
- Operating System: Windows, Debian
- Python version: 3.8
- Browser: only Chrome based (both chromium and chrome)
- Extra: does not occur with `reload(wait_until="networkidle")`

**Code Snippet**

[code]

**Describe the bug**

[code]
Related: microsoft/playwright-python#1454

[2022-07-30 19:23] TaylorMichaelHall opened #16074 "[Question] Apple M1 defaults to 1 worker per thread"
We recently updated from Playwright/test 1.19.0 to 1.24.1 and I noticed that the Playwright test runner now defaults to using 8 workers on my 8-core M1 Macs when it used to default to 4 workers on the same machines.

I expect to get 1 worker for every 2 threads, but since M1 isn't hyperthreaded I'm now getting 1 worker for every 1 thread on this chip. I haven't found it to be unstable so far but I

[2022-07-31 03:46] 1355692540 opened #16076 "[Question] java -jar but timeout exception"
it is ok when l  run code in idea.but  when l make it as a jar and run as java -jar .it seems the brower cant be instance

[2022-07-31 10:03] psech opened #16077 "[Question] How to properly set custom userAgent"
Playwright node `"@playwright/test": "^1.24.2",`
OS: `macOS Monterey 12.4`
project
[code]

Why `use.userAgent` or `use.contextOptions.userAgent` do not work?

### I have a working solution, see at the bottom.

The [document](https://playwright.dev/docs/test-configuration#explicit-context-creation-and-option-inheritance) says

[code]

Whenever I do so
[code]

or as suggested in StackOverflow
[code]

[2022-07-31 17:33] pavelfeldman commented on #15907
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-31 17:33] #15907 closed

[2022-07-31 17:34] pavelfeldman commented on #15953
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-31 17:34] #15953 closed

[2022-07-31 17:36] pavelfeldman commented on #15957
It might be due to how Firefox stores its files in the temporary partition, and depending on the docker setup it might work or not. I'll close this ticket since it started with unrelated issue, but please feel free to file a new one with the narrowed-down problem if you think we should act on it.

[2022-07-31 17:36] #15957 closed

[2022-07-31 17:36] #15990 closed

[2022-07-31 17:36] pavelfeldman commented on #15995
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-07-31 17:36] #15995 closed

[2022-07-31 17:36] pavelfeldman commented on #16007
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:36] #16007 closed

[2022-07-31 17:37] pavelfeldman commented on #16010
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:37] #16010 closed

[2022-07-31 17:37] pavelfeldman commented on #16015
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:37] #16015 closed

[2022-07-31 17:44] pavelfeldman commented on #16039
You seem to be using xpath against a JS property rather than an attribute. You can do something like

[code]

checking present value can be done with:

[code]

[2022-07-31 17:44] pavelfeldman commented on #16042
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:44] #16042 closed

[2022-07-31 17:44] pavelfeldman commented on #16051
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:44] #16051 closed

[2022-07-31 17:47] pavelfeldman commented on #16062
These tools are being friendly to you and offer default status text values for respective codes. In reality, this site does not return status text, you can use low level network tools to check it, for example, run:

[code]

[2022-07-31 17:47] pavelfeldman commented on #16062
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:47] #16062 closed

[2022-07-31 17:48] pavelfeldman commented on #16045
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:48] #16045 closed

[2022-07-31 17:49] eatonjl commented on #15957
Will do. Thanks!

[2022-07-31 17:51] pavelfeldman commented on #16071
create-playwright is intended to be used as an interactive tool, but you can use `yarn create playwright --quiet` to accept the default values.

[2022-07-31 17:51] pavelfeldman commented on #16071
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:51] #16071 closed

[2022-07-31 17:53] pavelfeldman commented on #16072
This is as designed, Playwright assumes that it controls the navigation flow, so the manual navigations are not reflected in the `page.url()` value. You can use `await page.evaluate(() => window.location.href)` to obtain the current URL as a workaround for the hybrid and non-testing scenarios.

[2022-07-31 17:53] pavelfeldman commented on #16072
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-07-31 17:53] #16072 closed

[2022-07-31 17:56] pavelfeldman commented on #16074
It was intentional. Our experiments showed that M1 alloed a bit more stress than we typically put on the hyperthreaded Intel. When you are saying unstable, what exactly do you mean? Could it be that additional stress surfaced existing race conditions that were previously manifesting rarely?

[2022-07-31 17:59] pavelfeldman commented on #16077
This is how JavaScript works, the [spread operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) below will extract all the properties from the device, including the `userAgent`, and will overwrite your global value in each project.

[code]

You can do the following to prevent it from happening:

[code]

[2022-07-31 20:50] y0utubeperson1 opened #16080 "[Question] Autoanswer Questions On 'yarn create'"
I asked in this thread if it was possible to autocreate playwright: https://github.com/microsoft/playwright/issues/16071

And was told I can run:
[code]

This is a good start but is there anyway for me to specify the default values?

[2022-07-31 21:29] y0utubeperson1 commented on #16080
Got it, ty

[2022-07-31 21:29] #16080 closed

[2022-08-01 03:52] sumitsg004 commented on #16045
@pavelfeldman Thank you for the response.

[2022-08-01 06:48] meotimdihia commented on #13449
Could someone give a workaround for this problem?

[2022-08-01 07:25] autTestUser commented on #16044
Any updates here? Is there any temporary solution for this?

[2022-08-01 07:50] ElliottDevlinPA commented on #16051
OK, I'll take a look. Thank you, both.

[2022-08-01 08:44] nelipetrova32 commented on #16041
Thank you very, very much! <3

[2022-08-01 08:53] jammon opened #16083 "[BUG] Assertion not_to_contain_text only asserts that locator doesn't contain at least *one* string of a given list"
**Context:**
- Playwright Version: 1.23.1
- Operating System: Mac
- Node.js version: v16.15.1
- Browser: Chromium
- Extra: Python 3.8

**Code Snippet**

[code]

The assertion `not_to_contain_text` passes if there is at least *one* string in the list which the text does not contain.
I expected that it asserts that every string in the list is not part of the locator.
Instead it asserts that there is

[2022-08-01 09:02] lzh66 opened #16084 "[Question] How to remove control chars in TestError.message?"
Hi, I got some questions here. When I implement custom reporter, I want write error message to file. But I found that there are some mistakes occur when I use result.errors[i].message, cause some control chars like:
 [31mTimeout of 60000ms exceeded.[39m
I only need message like "Timeout of 60000ms exceeded." because control chars make write file fail. In addition, there are many similar situatio

[2022-08-01 09:23] mxschmitt commented on #16005
Relates #14067

[2022-08-01 09:36] mxschmitt commented on #15960
Which timeout do you mean? In Playwright for .NET there are multiple timeouts:

a) the test-runner timeout, depends then on your test-harness, e.g. nunit/mstest etc.
b) the timeout of your individual actions, you can pass it manually inside each API call as an option or you call context.SetDefaultTimeout
c) the Expect timeout, this is 10 seconds by default, we have a tracking issue to make it conf

[2022-08-01 09:52] YusufOzturk-Development opened #16086 "[Question]"
Managing **spec files** on my **core.ts** file. In my **Identity.ts** file sending axios request and that requests work correctly and show the correct output on the console.log. As you see in the **Identity.ts** file's code, I m saving token to **Identity.States.token**.

**My main goal** is I want to use this token on **axios.interceptors.request** in the **generatedswagger.ts** file .In my **gen

[2022-08-01 09:59] mxschmitt commented on #16084
We have a internal utility function for it, I recommend copying it and using it as well:

https://github.com/microsoft/playwright/blob/62e4e80599efc00a799a389ee4be76c74c9f172b/packages/playwright-test/src/reporters/base.ts#L433-L436

[2022-08-01 10:14] AbhilashAus opened #16088 "Having issues with looping through and read the dropdown values?"
I  am using latest version playwright and  wrote few lines of code to read dropdown values available to user using a for loop. But when constant, used to find number of elements in an array, that constant is not recognized. Here is the brief explanation of my code using nodeJS;

- Opened the Webpage
- Created a constant dropdown object
- Created constant array to read elements in the dropdown
- Wr

[2022-08-01 10:31] mxschmitt commented on #16025
Relates https://github.com/microsoft/playwright/pull/16024

[2022-08-01 10:53] harir5 opened #16089 "Question : Extending HTML reporter to create custom reporter"
Is it possible to extend the currently available html reporter to create a custom reporter with some extra information added ? I would also like to access "option" fixtures present within my configuration in this reporter as well.kindly advise.

[2022-08-01 10:59] Misha31 commented on #16039
Thanks for the help.
For some of the links, this solution helped - opacity = int(page.locator(f':nth-match(a[href="{href}"],1)').evaluate("el => window.getComputedStyle(el. parentElement).opacity")), the links themselves have the property opacity:1, and their parent opacity:0.
But there are also links in which the parents of the 6th nesting level have opacity:0, what to do with them?

Example:
[co

[2022-08-01 11:16] DiogoLopes99 commented on #15558
Thanks for your help.
I asked internally, but my PM said that for now we can't spend more time on this.
Again, thank you for your help.

[2022-08-01 11:21] mxschmitt opened #16090 "[BUG] CLI colorScheme emulation does not work"
`npx playwright codegen --viewport-size=800,600 --color-scheme=light playwright.dev `

This is still dark but should be light:

`matchMedia('(prefers-color-scheme: dark)').matches`

[2022-08-01 11:43] mxschmitt commented on #16090
Our default theme is dark:

<img width="311" alt="image" src="https://user-images.githubusercontent.com/17984549/182140430-02a75984-8b79-472e-bfc0-95172c675e51.png">

[2022-08-01 12:36] YusufOzturk-Development opened #16094 "How can I set to localstorage and get that item in Playwright?"
I want to set the **Identity.States.token**  to localstorage .After that I want to get that localstorage item in different file.But localStorage.setItem('token', 'Identity.States.token') doesn 't work.Taking below error;

`localStorage is not defined `

How can I set to localstorage and get that item in Playwright? **Could you give me an example on my code**

This is my Identity.api.ts file ;

[co

[2022-08-01 13:02] nicooprat commented on #1082
Sorry to bump this one, is there anything new regarding this feature? I'm looking to migrate our E2E tests from Cypress to Playwright which offer a simpler API thanks to `await`.

We currently run our app on VMs which we access through SSH with VScode remote. For now we have to code our tests locally because of Cypress UI ; so we code in two different environments and VScode windows...

Being able

[2022-08-01 13:55] ueokande commented on #7297
I found another workaround to install add-ons to Firefox.  Firefox allows installing addons via RDP (Remote Debugging Protocol).  The following shows how to install addons by the RDP client implemented in `web-ext`.

[code]
Although this example imports an internal module, I believe it's better to use another client, such as [Foxdriver](https://github.com/saucelabs/foxdriver/blob/main/docs/api/act

[2022-08-01 14:12] mxschmitt commented on #16090
Fixed in https://github.com/microsoft/playwright.dev/pull/698.

[2022-08-01 14:12] #16090 closed

[2022-08-01 14:15] mxschmitt commented on #16094
You need to use page.evaluate, then it will work, see here: https://playwright.dev/docs/evaluating

Since browser JS != Node.js JS context.

In your case something like that:

[code]

localStorage is a key/value storage, so you need to e.g. use JSON.stringify to serialise it.

[2022-08-01 14:16] mxschmitt commented on #16089
This is not possible, but you can add custom annotations to your tests, would that work for you? https://playwright.dev/docs/test-annotations#custom-annotations

What kind of information do you want to add?

[2022-08-01 14:17] mxschmitt commented on #16088
We recommend to not use ElementHandles, (page.$ etc.) see here: https://playwright.dev/docs/locators#locator-vs-elementhandle

In your case, this example would probably fit very well for you: https://playwright.dev/docs/locators#lists

[2022-08-01 14:20] eatonjl opened #16099 "[BUG] Can't run tests in TeamCity using Firefox and the Playwright Docker image"
**Context:**
- Playwright Version: 1.24.2
- Operating System: Linux
- Node.js version: 16.16.0
- Browser: Firefox
- Extra: Tests are run in the Playwright Docker container image

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

[code]

[code]

**Describe the bug**

When I run these tests in Team

[2022-08-01 14:28] mxschmitt commented on #16094
I guess you want to set the token since you are writing end-to-end tests with Playwright? https://playwright.dev/docs/intro

Or could you describe a little bit more your scenario for what you are using Playwright?

[2022-08-01 14:34] YusufOzturk-Development commented on #16094
@mxschmitt  I will not develop end to end test on browser . I m developing API test on swagger. So I will use that token for autantication before the other requests .I want to use set and get "Identity.States.token" to localstorage and use it for autontication in different file

[2022-08-01 14:37] eatonjl commented on #14559
@aslushnikov I was able to reduce the lines of shell script I was using. I realized that, since I am using the Playwright Docker image, I had a lot of redundant script lines. The lines I was able to reduce it down to was this:
[code]
I no longer have the issue, but I am not sure why I need to use "chown root ." as the other browsers don't require it. I have that issue being worked on [here](https:

[2022-08-01 14:41] amitNinjax2730 opened #16100 "How can i test print/save in playwright?"
Example:-
I have a page and there is some data on it. We have a button for print and save which will call window.print().
I am using the html of page and creating the print page using window.open() and opens the about:blank and the print tab above that.

![image](https://user-images.githubusercontent.com/53232520/182176602-8345f794-305a-45ff-b7b3-8fe033a53018.png)

Issue:-
When i am using playwrig

[2022-08-01 14:45] mxschmitt commented on #16094
Then this is not related to Playwright. Local storage tokens don't get sent over the wire when you perform http requests. You need JavaScript evaluation for that.

Closing since there is nothing actionable on our side.

[2022-08-01 14:45] #16094 closed

[2022-08-01 14:47] mxschmitt commented on #16086
Closing as per https://github.com/microsoft/playwright/issues/16094 since this is not about Playwright.

[2022-08-01 14:47] #16086 closed

[2022-08-01 14:48] mxschmitt commented on #16099
Could you set the `DEBUG=pw:browser` env var which should result in more debug output for Firefox?

[2022-08-01 14:49] mxschmitt commented on #16100
This is not yet possible, folding into https://github.com/microsoft/playwright/issues/6543.

[2022-08-01 14:49] #16100 closed

[2022-08-01 15:10] eatonjl commented on #16099
Thanks @mxschmitt for sending that! I gave that a go. With "chown root ." in the shell script, this was the results:
[code]

With that line removed, I got this:
[code]

[2022-08-01 15:28] unlikelyzero commented on #16048
@leotg130 would this API help in your case? https://github.com/microsoft/playwright/issues/15660

[2022-08-01 15:34] gauravgandhi1315 opened #16102 "Error - page.$eval: Error: eval is disabled"
I have this code to get the text of an element but it is failing with error `page.$eval: Error: eval is disabled` Can someone please help?

[code]

[2022-08-01 16:04] dgozman commented on #15802
@muhammad-saleh Thank you for the explanation, this makes sense. So, this is happening because you use full-page screenshots. I'll reopen this issue for now.

[2022-08-01 16:23] aslushnikov commented on #16099
@eatonjl: do you mount some partition into the container? And what user do you use to run scripts inside the container?

[2022-08-01 16:51] mxschmitt commented on #16005
Which response status does your backend return? Since not returning 401 when basic auth is used, means also that the browser would not show the basic auth dialog.

Thats a workaround in the meantime, to send the header just always:

[code]

[2022-08-01 16:58] rwoll commented on #16089
Relates https://github.com/microsoft/playwright/issues/11319

[2022-08-01 16:58] eatonjl commented on #16099
No. TeamCity does mount some volumes into the Playwright container, but not partitions.
The user is whatever user Playwright has added to the Docker image, unless we use chown root in which case it runs as root.

[2022-08-01 17:03] vladkrasn opened #16104 "[BUG] Webkit renders some fonts incorrectly on Windows"
**Context:**
- Playwright Version: 1.24.2
- Operating System: Windows 11
- Node.js version: 16
- Browser: Webkit

This issue was raised here previously: https://github.com/microsoft/playwright/issues/7441 (also related to https://github.com/microsoft/playwright/issues/2626)
I don't think it was resolved, since the person who raised it fixed it on the end of their website, whereas the Webkit's issu

[2022-08-01 17:07] chrisvariety commented on #7249
@andykenward `echo -n "::set-output name=version::$(npm ls @playwright/test --json | jq --raw-output '.dependencies["@playwright/test"].version')"`

[2022-08-01 19:07] gauravgandhi1315 commented on #16102
My application might be disabling `eval`. Is there any other alternate to this?

[2022-08-01 19:17] MattHorrocksNetwealth commented on #6319
We're finding the same thing @arpowers

![image](https://user-images.githubusercontent.com/106080163/182228366-ccbc2c9e-90f3-4c0b-ad60-46d83e58effd.png)

We're closing the contexts, then the browser...

[code]

[2022-08-01 19:21] mohitkhatri88 opened #16110 "[BUG] browserType.launch: Timeout 30000ms exceeded"
**Context:**
- Playwright Version: [what Playwright version do you use?] 1.24.1
- Operating System: [e.g. Windows, Linux or Mac] Ubuntu 22.04
- Node.js version: [e.g. 12.22, 14.6] 16.15.1
- Browser: [e.g. All, Chromium, Firefox, WebKit] Webkit
- Extra: [any specific details about your environment] I am running a ubuntu 22 docker image and have playwright and nodejs installed. I am able to launch c

[2022-08-01 20:00] osmenia opened #16112 "[Question] using Playwright with OpenFaaS?"
Hi Team,

has anyone already done it?
does it work?

all the best
Oz

[2022-08-01 20:23] mxschmitt commented on #16102
Seems like its disabled by [content security policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP). You could set the `bypassCSP` when launching the context, or inside the playwright config, depending on how you consume Playwright.

[2022-08-01 20:25] mxschmitt commented on #16110
Most likely you don't have the Playwright [operating system dependencies](https://playwright.dev/docs/cli#install-browsers) installed. We recommend if you use Docker, to use the [official image](https://playwright.dev/docs/docker) as well, which is tested and guaranteed to work.

[2022-08-01 20:27] Misha31 commented on #16039
I mean, on other sites, it might be a different level of nesting.
Really to check each block?

[2022-08-01 20:35] mxschmitt commented on #16104
Looks like https://github.com/microsoft/playwright/issues/7441#issuecomment-880384327 still applies. We recommend using macOS or Linux when testing with WebKit, since when using macOS its as close as it can get with font rastering / image rendering etc.

cc @fujii.

[2022-08-01 20:59] mohitkhatri88 commented on #16110
Let me confirm.

[2022-08-01 21:05] gal064 opened #16119 "[BUG] When on serial mode, soft assertions prevent subsequent tests to run."
## System:
 - OS: macOS 11.4
 - Memory: 52.63 MB / 8.00 GB
## Binaries:
 - Node: 17.8.0 - /usr/local/bin/node
 - Yarn: 1.22.18 - /usr/local/bin/yarn
 - npm: 8.5.5 - /usr/local/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash
## npmPackages:
 - playwright: ^1.24.2 => 1.24.2

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug lo

[2022-08-01 21:05] lucasfv-c1 commented on #9033
Were there any updates locating elements by implicitly defined ARIA roles?

According to Playwright docs on [selecting elements by role](https://playwright.dev/docs/selectors#role-selector), they say we can do something like `role=button` and it should grab `<button/>` elements but it's not working as expected.

Playing around with the Playwright Inspector, I'm not being able to select elements by

[2022-08-01 21:06] scottfwalter commented on #15971
playwright.firefox, playwright.chromium, playwright.edge doesn't seem to exist in 1.24.2 unless I am missing something.

[2022-08-01 21:11] gauravgandhi1315 commented on #16102
@mxschmitt I tried to put `    bypassCSP: true` under `playwright.config` but didn't work. Am I doing it the right way?

[2022-08-01 21:13] mxschmitt commented on #16102
you need to put it under the `use` object: https://playwright.dev/docs/api/class-testoptions#test-options-bypass-csp

[2022-08-01 21:20] gauravgandhi1315 commented on #16102
@mxschmitt thats what I need `bypassCSP: true` under the use object but it didn't work

[2022-08-01 21:28] kachkaev commented on #13253
I faced a similar issue recently. One of my `page.evaluate` calls was crashing the page and my Node.js app paused indefinitely. Here is my workaround:

[code]

The readibility of this code is quite poor but it's not the only problem here. If the timeout promise needs to be lengthy, the whole Node.js process will not exit for `evaluateTimeout` ms.

It’d be great to be able to do this:

[code]

[2022-08-01 21:34] scottwalter-nice commented on #15971
Oooh it looks like you can get access to the browsers when you import playwright from 'playwright-core' if using @playwright/test.

Is it advisable to import directly from playwright-core?

[2022-08-01 21:43] dgozman commented on #9033
@lucasfv-c1 This is expected. Role selector is not a css selector. Follow the [role selector docs](https://playwright.dev/docs/selectors#role-selector) for examples and details. If you have questions or something is not clear in the docs, let us know, and we'll happily improve them!

[2022-08-01 22:45] atjn opened #16122 "[BUG] `validateConfig` does not catch an ESM config with wrong exports"
**Context:**
- Playwright Version: 1.24.2
- Operating System: Linux
- Node.js version: 16.16.0
- Browser: N/A
- Extra: Using JS ESM modules with `type:module` in `package.json`

**Describe the bug**

1. Define a `playwright.config.js` file, and define the export as a named `config`:

[code]
2. Try to run playwright with `npx playwright test`.

3. Observe that you see a weird error message that doe

[2022-08-02 00:29] fujii commented on #16104
WebKit WinCairo port is still using Cairo GDI font backend that doesn't support color fonts and variable fonts.
It should switch to DirectWrite. We have two choices, using Cairo DirectWrite font backend and replacing Cairo with Skia.
This is an upstream bug ticket to use Cairo DirectWrite font backend.
https://bugs.webkit.org/show_bug.cgi?id=215259
Someone is working on Skia integration in WebKit

[2022-08-02 01:41] Mattwmaster58 commented on #16108
Thanks for verifying with JS as well. My use case is interacting with consent banners dialogs - often it is necessary to reload the page to observe the configuration done was sucessful.

[2022-08-02 02:22] freesiafreesia opened #16126 "[Question] Is there a way to prevent "Translate" suggestion popup on Edge?"
When Playwright navigates to the particular page, Edge shows "Translate the page" suggestion popup.
![edge_sample](https://user-images.githubusercontent.com/82436722/182274393-61684ad7-4858-434d-924c-fdeae5edd772.jpg)

The problem is, Playwright always returns timeout exception on WaitForURLAsync just after the popup is shown.
[code]
Is there any way to prevent showing the "Translate" suggestion p

[2022-08-02 02:48] vijaydubber commented on #16043
Hi @pavelfeldman , @rwoll  I would also like to request the steps executed in the global setup be available in the html report (like how each steps in a regular test is reported with code line and time taken for execution).

Do I need to raise a new feature request for that.
I understand the requirement may not fit nicely with the existing html reporting, but these features would be very helpful.

[2022-08-02 02:55] jetwiwo commented on #16110
I am experience a similar issue, but ONLY when running in GitHub Actions. It works fine when running inside Docker Desktop on Windows 10.

https://github.com/jetwiwo/playwright-jammy-webkit-freeze/actions/runs/2779274141 reproduces this issue using the official Docker image. It works fine in the focal image, but not in the jammy image.

Also note that when I reproduce this issue Playwright never t

[2022-08-02 03:46] Zeckie opened #16128 "[Question] How To Configure PLAYWRIGHT_DOWNLOAD_HOST"
Our organization uses an internal artefact repository, and mirrors multiple repositories such as pypi (python packages), maven central. Each repository has a separate path (eg https://repository.ourdomain.example/pypi/ and https://repository.ourdomain.example/mavencentral/).

https://playwright.dev/docs/browsers#download-from-artifact-repository shows an example of using the environment variable P

[2022-08-02 04:55] ankur-lt opened #16129 "[BUG] Cannot run Playwright tests using playwright server on different minor versions"
**Context:**
- Playwright Version: 1.24.0
- Operating System: Mac
- Node.js version: 14.6
- Browser: All

**Describe the bug**
I am running Playwright using the Playwright server. I noticed few inconsistencies while running the tests.
The tests run as expected when the server and client version is the same. It throws error when they are different.

According to semantic versioning, the API contact

[2022-08-02 05:58] KotlinIsland commented on #15772
[code]

This hangs indefinitely until I close the inspector, although, it seems like a different issue.

[2022-08-02 06:58] hariprasathvs opened #16130 "Can we validate an API's Schema using Playwright?"

[2022-08-02 08:08] mxschmitt commented on #16130
You can use any Node.js library for it, e.g. this: https://ajv.js.org/ or https://www.npmjs.com/package/joi.

[2022-08-02 08:08] #16130 closed

[2022-08-02 08:27] mxschmitt commented on #16129
This is expected, there is a strong connection between the client and server version, and we recommend to also match on the patch version to guarantee compatibility.

Playwright does not follow Semver in launchServer/connect API - I'll update the docs in that regard.

[2022-08-02 08:27] #16129 closed

[2022-08-02 08:30] mxschmitt commented on #16128
It should be also possible to have something like:

`'https://playwright.your-company.net`

or:

`'https://playwright.your-company.net/foobar/bar`

[2022-08-02 08:35] ankur-lt commented on #16129
@mxschmitt , but if the library is following semver, all the APIs in it are also bound to follow it. We cannot have a few functions to follow semver and not for others.

[2022-08-02 08:36] np-xavier opened #16135 "[REGRESSION]: Unable to run tests headlessly"
**Context:**
- GOOD Playwright Version: 1.23.x
- BAD Playwright Version: 1.24.1
- Operating System: Mac

**Describe the bug**

I recently upgraded from 1.23 to 1.24.1, and ran `npx playwright install` to do the necessary browser updates. This might not be the cause, I just wanted to mention it for context.

At some point recently, I've been unable to make my tests run headlessly. I haven't changed

[2022-08-02 08:45] jhyot commented on #16027
I cannot reproduce it with the simplest bare-bone example.
I think it shouldn't be the server's fault, because Chromium and Webkit are working correctly. I will keep trying to find out what is the cause, and will report my findings here.

[2022-08-02 08:50] np-xavier commented on #16135
I did a completely new clone of my framework with a fresh npm install & npm playwright install and it fixed the problem. Possibly some issue from upgrading through multiple versions over a long period of time.

[2022-08-02 08:50] #16135 closed

[2022-08-02 08:52] mxschmitt commented on #16122
We thought about it a while ago, but doing it has some caveats, so we didn't proceed. Relates to https://github.com/microsoft/playwright/pull/12461. Will mark it as p3 so we can eventually pick it up again.

[2022-08-02 08:54] mxschmitt commented on #16119
Sounds like a feature request to me. The current definition of soft assertions are that they will get collected and thrown on the test level: https://playwright.dev/docs/test-assertions#soft-assertions

To have them collected and thrown at the last test when using serial mode is very different.

[2022-08-02 09:07] mxschmitt commented on #16126
Fix is on the way, should be shipped with 1.25.

[2022-08-02 09:14] jhyot commented on #16027
I think I found out the root cause.

There is one problem with Firefox, which I left out of my example above:
Firefox only (not Chromium or Webkit) will set the Content-Type header to `application/octet-stream` whenever the postData is set in the route. If I don't use `new Route.ResumeOptions().setPostData(data)`, the original Content-Type ist used (i.e. `application/json` in my case).

Because of

[2022-08-02 10:14] rmunn commented on #16005
The backend returns 401 if no authorization header was included, 403 if an authorization header was included but has incorrect credentials (wrong password, or right password but that user isn't allowed to access that resource), and 200 if the auth header was included *and* was valid (right password and that user is allowed to access that resource).

[2022-08-02 10:16] rmunn commented on #14067
In https://github.com/microsoft/playwright/issues/16005 I have a reproduction where the httpCredentials are not being sent even though the server is responding with a 401.

[2022-08-02 10:18] rmunn commented on #14067
I agree with this opinion as well. If I went to the bother of creating a new browser context so that I could specify `httpCredentials`, I'm expecting those credentials to be sent with that request. Having them not sent until after the server replies with a 401 seems like a waste of time.

[2022-08-02 11:16] atjn commented on #16122
Very cool, thanks :)