[2022-08-24 04:10] ajssd commented on #16485
Appreciate the workaround suggestions ... oddly, while our original code
[code]
works fine, replacing that with
[code]
gives
[code]
which I can't quite explain without knowing more about how Mocha's implementation ([see code above](https://github.com/microsoft/playwright/issues/16485#issuecomment-1223218307)).

[2022-08-24 05:02] Wilhop commented on #16749
The address is a baseUrl staging environment in the format of: https://myapplicaton.online.fi/environment/ - obviously had to mask the real address.
-It is publicly available
-I would say Azure virtual agent can connect to it, because < 50% of the tests do pass and perform the login action correctly
-I have never seen this behavior when running the tests locally
-So to recap: the failing URL is th

[2022-08-24 05:50] Diokuz commented on #16721
cool, thanks!

[2022-08-24 05:50] #16721 closed

[2022-08-24 05:54] Meir017 opened #16792 "[Feature] Support for mouse contextmenu event"
I have a website where when the user right-clicks on an image I want to prevent the user from opening the context menu.

this would require being able to dispatch an event for contextmenu and being able to detect if the context menu is displayed

this could look something like this:
[code]

dispatching the contextmenu event is already supported, I was not able to find information about the native

[2022-08-24 06:52] ValorHeart commented on #11334
Suffering from the same issue, it would be nice to have it fixed so the report users will know the actual execution time and how playwright parallel executions benefits

[2022-08-24 07:04] 2BC-Wasabi commented on #16752
i think i wasn't very clear about using npm start,
i did define a command called e2e,
when i start the electron app i use the following predefined commands
`
  "start": "ts-node ./.erb/scripts/check-port-in-use.js && npm run start:renderer",
`

`
  "start:main": "cross-env NODE_ENV=development electronmon --trace-warnings -r  ts-node/register/transpile-only .",
`

`
  "start:preload": "cross-env N

[2022-08-24 07:08] ashish-sparrows commented on #16611
@aslushnikov
The only difference I see is that in our code we are using HostListener and in your test window.addEventListener is used.

[2022-08-24 07:13] c3er commented on #16614
Thank you very much!

[2022-08-24 07:36] minhhai2209 commented on #16741
Thank you @yury-s.

[2022-08-24 07:37] skysantoroa commented on #16746
The response is handled by polling using Apollo Client and consumed from an `useEffect` by a React client.

The following is the `response.allHeaders` captured from the `isTransactionError` method (that should be related to the latest `response.json` I guess?):

[code]

Why is it timing out? The response received before the last one should correctly resolve the `waitForResponse`.

I'm not able to,

[2022-08-24 08:08] MsLolita commented on #16776
Minimum code snippet:
`from playwright.sync_api import sync_playwright
import httpx

def handle_route(route):
    res = httpx.get(url, headers=route.request.headers)
    print(res.text)
    route.continue_()

def run(playwright):
    chromium = playwright.firefox
    browser = chromium.launch()
    context = browser.new_context()
    page = context.new_page()
    page.route(url, handle_route)

[2022-08-24 08:31] noxify commented on #10584
the number of rows 😏

[2022-08-24 09:22] mbouchotsuricate commented on #16745
I've just sent you an email with an updated version of the script containing proxy settings.

[2022-08-24 10:21] Miriambnzdn opened #16797 "[Question] - Why my tests fails when I used CodeceptJS (helper Playwright) with Bitbucket and Reportportal."
Hello,
I've been using CodeceptJS with Bitbucket and ReportPortal for months and I'm having a problem that I don't understand.
Sometimes I can't click on my application "Logon" button, all the attempts fail even if the button is present, stable and clickable. I get no other error message or screen shots. All my other tests fail, including some tests where I have to log in again.

Did someone meet

[2022-08-24 10:33] charxhit opened #16798 "[Question] Loading extensions in non-persistent contexts"
Going over the documentation of [chrome extensions](https://playwright.dev/python/docs/chrome-extensions), it implies that loading extensions in non-persistent contexts is not possible. I wanted to check whether this is an oversight? I have detailed a solution which makes it possible to load extensions in non-persistent contexts [here](https://stackoverflow.com/a/73450949/16310741), with emphasis

[2022-08-24 10:53] mxschmitt commented on #16261
@eatonjl the link to your we transfer has expired. So you need to share it with me again.

[2022-08-24 11:06] liamdocherty10 opened #16800 "[Question] Is it possible to share the browser between `globalSetup` and `globalTeardown`?"
We are currently using `globalSetup` in order to log in as admin user and setup data, then `globalTeardown` to delete the data at the end.

At the moment, both global functions are launching a browser and logging in as the admin user.

This works, but is there a way to share the same browser/ browser context instance between setup and teardown?

This would improve our efficiency since there is not

[2022-08-24 11:17] masaplecas opened #16801 "[Feature]"
Hi, is it possible to add feature to be able to add video recording to browser context after it has been created?
Use case is making video recording optional, so I can create browser context and set recording based on bool parameter.

[2022-08-24 11:41] ltsuda commented on #16787
I will try that later as I'm at work right now, but thanks for the help :)

[2022-08-24 11:49] araghuvarun commented on #16725
I have upgraded my macOS version to 12.5.1 and also Playwright to 1.25.1. Still facing the issue :

FeautreFile step:
When user uploads video file to Videos folder

StepDefinition:
When('When user uploads video file to Videos folder',{ timeout: 9000000 }, async function(){
  await testPage.uploadFile(file,folder);
});

TestPage.ts :
public async uploadFile(): Promise<void> {
        let filePath =

[2022-08-24 11:57] tachish commented on #16493
I tried the extension! I think the extension is perfect for me~

[2022-08-24 12:19] jfp1992 opened #16804 "[REGRESSION]: No longer able to open traceviewer using playwright showtrace"
**Context:**
- GOOD Playwright Version: 1.23.0
- BAD Playwright Version: 1.25.1
- Operating System: Windows
- Extra: Python - although I don't think this matters in this case

When using command "playwright show-trace"

I get this error:

node:events:505
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE: address already in use 127.0.0.1:9322
    at Server.setupListenHand

[2022-08-24 12:28] mxschmitt opened #16805 "[REGRESSION]: WebKit spawns half outside of my monitor"
**Context:**
- GOOD Playwright Version: 1.22
- BAD Playwright Version: 1.23
- Operating System: macOS

Most likely caused by this? https://github.com/microsoft/playwright/pull/14578

**Code Snippet**

[code]

[code]

**Debugging notes**

- The window is Y -100 off.
- this only happens with my external monitor and when its active -> so that webkit gets put there.

**Describe the bug**

Good:

<img

[2022-08-24 13:08] noumanshahid12 commented on #13447
How can I condition two locators one for Iphone and one for web browser((Chromium))?
Run parallel

[2022-08-24 13:22] Meemaw commented on #6319
We're facing the same issues trying to reuse browser context, and just creating a `newPage` for each request.

We are closing the pages, but Playwright seems to not dispose those references and the memory leak is quite server on a http server.

This is very easy to reproduce, I could prepare a reproducer if needed.

[2022-08-24 13:31] eatonjl commented on #16261
Files resent. I am sending another one with the info needed for the .env file.

[2022-08-24 13:34] eatonjl commented on #16261
.env file data sent also.

[2022-08-24 13:37] lynn-fisher opened #16806 "Why is requestContext not working with new FormData POST?"
I am using requestContext to submit JUnit report to Jira Xray in Playwright custom reporter but I am continually getting an error.

The code I am using works if I use Axios but not if I use Playwright request. I have tried variations on the code below with
ContentType: 'multipart/form-data' and without but always get error

[code]

The error reads
```the request does not contain a multipart/form-d

[2022-08-24 13:37] jkalandarov opened #16807 "[Question] How to retrieve a selector text from a locator?"
Hi folks!

Thanks for the awesome framework (spoiler alert: my favorite one)!

I was wondering how to retrieve a selector text of the locator as a string.
For example:
[code]

Thanks in advance!

[2022-08-24 14:06] daniavander commented on #14839
how is it fill:
![image](https://user-images.githubusercontent.com/99256716/186439535-b9602c1b-862a-4b94-95ad-4e78f7690369.png)

[2022-08-24 14:19] thomaschaplin commented on #16807
You might benefit from using [Page Object Model](https://playwright.dev/docs/test-pom) but maybe in a different way such as below... that way you can use the string in your `page.selector` and as a string by itself.

[code]

Instead of having a way to "get" the selector, declare it as a variable and then use it throughout your code.

[2022-08-24 15:21] LuohuaRain commented on #6319
Actually, I did all reproducers last year, but nothing feedback till now.

[2022-08-24 16:00] yury-s commented on #16785
The fixtures are a part of the test runner, the library doesn't know about them, so it would have to be implemented in the fixtures land which makes it essentially the same as what I described above (basically adding proxies to all affected objects).

[2022-08-24 16:14] yury-s commented on #16807
As suggested above there is no API to get selector from a locator. If you want to reuse a selector it can be saved to a variable and later used to construct multiple locators.

Relevant feature request: https://github.com/microsoft/playwright/issues/12553

Closing this issue as we're not planning to expose the selector at the moment.

[2022-08-24 16:14] #16807 closed

[2022-08-24 16:15] gajus commented on #16785
I would consider moving `expect` function away from something we import at the top level to something that is initialized per test, i.e.

[code]

This would give a lot more control over `expect`.

[2022-08-24 16:18] yury-s commented on #16801
There is no such API, the only way to enable video recording is to pass [recordVideo](https://playwright.dev/docs/api/class-browser#browser-new-context-option-record-video) option while creating a browser context (so this is the last moment when you can decide if the videos should be recorded). Each video is recorded from the moment a page is created and until it is closed.

Closing this issue sin

[2022-08-24 16:18] #16801 closed

[2022-08-24 16:25] 1mzino opened #16808 "[Question] How to locate ALL elements by font-family"
Hi, I'm fairly new to Playwright.

I have a Playwright script that iterates over a list of URLs. The test is ran in parallel with other tests on different breakpoints and takes a full-page screenshot.

Essentially, the script is being used to identify where a certain font is being used and to highlight that element by changing background color:

[code]

I want to learn how to locate and select all

[2022-08-24 16:44] cunhabruno commented on #16688
Sorry @aslushnikov that was the wrong error, nor this one have the correct error I wanted to show you:
https://github.com/cunhabruno/monaco-playwright-ff-bug/runs/7999930305?check_suite_focus=true#step:6:29

[2022-08-24 16:57] gauravgandhi1315 commented on #16804
@jfp1992 It is working fine for me

[2022-08-24 17:57] yury-s commented on #16806
You need to pass the form data as [multipart](https://playwright.dev/docs/api/class-apirequestcontext#api-request-context-post-option-multipart) option, something like this:

[code]

`FormData` is not supported as input type and is considered just as an object, this is why content-type is set to application/octet-stream.

[2022-08-24 17:58] yury-s commented on #16806
@lynn-fisher does the solution above work for you?

[2022-08-24 18:24] yury-s commented on #16789
First of all you need to make sure that the tests that may run in parallel do not interfere with each other (e.g. by invalidating the page's URL which may still be in use in other tests). Normally this is achieved by using different test accounts in different test suites. As I understood the some of the tests depends on the previously run tests, in which case you can use [serial mode](https://play

[2022-08-24 18:29] yury-s commented on #16789
Another option is to move them in a separate suite where the page setup is done in `beforeEach` so that each test works with its own copy?

[2022-08-24 18:41] ltsuda commented on #16787
Do you guys think I need to install svelte on the root directory of the project? As I'm using npm workspaces, the sveltekit is only present at the frontend directory, so I couldn't find the correct way to import `svelte/preprocess`, etc.

Also, my playwright-ct.config is a Javascript file, not Typescript

[2022-08-24 18:48] yury-s commented on #16792
You should be able to detect that by checking if the default action has been prevented. Would that work?

[code]

Playwright doesn't provide any API to access the native context menu items.

[2022-08-24 18:50] yury-s commented on #16797
We need more information to act on this report. Please file a new one with an example which we can reproduce locally and link to this issue when you get back to it!

[2022-08-24 18:50] #16797 closed

[2022-08-24 19:20] Meir017 commented on #16792
@yury-s this is definitely enough for now. should this stay open for future tracking of this if and when accessing the context-menu options will be possible?

[2022-08-24 20:40] yury-s commented on #16798
Looks like an oversight, we should update the docs.

[2022-08-24 20:43] ashish-sparrows commented on #16611
Hi @aslushnikov, We were using playwright/test pkg version 1.17.1
and after upgrading it to 1.20.1 it is working :)

[2022-08-24 20:57] paymog opened #16811 "[Question] How to generate HTML report when an unhandled exception happens"
I'm finding that playwright doesn't generate an html report if there's an unhandled exception during testing. I have a test that looks like the following:

[code]

and it's possible that these functions could fail. I find that when they fail I get output like the following:

[code]

and then a `playwright-report` directory with a report isn't generated.

Is there a way to configure playwright to g

[2022-08-24 21:15] nickdooley2016 commented on #6319
Any solution? Why after a year there is still no fix? This problem hinders playwright's usability, coders will seek alternatives. There's nothing more annoying than wasting time integrating a third-party package to find out later that it's riddled with bugs and incompetent developers.

[2022-08-24 21:18] thomasol commented on #6319
They have explained you must close the context and dispose of the playwright object.
You can't keep the context alive for a long time. A stupid comment like that helps no one.

[2022-08-24 21:23] nickdooley2016 commented on #6319
Do you close your browser every time you navigate to a new URL? I know you don't. This is not a solution to the problem.

[2022-08-24 21:25] vinismarques commented on #6319
The need to close the context and dispose of the playwright object might not be possible/desirable when working with RPA or even scraping infinite scroll pages. It adds a considerable amount of code to work around the bug.

[2022-08-24 21:28] rigwild commented on #6319
Please, can a maintainer lock this conversation? New comments just keep repeating each other. Everything has already been said. Closing the context does not fix the issue.

Repro provided at comment https://github.com/microsoft/playwright/issues/6319#issuecomment-917705023

[2022-08-24 21:34] eliw00d opened #16814 "[Question] Playwright + Electron + Sandboxing + CI = "electron.launch: Timeout 30000ms exceeded."?"
I have the following in my main.js:

[code]

I have a playwright test like so:

[code]

And if I run the following locally:
[code]

Everything works fine. However, if I run the same in CI I get:

[code]

If I wrap the main.js code like so:

[code]

It works again in CI.

I guess I'm confused as to why it would work locally with sandbox on but not in CI. Is this a bug? Granted, `CI="true"` in my CI

[2022-08-24 22:00] shashwatjolly opened #16815 "[BUG] routeFromHar with `update:true` doesn't respect advanced routing order"
**Context:**
- Playwright Version: 1.25.0
- Operating System: Windows
- Node.js version: 12.18.3
- Browser: Microsoft Edge

**Code Snippet**
[code]

**Describe the bug**
In the code above, the HAR file saved does not have the extra header added in the route handler.
The [release notes for v1.23.0](https://github.com/microsoft/playwright/releases/tag/v1.23.0) mention that the `routeFromHar` option

[2022-08-24 22:12] nickdooley2016 commented on #6319
And yet we still have no fix. I'll be digging into the source code later on to see if I can flush it or signal a flush somehow. Obviously developers won't be doing anything about this.

[2022-08-24 22:18] yury-s commented on #16808
There is no builtin mechanism to filter by computed style properties but the approach you use should work:

[code]
Does this work for you?

[2022-08-24 22:40] yury-s commented on #16800
globalSetup and globalTeardown both run in the same process, so you can store the browser in a shared variable during setup and read it in global teardown:

[code]

https://github.com/microsoft/playwright/issues/14895 tracks ongoing improvements in global setup/teardown.

[2022-08-24 22:40] #16800 closed

[2022-08-24 22:57] yury-s commented on #16815
We record har request before applying route overrides, it should be fixed.

[2022-08-24 23:00] yury-s commented on #16804
As the error message suggests something else is already running on 127.0.0.1:9322 on your machine(it may well be another instance of trace viewer), make sure that the port is free by closing the app that is using it.

[2022-08-24 23:00] #16804 closed

[2022-08-24 23:19] yury-s commented on #16811
What playwright and node versions are you using? I tried with the simple test case below where a promise throws unhandled error and the report is generated just fine with playwright 1.25.1:

[code]
Can you reproduce it with the latest playwright? If so please attach a reproducible example that we can run locally.

[2022-08-25 00:11] yury-s commented on #16814
The CI probably runs your tests in a container which prevents chrome sandbox from starting, we've seen this problem in the past when it required passing custom `seccomp` profile to docker (see e.g. https://github.com/microsoft/playwright/pull/1161) but disabled the sandbox later since it caused many problems in containers and CI while having sandbox is not crucial in test
environment. We currently

[2022-08-25 00:58] ltsuda commented on #16787
I tried the suggestions but using the vite.config.js and svelte.config.js and got the same result, but I might have done it wrong

https://github.com/ltsuda/learning-tests/commit/4162751042451b6b3af19c576d8bb2f4088203df

[2022-08-25 02:46] eliw00d commented on #16814
It does! Thank you for the explanation. I will just keep the `!isCI` check in place.

[2022-08-25 05:21] araghuvarun commented on #16725
Can anyone please update on this

[2022-08-25 06:41] baptisteArno opened #16992 "When using route mocking and running as debug, my app isn't interactable"
When I'm setting up a route mocking:

[code]

And running a test in debug mode and stopping at a break point, then my application isn't interactable. By that, I mean that it won't make any HTTP request if I click around my application.

So it completely kills my TDD workflow where I'm used to manually try things on the debug browser.

When running from CLI with `PWDEBUG=1` it works totally fine.

[2022-08-25 06:43] cheapCoder commented on #16787
you can try to use `npm init playwright@latest -- --ct` to generate the config. [see here ](https://playwright.dev/docs/test-components#step-1-install-playwright-test-for-components-for-your-respective-framework)

and you can add vite config here instead of vite.config.js
<img width="522" alt="image" src="https://user-images.githubusercontent.com/60960561/186593605-8b5c2726-0f8f-44ef-b969-fc13cfbf

[2022-08-25 06:44] dlc9113 commented on #16403
@dimaBondarenko sure, then point is using [BrowserContext class](https://playwright.dev/docs/api/class-browsercontext)

[code]

[2022-08-25 06:53] daniavander commented on #14839
I get this in the log
azure: Test [31035] Smoke test - Activity list @response - passed
azure: Start publishing: [31035] Smoke test - Activity list @response
SUITE PASS :)
azure: Start upload attachments for test case [31035]
azure: Result published: [31035] Smoke test - Activity list @response
azure: Run 1000284 - Completed

but i see nothing in test case

[2022-08-25 07:38] usersina commented on #14480
I also often have the same errors running as a library. It's so hard to reproduce though due to how random it seems, so I just assumed it's the nature of browsers to be clunky when ran as automation/testing tools.

I'm considering using the [Trace Viewer](https://playwright.dev/docs/trace-viewer) with some screenshots as a debug step.

[2022-08-25 07:49] daniavander opened #16822 "[BUG] Azure html viewer do not work with 1.25"
**Context:**
- Playwright Version: 1.25.0
- Operating System: windows latest
- Node.js version: '14.x'
- Browser: chromium
hi

I run a build under azure cicd
but when i update to @playwright/test": "^1.25.1", the html viewer does not work well

but when i use "@playwright/test": "^1.23.3"
I get a pretty html report:
![image](https://user-images.githubusercontent.com/99256716/186606214-3481691b-1a9

[2022-08-25 09:47] DanielStoica85 opened #16824 "[Question] Is the use of parameters supported for locators inside of POM?"
A very simple example would be having two or more options inside of a `select` element. Let's say they also share the same `className`. The only thing that differs about them is the text.

So I would have to do something like:
[code]

And then I would click on them with `await this.optionOne.click()` for the first one and `await this.optionTwo.click()` for the second one.

Can I have one single fu

[2022-08-25 09:59] Wilhop commented on #8874
I ran into an issue with logging into our application. The workflow was as follows:
1. Log in first and save cookies, localstorage and sessionstorage info into auth.json `await context.storageState({ path: 'state.json' });`
2. Each test uses the auth.json that is saved `test.use({ storageState: 'state.json' });`
3. For some reason the login was not working fully and I finally noticed that auth.jso

[2022-08-25 10:30] Wilhop commented on #16749
Any tips on what to try or workarounds are welcome :) This is a showstopper problem for us as the tests need to run in Azure Pipelines in order to bring us some value. I tried to simplify the problem so that there is no beforeEach and that the test uses storage so that it doesn't have to try and login each time. The same problem persists with  **page.goto: net::ERR_CONNECTION_RESET**

Here is an e

[2022-08-25 10:37] htsvetkov opened #16828 "[Feature] Toggle check for frame receives events"
Hello,
with recent bump of playwright from 1.22 to 1.24 / 1.25, it was noticed and new bug-fix/feature for validation of click over frames.

This change was introduced with this two commits:
[code]
[code]

More/less this is an test design/implementation issue, but also normally nobody wants to click outside the main port/frame.

With the quoted fixes above, this is a breaking change for existing t

[2022-08-25 10:49] Wilhop commented on #8746
@Tejareddy1 did you manage to solve your problem eventually? I have my own issue in Azure Pipelines where I get the same kind of error: https://github.com/microsoft/playwright/issues/16749

[2022-08-25 10:55] Wilhop commented on #16749
One additional finding:
The same test "plainLogin.spec.ts" works when it is run the first time -> 1st time test succeeds
When the same test is run again the second time, it will fail with -> 2nd time test fails with ERR_CONNECTION_RESET

Here is the part of azure-pipelines.yml where
    - task: CmdLine@2
      displayName: 'Run the tests 1 and set environment variable CI=true'
      inputs:

[2022-08-25 11:03] kriku opened #16829 "[Question] How to inspect spawned test worker"
So recently I've tried to attach to debug port

[code]

Its open debugger on default port (9229)

But test runner spawns other process, which doesn't wait for inspector.

Could you explain, please, how I can provide inspect flag for spawned test process?

[2022-08-25 11:17] mohdshakeel opened #16830 "How to know that any page has the JS error."
I am using this code to display error log. But this is not working expected. It should display the JS error.
[code]
I have a page that contains a JS error. How can I tell if a page has a JS error?

Uncaught ReferenceError: okay is not defined
    <anonymous> https://example.com/:449
[example.com:449:3](https://example.com/)

![error](https://user-images.githubusercontent.com/1772444/186651636-aa65

[2022-08-25 11:33] PavanMudigondaTR commented on #14839
Can you check Test Runs ? Also please note this Azure DevOps TestPlans is being integrated in to official release so we might see it soon!

[2022-08-25 12:01] ltsuda commented on #16787
Same issue

https://github.com/ltsuda/learning-tests/blob/test/initial-component/playwright-ct.config.js

[2022-08-25 12:02] zbranzov opened #16831 "[BUG] Config 'video' property set to 'off' does not prevent recording"
**Context:**
- Playwright Version: "name": "@playwright/test",
  "version": "1.25.1"
- Operating System: Mac
- Node.js version: lts 16
- Browser: Chromium

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

Having **video**: 'off' in the config does not prevent recording when

[2022-08-25 12:07] aslushnikov commented on #16780
Fixed.

[2022-08-25 12:07] #16780 closed

[2022-08-25 12:10] PacoSoftwerft commented on #15941
This is similar to https://github.com/microsoft/playwright/issues/15941#issuecomment-1216056221
but even less restrictive.
Works like a charm on my project.

Good luck and if it solves your problem, please consider closing this issue.

[code]

it is the same as the following settings in `about:preferences#privacy`

See screenshot:

![image](https://user-images.githubusercontent.com/81621559/186660

[2022-08-25 12:14] aslushnikov commented on #15941
I'll close this for now since there's been quite a few workarounds already.

Please feel free to file new issues if you think Playwright team can be helpful!

[2022-08-25 12:14] #15941 closed

[2022-08-25 12:18] daniavander commented on #14839
o i see, so we are waiting it !

[2022-08-25 12:28] #16517 closed

[2022-08-25 13:00] kallebjork opened #16832 "DOM and heap leak with Playwright"
### Discussed in https://github.com/microsoft/playwright/discussions/16718

<div type='discussions-op-text'>

<sup>Originally posted by **kallebjork** August 22, 2022, converted to an issue since I feel this is not just me doing something wrong?</sup>
### Hi Playwright team!

First of all I want to say that you are doing a great job - Playwright is really really nice to work with. 🥇
** End of prai

[2022-08-25 13:06] liamdocherty10 commented on #16800
This has worked for us, thank you @yury-s

[2022-08-25 13:41] LiaMoreira commented on #12879
Hi everyone! How is this integration going? I need to integrate Playwright with Test Rails because there's where the team manages tests, but I couldn't do it so far.

[2022-08-25 13:51] eatonjl opened #16833 "[Question] How to make "toBeHidden" work"
I am trying to assert that there is an element on a page but is hidden. If I use "toBeHidden" It will trigger as "true" as the page is loading, since the element is still coming into existence. I can even put some non-existent element in the code and it will pass because the element doesn't exist, ergo it is hidden. Is there a way to assert that an element exists and is hidden (meaning the assert

[2022-08-25 14:05] paymog commented on #16811
Ah, I did a bit more debugging and this was a typing snafu by me!

The error was happening in a `test.describe` block and not a `test` block which I guess is why the whole framework exited.

[2022-08-25 14:27] shinokada opened #16834 "[Question] Error: Timed out waiting 60000ms from config.webServer."
I have playwright.config.ts as following with SvelteKit:

[code]

I got an error `Error: Timed out waiting 60000ms from config.webServer.`, so I set `timeout` with different values, but I keep getting the same error.

I tried `globalTimeout` but the it returns the same error.

How to solve this error?

<img width="1032" alt="image" src="https://user-images.githubusercontent.com/147320/186691330-01

[2022-08-25 14:44] idmadj commented on #16789
Thanks for your quick and detailed reply.

Using `beforeAll` with a shared variable does make sense. It avoids unnecessary reruns of the setup phase, shares context across specific tests and does provide isolation between suites, so that works!

If I want to organize this for code reuse, I can do this:
[code]
Now what appears to a be a big downside is that `test.beforeAll` cannot access the `page`

[2022-08-25 15:16] nickdooley2016 commented on #6319
I resolved my issue by doing the following.

1. Saved the browser's state (session, local storage, etc using after creating the browser/context and performing the actions required for my situation:
    `context.StorageState("state.json")`

1. Close browser and it's context every 30 minutes

2. Kill all node.exe processes (this is where the memory leak exists for me), if you don't kill them it will

[2022-08-25 15:31] yury-s commented on #16792
We don't have any plans to support native context menues automation but let's keep it open to see if it gets enough upvotes to prioritize it higher.

[2022-08-25 15:42] yury-s commented on #16814
Closing as there is a workaround and no further planned action on playwright side.

[2022-08-25 15:42] #16814 closed

[2022-08-25 15:50] yury-s commented on #16822
What error do you see? Please share an example which we could debug otherwise it's difficult to understand what the problem is.

[2022-08-25 16:05] yury-s commented on #16824
Once Locator is constructed it's selector cannot be changed, so you cannot pass a parameter to the locator which is already constructed. What you describe with clickOption seems like the best approach, what are the problems with it?

[2022-08-25 16:12] yury-s commented on #16829
If you goal is to debug a test you can try our [VSCode extension](https://playwright.dev/docs/getting-started-vscode#run-in-debug-mode) instead, would that work for you?

[2022-08-25 16:16] #16830 closed

[2022-08-25 16:20] yury-s commented on #16831
Yes, this is working as intended. `video` is the test runner option and it's eventually translated into `recordVideo` context option. If you explicitly specify `recordVideo` option it overrides the test runner settings. If you want video not to be recorded you should turn it off both places.

[2022-08-25 16:20] #16831 closed

[2022-08-25 16:36] IhorTiurdo opened #16840 "[Question] Stdout object for playwright-allure (JS)"
Hi guys! Where exactly I can see the stdout output during test execution? I tried find it in process.stdout but unsuccessfully. For example: I want to reduce the count of stdout lines in allure reporter to one line:
![Screenshot 2022-08-25 at 19 31 45](https://user-images.githubusercontent.com/79837050/186721002-c30d94bf-d891-47be-99fe-76a1e402c640.png)
How I can do it?

[2022-08-25 16:42] aslushnikov commented on #13724
I'll close this since MS Edge is not available on x86_64. We'll be happy to follow-up once MSEdge is available on arm linux!

[2022-08-25 16:42] #13724 closed

[2022-08-25 16:50] yury-s commented on #16811
Closing as the problem seems to be solved, feel free to file another bug if it's not.

[2022-08-25 16:50] #16811 closed

[2022-08-25 17:15] akamud commented on #14029
I'm having the same issue using Playwright's image on GitHub Action, but with Chromium browser. It is not setting the locale. I did all the `locales` installation in my container as mentioned in the original issue. The only difference is that I'm using `pt_BR` instead.

[2022-08-25 17:16] sgreener commented on #16833
cant you use [locator.isHidden()](https://playwright.dev/docs/api/class-locator#locator-is-hidden)?

[2022-08-25 17:24] eatonjl commented on #16833
Thanks for the suggestion! I believe that acts the same. I tried it out by using `await expect(page.locator("id=bob").isHidden).toBeTruthy();` (bob being a bogus ID) and it passes, considering it hidden. The outcome I am looking for would be for it to fail because it does not exist, fail because it exists and is visible, or pass because it exists AND is hidden.

[2022-08-25 17:26] idmadj commented on #16833
If an element doesn't exist, `locator.isHidden()` will return true, and `expect(locator).toBeHidden()` will pass.

You need to check for the existence of the element separately using something like `expect(locator).not.toHaveCount(0)` or `if (page.$$(selector)) {...}`.

If that's something you need to assert often, it might be useful to extend expect: https://playwright.dev/docs/test-advanced#add-

[2022-08-25 17:29] eatonjl commented on #16833
Thanks! Those are some good suggestions. I will go ahead and close this as answered. Thank you!

[2022-08-25 17:29] #16833 closed

[2022-08-25 17:29] danbellinski-8451 commented on #16732
@yury-s - thanks for your prompt reply. You're right that it does seem to work fine with normal web components. Took me a bit of debugging to reproduce. It looks like it takes a pretty specific combination of setup - a web component needs to slot an input into another web component that has a slot and the "all: initial" CSS property set.

This test below will produce a snapshot with a cursor in it

[2022-08-25 17:39] yury-s commented on #16798
@charxhit would you be interested in updating playwright docs with the instructions how to test extensions in ephemeral contexts?

[2022-08-25 17:39] kriku commented on #16829
Actually I was looking for possibility to debug internals of test runner, context, fixtures and overall runtime of test suite.

For example with chrome devtools, convenient node process debugger...
<img width="1614" alt="Screenshot 2022-08-25 at 20 36 40" src="https://user-images.githubusercontent.com/6429161/186732326-efa2254a-dfa9-40c0-a601-8efc5893c390.png">

I can debug playwright cli, but not

[2022-08-25 18:07] samdoeswork commented on #13900
@dgozman thank you for your help so far!

Here's our plan. Does this sound correct?

If we import InjectedScript() class, we could theoretically use that to create a context in a browser extension to utilize and generate Playwright compatible selectors?

I'd much rather be Playwright compatible than write something similar for many reasons (including frankly that your implementation is better than

[2022-08-25 19:02] eliw00d commented on #11100
Despite only really being useful for E2E tests, is this something we should open on the Electron side? Something like `Menu.getContextMenu()` as a counterpart to `Menu.getApplicationMenu()` seems like something that would be on their side. If so, I can open an issue if there isn't one already.

[2022-08-25 19:08] yury-s commented on #16832
With the clicks (inside `walk`) you do same page navigation back and forth, some of the detached nodes may still be in memory until the page navigates away or the browser decides to dispose them. You can actually see how those numbers grow if you perform the actions manually, it's true that with playwright the numbers are bigger but that's because we create some auxiliary structures in the page (w

[2022-08-25 19:18] yury-s commented on #16834
Apparently your server doesn't start or listens to a different port (not 4173). What does `npm run build && npm run preview` do, can you share the code?

[2022-08-25 19:34] yury-s commented on #16840
It's printed out to the terminal where the test runner starts. It is also passed to each reporter's [onStdOut](https://playwright.dev/docs/api/class-reporter#reporter-on-std-out) and as the final [TestResult](https://playwright.dev/docs/api/class-testresult#test-result-stdout) object.

This is implemented in the allure reporter, see [this code](https://github.com/allure-framework/allure-js/blob/40

[2022-08-25 19:34] #16840 closed

[2022-08-25 19:36] nicmesan2 opened #16846 "[BUG] webkitRelativePath is empty when using setInputFiles"
**Context:**
  - Playwright Version: 1.25
  - Operating System: Mac
  - Node.js version: 16
  - Browser: All

**Code Snippet**

[code]

My app relies on the relative path of the folder where the files are contained in order to implement some logic on the upload. I get this from the File.webkitRelativePath read only attribute. The problem is that when using setInputFiles that attribute seems to be

[2022-08-25 21:20] ceckles opened #16848 "attemping to create a zip w/playwright:v1.25.0-focal"
first off I am fairly new to all this so bare with me, I'm using a Jenkins file with then mcr.microsoft.com/playwright:v1.25.0-focal the test all run no issues; the problem I'm having is once the test are done. I would like to zip up the screenshot folder and add them to the Jenkins Build Artifacts however when when I try and add sh 'zip -r screenshots.zip test/screenshot' zip command not found wh

[2022-08-25 21:25] yury-s commented on #16789
Yes, before all runs once for all tests in a worker, while `page` fixture is created before each test and destroyed after. You can prepare the page in `beforeEach` instead:

[code]

You don't have to use built-in page fixture and can reference `passwordResetPage` variable directly.

I believe you can turn `passwordResetPage`/'signInPage' in a worker fixture, something along these lines:

[code]
Be

[2022-08-25 21:45] yury-s commented on #16732
@danbellinski-8451 thanks for the test! I can reproduce the failure locally.

[2022-08-25 22:13] yury-s commented on #16848
Our docker container doesn't preinstall `zip`, you can either install it manually by running `apt update && apt install zip` or create `.tar.gz` archive instead:
[code]

[2022-08-25 22:13] #16848 closed

[2022-08-25 22:15] idmadj commented on #16789
At this point I'm fairly confident that you pointed me towards the most optimal solution using the current capabilities.

This is not possible as the page needs to be prepared before the code in `beforeAll` (the logic in `beforeAll` depends on the page as prepared by the overriden fixture).

I actually do want to use the logic from an overridden page fixture in `beforeAll`. From what I understand,

[2022-08-25 22:16] dgozman commented on #16828
@htsvetkov Do you mind sharing the repro that exhibits the issue? So far I understood that something regressed (in your tests?), but I don't understand what specifically is broken.

[2022-08-25 22:47] SgtPooki commented on #7030
I was able to get the solution mentioned above (https://github.com/microsoft/playwright/issues/7030#issuecomment-867174653) working on a large CRA project after roughly a day of finagling with the various solutions found.

check out the changes at https://github.com/ipfs/ipfs-webui/pull/2014

[2022-08-25 22:59] yury-s commented on #16789
We don't have plans to implement suite-scoped fixtures but let's keep the issue open for some time to see if it gets enough upvotes.

[2022-08-25 23:37] yury-s commented on #16846
webkitRelativePath returns a path relative to the selected directory but we don't currently support selecting directories. When individual files are selected the browser doesn't know which directory to use to compute relative path.

Leaving this bug open to track a feature for uploading directories to `<input type=file webkitdirectory>` elements.

[2022-08-25 23:39] yury-s commented on #16712
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-08-25 23:39] #16712 closed

[2022-08-25 23:43] lefado opened #16850 "[Question] Evaluate an action including an object"
I would like to dispatch an action which include an URLSearchParams object in the payload.

From development console, I can successfully run:
[code]

However, I have not been able to replicate this code in Playwright. I have tried a couple of solutions, but no luck so far
[code]
I have been able to dispatch successfully an action with a normal object. However, it is important to dispatch an URLSea

[2022-08-26 00:09] yury-s commented on #16776
The response I'm getting locally is different from above. Most likely a bot detection kicks in on the server end because the request differs from what the browser sends, the intercepted request might lack some of the low-level network headers (e.g. sec-ch-* etc.). Circumventing bot detection is not a goal for playwright. You can sniff the request on the server end, compare it with the intercepted

[2022-08-26 00:16] yury-s commented on #16727
Still not reproducible on my machine. Try running with `DEBUG=pw:browser` and see if there are any errors printed to the terminal?

[2022-08-26 00:32] ptc-aramachandra opened #16851 "[Question]How to run electron on CI github actions in headed mode"
Github runner is a windows machine and is running as a service. When we run electron application tests on this machine, we dont see a UI opening at all and hence cannot know what is happening with the electron UI elements. Is there a way we can debug electron applications on CI ?

[2022-08-26 01:35] kakaok commented on #16434
execute_path = "C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe"
    with sync_playwright() as p:
        browser = p.chromium.launch_persistent_context(
                                                    user_data_dir = r"C:\Users\Administrator\AppData\Local\Chromium\User Data",
                                                    executable_path = execute_path,

[2022-08-26 01:35] yury-s commented on #16850
You should construct the object in the page's context (as opposed to Node.js context where the test code runs), make sure that you pass all fields as plain objects and then construct URLSearchParams in the page. this should work:

[code]

[2022-08-26 01:35] #16850 closed

[2022-08-26 01:37] yury-s commented on #16851
Did you try [tracing](https://playwright.dev/docs/trace-viewer-intro)  and/or [video](https://playwright.dev/docs/test-configuration#record-video) recording?

[2022-08-26 02:08] punkpeye commented on #10667
I released a utility [`createDataTransfer`](https://github.com/punkpeye/playwright-utilities#createdatatransfer) that abstracts this.

[2022-08-26 02:09] punkpeye commented on #13364
I released a utility [`createDataTransfer`](https://github.com/punkpeye/playwright-utilities#createdatatransfer) that abstracts this.

[2022-08-26 02:12] Doug-Bowen opened #16852 "[Question] Is it possible to pause all workers when 1 worker is running a specific test?"
**Situation**:
I'm automating an app that requires us to refresh our authenticated sessions every 15 minutes.  We're using a reusable storage state and beforeEach that checks to see if it has been 13 minutes.  If so, we refresh the storage state.

**Challenge**:
Unfortunately, all 6 workers will detect that they need to refresh their state and they will all attempt to refresh the same state, causi

[2022-08-26 02:30] shinokada commented on #16834
[code]

[2022-08-26 04:43] mrmckeb commented on #16785
I came here to ask the same thing, as we tried creating a custom fixture with a method that wrapped `locator`, but that makes debugging a little messy - especially with the VSCode extension, as it points to the locator, not the line.

Perhaps a simpler approach would be to allow users to register locator _middleware_, similar to [custom selectors](https://playwright.dev/docs/extensibility#custom-s

[2022-08-26 05:12] kallebjork commented on #16832
The thing I get with Playwright is that the DOM count increases with every iteration even though we trigger a garbage collect. If I do this in Protractor or manually I do not see that happening.

Below is a manual test where the DOM count returns to 1122 when you trigger garbage collect:
![manual-playwrightdev-dom-count](https://user-images.githubusercontent.com/22211891/186826456-f538354b-ce8e-40

[2022-08-26 05:47] ramam-v commented on #14364
@yury-s Will this feature be supported? I work in a regulated environment  where  we have to capture screenshots at step level to meet the regulatory requirements. This feature will be of great help.

[2022-08-26 05:58] salvadoriume commented on #16606
Any ETA @dgozman ? Or is it on some roadmap? This feature is something I am also waiting for.
Thank you very much.

[2022-08-26 06:12] chaitraAshu commented on #16806
@yury-s
Please give a solution for the below query.
Posting a request.  [see the attachment.
![image](https://user-images.githubusercontent.com/99385012/186834146-b5f00139-b118-4968-ae51-82406cdc07ab.png)

i will have to send a file, filename, data within the body.  this is how I'm trying to pass. but getting the error as
apiRequestContext.post: Only one of 'data', 'form' or 'multipart' can be spe

[2022-08-26 06:46] araghuvarun commented on #16725
Yes. I see it is pointing to 1.20.1 version. Though I have 1.25.1 version in my local package.json, it's taking from our project common repository and showing 1.20.1. After properly updating, it is working fine. :)
Able to upload more than 2.5GB file as per our requirement.

npm ls playwright to check the playwright versions? - This helped. thanks !

[2022-08-26 06:58] lynnafisher commented on #16806
Hi Yuri,

I will give it a go today and let you know how I get on. Apologies, didnt get a chance to look at it yesterday.

Many Thanks

Lynn

[2022-08-26 07:18] ricardowiseverge commented on #16526
@hexabyte23 any insights on your research? Trying to understand how to make the same use case working

[2022-08-26 07:27] Rafiot commented on #16727
This is the output I'm getting:

[code]

[2022-08-26 07:37] sontiq commented on #15492
can you please show the code that  can solve the problem?

[2022-08-26 07:59] htsvetkov commented on #16828
Hello @dgozman,
thanks for the replay!

I cant provide an real environment for test, but will do my best to explain the case.

For example we are having website:

[code]

The _iframe_ is wrapped in several _divs_.
When switching the context to work with frames in playwright.

[code]

with the following example the wrapper of _iframe_ is with **_shadow-root (closed)_** playwright detects that the w

[2022-08-26 08:39] Wilhop commented on #16822
@daniavander Isn't that more an Azure DevOps problem with HTML-viewer extension? I'm using the same Playwright version but instead of using an extension I publish the html report, where the html is just fine. This way you're not depending on an extension.

In Azure Pipelines we publish the report that Playwright creates (the same that you are trying to view) as an Artifact, which can be downloaded

[2022-08-26 08:42] dwt commented on #13449
Same problem here…

[2022-08-26 11:03] Wilhop commented on #16749
I tested the same workflows in the same URL with Cypress, and I didn't face any network issues there. Is there something in the way Playwright communicates that we could investigate?

[2022-08-26 12:24] Narayan3682 opened #16855 "How to find locators and test dynamic columns for ag grid"
We have a AG-grid in which I need to validate columns and filters but, most of the columns and rows are dynamically loaded into DOM. Indefinite scroll is needed to load in UI which is not a efficient solution for automation. Is there any way I can validate this or load columns through script?

[2022-08-26 13:00] daniavander commented on #16822
hi @Wilhop I also publish atrifacts it work well, just i would like to see easier mode with html publisher

@yury-s I do not tell more, just in main branch i use 1.23.3 version and the html viewer work wll, on the other branch i use the latest version and does not work this plugin

[2022-08-26 13:04] sswapnika opened #16856 "Playwright context is taking more than 2 minutes to close with video resolution 2920X1080 resolution"
Hi Team,

I am using video recording resolution as width: 2920,height: 1080. with this resolution, context close is taking more than two minutes which is increasing my test execution time. with lesser resolution like 800X800, the video is not clear when we add it in pipeline jobs. Do we have a solution for this?

[2022-08-26 13:51] mcdehaan commented on #12911
Same as the people above me. I'm testing for the 302 status, location in the header and correct cookies. My workaround is using Axios but I try to replace it entirely with Playwright.

[2022-08-26 14:30] skysantoroa opened #16858 "[BUG] Text selector is failing at capturing a string with special characters"
**Context:**
- Playwright Version: 1.25
- Operating System: Linux
- Node.js version: 16
- Browser: All
- Extra: none

**Code Snippet**

Locator:

[code]

DOM subtree:

[code]

**Describe the bug**

The above assertion should not fail as the selector correctly matches the element in the subtree but the test will fail with error. Also notice the amount of backslash.

[code]

![image](https://user-im

[2022-08-26 15:47] dgozman commented on #16606
@salvadoriume This issue is not on the roadmap. We usually prioritize based on the popularity of the issue, and this is not popular enough yet.

[2022-08-26 16:07] dgozman commented on #13900
@samdoeswork That's right. You'll need to copy code from the `injected/` directory, instantiate `InjectedScript` and call `generateSelector()`.

[2022-08-26 16:10] yury-s commented on #16852
There is no builtin mechanism that would allow to pause the workers, it's up to the test runner in which order and on what workers it runs the tests.

You could synchronize current status of storage refresh request between worker processes (e.g. by bring up a local server in globalSetup)  and ensure that there is at most one active request to the server at any given moment. The server would be the

[2022-08-26 16:14] Doug-Bowen commented on #16852
Yes.  I think so.  Thank you!

[2022-08-26 16:14] #16852 closed

[2022-08-26 16:21] ptc-aramachandra commented on #16851
Yes I did record a video. It is supposed to click a button and I'm also using a expect to wait for the button to appear and then click it. Code is able to see the UI element and hit that button and continue but on the UI it doesn't seem to be doing that button click and hence the code fails at the next step waiting for some other UI element to appear.
Why is this mismatch happening ?

Electron is

[2022-08-26 16:21] yury-s commented on #16834
What is the output of `npm run build && npm run preview` if you run it in the terminal?

[2022-08-26 16:24] dgozman commented on #16828
@htsvetkov Thank you for the explanation. This is most likely related to the closed-mode shadow root. I'll try to reproduce and see what we can do. Thanks for suggestions!

[2022-08-26 16:26] yury-s commented on #16834
See also [this page](https://playwright.dev/docs/test-advanced#launching-a-development-web-server-during-the-tests) with more details on launching the server and troubleshooting.

[2022-08-26 18:40] Gitadventure321 commented on #16771
I tried the manual installation as posted in the question above, it doesn't work either, do you suggest any other way to install/command?

Used this command to install dependencies but doesn't work: npx playwright install-deps

[2022-08-26 19:29] haramchang opened #16862 "[Question] What is the ideal timeout?"
Hi, I was wondering if a timeout of 20 seconds (for each test) for about 500 tests running in parallel (with 28 workers) is too short of a timeout? The tests consist of form submissions + making sure buttons/CTAs exist on a page - nothing that takes more than 20 seconds each. When running one test locally, it's super fast (less than 20 seconds) which is why we have our timeouts set at 20 seconds,

[2022-08-26 19:32] stuartbrussell-intuit opened #16993 "Breakpoints in VS Code shift up several lines when debugging starts"
When debugging a test, a breakpoint set in the code will visibly shift up several lines as soon as debugging starts. The code then breaks on the (incorrect) location as if I had set the breakpoint there on purpose. Then when the test stops, the breakpoint visibly moves back to the original line.

[code]

1. Set a breakpoint on the last line of code "await page.locator...".
2. Right click the green

[2022-08-26 19:50] #16725 closed

[2022-08-26 19:57] yury-s commented on #16806
You should put all the payload fields into multipart, they will be passed to the server as the form's key/value fields:

[code]

[2022-08-26 20:02] charxhit commented on #16798
@yury-s sure, I'll make time to submit a PR.

[2022-08-26 20:56] oscargforce commented on #16768
Yes thank you 🙏

[2022-08-26 22:01] hexabyte23 commented on #16526
I figure out that anybody is expected that kind of enhancement, but as Microsoft refuse too take in account, we need a ffmpeg specialist...

[2022-08-26 22:25] yury-s commented on #16862
There is no universal solution unfortunately, the timeout will depend on the tests, how much times they normally need and also on how fast the CI machines are, how good the network connection between the CI and your server etc. Pick some reasonable number which is sufficient for the tests to pass. You can have different configuration on CI and locally using `process.env.CI` variable, similar to th

[2022-08-26 22:25] #16862 closed

[2022-08-26 22:30] yury-s commented on #16822
Since the report opens fine locally, it looks like a problem with Azure DevOps as noted above and the plugin that tries to embed the html report. You should address this question to HTML-viewer extension. I'm closing this bug but feel free to open a new one if there is something we can change in Playwright to help that extension work better.

[2022-08-26 22:30] #16822 closed

[2022-08-26 22:51] yury-s commented on #16858
Looks like our selector parser is confused by the pair of " " inside the text. We should fix that. The following works (without last quote)

[code]

You can also specify a regex as a workaround.

[2022-08-26 23:26] KeionneDerousselle commented on #14945
This happens to me as well when trying to use `page.goto('/login');` in my global setup file. I think for some reason the `baseURL` is not available yet in the global setup file. Don't know if this is the best workaround, but I ended up doing this:

[code]
🤷🏽‍♀️

[2022-08-26 23:45] yury-s commented on #16856
Can you provide more details about your environment, what playwright version is this, which browser, which OS? Also how long does the test run without video or maybe you can share the code? Since the video dimensions are large it may take longer to encode.

[2022-08-27 00:00] yury-s commented on #16855
You can always scroll the grid until it reaches the end / desired state by evaluating [window.scrollBy](https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollBy) in the page, this is the closest to what a human would do. There might be a js method in AG-grid that allows jumping to a particular line, you should look for the information/ask experts at their forums.

Disabling the DOM virtual

[2022-08-27 00:00] #16855 closed

[2022-08-27 01:36] yury-s commented on #16858
It turns out that different escaping actually works:

[code]
you basically need to `\` escape the `\` which becomes `\\\\` when combined with js source code escaping and it is different from non-exact match where this escaping is not handled.

[2022-08-27 01:46] yury-s commented on #16858
The tooltip contains correctly escaped string, how did you end up with `\\\\\\d` ?

[2022-08-27 05:16] #16858 closed

[2022-08-27 06:25] ShaneyWaris commented on #12369
Sir @mxschmitt , is there any way to choose a single folder with playwright instead of fileChooser?

[2022-08-27 06:45] ShaneyWaris commented on #4686
Sir, @aslushnikov @viraxslot @fawazahmed0 , is there any way to choose a single folder with playwright when clicking on a div/button?

[2022-08-27 06:56] westhechiang commented on #12105
Currently trying to figure out a workaround for this very problem. Seeking suggestions

[2022-08-27 07:01] prewk commented on #12105
@westhechiang FWIW I tried to constrain myself to only needing specific things from specific libs (which are aliased). After that I just created an extra barrel file where needed called `e2e-exports.ts` and added a new TS alias for it.

For instance, one lib called `@shared/util/url` exported too much via its `index.ts` barrel, so I created that new barrel and aliases it `@shared/util/url/e2e`.

I

[2022-08-27 07:02] prewk commented on #12105
@westhechiang FWIW I tried to constrain myself to only needing specific things from specific libs (which are aliased). After that I just created an extra barrel file where needed called `e2e-exports.ts` and added a new TS alias for it.

For instance, one lib called `@shared/util/url` exported too much via its `index.ts` barrel, so I created that new barrel and aliases it `@shared/util/url/e2e`.

I

[2022-08-27 07:26] mechandan opened #16867 "How to put implicit wait in post operation"
Hi Team,

is there any way to put implicit wait ??

note :- Its during API testing ….

Iam doing post operation but I want it to be done after every 2 sec , as in test env we dnt have much server so on more load its giving ‘too many request in single time frame ‘

i tried to find but seems all waits are on page only

[2022-08-27 09:50] ShaneyWaris commented on #11642
Sir, @janpfajfr @aslushnikov, is there any way to choose a single folder with playwright when clicking on a div/button?

[2022-08-27 10:01] ShaneyWaris commented on #14231
Sir, @yury-s , is there any way to choose a single folder with playwright when clicking on a div/button?

[2022-08-27 16:31] Rohanpandey268 opened #16870 "[Question]alternative of Ithenable"
What is alternative of Ithenable in PW ? I am trying to migrate from protractor and one of the function used has return type as Ithenable.
Kindly, help

[2022-08-27 16:36] MsLolita commented on #16776
I substituted headers and cookies from Playwright in the request, but I received a part of the code that was not loaded. As I understand it, I need to use js rendering to pass the bot anti-detection, that is, browsers do this and execute javascript code on the page and let me in. But I would like to do it via a server request.

[2022-08-27 16:39] MsLolita opened #16873 "[Question] And can I somehow use headless first and then turn on headed?"
For example, I start playwright in headless without screen, it does some action and then I need to manipulate by myself so I write smth like page.headless = False.

[2022-08-27 19:39] CtrlZvi commented on #16574
I believe this already exists. Take a look at the [`has` filter for locators](https://playwright.dev/docs/locators#filtering-locators).

[2022-08-27 19:46] CtrlZvi commented on #13672
Is your use case covered by [Locator filtering](https://playwright.dev/docs/locators#filtering-locators)? Specifically using the `has` filter with the child locator?

[2022-08-27 21:58] Chung-Peter opened #16876 "[Question] Is it possible to run parallel groups of tests serially?"
I have one set of tests that are dependent on another set of tests to finish first (both in the same spec.ts file). Each group of tests are independent so can be run in parallel. However, when I set 'serial' mode, I cannot set any other group of tests to 'parallel' mode.

The only way I've been able to run these two sets of tests one after the other is by running two separate commands on the CLI u

[2022-08-28 02:38] punkpeye opened #16877 "[Question] How to return error from launchServer?"
Suppose I start server using `launchServer` and I intercept the web socket connection. How would I send a human readable error message to Playwright?, i.e. something that would break Playwright in a way that surfaces the error that was sent.

[2022-08-28 08:17] sand4rt commented on #15889
I don't think a link is the only contract. Users are able to type the url in the browsers address bar as wel _(aka 'page.goto')_.

IMO we should be able to mimic the user's behavior even if this reloads the JS state.

[2022-08-28 08:23] sand4rt commented on #14416
@pavelfeldman I closed this ticket because everything can now be done via the mount hooks.

[2022-08-28 08:23] #14416 closed

[2022-08-28 08:46] kriku commented on #16829
Found this fork:
https://github.com/microsoft/playwright/blob/main/packages/playwright-test/src/dispatcher.ts#L512

Are there legal ways to add inspect flag?
[code]

I already test it locally - it works, but looks hacky, make changes to node_modules

[2022-08-28 13:10] oytunerdd commented on #14031
Any updates on this one ?
@mxschmitt

[2022-08-28 13:48] KirillGalimov opened #16879 "[BUG] `playwright: not found` Command failed with exit code 127"
**Context:**
- Playwright Version: **1.25.1**
- Operating System: **Linux**
- Node.js version: **16.14.2**
- Browser: **All**
- Yarn version: **1.22.4**

**Describe the bug**

When I try to add Playwright to an existing project locally I get an error on start:
[code]
_The error doesn't occur in fresh project._

**Steps to reproduce:**
1) `yarn create playwright`
2) `yarn playwright test`

**The pr

[2022-08-28 13:48] KirillGalimov commented on #16879
<details>
  <summary>Install Playwright step log</summary>

[code]
</details>

[2022-08-28 14:32] punkpeye opened #16880 "[Question] Is Playwright server somehow aware of test outcomes?"
I am trying to figure out how do I record a test outcome in Playwright server.

There appears to be nothing in the websocket stream that would signal when expectations fail.

[2022-08-28 15:10] lefado opened #16881 "[Question] Evaluate: Attach File to FormData"
I am trying to call a Javascript function from Playwright. This function basically send a API request to the Backend.

Function code in the front end is:
[code]

Then, I am trying to replicate same logic on Playwright by doing:
[code]

Frontend function is being called successfully from Playwright. However, triggered request is coming back with an error

[code]

When Form Data is created from Fron

[2022-08-28 16:49] azarudeena commented on #16771
@Gitadventure321  You have to use Ubuntu as OS instead of Amazon Linux. that's supported version for playwright. Please check link shared by @yury-s

https://playwright.dev/docs/release-notes#-debian-11-bullseye-support

[2022-08-28 17:26] CtrlZvi opened #16883 "[BUG] toHaveURL and toHaveTitle sometimes timeout when the page has a URL and title"
**Context:**
- Playwright Version: 1.25.1 (
- Operating System: Linux
- Node.js version: 18.8
- Browser: Firefox
- Extra: Also mcr.microsoft.com/playwright:v1.25.1

## System:
 - OS: macOS 12.5.1
 - Memory: 743.46 MB / 64.00 GB
## Binaries:
 - Node: 18.8.0 - /usr/local/bin/node
 - npm: 8.18.0 - /usr/local/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash

## System:
 - OS: Linux 5.10 Ubuntu 20.04.

[2022-08-28 17:33] CtrlZvi commented on #16883
Additional [HAR](https://github.com/microsoft/playwright/files/9440157/har.1.zip) and [trace](https://github.com/microsoft/playwright/files/9440156/trace.1.zip) showing the same issue for toHaveTitle.

[2022-08-28 17:46] wvhulle commented on #12487
Sorry that still doesn't work with version 1.25, I will make a reproduction.

[2022-08-29 00:24] punkpeye opened #16884 "[BUG] Unexpected browser.close() behaviour when connecting to a remote server"
**Context:**
- Playwright Version: 1.25.1
- Operating System: Mac
- Node.js version: 18.7
- Browser: Chromium
- Extra: -

I would expect these two snippet to produce comparable events:

[code]

[code]

However, looking at the events on the receiving end, Playwright version does not issue `close` event.

[2022-08-29 06:59] laurentpayot commented on #2451
@kishorambare As far as I remember I was using Playwright runner.

These logs you and @shirshGit are getting look like a totally different problem. You should definitively open a new issue.

[2022-08-29 07:19] bboyle commented on #14117
noting that `.toHaveClass(/(^|\s)active(\s|$)/)` is a more reliable workaround, but would really love the simpler API proposed here! Working with an angular app and the material library and elements have a lot of classes, I really only want to test for a specific one (e.g. is the "active" class present or not), preferably without the hard to read regex :)

[2022-08-29 08:34] 4ekki commented on #7036
+1 for `test.each` notation. Also, Jest has amazing way of populating data [via table](https://jestjs.io/docs/api#2-testeachtablename-fn-timeout), which is very convenient when test case has 3+ parameters

[2022-08-29 09:08] dgtlmoon commented on #7220
https://github.com/microsoft/playwright/commit/aabdac83804bfb28fba0a93a5d4f61ce17920f41 related to this change?

[2022-08-29 09:31] oliver-freudrich-packwise opened #16889 "[Question] Access vue 2 instance of component"
Hey there, is there currently a way to access eg. the data, methods or anything of a mounted component or in general the vue instance of the component in the tests?

Something like this (I know this would return the component, not the vue instance but just to illustrate it a bit):

Test.vue

[code]

test.spec.jsx

[code]

[2022-08-29 10:05] vishwajeetgodge13 opened #16890 "[Question] how to run same test on multiple browser one after another"
hi team,
I'm using playwright with js. and i want to run same test on multiple browser. how can i do it?
ex.
   once it successfully run on chrome then it should run on firefox..webkit..edge like this way

[2022-08-29 10:15] vishwajeetgodge13 commented on #16890
Now it running on all browser at same time that i don't want. when it successfully run then, same test run on another browser

[2022-08-29 11:02] ShuiRuTian commented on #11143
I have created one naive TRX reporter: https://github.com/ShuiRuTian/trx-reporter-for-playwright

I did not concern much about some edge conditions for now(like what about the attachment only with content, where should we put them in TRX file?), but it starts working on Azure DevOps: (I use azure pipeline for the repo itself)
![image](https://user-images.githubusercontent.com/28779355/187182374-d8

[2022-08-29 11:03] ShuiRuTian commented on #11143
And if possible I want to get some feedback about
- how you want to set some variables(like "owner" and "priority"), is the way in the readme good enough or not.
- what do you want to control by configurations.

Let's bring a TRX reporter for playwright together.

I will keep an eye on both here and the repo, thanks guys!

[2022-08-29 11:08] mxschmitt commented on #11143
There is already an open PR, do you mind reviewing/comparing/collaborating on it? https://github.com/microsoft/playwright/pull/15736

[2022-08-29 11:23] amrsa1 opened #16891 "[Feature] Add ability to tag the hooks as well"
It will be very cool, if we can  add tag to the hooks as well (before/after...) so it will be executed only against the test cases with the relevant tag

[2022-08-29 11:25] amrsa1 opened #16892 "[Question] Is there any built in method can be used to bypass google auth ?"
Is there way that i can bass the google credentials in order to skip the login part, similar to basic auth feature ?

[2022-08-29 11:26] Wilhop commented on #16749
We managed to get rid of the error messages by moving the test environment to Azure. I'm unsure of the real reason for the errors, because the same address worked with other test automation frameworks. Eg. same tests with Cypress worked just fine.

I'm guessing the errors come from a combination of Playwright + Server side firewall configuration. We're still checking if we can find out from the se

[2022-08-29 11:26] #16749 closed

[2022-08-29 11:29] ShuiRuTian commented on #11143
@mxschmitt

Oops, sorry I totally miss it.

It's kind of subtle, although I create this repo indeed for Azure, but in theory it's for TRX. Azure could use TRX to give a friendly UI and others could(like VS) too.

I will take a look at this PR to see the difference.

[2022-08-29 12:03] #16824 closed

[2022-08-29 12:05] LazyCompiler commented on #14431
I experience the same bug. In my case, I'm testing a Chrome Extension, and so the website I enter has this before-leaving-are-you-sure dialog.

Because both the `dialog.dismiss()` and the `dialog.accept()` functions didn't work, I decided to avoid this dialog by overriding the `onbeforeunload` event that caused it:
[code]

[2022-08-29 12:27] gunabca opened #16893 "browsers are not getting installed in jenkins - working fine earlier - (Failed to install browsers)"
While trying to execute the pipeline, i am getting the below error
[code]

[2022-08-29 12:31] gunabca commented on #16893
Our CI is broken as a Result of this

[2022-08-29 12:51] hoangngocanhskedulo commented on #4046
Upvote

[2022-08-29 13:04] YusufOzturk-Development opened #16894 "How to edit bitbucket-pipelines.yml folder?"
I have a package.json file like below:

[code]

When I run `npm run pw:dev` in my local,all tests getting passed. But when I set the below command on **bitbucket-pipelines.yml** taking below error;
**bitbucket-pipelines.yml**  file;

[code]
**the error 20 test got fail. But I don t take any error on my local**
[code]

[2022-08-29 13:13] damianr13 opened #16895 "[Feature] allow exposeBinding to pass locators"
A previous PR introduces the ability to retrieve an `ElementHandle` from an exposed binding: https://github.com/microsoft/playwright/pull/4030

Since then the `ElementHandle` API has been discouraged and replaced by the more recent `Locator` objects.

I would like to have another option for the `exposeBinding` method that would allow me to specify that I prefer getting a `Locator` inside the callb

[2022-08-29 13:40] mikefirefly opened #16896 "[Question] Having trouble using adjacent sibling combinator"
Is it possible to combine locators in this manner, in order to extract text from an element following another element? I have trouble doing that. Here's my code:

[code]

[2022-08-29 13:49] sky-brunoteixeira opened #16897 "[Question] Using Playwright with DRM content"
Hi, I'm doing a POC using playwright and the two most important requirements are being able to play DRM content, and being able to use Chrome, Firefox and Safari.
From what I saw until now, for Safari, I can use the default WebKit configuration, for Chrome I can use Chromium with `channel: chrome` to use instead.
[code]
The issue I'm having is with Firefox, I'm unable to play DRM content on Nightl

[2022-08-29 14:52] pavelfeldman commented on #16896
I don't think it works that way, you can only use "+" within css selector. I'm not sure I understand what you are trying to select, but you can try using `has`. That way you can select a parent that has certain child and query text of the descendant of that child. I'll leave this as a feature request for a `locator.sibling`.

[2022-08-29 14:55] pavelfeldman commented on #16895
Locator and ElementHandle are conceptually different. First is a 'way of locating element', second is 'exact dom node handle'. Migrating from ElementHandle to Locator does not provide and of the Locator benefits, so it does not seem necessary. ElementHandlers make sense when you are evaluating and exposing bindings, they are discouraged for primary automation operations, but they exist for the cor

[2022-08-29 14:56] pavelfeldman commented on #16894
This does not look Playwright-related. Note that you have a `"playwright": "^1.24.0"` in your package.json that you should remove, looks like you are using `@playwright/test`, so you don't need the `playwright` library.

[2022-08-29 14:59] pavelfeldman commented on #16893
It looks like your host system on Jenkins does not trust Azure CDN's TLS certificate.

[2022-08-29 14:59] pavelfeldman commented on #16892
No, Google explicitly prohibits bypassing their auth.

[2022-08-29 14:59] #16892 closed

[2022-08-29 15:00] pavelfeldman commented on #16891
You should consider using https://playwright.dev/docs/next/test-fixtures. They are explicitly designed so that the hooks run only for the tests that run them.

[2022-08-29 15:00] #16891 closed

[2022-08-29 15:02] pavelfeldman commented on #16890
You can either pass `--workers=1` to make all tests run serially or you can pass `--project=chromium` to run them for specific browser.

[2022-08-29 15:02] #16890 closed

[2022-08-29 15:05] pavelfeldman commented on #16889
We can consider `component.evaluate` that would have the component as this.

@sand4rt wdyt?

[2022-08-29 15:07] pavelfeldman commented on #16884
On which object?

[2022-08-29 15:07] pavelfeldman commented on #16883
We would need exact steps to follow in order to address this.

[2022-08-29 15:09] mikefirefly commented on #16896
Thanks. This is what I want to get: [image](https://i.imgur.com/yi3S6jG.png), I'm not sure if `has` will help.

[2022-08-29 15:12] pavelfeldman commented on #16881
What is `Blob` here, there is no such type in Node.js?

I don't think we support passing the blobs in evaluate. You should serialize your Buffer as a `base64`, pass it and parse it back in your evaluate body when constructing the File.

[2022-08-29 15:13] pavelfeldman commented on #16880
No, those are implemented in different layers.

[2022-08-29 15:13] #16880 closed

[2022-08-29 15:13] ShuiRuTian commented on #11143
@alexneo2003 friendly ping~

It's hard for me to know what really happened for azure reporter, I rarely use the Azure test plan and API directly. So the comparation is unfair, please correct me if I make any mistakes.

Azure-Reporter:

good:
- flexible, better control with azure. Maybe powerful for advanced situation. As long as Azure has the feature, you could use it.
- accurate. There is no mism

[2022-08-29 15:15] pavelfeldman commented on #16879
You are misusing the `yarn create playwright`. This is a tool that should be used interactively by the user. In the end it'll be calling various  commands like `yarn playwright --install-deps`. If you want to script it, you should call these commands yourself in your yaml.

[2022-08-29 15:17] pavelfeldman commented on #16877
I don't think this is currently possible.

[2022-08-29 15:18] pavelfeldman commented on #16873
No, headless and headed are considered two different executables, there is no way to switch from one mode to another live.

[2022-08-29 15:18] #16873 closed

[2022-08-29 15:19] pavelfeldman commented on #16870
That would be a `Promise`.

[2022-08-29 15:20] pavelfeldman commented on #16867
`await new Promise(f => setTimeout(f, 2000));`

[2022-08-29 15:24] KirillGalimov commented on #16879
@pavelfeldman

I copied this script from VS Code Playwright extension, that is using it successfully on a fresh project, but not on existing project where I get error.

As you can see in "Install Playwright step log" that I attached it is calling these commands.

Anyways it doesn't explain why I get this error locally, where I call the commands myself

[2022-08-29 15:32] pavelfeldman commented on #16879
Could you provide the steps that I could follow to reproduce this? Which commands do you call yourself and where do they fall? As I said, don't use `yarn create` in a script, so it should be a sequence of `yarn playwright` commands that fails, that way we can treat it as a bug and fix it.

[2022-08-29 15:54] punkpeye commented on #16880
I guess my point is that it should be.

If you look at how these are implemented by companies that host Playwright test runners, they rely on hacks at the moment to capture the outcomes, e.g. https://www.browserstack.com/docs/automate/playwright/run-tests-in-parallel

[code]

It would be ideal if Playwright sent a message to the server with equivalent information.

[2022-08-29 15:54] punkpeye commented on #16884
v1.25.1

[2022-08-29 15:59] KirillGalimov commented on #16879
**More Info:**

if I:
- delete `yarn.lock` file
- `npm init playwright@latest`
- `npx playwright test`

it works successfully and I don't get this error! But it's not a solution for my project, since it never works with `yarn`. Any ideas?

[2022-08-29 15:59] punkpeye commented on #16884
Misread what you asked – what do you mean on which object?

WebSocket server here is just an instance of https://www.npmjs.com/package/ws

I would expect `await browser.close()` to send a close event, it does not.

[2022-08-29 16:09] yury-s commented on #16808
Closing as part of the triage process since it seemed stale. Please create a new issue if you still face the issue.

[2022-08-29 16:09] #16808 closed

[2022-08-29 16:13] dgozman commented on #16896
@mikefirefly As a workaround for now:

[code]

[2022-08-29 16:21] CtrlZvi commented on #16883
I have been trying for weeks to find an exact repro case and I have not been able to find a consistent reproduction case. The best I've come up with is slower servers seem to exacerbate it, but I've also seen it with fast servers.

[2022-08-29 16:31] mechandan commented on #16867
Thankyou, i was thinking there wud be some inbuild method, anyways thanks 😊

[2022-08-29 16:31] #16867 closed

[2022-08-29 17:49] sand4rt commented on #16889
Exposing the component instance _(for any framework)_ leads to testing implementation details. I would instead resemble the tests the way the software is used. This will eventually lead to better tests that won't break as quickly if you refactor something and helps preventing false negative and false positive test results. I **highly** recommend reading [this article](https://kentcdodds.com/blog/t

[2022-08-29 17:56] nicmesan2 commented on #16846
I understand. In the mean time, is there any way to simulate a folder upload? I also support folder drag'n drop. Maybe that could be tested instead of using an input file?

Thanks!

[2022-08-29 17:59] fibo commented on #12828
@pavelfeldman I tried locator.fill('') or at least what I understood.

I could not find something related in documentation. This issue should be reopen, it is not clear for the users (like me).

[2022-08-29 18:06] yury-s commented on #16846
Unfortunately there is no easy workaround at the moment.

[2022-08-29 18:21] alexneo2003 commented on #11143
Ok, as i seen TRX is native Azure DevOps file format which stored along source code and with help pipeline task can publish test results. It's most useful when tests running at Azure pipeline.
When I'm started working with my reporter I'm not known about trx) and my reporter is most useful at any place running

[2022-08-29 18:47] azad-derakhshani-GS commented on #10085
Upvote, as the PW tests time out way too often because there was not enough time left for the teardown.
And currently the only way around it is to increase the test timeout, but the more tests you have, the more often the issue with the teardown occurs, so you constantly have to increase the test timeout to avoid teardown-related fails.

But the teardown has nothing to do with the tests and should

[2022-08-29 19:30] gauravgandhi1315 commented on #16893
@gunabca I had the same issue and ended up using docker image to fix this issue.

[2022-08-29 19:37] thedavidhoffman commented on #12193
We're having this issue on ver 1.25.1. We currently have around 360 tests, and it's rare to get a full clean run, but if you keep running the test suite over and over, eventually it will get a full clean run. If we take any of the test that randomly fail and run them individually, they always pass. So it seems like Playwright can be unreliable when executing a larger batch of tests.

[2022-08-29 19:39] gauravgandhi1315 commented on #16881
@lefado To attach file in playwright, I am using this:

[code]

[2022-08-29 19:46] pavelfeldman commented on #16884
There is no `close` event in Playwright. And `browser.close()` does not close the browser if it was obtained from the server, it disconnects from it. It dispatches https://playwright.dev/docs/api/class-browser#browser-event-disconnected.

[2022-08-29 19:50] bobbyngwu commented on #12193
@thedavidhoffman this is similar to the experience I have had. I honestly don't know why, but I suspected it may have something to do with context sharing or so. Also could randomly happen in different browsers.

What I have done for our CI, as a workaround though is to repeat failed tests at least thrice. Have been having them all pass since then though.

[2022-08-29 19:51] bobbyngwu commented on #12193
Nice. Will give that a try

[2022-08-29 19:52] bobbyngwu commented on #12193
Reopening as this still seem to be reoccurring ... Will require a proper fix or documentation to ensure we are doing it right

[2022-08-29 20:02] Meir017 opened #16901 "[Feature] Allow customizing the html reporter annotations"
When rending blocks of text into the annotations of the test they are rendered without the new lines.

Example from - https://github.com/Meir017/test262-web-runner
![image](https://user-images.githubusercontent.com/9786571/187287871-c3486807-7ea2-417b-8ce3-43aa6ed75853.png)

adding `white-space: pre-wrap;` to the css rule `.test-case-annotation` solves this.

![image](https://user-images.githubuse

[2022-08-29 20:03] pavelfeldman commented on #12193
Your tests seems non-deterministic, you don't know when the element becomes active, hence you don't know where the `Tab` is dispatched.

I'll close this since the problems described here are due to the tests being non-deterministic. Using web-first assertions `await exect(locator).to` are the advice we can give to unflake the tests, everything else requires exact steps so that we could reproduce a

[2022-08-29 20:03] #12193 closed

[2022-08-29 20:13] punkpeye commented on #16884
What is the actual WebSocket event? because as far as I can tell, the server just stays hanging without being aware that client disconnected.

[2022-08-29 20:21] pavelfeldman commented on #16727
I can reproduce with:

[code]

We are trying to capture a screenshot of size `{ width: 1289, height: 23332 }`

[2022-08-29 20:32] pavelfeldman commented on #16728
This is something we didn't try.

Not sure what's happening here - I only have 2 failures in screenshots (we keep pixel expectations for Intel upstream, so this is expected).

[2022-08-29 20:34] pavelfeldman commented on #16768
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-29 20:34] #16768 closed

[2022-08-29 20:43] pavelfeldman commented on #16901
I don't think we expect rich format in those annotations, they don't even have a mime type.

[2022-08-29 21:02] pavelfeldman commented on #16787
I believe SvelteKit no longer uses `@sveltejs/vite-plugin-svelte` and uses `@sveltejs/kit/vite` instead to build the apps with Vite. Which suggests that we should have a dedicated `@playwright/experimental-ct-sveltekit` for SvelteKit specifically. Unfortunately, our problem with SvelteKit is that it breaks us with every minor release, so we are not chasing it at the moment.

[2022-08-29 21:03] pavelfeldman commented on #16787
@sand4rt fyi in case you are interested in it. I recently removed our tests for SvelteKit because it changed again and broke us :)

[2022-08-29 21:07] yury-s commented on #16745
Thanks for sharing the repro, I can confirm that with `route` only `commonHP-critical.css` is loaded but without request interception I also see `commonHP.css`. Works fine in Chromium.

[2022-08-29 21:13] pexa-skumarbadrinath commented on #16779
The error is due to a certificate issue in the server. when trying to understand the certificate usage of server, i ran this command for all three CDN endpoints

[code]
### Verizon CDN
[code]

### Akamai CDN
[code]

The output clearly says `Secure Renegotiation IS NOT supported`, which is the root cause for this issue.

To overcome this issue, I have to create a temp openssl conf (as suggested in

[2022-08-29 21:18] ltsuda commented on #16787
Understood, I didn't remember Sveltekit being still in beta. I'm sorry about that.

I will hold my studies about component test on my repo for now and focus on another area, like the contract tests.

Thanks for the information and for the time guys <3

[2022-08-29 21:18] pbiasotti opened #16945 "[BUG] Cookie set by JavaScript it not sent after windows.location.reload(true)"
**Context:**
- Playwright Version: 1.24.1
- Operating System: Windows 11 and Ubuntu 20.04
- .NET version: NET 6
- Browser: Chromium
- Extra: The test fails when running in pipelines (not locally)

**Code Snippet**
N/A

**Describe the bug**

1. We have an MVC website which requires a cookie to render the razor view.
2. For the first time a user gets to the site we detect that the user does not have

[2022-08-29 21:50] DH250439 opened #16903 "undefined: Error: Global config has not been defined yet - Playwright component test"
I'm attempting to implement Playwrights component test on a grid. Here's the component test:

import { test, expect } from "@playwright/experimental-ct-react";

[code]

Here's the error:

undefined: Error: Global config has not been defined yet. at GlobalConfig.get (http://localhost:3100/assets/index.b07305db.js:105442:13)

This is a React app.

I have one Component test running, but the new one I

[2022-08-29 22:09] vincenzo-gasparo opened #16904 "[Question] Do steps should fail with soft expect?"
As a Playwright user,
I would like to know if a failed expect.soft assertion should change the test step status

Example snippet:

[code]

As you can see the test report shows the test step as passed, is it the right behavior?

<img width="991" alt="image" src="https://user-images.githubusercontent.com/10702614/187307227-dc7ed0b4-20fe-4d38-9ab4-3c903f25db33.png">

Thanks

[2022-08-29 22:29] yury-s commented on #16779
This doesn't seem right, we should not disable any ssl checks for the downloads. We should fix the servers if they trigger this problem but we need to be able to reproduce it first, do you run with custom `NODE_OPTIONS` in your env? What does ` node -e "console.log(process.versions)" | grep ssl ` show you?

[2022-08-29 22:46] #16737 closed

[2022-08-29 23:14] danlin604 opened #16906 "[Question] How can I run playwright in github-actions successfully?"
I am trying to run E2E tests during github-actions but have been unsuccessful so far.

[code]

I don't think the server is running when `playwright` runs because all the e2e tests end up failing.

**Run build and start**
[code]

**Run e2e**
[code]

I am pretty certain that playwright cannot connect to `http://localhost:3000` from the previous step and that's why all the tests timeout.

[2022-08-29 23:41] pexa-skumarbadrinath commented on #16779
@yury-s I don't have custom `NODE_OPTIONS` in my env and output for the node command is,

[code]

[2022-08-30 01:39] punkpeye commented on #16884
Unless I am looking at the wrong part of the code, this part is never invoked, and I would expect it to be invoked in this scenario.

https://github.com/microsoft/playwright/blob/11dfd31dd9c44ebe888e0929a1800c70507b227b/packages/playwright-core/src/remote/playwrightConnection.ts#L199-L207

[2022-08-30 03:19] ShuiRuTian commented on #11143
@alexneo2003 Thanks a lot for the sharing.

Technically, TRX is a file format and usually it's generated by VS test for C#. Here is an [example](https://github.com/picklesdoc/pickles/blob/main/src/Pickles.TestFrameworks.UnitTests/MsTest/results-example-mstest.trx). And just FYI, VS could open the TRX file, no surprising.

It's hard to say TRX reporter is the best way, really. TRX is limited by its

[2022-08-30 03:47] vishwajeetgodge13 commented on #16890
Hi @pavelfeldman
i already did this changes as you said, but as per the  requirements. i wanted to run all tests on all browser. i mean to say, once all tests successfully ran on chromium. then it should start executing on second browser(firefox) then third browser (webkit) like this way & I don't want to execute all tests at the same time on all browser. In one go,  No need to change --project=ch

[2022-08-30 03:57] CtrlZvi opened #16910 "[BUG] ENOENT error for timed out tests with page and request when tracing on failure in Firefox with the html reporter"
**Context:**
- Playwright Version: 1.25.1
- Operating System: Mac
- Node.js version: 18.8
- Browser: Firefox

**System:**
 - OS: macOS 12.5.1
 - Memory: 1.79 GB / 64.00 GB

**Binaries:**
 - Node: 18.8.0 - /usr/local/bin/node
 - npm: 8.18.0 - /usr/local/bin/npm

**Languages:**
 - Bash: 3.2.57 - /bin/bash

**Code Snippet**

[code]

**Describe the bug**

The reporter outputs an ENOENT error to the te

[2022-08-30 04:52] vogler opened #16911 "[Feature] Installation on ChromeOS"
I tried to setup and run Playwright (1.20.1) on my Chromebook, but the process was a bit bumpy:

[code]
I then manually installed all those packages except `ttf-ubuntu-font-family` and everything works now.
I don't know why it detected the OS as Ubuntu. Here it also lists dependencies for `debian11`: https://github.com/microsoft/playwright/blob/35bcecc5c3bcfc0dba12273d365122c0845b5c99/packages/pla

[2022-08-30 05:18] gunabca commented on #16893
Thanks for the Idea, I will try it.

[2022-08-30 06:01] gunabca commented on #16893
I will check with my team here , thanks for the quick update

[2022-08-30 07:13] andyhinds commented on #13092
This happened to me as well. I changed the casing of my folder names in Windows Explorer, but MS Code was still "using" the original casing in the terminal window, and it failed to run the tests. Navigating out and back into the folder in Code using the correct casing resolved the issue.

[2022-08-30 07:21] ValorHeart commented on #14247
Upvoting! I'm pretty sure there are many Jetbrains users, but it's not that easy to realize that it is required to come here in order to affect the decision to develop a playwright extension for it.

[2022-08-30 07:24] vishwajeetgodge13 opened #16913 "[Question] how to run same test on multiple browser one after another(Rotate browsers)"
hi guys,
can you help me to find the way, to execute the same tests on multiple browser/rotate browser after complete execution of the test.
i wanted to run all tests on all browser. i mean to say, once all tests successfully ran on chromium. then it should start executing on second browser(firefox) then third browser (webkit) like this way & I don't want to execute all tests at the same time on a

[2022-08-30 07:31] vincenzo-gasparo commented on #16913
You may want to use [Projects](https://playwright.dev/docs/test-advanced#projects)

[code]

[2022-08-30 07:52] oliver-freudrich-packwise commented on #16889
Hey @sand4rt and thanks for the anwer and sharing the article, that is really interesting! Well my idea was more about the mixins in Vue 2, which I want to test more like a "unit" test to ensure the functionality in general and then check normal components, which are using the mixin, in the non implementation details way. Something like this (with the suggested function of @pavelfeldman and the sa

[2022-08-30 07:53] vishwajeetgodge13 commented on #16913
Hi @vincenzo-gasparo
I already added this things, i think you are not getting my point.
i did:
{
      name: 'chromium',
      use: { ...devices['Desktop Chrome'] },
    },
    {
      name: 'firefox',
      use: { ...devices['Desktop Firefox'] },
    },
    {
      name: 'webkit',
      use: { ...devices['Desktop Safari'] },
    },
while executing test i mentioned --project=chromium & etc to exec

[2022-08-30 08:01] np-xavier commented on #16574
It's slightly more subtle - that gives me the element containing the sub-element, I need the sub-element itself. It's more down to the fact I have to pass it a text selector, and I can't pass it a Locator. My PageObjects all use Locators.

[2022-08-30 08:19] mrmckeb commented on #16705
We've just hit this too, and used the same approach for now.

It feels like the problem here is that the selectors run entirely in a browser context. It would be great if instead, custom selectors could be a middleware that produced a query selector. That feels like it would solve the main usability issues around custom selectors.

[code]

[2022-08-30 08:37] krishnaaSundaram-QaStack-1989 commented on #15258
Hi I need assistance for below
- An understanding of the workflow file "test.yml" which is present in your repo
- I have an already existing "main.yml" file which runs test and generates html report
- My question is should I run both yours and mine as a separate file as each push to git repo starts the workflow
we can have a call on this or if chat at krishnaasundaram1989@gmail.com .

[2022-08-30 08:52] krishnaaSundaram-QaStack-1989 commented on #15258
Below is my repo
https://github.com/krishnaaSundaram-QaStack-1989/playwright_baseframework

my test.yml file
name: test

on:
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git Repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: '18'

[2022-08-30 09:26] DetachHead opened #16915 "[BUG] `selectors.register` documentation doesn't explain that the script is executed in the browser context"
https://playwright.dev/docs/api/class-selectors#selectors-register-option-script

the script gets run in the brwoser context, not nodejs. this can lead to confusion so it should be mentioned in the documentation where the script is executed.

for example, the [`Page.evaluate` documentation](https://playwright.dev/docs/api/class-page#page-evaluate-option-expression) states that the expression is "e

[2022-08-30 09:27] Kenblock1126 opened #16916 "[Question]How can I switch browser tab"
For example, click a link to open a new browser tab. How to switch the focus to the new tab？

[2022-08-30 09:36] DetachHead commented on #16705
i don't think that's necessarily the issue because non-expressions can easily be sent to the browser context. though it certainly does cause confusion especially since i don't think that's mentioned anywhere in the documentation. i've just raised #16915 regarding this.

idk, [my selector engine](https://github.com/DetachHead/playwright-xpath) for example benefits from being executed in the browser

[2022-08-30 09:38] sand4rt commented on #16889
Yes that's right. The component test is the test you need in that case. You don't need to test the mixin as you have already covered it by mimicking the user behaviour inside the component test _(which is a good thing)_. Defining the tests this way opens the possibility to migrate the Vue3 without effecting the tests much as well.

Note that the component test makes a real API call which i persona

[2022-08-30 09:46] dein0s opened #16918 "[BUG] page.route with regexp under some conditions does not fullfill"
**Context:**
- Playwright Version: 1.24.2
- Operating System: Linux
- Node.js version: 16.16.0
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

Conditions:
- local web app on `localhost:4200`
- local back app on `localhost:8080`

Web app is configured to proceed after multiple `{"status": "PENDING")` responses from back app on `/acquisition/<UUID>/<UUID>/front/status/` endpoint

[2022-08-30 09:50] xsoft7 commented on #7276
Just want to add a note, that I've implemented virtualAuthenticator (based ofcourse on WebAuthn) in Python+Selenium.

Trying to do the same on PlayWright (in TypeScript) - the obstacle is that it should have "Webdriver" support, as it seems (according to official documentation of WebAuthn) that it needs it.

The implementation is done via REST api commands to the driver.

please let me know if the

[2022-08-30 09:52] alontrabolski opened #16919 "[BUG] Playwright expect timeout doesn’t work properly if you define a timeout on the playwright configuration file"
**Context:**
- Playwright Version: 1.24.1
- Operating System: MAC
- Node.js version: 14.20.0
- Browser: Chromium

Seems that Playwright expect timeout doesn’t work properly if you define a timeout on the playwright configuration file.
I defined timeout 30 * 1000 for expect in playwright.config.ts file:

const config: PlaywrightTestConfig = {
  globalSetup: require.resolve('./global-setup'),
  test

[2022-08-30 09:58] PavanMudigondaTR commented on #15258
@krishnaaSundaram-QaStack-1989 i will help you. I will send you email in couple of hours.

[2022-08-30 10:08] EDjur commented on #12588
+1 on @villesau 's comment on how it works with the global setup.

Any word on that @yury-s ?

[2022-08-30 10:16] AlexBones1 opened #16920 "[Question] What the best way to check that the page (and sub-apicalls) was loaded successful?"
As AQA I want to make regression tests for the list of pages
What the best way/recipes to implement this?
I tryied to use parametrization (in speudocode), but it passed for some pages where api-calls have 500th errors.
[code]

[2022-08-30 10:21] kenny-f commented on #13672
@CtrlZvi Yes! Locator filtering will work!

Thanks!

[2022-08-30 10:24] jvi-infare commented on #14155
Hi @tzbo

I think it's because Playwright's APIRequestContext is based on NodeJS HTTP agent which doesn't keep connection alive. I made some modifications on Playwright's side to use hpagent and now connection is being kept alive.

[2022-08-30 10:36] PavanMudigondaTR commented on #15258
@krishnaaSundaram-QaStack-1989  Please see this. I have forked your repo and updated. my GitHub pages action should be last step in your GitHub action file.  https://github.com/PavanMudigonda/playwright_baseframework/actions

sorry I have written this action for only Ubuntu. so you need to change runner type to Ubuntu-latest. I will add support for windows runner in couple of days !

[2022-08-30 13:01] sand4rt commented on #16889
I see where you come from and i've been there as well. IMO people in the Vue community aren't that advanced when it comes to testing best practices because they are used to Vue Test Utils and VTU takes similar approaches as enzyme which is talked about in the article i sent earlier. Enzyme was the default library for testing react apps and is almost dead now. Most projects are migrated to testing

[2022-08-30 13:19] aswatsankar opened #16923 "PlayWright Failed to install browsers (Unable to get local issuer certificate)"
**Context:**
- Playwright Version: 1.25.0
- Operating System: Windows
- Browser: All
- Extra: Java Version Installed - 16.0.2 Apache Maven Version installed - 3.8.1
Verified with my organisation that the firewall zscaler is not blocking the network and it looks more like a certificate issue.

**Code Snippet**
package example;
import com.microsoft.playwright.*;
public class Example {
    public sta

[2022-08-30 13:20] jhyot opened #16924 "[Question] Cannot start Chromium in headful mode from official Docker image"
I am using the official Docker image `mcr.microsoft.com/playwright/java:v1.24.1-focal`, and cannot get Chromium to start in headful mode.

I start the gradle-based Java Playwright tests inside the Docker container with the following command:
`DEBUG=pw:* GRADLE_OPTS=-Xmx1g xvfb-run ./gradlew --no-daemon --stacktrace test`

I put the full command line for transparency here, but the important bits ar

[2022-08-30 13:54] dgtlmoon commented on #6319
Tip - I incorrectly blamed playwright for a memory leak in my app, I have a class which wraps playwright todo a little web-page IO, initially to me it looked like `page.evaluate()` and other calls were causing the memory to get used and never recycled/emptied
However strangely, when I tried the following, (from https://github.com/weblyzard/inscriptis/issues/65 ) it also resolved the issue where `p

[2022-08-30 14:10] eatonjl commented on #16261
@mxschmitt Did you get the files alright this time around?

[2022-08-30 14:24] jeffcasavant commented on #9297
Regarding the determinism/repeatability issue:

It totally makes sense why folks end up turning it off again.  If you have a failure flushed out by running the tests in random order, you're unlikely to see it again because the order will be different next time the tests run.

So there's not much value add unless you can make it repeatable.  I think that's solvable.

What if we did the following:

[2022-08-30 14:24] KirillGalimov commented on #16879
**THE PROBLEM HAS BEEN SOLVED!**

It turned out that the existing project had `.yarnclean` file with `test` line in it, that eventually was removing `test` folder from `node_modules/@playwright/` and was breaking the package. 😆 Adding `!@playwright/test` line to `.yarnclean` file - solves the problem!

Sorry for inconvenience. The issue can be closed.

[2022-08-30 14:30] sand4rt commented on #16787
Oops! Thanks for letting me know. Not sure why they failed because they passed locally on my machine. I'll have a look at that when in find some time.

[2022-08-30 14:46] oliver-freudrich-packwise commented on #16889
True words and thanks for that explaination. I mean it's hard to decide about the way to test when there are "standard librarys" which are the basically using an outdated way of testing. But I like this "new" way without the implementation detail way more, because it's maybe more initial work, maybe not event that, but in general less maintanance to do for the tests. Maybe those info would be grea

[2022-08-30 16:01] pavelfeldman commented on #16924
I don't have explanation for this and I don't have gradle a project to test it with. If you could share a minimal repo I could clone and test, that would help.

[2022-08-30 16:03] pavelfeldman commented on #16923
It looks like while the address is not blocked, your host system does not trust Azure CDN TLS certificate.

[2022-08-30 16:04] pavelfeldman opened #16926 "[BUG] Print the URL browser is downloaded from"
Often times browser can't be downloaded due to proxy / firewall / security system on the client machine. Printing the url of the browser would help clients fetching it manually and would help them talk to the security departments while explaining the issue.

[2022-08-30 16:05] pavelfeldman commented on #16923
Let me fold it into https://github.com/microsoft/playwright/issues/16926

[2022-08-30 16:05] #16923 closed

[2022-08-30 16:07] pavelfeldman commented on #16920
You can check the return value of page.goto(). It returns response object that has a status, you can compare it to 500.

[2022-08-30 16:08] pavelfeldman commented on #16920
Or are you talking about api calls within the page? In that case you can page.on('response') and collect all the responses while navigating. You will then check their statuses.

[2022-08-30 16:10] pavelfeldman commented on #16919
You have a race condition it seems, you can't have expect timeout and test timeout to be both 30 seconds. You can either make expect timeout 0 (no timeout) or make it smaller than the test timeout.

[2022-08-30 16:14] pavelfeldman commented on #16918
You are suggesting that the regex matching in Node.js is broken which I find hard to believe. I would encourage you to print more traces using page.on('request') and/or page.route('**/*') to see the entire network traffic and identify the issue on your side. I hope it helps.

[2022-08-30 16:17] #16915 closed

[2022-08-30 16:19] pavelfeldman commented on #16911
Playwright is not supported on ChromeOS. If you think there are others that can benefit from running Playwright on ChromeIOS, please feel free to contribute a docs section that would help them follow your steps and get it working!

[2022-08-30 16:19] #16911 closed

[2022-08-30 16:22] pavelfeldman commented on #16906
You can use Playwright's [web server](https://playwright.dev/docs/next/api/class-testconfig#test-config-web-server) option to run web server reliably.

[2022-08-30 16:23] pavelfeldman commented on #16904
Soft asserts only fail in the end of the entire test. Would you want to assert them in the end of your step manually?

[2022-08-30 16:23] pavelfeldman commented on #16903
We would need exact steps to follow in order to address this.

[2022-08-30 16:38] yury-s commented on #16779
@pexa-skumarbadrinath this is exactly same configuration that I have, are you behind a proxy?

[2022-08-30 16:44] vincenzo-gasparo commented on #16904
It's right to let assertions fail at the end of the test but it would make sense to mark test steps with failed status since failing soft assertions  will cause a test fail. In my opinion the report would be more clear in this way

[2022-08-30 17:09] tsheptitskiy commented on #10337
+1 to have custom command-line arguments feature. For example, base-url is dynamic in our application and changed every pull-request(PR number is dynamic part of url). So, we need to pass PR number as argument to change base-url. Of course we can do it with scripts, but it would be nice to pass such custom arguments via command-line.

[2022-08-30 17:14] aslushnikov commented on #16926
Note for self: use `npx playwright install --dry-run` to print URLs and paths of the related browsers.

[2022-08-30 17:18] alontrabolski commented on #16919
Thanks. I tried what you said but it still don't works.
In playwright.config.ts file I changed the test timeout to be: 300*1000 and kept the value of expect timeout as is (30 * 1000).

Same results as before:

Test failed when running this:
await expect(this.page.locator('data-test-id=side-bar')).toBeVisible();
Getting this error:
Error: expect(received).toBeVisible() Call log:
expect.toBeVisible

[2022-08-30 17:23] aslushnikov commented on #13679
For the record: we didn't manage to reproduce with the `mcr.microsoft.com/windows/server:ltsc2022` as the base image.

[2022-08-30 17:31] vogler commented on #16911
It's not really ChromeOS but a Debian container. Here's some background: https://chromeos.dev/en/linux
I assume if the OS was correctly identified as `debian11` instead of Ubuntu, there wouldn't be any issues with installing the dependencies.

[2022-08-30 18:05] BeBestOf commented on #16199
Hi @mxschmitt any update on this feature? we're still waiting for this feature to be introduce in the new release so we can decide the migration from Protractor to Playwright.

[2022-08-30 18:06] fredboyle opened #16927 "[Question] "@import" in CSS for loading external fonts causes VRT flakiness, why?"
We have an "@import" statement in our CSS to load some fonts from Google's font CDN (see example below). Unfortunately this appears to be causing some flaky tests in our visual regression testing(VRT).

We've found that adding a `await page.waitForTimeout(500);` after the page load prevents the tests from being flaky but it's not ideal as there isn't a way to universally add this delay so it must

[2022-08-30 18:35] KeionneDerousselle commented on #14813
I'm having the same issue at @mweidner037. I'm trying to take retain videos taking on failure, but I'm not seeing any video recordings when my tests fail.

[2022-08-30 18:56] fredboyle opened #16928 "[Feature] `locator.screenshot()` add option for expanding space captured around locator"
When creating visual regression tests(VRT) for a variety of elements it would be very helpful if the `locator.screenshot()` method had an option to add extra space around the locator.

This is particularly handy for testing `:focus-visible` CSS states that are actually outside the bounding box of the element. It would also be helpful for hover and active states that may go outside the element, lik

[2022-08-30 18:58] pavelfeldman commented on #16927
You can wait for fonts to load:

[code]

[2022-08-30 18:59] fredboyle commented on #16927
@pavelfeldman Is there a way to apply this universally to all tests or must it be added to each individual test?

[2022-08-30 19:04] pavelfeldman commented on #16806
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-30 19:04] #16806 closed

[2022-08-30 19:04] DH250439 commented on #16903
What additional info can I provide?

I'm attempting to test a component that takes an array as a prop.  That's the only difference between this element and the others that are working.

[2022-08-30 19:06] pavelfeldman commented on #16856
This is expected, full hd video is going to be expensive to create. You should use 800x800 at most for testing, and preferably switch from video to traces for post-mortem. They are fast and crisp.

[2022-08-30 19:06] pavelfeldman commented on #16856
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-30 19:06] #16856 closed

[2022-08-30 19:08] pavelfeldman commented on #16776
Closing as per above. If you don't want to perform the request outside the browser, you can always try fetching from within the page using `page.evaluate`. In either case this falls outside of the Playwright scope for automation and testing, hence closing.

[2022-08-30 19:08] #16776 closed

[2022-08-30 19:09] pavelfeldman commented on #16829
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-30 19:09] #16829 closed

[2022-08-30 19:09] pavelfeldman commented on #16895
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-30 19:09] #16895 closed

[2022-08-30 19:09] pavelfeldman commented on #16894
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-30 19:09] #16894 closed

[2022-08-30 19:09] pavelfeldman commented on #16870
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-30 19:09] #16870 closed

[2022-08-30 19:10] pavelfeldman commented on #16877
Happy you found the workaround. Your original requests seems to be outside of the scope for Playwright, so I'll close it.

[2022-08-30 19:10] #16877 closed

[2022-08-30 19:14] pavelfeldman commented on #16883
We probably need to surface more in the trace in order to identify the issue. For some reason, we can't query the document successfully. I don't think providing additional information w/o the repro steps will help.

[2022-08-30 19:16] pavelfeldman commented on #16884
I'm not sure what scenario you are exploring, could you suggest the steps to reproduce the problem? It might well be you are looking at the wrong place of code altogether...

[2022-08-30 19:17] pavelfeldman commented on #16893
Let me fold it into https://github.com/microsoft/playwright/issues/16926

[2022-08-30 19:17] #16893 closed

[2022-08-30 19:18] danlin604 commented on #16906
This solution does not work so far for me. The job errors out and the server cannot be started. It's one of the reason I've started splitting the steps because for some reason the server fails to start eventhough locally e2e works fine.

[code]

Error:
[code]

[2022-08-30 19:35] pavelfeldman commented on #16906
I suspect the problem is with `reuseExistingServer: !process.env.CI`. Things probably work locally because the server is already running. Are you using ESM? We recently fixed an issue with yarn web server command when using ESM (https://github.com/microsoft/playwright/pull/16733).

[2022-08-30 19:41] pavelfeldman commented on #16851
I'm not sure why you can't see it in the UI. Electron in fact does not have a headless mode of operation, it should be always visible. So I'd go back to the original request and figure out why you are not observing the UI at the first place.

[2022-08-30 19:45] moshikd opened #16930 "[Missing functionality] no option to send GET request with Body"
I'm trying to send a get request with a body using playwright.
 I did not find any resource / way how to do it.
 I would like to query the elasticsearch using get request with payload. example:

[code]

issue:
There is no option to add data in get request like in post request.

trying to use data in get request did not work and got this:

![get request issue](https://user-images.githubusercontent.

[2022-08-30 19:51] #16746 closed

[2022-08-30 19:53] yury-s commented on #16834
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-08-30 20:01] mcntsh opened #16931 "[Question] Is it possible to test using a device just in one suite, using @playwright/test?"
I know that you can define devices to test with [via the configuration](https://playwright.dev/docs/test-configuration), but don't want to test using multiple devices all the time, just in one single test. Is this possible?

[2022-08-30 20:07] yury-s commented on #16910
What command gives you this error? Can you also shared your config, I ran the following and was not able to reproduce it:
[code]

[2022-08-30 20:11] vogler commented on #16911
https://github.com/microsoft/playwright/blob/35bcecc5c3bcfc0dba12273d365122c0845b5c99/packages/playwright-core/src/utils/linuxUtils.ts#L46

correctly returns `{ id: 'debian', version: '11' }` and

https://github.com/microsoft/playwright/blob/35bcecc5c3bcfc0dba12273d365122c0845b5c99/packages/playwright-core/src/utils/hostPlatform.ts#L32

correctly evaluates to `debian11` which is used here:

https:

[2022-08-30 20:22] fredboyle opened #16932 "[Question] Best way to screenshot while mouse down?"
What is the best way to take a screenshot during a mousedown event?

We'd like to locate an element, mouse to it similar to hover, then mousedown on the element, and while the mouse button is down take a screenshot.

This is specifically to perform a visual regression test on the CSS `:active` state of elements such as buttons.

Thanks for any and all help and guidance.

[2022-08-30 20:56] danlin604 commented on #16906
I don't think `reuseExistingServer` is the culprit here. Setting it to a default `false` has no impact locally. I've double checked to removing any running processes. The server would typically fail if nothing is running and e2e will only pass if `webServer` has been configured.

Running it locally with `reuseExistingServer: false`.
[code]

The version that I am using is `"@playwright/test": "^1.2

[2022-08-30 21:00] pavelfeldman commented on #16930
Would `request.fetch('...', { method: 'GET', data: })` work for you?

[2022-08-30 21:02] pavelfeldman commented on #16931
Are you asking about [this](https://playwright.dev/docs/test-configuration#local-configuration)?

[2022-08-30 21:03] pavelfeldman commented on #16932
Did you try issuing `page.mouse.down()` and taking the screenshot?

[2022-08-30 21:16] mcntsh commented on #16931
If I try that I get the following error:

[code]

[2022-08-30 21:18] mcntsh commented on #16931
I guess this just means I have to create new test files for testing different devices. That's fine! If I put it at the top level it works.

[2022-08-30 21:18] #16931 closed

[2022-08-30 21:22] fredboyle commented on #16932
@pavelfeldman I have not. I'll give it a try. Thanks.

Would doing a `locator.hover()` then a `page.mouse.down()` perform a mouse down in the center of the located element or would I need to do a `page.mouse.move()` before the `page.mouse.down()`?

[2022-08-30 21:35] fredboyle commented on #16932
Update, gave the `locator.hover()` then a `page.mouse.down()` and it did do the trick. Hopefully that's "official" and not a happy happenstance.

[2022-08-30 22:31] rainerhahnekamp opened #16937 "[REGRESSION]: session storage failing >= 1.25.0 in firefox"
**Context:**
- GOOD Playwright Version: 1.24
- BAD Playwright Version: 1.25
- Operating System: Mac, Window (didn't test on Linux)

**Code Snippet**

[code]

[code]

**Describe the bug**

The session storage feature does not work on firefox anymore. starting with version 1.25. You can also clone the project from https://github.com/rainerhahnekamp/playwright-heise-dev

[2022-08-30 22:38] aswatsankar commented on #16926
Hi @aslushnikov Still no luck with the command. Not sure If I am missing anything here. Can we manually install drivers and map with playwright to get rid of this problem. Also it would be great if you provide commands for java instead of nodejs. Thanks in advance.
![image](https://user-images.githubusercontent.com/24888082/187555757-79d3d84e-77b9-4326-9dca-8d6ec000ab3c.png)

[2022-08-30 23:09] NikkTod opened #16940 "[Question] page.waitForTimeout is added to traces"
Hello Playwright team,

in my tests I have on one or two places a code that poll for element to be visible and click it.

[code]

   As you can see I am using page.waitForTimeout(50);, which I can see also in the traces as a step with screenshots.

Sometimes this polling of element is taking a long time, which means all that waitForTimeout is logged with screenshots and in the end I get a trace fi

[2022-08-30 23:16] zeffron commented on #16910
No config. `npx playwright test --trace retain-on-failure --browser firefox --reporter html`.

[2022-08-31 00:30] #16745 closed

[2022-08-31 03:28] pexa-skumarbadrinath commented on #16779
@yury-s Yes. I am behind a proxy and VPN. I have figured out the issue. My proxy is blocking the request and working with my internal IT team to check that out.

I have confirmed the same with my colleagues too. We can close this issue.

[2022-08-31 03:28] #16779 closed

[2022-08-31 03:52] CtrlZvi commented on #16910
No config. `npx playwright test --trace retain-on-failure --browser firefox --reporter html`.

[2022-08-31 04:02] CtrlZvi commented on #16910
Following your steps except for substituting your playwright test line with mine from [my previous comment](https://github.com/microsoft/playwright/issues/16910#issuecomment-1232429077), it took me 3 tries to reproduce the issue. That was using the default 30 second test timeout, though, instead of trying to shorten it.

[2022-08-31 06:42] moshikd commented on #16930
I tried to use it and still it does not work. this is the code:
`import { test, expect } from '@playwright/test';
test("Get simki info", async ({request})=> {
    const response = await request.fetch('http://vcs7pelb.geoedge.be/es/ad_matrix_agg_*/_search', {
        method: "GET",
        headers:{
            'Authorization': 'Basic ZWxhc3RpYzppQ2lxaFZhQ0p5JjlLMiNp',
            'Content-Type': '

[2022-08-31 07:17] AlexBones1 commented on #16920
Yes, about the api calls within the page. Thanks, Pavel

[2022-08-31 07:23] mstepin opened #16942 "[Feature] ramp-up of parallel tests"
**context:**
Playwright does well with parallelisation, and the doc describes ways in which a user can control order, serialisation, number of worker threads etc.
It also does well with detecting, based on system resources, how many workers to use if none are specified. We find the number of workers auto-defined to be quite good and accurate and want to continue using this feature.
Playwright, onc

[2022-08-31 07:44] skysantoroa commented on #16746
Could it be that when the `waitForResponse` is invoked the `page` is changing url after setting the input file? Right after the selection is done, the client starts polling, when the upload is complete the url will change.
By looking at the `waitForResponse` that is timing out you can see the url change

Before
`/upload-file`
After
`/upload-file/79898cd1-7428-409b-bb19-ca140b06b564`.

Firefox inst

[2022-08-31 08:48] yile222 opened #16944 "[Question]use codegen with extraHTTPHeaders"
Hello, I just started using playwright in my project,in the playwright.config.ts, extraHTTPHeaders doesn't take effect when I use the codegen command,I can't find the property in the request anymore

[2022-08-31 09:06] skysantoroa commented on #16746
Another update: I managed to look at the complete Network information from the dev tools when debugging the issue and all the responses are ok so far yet the `waitForResponse` remains stuck.
However I'm getting this warning in the console

[code]

[2022-08-31 09:17] noumanshahid12 commented on #14278
For Example ?

[2022-08-31 09:32] skysantoroa commented on #15660
Does this work with elements animated with react-spring?

[2022-08-31 09:42] devdharmendra81 commented on #13519
@aslushnikov I have this code

OS: Ubuntu 18.04
NPM playwright project

[code]
This will load a new tab on my chrome browser (not chromium) on that profile (Profile 3) but it just stuck on "about:blank" page and does not navigate to the extension. This extension is already installed on chrome for this user having "Profile 3" details.

I see this error on my terminal:

[code]

I searched a lot for

[2022-08-31 09:56] mxschmitt opened #16949 "[internal] WebKit on Ubuntu 20 does not work anymore"
Bisect range: https://github.com/microsoft/playwright/compare/77f6b2594164d7385b4582feb59f6aae46b75c08..077b8a928960493a4cf275bc4fc4d4176b2a6098

[2022-08-31 10:15] mxschmitt commented on #16261
Sorry I was out of office, the credentials for Martin1 are not working for me, it says they are wrong.

[2022-08-31 10:25] infinitejest69 opened #16951 "[BUG] Chrome - Bluetooth: bluetooth_adapter_winrt.cc:1074 Getting Default Adapter failed."
**Context:**
- Playwright Version:1.25
- Operating System: Windows
- .NET version: .NET 6
- Browser: Chromium - chrome channel
- ProductVersion  105.0.5195.54
 - FileVersion    105.0.5195.54

**Describe the bug**

Running my Tests in chrome channel is seems after a couple of tests playwright is throwing an error.
i create a new context for each test but i am seeing after a few tests, not always th

[2022-08-31 10:27] #16949 closed

[2022-08-31 10:56] mxschmitt commented on #16937
I can repro on 1.25 and ToT with Firefox and WebKit. This might be related to some magic which auth0 does in the background, we few related issues in the past.

[2022-08-31 11:31] noumanshahid12 commented on #10584
but it not print all rows it print few rows

[2022-08-31 13:23] unikitty37 commented on #8845
I found this was valid:

[code]

However, when I use the `seccomp.json` from the documentation, I get this error:

[code]

which at least shows it's reading the file! But I have no idea what I should be putting in the file when I've already copied what's in the docs:

[code]

[2022-08-31 13:47] rainerhahnekamp commented on #16937
I see. Do you think you can fix that?

[2022-08-31 15:21] pavelfeldman commented on #16951
What is the script that you are running and what is the error thrown? This bluetooth error does not look critical.

[2022-08-31 15:23] pavelfeldman commented on #16944
codegen does not respect your test config, it is a separate utility. You can use the [VSCode extension](https://marketplace.visualstudio.com/items?itemName=ms-playwright.playwright) to run a test with 'Show browser' mode on and then use 'Record from here'.

[2022-08-31 15:23] pavelfeldman commented on #16944
https://www.youtube.com/watch?v=NFLHA57a-so - watch this for more details.

[2022-08-31 15:26] pavelfeldman commented on #16942
It is an interesting and a valid request, but it is unlikely that we prioritize it. I'm keeping it open to collect the upvotes.

[2022-08-31 15:28] pavelfeldman commented on #16940
Playwright will wait for the element to be visible before it clicks it, so you can delete all this code!

[2022-08-31 15:28] noxify commented on #10584
All rows which are visible on the current page, yes.
The snippet contains also the row inside the `thead` ( if there is any ).
To make sure that you get only the "data rows", it would be better to use `tbody > tr`

[2022-08-31 15:34] infinitejest69 commented on #16951
its a different script that fails each time. running on an Azure pipeline windows agent. i switched to headless and that seems to have solved the issues for now. also Chrome was fine on version 104.0.5112.102 which was being deployed yesterday and had no issues. the only thing that changed in my scripts in the playwright command to downloads chrome downloaded a newer version.

[2022-08-31 15:34] rainerhahnekamp commented on #16937
Thanks a lot, will try and let you, ok?

[2022-08-31 15:37] pavelfeldman commented on #16937
We don't have a nice doc for that, so I'm leaving it open for the doc. My recommendation would be to create 3 playwright projects that require logged-in state in `playwright.config.ts`. You would then specify different `storageState` values for these projects in that config. That way your global setup runs, it logs in in 3 browsers, then projects run and they pick up respective auth. We are going

[2022-08-31 15:37] NikkTod commented on #16940
Hi @pavelfeldman, the thing is that this element may or may not appear. I just need to wait for 2 seconds and only if it apper to click it.

[2022-08-31 16:12] pavelfeldman commented on #16918
I'm still not sure what you are trying to say. Are you saying that not all the requests are processed by page.route? In that case, let's see the list of requests that get into page.route and are reported by page.on('request'). Or are you saying that routes are not passed into all the handlers? That's expected, you have 3 identical routes and the last one fulfills the request, so no other route han

[2022-08-31 16:19] pavelfeldman commented on #16920
Something like this then:

[code]

[2022-08-31 16:22] pavelfeldman commented on #16930
Ouch, we are indeed not accepting raw body into any of the fetch requests.

[2022-08-31 16:25] pavelfeldman commented on #16932
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-31 16:25] #16932 closed

[2022-08-31 16:30] pavelfeldman commented on #16906
Your ESM mode is defined in package.json not tsconfig, but since you are using TypeScript, it is unlikely that you are in the ESM mode. So you are saying things are happy locally. You can try the CI mode locally via running

[code]

That would run it exactly as you are running it on GHA. If that works, something else is wrong.

We are running 50+ workflows on GHA, so GHA on itself is unlikely the

[2022-08-31 16:31] pavelfeldman commented on #16927
you can always do `test.beforeEach` or introduce a method `mygoto(page, url)` that would perform the goto and await the fonts.

[2022-08-31 16:31] moshikd commented on #16930
will this functionality be added soon? we will appreciate it if this could be delivered so we could add it to our testing cycle that involved many Get requests with Payload/ body?
any timeline for this?
Thanks again

[2022-08-31 16:45] pavelfeldman commented on #16919
This strongly suggests that your config is not used when you are running playwright. Where is your config located and how do you run tests?

[2022-08-31 16:48] MrPowerGamerBR commented on #12974
Small update: Even with `PWDEBUG` enabled, there doesn't seem to be any errors that indicate anything.

If I keep my app running, after a while Playwright Debugger closes by itself (the browser stays open), and sometimes both the Playwright Debugger and the browser closes by itself.

However, this is hard to reproduce because there doesn't seem to be anything that could cause this, it just *poofs*

[2022-08-31 17:26] mxschmitt opened #16996 "Docs don't show Page.request method"

[2022-08-31 17:59] piercefreeman commented on #6479
Seeing the same issue with `ping` requests. My workaround was to rewrite my handlers to use a nodejs-based proxy. I'm using [http-mitm-proxy](https://www.npmjs.com/package/http-mitm-proxy) since it can coexist in a node.js codebase with the playwright crawler. Route interceptions themselves port more-or-less 1:1 into the proxy callback functions for requests and responses.

The only drawback is th

[2022-08-31 18:27] dgozman commented on #16955
This was indeed fixed by #16898.

[2022-08-31 18:40] dgozman commented on #16954
@jkells I cannot reproduce this issue. I am running with extension v0.2.10 and playwright v1.25.1. Could you please share a repro?

----

Example that I am trying to reproduce with:

`example.spec.ts`
[code]

`storage.json`
[code]

[2022-08-31 19:21] pavelfeldman commented on #16903
We pretty much need a repo we can clone to reproduce.

[2022-08-31 19:24] liamdocherty10 opened #16999 "[Question] Is it possible to share an instantiated class between `globalSetup` and tests?"
Following on from my question in #16800, is it possible to share an instantiated class between `globalSetup` and the tests?

My use case is to be able open a database connection in `globalSetup` and then be able to run queries as and when desired throughout my test files.

Without this functionality I am limited to running the test files sequentially because I can only connect to the DB on a singl

[2022-08-31 19:25] pavelfeldman commented on #16945
When something works locally and does not work on CI, this often means that there is a race condition. How do you execute the snippet that sets the cookie? Do you do that from your test? Did you consider setting cookies in the storage instead using [context.AddCookiesAsync](https://playwright.dev/dotnet/docs/next/api/class-browsercontext#browser-context-add-cookies)?

[2022-08-31 19:27] pavelfeldman commented on #16988
It looks like VS Code has its own treatment for @. I'll file it against them, you can use #smoke for now to work around it.

[2022-08-31 19:32] pavelfeldman commented on #16988
Filed as https://github.com/microsoft/vscode/issues/159708

[2022-08-31 19:33] pavelfeldman commented on #16989
Could you share more about why you are using the inspector? Our assumption is that VS Code extension how offers all the features inspector provides.

[2022-08-31 19:34] pavelfeldman commented on #16990
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-08-31 19:34] #16990 closed

[2022-08-31 19:34] pavelfeldman commented on #16994
Could you share more about why you are using the inspector? Our assumption is that VS Code extension how offers all the features inspector provides.

[2022-08-31 19:35] pavelfeldman commented on #16989
Folding into https://github.com/microsoft/playwright/issues/16994

[2022-08-31 19:35] #16989 closed

[2022-08-31 19:36] #16996 closed

[2022-08-31 19:37] #16740 closed

[2022-08-31 19:43] pavelfeldman commented on #16956
I can repro.

[2022-08-31 19:47] pavelfeldman commented on #16986
I'm seeing the full title, including the describes. What VSCode version are you using?

<img width="393" alt="Screen Shot 2022-08-31 at 12 47 03 PM" src="https://user-images.githubusercontent.com/883973/187768883-ca868caa-5293-414f-b8d2-2c409ea15cea.png">

[2022-08-31 19:48] pavelfeldman commented on #16985
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-08-31 19:48] #16985 closed

[2022-08-31 19:48] #16984 closed

[2022-08-31 19:48] pavelfeldman commented on #16983
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-08-31 19:48] #16983 closed

[2022-08-31 19:50] pavelfeldman commented on #16980
I can't repro it locally. Could you try 0.2.10 and tell us if that is still a problem in a new issue (link this one for traceability)

[2022-08-31 19:50] #16980 closed

[2022-08-31 19:52] pavelfeldman commented on #16977
Folding into https://github.com/microsoft/playwright/issues/16978

[2022-08-31 19:52] #16977 closed

[2022-08-31 19:54] pavelfeldman commented on #16978
VS Code extension is generic and requires some getting used to. You can select default profiles (configs and projects) that will run when pressing the global Run button.

[2022-08-31 19:55] pavelfeldman commented on #16981
Should be fixed now.

[2022-08-31 19:55] #16981 closed

[2022-08-31 19:56] pavelfeldman commented on #16978
Folding into https://github.com/microsoft/playwright/issues/16982

[2022-08-31 19:58] pavelfeldman commented on #16982
New VSCode introduced a smartness that runs the project selected file belongs to even if this project is not selected to be a part of the active configuration in the Run/Debug dropdown. Let me close this issue, but please open a new one if there are outstanding action items on our side.

[2022-08-31 19:58] #16982 closed

[2022-08-31 19:58] eatonjl commented on #16261
Very odd. I will get the password reset so you can get in. I will post here once that is done.

[2022-08-31 19:59] pavelfeldman commented on #16999
No, this is not possible, global setup and your tests run in different operating system processes. You should open your db connection in either beforeAll hook or in the worker-level fixture of your tests.

[2022-08-31 20:59] liamdocherty10 commented on #16999
Since I am limited to running the test files sequentially, I did try using `test.describe.parallel` + `test.beforeAll` + multiple workers, however because `beforeAll` runs once for each worker I still end up creating multiple connections and getting 'address already in use'  errors.

I also tried using an async describe but found that is unsupported too e.g.
[code]

Do you have an example of how a

[2022-08-31 22:38] #16927 closed

[2022-08-31 23:38] #16955 closed

[2022-09-01 00:05] pavelfeldman commented on #16999
Worker-level fixture will still create as many connections as there are workers. The idea of parallelization is that we don't share any data between processes, so you should create as many isolated connections as there are workers. Note that you can't run code in the describe block, it is not a program, it is a declaration of the suite. You can use beforeAll hook in those blocks though.

[2022-09-01 00:05] #16978 closed

[2022-09-01 03:36] Rvtea commented on #9199
+1

[2022-09-01 04:51] #16910 closed

[2022-09-01 05:19] vishwajeetgodge13 opened #17009 "[Question] how do i Update Playwright latest version"
How to Update latest version of the playwright

[2022-09-01 07:03] liamdocherty10 commented on #16999
Ok so seems like my desired approach is simply unsupported, thanks for the reply.

Is there an open feature request for sharing an object between `globalSetup` and tests?

As an aside how do you see `beforeAll` and `beforeEach` differing in `test.describe.parallel`? They seem to act in the same way from what I've seen.

[2022-09-01 07:24] noumanshahid12 commented on #10584
It is not giving me the right answer if the total row of the table is 84 but it is giving 90

 await page.waitForSelector('tbody');
        const tableRows = 'tbody tr';
        let rowCount = await page.$$eval(tableRows, rows => rows.length);
        console.log(rowCount);

[2022-09-01 07:29] svdHero opened #17011 "[BUG] Correct CI documentation with respect to npm run scripts"
I am new to Playwright and started to write and run my tests by executing
[code]
as described in the Getting Started.

However, when I wanted to integrate my tests in CI, I got confused about how to run tests in CI, because the [CI documentation](https://playwright.dev/docs/ci) uses `npm run test` or `npm test` in some code snippets, e.g. in the [Github Actions section](https://playwright.dev/docs

[2022-09-01 08:03] svdHero opened #17012 "[Feature] Add launch steps to documentation about Azure Pipelines integration"
In the [Azure Pipelines section](https://playwright.dev/docs/ci#azure-pipelines) the code snippet is missing the actual steps to launch the tests.

I have tried the following Azure Pipeline Job:

[code]
Is this the best way to run tests in Azure Pipelines?
If so, I would be happy to open a PR and extend the code snippet in the documentation.

[2022-09-01 08:39] Diokuz opened #17013 "[Question] By default, test files are run in parallel ? Even when num(workers) < num(files) ?"
Hi there!

You wrote in the docs:

https://playwright.dev/docs/test-parallel#worker-processes

Also you wrote:

https://playwright.dev/docs/test-parallel#disable-parallelism

I have multiple workers, not one. And Im a bit confused. What about the case, when I have 5 files and 3 workers? All 5 files run parallel?

Is it guaranteed that test files inside one worker runs serial by default (even if to

[2022-09-01 08:49] Diokuz commented on #17013
Is it guaranteed that test files inside one worker runs serial by default (even if total number of workers > 1)?

[2022-09-01 09:16] mxschmitt commented on #17009
[code]

But it can be different depending on your setup, which language you are using etc.

[2022-09-01 10:24] ScottGuymer commented on #16937
This is also an issue when you want to clear the storageState for a test

[code]

[2022-09-01 10:39] noxify commented on #10584
to be honest, without more information about the page structure, it's hard to help ;)

Anyway... here an short example: https://github.com/noxify/playwright-issue-10584

1. clone it
2. run `npm install`
3. run `npm run test`

[2022-09-01 10:45] halexiev-hedgeserv opened #17014 "Post requests with RequestOptions containing Object data cannot handle LocalDateTime properties serialization to json"
The Serialization utility class in Playwright has a Gson instance that cannot handle LocalDateTime object properties when serializing from a java pojo to json in post requests.

The workaround at the moment is to serialize the object ourselves through a separate Gson instance or entirely different library like Jackson and the set the resulting json string via RequestOptions.setData(String data) me

[2022-09-01 11:10] noumanshahid12 commented on #10584
https://github.com/noumanshahid12/Playwright/blob/main/tests/JobOrderStatus.test.ts

[2022-09-01 11:35] rio-ap opened #17015 "[Question] Hi, is there any method to make html report created before global teardown execution?"
as the title said, i was wondering if there any method to make built-in html reporter created before global teardown?

i have need to send .zip/ file report after all the test completed. all the test function is done via before all - after all. global teardown is used for reporting. but for some reason, i found the report (default folder under "./playwright-report) is created after the global tear

[2022-09-01 11:37] np-xavier opened #17016 "[Feature] Potential clarification of documentation on `.toBeHidden()`"
I got confused about how to check if an element was no longer present in the DOM, because `.toBeHidden()` suggests that:

[Ensures the Locator points to a hidden DOM node](https://playwright.dev/docs/test-assertions#locator-assertions-to-be-hidden) ...

Thus I didn't realise it was a candidate for also checking if an element has been completely removed from the DOM - but I was informed that `.toBe

[2022-09-01 11:44] rio-ap commented on #17015
here the log what i get
`Global Setup
before all
before all
before all
before all
before each
test 4
after each
after all
before each
test 2
after each
after all
before each
test 3
after each
after all
before each
test 1
after each
after all
····Global Teardown

Error: File not found: report`

it give error file not found because the report folder is not found

[2022-09-01 12:20] noxify commented on #10584
@noumanshahid12 - thanks - i tried to get it running locally, but I get an timeout.

Could you please provide a running example or some steps to get it running?

[2022-09-01 12:24] hangboss1761 commented on #14143
Where can i find a demo about how to use it ?

[2022-09-01 12:54] alontrabolski commented on #16919
I checked and config is used when running the tests.
I changed the viewport to be:  viewport: { width: 50, height: 50 } and when running the test the window opened accordingly.
I also changed the baseURL in the config and the browser opened with the new url.

We are working with Monorepo and playwright.config.ts file located in folder called e2e and the tests files located in folder called tests (

[2022-09-01 13:02] lrstanley commented on #16982
Can you clarify exactly what this means? Seems rather unclear to me.

[2022-09-01 13:57] hangboss1761 opened #17017 "[BUG] Component testing error with vue"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- @playwright/test:1.23.1、@playwright/experimental-ct-vue：1.23.1
- Operating System: [e.g. Windows, Linux or Mac]
- mac
- Node.js version: [e.g. 12.22, 14.6]
- v16.0.0
- Browser: [e.g. All, Chromium, Firefox, WebKit]
all
- Extra: [any specific details about your environment]
## System:
 - OS: macOS 11.5.1
 - Memory: 1018.00 M

[2022-09-01 14:01] davidhprotective commented on #4046
Upvote

[2022-09-01 15:03] rio-ap opened #17018 "[BUG] got error when assign Locator as function param on playwright v1.25.1"
**Context:**
- Playwright Version:1.25.1
- Operating System: Mac
- Node.js version: 16.16.0
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: got error in latest playwright (1.25.2) when set Locator as function param. this didnt happen in version (1.24.2)

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-09-01 15:09] pavelfeldman commented on #17018
You have two conflicting installations of @playwright/test:

in /Users/user/Documents/Project/projectname/node_modules
and
in Users/user/node_modules

[2022-09-01 15:09] #17018 closed

[2022-09-01 15:10] pavelfeldman commented on #17017
It works for me, also you might want to file an issue against that repo instead.

[2022-09-01 15:10] #17017 closed

[2022-09-01 15:15] apurva3107 opened #17019 "[Question]Playwright and selenium grid integration"
For playwright and selenium grid integration, how to pass the hub url in the playwright browser launch setup below?
    try (Playwright playwright = Playwright.create()) {
      Browser browser = playwright.chromium().launch();
      Page page = browser.newPage();
      page.navigate("http://playwright.dev");
      System.out.println(page.title());

Thanks,
Apurva

[2022-09-01 15:15] pavelfeldman commented on #17013
Files run in parallel, the number of parallel tracks is defined by the number of workers.

No, you can't run 5 parallel with only 3 workers

There is no such thing as 'test files inside one worker'. But we do say in that doc "Tests in a single file are run in order, in the same worker process."

[2022-09-01 15:15] #17013 closed

[2022-09-01 15:17] pavelfeldman commented on #17012
Sure, go ahead!

[2022-09-01 15:19] pavelfeldman commented on #17009
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-01 15:19] #17009 closed

[2022-09-01 15:20] danlin604 commented on #16906
CI doesn't seem related to the issue. Do you happen to know if there is a public project using gh-actions running playwright that I can look at? We may have to work from a working example to compare the differences. Otherwise we may need to deploy first and run CI against the deployed instance.

I've tried setting the config by running `SET CI=true & yarn e2e` and separately by hardcoding CI to tr

[2022-09-01 15:21] pavelfeldman commented on #16919
How do you specify the path to your config file when you run playwright?

[2022-09-01 15:30] pavelfeldman commented on #16999
I don't think so, but this would not be possible due to multi-process architecture of Playwright. We can't have that if we want to be able to run tests in parallel for obvious reasons.

`beforeAll` will run once before all the tests worker executes, `beforeEach` will run before each test worker executes. So yes, it is a bit confusing since `beforeAll` can run more than once for each file. Still it

[2022-09-01 15:31] pavelfeldman commented on #17018
You can't mix playwright and @playwright/test, you should only use @playwright/test.

[2022-09-01 15:36] #16930 closed

[2022-09-01 15:37] dgozman commented on #17019
@apurva3107  Take a look at the [documentation](https://playwright.dev/java/docs/selenium-grid).

[2022-09-01 15:50] mxschmitt commented on #16924
@jhyot how do you run/start the container? Do you run it with `--init`? I remember xvfb not behaving correctly if it's not passed.

[2022-09-01 15:55] pavelfeldman commented on #13679
This should not be moved beyond 1.26

[2022-09-01 17:09] kacy-weakley opened #17021 "[Question] Is there a way to set workers back to default via command line?"
Our workflow makes it so that our config has the default workers set to `1` for local development. However, there are still times when it would be nice to override that back to the default value of undefined and allow the workers to be divided up automatically based on CPU.

Is there a way to do this via the command line? This is what happens currently when I set the `--workers` option with value

[2022-09-01 18:47] pavelfeldman commented on #17021
you can say
[code]

And then locally

[code]

[2022-09-01 19:06] kacy-weakley commented on #17021
Okay, thanks. Makes sense. I was thinking we could do that with the `CI` env var. I just wanted to make sure there isn't a value I can provide to the cli option.

[2022-09-01 19:21] mxschmitt commented on #16982
@lrstanley we don't monitor closed issues, please file a separate issue with a repro repo and we are happy to take a look!

[2022-09-01 19:44] mxschmitt commented on #11143
Hi folks,

sorry for the late response, I was out of office. I was talking with the team, in general the TRX reporter and Azure DevOps reporter can coexist, if it's necessary for Playwright Test.+

TRX is limited by its format, I was experimenting a while ago with it, especially when its about attachments. Also if you have a TRX inside GitHub Actions, since you run your tests most likely there, th

[2022-09-01 19:56] cpolera commented on #12171
One option you'd have is to make your own custom matcher.

But my preference is this
`  await expect(response.ok()).toBeTruthy();
`

[2022-09-01 20:37] yury-s commented on #16727
Turns out this is a limitation that stems from cairo library on linux(see https://bugs.webkit.org/show_bug.cgi?id=168964). WebKit linux will not allocate image with any dimension greater than 32768 (see [this constant](https://github.com/WebKit/WebKit/blob/527e978d67e3d07aec9aa46e52664884df44d348/Source/WebCore/platform/graphics/ImageBackingStore.h#L39)).

[2022-09-01 21:02] yury-s commented on #16727
Yeah, this is the hard limit in the cairo lib at the moment: https://github.com/freedesktop/cairo/blob/c188715bbebe4d8ed756e503e1da0bb96b3ec69d/src/cairo-image-surface.c#L59-L90 It could be mitigated by titling the screenshot image in WebKit as described in the linked bug, but this would be quite a big effort. For now we can improve the error message that playwright returns.

[2022-09-01 21:15] yury-s commented on #16727
@Rafiot as a workaround you can take the screenshots with [`scale: 'css'`](https://playwright.dev/docs/api/class-page#page-screenshot-option-scale) which will only require image 1289 x 23492 and will pass:

[code]

[2022-09-01 21:22] mxschmitt commented on #16805
FTR the old patch fixed the following tests see [here](https://devops.aslushnikov.com/flakiness2.html#commits=5&timestamp=1655144384000&test_parameter_filters=%5B%5B%22browserName%22%2C%5B%5B%22webkit%22%2C%22include%22%5D%5D%5D%2C%5B%22video%22%2C%5B%5Btrue%2C%22exclude%22%5D%5D%5D%5D):

<img width="775" alt="image" src="https://user-images.githubusercontent.com/17984549/188015417-5926158e-3b5b-4

[2022-09-01 21:33] Rafiot commented on #16727
Neat! Thank you for the follow up, I'll do that.

[2022-09-01 23:19] cpolera opened #17026 "[BUG] test.fail() is ignored when awaiting a promise that times out"
**Context:**
- Playwright Version: 1.25.0
- Operating System: Mac, Linux
- Node.js version: 16.15.0
- Browser: Chromium

[code]

**Describe the bug**

If the test above times out on the waitForResponse, then the test status will show as failed. It ignores the test.fail() incorrectly.
You can change the test around to fail on any kind of timeout, but ultimately it will still show as failed instead

[2022-09-01 23:46] pavelfeldman commented on #17026
`test.fail` is intended to be used as a negative test. I.e. it should successfully assert the wrong behavior. Test that times out is a broken test rather than a negative test.

[2022-09-01 23:46] #17026 closed

[2022-09-02 01:15] #16727 closed

[2022-09-02 02:37] lrstanley opened #17028 "followup to #16982"
Not sure why this was immediately dismissed, and why I need to submit a new issue to get clarification on a message. I wasn't saying the issue was still occurring, I was simply asking for clarification why the issue was immediately closed, as the provided reason wasn't clear to me. Is there a reason why I have to file a separate issue to get clarification on a response that was posted within the s

[2022-09-02 03:00] zw-slime opened #17029 "page.evaluate: TypeError: Cannot convert undefined or null to object"
[code]
playwright version: 1.23.4

Run it , then report error: UnhandledPromiseRejectionWarning: page.evaluate: TypeError: Cannot convert undefined or null to object
<img width="1428" alt="企业微信截图_d3089641-c625-4fcc-8178-5313a6ed0670" src="https://user-images.githubusercontent.com/18528957/188050139-65ac0921-d37d-4869-8688-fbb15af6e88f.png">

[2022-09-02 05:00] A-ZC-Lau opened #17030 "[Feature] Grouping soft assertions to expect them to fail"
Sometimes, there are a group of assertions that you want to do the inverse of (e.g. adding or removing `.not`) depending on the scenario.

Take for example, there are a bunch of `input` that you want to check that are `disabled` in one situation, and not disabled in another. At the moment, soft assertions will fail a test if any of the assertions fail, but in my scenario, I'd actually like the tes

[2022-09-02 07:15] ShuiRuTian commented on #11143
@mxschmitt Hi.

It would. Although I did not have a try, I am confident that it could meet all my requirements. There is nothing it can't do since it sends requests to Azure directly.

Yes! The test pipeline is pretty friendly to open source project. Although the projects of my work are also on Azure DevOps, there are experts to maintain them.

Nop, I mentioned it just to prove the generated TRX f

[2022-09-02 07:42] ramutalari opened #17031 "I am not able to find any documentation/video on How to handle dynamic web table in playwright with JavaScript."
Hi Team,

I am not able to find any documentation/video on How to handle dynamic web table in playwright with JavaScript. Could someone help me on this please?

Thank You,
Ram.

[2022-09-02 07:45] gkontopidis opened #17032 "[Question] How to configure sharding"
Hello!
I would like to split my tests in order to execute them on different machines. The instructions implying to execute the command
npx playwright test --shard=1/3
npx playwright test --shard=2/3
npx playwright test --shard=3/3
...
This way I guess we are going to have 2 reports. One on each machine.
And I will have to execute the commands on each machine.
Is there a configuration option so tha

[2022-09-02 09:31] MilanMax opened #17034 "[Question] Why ScrollIntoViewIfNeededAsync() is not working with virtual scroll?"
Locator.ScrollIntoViewIfNeededAsync() is not working because of virtual scroll. I need to use Page.Mouse.WheelAsync() to do the scroll and click on certain node.

Is there maybe some other suggestions how to do this?

[2022-09-02 10:04] skysantoroa opened #17035 "[BUG] waitForResponse won't throw when the request is aborted"
**Context:**
- Playwright Version: 1.25
- Operating System: Ubuntu 22
- Node.js version: 16
- Browser: Firefox, Chromium, Webkit

**Code Snippet**

The following code should wait for a response received from polling my backend.

[code]

[code]

**Describe the bug**

My client will abort the request when right before the polling is stopped but Playwright is unable to parse the response of the abort

[2022-09-02 10:30] mxschmitt commented on #16937
@ScottGuymer, your issue is most likely different, please file a separate one with a repro and more context.

[2022-09-02 11:07] baev opened #17037 "[Feature] API to filter tests for run"
Request from Allure Team (approved by @pavelfeldman , please do not close)

Allure has a [selective run](https://docs.qameta.io/allure-testops/integrations/com/runjob-selective/) feature. In order to support it we need to have a possibility to filter Playwright tests before run.

The usually flow looks like this:

1. User adds a Allure Reporter & Allure Filter to tests configuration
2. Allure Repo

[2022-09-02 11:15] baev opened #17038 "[Feature] Step-scoped attachments"
Request from Allure Team (approved by @pavelfeldman , please do not close)

Related issues: https://github.com/microsoft/playwright/issues/14364 and https://github.com/microsoft/playwright/issues/11592

PS we have multiple requests for such feature from our paid customers, for us this issue is really high priority as it makes attachments feature unusable in most cases

[2022-09-02 12:35] vogler commented on #16911
Apparently this has been fixed in some recent version (https://github.com/microsoft/playwright/pull/14010?). 👍

[code]

[2022-09-02 12:37] pbiasotti commented on #16945
In the real scenario the cookie is set by a JS script at the bottom of the HTML which simplified is something like the following :

[code]

To workaround the issue when running in the azure pipeline we are setting the cookie in our tests with the method [context.AddCookiesAsync](https://playwright.dev/dotnet/docs/next/api/class-browsercontext#browser-context-add-cookies) as you mentioned and it wo

[2022-09-02 12:55] Qibaoooo commented on #11812
Similar issue here. Some more context:

My test steps are: opening a home page, clicking on a `Login` button, another new page will be opened for user to login.

I am testing mainly on iOS Safari/webkit.

So, what I have observed is when ever I run the test inside docker (mcr.microsoft.com/playwright:v1.25.0-jammy), the new page opened will always be rendered with issue (sometimes the page is enla

[2022-09-02 13:00] cpolera commented on #17026
That seems contrary to the documentation
"This is useful for documentation purposes to acknowledge that some functionality is broken until it is fixed"

`import { test, expect } from '@playwright/test';

test('not yet ready', async ({ page }) => {
  test.fail();
  // ...
});`

Based on this and the fact it says unconditionally, it seems like this really should work. I think something like waitForR

[2022-09-02 13:39] twalshOG opened #17043 "Multiple code examples violate typescript:S3799 rule"
Multiple code example violate the "Destructuring patterns should not be empty"
https://rules.sonarsource.com/typescript/RSPEC-3799

Example from
https://playwright.dev/docs/test-fixtures#overriding-fixtures
[code]

[2022-09-02 13:55] pavelfeldman commented on #17028
That's our triaging process. We manage dozens of incoming issues a day and have a triaging rotations to process the incoming feedback flow. When we close an issue, we ask our users to verify it, and if the problem is still happening, to file a new issue.

[2022-09-02 13:59] halexiev-hedgeserv opened #17042 "[Question] What is the idiomatic way to assert items count in lists with virtual rendering?"
Hello,

We have numerous components (grid, list, etc.) that do not render all items at once but only the visible items in the viewport of the component. For example Angular's cdk-virtual-scroll-viewport does not have a way to turn of virtual rendering.

What would be Playwright's idiomatic way of asserting items count in such cases?

Thanks!

[2022-09-02 14:51] pavelfeldman commented on #17030
This would be an extremely unusual pattern. You can always try/catch or .catch your assertions and achieve the desired behavior manually.

[2022-09-02 14:52] pavelfeldman commented on #17031
There is nothing special about the dynamic table, it is still rendered using DOM.

[2022-09-02 14:52] #17031 closed

[2022-09-02 14:53] pavelfeldman commented on #17032
No, this would violate basic security considerations of the remote code execution.

[2022-09-02 14:53] #17032 closed

[2022-09-02 14:54] pavelfeldman commented on #17034
The nature of the virtual scroll is that it handles the wheel / scroll events to build content on the fly. So you need to initiate those wheel/scroll events for it to do so. So you are doing the right thing.

[2022-09-02 14:54] #17034 closed

[2022-09-02 15:07] pavelfeldman commented on #17035
Your snippet looks wrong - the callback in `waitForResponse` should be sync. Your test always returns truthy value (`Promise`), so it accepts all the responses. And nothing waits for `isTransactionError`, so the tests finishes and page is closed before it ends. If you have async operations that need checking, you should collect all the 'request' events that are issued while you re setting the inpu

[2022-09-02 15:08] pavelfeldman commented on #17037
Open to reviewing the PR!

[2022-09-02 15:08] pavelfeldman commented on #17038
Open to reviewing a PR!

[2022-09-02 15:09] A-ZC-Lau commented on #17030
@pavelfeldman isn't it more unusual to correct behavior in a try/catch and continue on with the test?

How would a try/catch work in this case?

[2022-09-02 15:11] pavelfeldman commented on #17043
Is this rule enabled by default anywhere? If not, I'd recommend disabling it.

[2022-09-02 15:12] skysantoroa commented on #17035
You're right, I posted the wrong snippet, this is the one I've used for my test suite

[code]
[code]

[2022-09-02 15:13] pavelfeldman commented on #17042
There is no items count in a virtual viewport as far as Playwright (or a user) is concerned. It can be 100 or a 1000, only the app's internals knows it, so you should query app internals using `page.evaluate()`.

[2022-09-02 15:22] halexiev-hedgeserv commented on #17042
Ok, but how would you use the evaluate method? Our approach would have been maybe to scroll a viewport at a time and count the items till we scroll to the end, but that seemed a bit flaky?

[2022-09-02 16:05] pavelfeldman commented on #16945
Playwright isn't even involved here - you are setting the cookie inside the page and are reloading the page. So if your server does not receive the cookie with that reload request, it suggests that the browser itself is broken. That would be highly unlikely though. You should try isolating this and making sure there are no problems in the remainder of your test. No missing awaits, no concurrent re

[2022-09-02 16:16] pavelfeldman commented on #17019
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:16] #17019 closed

[2022-09-02 16:16] pavelfeldman commented on #16999
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:16] #16999 closed

[2022-09-02 16:17] pavelfeldman commented on #16986
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-09-02 16:17] #16986 closed

[2022-09-02 16:18] pavelfeldman commented on #16994
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-09-02 16:18] #16994 closed

[2022-09-02 16:18] pavelfeldman commented on #16992
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:18] #16992 closed

[2022-09-02 16:18] pavelfeldman commented on #16851
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-09-02 16:18] #16851 closed

[2022-09-02 16:19] pavelfeldman commented on #16881
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:19] #16881 closed

[2022-09-02 16:20] pavelfeldman commented on #16883
We need more information to act on this report. As long as we can't repro it, we are unlikely to make progress on it. Allow me to close it, but please file a new one and link to this issue if you manage to reproduce with something you can share.

[2022-09-02 16:20] #16883 closed

[2022-09-02 16:20] pavelfeldman commented on #16884
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-09-02 16:20] #16884 closed

[2022-09-02 16:20] pavelfeldman commented on #16901
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:20] #16901 closed

[2022-09-02 16:21] pavelfeldman commented on #16903
We need more information to act on this report. As long as we can't repro it, it is unlikely with can make progress with it. Allow me to close it, but please file a new one and link to this issue when you get back to it!

[2022-09-02 16:24] pavelfeldman commented on #16906
You can use `npm create playwright@latest` and say Yes when it offers to create a GHA workflow file. Your problem seems to rather be around ability to run your server on GHA and using yarn.

[2022-09-02 16:25] pavelfeldman commented on #16918
We need more information to act on this report. As long as we can't repro it, it is unlikely with can make progress with it. Allow me to close it, but please file a new one and link to this issue when you get back to it!

[2022-09-02 16:25] #16918 closed

[2022-09-02 16:25] pavelfeldman commented on #16920
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:25] #16920 closed

[2022-09-02 16:27] twalshOG commented on #17043
This rule is enabled by default in SonarQube and SonarCloud.
Are you saying this rule is invalid or are you saying this is just how Playwright works so the rule must be violated in this case?

[2022-09-02 16:28] pavelfeldman commented on #16940
I see. It is not like 2 seconds are going to make your test stable though.

You can try

[code]

that way it hangs there forever and when the element appears, it clicks it. Notice how I am not awaiting the call so that the execution could go further. Use with caution though.

[2022-09-02 16:28] pavelfeldman commented on #16944
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:28] #16944 closed

[2022-09-02 16:29] pavelfeldman commented on #17012
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:29] #17012 closed

[2022-09-02 16:31] pavelfeldman commented on #17030
Well, `soft` can be implemented in userland using try/catch. Btw, for your use case, it sounds like you are looking for `toBeEnabled({ enabled })`. Let us do that for you instead.

[2022-09-02 16:32] pavelfeldman commented on #17035
It suffers from exactly the same problem, please refer to my previous response.

[2022-09-02 16:34] pavelfeldman commented on #17043
It is a lint rule, not a compilation error, so it is a matter of a personal preference. It does not make sense to me and Playwright uses this pattern, so you should disable it for the folder that has Playwright tests.

[2022-09-02 16:44] pavelfeldman commented on #16951
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-09-02 16:44] #16951 closed

[2022-09-02 17:02] #16781 closed

[2022-09-02 17:06] mxschmitt opened #17047 "[BUG] WebKit third party cookies don't get added to iframes"
See this test: https://github.com/microsoft/playwright/pull/17036

and context: https://github.com/microsoft/playwright/issues/16937

[2022-09-02 17:06] mxschmitt commented on #16937
Moved the WebKit issue into https://github.com/microsoft/playwright/issues/17047.

Thanks for reporting @rainerhahnekamp!

[2022-09-02 17:13] #17043 closed

[2022-09-02 17:17] NikkTod commented on #16940
I like it, will definitely try it. Thankss Pavel.

[2022-09-02 18:22] pavelfeldman commented on #17028
Closing as non-actionable.

[2022-09-02 18:22] #17028 closed

[2022-09-02 18:48] JeffreyCanisius04 commented on #3768
Hello! I am still unable to upload files (500 mb and 2gb files) as the test would hang. It only works for small files.

Context:

Playwright Version: 1.25.2
Operating System: Mac OS 12.5.1
Python Version: 3.7.9
Browser: Chromium

[2022-09-02 18:52] punkpeye opened #17049 "[Question] How to obtain the underlying WebSocket from chromium.connect()?"
I wish, for debugging purposes, to inspect the WebSocket object that is created by `chromium.connect`.

I cannot figure out looking at the source code how to obtain this object.

[2022-09-02 18:59] pavelfeldman commented on #17049
There is no way to obtain it, using proxy would be easier to sniff the traffic.

[2022-09-02 19:00] pavelfeldman commented on #17049
(note that this protocol can and will change w/o notice, it might become binary at any moment)

[2022-09-02 19:04] joshuacc commented on #15186
Hey. I hope to get around to implementing this sometime in the next month or two, but I've had a bunch of other work take priority for the moment. If someone else has time, feel free to take a crack at it. :)

[2022-09-02 19:07] punkpeye commented on #17049
Is this on a roadmap so I could track it?

The system that I am designing does rely on intercepting and manipulating this traffic.

Closing as the original question has been answered.

[2022-09-02 19:07] #17049 closed

[2022-09-02 22:04] rainerhahnekamp commented on #16937
@pavelfeldman, @mxschmitt: I tried the proposed approach but without success. Maybe I've missed something? You can see my changes in https://github.com/rainerhahnekamp/playwright-heise-dev/commit/f5748106f60bd95acda7619e7221e86f66366b4b

Thank you!

[2022-09-02 22:24] mxschmitt commented on #16937
It's a bug on our side, the proposed workaround won't work. We'll fix the Firefox issue most likely in 1.25.2 and for WebKit in 1.26.

[2022-09-02 23:10] Songyu-Wang opened #17056 "[Question] Is it possible to embed playwright code within cypress framework somehow?"
Hello,

After some preliminary research, I feel like the playwright framework is superior than cypress. If I am starting a new project now, I would for sure pick playwrite. Unfortunately, we have an existing test suite that contains about 500 test cases (complex, enterprise-level) in cypress. It is very hard to justify abandoning them just because playwright supports some of the cypress limitation

[2022-09-02 23:36] #17016 closed

[2022-09-02 23:58] lrstanley commented on #17028
1. Close issue with very unclear reasons.
2. When asked for clarification, close issue, saying to open a new issue, rather than just clarifying (what was mentioned isn't part of the "triaging" process, as there wasn't anything to "triage").
3. Open a new issue asking for clarification, as directed.
4. Close issue without clarifying, again, suggesting that the directions provided are incorrect.

Tr

[2022-09-03 00:12] A-ZC-Lau commented on #17030
@pavelfeldman but this would also extend to something like `toBeVisible()` and any other similar assertions that generally use a `not`

[2022-09-03 00:43] CtrlZvi commented on #16910
Super impressed by the turnaround time on fixing this! Thank you!

[2022-09-03 03:24] DetachHead commented on #16665
this issue doesn't seem to be fixed in 1.25.1. can this please be re-opened @aslushnikov @pavelfeldman

let me know if you need any more info to reproduce

[2022-09-03 04:13] DetachHead opened #17059 "[BUG] `page.pause` doesn't work when running from the vscode extension"
**Context:**
- Playwright Version: 1.25.1
- Operating System: windows 10
- Node.js version: 16.11.1
- Visual Studio Code version: 1.70.1
- Playwright for VSCode extension version: 0.2.10
- Browser: all

**Code Snippet**
[code]

**Describe the bug**

`page.pause` does not open the inspector when running tests with the vscode extension.

when clicking "Debug Test", it doesn't pause at all

when clic

[2022-09-03 04:24] DetachHead opened #17060 "[BUG] "Pick selector", "Record" buttons don't work in debug mode when "Show browser" is off"
**Context:**
- Playwright Version: 1.25.1
- Operating System: windows 10
- Node.js version: 16.11.1
- Visual Studio Code version: 1.70.1
- Playwright for VSCode extension version: 0.2.10
- Browser: all

**Code Snippet**

[code]

**Describe the bug**

when the "Show browser" option is off and running in debug mode (which shows the browser regardless), the "Pick selector" and Record buttons don't do

[2022-09-03 07:42] rainerhahnekamp commented on #16937
I see, thanks and I am looking forward to 1.26 then. Cheers!

[2022-09-03 09:03] dgtlmoon opened #17085 "[BUG (or needs better documentation?)] `KEEP_ALIVE` + `PREBOOT_CHROME` doesn't store disk cache"
First, thanks for the amazing project!!!

**Context:**
- Playwright Version: 1.24.1
- Operating System: Linux
- Python version: 3.8
- Browser: Chromium
- Extra: [any specific details about your environment]

**Code Snippet**

[code]

Then after, disk cache files are non-present

[code]
**Describe the bug**

https://docs.browserless.io/docs/docker.html#keeping-chrome-alive

Looks like there is no `

[2022-09-03 09:46] hoangngocanhskedulo opened #17062 "[Question] How to choose Javascript when installing via extension Playwright Test for VSCode?"
When I install Playwright via the extension I do not see the option choosing between Typescript and Javascript.

After the installation is completed, Typescript is chosen by default. How I can switch to Javascript?

Thanks,

[2022-09-03 10:56] mxschmitt commented on #16805
Fixed!

[2022-09-03 10:56] #16805 closed

[2022-09-03 11:18] Sheraff opened #17063 "[Feature] DOM snapshot & comparison"
An old classic of automated testing is comparing a piece of the DOM. One could argue that it's now deprecated in favor of visual comparisons by screenshots, or "interaction testing" where we simulate some actions and check the resulting state. But there seems to still be cases where neither is appropriate.

## Example use case
- Say we have a page where we need to make sure the `<meta>` tags remai

[2022-09-03 11:31] Sheraff commented on #17063
Related issue: https://github.com/microsoft/playwright/issues/8113

[2022-09-03 14:28] mxschmitt commented on #13679
For me this looks like a bug in the Windows Docker container image. If you do something as simple as `New-Item C:\foo.txt -ItemType file` before running Playwright with Firefox it works as expected.

@arjaiswa can you try the Windows Server images?

`mcr.microsoft.com/windows/server:ltsc2022`

[2022-09-03 18:30] alontrabolski commented on #16919
I think that I figured out what happens here.
The expect timeout that I defined in the config is works when I run expect from my tests files.
The code snippet that I attached to the bug description is triggered from the global setup function.

It's fine for me now.
Thanks a lot Pavel, your questions leaded me to the solution.

[2022-09-03 18:58] shwarcu commented on #17042
@halexiev-hedgeserv Hi, have you considered preparing version of your page/view without virtualization?
I am asking because what you might be trying to achieve is testing if external library/component is correctly working. At the same time you do not have any control over that external component (virtualized list).

I know this solution may appear to some people wrong, but I would propose to prepa

[2022-09-03 22:25] #16456 closed

[2022-09-04 02:42] w5pand opened #17067 "[BUG]No Test Found"
**Context:**
- Playwright Version: [v1.25.1]
- Operating System: [windows10 ]
- Node.js version: [v16.17.0]
- Npm version:[v8.15.0]
- Visual Studio Code version: [v1.71.0 (user setup)]
- Playwright for VSCode extension version: [v0.2.10]
- Browser: [chrome 104.0.5112.102]
- Extra: [ I use fnm to manage node. (fnm v1.31.1)]

**Code Snippet**

![1662259435045](https://user-images.githubusercontent.c

[2022-09-04 06:43] frank-dspeed commented on #2874
I am working on that kind of interop at present but for the mean while i have a proposal that is playwright related:

shim the extension API so that it works in a normal opened playwright page that is not a real background page but who cares as long as the code runs and that would be maintainable as it is a 1:1 in most browsers the extension API it self matches while manifests and install pathes a

[2022-09-04 10:11] coader opened #17068 "[Question]is it possible to watch when a element with selector is showing?"
just like:
page.on('show', 'selector',()=>{
})

otherwise, I have to detect it again and again, it's unacceptable.

[2022-09-04 10:17] coader commented on #17068
or always detect it in another thread? and how to do this?

[2022-09-04 14:08] sand4rt commented on #16889
Keep in mind that i'm not a core member of Playwright and i'm not sure if they are on the same page with this. Well, Vue Test Utils works okay, they just added features that will send you down the wrong path if you're not careful.

This is the documentation we currently have on component testing: https://playwright.dev/docs/test-components. I agree that this is not very comprehensive yet. Not sure

[2022-09-04 16:24] Janpot opened #17075 "[BUG] dynamic import of ESM results in ERR_REQUIRE_ESM"
**Context:**
- Playwright Version: 1.25.1
- Operating System: MacOs
- Node.js version: v16.17.0

**Code Snippet**

[code]

**Describe the bug**

From the [node.js docs](https://nodejs.org/api/esm.html#import-expressions)

Yet, trying to load an ESM only package like `get-port` with a dynamic import statement fails with the error:

[code]

It's complaining I'm trying to use `require` to load an ESM

[2022-09-04 16:31] digiscape-bnu commented on #9199
+1 (Rocky Linux)

[2022-09-04 17:52] #16815 closed

[2022-09-04 19:47] italodeandra commented on #3768
Hi @JeffreyCanisius04,

From what I can see, the hanging would mean a problem on your application or other issue with Playwright instead of being related to this issue here. If you got the error message `ERR_FS_FILE_TOO_LARGE` then the problem would be the same.

[2022-09-05 05:23] #16919 closed

[2022-09-05 06:00] shastrisubramaniam opened #17077 "Timeout in the secondwindow although I can see the Window is open for an Electron Application[BUG]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [Mac]
- Node.js version: [16.17
- Browser: [Chromium]
- Extra: [any specific details about your environment]

Hi,

I am using Playwright to automate an Electron Application. So I was able to go to the second window, but it times out and the test never passes.

See below 👍

 electronApplication.waitForEvent

[2022-09-05 06:03] baptisteArno opened #17078 "[BUG] page.route in debug mode makes my app not interactable."
**Describe the bug**

I'm following up on this issue: https://github.com/microsoft/playwright/issues/16992

While it **does** explain to me why it happens, it doesn't provide a solution or a workaround? Running the test on debug mode directly with the CLI is working just fine. Can I do anything in order to make it work with the extension execution?

[2022-09-05 06:40] ElVisPL opened #17081 "[REGRESSION]: Can't mock CORS request since 1.17.0"
**Context:**
- GOOD Playwright Version: 1.16.3
- BAD Playwright Version: 1.17.0
- Operating System: Ubuntu 20.04

**Describe the bug**
When I mock CORS request (by setting headers when using `route.fulfill` function) on playwright 1.16.3, we have as expected OPTIONS request first and then PUT request:
![2022-09-05_08-06](https://user-images.githubusercontent.com/3405010/188379453-484777cc-98f5-4d0

[2022-09-05 07:31] predil opened #17083 "Handle Window popup with in Popup java"
I have a requirement that my main page has link and after a click on that link popup new window, and in that window has link and when I click on that link will pop up another new window. and need to enter value there. How to handle this in playwright.
I tried the below code and it didn't work.
`Page ePagePopup= BaseTest.page.waitForPopup(() -> {
				adapterRouteDetailPage.editRuleBtnClick();
			})

[2022-09-05 07:41] skysantoroa commented on #17035
Not true, the test is stuck in the `isTransactionError` until the response that was looking for is received. After setting the input file I should wait a specific response as the client starts polling. The issue arises when a new response is received before the polling is stopped, because another response is received but the body can't be parsed

[2022-09-05 07:45] puagarwa commented on #13679
is windows server is working ?

[2022-09-05 07:52] mxschmitt commented on #13679
Yes, `mcr.microsoft.com/windows/server:ltsc2022` is working.

[2022-09-05 07:52] arjaiswa commented on #13679
Sure . I will test this .

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Puneet Agarwal ***@***.***>
Sent: Monday, September 5, 2022 8:45:37 AM
To: microsoft/playwright ***@***.***>
Cc: Arti Jaiswal ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/playwright] Firefox browser launch is failing in windows container (Issue #13679)

For me this looks like

[2022-09-05 08:24] mxschmitt commented on #17083
Just to confirm, do you mean with popup a target=_blank window which gets opened? Then your solution would be correct, see [here](https://playwright.dev/java/docs/pages#handling-popups).

[2022-09-05 08:39] skysantoroa commented on #17035
I'm not getting why you are saying that the methods above are wrong. The `waitForResponse` type signature is

[code]

My innermost function respect the same type

[code]

How the `Response` returned by `waitForResponse` differs when `false` is returned? In my test more checks are implemented to see if the response got from the `waitForTransactionError` is the one expected, the problem here is not

[2022-09-05 09:13] skysantoroa commented on #17035
Implementing the `waitForResponse` method like this

[code]

all the `response.json` are missing the Network data in the trace file

[2022-09-05 09:19] mxschmitt commented on #17029
The issue with their site is that they do the following in their `<head />`:

[code]

[2022-09-05 10:31] halexiev-hedgeserv commented on #17042
@shwarcu Hi, yes this is how we test the ag-grid component - it supports turning off the column virtualisation. This is not the case with Angular's cdk-virtual-scroll-viewport component though. We could not find a way to make it render all items it contains so that's why we were interested if there is any built-in support for such cases in Playwright.

The suggested page.evaluate() method is a bit

[2022-09-05 10:43] shwarcu commented on #17042
@halexiev-hedgeserv as far as I understand, `page.evaluate()` can be used in the following manner:
1. You expose in your app, list of items passed to virtualized/non-virtualized list. For example under object `window.aut.viewXYZ.listItems`
2. In the test, you use page.evaluate to retrieve list of items like such
[code]
3. You can now run assertions on that list of items, skipping the frontend aspe

[2022-09-05 11:00] halexiev-hedgeserv commented on #17042
@shwarcu Thank you for the explanation. We'll definitely give it a try! One downside of this approach though that could make it a bit cumbersome to implement on a larger scale is that adding properties in the global scope is a bit hacky and would most likely need to be feature flagged so that it does not leak in prod. Anyways, until there's a better approach we'll have a go with this one :)

[2022-09-05 11:15] rhysstubbs commented on #7936
For anyone that's arriving here from a Google search for an error like `TypeError [ERR_UNKNOWN_FILE_EXTENSION]: Unknown file extension ".ts"` then try the following:

In the test file, keep the `.js` extension for the `.ts` file import, e.g. `import { something } from '../../functionality.js`

Rename your test file, e.g. `search.test.js` to `search.test.ts`

You should then find you're able to run

[2022-09-05 11:20] dolechnowicz commented on #14824
@dgozman is it plan to have such support somewhere on you roadmap?

[2022-09-05 12:03] predil commented on #17083
Hi mxschmitt,
No it's not target="_blank" link. it's a new popup window(Lookup) .First popup window is handling successfully. 2nd window is opening with above code but after that throwing
com.microsoft.playwright.TimeoutError: Timeout 40000ms exceeded.

Main page  click link1-> opens new popup window(not new tab)  click on link2 -> opens new popup window (not new tab)

[2022-09-05 13:05] gegoncalves opened #17087 "[Question] Return only the text after span"
I am struggling with the following problem:

I want to save the **_Company administrator_** text in a variable to compare later. However, it is out of the span and I am trying to take only this part

[code]

I tried:
[code]
but it always return the "Permission Company administrator"

I know that I can use `.replace()`, `.slice()` `.toContain()`and others to deal with it but I dont want to have it

[2022-09-05 13:28] XingXiaoWu opened #17088 "[BUG]`page.route` can't work before `page.click`,but work in `page.goto`"
**Context:**
- Playwright Version: 1.25.0
- Operating System: Mac
- Node.js version: V18.4.0
- Browser: Microsoft Edge 105.0.1343.27  (x86_64)
- Extra: null

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

When I'm using page.route, if the next page Jump uses page.goto, I

[2022-09-05 14:29] hangboss1761 opened #17091 "[Feature] Add a keystroke delay when use locator.fill()"
Better simulation of human actions by configuring keystroke delay，sometimes machines type too fast and cause some unexpected errors, but humans don't.

What looks like:
[code]

[code]

Default is 0, and support global config.

If you think this feature is necessary and reasonable, I can try to make a pull request

[2022-09-05 14:31] XingXiaoWu commented on #17088
Sorry, the reason for the problem is that I used
[code]

[2022-09-05 14:31] #17088 closed

[2022-09-05 14:53] dggadhia opened #17093 "[Question] - PlayWright +Java+Cuucmber POC | Only Browser Launch takes 10seconds"
**CRITICAL**

=> I have a single step in Cucumber feature file to launch the browser
=> However when I launch the browser via Test Runner file, the launch event itself takes 10 seconds

Can someone please help here, I am really not getting why its taking so much time just to launch a browser.

**Note - This is applicable to all browsers not specific to Chrome.**

https://user-images.githubusercont

[2022-09-05 16:05] jaward916 commented on #11818
Just hit a scenario where I needed this exact feature, got a couple of newbies learning Playwright and doing so on a remote server, when running their tests they are clashing with each other on the reports trying to run, would be great to be able to configure this so they can't clash!

[2022-09-05 16:15] Tallyb opened #17095 "[BUG] Sharding calculation seems incorrect"
**Context:**
- Playwright Version: 1.25.1
- Operating System: Mac (but also saw on CI - ubuntu)
- Node.js version: 18.8.0
- Browser: Chromium
- Extra: [any specific details about your environment]

**Code Snippet**

My PW config has the following:

[code]
(note - tests are in sub directories. In addition to *.test.ts files, we also have *.spec.ts files in the same directories, which should not be

[2022-09-05 18:21] ltsuda commented on #17091
I know you mention `.fill` but does the `.type` function works for you?
https://playwright.dev/docs/api/class-locator#locator-type

[2022-09-05 18:23] ltsuda commented on #17087
Did you try `.innerText()` function? Maybe with the first code with the `hasText` you posted?
https://playwright.dev/docs/api/class-locator#locator-inner-text

[2022-09-05 21:10] DTrombett opened #17116 "[Question] Using Playwright on Android"
I'm interested in using Playwright directly on Android using the terminal emulator Termux. I've seen in another issue that is possible to do this when connected via adb but I'm looking for a way to use it **without** a PC. I tried and successfully installed but I receive the "unsupported platform" error when running any script.
So my question is: is it possible to run playwright on Android without

[2022-09-06 03:50] Tallyb commented on #17095
Seems like it is because of a bad test file with too many tests inside. closing for now.

[2022-09-06 03:50] #17095 closed

[2022-09-06 04:30] stkevintan commented on #1604
Hi, Thanks @nicojs , I've use the locator like what you did. but I found that the locators will be unusable after the page navigated.
since the call `page.locator('xxx')` is a shorthand for `page.mainFrame().locator('xxx')` . the main frame will be changed after page navigated. so the locator will point to the old (disposed) frame, will cannot be use again.

The only remedy I came over is to turn

[2022-09-06 04:38] dggadhia commented on #17093
Please look into this ASAP..as I need to final on solution

[2022-09-06 05:18] gunters63 commented on #15862
I have:

[code]

here and still have the same problem:

[code]

Only when I remove `"type": "module"` from package.json it works.

[2022-09-06 06:49] w9ahmed commented on #7036
That would be nice to have IMO. My argument is more psychological :smile:
I do agree there is no difference between having a for loop but `test.each` keeps you more in a "testing mindset".
Also for consistency.

[2022-09-06 06:51] gegoncalves commented on #7036
I understand that there is no difference between them but it makes everything more focused on the test side aspect. Including the fact that @4ekki brought.

This is just my opinion

[2022-09-06 06:52] mnpenner commented on #13339
@sarayourfriend Did you find a workaround? I have `overflow: hidden` on my `body` element but I need it to prevent double scrollbars because of how my page is structured.

Neither

[code]

Nor

[code]

Works for me, the screenshots are always cut off to only show what was in the viewport.

[2022-09-06 07:43] ankur-lt opened #17120 "[Question] How to launch Playwright server without incognito mode"
We want to launch the Playwright Server in normal mode for user to connect to the browser remotely. The playwright server by default launches the browser in incognito mode. And hence, the browser extensions cannot be used in the incognito mode.
How can I disable the incognito mode while launching the playwright server? As per I checked from the command used to launch the browser at `chrome://versi

[2022-09-06 08:04] naveensabares92 opened #17121 "[Feature] Access DOM elements in infinite scrolling Page"
So, our app pages have been performance tweaked  & infinite scrolling has been implemented in the FE.
PW is able to locate the element only when it’s active in the DOM, which means I have to scroll a bit so that it can load.
`locator.scrollIntoViewIfNeeded()` did not work for this. So, I have written something custom to scroll and verify if the element is available!

And If we need to use `page.mo

[2022-09-06 08:12] sarayourfriend commented on #13339
The workaround we used was to remove the `overflow: hidden` before calling `screenshot`. Here's the utility function we wrote to ease that: https://github.com/WordPress/openverse-frontend/blob/32ce30625757aaab6e0c50cb3655e683f1a4730f/test/playwright/utils/page.ts#L3-L13

However, I think we might not need it any more. A few months ago we significantly restructured the HTML of our app ([here's one

[2022-09-06 09:03] MindaugasMateika opened #17123 "[BUG] --save-har CLI does not work"
**Context:**
- Playwright Version: 1.25.1
- Operating System: Mac
- Node.js version: 14.x
- Browser: All

**Describe the bug**

`npx playwright test --save-har=har.zip` produces an error `error: unknown option '--save-har=har.zip'`

Ref https://playwright.dev/docs/network#recording-har-with-cli

[2022-09-06 09:04] MindaugasMateika commented on #17123
Ahh, on second look, this is not supposed to work in tests run.

[2022-09-06 09:04] #17123 closed

[2022-09-06 10:53] Tallyb commented on #14153
That will be great.
In order for this to work with traditional component (read: not standalone), you will need to do something like Testbed which is the compilation context for an angular component. Only that will give you a renderable component. You might want to look at storybook angular library, which is dealing with the same thing basically (render a single component in isolation).

[2022-09-06 10:57] dbhimar opened #17124 "How to Take a Screenshot at failed step in Nunit Framework"
Can someone help me how to take screenshot at failed step in Nunit Framework test case
Currently I can take screenshot at the given line

[2022-09-06 11:31] gegoncalves commented on #17087
Hi @ltsuda > It also returns the full text inside of the it. :(

[2022-09-06 12:29] svdHero commented on #17012
@pavelfeldman When changing the yaml snippet in [ci.md](https://github.com/microsoft/playwright/blob/main/docs/src/ci.md), would I just hardcode a line like
[code]
or how is the container label updated to the latest version? Is there some sort of templating and markdown generator involved, or can I edit the markdwon file directly?

[2022-09-06 12:57] szezecinski commented on #16772
@yury-s  , do you have any feedback for this item?

[2022-09-06 13:29] eatonjl commented on #16261
@mxschmitt The user should be working now. Let me know if you still get an issue.

[2022-09-06 13:30] roy-k commented on #7220
Is there any new?

[2022-09-06 13:50] lukcaster opened #17126 "[Question] Problem with sending multi-part request"
Hello,

Sorry for opening new thread, i have tried to resolve my problem using comments in issue `16806` but to no avail.

I am trying to send a form-data request with 2 separate files as per attached screenshot
![obraz](https://user-images.githubusercontent.com/56275839/188651490-0e08044e-5cb8-4c6c-a497-530f15b6de2f.png)

I have added both files into the same folder as the test
![obraz](https://u

[2022-09-06 14:00] e-oz commented on #14153
Playwright is so amazing that I want to replace all our e2e tests, including tests in libraries, with Playwright.
Would be amazing to have Angular components support, at least standalone components.

[2022-09-06 14:14] kovacsdongo commented on #10667
Hi all
I use this code:
`const fs = require('fs');
      const buffer = fs.readFileSync('./fixtures/2.pdf');

      // Create the DataTransfer and File
      const dataTransfer = await page.evaluateHandle((data) => {
        const dt = new DataTransfer();
        // Convert the buffer to a hex array
        const file = new File([data.toString('hex')], '2.pdf', { type: 'application/pdf' });

[2022-09-06 14:38] hangboss1761 commented on #17091
I think it will also solve the problem, after all it occurs in very rare scenarios, it looks enough.
.

[2022-09-06 15:13] aash-glitch opened #17130 "[BUG] Tracing won't work when waitForResponse is added"
**Context:**
- Playwright Version: 1.25.1
- Operating System: Mac
- Node.js version: 14.20.0
- Browser: Chromium
- Extra: [any specific details about your environment]

**Code Snippet**

**_global-setup.ts_**
[code]

**_utils.ts_**
[code]

**_Login.page.ts_**
[code]

**Describe the bug**
With above code, trace file is created with no issues and gets saved under test-results. I have made a new addi

[2022-09-06 15:54] dgozman commented on #16748
Fixed by the recent Chromium roll.

[2022-09-06 15:54] #16748 closed

[2022-09-06 15:55] Songyu-Wang commented on #17056
Hello, @marko-simic thanks for your reply, but this will open a new chrome instance which can only be applied in limited ways for only a few workarounds.

[2022-09-06 15:57] dgozman commented on #14824
@dolechnowicz No immediate plans right now.

[2022-09-06 16:48] dgozman opened #17134 "[docs] Extract selectors overview and best practices from selectors reference"

[2022-09-06 17:05] ChaosEngine opened #17135 "[BUG] - extension not enabling, blank screen visible"
**Context:**
- Playwright Version: 1.25.1
- Operating System: Windows10
- Node.js version: v16.15.1
- Visual Studio Code version: 1.71.0
- Playwright for VSCode extension version: v0.2.10
- Browser: All
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For exampl

[2022-09-06 17:29] aslushnikov commented on #16937
This is fixed and will be public in 1.25.2 as well.

[2022-09-06 17:29] #16937 closed

[2022-09-06 17:30] yury-s commented on #17047
As discussed in the meeting this matches current WebKit behavior so we'd like to preserve the behavior for now.

[2022-09-06 17:30] #17047 closed

[2022-09-06 18:01] unlikelyzero commented on #17056
@Songyu-Wang generally speaking, a great pattern to follow when migrating between frameworks is to focus on the following priorities:

1. Divesting from unique capabilities of your current framework (i.e. Cypress's Dashboard). This is important so that you can avoid any associated gotchas in #3 below.
2. Get the two frameworks to report together (i.e. Jenkins HTML Report or Junit on the nightly).

[2022-09-06 18:04] yury-s commented on #17083
You need to listen for the popup event in the page which opens it (i.e. the page where you click second time). I believe this should work:

[code]

[2022-09-06 18:09] yury-s commented on #17093
First time you launch playwright it will download required browsers, that's what might be taking long time on the first run. You can enable logs to see if that's the case by running with `DEBUG=pw:install` environment variable

[2022-09-06 18:12] #13646 closed

[2022-09-06 18:18] eatonjl commented on #16261
Here is an example I made that uses the base install on Playwright. It runs fine on my Mac machine, locally, using the Playwright test runner. If I use Playwright's Docker image, I get "Target Crashed" or "Target Closed" each time.
[code]

Message when run in Docker:
[code]

Message when run locally:
[code]

[2022-09-06 18:19] Songyu-Wang commented on #17056
@unlikelyzero Hello, thanks for your reply. Yep, I am pretty familiar with the general path since migrating from selenium to cypress was a big thing a few years ago. I guess the issue I am having is that I have a hard time to justify the heavy up-front investment to parallelly creating a new framework and do all the reporting stuff like you mentioned. Me having to write 5 workarounds in the past m

[2022-09-06 18:40] #17030 closed

[2022-09-06 19:10] prewk commented on #12105
God, the hoops we have to jump through for this at the moment... What would be the downside of enabling it? Decorators is fundamental to Angular and won't go anywhere.

I have to basically split up our code base into multiple dependency trees that can't touch each other to make TS useful in Playwright, because otherwise I can't import anything. And even then it often won't work, because the "test

[2022-09-06 19:16] nite commented on #4047
Googled it for you :) https://playwright.dev/docs/api/class-browserserver

[2022-09-06 19:27] richmar10 commented on #16989
I used the playwright inspector to pause at a specific line, and start recording new clicks so that I can improve existing tests.  Is this possible with the vscode extension and I'm not just using it correctly?

[2022-09-06 19:54] dgozman commented on #17042
It seems like the question has been resolved.

[2022-09-06 19:54] #17042 closed

[2022-09-06 20:06] dgozman commented on #17035
@skysantoroa It seems like your backend aborts the request before sending the response. Therefore, there is no `response` object at all and `waitForResponse()` hangs waiting for a response. If you use `waitForRequest()`, you will get the request and `null` response for it:

[code]

[2022-09-06 21:05] #16903 closed

[2022-09-06 21:20] gauravgandhi1315 opened #17141 "[Question] - Is there any way to simulate api 500 error?"
I have a scenario whenever api response is 500, display some error message to the user. Is there any way to simulate this scenario using playwright?

[2022-09-06 21:23] zeekrey opened #17142 "[Question] Property 'customMatcher' does not exist on type 'MakeMatchers<void, Locator>'."
Hey there 👋🏻

I followed [the docs](https://playwright.dev/docs/test-advanced#add-custom-matchers-using-expectextend) on custom matchers but still have a Typescript error: `Property 'customMatcher' does not exist on type 'MakeMatchers<void, Locator>'.`

It feels like the global.d.ts is not picked up by Typescript.

Here is an example: https://stackblitz.com/edit/jfgreffier-try-playwright-test-pn1w

[2022-09-06 21:25] dgozman commented on #17015
@rio-ap Global teardown runs before reporters finish, this is by design. I'd recommend a separate step in your CI configuration that uploads the report. Take a look [here for an example](https://github.com/microsoft/playwright/blob/main/.github/workflows/tests_primary.yml#L184-L186). Let me know if this helps.

[2022-09-06 21:31] dgozman commented on #17056
@Songyu-Wang If you can make cypress start Chromium with `--remote-debugging-port=9222` and then use [`chromium.connectOverCDP()`](https://playwright.dev/docs/api/class-browsertype#browser-type-connect-over-cdp) in Playwright, most things should work. Let me know whether this helps or if you have any questions.

[2022-09-06 21:39] dgozman commented on #17085
@dgtlmoon If you use `connect_over_cdp`, method `browser.close()` should disconnect from the websocket and not close the underlying browser it was connected to.

I don't really know what `browser.disconnect()` those browserless docs refer to, so I am not sure how to help you. Perhaps, ask the same question on browserless issue tracker?

[2022-09-06 21:39] pavelfeldman commented on #17059
We allow one debugger at a time, when using VS Code, you should use regular JS debugger w/ debugger; statement and breakpoints instead!

[2022-09-06 21:39] #17059 closed

[2022-09-06 21:51] e-oz opened #17143 "[BUG] Documentation bug: Parametrize tests"
It looks like on the https://playwright.dev/docs/test-parameterize first code snippet should be put after the words `The first project runs with the value Alice and the second with the value Bob.` and other code snippets till `We can also use the option in a fixture` should be shifted accordingly.

[2022-09-06 22:01] dgozman commented on #17063
@Sheraff Thank you for the great issue! I will leave it open for prioritization as a feature request.

If you are fine to forgive the attributes order issue, "a simple user-land solution" could be pretty small:

[code]

[2022-09-06 22:02] dgozman commented on #17067
@w5pand Could you please provide a repro that we can try locally? Otherwise it is impossible to help you.

[2022-09-06 22:03] dgozman commented on #17068
@coader Could you please explain what are you trying to achieve? There might be a solution for you already.

[2022-09-06 22:03] #17062 closed

[2022-09-06 22:05] dgozman commented on #17077
@shastrisubramaniam Could you please provide a repro that we can run locally? Otherwise it is impossible to help you.

[2022-09-06 22:13] dgozman commented on #17078
@baptisteArno This is a nature of a single-threaded JavaScript, you cannot work around that. If you want your `route` code to run, your test must not be paused on a breakpoint. I'd suggest to use other debugging tools that don't actually pause the script like `page.pause()` or `--debug`. Sorry for the inconvenience!

[2022-09-06 22:13] #17078 closed

[2022-09-06 22:15] dgozman commented on #17081
@ElVisPL Could you please provide a repro that we can run locally?

[2022-09-06 22:15] mareru opened #17144 "[Question] Use the global variable in the globalSetup function already"
I have a question related to the running Playwright Test on the different environments.
I did the following:
[code]
ENV is a class containing the constants like process.env.BASE_URL
But my baseURL const var is not defined. How can I do it here? I need to call these login functions for both shops EU and US and they need the baseURL defined depending on the environment.
Everywhere else where I use t