[2022-03-11 01:02] Nav-2d opened #12667 "[BUG] A specific test not running on Docker (mobile safari)"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Mac
- Node.js version: 12.22
- Browser: Mobile Safari [iPhone 12]
- Extra: Docker image PW v1.19.2

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
The above test is passing locally when I run it using `npx playw

[2022-03-11 03:34] DetachHead opened #12672 "[Question] why was `isVisible` and `isHidden`'s `timeout` deprecated?"
as far as i can tell there's no easy way to simply check if an element is visible with a timeout.

is the best method now to just do something like this?
[code]

[2022-03-11 03:43] ddemoss222 commented on #7472
I am also having issues with dragAndDrop. Following along stepwise at the debugger, the mouse click actions appears to happen at the source element and it moves to the target element location, but no dragging or dropping happens. Are there known workarounds to better capture this event? I have tried await page.waitForLoadState('networkidle'), so I believe the element would be "ready" for this even

[2022-03-11 04:16] gauravgandhi1315 commented on #12656
@yury-s It works for me. Thanks for your help!

[2022-03-11 04:16] #12656 closed

[2022-03-11 06:15] wuweikd opened #12674 "[Question] the docker need install playwhright again?"
HI,

I had got the docker:  mcr.microsoft.com/playwright.

But when I use it, i need install playwright again. If i run `npx playwright install` , it will work. But why i need install again?

[2022-03-11 07:00] FahadRS commented on #12458
we don't have any exact steps to produce this, we have around 110 tests which run 4 times in a day and this problem occurs at least once in a day
we are running these tests on the windows server in the CI/CD pipelines

[2022-03-11 07:50] JontyMC commented on #11692
Did you try with 1.17?

[2022-03-11 07:56] satya081 commented on #11692
Yes I tried with 1.17 as well buts it not working.I raised on bug #12666

[2022-03-11 08:10] Nav-2d opened #12676 "[BUG] Artifacts not saved when directory is same as the html output folder"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Mac
- Node.js version: 12.22
- Browser: All
- Extra: Docker Focal Image 1.19.2

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
As noticed in the above config, I want test artifacts and html report to be in the s

[2022-03-11 08:15] liamdocherty10 commented on #12655
@yury-s I retested your suggestion just to confirm and like I thought that will make my text search an exact match.

I've updated the original code snippet to include a partial match example without chaining `nth` that is showing the behaviour I'd expect.

Is there any other way to implement this?

[2022-03-11 08:48] Robert-Nickel commented on #12487
Same issue. The manual "fix" you proposed "worked". I just started out experimenting with playwright in my existing SvelteKit project - with this issue causing a not so great experience tbh.

[2022-03-11 09:29] labeldevops opened #12678 "[BUG] playwright install does not work behind socks5 proxy"
playwright install does not work behind a socks5 proxy:

[code]

I set HTTPS_PROXY=127.0.0.1:8080 - but, yes, I understand that HTTPS is not SOCKS5. It should just work with a socks5 proxy, like e.g. SSH tunnels.

[2022-03-11 09:38] aslushnikov commented on #12400
@bpasero looks like new versions of Chromium will regress performance of VSCode; Playwright 1.19 shipped Chromium 100, while your current stable is probably 99. Let's verify the stable version: could you please run:

[code]

@bpasero you'd need to run `npx playwright install chrome` as part of your CI to install stable chrome version.

@sleroq could you please also dump your stable chrome version?

[2022-03-11 09:39] aslushnikov commented on #10162
@ph4un00b Playwright 1.20 is coming out in a few days. Meanwhile, you can install Playwright from tip-of-tree using `npm i @playwright/test@next`

[2022-03-11 11:01] mxschmitt commented on #12674
If your Docker image version matches with the installed Playwright version, then you don't need to install the browsers or OS deps again.

e.g. `docker pull mcr.microsoft.com/playwright:v1.19.2-focal`

[2022-03-11 11:36] manuman94 opened #12683 "[BUG] Chromium and webkit headless/head rendering differences"
## System:
 - OS: Linux 5.4 Ubuntu 20.04.3 LTS (Focal Fossa)
 - Memory: 1.12 GB / 15.45 GB

## Binaries:
 - Node: 14.18.0 - /usr/local/bin/node
 - Yarn: 1.22.5 - /usr/bin/yarn
 - npm: 8.5.1 - /usr/local/bin/npm
## Languages:
 - Bash: 5.0.17 - /bin/bash

## Playwright env.:
- Playwright Version: 1.19.2
- Browser: All

## The bug

Hi there! We are testing a kind of "analytics" web where some charts

[2022-03-11 11:41] agataDeviniti opened #12684 "[BUG] Assertion toHaveAttribute or method locator.getAttribute does not include options in locator"
**Context:**
- Playwright Version: 1.19.1
- Operating System: Mac
- Node.js version: v17.0.1
- Browser: Chromium (the others were not checked)

**Code Snippet**

[code]

**Describe the bug**

Assertion toHaveAttribute or method locator.getAttribute does not include options in locator, when provided.
I am using locator with options`hasText:` and `has:` as provided below:
`'[class^="hs_firstname"]',

[2022-03-11 12:02] linichacko opened #12685 "[REGRESSION]: elementHandle.screenshot() takes only the content in the current viewport"
**Context:**
- GOOD Playwright Version: 1.17.2
- BAD Playwright Version: >=1.18.0
- Operating System: Windows, Linux or Mac

**Code Snippet**
[code]

**Describe the bug**
With the latest update in Playwright, the element screenshot doesn't provide full page screenshot, it only captures current viewport.
This was working as expected till 1.17.2 version.
elementHandle.screenshot(); now takes only th

[2022-03-11 12:06] manuman94 commented on #12685
Hi!

I just created an issue regarding problems of taking screenshots in headless/headful mode and using Playwright version 1.19.2 I can use element.screenshot()

You can test it using a test project I created for the issue: https://github.com/microsoft/playwright/issues/12683

Hope this helps.

[2022-03-11 13:06] Taoli96 opened #12686 "[Question]specific URL cannot be opened in the Chromium, but can open in firefox"
specific url : http://43.248.49.97/ (I can access it through my browser)

code:

browser = playwright.chromium.launch(headless=False)
context = browser.newContext()
page = context.newPage()
page.goto(url)

The browser will prompt you with a 400 error

but,If I change browser type

browser = playwright.firefox.launch(headless=False)

Everything will be fine.

error have to do with browser types

[2022-03-11 13:09] satya081 commented on #12666
You can refer this thread as well discussion regarding this issue
https://app.slack.com/client/TSUHZPS85/threads/thread/CSUHZPVLM-1641495284.041400

[2022-03-11 13:44] satya081 commented on #12666
@yury-s Could you please help me to fix this issue.

[2022-03-11 13:50] outerlook opened #16962 "Add an option to open trace of a test"
Is this feature request in scope?

[2022-03-11 13:53] kellis-scottlogic commented on #12674
I am also experiencing this issue in 2 different pipeline configurations

The docker image we use if pinned to the  `1.19.1` image

The Playwright version in package..json is also pinned to `1.19.1`

Yet when running the test in the pipeline, I am getting the message that Playwright was just installed or updated, and that `npx playwright install` must be run

[2022-03-11 14:04] Meir017 opened #12687 "[Docs] add dotnet docs for using MSTest"
The docs site has getting started documentation mainly for NUnit, in https://github.com/microsoft/playwright-dotnet there is a utility package integrating with MSTest as well.

here https://playwright.dev/dotnet/docs/test-runners

[2022-03-11 14:47] #12672 closed

[2022-03-11 15:04] mxschmitt commented on #12686
This site uses some obfuscated protection against browser automation. The first request is a 412 status code, then it loads some obfuscated JS and based on that it probably detects some automation.

Closing since we can't act on such individual use-cases.

[2022-03-11 15:04] #12686 closed

[2022-03-11 15:18] mxschmitt commented on #12399
I tried on mac and it works for me.

[2022-03-11 16:27] #12463 closed

[2022-03-11 16:31] nhe23 commented on #12667
I'm facing the exact same error when running my playwright tests inside the `mcr.microsoft.com/playwright:focal` container inside AzurePipelines. All tests for 'Mobile Safari' are failing with the same message @Nav-2d is getting. All the other browser work inside the pipeline. Locally all browsers work.

[2022-03-11 17:38] yury-s commented on #12685
@linichacko can you share a standalone repro that we could run locally? You mention gmail as your example, it may well be that something changed on their end.

[2022-03-11 18:04] yury-s commented on #12685
The test below which captures an element larger than the viewport works in 1.19.2 and older versions:

[code]

If you take screenshot of an element that doesn't fit into its parent then only part visible through the parent element is captured and this behavior didn't change between 1.17.2 and 1.19.2:

[code]

[2022-03-11 18:46] yury-s commented on #12684
`parentSelector` selects a `div` ('#hsForm_9ff0d26d-64a3-416a-84f1-4ae8d553682c > fieldset:nth-child(1) > div')  which doesn't have the attribute. You need to refine the selector to select input contained in it:

[code]

[2022-03-11 18:46] #12684 closed

[2022-03-11 18:58] yury-s commented on #12683
Do you see the screenshots that don't include `<canvas/>` element?

Looks like another issue caused by different anti-aliasing behavior is different between headed and headless modes.  Unfortunately there is no good way to make the browsers produce identical images in both modes. We are adding additional settings to `toMatchSnapshot` matcher in the next release (see #12167), namely `pixelCount` an

[2022-03-11 19:25] yury-s commented on #12676
html reporter removes the content of the folder before writing a new report, this will also remove all screenshots written by that time. Is there a reason you cannot use different directories for screenshots and report?

[2022-03-11 19:31] yury-s commented on #12667
@Nav-2d can you collect a trace and see if there is a particular request hanging in mobile safari version? Also I'd appreciate if you could share the url with me.

[2022-03-11 19:41] Nav-2d commented on #12667
@yury-s Shared the trace and URL with you on Slack

[2022-03-11 19:42] AutomationPanda opened #12692 "[Feature] expect(page).to_contain_title('...')"
Currently, the Python binding has the following assertion for page titles:

[code]

I'd love to have an assertion to check if a title *contains* a string. Sometimes, titles are long, and pieces may be arbitrary. Checking if a title contains a string would be useful in those cases. The code could look like this:

[code]

I'm sure this would be useful in other language bindings, too.

[2022-03-11 19:47] yury-s commented on #12666
Can you try running with `DEBUG=pw:browser` and check the console output?

[2022-03-11 20:16] ph4un00b commented on #10162
@aslushnikov all good, it works but I have an issue, seems like the mask is behaving like having a `z-index=Infinity` css prop.
![image](https://user-images.githubusercontent.com/1057021/157953176-20e2a041-fb3a-4328-9541-c079fe0f709b.png)
I have two buttons with higher z-index `z-index=10` than the mask locator, actually the class locator has a `z-index=-1` but the mask totally covers it up. Is th

[2022-03-11 20:21] archlichking opened #12694 "[Question] Which page event should I use to capture `securitypolicyviolation` event"
We're looking for a proper point during the page loading to inject a piece of js in order to capture [`securitypolicyviolation`](https://developer.mozilla.org/en-US/docs/Web/API/SecurityPolicyViolationEvent#browser_compatibility) event (more to read https://developer.mozilla.org/en-US/docs/Web/API/Element/securitypolicyviolation_event), but turns out there seems no proper event from [`Page`](https

[2022-03-11 21:12] mesolido commented on #12399
I still have this issue in my case. However, I found a workaround:
- When Opera launches, it automatically opens a  tab (page)
- I get a reference to this initial page via `browser.pages()`  and from its context (`pages[0].evaluate`), I navigate URLs with `window.open`
- Then I setup listeners on the `browser` to get notified when the page loads (`ontargetcreated`)
So far this is sufficient for wh

[2022-03-11 22:55] vigneshrajsb commented on #12639
thank you @yury-s.. any plans to make this available in a future release?

[2022-03-11 23:16] yury-s commented on #12636
I can reproduce it in 1318 (df51849316b973d7911e4ed337423242a6cb9ab8) but not 1317.

[2022-03-11 23:29] yury-s commented on #12694
Although there is no dedicated event for this error (or other web errors) you can listen to  the console [messages](https://playwright.dev/docs/api/class-page#page-event-console):

[code]
and parse that message, it will contain something like `"Refused to load the image 'http://localhost/HTTPRevved_fix_typo.png' because it violates the following Content Security Policy directive: "default-src 'non

[2022-03-11 23:29] #12694 closed

[2022-03-11 23:34] yury-s commented on #12457
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-11 23:34] #12457 closed

[2022-03-11 23:35] yury-s commented on #12398
There are no current plans of implementing this. Closing for now.

[2022-03-11 23:35] #12398 closed

[2022-03-11 23:35] yury-s commented on #12464
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-11 23:37] yury-s commented on #12481
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-11 23:37] #12481 closed

[2022-03-11 23:59] sahmeepee commented on #12287
I have also seen this bug in recent versions. My assumption was that the images differed by the width of the vertical scrollbar on the right hand side of the browser. In win10 & chromium I was finding it was 17px so the screenshot widths were 1280px vs 1263px.

[2022-03-12 05:46] aslushnikov commented on #10162
@ph4un00b yep, totally expected. In this case, it seems like using request interception to feed in some different image would work better for you!

[2022-03-12 06:10] bpasero commented on #12400
I don't follow. This is in our CI and the version should be constant depending on the version of `playwright` and the config, no?

We call `npm playwright-install` in our CI before running tests, that is not enough?

[2022-03-12 06:40] #12563 closed

[2022-03-12 08:07] aslushnikov opened #12707 "feature: experiment with rebaseline workflow"

[2022-03-12 10:33] mxschmitt commented on #12674
Maybe you have multiple versions of Playwright installed? Having a repro for that with logs would be very useful.

[2022-03-12 10:34] mxschmitt commented on #12404
Closing as part of the triage process since it seemed stale. Please create a new issue with a detailed reproducible or feature request if you still face issues.

[2022-03-12 10:34] #12404 closed

[2022-03-12 10:35] mxschmitt commented on #12482
Closing as part of the triage process since it seemed stale. Please create a new issue with a detailed reproducible or feature request if you still face issues.

[2022-03-12 10:35] #12482 closed

[2022-03-12 10:36] mxschmitt commented on #12529
Closing as part of the triage process since it seemed stale and answered. Please create a new issue with a detailed reproducible or feature request if you still face issues.

[2022-03-12 10:48] #12560 closed

[2022-03-12 10:51] mxschmitt commented on #12559
It would already help if you could try creating a smaller range of Playwright versions. Also it would help us if you could share what kind of webserver you are using, so we can try it out locally.

I'm curious because the resource link you shared is http:// but the error is about https://?

[2022-03-12 15:04] dannyyassine-ce commented on #7035
you can always add a delay with changing files :) -> https://github.com/remy/nodemon#delaying-restarting

[2022-03-12 16:32] mxschmitt opened #12710 "[internal] do not auto unselect Android in flakiness dashboard"
Its not broken anymore!

[2022-03-12 16:32] shirshak55 commented on #12559
@mxschmitt

Lets say you open https://google.com. And you inserted element <img src="http://localhost:8888/hello.png" />. The issue now is google chrome is showing issue related to http links aren't allowed in https website etc.. In past, there was no such error.

The webserver is simple express js webserver.

![image](https://user-images.githubusercontent.com/8097377/158026242-363507eb-902d-4b71-

[2022-03-12 16:32] #12559 closed

[2022-03-12 16:57] mxschmitt commented on #12559
Ah this is actually not an error, this is just a warning! Seems like a won't fix then.

[2022-03-12 17:18] garciallorente-fer commented on #12370
Thanks for your reponse @yury-s , after adding `.scrollIntoViewIfNeeded()` before each of the actions of the example, I can see that the Trace Logs do not show anymore the error "element is outside of the viewport" and therefore the test stops becoming flaky, but the error "_element is not stable - waiting..._" is still happening, and that "solution" would still not explain why are those errors ha

[2022-03-12 17:32] #12629 closed

[2022-03-12 17:39] mxschmitt opened #12711 "[REGRESSION] Page.screenshot hangs on some sites"
**Context:**
- Playwright Version: ToT
- Operating System: Mac
- Node.js version: 16
- Browser: Chromium
- Extra: [any specific details about your environment]

[code]

**Describe the bug**

Page.screenshot does not resolved.

[2022-03-12 17:44] mxschmitt commented on #12711
Probably the same as https://bugs.chromium.org/p/chromium/issues/detail?id=1121612 and https://bugs.chromium.org/p/chromium/issues/detail?id=1121612

[2022-03-12 18:52] shirshak55 commented on #12559
@mxschmitt Well the image doesn't load because of https error. So, I consider it as a bug. The old playwright (probably due to old chromium) had no issues. And, what would be best way to load such image without going through hassles of installing own CA etc?

[2022-03-12 21:04] mxschmitt commented on #12559
That's a web browser issue rather than a playwright issue. Since in the real world it also would never work. It's a mixed content type error, so probably expected but we can reopen and wait for other users to run into it.

[2022-03-13 00:17] NikkTod commented on #12330
This one is needed.

[2022-03-13 02:11] coader opened #12712 "[BUG]can't visit fedex tracking page"
https://www.fedex.com/fedextrack/?trknbr=270302988381

I  run playwright with headless=false
input url by manual, and always get error:
![image](https://user-images.githubusercontent.com/3700498/158041840-2aba4777-550d-4540-b386-1a2d1b4c77ba.png)

then i run chrome in incagotino mode, it's work fine, so what problem?

[2022-03-13 03:09] 2855512675 opened #12713 "[Question]Can't provide an official method of context management."
Can't provide an official method of context management. Because sometimes I need to run continuously on a page and load data by constantly sliding. I want a way without context management. Because I often encounter JS memory overflow. This makes me feel bad. I use this command page = context new_ Page () creates a separate page to run the program, and there will still be JS overflow. I hope the go

[2022-03-13 06:54] suyin-long opened #12714 "[Question]如何确定confirm中我点击的是“确定”还是“取消”？"
想根据confirm中点击的结果（确定/取消）来执行对应的内容，那么在playwright中该如何捕获这个结果？

[2022-03-13 10:11] pkerschbaum commented on #11987
WSL 2 has "native" GUI support for some time, it is called "WSLg", see [microsoft/wslg](https://github.com/microsoft/wslg).
I use Playwright quite successfully with it, but the issue that the Window is not visible (even though the icon appears in the Windows taskbar) has also occured to me sometimes.

But **this also happened with Cypress**. I am pretty sure it is a WSLg issue, also considering th

[2022-03-13 10:20] gabrielbrrll opened #12715 "[Question] Is it possible to automate QR code reading via webcam?"
I'm currently using this package: [react-qr-reader](https://www.npmjs.com/package/react-qr-reader ) to do some QR code reading via the webcam -- once the content has been decoded thru the package, it will then call an API and will display some text depending on the result. Do you have any references for this kind of case?

[2022-03-13 12:59] AlexKomanov opened #12716 "[Question] Gitlab doesn't recognize the failed status of the test run?"
**Context:**
- Playwright Version:1.18.0
- Operating System: Windows
- Node.js version: 14.18.1
- Browser: Chrome
- Extra: GitLab CI/CD

**Describe the bug**

It seems like the GitLab runner doesn't recognize the failed status of the test run (in case we have a little amount of the tests).

For example,  I have several jobs in GitLab that have failed tests:
![image](https://user-images.githubuserc

[2022-03-13 13:02] yuvalkarif commented on #12623
Hey, creating a repro is hard for me as I am not familiar with creating small projects for the purpose for recreation.
The project I am working on is a huge internal project. I tried your advice and `toHaveCount()` seems to be working as expected!
Too bad it is not covering all of the use cases for such a thing as I am using it also as a Boolean flag to continue and as iterator for going over all

[2022-03-13 16:30] shirok1 opened #12717 "[Feature] Let bundled WebKit MiniBrowser link to not a specified version of icu"
On Linux, MiniBrowser is linked to icu 66.
[code]
I'm using Manjaro Linux, my icu version is 70. I guest that MiniBrowser is linked to icu 66 because that's the version on Ubuntu, which most CI container runs, but this only makes development on other Linux distro harder.
In my opinion, MiniBrowser should either link to dyn lib without specifying edition like just `libicui18n.so` (at lest it *may*

[2022-03-13 21:17] szmarczak commented on #1101
Is it possible to actually intercept the targets? For example, asynchronously run and await Node.js code, which would be running after a response is received, but before webpage scripts are ran. The Node.js code could modify cookies, storages etc. `context.addInitScript` doesn't work here, because you're bound to the webpage context.

[2022-03-13 23:08] BlkPingu commented on #7635
Please implement this

[2022-03-14 03:40] wanghaisheng opened #12723 "[Question]: equivalent to act_1 = action.click_and_hold(source)"
### Your question

selenium has  			act_1 = action.click_and_hold(source)
if i got a element  ,i can get bounding_box then move onto it,then how can I click and hold it ,have tried click and mouse down
[code]

[2022-03-14 04:07] coader commented on #7220
also need this

[2022-03-14 06:02] jithinjosejacob commented on #12716
CI pipeline mostly looks at exit code of last script run to determine the exit code. It seems like even though your tests failed in a previous task , your artifact upload and cleanup task succeeded. This could be the reason why your job succeeded. Try removing the artifact upload and cleanup task and see if you are getting proper status

[2022-03-14 07:23] agataDeviniti commented on #12684
Hi @yury-s , thank you for I response, but I would like to clarify this case. I've just corrected the code provided above from 'label' to 'input' (my fault) :(
But... I assumed that if I add  _"has:"_ option to my parentLocator it will find the same as childLocator. Am I right?
That is why I don't understand this behavior:
-> When using .click() for parentLocator with _"has:"_ option -> it clicks

[2022-03-14 07:57] manuman94 commented on #12683
Hi @yury-s,

Yes, we have a test that uses SVGs and the screenshots doesn't match between headful and headless. In fact, the screenshots above are of an SVG, it's not a canvas object.

Short HTML code behind the screenshots:
![image](https://user-images.githubusercontent.com/6721904/158128354-13bc9c1f-c675-43dd-9c73-4b6bfb19b046.png)

Okay! So the only way to avoid this issue is to play with toler

[2022-03-14 08:41] liamdocherty10 opened #12719 "[BUG] Chaining a locator after a text selector that includes quote causes locator to fail"
**Describe the bug**

This was originally raised under #12655 but the issue was quickly closed. I attempted to have it re-opened with no luck.

In the [text selectors documentation](https://playwright.dev/docs/selectors#text-selector) the first example is using `'text=Log in'` to achieve a partial case-insensitive match.

I want to achieve the same thing however I need to account for the text stri

[2022-03-14 10:15] satya081 commented on #12666
Yes, I added DEBUG=pw:browser in the environment variable, but I am not getting any more logs in the intellij console.
Blank Chrome browser(without any url) is opened for around 20 seconds in selenium grid in EC2 linux container and closed then.
<img width="829" alt="Capture" src="https://user-images.githubusercontent.com/32022027/158151899-9f072b0e-154a-417a-bb09-735b45647c17.PNG">
But testcase i

[2022-03-14 10:23] mchudie opened #12722 "[BUG]React selectors Component name contains Special characters"
### Your question

React selectors Unable to select components containing special characters
![](https://user-images.githubusercontent.com/7105278/158152835-4744508a-b5ac-4b9d-9801-c87b8a227a83.png)
![](https://user-images.githubusercontent.com/7105278/158153212-354c349c-4d22-4390-810a-1dbae587dec1.png)

[2022-03-14 10:53] Jovan27 commented on #10367
I would also love to have this feature, migrating from cypress to playwright would be much easier.

[2022-03-14 12:06] slang25 opened #12725 "[BUG] Online traceviewer random 404s"
I've created a sample trace that I've been sharing to show off how cool Playwright is, however people are reporting that things like image thumbnails are randomly failing. After a little digging I can see that some of the service worker requests result in 404s.

You can try this yourself by refreshing this sample a few times and watching the service worker network requests:
https://trace.playwrigh

[2022-03-14 12:54] caribou-code opened #12728 "[BUG] Incorrect status in afterAll"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac
- Node.js version: 14.18.1
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

In the above example both `expectedStatus` and `status` log as `Passed` but I would expect `status` to be `Failed`.

[2022-03-14 14:06] dz1dz1on opened #12730 "[Feature] Element screenshot crop option - stabilize visual regression by removing not important elements."
So I would like to have additional option in screenshot method which could add us possibility to crop a screenshot.
***Example***
- we are taking screenshot of the modal
- button on the modal has spinning animations in the time of the loading
- we don't care about button but we are interested in the content of the modal
- problem is that our tool for screen comparison shows the difference between

[2022-03-14 14:11] bezyakina opened #12731 "[Question] How to abort request on created webview page before page will be opened"
I want to intercept  advertising requests and cancel them, but this test is flaky (sometimes it intercepts, sometimes it doesn't). When I open the webview in the application, the request has already been executed. For the same reason, request interception does not work. How can I intercept all requests from the moment the webview was created until it was opened?

[code]

[2022-03-14 14:22] dajunhuo opened #12732 "[BUG] :text() selector documentation issue"
**Context:**
- Playwright Version: 1.19.1
- Operating System: Windows
- .NET
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

The documentation for text selectors as seen in the URL https://playwright.dev/dotnet/docs/selectors#text-selector only worked for me if I remove the space between the element and the colon e.g.
[code]

Here's an example of what I was trying to select (w

[2022-03-14 14:59] leanne1 commented on #12487
Same issue in a new project. Would be keen to see a fix or this!

[2022-03-14 15:32] yury-s commented on #12714
See https://playwright.dev/docs/dialogs

[2022-03-14 15:32] #12714 closed

[2022-03-14 16:04] #12091 closed

[2022-03-14 16:18] amrsa1 opened #12736 "[Question] Unable to copy into clipboard programmatically"
**Context:**
- Playwright Version: 1.19.2
- Operating System: mac
- Node.js version: 14.6
- Browser: all

**Code Snippet**

[code]

[code]

**Describe the bug**

[code]

[2022-03-14 16:18] DvDream opened #12737 "[Question] page.evaluate: Execution context was destroyed, most likely because of a navigation."
Hi, I need to load a token into indexedDB. I stored this token inside a .json file and now I need to load it inside my test page in order to skip authentication. I'm doing in this way:

[code]

but I'm getting this error:

`    page.evaluate: Execution context was destroyed, most likely because of a navigation.`

With `await page.goto('*site URL*');` I'm trying to access the login page in order to

[2022-03-14 16:28] amrsa1 commented on #12736
update when i add in the config file the following

[code]

i got output like that

<img width="582" alt="Screenshot 2022-03-14 at 17 27 44" src="https://user-images.githubusercontent.com/32042806/158217047-4f2101fe-548d-4ddd-a2b9-277db1a766d9.png">

[2022-03-14 17:09] yury-s opened #12739 "[Internal] Deprecate webkit macOS 10.15 build"
Upstream builders for 10.15 were shut down in early Feb 2022 and recent roll didn't compile on 10.15, so we need to deprecate it and mac macOS 11 minimal supported version.

[2022-03-14 17:21] Meir017 opened #12740 "[Feature] Add wait-for-function on Worker abstraction"
tl;dr: - Enhance the `Worker` interface:

[code]

consider the following test:

[code]

[2022-03-14 17:31] bitcoder opened #12741 "[Feature] add new option on junit reporter to use CDATA sections to encode content"
Provide a new option on the junit reporter to control whether to use CDATA sections to encode text content in the JUnit XML elements.
This provides a safe mechanism to add content on elements, such as `<system-out>` and other that use inner text, where we don't control what the users provide. Parsers usually skip (i.e., don't pase) the contents of CDATA sections, taking out the start and ending CD

[2022-03-14 17:57] pavelfeldman commented on #12741
Would you be open to sending a PR for this?

[2022-03-14 18:06] bitcoder commented on #12741
@pavelfeldman on its way, resolving a conflict

[2022-03-14 18:17] aslushnikov commented on #12636
This turned out to be an issue with Java server issue! Firefox Stable doesn't like it.

[2022-03-14 18:28] Nav-2d commented on #12667
@yury-s The issue seems to be resolved since this morning and the test is working fine on Docker (mobile safari). Not sure on the root cause yet. I am going to keep this ticket open to see if @nhe23 is still the issue.

[2022-03-14 18:45] pavelfeldman commented on #12737
Your page navigates concurrently while you are navigating. There is no easy way of injecting indexed db tokens for authentication due to the async nature of indexed db. Following will work, but it somewhat involved:

[code]

[2022-03-14 18:51] Meir017 commented on #12740
Web workers do support the `requestAnimationFrame` function.
![image](https://user-images.githubusercontent.com/9786571/158240673-6a238ffe-b024-43b9-a2c8-9e364415e6f4.png)

maybe after #12565 enhances service-workers there should be a different interface for each worker type?

[2022-03-14 18:54] pavelfeldman commented on #12736
The fact that you see Received: "accessibility-events" suggests that it reads the value just fine (that's what was in your clipboard as you were updating the permissions value). But it fails to copy it. How do you copy value into the cilpboard?

[2022-03-14 19:00] pavelfeldman commented on #12732
`#nav-bar:text("Home")` and `#nav-bar :text("Home")` are two different selectors with different semantics. First is looking for an element nav-bar that has given text, another is looking for nested elements inside navbar that have text.

You would typically say `#nav-bar:hasText("Home")` instead, or better yet `page.locator('#nav-bar', { hasText: 'Home' })`.

[2022-03-14 19:00] #12732 closed

[2022-03-14 19:02] pavelfeldman commented on #12731
I don't think we support this for the reason you gave yourself. By the time webview is discovered, it could have made this request already. You can try adding testing support into your app and only issue the request when webview is already discovered.

[2022-03-14 19:04] pavelfeldman commented on #12730
Note that v1.20 will release today and it can do `page.screenshot({ mask: locator })` that hides elements with given locator.

[2022-03-14 19:06] bitcoder commented on #12741
ready for review @pavelfeldman
(note: I'm just waiting from a formal email from my org so I can sign the CLA; should come soon)

[2022-03-14 19:08] pavelfeldman commented on #12725
I can repro it via reloading several times and then scrubbing the preview.

[2022-03-14 19:14] pavelfeldman commented on #12719
Looks like the expectations are that we escape trailing `"`.
For now you can work around it via `text="19\""` or `text=/19"/`

[2022-03-14 19:16] pavelfeldman commented on #12723
I don't think you need to call click, just move and press down?

[code]

[2022-03-14 19:18] pavelfeldman commented on #12717
We only support Ubuntu atm, please feel free to send a PR that fixes it and we'll review it!

[2022-03-14 19:19] pavelfeldman commented on #12716
Yes, closing as per above! Make sure exit code is correct!

[2022-03-14 19:19] #12716 closed

[2022-03-14 19:19] pavelfeldman commented on #12715
No references, sorry!

[2022-03-14 19:19] #12715 closed

[2022-03-14 19:21] pavelfeldman commented on #12713
It does not look like you scenarios is testing-related. We currently only focus on the testing scenarios!

[2022-03-14 19:21] #12713 closed

[2022-03-14 19:28] pavelfeldman commented on #12711
I can repro with

[code]

[2022-03-14 19:40] pavelfeldman commented on #12496
Here is where Playwright stores its browsers, check out that entire doc page because it is written for people with scenarios like yours. As to where you have your Chrome installed on a mac, you should google it!

[2022-03-14 19:40] #12496 closed

[2022-03-14 19:43] pavelfeldman commented on #12462
All good suggestions, but we don't have enough hands to cover those. It might also be not that trivial to tell closed page apart from closed context.

[2022-03-14 19:45] pavelfeldman commented on #12519
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-14 19:45] #12519 closed

[2022-03-14 19:45] pavelfeldman commented on #12571
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-14 19:45] #12571 closed

[2022-03-14 19:46] pavelfeldman commented on #12514
Playwright will only retry the exact test (on the exact browser) it failed.

We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-14 19:46] #12514 closed

[2022-03-14 19:49] pavelfeldman commented on #12515
Can we get a complete repro for this one? In 95% of cases like this, the bug is in the page that hydrates late / does not have listeners installed while Playwright is already interested with it. These are all real bugs that can be reproduced if you enable Slow 3G emulation in DevTools and interact with the page immediately after you've seen the controls.

[2022-03-14 19:49] pavelfeldman commented on #12584
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-14 19:49] #12584 closed

[2022-03-14 19:50] pavelfeldman commented on #12523
Folding into https://github.com/microsoft/playwright/issues/8206

[2022-03-14 19:50] #12523 closed

[2022-03-14 19:52] pavelfeldman commented on #12569
Electron support is still experimental in Playwright, so we are not prioritizing it. If you nail down the bug and have a fix, we'll be happy to review and accept it.

[2022-03-14 19:54] pavelfeldman commented on #12630
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-03-14 19:54] #12630 closed

[2022-03-14 20:00] amrsa1 commented on #12736
Just click on the element that supposed to copy the url

<img width="430" alt="Screenshot 2022-03-14 at 20 59 48" src="https://user-images.githubusercontent.com/32042806/158251386-956cda62-1217-4cd2-9005-9f02f6a858d0.png">

[2022-03-14 20:01] pavelfeldman commented on #12599
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-03-14 20:01] #12599 closed

[2022-03-14 20:05] pavelfeldman commented on #12393
What are those intermediate https://accounts.google.com/ navigations? Do you have a storageState you are using to reuse credentials?

[2022-03-14 20:09] pavelfeldman commented on #12493
To answer your question: 20 second timeout was exceeded (you probably configured it somewhere) and Playwright prints all the currently running operations, not just the one that timed out. In your case, locator.waitFor at myProj\tests\test.spec.ts.datamerged.ts:9:98 never finished and Playwright is still waiting for it. It is likely to be an independent issue, unrelated to your screenshot problem.

[2022-03-14 20:09] #12493 closed

[2022-03-14 20:11] pavelfeldman commented on #12586
It is unclear what you mean by that, you can already use `test.info().attach` for that. Please feel free to open a new issue if this does not address your use case!

[2022-03-14 20:11] #12586 closed

[2022-03-14 20:13] pavelfeldman commented on #12692
@AutomationPanda how do you feel about adding it? :)

[2022-03-14 20:13] pavelfeldman commented on #12399
Closing as per above.

[2022-03-14 20:13] #12399 closed

[2022-03-14 20:15] dgozman commented on #12728
This was fixed for 1.21 in #12518.

[2022-03-14 20:15] #12728 closed

[2022-03-14 20:15] pavelfeldman commented on #12464
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-03-14 20:15] #12464 closed

[2022-03-14 20:36] pavelfeldman commented on #12400
@bpasero, my triaging shift starts, making sure I understand what's happening:

## Perf regression

So we now think that starting with Chrome v100, VS Code on macOS will be 2x slower for certain operations. We are deriving this from the fact that Playwright 1.19 (Chromium 100) is 2x slower than Playwright 1.19 (Chrome 99).

Since this is a very strong statement, I'd be more comfortable if you chec

[2022-03-14 20:41] pavelfeldman commented on #12370
My triaging shift started and I'm going over the bugs marked as 'triaging'. Unfortunately, there is too much context for me to be able to grasp and to be helpful. If you could narrow down the problem to something that we could reproduce, it would make this issue actionable on our side. We need a snippet of code reproducing the issue along with the expectations and actual results. That way we can p

[2022-03-14 20:43] pavelfeldman commented on #12623
We would really need a repro. It could be that the prod / tested version of the page has debug information stripped and _vue selectors simply don't exist / work there.

[2022-03-14 21:43] davidglezz commented on #12370
If you read the description above you can see that the author has created a repository with a snippet that reproduces the issue.
@pavelfeldman Please reopen

[2022-03-14 22:14] kamelbou opened #12754 "[Question] Failing to open url with webkit in docker"
Hello !

I'm trying to run playwright test in docker. It works well with Firefox and Chromium but not with webkit.

- Playwright: docker image mcr.microsoft.com/playwright:focal
- Operating System: [Linux - Ubuntu 20.04.4 LTS]
- Node.js version: [16.14.0]
- Browser: [Webkit]

It's a little test opening just a URL:

In my Before step:

[code]

Then in my test:

[code]

**steps**:

Dockerfile:

[cod

[2022-03-14 22:35] garciallorente-fer commented on #12370
@pavelfeldman in the description you have clearly all the minimum information to check and/or reproduce the issue.

1. Navigate to **_https://github.com/garciallorente-fer/webkit-unstable-playwright_** and clone the project locally & run it (or just check the report html or trace)

2. Notice how elements in webkit are unstable at first (using the trace viewer)
![image](https://user-images.githubus

[2022-03-14 23:42] maustin commented on #12103
It appears the issue is having a CDP connection open with the extension's service worker.

We found a workaround by adding this patch to crBrowser `_onAttachedToTarget`:
[code]

By immediately detaching from the worker, it appears Chrome is able to maintain its ability to stop and restart the worker.

[2022-03-14 23:44] Nav-2d opened #12756 "[BUG] Unable to load a URL in version 1.20"
**Context:**
- GOOD Playwright Version: 1.19.2
- BAD Playwright Version: 1.20.0
- Operating System: Mac

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
Navigating to MY_URL times out and reports the following error:
`Timeout of 20000ms exceeded while shutting down environm

[2022-03-14 23:50] pavelfeldman commented on #12370
I can repro. As a workaround, you can add this for now:

[code]

[2022-03-14 23:54] dgozman commented on #12370
@yury-s Chromium has `--disable-smooth-scrolling` to disable this completely.

[2022-03-15 00:00] aslushnikov commented on #12617
@mdugue do you require `pages.spec.ts` from `detailsSlideover.spec.ts` or vice versa?

[2022-03-15 00:05] aslushnikov commented on #12643
@ssams Very fancy!

[2022-03-15 00:54] pavelfeldman commented on #12756
User-provided log:

[code]

[2022-03-15 01:03] aslushnikov commented on #12756
@Nav-2D are you running on a M1 mac?

[2022-03-15 01:03] pavelfeldman commented on #12754
It is hard for us to tell anything without an example that we can reproduce.

[2022-03-15 01:08] pavelfeldman commented on #12676
The idea is that `test-results` contains all kinds of information that tests generate. HTML reporter will copy some of that information into itself and will be ready to be re-distributed. The expectations are that if you are using HTML reporter you won't be storing test-results in your archive. I would not worry about the duplicates as long as you don't run out of the CI/CD quota.

[2022-03-15 01:10] pavelfeldman commented on #12685
We can't act on this bug without a reproducible scenario. Do you think you can provide one?

[2022-03-15 01:14] coader commented on #12712
just use headless=false to show chrome window, and input url by manual:https://www.fedex.com/fedextrack/?trknbr=270302988381
I have tried in other computer, also get this error

[2022-03-15 01:23] Nav-2d commented on #12676
Thanks for the explanation. Closing the issue.

[2022-03-15 01:23] Nav-2d commented on #12756
@aslushnikov - Intel

[2022-03-15 01:37] pavelfeldman commented on #12712
I can repro, I'm seeing:
[code]

Caused by `--enable-automation`.

[2022-03-15 02:03] pavelfeldman commented on #12712
Fedex is making a check if browser is being controlled by the automation, and if it is, refuses to service information. You should raise this issue with them!
`navigator[_acxj[40]]` stands for `navigator.webdriver` in the code. As a testing software, we are also setting this flag, to make sure we are in line with the target site requirements.

[2022-03-15 02:03] #12712 closed

[2022-03-15 02:03] DetachHead commented on #11668
@pavelfeldman this doesn't work when you're using a language other than js/ts (eg. python), or when you aren't using `@playwright/test` (ie. only using the playwright library).

[2022-03-15 02:43] coader commented on #12712
sometimes we need playwright as rpa tools to reduce user's nosense input,

[2022-03-15 03:57] pavelfeldman commented on #12740
I don't think it exists outside of Chromium - probably something exposed to enable offscreen canvas animations. We've seen apis like this removed via the blink intent.

We don't have too many sw-related requests and I don't have a good idea on the new APIs they might need. So I don't think we'll be extending SW api it in the nearest future.

[2022-03-15 05:00] Meir017 commented on #12740
Okay, that makes sense

[2022-03-15 05:00] #12740 closed

[2022-03-15 06:27] kamelbou commented on #12754
Ok. Let me try to setup something that you can use to reproduce the issue. Thanks a lot!

[2022-03-15 06:35] linichacko commented on #12685
Run the below code with version v.1.17.2 and then with >=1.18.0.
Prerequisite: An unread email with multi page should be there in the Inbox. Use Gmail credentials

const playwright = require('playwright');

let browser, page;
before(async function() {
  browser = await playwright.chromium.launch({
    headless: false
  });
  page = await browser.newPage();
});

describe('Capture full element scree

[2022-03-15 06:46] qitest opened #12766 "[BUG] Playwright install fails on windows 7"
Context:

Playwright Version: [1.19.0]
Operating System: [Windows]  win7
java maven version: [1.19.0]
Browser: [e.g. All, Chromium, Firefox,] Chromium

**Code Snippet**
[code]
Getting the following error

Caused by: java.lang.ExceptionInInitializerError: null
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeCo

[2022-03-15 06:48] qitest commented on #12766
My program works in win 10 but not in windows7

[2022-03-15 06:58] rr13k opened #12767 "[Question] Requires a shared context ，communication by storage"
I want to open two browsers, their pages need to share session, how to do this? need to trigger between them
window.addEventListener("storage"

i try to lock --user-data-dir,but it not work.

'\n==================== Browser output: ====================\n<launching> /Users/renran/Library/Caches/ms-playwright/chromium-976882/chrome-mac/Chromium.app/Contents/MacOS/Chromium --disable-background-networ

[2022-03-15 08:28] shubhamkgupta14 opened #12768 "[Question] How to get Total, Passed, Failed, Skipped test cases count in custom reporter."
Hello Team

I have a question while generating the custom reporter. I have create a custom reporter class - MyReporter.ts

"playwright": "^1.20.0"
"typescript": "^4.6.2"

`
  onEnd(result): void {
    console.log("\nFinished the run : " + result.status + "\n"`);
  }
`

I want to print Total, Pass, Fail and Skip counts at the end of running i.e onEnd() function.

Thanks

[2022-03-15 08:34] mahesh-narvar opened #12769 "[BUG] playwright errors out for elements that are not in the scope of execution"
**Context:** The Playwright is used with Jest
- Playwright Version: [what Playwright version do you use?] 1.17.2
- Operating System: [e.g. Windows, Linux or Mac] - Mac
- Node.js version: [e.g. 12.22, 14.6] - 14.6
- Browser: [e.g. All, Chromium, Firefox, WebKit] - Chromium
- Extra: [any specific details about your environment]

[code]
**
In the test code, the orderNumber is set to an empty string w

[2022-03-15 08:35] liamdocherty10 commented on #12719
@pavelfeldman yes I believe that the `"` should be escaped.

Thanks for the suggestions however neither of those give me the exact solution I need. I need a partial match and to be able to chain an additional locator from it.

Fails because using double quotes looks for an exact match:
[code]

Fails with an error `SyntaxError: Invalid flags supplied to RegExp constructor 'i >> nth=0'`;
[code]

[2022-03-15 08:35] andreirogal commented on #12151
@mxschmitt Please tell me when it is planned to fix this bug? Thanks!

[2022-03-15 08:40] andreirogal commented on #12151
Retest on version 1.20.0 The result is the same. This bug is reproducible.

[2022-03-15 08:51] piotrpawlik commented on #12393
@pavelfeldman
Yes, I'm using `storageState` to store session.
Logging 3 users in global setup:
[code]
Then using it like that in tests:
[code]
or
[code]

[2022-03-15 08:54] klassm opened #12770 "[BUG] TypeError: _Component.Component is not a constructor"
**Context:**
- Playwright Version: 1.20.0
- Operating System: Linux, Mac
- Node.js version: Node 16.13.0
- Browser: Only tried on Chrome

## System:
 - OS: macOS 12.2.1
 - Memory: 23.14 GB / 64.00 GB
## Binaries:
 - Node: 16.13.0 - /var/folders/rr/421993y578z70672kx_rj2m80000gn/T/fnm_multishells/50867_1647329804086/bin/node
 - Yarn: 1.22.17 - /usr/local/bin/yarn
 - npm: 8.1.0 - /var/folders/rr/421

[2022-03-15 08:56] #12770 closed

[2022-03-15 09:03] ECIAP commented on #9199
+1

[2022-03-15 09:51] mdugue commented on #12617
WOW, @aslushnikov, you are incredible. Yes, I shared some mock-data in that way. Thanks a lot! Extracting that mock-data to a dedicated module solves it.

Is that behaviour on purpose? Maybe we could explain this behaviour in the docs in case or fix it somehow otherwise?

@yury-s , sorry I missed your response

[2022-03-15 11:17] guillaumemeunier opened #12771 "[Question] Using WebSockets"
In the documentation, I can see that Playwright has a Websocket class (https://playwright.dev/docs/api/class-websocket) but I can't figure out how to use it as there is no example provided.

What I'm trying to do is to execute a test with two browser sessions and one session would wait for a certain WebSocket before performing some actions. I would prefer to use Websocket to avoid any flakiness. D

[2022-03-15 11:18] kettanaito commented on #12462
I don't mind addressing this if you can help me with getting around the code base and reviewing my pull request. Does this sound fair?

[2022-03-15 11:35] ShaneYu opened #12772 "[BUG] Playwright cannot find executables for all browsers in test runs this morning; no code changed over several days."
**Context:**
- Playwright Version: 1.20.0
- Operating System: Windows and Linux (via docker container)
- Node.js version: 16.13.0
- Browser: All

## System:
 - OS: Windows 10 10.0.19043
 - Memory: 12.32 GB / 31.73 GB
## Binaries:
 - Node: 16.13.0 - C:\Program Files\nodejs\node.EXE
 - Yarn: 1.22.17 - C:\Program Files\nodejs\yarn.CMD
 - npm: 8.1.3 - C:\Program Files\nodejs\npm.CMD

**Code Snippet**

[2022-03-15 11:41] ShaneYu commented on #12772
It is worth noting that I was able to downgrade the version of Playwright to 1.19.2 and everything works find again. So my work around at the moment locally is to use 1.19.2 and will use a older version of the docker image.

Was there anything breaking that was not detailed in the latest release notes?

[2022-03-15 12:20] mxschmitt commented on #12766
Windows 7 is not supported, Windows 8+ but we recommend Windows 10 or 11.

[2022-03-15 12:20] #12766 closed

[2022-03-15 12:20] hansiemithun opened #12774 "Screenshots are not saved"
Trying to save the screenshots, video on failure.

[code]

By default, it has to save inside the `test-results` folder. But it is neither created nor saved. I tried to create a `test-results` folder myself if it is related to a permission issue in MacBook, but still no luck, it wipes out the folder every time it runs but after tests fail, I don't see the folder or its related contents captured.

A

[2022-03-15 12:30] mxschmitt commented on #12774
Are you using Electron? Then we can fold it into https://github.com/microsoft/playwright/issues/8208.

[2022-03-15 12:37] italodeandra commented on #3768
@lovelyplanet2019 We usually get one minor every month. We're currently at `1.20` that released yesterday so my guess would be in a month we might get this fixed, if they don't postpone it again.

[2022-03-15 12:37] hansiemithun commented on #12774
Yes, we are using electrons. I see a similar ticket: https://github.com/microsoft/playwright/issues/12125 and got closed. All these are addressed in #8208? When can we expect this to be ready?

So at present, tracing, video, and screenshots none work with Electron?

Also, does the playwright have an option of maximizing the window size and test for web and electron?

Thank you

[2022-03-15 12:43] mxschmitt commented on #12774
Yeah we merged them together since the reason was the same. I'd recommend to upvote the linked one! (Eta = demand = amount of upvotes)

They are working, but you manually need to start tracing, take screenshots or record a video. The wiring between electron and the playwright test test-runner is not yet in place.

Not as of today. Fixed viewport makes a test reproducible so we recommend that.

[2022-03-15 12:43] #12774 closed

[2022-03-15 13:09] ltsuda opened #12775 "[BUG] TestProject.grep and TestProject.grepInvert not working"
**Context:**
- Playwright Version: 1.20
- Operating System: WSL2 Linux 5.10 Ubuntu 20.04.4 LTS (Focal Fossa) - Windows 11
- Node.js version: 16.13.0
- Browser: None
- Extra: npm 8.1.0

**Describe the bug**
Trying to use the latest feature `TestProject.grep and TestProject.grepInvert`, but it doesn't work. Should this feature work for `test.describe`?

How to reproduce:

[code]

Playwright 1.19.2
[

[2022-03-15 13:11] kapros opened #12776 "[BUG] Multiple type commands in one Promise.all do not resolve correctly"
**Context:**
- Playwright Version: 1.91.1
- Operating System: all
- Node.js version: 14.17.6, possibly all
- Browser: chromium
- Extra:

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

It appears that if one Promise.all holds many promises that use the `fill` command, they

[2022-03-15 13:22] ltsuda commented on #12775
Actually, the `grep/grepInvert` options in the `projects` configuration even breaks commands without the `--project` parameter.

[code]

[2022-03-15 13:26] VinayKumarBM opened #12777 "[Question] Downloading pdf file"
In the application that I'm testing, when I click a 'Finish' button it opens pdf file in the pdf viewer instead of directly downloading.

The navigated URL will look like this: [http://01.27.103.32:8080/ream/reports/Report?Id=300215&saveAsAttachment=n&bin](http://01.27.103.32:8080/ream/reports/Report?Id=300215&saveAsAttachment=n&bin)

I have gone through few of the issues that was opened before an

[2022-03-15 13:55] mxschmitt opened #12778 "[Feature] Open the same HTML report window instead of a new one all the time"
[code]

magic: https://github.com/facebook/create-react-app/blob/main/packages/react-dev-utils/openBrowser.js

[2022-03-15 14:55] cgomm opened #12780 "[BUG] Timeout in Gitlab CI"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Linux, Mac, Docker, Windows
- Node.js version: 14.17.0
- Browser: Chromium
- Extra: Gitlab CI -- Gitlab Runner 14.6.1

[code]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

We running in some issues by try usi

[2022-03-15 15:00] manuman94 commented on #6258
Thanks for that workaround @mindplay-dk !

[2022-03-15 15:02] mxschmitt commented on #12780
Could you share us your gitlab ci file? Are you using the official Docker image for it? See [here](https://playwright.dev/docs/ci#gitlab-ci).

[2022-03-15 15:12] llam15 commented on #12772
+1, we used the `focal` image yesterday at 5pm ET, which worked. Nothing has changed since then and it failed today at 10m ET

[2022-03-15 15:16] chaganiu opened #12781 "[Feature] Make Locator.waitFor return the locator"
Currently `Locator.waitFor()` returns void.  If we could change this to return the locator we could chain methods onto it.

Current:

[code]

After:

[code]

[2022-03-15 15:36] PalaChen opened #12782 "playwright how to connect chrome remote-debugging-port [Question]"
chrom
[code]
playwright how to connect to chrome.exe

i need to test playwright,but now playwright finish task,close browser
test next task, need restart open browser and login, if i not save cookie

[2022-03-15 16:14] rwoll opened #12784 "[internal] diagram major Playwright components / architecture"

[2022-03-15 16:22] mxschmitt commented on #12781
`await orderSent.click();` this already waits until the element is there, so you don't need `orderSent.waitFor()`.

Also your "after" would not work, since `waitFor()` is async, it would then be like: `await (await orderSent.waitFor()).click();` which would work, but as written above, click as an action waits already, see here: https://playwright.dev/docs/actionability

Closing as per above.

[2022-03-15 16:36] bshostak opened #12785 "[BUG]oracledb not usable in playwright?"
**Context:**
- Playwright Version: 1.19.1
- Operating System: Mac
- Node.js version: 14.15.3
- Browser: All
- Extra:

**Code Snippet**

[code]

**Describe the bug**

While using playwright, I am also trying to use the oracledb package [https://github.com/oracle/node-oracledb](url) to call our database for certain tests/variable assignments, etc. With other frameworks, the typical process to take i

[2022-03-15 16:52] Nav-2d commented on #12768
You can do something along these lines:
[code]

[2022-03-15 17:07] donegjookim opened #12786 "[Feature] Ability to modify the response body after providing path to the static file in route.fulfill method"
Currently, there are two ways to mock the response in Playwright using [route.fulfill](https://playwright.dev/docs/api/class-route#route-fulfill) method:

1. By providing the mock data in test code:
[code]

2. By providing the path to the static file:
[code]

It'd be super helpful to be able to do a combination of the two methods. For example, to be able to modify the content of the `mock_data.jso

[2022-03-15 17:33] hansiemithun commented on #8208
We require screenshots, video capture on failures with the electron as it's one of the best features that playwright offers, and looking forward to being fixed in the upcoming release.

[2022-03-15 17:44] mxschmitt opened #12789 "[internal] Firefox sends events twice sometimes"
Repro:

[code]

`pip install twisted`

https://pypi.org/project/Twisted/

Confirmed on Firefox Nightly too.

[2022-03-15 17:49] pavelfeldman commented on #12785
Playwright is just program, it'll run globalSetup, then it'll run tests and then it'll run globalTeardown. If running setup or teardown fails, it would be failing the test run. So I'd suggest that you manually run globalSetup /teardown in a standalone program:

[code]

It is likely to fail with the same error.

[2022-03-15 17:58] pavelfeldman commented on #12782
https://playwright.dev/docs/api/class-browsertype#browser-type-connect-over-cdp

[2022-03-15 17:58] #12782 closed

[2022-03-15 17:59] pavelfeldman commented on #12778
I'm not sure we want this, you sometimes want to compare previous result to the last one.

[2022-03-15 18:02] pavelfeldman commented on #12780
For some reason your test times out while attempting to navigate. This suggests that the web server that you use is behaving unexpectedly in the gitllab environment. Try searching for similar errors related to the server that you are using.

[2022-03-15 18:05] pavelfeldman commented on #12777
Check out this page for workarounds: https://github.com/microsoft/playwright/issues/6342#issuecomment-929112605

[2022-03-15 18:05] #12777 closed

[2022-03-15 18:07] aslushnikov commented on #12789
Upstream bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1759738

[2022-03-15 18:09] pavelfeldman commented on #12776
It would be as if 3 people connected 2 keyboards and 1 mouse to the computer and started clicking and typing simultaneously. You are observing the result of this team work!

[2022-03-15 18:09] #12776 closed

[2022-03-15 18:11] pavelfeldman commented on #12775
Could you share your config, along with the expectations and the actual results?

[2022-03-15 18:12] pavelfeldman commented on #12772
It is trying to tell you what happened, you are now on Playwright v1.20 and you need new browsers every time Playwright is updated.

<img width="549" alt="Screen Shot 2022-03-15 at 11 12 12 AM" src="https://user-images.githubusercontent.com/883973/158444195-85fb6886-4ce4-423b-bbbf-0e3ff1c97f86.png">

[2022-03-15 18:16] aslushnikov commented on #12772
What docker images do you use? Do you use versioned docker images?

For playwright v1.20.0, you should use docker image `mcr.microsoft.com/playwright:v1.20.0-focal`

[2022-03-15 18:17] ltsuda commented on #12775
Tests directory.
[code]
All tests in the `schema` directory has something like this  `test.describe.parallel("@schema-endpointX" ...`, so the `schema` project will grep for `@schema` and the `api` project will grepInvert `@schema`, if I understood the feature correctly.

[code]

[2022-03-15 18:26] cgomm commented on #12780
@pavelfeldman what do you mean by behaving unexpectedly. We used different versions (npx wait-on and start-server), even with debugging. Via DEBUG log we can see, that Playwright can access the main page (http://localhost and get redirected directly to our login mask)

[2022-03-15 18:28] #12768 closed

[2022-03-15 18:29] pavelfeldman commented on #12767
Sorry, it is unclear what you need. Please provide a short repro in code or some pseudo code, along with your expectations and actual results!

[2022-03-15 18:42] pavelfeldman commented on #12393
No ideas on top of my head, your code looks good. Google wouldn't typically let you log in via automation, that's why I was asking.

[2022-03-15 18:44] pavelfeldman commented on #12685
I was hoping for a standalone 5-line repro with a single cut-off div. What's your OS, are you saying you checked all 3?

[2022-03-15 18:52] guillaumemeunier commented on #12771
Thank you @pavelfeldman , I will check that out 😌

[2022-03-15 18:57] blimmer commented on #12599
Thank you. I was able to use the recommended code to try to move the item while "holding onto it". However, I now ran into the problem described by https://github.com/microsoft/playwright/issues/2903 because `mouse.down()` isn't triggering the scroll behavior because it's a MouseEvent, not a TouchEvent. I'll add this link over on that issue as well.

[2022-03-15 18:58] bshostak commented on #12785
Thanks for the reply. Sorry if I am misunderstanding, but are you saying to not use the config.globalSetup and config.globalTeardown in the playwright.config file? Instead running the file individually?

[2022-03-15 19:00] blimmer commented on #2903
I found this issue because I wanted to be able to drag an element using touch events as described in https://github.com/microsoft/playwright/issues/12599. It looks like I might be able to dispatch the events (see https://github.com/microsoft/playwright/issues/6072) but it'd be nice to just say "dragto" and have it do the proper `touchstart`, `touchmove` and `touchend` behaviors for me.

[2022-03-15 19:27] fnep opened #12793 "[REGRESSION]: selenium chrome instance hanging in a blank window"
**Context:**
- GOOD Playwright Version: 1.17.2
- BAD Playwright Version: 1.19.1
- Operating System: MacOS 12.3
- Extra: Selenium Hub running in Docker, controlled with python

**Code Snippet**

[code]

[code]

[code]

[code]

[code]

![2022-03-15T20-12-22@2x](https://user-images.githubusercontent.com/2083099/158455245-d1b37ce7-1326-41f0-aee7-fb39d70b5534.png)

**Describe the bug**

The selenium ch

[2022-03-15 19:30] bpasero commented on #12400
I can only devote time in our debt week again, which is in early April. Will then get back here. Hopefully others can also chime in that see it.

[2022-03-15 19:51] llam15 commented on #12772
We are running in Circle CI with the following image:
[code]

previously we have never needed to run any update commands on this docker image?

[2022-03-15 21:10] aslushnikov opened #12796 "feature: improve docker reliability"
two things:
- [x] have always up-to-date version of docker in our docs
- [ ] add `DOCKER_VERSION` file in registry with a docker version. If playwright fails to launch a browser, then check existence of this file, and if it exists then compare it's version with pw version

[2022-03-15 21:13] #12711 closed

[2022-03-15 22:05] pavelfeldman opened #12799 "[Feature] Component testing experiments"
We are exploring the ways where Playwright can be helpful when testing framework-specific components.

## Core Priorities

- Experience
  - importing component and using JSX syntax where possible
  - configuring component properties and slots inline
  - handling component events in test
- Testing in a real browser
  - Chromium, Firefox, WebKit
  - Performance on par with JSDom or better
- Non-intr

[2022-03-15 22:07] pavelfeldman commented on #12799
@Rich-Harris I was mentioning this experiment to you over Discord. Svelte examples are https://github.com/microsoft/playwright/tree/main/tests-components, not yet in the examples folder. Curious what you think about Svelte.

[2022-03-16 00:13] pavelfeldman commented on #12772
My understanding is that this depends on your docker registry cache. If you have 1.19 cached, it'll be serving it and you'll be getting the mismatch.

[2022-03-16 00:19] pavelfeldman commented on #12775
<img width="513" alt="Screen Shot 2022-03-15 at 5 18 27 PM" src="https://user-images.githubusercontent.com/883973/158492863-4e6deb19-4e48-4467-b076-b903827b7230.png">

[2022-03-16 01:04] awarecan commented on #12775
It breaks the compile of my test config
[code]

My cmp.config.ts
[code]

My playwright.conifg.ts, redacted version
[code]

[2022-03-16 01:25] szmarczak opened #12805 "[BUG] `popup` is not emitted when parent closes early"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Linux
- Node.js version: v16.13.0
- Browser: Chromium, Firefox

I'm storing some data per main page in a `WeakMap`. All the descendants point to the opener's data as well. Due to this bug, the opener is missing hence the data is inaccessible.

**Code Snippet**

[code]

**Describe the bug**

I found an edge case - if we open a new window

[2022-03-16 01:54] pavelfeldman commented on #12799
@yyx990803: I was wondering if you are interested in looking at the Vue examples:
- git clone git@github.com:pavelfeldman/playwright-ct-vue-example.git
- https://github.com/microsoft/playwright/tree/main/tests-components

We are not using vue-test-utils (we bring our own automation and assertions), but it feels like there are bits of it that we should be using. Similarly, it'd be nice to provide o

[2022-03-16 02:30] rr13k commented on #12767
I need to open both browsers, and they will open the same page. In a normal browser, their pages can communicate by listening for `storage` changes. Now,  we can't do that because  `playright`  each browser uses a different `user-data-dir` path.
If you delete the specified `user-data-dir` when starting the browser, you get the above error

[2022-03-16 02:37] szmarczak opened #12807 "[BUG] Cookies get assigned before fulfilling a response"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Linux
- Node.js version: v16.13.0
- Browser: Chromium, Firefox

**Code Snippet**

[code]

**Describe the bug**

Cookies get assigned despite the `delete`. Replacing `set-cookie` does not replace the original cookies.

**Expected**

[code]

**Actual**

[code]

[2022-03-16 02:39] rr13k commented on #12767
The expected result is that two browsers are opened and can communicate with each other through the `Listener storage`

[2022-03-16 02:55] szmarczak opened #12808 "[BUG] Impossible to remove unnamed cookies"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Linux
- Node.js version: v16.13.0
- Browser: Chromium, Firefox

**Code Snippet**

[code]

**Describe the bug**

The above gives `browserContext.addCookies: Cookie should have a name` - it should pass instead.

https://github.com/microsoft/playwright/blob/964eeba0dc3934f0d57f7ed0e209992c53ba9027/packages/playwright-core/src/server/networ

[2022-03-16 04:44] pavelfeldman commented on #12808
It seems like we are dealing with a malformed Set-Cookie header that should be ignored entirely?

https://www.rfc-editor.org/rfc/rfc6265#section-5.2

       ignore the set-cookie-string entirely.

[2022-03-16 04:49] rwoll commented on #12808
@pavelfeldman It looks like you can still set (non-RFC compliant) cookies via `document.cookie` and have them come back.

[code]

This patch passes, but maybe it is invalid on principle?

[2022-03-16 04:53] linichacko commented on #12685
I am using Windows 10 and Mac OS Monterey and it was working in both OS - chrome browsers

[2022-03-16 04:55] szmarczak commented on #12808
`c.name !== undefined` - I guess Chromium reports `undefined`. Wouldn't it be safer to `Boolean(c.name)`?

[2022-03-16 04:59] rwoll commented on #12808
@pavelfeldman I think we want `await context.addCookies(await context.cookies())` to always be valid, which is not currently the case in current (v1.20). https://github.com/microsoft/playwright/issues/12808#issuecomment-1068729112 aims to get us there (and includes server round-trip test) to validate the browsers are actually sending the out of spec cookie to the backend.

[2022-03-16 05:09] pavelfeldman commented on #12807
Thank you for your report. I noticed that
1) we didn't do a great job at documenting the cookie jar difference, it is only mentioned here: https://playwright.dev/docs/api/class-apirequest.
2) our documentation for `page.request` is missing

This should work for you:
[code]

[2022-03-16 05:11] rwoll commented on #12808
An additional test that illustrates the problematic behavior (given the patch above shows the browser roundtrip behavior with these non-spec cookies) is:

[code]

which yells on 1.20 about the lack of name.

[2022-03-16 05:11] szmarczak opened #12809 "[BUG] Infinite loop when calling `storageState` on page close"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Linux
- Node.js version: v16.13.0
- Browser: Chromium, Firefox

**Code Snippet**

[code]

**Describe the bug**

New pages keep opening and closing indefinitely. That's because of the current implementation: https://github.com/microsoft/playwright/blob/964eeba0dc3934f0d57f7ed0e209992c53ba9027/packages/playwright-core/src/server/browserCo

[2022-03-16 05:13] aslushnikov commented on #12710
fixed!

[2022-03-16 05:13] #12710 closed

[2022-03-16 05:18] pavelfeldman commented on #12808
Yeah, `Set-Cookie: =unnamed` will also yield the same behavior.

We should fix, unsure about the priority. @szmarczak did you encounter it in the wild?

[2022-03-16 05:19] aslushnikov commented on #12730
@dz1dz1on would the new `mask` API work for you?

[2022-03-16 05:20] pavelfeldman commented on #12808
Ah, you are from `got`, makes sense :) Would you be open to sending those PRs or are you just testing our implementation for random issues?

[2022-03-16 05:24] aslushnikov commented on #12683
@manuman94 the `maxDiffPixels` and `maxDiffPixelRatio` were released yesterday in 1.20 release.

[2022-03-16 05:30] aslushnikov commented on #12637
Merging into https://github.com/microsoft/playwright/issues/12683

[2022-03-16 05:30] #12637 closed

[2022-03-16 05:31] aslushnikov commented on #12683
Firefox screenshots do differ as well on headless vs headed under certain circumstances.
- [ ] Consider including headlessness to the upcoming `screenshotsDir` path

[2022-03-16 05:32] pavelfeldman commented on #12805
If you add
[code]
into your script, you'll see that Popup1 is closed before Popup2 is created.

- window.open('https://www.google.com/'); - schedules the navigation (async)
- w.close() - immediately closes the window (sync)

What would be your expectations?

[2022-03-16 05:32] aslushnikov commented on #12617
@mdugue I *think* we fixed this bug on tip-of-tree. Could you please try installing `npm i @playwright/test@next` and see if it works for you?

[2022-03-16 05:33] aslushnikov commented on #12557
Upstream seems to be fixed!

[2022-03-16 05:33] #12557 closed

[2022-03-16 05:37] pavelfeldman commented on #12809
Looks like a real bug. It sounds like you are implementing some kind of har-alike recorder. Check out our har implementation, maybe it works for you out of the box.

[2022-03-16 05:37] aslushnikov commented on #12287
Merging this to a broader headless vs headful discussion: https://github.com/microsoft/playwright/issues/12683

[2022-03-16 05:37] #12287 closed

[2022-03-16 05:45] szmarczak commented on #12807
Thanks for the help, really appreciate it! I'd like to use persistent context anyway due to caching. I saw this piece:

https://github.com/microsoft/playwright/blob/fb00991a782bdac40c946299f5690b7fffb4b7bc/packages/playwright-core/src/client/playwright.ts#L47

so is `await playwright.request.newContext()` correct?

[2022-03-16 05:46] pavelfeldman commented on #12805
I guess you are missing the opener in this google popup and we could try returning the closed about:blank page instance in that case for you to be able to restore the connection. As you can see from the code, we can expose sync opener, we just did not have a use case for that.

[2022-03-16 05:51] szmarczak commented on #12805
Yes, sorry for not clarifying this earlier. My use case is to assign data to pages on-the-go via a WeakMap. `context.newPage` is one of the many ways to create pages, but `window.open` (which can be ran by a script) is another etc.

[2022-03-16 05:55] pavelfeldman commented on #12807
Sure, whatever works for you. We would recommend to save/restore `storageState`, but I'm not sure what your scenario is.

Yes, I'm doing it in my snippet above like this: `const requestContext = await request.newContext();`

[2022-03-16 05:59] szmarczak commented on #12808
Correct, also working for Apify :) I'm more than happy to send the PRs. I gotta go to uni in two hours though, I'll send them when I'm back.

I haven't. I'm working on implementing "incognito" contexts inside persistent contexts. At Apify we'd like to use proxy per page but currently there's a major perf hit when using incognito contexts due to lack of caching. In order to use code cache, the serv

[2022-03-16 06:09] szmarczak commented on #12808
Here's a PoC: https://github.com/szmarczak/playwright-containers far from done, but works nicely for now.

[2022-03-16 06:20] jithintill opened #12813 "[Question] Select option not working for below dom"
**Context:**
- Playwright Version: 1.20

DOM
![Screen Shot 2022-03-16 at 5 14 44 pm](https://user-images.githubusercontent.com/98723817/158528927-5c3cfb12-071c-406f-8e56-72bc028408a4.png)

[code]

**Describe the bug**

I have tried to use selectOption as shown above for the above dom as per the doc
https://playwright.dev/docs/input#select-options

it didn't worked, finally i have to type in the sp

[2022-03-16 06:31] FrankWang117 opened #12814 "[Question] how to use expect.any in playwright"
I want to :
[code]

[2022-03-16 06:53] dz1dz1on commented on #12730
@aslushnikov In this particular example I think it will work.

[2022-03-16 06:54] mdugue commented on #12617
Hey @aslushnikov sure. I fixed it already the way you pointed me to, but will checkout the old commit later on to provide feedback

[2022-03-16 07:29] aslushnikov commented on #12814
You can do

[code]

[2022-03-16 07:32] pavelfeldman commented on #12814
This looks like a regression from https://github.com/microsoft/playwright/pull/12403, does it?

[2022-03-16 07:36] FrankWang117 commented on #12814
@aslushnikov maybe.
but if I want to compare object:
[code]
how to do?
Now I use:
[code]

[2022-03-16 07:37] pavelfeldman commented on #12814
[code]

works for me, it is just that the types aren't right, we'll fix it right away.

[2022-03-16 07:39] pavelfeldman commented on #12805
Would you be open to taking a stab at it? We are unlikely to prioritize it, but happy to review the patch.

[2022-03-16 07:39] FrankWang117 commented on #12814
@pavelfeldman ok,thanks a lot.

[2022-03-16 07:46] aslushnikov commented on #11226
have your tests within a file overwrite eachother

@rwoll As of 1.20 we now support anonymous snapshots and we encourage everybody to use them. This should solve this!

[code]

instead of deeply nested in the test tree (which of course can be done by snapshotDir already today).

The new `expect.toHaveScreenshot` (probably coming in 1.21) defaults to this model of screenshot management!

don't over

[2022-03-16 08:04] nhe23 commented on #12667
After some investigation I found out that Mobile Safari tests are working inside the Docker container but they are much more likely to timeout and fail compared to for example Mobile Chrome tests. This paired with the not so great performance of AzurePipelines lead to all Mobile Safari tests failing inside the pipeline.

[2022-03-16 08:49] amrsa1 commented on #12637
When this fix could be released

[2022-03-16 09:03] ShanmukhaGajula opened #12816 "[Question] Visual testing: How can I ignore a specific region in Visual testing"
[Question] Visual testing: How can I ignore a specific region in Visual testing, say I want to ignore a tag where there is dynamic content like visitor number to the page and timestamp when we visit the page.
And there is another scenario where I will get the application number upon the submission of a form, I need to do the visual testing of the page by ignoring that tag which has data of applica

[2022-03-16 09:11] ShanmukhaGajula commented on #12816
I can see there is a mask feature but is there any way that I can see that data without masking it?

[2022-03-16 09:24] ShaneYu commented on #12772
We've been using the image `mcr.microsoft.com/playwright` with no version or `focal` etc. I've looked into it and we do cache the docker images, however I am told that it is meant to pull and re-cache when there is a newer version; I am looking into this now to make sure that is indeed the case.

Is there a particular reason you would want to use a `focal` one over just `mcr.microsoft.com/playwrig

[2022-03-16 09:25] DvDream commented on #12737
Thank you for the hint! Actually, I noticed that I was not waiting enough to make the evaluate function, and since before the evaluation I didn't notice that there was a redirect, the error occurred.

[2022-03-16 09:25] #12737 closed

[2022-03-16 09:45] ShaneYu commented on #12772
Just in case it helps, we use [JFrog Artifactory](https://jfrog.com/artifactory/) when getting our docker images which then caches them if they've not been fetched before; we do this mainly due to the limitations Docker have put in place that prevents too many pulls within a given time window; being a business using docker containers for most of our projects we obviously hit that limit quickly.

I

[2022-03-16 11:05] shahabkhan12342 opened #12819 "[BUG] E2E test is failing in pipeline and Trace is not loading"
**Context:**
- Playwright Version: [1.19]
- Operating System: [Windows]
- Node.js version: [14.17.3]
- Browser: [Chrome]

I am facing this problem , whenever I run E2E tests in a pipeline, some of them fails in beginning while loading the application in first attempt and then passed in second attempt and that test becomes flaky, As you can see in below screenshot of trace file, trace file is also

[2022-03-16 11:43] mariaceo commented on #9938
@0xIslamTaha, did you solve this now after the release?

[2022-03-16 11:47] 0xIslamTaha commented on #9938
@mariaceo The only thing I had to do is set a fixed waiting time. This solution is bad but there is no other option till the team release this PR
https://github.com/microsoft/playwright/issues/9938

[2022-03-16 11:56] creage opened #12821 "[BUG] Chromium: Cannot click, element intercepts pointer events"
**Context:**
- Playwright Version: 1.20.0
- Operating System: Windows10
- Node.js version: LTS 16
- Browser: Chromium only

**Describe the bug**
Trying to click on the ElementHandle, located by ElementHandle.waitForSelector() - fails in Chroimum with error
[code]

Works fine in Webkit and Firefox, was working fine in all browsers before 1.20.0 upgrade.

[2022-03-16 12:17] rr13k commented on #12767
[code]

Expect code that works, but it's not hard

any help，thank you

[2022-03-16 13:14] eatonjl opened #12822 "[Question] How to authenticate through VPN on an SSO login page using Global Setup"
I set up a test that logged into the site I am testing and checked the URL. No issues there. Then I moved the login portion of it to a global-setup file as seen below:
[code]

When doing the logging in from the global config file, the login page gets an error. Yet doing the login through the test works fine. I am wondering if there is something with SSO that it could be having an issue with. I kno

[2022-03-16 13:18] llam15 commented on #12772
Possibly but looking at the circle ci logs, it looks to be pulling different images

Failing builds are using SHA `9a72a2ef95fdca5317f62d5c5bd8ed7d6ae9231691a12b8f5d4b8b4a2e0828f4`
[code]

Passing builds were using SHA `3d36197320f4f77b062a7973e99406d10a436e11706eddebde6be08836bfe5d1`
[code]

[2022-03-16 13:38] llam15 commented on #12772
I re-ran the CircleCI Job with SSH to check out what's going on, but it looks like the chromium version that playwright is looking for does not match what is installed in the docker container (Note we also tried running `playwright install`, and that did not do anything)

Specifically, the error message states
[code]

And running `ls /ms-playwright` in the docker container returns
[code]

[2022-03-16 13:45] llam15 commented on #12772
Looks like the directory in the image is just named incorrectly, if we rename the `/ms-playwright/chromium-978106` directory to  `/ms-playwright/chromium-965416`  then the tests run properly

[2022-03-16 13:52] jdwholmes opened #12823 "[BUG] 1.20 has broken our tests in WebKit (page is just blank)"
- Playwright Version: 1.20
- Operating System: Windows
- Node.js version: 16.3
- Browser: WebKit
- Extra: Since upgrading to 1.20 none of our tests work on WebKit anymore, downgrading the package works.

I have an example of the test here https://try.playwright.tech/?l=javascript&s=k7pbmkr

[code]

try.playwright.tech is currently on 1.19 and it works correctly, I can also confirm that it works co

[2022-03-16 14:24] lovelyplanet2019 commented on #3768
I see. The version is v1.21 now.

[2022-03-16 14:52] pavelfeldman commented on #12816
Mask will work for you, but it'll hide the content. We were planning a feature like the one you are asking for, that ignores region while comparing, yet shows the content in the screenshot.

[2022-03-16 14:59] ShanmukhaGajula commented on #12816
That's really great.. Thank you..

[2022-03-16 15:08] uchagani opened #12824 "[Feature] Configurable Default Timeout for Web-First Assertions"
With node we are able to set the default timeout for web-first assertions via [config](https://playwright.dev/docs/test-timeouts#set-expect-timeout-in-the-config).  This is not possible in other language bindings.  We would like to be able to configure the default timeout.

Use case:

By default, playwright waits 30 seconds for a locator to be ready.  This implicit timeout is enough for most cases

[2022-03-16 16:05] pavelfeldman commented on #12824
This makes sense. Web-first assertions are language-specific, so we don't need to track them from a single location, you can proceed with your Java work and someone could pick it up / mirror it in other ports.

[2022-03-16 16:11] pavelfeldman commented on #12821
Thanks for your report. Is there a page we could repro it on?

[2022-03-16 16:12] pavelfeldman commented on #12819
Do you use `storageState`? We would also need some kind of repro to act on it.

[2022-03-16 16:14] kamelbou commented on #12754
I close this issue as it's works well with version 1.20.0. Thank you !

[2022-03-16 16:14] #12754 closed

[2022-03-16 16:14] tanmdoan opened #12827 "[BUG] Failing or flaky tests when run in parallel"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: Mac
- Node.js version: 16.14.0
- Browser: Chrome

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

We have an issue potentially and a question, the potential issue we're seeing is whenever we run in para

[2022-03-16 16:35] gauravgandhi1315 opened #12828 "[Question] How to clear all the data in the text field?"
I have been trying to clear all the data in the text field. `await this.page.keyboard.press('Backspace');` works for me but it deletes only one character. Is there any other way to clear the whole field? OR Do i need to run this `backspace` in a loop to clear characters one by one?

[2022-03-16 16:36] gauravgandhi1315 commented on #12828
It would be good to have `.clear`

[2022-03-16 17:30] bonkalol opened #12829 "[Feature] Allow to provide tsconfig path"
Now there is no option that would allow you to specify which tsconfig to use when running playwright tests, I would like to have this option since my project uses several tsconfig's

[code]

[2022-03-16 17:33] mxschmitt opened #12830 "[BUG] launchPersistentContext hangs with firefox when used twice"
**Context:**
- Playwright Version: ToT, 1.20
- Operating System: Mac
- Node.js version: 16
- Browser: Firefox

**Code Snippet**

This script does hang after the second execution.

[code]

**Describe the bug**

Expected: it runs
Actual: it hangs

[2022-03-16 17:39] bonkalol opened #12831 "[BUG] Incorrect ts paths resolving"
**Context:**
- Playwright Version: 1.20.0
- Operating System: MacOs 11.5.2 Big Sur
- Node.js version: v16.13.0
- Browser: -
- Extra: Absolute URLs in tsconfig
- TSC version: 4.5.3

**Code Snippet**

With this config I get an error
[code]

Error:
[code]

With this one - tests are being executed
[code]

**Describe the bug**

Typescript resolves paths from the first config perfectly, but it seems lik

[2022-03-16 17:42] aslushnikov commented on #9938
toHaveScreenshot is now scheduled for 1.21 that'll happen in April

[2022-03-16 17:54] mxschmitt commented on #12830
folding into https://github.com/microsoft/playwright/issues/12632

[2022-03-16 17:54] #12830 closed

[2022-03-16 18:18] eatonjl commented on #12822
I found the solution to the issue. There seems to be a difference in the Chromium being used.
The issue was that the Chromium instance being used in global-setup does not have a set locale. The application I am testing requires the browser language to be set. Setting the locale in the global-setup fixed the issue.
Apparently, the Chromium instance being used by Playwright test has locale set, wher

[2022-03-16 18:18] #12822 closed

[2022-03-16 18:21] rwoll commented on #1090
Tracking additional upstream CR patch: https://chromium-review.googlesource.com/c/chromium/src/+/3526571

[2022-03-16 19:07] pavelfeldman commented on #12828
.fill('') clears it

[2022-03-16 19:08] pavelfeldman commented on #12829
Could you share more about your project structure?

[2022-03-16 20:30] JuanCruzTrinidad commented on #12823
Playwright Version: 1.20
Operating System: Linux
Node.js version: 16.3
Browser: Chromium

I have the same problem.
After doing the before all suite, it does not continue with the tests. As if it did not receive the load event

[2022-03-16 20:34] gauravgandhi1315 opened #12834 "[Feature] Can we create clear method to delete all the data in the text field?"
To clear all the data in the text field we use `await this.page.keyboard.press('Backspace')` but it deletes only one character. Is it possible to add `clear` method to clear the whole field?

[2022-03-16 20:46] pavelfeldman commented on #12823
I can reproduce the Windows issue. Investigation notes:

Last good WK: 1609
First bad WK: 1610

Roll: browser(webkit): roll to 02/03/22 (#11852)
Good base: [dd0bc728b4618f059dafab7e742f261a174c3a70](https://github.com/WebKit/WebKit/commit/dd0bc728b4618f059dafab7e742f261a174c3a70)
Bad base: [f522f6f875f2443ba32dc2cce3d8b0cfd97ffc77](https://github.com/WebKit/WebKit/commit/f522f6f875f2443ba32dc2cce3

[2022-03-16 20:52] gauravgandhi1315 commented on #12828
@unlikelyzero Is it possible to select all text using playwright? I didn't know. I tried to google but didn't find anything.

[2022-03-16 21:02] jnizet commented on #12823
I have the same problem. A tests that passed with 1.19 now fails with 1.20. Here are some additional details:

I have a link looking like this:

[code]

Using `await page.click('text=Foo');` fails on chromium, but passes on the other browsers.

Changing it to `await page.click('text=Foo', { force: true });` makes it pass on chromium, but then fails on webkit.

Changing it to `await page.click('a:h

[2022-03-16 21:04] jnizet commented on #12821
I have the same problem. A test that passed with 1.19 now fails with 1.20. Here are some additional details:

I have a link looking like this:

[code]

Using `await page.click('text=Foo');` fails on chromium, but passes on the other browsers.

Changing it to `await page.click('text=Foo', { force: true });` makes it pass on chromium, but then fails on webkit.

Changing it to `await page.click('a:ha

[2022-03-16 21:05] pavelfeldman commented on #12823
@jnizet also looks like a separate issue, could you file a separate bug?

[2022-03-16 21:07] jnizet commented on #12823
@pavelfeldman sorry, I meant to comment on  #12821, which is the issue I'm facing. I deleted my comment here and added it on #12821.

[2022-03-16 21:09] unlikelyzero opened #12835 "[BUG] `npx playwright install-deps` and `npx playwright install` does not install necessary dependencies for 1.19.2 after 1.20 released"
I debated whether I should file this as a bug or question, so I'll include both statements :)

[Bug] Is it possible for the  `npx playwright install` to be backwards compatible with N-1 installs to reduce the overall problem of dependency management while teams "vet" each new release?

[Question] is there a way we could reduce our playwright dependency bumps to a single referenced of a given playw

[2022-03-16 21:22] pavelfeldman commented on #12823
[code]

[2022-03-16 22:56] henrikstorck opened #12836 "[REGRESSION]: Tests not detected as ES module in v1.20"
**Context:**
- GOOD Playwright Version: 1.19.2
- BAD Playwright Version: 1.20.0
- Operating System: Windows

**Code Snippet**

[https://github.com/henrikstorck/playwright-test](https://github.com/henrikstorck/playwright-test)

**Describe the bug**

When running `npm test` in the above repository, I get the following error message with playwright v1.20:

[code]

Since updating to playwright v1.20,

[2022-03-16 23:15] pavelfeldman commented on #12828
As stated above, you should use `await locator.fill('')`, it'll work.

[2022-03-16 23:16] pavelfeldman commented on #12834
Folding into https://github.com/microsoft/playwright/issues/12828

[2022-03-16 23:16] #12834 closed

[2022-03-16 23:50] dgozman commented on #12821
@jnizet Any chance for a repro script/test with the page url?

[2022-03-16 23:57] pavelfeldman commented on #12836
Fixed, pending 1.20.1 update.

[2022-03-16 23:57] #12836 closed

[2022-03-17 00:36] aslushnikov opened #12839 "[BUG] webfonts behave weirdly on webkit for ubuntu"
The following webfonts test if flaking on WebKit for Ubuntu:

https://github.com/microsoft/playwright/blob/bb68875e82ff5bb2ce3dfa35764f6eecc7926aa3/tests/page/page-screenshot.spec.ts#L729-L760

Further investigation showed that `document.fonts.ready` promise behaves weirdly (broken?). This requires further investigation!

[2022-03-17 00:41] pavelfeldman commented on #12835
Interesting, I already answered this one, but I don't see my reply.

Could you elaborate on what is no longer possible?

This sounds reasonable.

This sounds reasonable.

I'm not sure I follow the 1-4. I would imagine that for GHA it would be just a dependency bump and for Circle CI it would be container + package.json dependency bump.

[2022-03-17 00:49] pavelfeldman commented on #12667
Closing as per above

[2022-03-17 00:49] #12667 closed

[2022-03-17 00:50] pavelfeldman commented on #12674
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-17 00:50] #12674 closed

[2022-03-17 00:50] pavelfeldman commented on #12717
Marking this as closed to send a wont-fix signal.

[2022-03-17 00:50] #12717 closed

[2022-03-17 00:51] pavelfeldman commented on #12723
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-03-17 00:51] #12723 closed

[2022-03-17 00:52] pavelfeldman commented on #12722
Please provide steps to repro, your expectations and actual results!

[2022-03-17 00:54] pavelfeldman commented on #12736
We need a self-contained repro that we can turn into a test in order to be able to act on this!

[2022-03-17 00:55] pavelfeldman commented on #12741
Assigning to Yury who is reviewing this PR.

[2022-03-17 00:58] pavelfeldman commented on #12767
You can't open two browsers using the same profile. It will look like you opened them, but in reality it is the same browser. So no need to open twice. Also no need to use persistent profile, just use two pages in the same context. See https://playwright.dev/docs/pages#multiple-pages.

[2022-03-17 00:59] pavelfeldman commented on #12771
Closing as per above!

[2022-03-17 00:59] #12771 closed

[2022-03-17 01:00] pavelfeldman commented on #12775
@[awarecan](https://github.com/awarecan) not sure what you are doing here, but anyways looks unrelated, please file a bug with the repro!

[2022-03-17 01:00] #12775 closed

[2022-03-17 01:04] pavelfeldman commented on #12780
The log suggests that page.goto starts (line 194), but then, after 34 seconds, test times out and context is closed (line 201). So it never navigates to the /login. If things work for you locally and don't work on Gitlab CI, this is a strong signal suggesting that something is wrong with the way your server runs on CI...

[2022-03-17 01:05] pavelfeldman commented on #12785
I am saying that if you run them individually, you'll see the same bug. I.e. Playwright has nothing to do with it.

[2022-03-17 01:05] pavelfeldman commented on #12805
Closing to send a signal that it won't be fixed by the core team!

[2022-03-17 01:05] #12805 closed

[2022-03-17 01:06] pavelfeldman commented on #12808
Assigned to @rwoll to help with the review.

[2022-03-17 01:26] rr13k commented on #12767
hi, I need to access two pages persistently, but one of them must be hidden, I want to hide one of them through two browsers, if it is a page, can I hide it?

[2022-03-17 01:29] #11786 closed

[2022-03-17 01:31] pavelfeldman commented on #12487
Could someone share a repro with me?

[2022-03-17 02:15] rr13k commented on #12767
<img width="962" alt="截屏2022-03-17 上午10 13 30" src="https://user-images.githubusercontent.com/45162461/158722854-d5a04565-3494-46a1-9a36-979491eb9b6c.png">
Any way to hide the page？
this options is miss

[2022-03-17 02:21] bronumski opened #12840 "[BUG] Html and Junit reporters no longer generate output after updating to latest"
**Context:**
- Playwright Version:1.20.0, 1.19.2
- Operating System: Mac
- Node.js version: v15.4.0
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

After updating to 1.20.0 the HTML and JUNIT test reporters are no longer generating the reports with my setup. I was running 1.17.2 and it was working fine. I have tested in 1.18.1 which also works but 1.20.0 and 1.19.2 did not gen

[2022-03-17 03:23] pavelfeldman commented on #12840
Is there a repro you could share? Do tests work and only reporters are not working?

[2022-03-17 03:50] bronumski commented on #12840
@pavelfeldman - I cannot share a repo but maybe I could try and reproduce in a bare repo.

Tests work fine but reporters do not.

[2022-03-17 05:05] mskonst commented on #9224
I had the same problem. count() returned 0 for the existing locator. And I add the delay in one sec before the locator's counting.
<
import { delay } from './utils';

....
await delay(1000, null);
const locator = page.locator('[aria-label="Delete\ the\ API\ key"]');
const count = await locator.count();
console.log('count ', count);

and got

delay() function I implemented in and imported from the

[2022-03-17 06:21] gvsharshavardhan commented on #4046
Unfortunately this is not working!

[2022-03-17 06:30] unlikelyzero commented on #12835
Sorry, after re-reading my edits, I realize that it's not clear what the initial problem was.
Basically we had been running the following scripts in GHA:
[code]

When 1.20 was released, the `npm run playwright` step would fail with a recommendation to `npx playwright install`. Our fix was to pin the version of @playwright/test within the package.json.
[code]

[2022-03-17 06:43] unlikelyzero commented on #12835
It's likely a secondary effect of https://github.com/microsoft/playwright/issues/12772

[2022-03-17 06:46] gvsharshavardhan opened #12841 "[Question]How to simulate long press or click and hold action using playwright Java?"
below is my code but **no luck!!**

**Approach 1:**
`page.click("xpath=//button[@id='isDisabled' and contains(@class,'is-primary')]",new Page.ClickOptions().setDelay(5));`

**Approach 2:**
[code]

[2022-03-17 07:00] shahabkhan12342 commented on #12819
@pavelfeldman yes we do use 'storageState' using  identifyService.continueLoginIfStateExists()
         public continueLoginIfStateExists(){

        if (FileService.fileExistsSync("state.json")){
           test.use({ storageState: 'state.json' });
        }
    }

and also we have extended test configuration for it as below:
let test = base.extend<{},TestInfo>({
  page: async ({page, browser,  v

[2022-03-17 07:01] gvsharshavardhan commented on #12841
The below code also did not work!

`page.mouse().move(holdButton.boundingBox().x+holdButton.boundingBox().width/2,holdButton.boundingBox().y+holdButton.boundingBox().height/2);
        page.mouse().down();
        page.waitForTimeout(3);
        page.mouse().down();`

[2022-03-17 07:04] jnizet commented on #12821
Hi @dgozman

Here's a repro for the chromium issue.
Steps to reproduce:

- unzip the repro.zip file. It contains an index.html and some assets that have been generated by exporting a page of my actual Angular-based application.
- cd into playwright-repro
- run a web server serving files in that directory, on port 8080 (I use the `http-server` NPM package)
- execute the following test file (with pl

[2022-03-17 08:11] Binayjojo opened #12842 "[Feature] Is there any plan to integrate playwright with https://testmodeller.io/ to support model based testing"

[2022-03-17 09:15] Nhc007 commented on #12819
We are also facing same issues sometime while executing the tests in pipeline we also work on same principles and patters as you are using.

[2022-03-17 09:35] ssams commented on #12643
maybe naming such an option "static" (instead of "show") would make its effect even clearer.

Of course having it work in all three browsers is the nicest option. When I integrated it in our project I also stumble across the linked code parts during my research, problem was that it seems impossible to change it in Chromium + WebKit without making changes to the code and recompiling. Hence it wasn'

[2022-03-17 09:42] kellis-scottlogic opened #12843 "[REGRESSION]: Playwright is not recognising the browsers that are pre-baked into Docker image"
https://github.com/microsoft/playwright/issues/12674 originally raised here

Experiencing issue with version `1.17.2 `and `1.19.1`
Operating Systems: CircleCI and Jenkins linux based pipelines

I maintain 2 different pipelines that have been using the pre-built Playwright docker images and until recently both these configurations were working without any issue, but since last week I am now experie

[2022-03-17 09:46] cgomm commented on #12780
@pavelfeldman Thank you for your response.

We detected something:
We are developing an Angular Application, and added Material Design. I cleaned up our project, and the E2E test is running.

If I add Material Design, because we rely on many components of the library, it crashes again (log above)

[2022-03-17 09:49] jatin-karla11 opened #12844 "[BUG] Webkit multiple tests run isssue"
**Context:**
- Playwright Version: [1.19]
- Operating System: [Mac]
- Node.js version: [17.3.1]
- Browser: [WebKit]
**Describe the bug**

[webkit] › CoreTests/logout.test.ts:17:3 › Logout › Logout from Account @sanity =================

    TypeError: Cannot read property 'close' of null

      27 | });
      28 | test.afterAll(async ({ browser }) => {

         |                 ^
      30 | });

[2022-03-17 09:50] amrsa1 commented on #12736
@pavelfeldman fixed by adding await before expect, and inside

[code]

[2022-03-17 10:36] Kirill29 opened #12845 "[Question] Want to run test in docker, but missing random dependencies"
**Hello i want to run tests in docker, in docker file write something like this:**

**when build image and run, tests fails with:**

**when i change my docker file and add this dependencies:**

**After this i get this, another dependencies is missing**

**why RUN npx playwright install-deps is not enough and how can i install all dependencies?**

[2022-03-17 10:38] wuweikd opened #12846 "[Question] Action was interrupted"
<img width="1278" alt="image" src="https://user-images.githubusercontent.com/34428646/158790370-26024c9f-f3dd-40d9-b8f8-18eac5d091a8.png">

Hi
 When the code run `await locator.click()` at docker,  I get  "Action was interrupted",  I think the reason is that the element is overridden.But it is ok when at mac os. And  i have set the config： `use:{actionTimeout: 20000}`,Is there any way to wait for

[2022-03-17 10:48] cgomm commented on #12780
I tested different aproaches:

* start-server-and-test in combo with ng serve
* start-server-and-test in combo with angular-http-server and ng build --prod
* npx wait-on...

The second aproach has been my last one and I got some interesting results:

[code]

If i am not totally wrong, the service has tried to reach the page and retrieved some content. Am I wrong?

[2022-03-17 10:58] cgomm commented on #12780
These are the playwright config and npm run statements..

<details><summary>Playwright Config:</summary>
<p>
[code]
</p>
</details>

<details><summary>PackageJSON Config:</summary>
<p>
[code]
</p>
</details>

[2022-03-17 11:14] cgomm commented on #12780
Another information:

We tried to run the tests against a installed environment which is running, but it failed again by timeouting.

[2022-03-17 11:22] DawidKNS commented on #12487
@pavelfeldman
I have this problem "playwright.config.ts: Cannot import a typescript file from an esmodule"
My playwright.config.ts:
import type { PlaywrightTestConfig } from '@playwright/test';
import { devices } from '@playwright/test';
import { ProjectsSettings } from './page-object/TestFixtures';

[code]

tsconfig:
[code]
in package.json i have added
  "type": "module"
hov i can resolved this p

[2022-03-17 11:51] bennycode commented on #812
@pavelfeldman how to use [playwright-chromium](https://www.npmjs.com/package/playwright-chromium)? The README file of it isn't very descriptive.

I tried to use it with `npx -y playwright-chromium install` but it is still downloading firefox & webkit:

![image](https://user-images.githubusercontent.com/469989/158802490-5471322a-ba1e-40a8-a879-be60ae265541.png)

[2022-03-17 12:10] irharrier2 opened #12847 "[Feature] Environment variable setting and retrieval by Playwright"
### Original issue

**Current situation:**
Playwright does not provide an out of the box solution for environment variables. This means in our project, we are using dot env library to keep local environment variable values and use Jenkinsfile to hold the CI/CD environment variable values.
This means we need to:
  1. Maintain environment variables in two files
  2. Take extra steps to use a seconda

[2022-03-17 12:14] thebencourt opened #12848 "[BUG] Playwright 1.20.0 Frame load interrupted thrown in Webkit"
**Context:**
## System:
 - OS: Linux 5.10 Ubuntu 21.10 21.10 (Impish Indri)
 - Memory: 19.14 GB / 24.84 GB
 - Container: Yes
## Binaries:
 - Node: 14.18.2 - ~/.nvm/versions/node/v14.18.2/bin/node
 - npm: 6.14.15 - ~/.nvm/versions/node/v14.18.2/bin/npm
## Languages:
 - Bash: 5.1.8 - /usr/bin/bash

**Code Snippet**

[code]

**Describe the bug**

Following the example [here](https://playwright.dev/do

[2022-03-17 12:19] AvocadoVenom opened #12850 "[BUG] `screen.orientation` is not supported when using tablet devices"
**Context:**
- Playwright Version: 1.20.0
- Operating System: Mac
- Node.js version: v15.11.0
- Browser: All
- Devices: `iPad Mini`, `iPad Pro 11`, `Kindle Fire HDX` and their `landscape` version

[code]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

### Configuration

[code]

### Test

[code]

**Des

[2022-03-17 12:22] thebencourt commented on #12848
I've tried installing `@playwright/test@next` (`1.21.0-alpha-mar-17-2022`) but the result is the same

[2022-03-17 12:45] jordevorstenbosch commented on #12487
I've made one for you here:

https://github.com/jordevorstenbosch/sk-pw-issue

[code]

[2022-03-17 13:36] mxschmitt commented on #812
If you are using Playwright Test (@playwright/test) then you only have to do: `npx playwright install chromium`. And uninstall all the other packages besides it :)

[2022-03-17 13:39] bennycode commented on #812
Cool. Thank you very much for your input. Looks like it shipped with: https://github.com/microsoft/playwright/pull/4952 🎷

[2022-03-17 13:56] federico-moretti commented on #8740
I also would like this feature as we have an anchor tag and on mobile we want to check that after the click the page scrolls down to the anchor correctly.

[2022-03-17 14:36] ivankoleda opened #12851 "[BUG] ts compilerOptions.paths with * in middle of value are not being resolved properly"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Mac
- Node.js version: v16.14.0

**Description**

[Recently added](https://github.com/microsoft/playwright/issues/7121#issuecomment-1009140849) support of typescript `compilerOptions.paths` config property doesn't work for values with `*` char in the middle.
Example:

[code]

The config above with error:

[code]

Current support of path

[2022-03-17 15:51] rockwotj opened #12853 "[Question] Using Preinstalled Browsers"
I was wondering if it is possible to use the preinstalled chromium/chromium driver on Github Actions. I know the [CI setup recommends caching these in node modules](https://playwright.dev/docs/ci), but I was wondering if the browsers installed from `npx playwright install` are any different from what is [preinstalled in CI](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubu

[2022-03-17 16:01] pavelfeldman opened #12855 "[BUG] Caching browser section looks obsolete and wrong"
https://playwright.dev/docs/ci needs to be rewritten?

[2022-03-17 16:07] pavelfeldman commented on #12851
If this works in tsc, this looks like an undocumented capability:
- https://www.typescriptlang.org/tsconfig
- https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping

I don't see anything about non-prefix matching there...

[2022-03-17 16:11] pavelfeldman commented on #12850
There is no such thing as `screen.orientation` on Safari. See https://developer.mozilla.org/en-US/docs/Web/API/Screen/orientation.

[2022-03-17 16:22] pavelfeldman commented on #12848
If you try opening this page with `npx playwright wk https://www.bbc.co.uk`, you'll see that it opens, and then reloads. This is what the user that loads BBC for the first time on Safari observes. This navigation is scheduled while you are attempting to click.

[2022-03-17 16:26] pavelfeldman commented on #12847
Let's see if this gets community support!

[2022-03-17 16:28] pavelfeldman commented on #12846
Looks like you added this timeout to the config and now you are asking how to neutralize it. You should remove `use:{actionTimeout: 20000}` from the config, you should only set it in rare cases.

[2022-03-17 16:29] pavelfeldman commented on #12845
Did you pick a wrong base for your image?

[2022-03-17 16:32] amrsa1 opened #12856 "[Feature] extend assertion to include toHaveURLContains instead of using regex"
extend assertion to include toHaveURLContains instead of using regex

[2022-03-17 16:35] pavelfeldman commented on #12856
Why?

[2022-03-17 16:44] ivankoleda commented on #12851
Looks like it is not covered in public doc, but seems to be expected according to this comment in typescript repo:

https://github.com/microsoft/TypeScript/blob/main/src/compiler/moduleNameResolver.ts#L1049

[2022-03-17 16:51] leotg130 opened #12857 "[Feature] Dynamically generated tests in globalSetup"
I noticed this https://github.com/microsoft/playwright/issues/12018.

Our use case is to use playwright itself in globalSetup to generate the tests. So the number of tests, names and parameters aren't known in advance, and we use playwright to discover them and then use that list to "generate" the tests.

Below pseudo code in globalSetup.ts:
[code]

Then in foo.test.ts:
[code]

What would be the s

[2022-03-17 17:11] pavelfeldman commented on #12841
Maybe 3 milliseconds is not enough?

[2022-03-17 17:14] archlichking opened #12858 "[Question] Is there a way to un-focus a tab in browser?"
One of our tests needs to verify an event from our website which is triggered only if the page is unfocused and refocused again. Manual reproduce steps are click a link on the page to open a new tab, and we click on the previous tab to bring it upfront. Per https://playwright.dev/docs/pages#multiple-pages, all tabs in a browser are treated as focused. In our test we cannot get this refocus event t

[2022-03-17 17:18] Tanner-Singletary opened #12859 "[BUG] Ubuntu dependency installation error with 1.20.0 release"
**Context:**
- Playwright Version: 1.20.0
- Operating System: Mac
- Python version: 3.8
- Browser: All

`playwright install-deps`

**Describe the bug**
Error occurred in CircleCI installation of playwright dependencies. Pinning version back to 1.19.1 fixed the issue. This was the specific output from circleCI:

Installing Ubuntu dependencies...
Get:1 http://security.debian.org/debian-security bust

[2022-03-17 17:19] bronumski commented on #12840
@pavelfeldman I have created a repo [here](https://github.com/bronumski/bronumski-playwright-12840) as best I can to emulate the actual project.

When running using 1.20.0 you get the following:

[code]

There is no output shown from the html reporter in the console, no html file is generated in the `build/e2e` folder and there is no junit report either.

When switching to 1.18.1 you get the follo

[2022-03-17 18:42] pavelfeldman commented on #12858
No such feature yet, folding into https://github.com/microsoft/playwright/issues/3570

[2022-03-17 18:42] #12858 closed

[2022-03-17 18:44] pavelfeldman commented on #12857
I'd generate the tests as a different step before running Playwright. Or fetch all the necessary information before running tests, save it into json files and read those files synchronously when generating tests.

[code]

[2022-03-17 18:46] pavelfeldman commented on #12856
The difference would be:

[code]

Which is marginal, so I'd keep it as is!

[2022-03-17 18:46] #12856 closed

[2022-03-17 18:54] pavelfeldman commented on #12840
These two are conflicting:

[code]

You should not store html report in the same folder as intermediate test results.

[2022-03-17 18:58] pavelfeldman commented on #12813
[code]

as per the docs if you want to select by the label.

[2022-03-17 18:58] #12813 closed

[2022-03-17 19:15] dgozman commented on #12821
Investigation notes:
- `document.elementsFromPoint()` returns elements in the different order for some reason. Previously it was `[h3.card-title.fs-4, a, ...]`, now it is `[a, h3.card-title.fs-4, ...]`.
- Bisected Chromium down to https://chromium.googlesource.com/chromium/src/+log/f571b4214647f380beaf90bdf04bb97689e23d40..53508758bcbeb7e0fb70e87a7bed02de277bd602. Suspecting this change: https://c

[2022-03-17 19:58] AAAstorga opened #12861 "[Question] - How to get performance insights with webkit?"
Hello,

We run Playwright in our Azure Pipelines on macOS build agents to test various aspects of our site. I notice that some of our tests are flakey and after digging into it (I can provide traces but cannot be shared publicly) I notice that our tests seem to be moving super slow.

For example we have a line where we do `locator.type(query, { delay: 100 })` and each letter typed into the input b

[2022-03-17 20:00] pkerschbaum opened #12862 "[Feature] Allow to use `toMatchSnapshot` for file formats other than `txt` (e.g. `csv`)"
### Problem

My application under test allows to download CSV files. Playwright triggers the download, then I use `toMatchSnapshot` to make sure the content of the downloaded CSV file is, and stays, correct.
Something like this:

[code]

Up until version 1.19.2 this was successful. Playwright just used the comparison algorithm for text for this file.

Since version 1.20.0 it throws this error:

[c

[2022-03-17 20:05] JuanCruzTrinidad opened #12863 "[BUG] Screenshots don't work."
**Context:**
- Playwright Version:1.20.0
- Operating System: Linux
- Node.js version: 14.8
- Browser: Chromium

When updating to version 1.20.0 an error occurs when taking screenshots.
We use fixtures that encompass the navigation of the pages, to generate full page screenshots at the end of the suites, these fail in 50% of the cases.
Also, using the matchSnapshot option does not take the initial

[2022-03-17 20:36] dangayle commented on #12772
We ran into this same issue today on localhost builds of the Dockerfile using `mcr.microsoft.com/playwright:focal`

[2022-03-17 20:44] pavelfeldman commented on #12863
Could you share a reproducible scenario?

[2022-03-17 20:47] pavelfeldman commented on #12861
Side question: what's the reason behind type + delay and not fill()?

No great answer here. In general you should check how many cores your agents have, divide it by 2 and use that as a number of workers.

[2022-03-17 21:02] pavelfeldman commented on #12756
Is this still happening? We don't see other reports on it.

[2022-03-17 21:02] #12778 closed

[2022-03-17 21:02] pavelfeldman commented on #12769
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-17 21:02] #12769 closed

[2022-03-17 21:06] pavelfeldman commented on #12767
No way to hide it, no. Let me fold your request into an existing feature request: https://github.com/microsoft/playwright/issues/3570

[2022-03-17 21:06] #12767 closed

[2022-03-17 21:08] pavelfeldman commented on #12835
I think this is the opposite of #12772 with a similar reason. You are using npx playwright@1.19.2, but the container you picked now has browsers for 1.20. You should always pin the container version to match Playwright or call `npx playwright install` to install necessary browsers.

[2022-03-17 21:12] pavelfeldman commented on #12814
Fixed, awaiting the 1.20.1 push.

[2022-03-17 21:12] #12814 closed

[2022-03-17 21:13] pavelfeldman commented on #12772
Please make sure you always pin your docker images like so:

`mcr.microsoft.com/playwright:v1.20.0-focal`

[2022-03-17 21:13] #12772 closed

[2022-03-17 21:23] aslushnikov commented on #12843
@kellis-scottlogic could you please help me reproduce this? Could you please create a small gitlab repository that illustrates the problem?

[2022-03-17 21:28] dgozman commented on #12453
We also have `describe.parallel` and `describe.serial`, and I don't really want to introduce `describe.parallel.skip` and `describe.serial.skip`.

[2022-03-17 22:48] unlikelyzero commented on #12835
@pavelfeldman so in that case, I think this _is_ a bug. I shouldn't have to npx playwright@version install-deps with a `@version` (I tried both install and install-deps)

package.json
[code]

Github Action
[code]
This fails on the npm run test line with

[code]

[2022-03-18 00:35] AAAstorga commented on #12861
@pavelfeldman The docs made it sound like it mimics user behavior better but I switched it to fill and also did # cpu cores / 2 which ends up being 2 workers on the macOS build agents and I see a huge improvement. Thank you!

[2022-03-18 00:36] #12861 closed

[2022-03-18 01:00] Nav-2d commented on #12756
Hi Pavel, yes still seeing the same issue - local as well as docker

[2022-03-18 01:27] #12809 closed

[2022-03-18 01:55] wuweikd commented on #12846
It's just a click event, why am I getting this error?

[2022-03-18 03:00] rockwotj commented on #12853
I think that solves my use case. Just hoping to save a download and cache size with using preinstalled binaries. I missed the chrome profile uses local binaries. Thanks for pointing that out!

[2022-03-18 03:00] #12853 closed

[2022-03-18 03:15] bronumski commented on #12840
@pavelfeldman - I am not sure what the issue is there, all build artefacts need to be dropped into the build folder and it "appeared" to be working fine. Is the `outputDir` like a temp folder?

I have tried using the following config but I get the same results:

[code]

[2022-03-18 04:09] rwoll commented on #1090
The last two CLs landed with fixes required for this in-progress work; another one is needed for [crbug.com/1304795](http://crbug.com/1304795).

[2022-03-18 04:29] gvsharshavardhan commented on #12841
right!! I was under the assumption that the time is in seconds. Thanks for the clarification !!

[2022-03-18 05:07] jatin-karla11 commented on #12844
I have multiple test files in my framework and all the test files contain multiple test cases in it. At the end of every test file I have written the test.afterAll function so as to close the browser after every individual test according to my platform testing. When I run my project on jenkins, on chromium and firefox it runs fine but when I run on webkit it gives me above error -> cannot read pro

[2022-03-18 05:12] rai-gaurav commented on #12543
+1 for this. I have a similar scenario where I have to do performance test by uploading/downloading of files by attaching Playwright to an existing browser instance to replicate user behavior. Currently I am getting error asking to make `accept_downloads` as True for download to work.
But there is no such param in `connect_over_cdp`

[2022-03-18 05:23] fa66-coder opened #12869 "How to verify text containing <br> tag"
html element : `<span data-qa-id="test-param">Doc.<br>Test</span>`
I would like to verify [data-qa-id="test-param"] has the text Doc. Test and verify whether it is displayed or not at the same. I am not able to do as the text contains <br> tag in it.

Can someone help me how to address the scenario?

Thanks!

[2022-03-18 06:00] jatin-karla11 commented on #12844
There was issue in my code, got resolved 👍

[2022-03-18 06:00] #12844 closed

[2022-03-18 06:02] ltsuda commented on #12869
Do you think this is what you want?

https://playwright.dev/docs/api/class-page#page-locator
 https://playwright.dev/docs/test-assertions#locator-assertions-to-be-visible

[code]

 or

[code]

[2022-03-18 06:29] fa66-coder commented on #12869
@ltsuda -

I was adding space in place of `<br>` assuming it will add space but it was not, the above mentioned approach works for me. Thanks!

**But I have a few questions regarding hasText :**
1. Does this verify the text of an element's descendant by just passing the root element selector?

e.g. `<span data-qa-id="test-param"><span><div>Doc.<br>Test</div></span</span>`
page.locator('[data-qa-id

[2022-03-18 07:33] Kirill29 commented on #12845
Yes, sorry we were using 6.0.201-bullseye-slim-amd64, 6.0-bullseye-slim-amd64, 6.0.201-bullseye-slim, 6.0-bullseye-slim, 6.0.201, 6.0 on Debian as base image
https://hub.docker.com/_/microsoft-dotnet-nightly-sdk/

I have read what playwright not support Debian, will switch to Ubuntu

Thanks!

[2022-03-18 07:41] A-ZC-Lau commented on #12453
curious, what's wrong with adding `describe.serial.skip` when we also have `test.describe.serial.only`

[2022-03-18 08:48] kellis-scottlogic commented on #12843
@aslushnikov sure thing, may take me a few days to get it sorted around other work commitments but will post up here again once I have something for you

[2022-03-18 09:44] bamanczak commented on #9983
I'm watching this issue, with high expectations, whenever I see a notification about it.
In my project, we manage to live without it, but from time to time it's really annoying to not have a full page screenshot.

[2022-03-18 09:51] god-pane opened #12870 "[Question]How to implement mouse dragging elements to move position"

[2022-03-18 10:06] god-pane commented on #12870
![image](https://user-images.githubusercontent.com/9427959/158983178-9dc478a5-c192-4acc-891c-e383414ee00e.png)

[2022-03-18 11:04] amrsa1 commented on #12856
@pavelfeldman

mm it didnt work like that with me  not sure if im missing something, i have to match the entire path

[code]
<img width="848" alt="Screenshot 2022-03-18 at 12 03 15" src="https://user-images.githubusercontent.com/32042806/158991868-6f6c5a49-b3f7-4b83-aafb-f3c925d54304.png">

[2022-03-18 12:15] TobiFarore opened #12876 "Can't paste from browser"
I'm clicking a copy button and I want to paste the copied text and assert on the result.. Please help!

[code]

[2022-03-18 12:18] VinayKumarBM commented on #12777
@pavelfeldman : I looked into the workaround but that issue was for headless mode, I'm running in headed mode and I get pdf viewer. I want to avoid that and instead it should download the file. As I need to validate the content of pdf file.

Do we have any option to block pdf viewer from coming. In Selenium we can use plugins.always_open_pdf_externally chrome option to do that. Can we do something

[2022-03-18 12:52] weyert opened #16981 "[Bug] Improve handling of Playwright config throwing errors"
If you have a Playwright configuration that does some sanity checks, such as throwing an error when an environment variable is missing then the extension under the hood throws an error similar as listed below. I think it woud be nice to have a dedicated Playwright item in the `Output`-panel so you can easily spot issues when  executing the tests.

Maybe it could show such errors in a `showMessage`

[2022-03-18 14:03] ezrover opened #12878 "[BUG]"
**Context:**
- Playwright Version:"playwright-chromium": "^1.20.0",
- Operating System: Mac and Linux
- Node.js version: v17.6.0
- Browser: All
- Extra: [any specific details about your environment]

## System:
 - OS: macOS 11.6.4
 - Memory: 31.03 GB / 64.00 GB
## Binaries:
 - Node: 17.6.0 - /usr/local/bin/node
 - Yarn: 1.22.17 - /usr/local/bin/yarn
 - npm: 8.5.1 - /usr/local/bin/npm
## Languages:

[2022-03-18 14:09] mnataraj17 opened #12879 "[Feature] Playwright test-runner integration with TestRail"
Let us know what functionality you'd like to see in Playwright and what your use case is.
Do you think others might benefit from this as well?

I would like to integrate playwright test results with TestRail. I can see some libraries for integrating jest with TestRail but If I use Jest (not Playwright test runner) I will be missing out on lot of features playwright is offering. Most of the compani

[2022-03-18 14:31] JuanCruzTrinidad commented on #12863
I will now explain the architecture of the projects we work with:
- We have a Core project where we implement the fixtures, with differences to use them in api-only tests and browser tests with navigation.
- We have a "Utilities" project where we manage generic functions used in different projects, within this project we also define describe callbacks with basic tests inside, which we use in diffe

[2022-03-18 16:08] dangayle commented on #12772
Could the docs be updated then?

[2022-03-18 16:23] rockwalrus opened #12884 "[BUG] Cookies not set in headless mode"
**Context:**
- Playwright Version: 1.18.1
- Operating System: Windows 10
- Node.js version: 16.13.0
- Browser: Chromium
- Extra: Chromium is run with `--no-sandbox`

**Describe the bug**

When run normally, the browser is accepting the `Set-Cookie` header. However, when run with `show` set to false (i.e. headless mode), the browser ignores the `Set-Cookie` header.

This bug differs from its tens o

[2022-03-18 16:53] pauloventurab opened #12890 "[BUG] - Error: net::ERR_INVALID_AUTH_CREDENTIALS"
**Context:**
- Playwright Version: [Version 1.20.0]
- Operating System: [Windows]
- Python version: [Python 3.9.1]
- Browser: [Chromium,webkit,firefox]

**Code Snippet**
[code]

**Describe the bug**

Hello everyone,

I'm facing an issue on playwright.
After successfully being able to download a file from a page on internet (a client tool). Now I'm trying to upload the file again in our server ( **

[2022-03-18 17:07] pavelfeldman commented on #12843
We think that you pinned docker image to 1.17, but your package.json uses 1.19. This is due to the error requesting Chromim 965416 (used in 1.19).

[2022-03-18 17:14] pavelfeldman commented on #11837
Folding into https://github.com/microsoft/playwright/issues/12823

[2022-03-18 17:14] #11837 closed

[2022-03-18 18:12] pavelfeldman commented on #12884
Could you share a repro scenario? Our regular tests for this work, so there must be something special about your use case.

[2022-03-18 18:13] #12845 closed

[2022-03-18 18:13] #12859 closed

[2022-03-18 18:14] pavelfeldman commented on #12879
We don't have immediate plans to implement it, and the implementation is unlikely to end up in our repo, but I'll leave it open to collect upvotes.

[2022-03-18 18:21] Nav-2d commented on #12756
Maybe related #11805 (same error)

[2022-03-18 18:22] pavelfeldman commented on #12878
Your tests are unclear:
- You don't need to create a page in beforeAll and the page that you use in your beforeEach / test are different
- You should not wait for timeout

Your test should be like this:

[code]

[2022-03-18 18:24] pavelfeldman commented on #12876
You are performing programmatic click using evaluate. Browsers are not interacting with the clipboard when doing programmatic clicks due to security reasons. Otherwise any page could clear your system clipboard. Try doing this instead:

[code]

[2022-03-18 18:25] pavelfeldman commented on #12870
Use
`page.mouse.down()` , `page.mouse.move()` and `page.mouse.up()`

[2022-03-18 18:25] #12870 closed

[2022-03-18 18:28] pavelfeldman commented on #12869
`hasText: 'Doc.Test'` is a new syntax of the old `:has-text` pseudo selector. You can read more about it here: https://playwright.dev/docs/selectors#text-selector

[2022-03-18 18:28] pavelfeldman commented on #12869
Keeping this issue open to update the docs.

[2022-03-18 18:32] TobiFarore commented on #12876
@pavelfeldman  the element only displays when you hover over it, so I could use ClickAsync().. any suggestions?

[2022-03-18 18:35] pavelfeldman commented on #12393
We need more information to act on this report, otherwise it'll sit here w/o us doing anything about it. I'm closing it to send this signal to you, but please file a new one and link to this issue if you have any additional information for us. Thanks!

[2022-03-18 18:35] #12393 closed

[2022-03-18 18:36] pavelfeldman commented on #12515
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-18 18:36] #12515 closed

[2022-03-18 18:36] pavelfeldman commented on #12623
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-18 18:36] #12623 closed

[2022-03-18 18:39] pavelfeldman commented on #12722
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-03-18 18:39] #12722 closed

[2022-03-18 18:42] pavelfeldman commented on #12780
None of this points at anything in Playwright sadly. If things work for you locally and do not work for you in Gitlab CI, there is little we can do.

[2022-03-18 18:42] pavelfeldman commented on #12785
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-03-18 18:42] pavelfeldman commented on #12828
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-03-18 18:42] #12828 closed

[2022-03-18 18:46] pavelfeldman commented on #12835
`npx playwright install-deps` - this installs system dependencies only, you still need `npx playwright install` to install the browsers. Those are separate for flexibility, but you can do a combo of a form `npx playwright install-with-deps`.

See https://playwright.dev/docs/intro#installation

[2022-03-18 18:49] pavelfeldman commented on #12840
When you were pointing to the same folder, you were providing two independent system with the same output folder that they perceive as their own. As a result, they were fighting and erasing the results of each other. It would be like installing two programs into the same folder concurrently.

I have no explanation to this one however, that's what most of our users do  routinely. I would be curious

[2022-03-18 18:50] pavelfeldman commented on #12841
@gvsharshavardhan by the way, check this out: https://playwright.dev/docs/api/class-elementhandle#element-handle-click-option-delay

[2022-03-18 18:50] #12841 closed

[2022-03-18 18:52] pavelfeldman commented on #12846
It isn't a click event, Playwright ways for element to be actionable: https://playwright.dev/docs/actionability

[2022-03-18 18:52] pavelfeldman commented on #12850
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-03-18 18:52] #12850 closed

[2022-03-18 18:52] bshostak commented on #12785
@pavelfeldman Thanks for the assistance. I can only experience this issue in the playwright framework so I will reach out to oracle and see what I can find out. Thanks.

[2022-03-18 18:52] pavelfeldman commented on #12848
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-03-18 18:52] #12848 closed

[2022-03-18 18:54] pavelfeldman commented on #12851
Yup. But lots of other tools interpret tsconfig as well and they don't do this magic. Would you be interested in contributing a patch that fixes it? Open to a fix, but can't prioritize it internally.

[2022-03-18 19:13] pavelfeldman commented on #12857
The reasons behind the change:
- Better tooling support (VS Code extension): we can't afford expensive / asynchronous test generation, so we assume that if this is the case, generation happens outside of the `npx playwright test`.
- Better reporting support: we wanted global setup to happen after tests started and global setup errors to be a part of the general reporting. We are about to introduce

[2022-03-18 19:13] unlikelyzero commented on #12835
@pavelfeldman updated title to reflect the fact that this does not work with `npx playwright install` (as well as `npx playwright install-deps`

[2022-03-18 19:17] pavelfeldman commented on #12863
Ah, thanks for these details! This looks like https://github.com/microsoft/playwright/issues/12711. It is already fixed, will be published as v1.20.1 on Monday. Folding this issue into the existing one.

[2022-03-18 19:17] #12863 closed

[2022-03-18 20:16] yuvalkarif opened #12887 "[BUG] Locator.count() with _vue selector with Repro"
**Context:**
- Playwright Version: 1.19.2
- Operating System: Windows
- Node.js version: v16.13.0
- Browser: Chromium
- Nuxt: 2.15.8
- Vue: 2.6.14

#12623

Managed to create a repro in this basic Nuxt project [repo](https://github.com/yuvalkarif/nuxt-pr-repro).
Simply created three Vue components, using a `Locator` with `_vue` selector I try to log their count and the output is indeed `0`.
`expect

[2022-03-18 20:19] ezrover commented on #12878
Thank you, that is how it was at first, we were just experimenting to find
a way to not let the navigation get hijacked by inject analytics scripts.
Why does Playwright navigate to the analytics urls?!

On Fri, Mar 18, 2022, 11:22 AM Pavel Feldman ***@***.***>
wrote:

[2022-03-18 20:25] joecuevasjr commented on #12821
I'm experiencing a similar(or the same) issue as the original poster on Playwright .NET v1.20.1, with the same error on Chromium. I did not experience the issue on 1.19.0.  However, Firefox and WebKit continue to work.

My issue originates on a call to .Locator().ClickAsync();
Downgrading back to v1.19 resolves my issue.

Thanks!

[2022-03-18 21:14] mxschmitt commented on #12887
I can repro:

[code]

Reason is probably that `toHaveCount` is using the `main` world and in `locator.count()` we are [using the utility context](https://github.com/microsoft/playwright/blob/f587a43932119fb50e3b81700b7f5eb89b266628/packages/playwright-core/src/server/selectors.ts#L94-L100).

[2022-03-18 21:51] unlikelyzero commented on #12835
@pavelfeldman i created a non-reproducer here: https://github.com/microsoft/playwright/pull/12893/files

I wonder if it's caching related?

[2022-03-18 21:52] dazfuller commented on #11627
This would be great to know as I'm doing the same thing and trying to run the tests in DevOps pipelines running on Ubuntu

[2022-03-18 22:34] ydimov-a2z opened #12895 "[BUG] Trace: Rendered trace fails to show selected dropdown option"
**Context:**
- Playwright Version: v1.20
- Operating System: Mac v12.2.1
- Node.js version: v14.17.6
- Browser: Chromium
- Language: Typescript

## System:
 - OS: macOS 12.2.1
 - Memory: 20.04 MB / 16.00 GB
## Binaries:
 - Node: 14.17.6 - /usr/local/bin/node
 - Yarn: 1.22.17 - /usr/local/bin/yarn
 - npm: 6.14.15 - /usr/local/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash

 **Describe the bug**

[2022-03-18 23:01] naknode opened #12896 "[Question] Using as an E2E suite with TypeScript"
I have a form I want to E2E test and make sure it saves fine. I use Playwright to run the test. It's written all in TypeScript. The form has many dropdowns which are filled in via `enums` with their `mappers`.

The problem is that I use Dropdowns (and Vuetify so not a native dropdown).  What's the best way to go about this? Should I import the `enum` and make Playwright select that or is it better

[2022-03-18 23:07] #12453 closed

[2022-03-18 23:31] #10235 closed

[2022-03-19 00:39] pavelfeldman commented on #12878
It does not navigate to any analytics urls, but it emits events when navigations happen in iframes.

[2022-03-19 00:42] pavelfeldman commented on #12896
That's up to you, but it is typically good to abstract from the implementation and test against explicit expectations. Otherwise, 'Submit' button can be renamed to 'Destroy' and your tests will keep passing.

[2022-03-19 00:47] pavelfeldman commented on #12890
I guess this sites requires you to authenticate?

[2022-03-19 00:58] pavelfeldman commented on #12487
`PW_EXPERIMENTAL_TS_ESM=1 npm run test` ran for me without errors.

[2022-03-19 01:20] #12821 closed

[2022-03-19 03:21] pavelfeldman commented on #12536
I guess you are using config-less mode. Add `playwright.config.ts` with following content:

[code]

and run it as `PW_EXPERIMENTAL_TS_ESM=1 npx playwright test`.

[2022-03-19 03:33] pavelfeldman commented on #12105
@baparham I don't think it'll make its way into 1.21. Could you share more about your source code structure? Are you importing your source code TS files from your test files?

[2022-03-19 04:22] #12887 closed

[2022-03-19 04:23] pavelfeldman commented on #12756
@Nav-2d on Windows, same `GPU stall due to ReadPixels` error?

[2022-03-19 04:58] Nav-2d commented on #12756
@pavelfeldman - yes same GPU stall error

[2022-03-19 05:08] Paychokxxx opened #12900 "[BUG] "TypeError: file.slice is not a function" is returned and png genarated with "[object Promise]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-03-19 05:19] Paychokxxx opened #12901 "[BUG] "TypeError: file.slice is not a function" is returned using PageObject with .toMatchSnapshot()"
**Context:**
- Playwright Version: "@playwright/test": "^1.20.0"
- Operating System: Mac
- Node.js version: v12.22.10
- Browser: All
- Extra: -

**Code Snippet**
visual test
[code]
page objects
[code]

Abstract Class
[code]
**Describe the bug**

"TypeError: file.slice is not a function" is returned using PageObject with .toMatchSnapshot()
Screenshots are not generated and tests are failing

Full c

[2022-03-19 05:19] #12900 closed

[2022-03-19 05:36] jithintill opened #12902 "[Question] Tests failing because of CORS Errors"
Issue : Tests failing because of CORS Errors

I have started seeing a subset of tests failing in my regression suite with CORS errors as given below.

I am using Playwright Test Runner with bypassCSP turned on

It mainly happens in Adding a user and a payment flow functionality

But the same test passes on retry successfully, its kind of a flaky scenario. In few runs it triggers a CORS error and f

[2022-03-19 07:52] jnizet commented on #12821
Thanks for the investigation and the workaround @dgozman.
It fills me with joy to have "Romimine", which is the name we gave to the cat living in our garden, now part of the codebase of Playwright and used to fix an issue in chromium. 😂

[2022-03-19 10:20] pauloventurab commented on #12890
Yes, when I access the website in a normal way I see a modalbox asking to login, but with playwright the screenshot is now showing this option.

[2022-03-19 10:38] mxschmitt commented on #12901
Instead of doing:

`await expect(this.loginForm.screenshot()).toMatchSnapshot('login-form.png')`

you have to do (as of today):

`expect(await this.loginForm.screenshot()).toMatchSnapshot('login-form.png')`

Then it should work.

[2022-03-19 10:41] Paychokxxx commented on #12901
thx. works with 2nd syntax

[2022-03-19 10:41] mxschmitt commented on #12890
https://playwright.dev/python/docs/network#http-authentication

this should help!

[2022-03-19 10:41] #12901 closed

[2022-03-19 11:22] pauloventurab commented on #12890
You are awesome, your boss know it? <3

I read almost all the documentation, but I don't know why I didn't see this one! My fault? No, your skill to solve problems! Clapsss

[2022-03-19 12:10] mxschmitt commented on #9128
This seems possible now see (https://github.com/allure-framework/allure-js/pull/408)

see here: https://github.com/allure-framework/allure-js/blob/master/packages/allure-playwright/README.md

[2022-03-19 12:10] #9128 closed

[2022-03-19 15:00] wanghaisheng opened #12907 "[BUG]Executable doesn't exist at /home/.cache/ms-playwright/firefox-1319/firefox/firefox"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-03-19 15:11] wanghaisheng commented on #12907
[code]

[2022-03-19 15:44] #12739 closed

[2022-03-19 16:36] Lakshmi-Yaswanth opened #12908 "Element timeout"
I have multiple steps with in a test block, my timeout is 1200000 so with in the timeout all the test will pass, if I reduce the timeout then my test will fail.
but let's say my element is wrong in that scenario test wont fail immediately. It wait till 1200000 then throws error.
It will be great if we can have separate timeout for finding elements only.

[2022-03-19 19:22] NikkTod commented on #8740
We have long list of vertical pages of a report. When we select a particular page ( e.g. 10) we want to verify if the scroll has been performed and the page is now in the viewport.

[2022-03-19 20:17] Nav-2d commented on #12908
You can use `actionTimeout` and set it to for example - 30000ms.

Ref: https://playwright.dev/docs/test-timeouts#action-and-navigation-timeouts

[2022-03-19 20:41] bronumski commented on #12840
@pavelfeldman - Did the repo I provide work for you? If you pull it then it should reproduce the issue that I am seeing.

[2022-03-19 22:38] pavelfeldman commented on #12756
Nope, does not repro for me.

[2022-03-19 22:43] pavelfeldman commented on #12835
I'm sorry, I'm not following at all. What does the `non-reproducer` mean? It is not installing deps, so it isn't guaranteed to work. Could we make a step back and discuss it in the following framework:

1. Steps to perform
2. Expected behavoir
3. Actual behavior

[2022-03-19 22:50] pavelfeldman commented on #12840
- I cloned https://github.com/bronumski/bronumski-playwright-12840
- I ran npm i
- I changed config for have
[code]
- I got this:

<img width="276" alt="Screen Shot 2022-03-19 at 3 49 35 PM" src="https://user-images.githubusercontent.com/883973/159141061-78a2fd91-1f5c-4dd6-a4d5-6d6c3fc4484a.png">

What do I miss?

[2022-03-20 02:43] bronumski commented on #12840
@pavelfeldman - My bad I pushed up the package.config with the version that works (1.18.1). Update to 1.20.0, that is where I have the issue.

[2022-03-20 06:47] pavelfeldman commented on #12840
I can repro! It looks like there are a couple of bugs in the tear down that Playwright Test did not handle gracefully:

1) Your global teardown never finishes (`done` is not called)

[code]

should be:

[code]

2) Calling `devServer.stop` schedules process exit.

I did not track this down to an actual call, but I can see that if I am just putting `await new Promise(() => {});` in the global teardo

[2022-03-20 08:33] dimag32 opened #12910 "[Question] Is it possible to run cross-browsers only 1 suite from all project"
Hi,

I have playwright project with lot of test suite, but only 1 test suite should be tested for cross-browsers, if im trying to use the standard config from documentation it running all my suites cross-browser, is it possible to limit only 1 suite to cross browsers testing?
![image](https://user-images.githubusercontent.com/95757204/159154431-074492e6-2e0a-4689-a5d0-65b180c78417.png)

Thanks,
Di

[2022-03-20 08:53] mxschmitt commented on #4282
Feature request in https://github.com/microsoft/playwright/issues/11494

[2022-03-20 09:05] Meemaw opened #12911 "[Feature] Option to not follow redirects in the requests API"
The `request` fixture methods seems to follow the redirects by default. It would be great if there was an option to disable this behaviour.

[code]

[2022-03-20 10:54] uavdrip commented on #7275
Can anyone share an example as to how to run playwright test via process?

[2022-03-20 13:10] jeremytenjo commented on #7275
@uavdrip you can use shelljs

`runPlaywright.js`

[code]

https://github.com/shelljs/shelljs

[2022-03-20 15:10] LFYSec opened #12912 "[BUG] NS_BINDING_ABORTED when '#' in url (Firefox)"
**Context:**
- Playwright Version: 1.20
- Operating System: Mac
- Python
- Browser: Firefox

**Describe the bug**

When using firefox browser, when the requested url contains #, page.goto reports an error: NS_BINDING_ABORTED
![image](https://user-images.githubusercontent.com/33030694/159169097-4ba97614-f27f-48f3-8a00-c00bacd13d39.png)

[2022-03-20 16:12] uavdrip commented on #7275
Thank you, I hope it would work on aws lambda.

[2022-03-20 21:03] ddemoss222 opened #12914 "[BUG] Firefox Headless: Material DatePicker Component fails to load in full"
**Context:**
- Playwright Version: [1.20]
- Operating System: [Linux]
- Node.js version: [17.7.1]
- Browser: [Firefox]
## System:
 - OS: Linux 5.15 Manjaro Linux
 - Memory: 4.59 GB / 15.63 GB
 - Container: Yes
## Binaries:
 - Node: 17.7.1 - /usr/bin/node
 - Yarn: 1.22.17 - /usr/bin/yarn
 - npm: 8.5.4 - /usr/bin/npm
## Languages:
 - Bash: 5.1.16 - /usr/bin/bash

**Code Snippet**

Help us help you!

[2022-03-21 00:50] abeersaqib commented on #5130
is it resolved ?

[2022-03-21 09:49] imartinflores opened #12918 "Import fails"
Hi guys, started to get this when updated to 1.20, Is anyone else experiencing it?

![image](https://user-images.githubusercontent.com/17011557/159237687-576030ee-6700-45b8-8b00-351ba64b8275.png)

Using:
`import {test, expect} from "@playwright/test"`

Thanks!

[2022-03-21 10:32] imartinflores commented on #12918
Solved it. Seems VS was caching or any other library causing the issue.

[2022-03-21 10:32] #12918 closed

[2022-03-21 11:20] Tobias-08 opened #12921 "[Question] Custom request-classes (ApiRequestContext)"
Hi,
is it possible to implement custom request-classes (ApiRequestContext) with custom configuration/options and what is the best approach to do so? Is the approach the same like for page-fixtures? Is there a sample (could not find anything in the docs)?

Thanks!

[2022-03-21 12:42] krutoo commented on #12182
same problem

[2022-03-21 12:47] grdthh commented on #12182
I'm also dealing with that problem (firefox)

[2022-03-21 13:15] amrsa1 opened #12922 "[Question] How to run a function after all workers are done ?"
Is there a way to run a function after all tests/Suites are executed

[2022-03-21 14:26] filipe-j-delgado opened #12923 "[Question] Playwright java docker issues"
Hi,

I'm trying to use playwright java docker image (mcr.microsoft.com/playwright/java:v1.20.0-focal) on a Jenkins pipeline and I'm getting this error:

[code]
Jenkinsfile:

[code]

Can you help please?

Thanks.

[2022-03-21 14:40] mikejackowski commented on #5585
Still happening ot me, playwright-core 1.20, building using `tsc`

`Could not resolve "electron/index.js" (mark it as external to exclude it from the bundle)`

[2022-03-21 14:43] mxschmitt commented on #12923
You need to either start the browser `headless: true` / `setHeadless(true)` or use `xvfb-run` so that a virtual x-server is there.

[2022-03-21 14:43] mxschmitt commented on #12922
Yes, this is called global teardown: https://playwright.dev/docs/api/class-testconfig#test-config-global-teardown

[2022-03-21 14:45] mxschmitt commented on #12912
Could you share a full [repro](https://stackoverflow.com/help/minimal-reproducible-example)? The following works for me:

[code]

[2022-03-21 14:48] #12907 closed

[2022-03-21 14:48] AviVahl commented on #5585
@mikejackowski
That's not an error from tsc. It's an error from some bundler (I'm guessing esbuild, but you'd be the one to say).
You probably need to avoid trying to bundle playwright, or any test file that imports it.

[2022-03-21 16:19] SusieIndeed opened #12926 "[Question] waitForURL()"
Hi I have problem when using this method:
page.waitForURL(expectedURL);
I can see it is waiting until the URL is changed to expectedURL, but seems the page is not loaded. What I want is, after the page navigate to the expected URL, I need check one content on the page. Any method to make sure the page is fully loaded?

[2022-03-21 16:21] ecalcutin commented on #4047
Link is invalid now. Can someone post a solution?

[2022-03-21 16:56] LFYSec commented on #12912
You can test with this [link](http://124.223.216.109:5555/1.html/#/test) Here is my code using python binding:
`await page.goto(req.url, wait_until="networkidle")`

![image](https://user-images.githubusercontent.com/33030694/159319571-0402a203-4c83-4345-982a-f027256519fa.png)

[2022-03-21 17:19] liamdebeasi commented on #10437
This feature would be great to have. We are looking to migrate our E2E testing solution to Playwright. We have a component library where each test runs several variations of a particular test to check for visual regressions. Some of the variants we have are:

1. LTR vs RTL modes
2. Desktop vs mobile viewports
3. Different themes for the components

Right now the results for these tests can get spl

[2022-03-21 17:28] saurabh4888 commented on #11494
It would be more helpful if possible to implement in same way as done in protractor ,

**getCssValue(cssStyleProperty: string): promise.Promise<string>;**

[2022-03-21 17:37] dsisnero commented on #576
get same error

play>npx playwright install chromium
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module './error.js'
Require stack:
- f:\programming\source\repos\git\dsisnero\faa_auth\play\node_modules\commander\lib\argument.js
- f:\programming\source\repos\git\dsisnero\faa_auth\play\node_modules\commander\index.js
- f:\programming\source\repos\git\dsisnero\faa_auth\p

[2022-03-21 17:49] dgozman commented on #12902
@jithintill This seems to be an app issue. You have a page from one domain that issues a request to another domain (the difference is in `paybylink.` vs `api-gateway.` Usually, you should configure the server to accept requests from your frontend domain.

Here is a nice write-up about CORS [on MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS).

[2022-03-21 17:50] #12908 closed

[2022-03-21 17:57] CheapeOne commented on #12536
thanks for taking a look @pavelfeldman , I do actually have a playwright config. I created a minimal test repo that reproduces my problem, if that helps. https://github.com/CheapeOne/testapp .

I'll add that lodash-es does indeed have `"type": "module"` in it's package json, but it may be a quirk of the underlying lodash _not_ being ESM.

[2022-03-21 17:58] dgozman commented on #12910
@dimag32 You can use `testDir` or [`testMatch`](https://playwright.dev/docs/api/class-testproject#test-project-test-match) to configure a project to only run some tests:

[code]

[2022-03-21 18:31] tushitaaggarwal opened #12994 "[URGENT] Not able to print images on calling page.pdf() using playwright"
Hi,

For a below sample html file, I am not able to view images in the final printed pdf, although they are present in the screenshot I take via page.screenshot API.  Could you please let me know why this might be happening? Are there any flags that might lead to omitting of the images while printing?
Here are the details of what I have investigated:
1. This only happens in headless mode of chrome

[2022-03-21 18:35] collin-rogers commented on #10927
@mxschmitt I am also evaluating playwright for our current automation requirements. I've been using puppeteer as a temporary solution for our CEF e2e testing, but I would love to be able to use the features of playwright. Hoping this feature comes soon!

[2022-03-21 18:40] pngwn opened #12929 "[Feature] improve or clarify cross origin request mocking"
**Problem**

It is common to have an app and a server running on different origins. Users may wish to mock such network requests (using `page.route` and `page.fulfill`) with something like the following:

[code]

Although it looks okay at a glance, it will fail because access control headers have not been set. Adding `"Access-Control-Allow-Origin": "*"` to the headers option object fixes this.

**

[2022-03-21 19:10] Nav-2d opened #12930 "[BUG] Test times out while shutting down environment"
**Context:**
- Playwright Version: 1.20.0
- Operating System: Mac
- Node.js version: 12.22
- Browser: Chromium, WebKit
- Extra: [any specific details about your environment]

**Code Snippet**
[code]
[code]

**Describe the bug**
Navigating to MY_URL times out and reports the following error:
`Timeout of 20000ms exceeded while shutting down environment`

Browser logs:
[code]

[2022-03-21 19:11] Nav-2d commented on #12756
Unable to reproduce GPU stall error but getting a new error which is tracked here: https://github.com/microsoft/playwright/issues/12930

[2022-03-21 19:11] #12756 closed

[2022-03-21 19:26] cgomm commented on #12780
It seems like that the problem was created by Material. Imported fonts couldn't be loaded during Playwrights attempts to load. Hard to find and to debug tbh.

[2022-03-21 19:26] #12780 closed

[2022-03-21 19:52] dgozman commented on #12914
@ddemoss222 Unfortunately, we cannot help you without a full repro, and this script misses some components, dependencies, css, etc.

Did you try [recording a trace](https://playwright.dev/docs/trace-viewer)? Perhaps, there are some errors in the page that could explain the issue?

[2022-03-21 19:54] dgozman commented on #12921
Look at [this guide](https://playwright.dev/docs/test-api-testing). It shows how to use [`request.newContext()`](https://playwright.dev/docs/api/class-apirequest#api-request-new-context) that creates a context with a lot of settings.

[2022-03-21 19:54] #12921 closed

[2022-03-21 19:57] dgozman commented on #12926
@SusieIndeed The `page.waitForURL()` method waits for the `"load"` event by default. If the page is not ready, it must be doing some async loading after that. It is usually the best to wait for something visual on the page that loads last, for example:

[code]

Let me know if that helps.

[2022-03-21 20:28] bshostak commented on #12793
Also experiencing this issue and can confirm it does work on our side on playwright version 1.17.2. Any time frame on a fix for this?

[2022-03-21 20:35] yury-s commented on #12923
Can you reproduce it in Docker without Jenkins?

[2022-03-21 20:42] haramchang opened #12932 "[BUG] Click inside an iframe does not work correctly"
**Context:**
- Playwright Version: "playwright-chromium": "^1.20.0"
- Operating System: Mac
- Node.js version: v17.6.0
- Browser: all
- Extra: [any specific details about your environment]

I'm testing a 'Join Waitlist' button inside of an iframe on a particular page. The button is visible and clickable but for some reason it times out while waiting for the navigation - as if the button click did

[2022-03-21 21:36] dgozman commented on #12930
@Nav-2d `Timeout of 20000ms exceeded while shutting down environment` means that cleanup did not work, most likely closing the page or the browser. A few question to help diagnose the issue:
- Is it expected that navigation times out?
- Does the trace recording work? Perhaps it could have a clue.
- Could you please try running with `DEBUG=pw:test*` to see what exactly timed out during shutdown?

[2022-03-21 21:38] dgozman commented on #12932
@haramchang Perhaps the does not navigate to the expected url? Try commenting out `page.waitForNavigation()` and `expect(page).toHaveURL()` lines. If that works, [record a trace](https://playwright.dev/docs/trace-viewer) to see what's happening.

[2022-03-21 21:44] jithintill commented on #12902
thanks for clarifying

[2022-03-21 21:44] #12902 closed

[2022-03-21 21:45] dgozman commented on #12827
@tanmdoan Is there anything else we can help you with?

[2022-03-21 21:49] tanmdoan commented on #12827
Hi @dgozman thank you so much for checking in on this. Turns out the extra workers hangs when using the same credentials, going to file an issue with our auth team to see if it's something on our side. Will create another issue once we do some debugging internally.

Thanks again!

[2022-03-21 21:49] dgozman commented on #12876
@TobiFarore Do a hover first, and then click. You'll probably need a separate locator for the "element that shows copy button upon hover".

[code]

[2022-03-21 21:52] #12890 closed

[2022-03-21 21:55] #12827 closed

[2022-03-21 22:17] Nav-2d commented on #12930
@dgozman - Thank you for looking into this:
1. No, the navigation isn't supposed to time out
2. Sent you trace privately.
3. Logs:
[code]

[2022-03-21 22:30] Nav-2d commented on #12930
Now, I am seeing the GPU stall issue again as mentioned in https://github.com/microsoft/playwright/issues/12756.

I am so confused :( And unfortunately only happening for one specific URL. And happening for multiple co-workers.

Commenting out `screenshot: on` makes the test pass and turning it on fails the test.

[code]

[2022-03-21 22:44] naknode commented on #12896
@pavelfeldman Yeah -- that makes sense. I suppose what I'm having trouble with is how I'm going to split it up to accommodate the E2E tests.

What I am doing now is that I need to create an object of the values I'm going to check against (with `expect`) versus what I'm going to use to fill the form with.

So, inside `test()`, I have something like:

`edit-user.spec.ts:`
[code]

`update-user.page.t

[2022-03-21 22:50] kamelbou opened #12936 "[Question] Retrieve parent from child text content ?"
Hello !

I have this DOM structure:

[code]

The event allowing me to click on the element is attached to the first div (work-item level).
I have a text box where I search toto, it gives me 3 results and I would like to click on `toto`. But, before to search for toto, I don't know how many results I will have so I cannot target work-item with a specific number (I mean work-item-0 for this example,

[2022-03-21 23:09] pavelfeldman commented on #12536
I don't see `"type": "module"` in your test project's `package.json`. You can only import modules from modules.

[2022-03-21 23:42] #12862 closed

[2022-03-21 23:51] bronumski commented on #12840
@pavelfeldman - I can confirm that works. As to why the web server was started this way was because the idea is not to give it a static port but let the dev server startup and return the port that was used and dynamically set the base url. Unfortunately we were unable to work out how to set the base url dynamically.

I can close this bug off as not a bug.

[2022-03-22 00:01] unlikelyzero commented on #12879
I did some poking around and found that TestRail does not have an official node sdk. The closest I found was here: https://github.com/automatekitbox/testrail-api-integration

I would think that the fastest way to a working prototype would be for someone to work off of the webdriverio section here https://github.com/automatekitbox/testrail-api-integration#webdriverio-cucumber

[2022-03-22 00:16] pavelfeldman commented on #12105
I don't think we are going to support legacy decorators in Playwright. Leaving it open to collect the feedback.

[2022-03-22 00:18] pavelfeldman commented on #12840
Sounds good, closing it then!

[2022-03-22 00:18] #12840 closed

[2022-03-22 00:57] vsravuri opened #12940 "[BUG] npm audit - High Severity vulnerability in json5 package forcing to install Playwright 1.18.1"
**Context:**
- Playwright Version: [1.20.0 & playwright@next]
- Operating System: [Windows, Mac]
- Node.js version: [17.2.0]
- Browser: [N/A]
- Extra: [N/A]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

Seeing this issue on both Windows 10 and Mac OS. Tested with both v

[2022-03-22 01:14] EmilePerron opened #12941 "[BUG] locator.type() types inside the wrong [contenteditable] element when inside shadow DOM"
**Context:**
- Playwright Version: tested on 1.19.2 and 1.20.0
- Operating System: tested on Mac and Linux
- Node.js version: tested on node 15 and 17.6.0
- Browser: Firefox
- Extra: Tested on "localhost" domain

**Code Snippet**

Here's a short HTML page for the test below:
[code]

Here's a short Playwright test that triggers the problem:

[code]

**Describe the bug**

When you have two `[content

[2022-03-22 01:40] pavelfeldman commented on #7148
I looked into component testing with Playwright and filed a bug with the ideas / proposed approach. It is somewhat manual, yet powerful. Would be curious what you all think!

https://github.com/microsoft/playwright/issues/12799

[2022-03-22 01:47] pavelfeldman commented on #4046
@azad-derakhshani-GS

This looks backwards to me: maximize would make pages behave differently, while fixed viewport guarantees consistent behavior. What do I miss?

[2022-03-22 01:51] #12895 closed

[2022-03-22 03:12] dgozman commented on #12936
[code]

Here are guides for [locator options](https://playwright.dev/docs/api/class-page#page-locator) and [selectors](https://playwright.dev/docs/selectors).

[2022-03-22 03:12] #12936 closed

[2022-03-22 03:22] dgozman commented on #12941
@EmilePerron Thank you for the detailed bug report! The issue is most likely with the focus detection. We avoid re-focusing the element before typing when it's already focused, and I assume this incorrectly detects which element is focused. It is somewhat surprising that's Firefox-only, but we'll take a look.

[2022-03-22 05:10] Gornostalev opened #12944 "[BUG] Incorrect serialization failure message in Junit reporter"
**Context:**
- Playwright Version: [1.20.0]
- Operating System: [Windows 10]
- Node.js version: [v14.17.5]
- Browser: [All]

**Code Snippet**

Hello everyone 🎭✋🏻! I found incorrect junit reporter serialization work;
when the test fails I expect the "failure message" field in the xml file to contain the error text, but it contains the test header:

[code]

test code:

[code]

how it looks in json r

[2022-03-22 06:30] rprabhun-onshape commented on #10927
@collin-rogers please upvote the first comment - thats the way they prioritise feature requests.

[2022-03-22 06:35] rprabhun commented on #10927
@collin-rogers  please upvote the first comment - thats the way they prioritise feature requests.

[2022-03-22 06:53] yangbocheng opened #13553 "[Question]: Codegen Timeout In Playwright Version 1.20.1 , Net6.0"
### Your question

I have a question about codegen, when i use "pwsh .\playwright.ps1 codegen" or "playwright codegen" ,  allways failed because of Timeout in Version 1.20.1
![image](https://user-images.githubusercontent.com/32633109/159421816-c5cc768e-f427-4081-aba3-39fc37ff2e14.png)
![image](https://user-images.githubusercontent.com/32633109/159422032-0b38bb68-fd6b-4068-b979-61b172813097.png)

I

[2022-03-22 07:32] Lakshmi-Yaswanth commented on #12908
I have used the `actionTimeout` but no luck it was not working as expected.
For Example:  This is my playwright configuration
[code]
Test cases look like:
[code]
This is how my code looks.but let's say my element is wrong in that scenario test wont fail immediately. It wait till 1200000 then throws error. can u please help me to over come this. Thank u .

[2022-03-22 08:39] id-dan opened #12945 "Please join to us #standwithukraine"
Please support Ukraine, more infos here: https://github.com/vshymanskyy/StandWithUkraine

[2022-03-22 09:08] baparham commented on #12105
@pavelfeldman I think I actually don't need it, now that I debug my issue more. The decorator was used in another unrelated portion of our codebase and it was getting pulled in by an import chain with some not-so-clean separation of concern. I've fixed and no longer require the use of decorators in my playwright code. Thanks for the update about the plans and the willingness to hear out any potent

[2022-03-22 09:39] #12846 closed

[2022-03-22 09:52] pkerschbaum commented on #12862
Just for documentation purposes (if someone stumbles upon this issue):

From #12934

An option to specify the comparison algorithm was not added for now.

[2022-03-22 09:59] TobiFarore commented on #12876
@dgozman I tried that the suggestion above and I was able to click the copy button but the paste funtion didn't work even after permission was granted.. I attempted to copy from chromium manually while debugging but that also didn't work

` public async Task GrantCopyPermission()
        {
            await Page.Context.GrantPermissionsAsync(new[] { "clipboard-read", "clipboard-write" });

[2022-03-22 10:34] imartinflores opened #12948 "[QUESTION] Trace not being generated"
Hello, I am facing an issue where the trace file is not being generated. The .html and .xml files are OK. I am using playwright 1.20 . This is what the configuration looks like:

![image](https://user-images.githubusercontent.com/17011557/159462683-81b01173-425a-49f4-ac68-ecff030d594a.png)

Any suggestion on where to look at ?
Thanks!

[2022-03-22 10:42] RollerIn opened #12949 "Is this framework supports cross mobile devices testing?"
Can I run my tests on android and iOS at the same time ?

like multi android and multi iOS devices ...

both emulator/real devices and simulators/real devices

google chrome and safari browsers on mobile

[2022-03-22 11:21] imartinflores commented on #12948
It seems to be taking the changes, for example if I change to 'dot' instead of line or 'json' instead of html. However, I can see on the console that is trying to output those results into a test-result folder that does not exist.. could be cached somewhere ?
I am not able to find it tho...

![image](https://user-images.githubusercontent.com/17011557/159470694-073a9e38-6826-44be-b178-a0df15ad8654.

[2022-03-22 11:46] judithrocketmakers commented on #12799
Out of interest, have you considered Storybook integration as an option? That might solve the gallery problem at the same time.

[2022-03-22 12:13] imartinflores commented on #12948
And this is what's generated when executing the report:

![image](https://user-images.githubusercontent.com/17011557/159479340-75be2ef0-1ed5-416b-a9a0-89ba5d83ec50.png)

[2022-03-22 12:17] Tobias-08 commented on #12921
Thanks, that helped!

[2022-03-22 12:20] mnataraj17 commented on #12879
@unlikelyzero we are using Github Actions

[2022-03-22 12:55] FomerMay commented on #8278
H, i need some help to use the playwright-fake-dialog, do i need any code from "test/preload.js"?(https://github.com/wsw0108/electron-playwright-test/blob/master/test/preload.js).

This is my code

[code]

"fs.api.selectFilesWithOpenDialog (id 46189c0c) - failed due to error: n.a.dialog.showOpenDialog is not a function"

Our Application uses Electron 9, could that be a problem?

[2022-03-22 13:49] baleshkoijam opened #12954 "[Feature] Root Hooks in playwright test"
Referring the documentation provided by playwright, seems like the hooks (example: afterAll / beforeAll) can be used only inside a spec/ test file as below:

// example.spec.ts
import { test, expect } from '@playwright/test';

test.beforeAll(async () => {
  console.log('Before tests');
});

test.afterAll(async () => {
  console.log('After tests');
});

test('my test', async ({ page }) => {
  // ..

[2022-03-22 15:20] pavelfeldman commented on #12799
Yes, we have considered it, but we could not satisfy our requirements (mainly Experience section).

[2022-03-22 15:24] dgozman commented on #12944
@Gornostalev The actual failure should be a text node child of the `<failure>` tag:
[code]
Is that text missing for you?

[2022-03-22 15:34] ydimov-a2z commented on #12895
Thanks for fixing this @dgozman !

[2022-03-22 16:19] haramchang commented on #12932
@dgozman I recorded the trace and it just showed the click and no navigation to any URL.
I think the reason why it wasn't working was cause there's a delay in the actionability of the button when you hover over it, so when I changed the code to this it worked when running the test on my laptop:

[code]

I ran the test multiple times just to make sure and it always passed. However, what I don't und

[2022-03-22 16:23] dgozman commented on #12932
@haramchang This error is usually either a page crash (browser crashed trying to show the page), or the timed out test closes the page at the end.

[2022-03-22 16:26] #12949 closed

[2022-03-22 16:28] dgozman commented on #12954
Are you looking for [`globalSetup`](https://playwright.dev/docs/test-advanced#global-setup-and-teardown)?

[2022-03-22 16:34] amrsa1 commented on #12922
@mxschmitt  thank you i  have found, but seems not working properly or im missing something

[code]

this is the function is added on the teardown.ts and add it the config

[code]

but the function is not

[2022-03-22 16:38] haramchang commented on #12932
@dgozman Tried upping the timeouts by a substantial amount to see if it passes, but to no avail.

[2022-03-22 16:45] aslushnikov commented on #12945
Official Microsoft statement: https://blogs.microsoft.com/on-the-issues/2022/02/28/ukraine-russia-digital-war-cyberattacks/

[2022-03-22 16:45] #12945 closed

[2022-03-22 16:55] thernstig commented on #12799
Is Web Components (using lit) in scope? Seems so, just checking.

[2022-03-22 17:09] gauravgandhi1315 commented on #12954
@baleshkoijam I had the same scenario in my application. There is no way to use `beforeAll` and `afterAll` in one single file for all your tests. But I fixed it by using `global-setup(beforeAll)` and `global-teardown(afterAll)`

check here https://github.com/microsoft/playwright/issues/12656

[2022-03-22 17:25] baleshkoijam commented on #12954
@dgozman  and @gauravgandhi1315  thanks for the suggestion. I am able to use the globalSetup to achieve the same.

[2022-03-22 17:26] #12954 closed

[2022-03-22 17:26] davidhprotective commented on #4046
Upvoting!

[2022-03-22 17:48] pavelfeldman commented on #12536
Works for me, yes, experimental esm loaders are only supported on Node 16+.

[code]

[2022-03-22 18:05] ivankoleda commented on #12851
I may try implementing a fix for this case over the next couple weeks/month. I started implementing the fix before, but couldn't make it quickly.

[2022-03-22 18:53] dsisnero commented on #5874
please consider ruby client!

[2022-03-22 19:49] mxschmitt commented on #12912
Works as well for me! Could you try running it with `DEBUG=pw:browser,pw:api node test.js`?

[2022-03-22 19:54] bshostak commented on #12930
Context:

    Playwright Version: 1.20.0 and 1.19.0
    Operating System: Mac
    Node.js version: 14.15.3
    Browser: Chrome
    Extra: [any specific details about your environment]

I'm able to duplicate this error with Playwright 1.20.0, 1.19.0 as well using:
[code]
   I have a test that runs in about 7-8 seconds using all other browsers. When I use chrome, it takes 39-40 seconds to complete a

[2022-03-22 20:04] dgozman commented on #12908
@Lakshmi-Yaswanth Your `actionTimeout: 10 * 1000` looks good. What do you do in the test? Mind sharing some specific actions you perform, e.g. `locator.click()` or something? When the test finally times out after `1200000`, do you see any error? What does it say?

[2022-03-22 20:33] jensencp commented on #12847
yes please , ive asked about this in slack

[### ](https://playwright.slack.com/archives/CSUHZPVLM/p1647714390882259)

[2022-03-22 20:48] liamdebeasi opened #12962 "[BUG] fullPage screenshot does not work when scrollable content does not scroll on the body"
**Context:**
- Playwright Version: 1.20.0
- Operating System: macOS 12.1
- Node.js version: 16.11.1
- Browser: All

**Code Snippet**

GitHub repo: https://github.com/liamdebeasi/playwright-screenshot-repro

**Describe the bug**

Taking a screenshot with `fullPage: true` does not take a full page screenshot when the scrollable content scrolls on a non-body element. Full page screenshots are taken c

[2022-03-22 21:54] joshuacc opened #12964 "[BUG] Problems with parallelism and page.waitForSelector"
**Context:**
- Playwright Version: 1.19.1
- Operating System: Linux
- Node.js version: 14
- Browser: Chromium
- Extra: Our tests run on an Azure Devops pipeline agent with 2 cores and 7gb of RAM.

[code]

**Describe the bug**

While migrating our E2E tests from Puppeteer to Playwright, I've noticed that as we increase the amount of parallelism to speed up our tests, our calls to `page.waitForSelec

[2022-03-22 22:04] joshuacc commented on #12964
Almost forgot to mention. We are not using Playwright Test, but our pre-existing E2E test framework to manage the parallelism. I can share details of that internally.

[2022-03-22 22:23] CheapeOne commented on #12536
Oh sweet, and I see you used `npm` and not `yarn`, I had included a yarn.lock file but if it's succeeding with a totally fresh install i think i need to regenerate that. Thanks for the help, I'll close this.

[2022-03-22 22:24] #12536 closed

[2022-03-22 22:26] dgozman commented on #12944
Thank you for the screenshot, this makes sense.

Ideally, we would make the following improvements:
- Use `<error>` element for thrown errors, and `<failure>` element for `expect` failures.
- For errors:
  * Put `error.name` in `type=""` attribute for errors.
  * Put error message in `message=""` attribute.
- For failures (expects):
  * Put `expect.toBe` in `type=""` attribute.
  * Put (possibly c

[2022-03-22 22:36] dgozman commented on #12964
@joshuacc Most likely, your pipeline machine is too overbooked that one of the processes just never had a chance to check for the element because it was not even scheduled to run during 1000ms. We've seen that on our (pretty weak) bots and we run tests with a single worker.

It does indeed look like the element was there. Trace says "duration: 1.2s" which is a lot longer than timeout of 1s, so ove

[2022-03-22 22:56] joshuacc commented on #12964
@dgozman Regarding the additional `page.waitForSelector()` calls, yes, we are doing something special there at the end of each test scenario to check whether the failure was due to a couple of known causes, so we can categorize the failures.

I agree that overall slowness seems to be the precipitating cause. But it seems to me like there may be an underlying bug in Playwright here because...

1. T

[2022-03-22 23:02] dgozman commented on #12964
@joshuacc There could definitely be a bug, but we'll need to debug locally with a repro to find it 😄

That's because `page.$()` does not have a timeout, so no matter how slow the machine is, it will eventually respond with an element. If you bump your `waitForSelector` timeout, you'll see less flakiness.

Overall, we recommend to run without any timeouts for specific actions (or with a rather larg

[2022-03-22 23:28] #11318 closed

[2022-03-22 23:30] dossy opened #12967 "[BUG] browserContext.cookies() doesn't return all cookies"
**Context:**
- Playwright Version: 1.20.0
- Operating System: macOS 11.6.2
- Node.js version: 16.13.1
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

To avoid various browser and local security differences, a host definition for `local.domain.com` pointing at `127.0.0.1` is created, and the server is using a self-signed SSL certificate on port 7443.  Therefore, `baseURL` in th

[2022-03-22 23:33] THELEMITED commented on #12014
Yes, you might be able to ghost shell somebody with dagger@google and then deploy a an escaping method to parallel their circuits with embedded flutter code by google.

[2022-03-22 23:33] joshuacc commented on #12964
@dgozman Thanks for your help and suggestions! I've applied some tweaks based on what you've said and am going to try them out shortly. In the meantime, maybe you can help me update my mental model around how Playwright works?

My understanding of the way that `page.$()` works is that on the next turn of the event loop it will return either an `ElementHandle` or `null`. Is that correct?

Model A:

[2022-03-23 00:07] Nav-2d commented on #12930
@bshostak - could you please post the logs as well?

`DEBUG=pw:test*`
`DEBUG=pw:browser`

[2022-03-23 00:19] dossy commented on #12967
Closing this issue as the problem was on my end:

Apparently, there were two elements on the page that contained the text "Sign in" (an `h2` and a `button` ... 🤦), so `await page.click("text=Sign in");` was silently failing, which is why only two of the three cookies were set.  The third cookie would be set in response to a successful click of the button ...

Is there a reason `page.click()` silen

[2022-03-23 00:19] #12967 closed

[2022-03-23 01:42] aslushnikov opened #12970 "output throwaway artifacts relative to package.json"
See https://docs.google.com/spreadsheets/d/1y_F6eNNiClyY-Eg1hFQZGH7v6-dobxyouFlgUBLNwSg/edit?usp=sharing

[2022-03-23 02:59] str0zzapreti opened #12974 "[BUG] Regression - chromium browser closes during test or debugging session on macos"
**Context:**
- Playwright Version: 1.20.0
- Operating System: Macos 11.6.5
- Python version: Python 3.10.2
- Browser: Chromium

**Code Snippet**

The easiest way to replicate this issue is to just add a breakpoint in the following snippet after launching the browser, e.g. line 5, and then initialize the debugger and wait for it to reach the breakpoint. Then just wait and Chromium will suddenly clo

[2022-03-23 03:06] #11769 closed

[2022-03-23 05:29] pjbowater commented on #12930
I've also been experiencing this since upgrading from 1.18 to 1.20

Context:
Playwright Version: 1.20.0
Operating System: Windows 10
Node.js version: v16.13.1
Browser: Chromium

As @Nav-2d alluded to, it seems to happen when screenshot is set to 'on' or 'only-on-failure'. Setting it to 'off' makes it work.

[2022-03-23 05:41] rwoll commented on #12808
@szmarczak Let me know if you still plan to send in a PR for review!

If not, I'll prep a patch. Thanks!

[2022-03-23 06:36] id-dan commented on #12945
Hi, @aslushnikov
I mean to show banner on repo for other people, then they can use link to donate

[2022-03-23 06:37] alisterscott opened #12973 "[REGRESSION]: test.setTimeout(0) no longer works"
**Context:**
- GOOD Playwright Version: 1.19.2
- BAD Playwright Version: 1.20.0
- Operating System: MacOS

**Code Snippet**

[code]

**Describe the bug**

A timeout of 0 is great for using a Playwright test to launch a browser to do some actions. This doesn't work in 1.20.0 as the browser always closes after 30 seconds

[2022-03-23 08:12] jasonlor commented on #12189
I'm seeing the same issue

[2022-03-23 08:14] leotg130 commented on #12857
Thanks for the info. I probably won't have time in the next couple of months, so let's leave it open and see if others are interested in the feature.

Will need to either downgrade to previous version or indeed generate tests prior to running playwright-test, for now.

Another possible alternative would be to run all of our tests within a single playwright test, though generating the tests within

[2022-03-23 08:16] szmarczak commented on #12808
Yes, however I got still some things to do first. Sorry it takes so long, feel free to take over :)

[2022-03-23 08:35] maxibri opened #12975 "[BUG] Webkit forces https on localhost"
**Context:**

- Playwright Version: 1.20.0
- Operating System: Ubuntu 20.04
- Node.js version: v14.19.0
- Browser: Webkit

**Code Snippet**

Here is my webkit config
[code]

**Describe the bug**

When running tests on Webkit, i get the following errors:
![webkit_tls_error](https://user-images.githubusercontent.com/68642402/159657134-f5c8dc03-73db-4985-a306-cfead30e99be.png)
I don't use SSL on loca

[2022-03-23 08:38] szamacz opened #12976 "[Feature] Add option to ignoreHTTPSErrors in webServer"
I noticed that playwright cannot correctly specify if the server is running or not and starts tests too fast when there are problems with https. When I have added check for URL and port using opening new window and ignoring HTTPS errors it works fine, so adding an option to ignoreHTTPSErrors in webserver config would do the job.

[2022-03-23 08:41] IgorKoryapin opened #12977 "[BUG] The "Control+V" step in the test does not work when the headless mode is on"
**Context:**
- Playwright Version: [1.20.0]
- Operating System: [Windows]
- Node.js version: [v14.15.4.]
- Browser: [Chromium]
- Extra: [Windows 10 Pro 64]

**Code Snippet**
 `await page.keyboard.press("Control+V");`
[code]

[2022-03-23 10:43] gianluca1606 opened #12979 "[Question] Create Custom Image starting from maven:3-jdk-8-alpine - Gitlab CI"
Hello,

like mentioned above we need for our Java Application the following image: maven:3-jdk-8-alpine.

How would it be possible to create a custom Docker Image for our CI and the Dockerfile(Kubernetes) itself:

Here is a cutout of our CI:

[code]

[2022-03-23 11:13] wuweikd commented on #10336
The 1.19.2 have the same issue  at my docker, bug the 1.18.1 at my macos wroker well

[2022-03-23 11:56] devkat commented on #12974
I am facing a similar issue:

- macOS 12.3 Monterey
- Playwright 1.20 Chromium

[code]

[2022-03-23 12:08] Buachaill opened #12980 "[BUG]"
**Context:**
- Playwright Version: 1.20.0
- Operating System: Mac 11.6.2
- Node.js version: 14.18.1
- Browser: Chromium

**Describe the bug**

Playwright Inspector crashes after a minute or two of running without any errors in the console.

[2022-03-23 12:31] momothefirst opened #12982 "[BUG] Codegen crashes 1 minute into recording and debugging tests also"
Context:

**System:**
2020 Macbook 13"
OS: macOS Monterey 12.0.1
Memory: 12.2 GB / 16 GB LPDDR4X
CPU: 2 GHz Intel Core i5 Quad-core

**Binaries:**
Node: 14.17.5
npm: 6.14.14

**npmPackages:**
playwright: ^1.20.0 => 1.20.0

**Describe the bug**

Running "npx playwright codegen google.com" and doing no further actions will stay up for around 1 minute each time and then crash the debugger and the tes

[2022-03-23 12:40] mxschmitt commented on #12974
I was able to repro on 1.20.0 but it seems fixed on ToT.

[2022-03-23 12:55] Meemaw opened #12984 "[BUG]: Chromium browser getting randomly closed"
**Context:**

- Playwright Version: 1.20.0
- Operating System: Linux
- Node.js version: 16
- Browser: Chromium
- Extra: CircleCI machine executor (ubuntu-2004:202201-02)

**Describe the bug**

Yesterday we have started observing some weird behaviour of Chromium in our Playwright tests. The chromium seems to have started crashing in a lot of our tests, which leads to errors like this:

- locator.is

[2022-03-23 12:56] cogit2 opened #12985 "BrowserContext.close throws error when connected to browserstack"
Reproduce:

[code]
...  Then I sucessfully run tests ....

After that I close the Browser context:

`browserContext.close();`

this fails with:

[code]

[2022-03-23 13:46] mxschmitt opened #12988 "[BUG] Codegen via iframes does not work all the time"
Repro:

1. `npx playwright codegen https://support-shop.astoreprocurement.com/access/unauthenticated`
2. Wait for 5 seconds - do not focus the site
3. Try to fill something in the email page

Expected: Selector does get generated
Actual: It keeps saying just `iframe` and does not recognise the interactions inside the iframe.

Note: It seems its related to the lazy initiated iframe - when you reloa

[2022-03-23 13:52] mxschmitt commented on #12982
This looks like a duplicate of https://github.com/microsoft/playwright/issues/12974. Could you try `npm i -D @playwright/test@next` (or just `playwright` depends on your setup)?

[2022-03-23 13:55] mxschmitt commented on #12980
This looks like a duplicate of https://github.com/microsoft/playwright/issues/12974. Could you try `npm i -D @playwright/test@next` (or just `playwright` depends on your setup)?

[2022-03-23 13:59] alimtunc commented on #12982
I had the same issue and running `npm i -D @playwright/test@next` worked for me, looks like 1.20.0 making it crash..
Thank's for your help 💯

[2022-03-23 13:59] mxschmitt commented on #12982
Folding into https://github.com/microsoft/playwright/issues/12974

[2022-03-23 13:59] #12982 closed

[2022-03-23 14:02] mxschmitt commented on #12980
Folding into https://github.com/microsoft/playwright/issues/12974

[2022-03-23 14:32] str0zzapreti commented on #12974
Nice, OK. For Python, this should be available in 1.21.0 then? Or will there be a 1.20.1 release?

Thanks!

[2022-03-23 14:41] momothefirst commented on #12982
Can confirm updating to `@playwright/test@next` worked! Thanks for the quick reply 😊

[2022-03-23 15:29] LFYSec commented on #12912
Here is the output:

`2022-03-23T15:28:07.433Z pw:browser <launching> /Users/lfy/Library/Caches/ms-playwright/firefox-1313/firefox/Nightly.app/Contents/MacOS/firefox -no-remote -headless -profile /var/folders/3z/19b8cjkd3p98rw_4sr_60h_w0000gn/T/playwright_firefoxdev_profile-k8FPdT -juggler-pipe --enable-features=NetworkService --disable-setuid-sandbox --disable-popup-blocking --disable-webgl --dis

[2022-03-23 15:34] bshostak commented on #12930
@Nav-2d Hope I did this right. I didn't see any logs doing the pw:test command.
[code]

[2022-03-23 15:47] Meemaw commented on #12984
@mxschmitt upgrading to `1.21.0-alpha-mar-23-2022` fixed the issue.

Do you have any idea why this would start happening suddenly? We were on `1.20.0` for a while, and we have it pinned.

Is it the `install-deps chromium` command that does things that could be unpinned?

[2022-03-23 15:48] stevez commented on #12984
This morning I got the same experience in mac. and upgrade to next is working. I wonder when the fix is going to release officially?

[2022-03-23 16:09] hungdao-testing opened #12990 "[BUG] Playwright try to parse a file which is not related to test"
**Context:**
- "playwright": "^1.20.0",
    "typescript": "^4.5.5"
- Operating System: Window 11
- Node.js version: 14.18

**Code Snippet**
Running command line
[code]

[code]

**Describe the bug**

The Playwright inspect the import file and get error when reading the the file `app.type`, and not sure why the Playwright jumps to src/user.model to read  even though I don't use the imported file in

[2022-03-23 16:18] caribou-code commented on #12984
I can confirm this also started randomly happening to us today. A timeframe for when the fix will be available out of alpha would be awesome!

[2022-03-23 17:05] #12807 closed

[2022-03-23 17:19] mxschmitt commented on #12984
Folding into https://github.com/microsoft/playwright/issues/12974 since we validated its the same underlying issue.

[2022-03-23 17:19] #12984 closed

[2022-03-23 17:22] dgozman commented on #12930
This could be the same issue #12711, which will have a fix in the next v1.20.1 release.

[2022-03-23 17:56] Nav-2d commented on #12930
@dgozman - Could we try `@next` to verify?

[2022-03-23 18:05] mroderick commented on #12836
If you can't wait for the release, you can use the `beta` tag when installing the package :)

[2022-03-23 18:20] yury-s commented on #12994
Debugging notes. I tried to create a repro for Chromium bug but the issue is not reproducible in puppeteer with similar script:
[code]
Aligning browser flags in playwright didn't help either:
[code]

[2022-03-23 19:03] Nav-2d commented on #12930
I can confirm that my test is passing on `npm i playwright@1.20.1-beta-1648061377000`. Thank you!!

[2022-03-23 19:05] Luz5020 opened #12996 "[Question] Where do you run the install Command?"
I'm encountering an error when trying to run "playwright install", something along the lines of "playwright is not a command"
So I'm wondering, is the issue that I'm using the wrong terminal? I'm using PowerShell to pip install playwright and pip tells me that playwright is installed, when I try to run playwright install I get an error, however. So am I on the wrong architecture, should I run this

[2022-03-23 19:36] mxschmitt commented on #12996
I guess you are using Python?

If your PIP is configured correctly inside the `PATH`, then this works out of the box: `playwright install` if not `python -m playwright install`.

[2022-03-23 19:43] kingmatte commented on #8114
Adding my voice to the chorus! We have multiple tests that require access to the clipboard.

[2022-03-23 19:48] klhex commented on #12974
On my Mac (M1, MacOS Monterey 12.3) I get the same dump as @devkat. On our CI/CD system however (Linux #58~16.04.1-Ubuntu SMP Mon Jun 24 13:21:41 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux), running the same test produces the following dump:

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2022-03-23 19:52] mxschmitt commented on #12974
### Workaround for affected folks

Install latest beta: `npm install -D @playwright/test@beta`

[2022-03-23 20:07] #12974 closed

[2022-03-23 20:59] klhex commented on #12974
PW 1.20.1 has fixed the issue on my side, thanks for the quick fix.

[2022-03-23 21:08] mangs commented on #3146
There are some `child_process`-releated items here: https://github.com/denoland/deno/issues/12577

I'm a huge fan of Deno and Playwright, so hopefully a native option comes before that. I mean come on, Deno is even listed on [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Location#browser_compatibility) and [Web Platform Tests](https://wpt.fyi/results/?label=master&label=experimental&produc

[2022-03-23 21:53] dgozman commented on #12973
I think this is #12974. Actually closes after a minute, and only with inspector window on MacOS. Updating to v1.20.1 should fix the issue. Thank you for filing!

[2022-03-23 21:53] #12973 closed

[2022-03-23 21:55] dgozman commented on #12975
@maxibri Could you please share more details? What is the page url you use in `page.goto()`? Looking at the screenshot, it is `https://localhost:3000`, and I guess it should not be? Sharing the config/test would be ideal, so we can reproduce the issue locally.

[2022-03-23 21:58] dgozman commented on #12976
You can specify `url` instead of `port` to ensure https is ready. That said, it will probably fail with SSL certificate error as you expect.

[code]

[2022-03-23 22:14] dgozman commented on #12977
Closing in favor of #8114.

[2022-03-23 22:14] #12977 closed

[2022-03-23 22:37] str0zzapreti commented on #12974
100% fixed on python-playwright 1.20.1. Thanks much!

[2022-03-23 22:48] wanghaisheng opened #13012 "[BUG] xpath css selector all dont work"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-03-23 22:50] #12808 closed

[2022-03-23 23:02] ltsuda commented on #13012
Locator is not async, so there's no need `await`. Also, to get the number of elements found using the Locator API, use the `.count()` method.

https://playwright.dev/docs/locators
https://playwright.dev/docs/api/class-locator#locator-count

[code]

[code]

[2022-03-23 23:21] tdNelsonPires opened #13014 "[Question] How to get the context of a browser window that is opened by the electron app?"
Hi team,

I'm struggling a bit in finding a way to get the context of a browser window that my electron application triggers to do a Login.

[code]

Any help? 🙏

[2022-03-23 23:21] dgozman commented on #12990
I see that test imports `fixtureHandler` that imports the model: https://github.com/hungdao-testing/playwright/blob/main/src/tests/fixtureHandler.ts#L3, so working as expected.

[2022-03-23 23:29] dgozman commented on #13012
Thank you @ltsuda!

[2022-03-23 23:29] #13012 closed

[2022-03-23 23:33] dgozman commented on #13014
@tdNelsonPires Do you need to have a handle to the second opened window? [Documentation](https://playwright.dev/docs/api/class-electronapplication#electron-application-wait-for-event) suggests:

[code]

[2022-03-23 23:37] aslushnikov commented on #12730
@dz1dz1on the `crop` option is identical to our [`clip` option](https://playwright.dev/docs/next/api/class-page#page-screenshot-option-clip)

Additionally:
- you can use both `mask` and `clip` options
- you can also use [`locator.screenshot()`](https://playwright.dev/docs/next/api/class-locator#locator-screenshot) to take a screenshot of the element you like. `mask` is also supported there

[2022-03-23 23:54] dfdumaresq opened #13015 "[BUG] page.pause() not working in VSCode"
**Context:**
- Playwright Version: 1.20.1
- Operating System: Mac
- Node.js version: v14.17.3
- Browser:All
- Extra: Typescript, VS Code
Version: 1.65.2 (Universal)
Commit: c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1
Date: 2022-03-10T14:33:49.188Z (1 wk ago)
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 21.3.0

**Code Snippet**

[code]

`$ npx play

[2022-03-24 00:38] dgozman commented on #12962
@liamdebeasi Thank you for filing the issue!

The behavior you describe is expected. Full page screenshots do not expand any scrollable container in the page. Instead, they render the full scrollable content of the document itself. In your case, document is of the fixed size, but happens to have a scrollable container that has a lot of content.

Note that you should be able to screenshot the [cont

[2022-03-24 00:48] dgozman commented on #13015
This works for me with VSCode Version 1.65.2 on macOS. The test is paused, I see the Playwright Inspector window and can successfully resume. Perhaps something's up with your VSCode setup?

[2022-03-24 01:07] dgozman commented on #12964
@joshuacc Model B is almost exactly how it works. When you say "on the next turn of the event loop", that's not entirely accurate though. Checking something in the page involves going to the other OS process (browser process vs playwright's node process), so the check is very much asynchronous as well. This also means that going to the Model A is impossible, because the very first iteration of che

[2022-03-24 02:02] tdNelsonPires commented on #13014
@dgozman thanks for the quick response.
I've tried that before, but it doesn't work in this case. The window I'm talking about is a window on the chrome browser, it's not another electron window.

[code]

[2022-03-24 02:26] dfdumaresq commented on #13015
Hmm, thanks! - I see that it does work with VS Code Insiders v1.66.0. But I've disabled all extensions, closed the workspace. Any suggestions on ways to reset/initialize/clear caches? in vscode?

[2022-03-24 02:48] hungdao-testing commented on #12990
Thanks for spotting it @dgozman . Just would like to why Playwright jumps into model file and get confused by it although I already set the testMatch is `.spec.ts` (playwright config), and think the other `.ts` are compiled/understood by ts-node / or internal Playwright typescript

[2022-03-24 05:28] hungdao-testing opened #13022 "[BUG] baseURL doesn't attach to request API"
**Context:**
- "playwright": "^1.20.0",
    "typescript": "^4.5.5"
- Operating System: Window 11
- Node.js version: 14.18

**Code Snippet**

![image](https://user-images.githubusercontent.com/51052135/159847773-7cb86ebc-372d-40f3-88de-42394eefa24d.png)

As the image above, the post method is called without `baseURL` and causes 404 error although I see the baseURL is loaded in debug mode (the left-

[2022-03-24 05:34] Nhc007 commented on #12932
@haramchang We also faced that issue while interacting with iframes elements, but we fixed that by switching to iframe first, and use it as active frame. Hope so this will fix the issues.

''

[2022-03-24 05:39] Nhc007 commented on #12988
@mxschmitt We also faced that issue while interacting with iframes elements, but we fixed that by switching to iframe first, and use it as active frame and then just normally interact with it but do remember that, once you are done with interacting with iframe change the activeFrame back to page. Hope so this will fix the issues.

[2022-03-24 05:57] FrankWizard opened #13024 "[Question] 'playwright' is not recognized as..."
When I tried to download playwright everything went smoothly until I executed `playwright install`
It threw this error: `'playwright' is not recognized as an internal or external command,
operable program or batch file.`
Any help on what should I do?

[2022-03-24 06:37] tscislo commented on #12976
It fails with SSL cert errors with url param just as you mentioned. **Expected behavior is to add option to ignore ssl cert errors and keep checking if the dev server is running or not.**

[2022-03-24 06:50] shahiakriti opened #13025 "[Question] Playwright test acts differently in headless mode."
Hi guys,

I am trying to automate a program with dragging and dropping using the dragTo() function in playwright. My tests work fine when I run them in headed mode but no dragging and dropping happens when I run it headless mode. Any idea as to what is causing this issue?

thanks!

[2022-03-24 06:52] hungdao-testing commented on #13024
Could you try command `npx playwright install` at the root project folder

[2022-03-24 07:16] warmrobot opened #13026 "[Question] How to set up junit correctly in gitlab?"
Hey!
We use 3 reporters configured like this.
[code]

and

[code]
The HTML reporter works great. I see screenshots in the report. But I don't understand how to set up junit correctly, there are no screenshots in his report in the gitlab interface. I would be very grateful for help

[2022-03-24 07:17] mxschmitt commented on #13024
I guess you are using Python? Or which language binding are you using?

If your PIP is configured correctly inside the `PATH`, then this works out of the box: `playwright install` if not `python -m playwright install`.

[2022-03-24 07:19] #12922 closed

[2022-03-24 07:23] dz1dz1on commented on #12730
@aslushnikov Thanks. It will help for sure.

[2022-03-24 07:25] wanghaisheng commented on #13012
@ltsuda
sir  for iterating list ,why it tell me get attribute is not a function
    // <a href="/shop/date/2020-08-29"
    const filename = await yuefen.nth(i).get_attribute('href').split('/')[-1]

[2022-03-24 07:45] creage commented on #11143
@jwalakom well, you can zip your attachments and download them using PowerShell task in your pipeline, and then publish them wherever you want. You can't attach your logs per test result, but you'll have them all available at least.

[2022-03-24 07:57] maxibri commented on #12975
Hi @dgozman,
inside my `*.spec.js` files i'm using the `beforeEach()` hook with HTTP:
[code]

Webkit also routes correctly to `http://localhost:3000`, but then tries to load the assets with HTTPS
![image](https://user-images.githubusercontent.com/68642402/159868796-41bc664e-c844-436d-af84-65bc4e4a206a.png)

[2022-03-24 08:17] Camo30 commented on #11143
Any news about this issue? I would highly appreciate a TRX reporter for Playwright.

[2022-03-24 08:28] tmarenko commented on #10700
@pavelfeldman
any chances that you could review this again?

[2022-03-24 09:10] dgattey opened #13027 "[BUG] page.goto: NS_ERROR_NET_TIMEOUT in Firefox"
**Context:**
- Playwright Version: 1.2.0
- Operating System: Linux ubuntu-20.04
- Node.js version: 16
- Browser: Firefox
- Extra: Run via Github Action off the Docker image provided by Playwright

**Code Snippet**

It's a full test suite that's causing problems, and ONLY on CI, so it's pretty difficult to provide a short code snippet here. This Github Action run however shows the bug happening! ht

[2022-03-24 09:12] dgattey commented on #13027
The login code mentioned can be found here: https://github.com/shopcanal/e2e-tests/blob/dgattey/fixes/helpers/login.ts

The tests that fail are more often these, but can be anything that tries a `goto` in `test.beforeEach`: https://github.com/shopcanal/e2e-tests/blob/dgattey/fixes/tests/supplier/navigation.spec.ts

[2022-03-24 09:22] ritz078 opened #13028 "[Feature] Single cross platform snapshot for non-image content"
As [mentioned in the documentation](https://playwright.dev/docs/test-snapshots), we can use `.toMatchSnapshot` to create snapshots of text and other content types. In those scenarios, I am aware that the content isn't going to be different on different platforms. In those cases, it becomes helpful if we have a single snapshot for all browsers and operating systems.

[2022-03-24 09:30] dgattey commented on #13027
with `pw:api`, I'm getting this - not much use to indicate why the goto is failing.
[code]

[2022-03-24 10:11] #12736 closed

[2022-03-24 10:15] amrsa1 opened #13029 "[FEATURE] Provide a way to get the test status after all workers are done"
I want to execute a function in the tear down only if the test is failed/passed, is there any func/ fixture that can be passed that will return the test status after all workers?

i.e
[code]

[2022-03-24 10:37] paunovic commented on #5305
Can confirm this still happens in some of our tests, approximately 1/20 test runs fails with such error.