[2021-12-01 01:50] #10536 closed

[2021-12-01 01:53] pavelfeldman commented on #10616
This typically means that you have several (conflicting) versions of Playwright installed. Make sure that you only have one @playwright/test entry in your package.json and run `npm i`.

[2021-12-01 03:14] MartinP-Autopilot opened #10624 "[BUG] timeout in afterAll hook does not report which spec had the problem"
**Context:**
Playwright Version:1.16.2
Operating System: Windows and Linux
Node.js version: 14.17.3
Browser: Chromium

**Code Snippet**
Not sure which spec to provide the code snippet from

**Describe the bug**
I am currently running ~40 specs in CICD and one of them is causing the build to fail with the only reason "Timeout of 240000ms exceeded in afterAll hook" being printed to the console.  As

[2021-12-01 05:38] alisterscott opened #10627 "[REGRESSION]: Can no longer click Material UI select box"
**Context:**
- GOOD Playwright Version: 1.16.2
- BAD Playwright Version: 1.17.0
- Operating System: Mac and Linux

**Code Snippet**

[code]

shows errors now:

[code]

**Describe the bug**

This was working in playwright 1.16.x

Also, for some reason the HTML report locally doesn't show images or trace any more

[2021-12-01 07:02] tmazumder opened #10628 "I have to create report of my test suite in Jenkins pipeline, how can I do that"
Report as in Number of Test cases passed, failed, which Test cases failed, suite name and all

[2021-12-01 07:11] Nav-2d commented on #10628
You can use custom reporter: https://playwright.dev/docs/test-reporters#custom-reporters

[2021-12-01 08:15] denny99 commented on #10627
There is definitely a new behaviour in playwright 1.17.0.

In my case, i have a toast message above a button.
And when executing the click playwright does the following

[code]

The problem is, playwright thinks that the element is visible and moves the mouse to the button. Our toasts are automatically closed BUT when hovering them with the mouse, this mechanism is paused until the mouse leaves th

[2021-12-01 08:47] cat-ninja opened #10630 "[BUG] Non-expected symbols added to text/plain attachments"
**Context:**
- Playwright Version: 1.17
- Operating System: Mac OS
- Node.js version: 16.3
- Browser: Chromium

**Code Snippet**
[code]

**Describe the bug**
I'm trying to add an attachment with `contentType: 'text/plain'` to my html report.
The problem I'm seeing is there are some additional symbols added to my string:
![telegram-cloud-photo-size-2-5275988481706931671-y](https://user-images.githu

[2021-12-01 08:56] thomascube opened #10631 "[BUG] HTTP requests to localhost not going through proxy with Chrome"
**Context:**
- Playwright Version: 1.16.3
- Operating System: Mac and Linux
- Node.js version: v12.20.0
- Browser: Chromium
- Extra: Proxy configuration to test with OWASP

**Code Snippet**

I'm setting the proxy options in the `use` section of `playwright.config.js` like this:

[code]

**Describe the bug**

When running playwright with a simple Angular application that is served from `localhost:4

[2021-12-01 09:03] AlexKomanov opened #10632 "[BUG] Playwright 1.17.0 -> After clicking the element - I get an error that click action was failed"
**Context:**
- Playwright Version: 1.17.0
- Operating System: Windows
- Node.js version: 14.6
- Browser: Chrome

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

After switching to the **1.17.0** version - I sometimes get errors in the click action.
In the version of **1.16

[2021-12-01 09:15] Amrkamel1 commented on #10510
@dgozman  some times we have like hundreds of test cases running them locally is a bit hard from the machine, but we still need to run them in parallel against our servers during CICD, so instead of keeping manually changing the the describe block to describe. parallel was thinking passing a flag in command running in the pipeline would be a better solution

[2021-12-01 09:23] Amrkamel1 opened #10633 "[BUG] Unable to interact with visible element"
**Context:**
- Playwright Version: 1.16.2
- Operating System: MaC
- Node.js version: 14
- Browser: CHROME
- Extra: [any specific details about your environment]

**Code Snippet**

    get editIcon() { return this.page.locator('(//li[text()="Edit"])[1]') }

    async clickOnEditIcon(feature: string) {
        await this.editIcon.click()
        return this;
    }

<img width="830" alt="Screenshot 2

[2021-12-01 09:27] ChristofFritz commented on #8114
It would be really helpful to be able to emulate the copy & paste events on document level. Currently we can't test this behavior in our app because playwright won't trigger the copy & paste events on document level when pressing 'Meta+C' / 'Meta+V'

[2021-12-01 09:30] alisterscott commented on #10632
I think this is the same regression reported here: https://github.com/microsoft/playwright/issues/10627

[2021-12-01 09:31] alisterscott commented on #10627
I think this has since been reported here: https://github.com/microsoft/playwright/issues/10632

[2021-12-01 09:36] AlexKomanov commented on #10632
@alisterscott
Looks like you are right. :)

[2021-12-01 09:39] ngocthuan1208 opened #10634 "[BUG] Record IOS device on docker, It does not capture correctly."
The playwright cannot record whole screen 'iphone xr' when running on docker

But when running on local machine (macos), it recorded correctly, the whole screen displayed successfully.

Is there any configuration when running on docker that I need to input???

`browser.newContext({
    acceptDownloads: true,
    recordVideo: process.env.PWVIDEO
      ? { dir: `playwright/results/videos/${featureFi

[2021-12-01 10:02] vincenzo-gasparo opened #10635 "[BUG] Test step dynamic generation issue"
**Context:**
- Playwright Version: 1.17.0
- Operating System:  MacOS 12.0.1
- Node.js version: 16.13.0
- Browser: All

**Code Snippet**

[code]
**Bug Description**
I'm trying to generate test steps dynamically from an array of values, the output  is not what I expected, all the generated test steps are nested recursively one into each other. I'm expecting test steps to be nested inside the main te

[2021-12-01 10:02] mxschmitt commented on #10630
This seems related to / duplicate of #10076.

[2021-12-01 10:49] mdemenko opened #10636 "[BUG] Drag&Drop doesn't work in 1.18"
**Context:**
- Playwright Version: [1.17.0]
- Operating System: [Windows 10]
- Node.js version: [16.13.0]
- Browser: [Chromium]

**Code Snippet**

import test from '@playwright/test';

test('Example test', async ({page}) => {
    const originSelector = ".dx-command-drag >> nth=1"
    const targetSelector = ".dx-command-drag >> nth=3"
    await this.page.dragAndDrop(originSelector, targetSelector)}

[2021-12-01 11:06] mdemenko commented on #10624
It's very inconvenient: basically any information in console or trace log if beforeAll and afterAll hooks were failed. Just general timeout error.

[2021-12-01 11:23] mxschmitt commented on #10615
It should be fixed now. (We added wget, we'll follow-up then with the actual fixes when there are no package-lists available)

[2021-12-01 11:28] Kremliovskyi opened #10638 "[BUG] Locator.click -> subtree intercepts pointer events since version 1.17.0"
**Context:**
- Playwright Version: [1.17.0]
- Operating System: [Windows, Linux]
- Node.js version: [v16.13.0]
- Browser: [Chromium]

**Describe the bug**
![image](https://user-images.githubusercontent.com/12884831/144224672-dfce17dd-95f2-47d6-8dd0-815501749c2f.png)
I am clicking on this div with  data-test-id="Purpose" to open
![image](https://user-images.githubusercontent.com/12884831/144226121-

[2021-12-01 11:44] songyuantai opened #10639 "[BUG]frame click function resolve the promise when that click function finish which is too late"
**Context:**
- Playwright Version: [1.17.0]
- Operating System: [Windows]
- Node.js version: [14.17.5]
- Browser: [Chromium]
- Extra: [any specific details about your environment]

C:\Program Files\nodejs\node.exe .\app.js
(node:24236) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'click' of null
    at d:\JjPolice\JjPolice.Mei\main\mei_test\app.js:31:5
    at runNextTicks (int

[2021-12-01 11:50] dshaplyko commented on #10638
I'm having almost the same issue starting from version 1.17.0.
Previously I used 1.17.0-next-alpha-nov-5-2021 and everything was correct.

![Screenshot 2021-12-01 at 14 47 43](https://user-images.githubusercontent.com/4024495/144229389-04159b78-eb60-4a74-8d47-fe4dec5ba8c6.png)

[2021-12-01 11:54] thomascube commented on #10631
Great, with that option it now works! Thanks a lot for your help.
Would it be worth to mention that trick somewhere in the [docs](https://playwright.dev/docs/api/class-testoptions#test-options-proxy)?

[2021-12-01 12:03] ltsuda commented on #10615
Thanks for the quick fix, but I found a dependency issue while installing chrome.

[code]

[2021-12-01 12:05] saivarma576 commented on #10616
- In my package.json I had only one @playwright/test and also I update with NPM i

![image](https://user-images.githubusercontent.com/67151480/144231519-548d21aa-a3d9-4d99-ba80-85535fe6ba9d.png)
- global playwright also uptodated
![image](https://user-images.githubusercontent.com/67151480/144231083-addebaf3-8fb2-4335-82e4-7dd84a7741ee.png)

[2021-12-01 12:22] mxschmitt commented on #10615
This can be fixed by calling `apt-get update` beforehand. Sorry for the troubles.

[2021-12-01 12:39] mxschmitt opened #10641 "[Regression] Actions result in `subtree intercepts pointer events` in 1.17.0 meta-bug"
- https://github.com/microsoft/playwright/issues/10636
- https://github.com/microsoft/playwright/issues/10632
- https://github.com/microsoft/playwright/issues/10638
- https://github.com/microsoft/playwright/issues/10627

Caused by https://github.com/microsoft/playwright/commit/61ff52704c3980ab42e8ebb8ea301708420f2066

[2021-12-01 12:56] ltsuda commented on #10615
Cool, that worked.  I will leave for you to close as there's a PR linked.

Thanks again and no problem from my side as I'm only using to update my study repo :)

Just to show the Dockerfile I'm using.

[code]

[2021-12-01 13:30] tymfear opened #10642 "[BUG] Chromium binary is not signed"
**Context:**
- Playwright Version: [what Playwright version do you use?]: 1.17
- Operating System: [e.g. Windows, Linux or Mac]: MAc
- Node.js version: [e.g. 12.22, 14.6]: 14.17.0
- Browser: [e.g. All, Chromium, Firefox, WebKit]: Chromium
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we c

[2021-12-01 14:03] tymfear commented on #10642
Btw, I haven't checked other binaries as we currently don't use them, but if this is considered a fixable issue, then probably others should be signed as well.

[2021-12-01 14:11] s3naid commented on #10571
I would like to know how to handle this case?

In my own scenario where the only way to get dropdown is to use label above (there are multiple dropdowns).
[code]

This way I get parent `<div>` and then i click on dropdown inside it.

So I have something like this:
`const loc = await page.locator('*css=.dropdown-holder >> text=Select Item').elementHandle()`
and the in the next line:
`await ( await

[2021-12-01 14:17] Kremliovskyi opened #10643 "[BUG] Html report is opening despite option open: "never""
**Context:**
Playwright Version: [1.16.3]
Operating System: [Windows]
Node.js version: [v16.13.0]
Browser: [Chromium]

[code]

**Describe the bug**

Whenever test fails playwright automatically opens html report in browser despite option  open: "never" both ih headless and headful mode.

[2021-12-01 14:18] mxschmitt commented on #10643
You need to upgrade to Playwright v1.17.0 to use this feature.

[2021-12-01 14:23] Kremliovskyi commented on #10643
@mxschmitt Thank you, it is working in 1.17.0, but 1.17.0 is bugged for now. May I ask you whether it is possible to make video in html report scrollable ? Should I report as a feature or it is impossible to do so?

[2021-12-01 14:29] CapsE opened #10645 "[BUG] setDefaultNavigationTimeout is overriden by globalTimeout"
**Context:**
## System:
 - OS: Linux 5.11 Ubuntu 20.04.3 LTS (Focal Fossa)
 - Memory: 648.62 MB / 15.32 GB
 - Container: Yes
## Binaries:
 - Node: 14.17.0 - ~/.nvm/versions/node/v14.17.0/bin/node
 - Yarn: 1.22.10 - ~/.nvm/versions/node/v14.17.0/bin/yarn
 - npm: 6.14.13 - ~/.nvm/versions/node/v14.17.0/bin/npm

playwright.config.js
[code]

timeout-test.spec.js
[code]

express-server.js
[code]
The te

[2021-12-01 14:38] Kremliovskyi commented on #10643
Will open feature request. Closing this ticket.

[2021-12-01 14:38] #10643 closed

[2021-12-01 14:39] AlexKomanov opened #10646 "[BUG] Installation from package.json that contains playwright 1.16.3 version installs 1.17.0 ?"
**Context:**
- Playwright Version: 1.16.3
- Operating System: Windows
- Node.js version: 14.6

**Code Snippet**

[code]

**Describe the bug**

It looks like the installation from the package.json file contains a dependency version of 1.16.3 - actually triggers the installation of the 1.17.0 version:

![image](https://user-images.githubusercontent.com/52656401/144254266-d5159983-b8bd-4bef-87cd-901a

[2021-12-01 14:41] Kremliovskyi opened #10647 "[Feature] Make video rewindable in Html report"
It would be convenient to rewind video back and force to see the issue. Now it is required to download video to do so. Allure report support this, would be nice to have it in Html report.

[2021-12-01 15:02] mxschmitt commented on #10647
Seems like a duplicate of #10333. Could you please install `npm install @playwright/test@next`? Thanks!

[2021-12-01 15:04] dgozman commented on #10632
@AlexKomanov Could you please share a trace file with us? You can send it to dgozman [at] microsoft [dot] com if you'd like.

[2021-12-01 15:05] dgozman commented on #10636
@mdemenko Could you please share a trace file with us? You can send it to dgozman [at] microsoft [dot] com if you'd like. See here for recording a trace: https://playwright.dev/docs/trace-viewer#recording-a-trace.

[2021-12-01 15:06] dgozman commented on #10638
@Kremliovskyi Could you please share a trace file with us? You can send it to dgozman [at] microsoft [dot] com if you'd like. Here are instructions to record a trace: https://playwright.dev/docs/trace-viewer#recording-a-trace.

[2021-12-01 15:07] dgozman commented on #10627
@alisterscott Could you please share a trace file with us? You can send it to dgozman [at] microsoft [dot] com if you'd like. Here are instructions to record a trace: https://playwright.dev/docs/trace-viewer#recording-a-trace.

[2021-12-01 15:09] dgozman commented on #10510
@Amrkamel1 We usually suggest to alter your config for CI vs local run, so that you don't have to twiddle with command line args. For example, mark tests as `describe.parallel` and configure the number of workers differently:

[code]

Does that work for you?

[2021-12-01 15:12] Amrkamel1 commented on #10510
Yes im currently im using this way, it will run test suite in parallel but not test cases.

[2021-12-01 15:13] mxschmitt commented on #10646
This is how NPM works. If you don't pin the dependencies with `=`, use `npm install` or don't have a `package-lock.json` it will use the latest version which satisfies the given range from the `package.json`.

In your scenario you might want `npm ci` instead. See here: https://docs.npmjs.com/cli/v8/commands/npm-ci/

[2021-12-01 15:24] AlexKomanov opened #10648 "[Question] Is there way to iterate the Locator elements?"
Hi all,

I would like to iterate the Locator elements while using the 'of' operator.
For example, if I found several same elements with a page.locator function - is there way to check each of them through the loop iteration:
[code]
Seems like it is not possible with Locator elements and can be very useful!

[2021-12-01 15:36] AlexKomanov commented on #10632
@dgozman
Sent you to :
dgozman@microsoft.com

Please check.

[2021-12-01 16:11] ltsuda commented on #10648
`let arrayOfLocators = page.locator('element);` doesn't evaluate all items at this moment

Maybe you could do:

[code]

I didn't test myself, I don't know a better way of doing this at this time.

[2021-12-01 16:18] AlexKomanov commented on #10648
@ltsuda
I tested it in the past.
If I remember - it can be a little problem with this option due to the asynchronous methods of Playwright vs synchronous of the for loop.

[2021-12-01 16:22] ltsuda commented on #10643
@Kremliovskyi do you mean select the video playback time? like selecting/clicking at the video progressbar?

If so, it's duplicated with
https://github.com/microsoft/playwright/issues/10647#issuecomment-983727490 -> https://github.com/microsoft/playwright/issues/10333

[2021-12-01 16:34] pavelfeldman commented on #10648
If your list is static, you can do the iteration as suggested above. If your list is dynamic, depending on your expectations, your could do locator.evaluateAll and atomically process all elements on the page side.

[2021-12-01 16:37] pavelfeldman commented on #10645
You specified timeout: 2000 in your config. If the test is taking more than 2 seconds, it is now terminated, no matter what you do inside that test.

[2021-12-01 16:39] pavelfeldman commented on #10642
If you need a signed binary, you can use one of the official browsers: Google Chrome or Microsoft Edge. Set the channel property in your test config or when you are launching the browser to 'chrome' or 'msedge' and it will use the local branded version.

[2021-12-01 16:40] Kremliovskyi commented on #10638
@dgozman I have sent you an email with trace file.

[2021-12-01 16:46] pavelfeldman commented on #10638
@Kremliovskyi could you confirm that running the test with the following environment variable `PLAYWRIGHT_NO_LAYOUT_SHIFT_CHECK=1` resolves the issue?

[2021-12-01 16:47] pavelfeldman commented on #10636
@mdemenko could you confirm that running the test with the following environment variable `PLAYWRIGHT_NO_LAYOUT_SHIFT_CHECK=1` resolves the issue?

[2021-12-01 16:48] pavelfeldman commented on #10632
@AlexKomanov: could you confirm that running the test with the following environment variable PLAYWRIGHT_NO_LAYOUT_SHIFT_CHECK=1 resolves the issue?

[2021-12-01 16:49] pavelfeldman commented on #10627
@alisterscott: could you confirm that running the test with the following environment variable PLAYWRIGHT_NO_LAYOUT_SHIFT_CHECK=1 resolves the issue?

[2021-12-01 16:49] #10641 closed

[2021-12-01 16:50] pavelfeldman commented on #10635
You did not await test.step.

[2021-12-01 16:50] #10635 closed

[2021-12-01 17:06] pavelfeldman commented on #10638
We will bake 1.17.1 with this mode `off` right away.

[2021-12-01 17:21] #10620 closed

[2021-12-01 17:22] Kremliovskyi commented on #10638
Really appreciate your dedication and speed.

[2021-12-01 17:25] mxschmitt commented on #10647
Closing then, since it's fixed and gets released in 1.18 next month.

[2021-12-01 17:25] #10647 closed

[2021-12-01 18:25] AlexKomanov commented on #10632
@pavelfeldman
Yes, the mentioned helped as well.

![image](https://user-images.githubusercontent.com/52656401/144291915-b7bea102-6635-45e8-b8ca-cc0eab22cb38.png)

[2021-12-01 19:05] viponedream commented on #10567
import asyncio
import requests
from playwright.async_api import async_playwright

username = 'usertestme888'
password = 'usertestme888'
ip = '47.241.238.22'
port = '2333'

async def mytest():

    url = 'http://httpbin.org/ip'

    proxies = {
        'http': f'socks5://{username}:{password}@{ip}:{port}',
        'https': f'socks5://{username}:{password}@{ip}:{port}'
    }

    res = requests.get(

[2021-12-01 19:27] stevemu commented on #7066
I managed to get the path alias working with `module-alias`:

[code]

[2021-12-01 19:33] pavelfeldman commented on #10639
[code]

I don't see the `name` argument here.

[2021-12-01 19:57] pavelfeldman commented on #10438
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2021-12-01 19:57] #10438 closed

[2021-12-01 19:58] pavelfeldman commented on #10504
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2021-12-01 19:58] #10504 closed

[2021-12-01 22:15] dgozman commented on #10624
@mdemenko I believe that `beforeAll` hook timeout is correctly attributed to the test file. If that's not the case, could you please provide a sample test?

[2021-12-01 22:16] AlexKomanov commented on #10648
@pavelfeldman
But in case of the locator.evaluateAll - each element will not be of a Locator type. Is any way to iterate with every Locator element in the array?

[2021-12-01 22:35] alisterscott commented on #10627
@pavelfeldman

yes this works

[2021-12-01 22:37] alisterscott commented on #10627
@dgozman

Emailed just now

[2021-12-01 22:52] dgozman commented on #10627
Thank you, this will be fixed in v1.17.1 by #10653.

[2021-12-01 22:52] #10627 closed

[2021-12-01 22:53] dgozman commented on #10632
Thank you, this will be fixed in v1.17.1 by #10653.

[2021-12-01 22:53] #10632 closed

[2021-12-01 22:53] dgozman commented on #10638
Thank you, this will be fixed in v1.17.1 by #10653.

[2021-12-01 22:53] #10638 closed

[2021-12-01 23:13] yury-s commented on #10508
@AdrianNeatu we need a repro to act on this, there is a crash in webkit which is triggered by some code in your script but it's hard to tell by looking at the screenshots where it is failing.

[2021-12-02 00:37] jithinjosejacob opened #10657 "[BUG] JavaScript Alert is getting closed while debugger is open"
**Context:**
- Playwright Version: 1.15
- Operating System: Mac
- Node.js version: 16.11.1
- Browser: Chrome
- Extra: [any specific details about your environment]

**Code Snippet**

https://www.loom.com/share/979a5e034104438cabbde21f2b4dedad

Loom video attached

**Describe the bug**

_**2 Issues can be observed here**_

1) A new chrome window is getting opened while clicking on debugger

2) Js A

[2021-12-02 00:40] Nav-2d commented on #10657
First one is similar to this: https://github.com/microsoft/playwright/issues/9434

[2021-12-02 00:51] jithinjosejacob commented on #10657
See video while doing the same actions as a user
https://www.loom.com/share/34ec3c2e5667488eb08c79aa41162f7c

[2021-12-02 01:27] bing127 opened #10660 "当我上传文件过大，浏览器关闭"
当我上传文件过大，浏览器关闭，但是我这边测试上传10mb的文件却正常运行，这是什么问题呢

错误信息如下：
could not send message to server: Protocol error (Runtime.callFunctionOn): Target closed.

[2021-12-02 01:43] DoubleSlashDesign2 commented on #2117
I have also confirmed the same behavior in Playwright.net

However I have additional details,
You are always able to interact with the First item in the collection or as Array or even converting it using GetEnumerator()

Item 0 or the first item always returns an object.
Item 1 and all others will return null.

[code]

[2021-12-02 01:45] pavelfeldman commented on #10660
Looks like a dupe of https://github.com/microsoft/playwright/issues/3768.

[2021-12-02 01:45] #10660 closed

[2021-12-02 01:53] DoubleSlashDesign2 opened #10663 "[BUG] Cannot QuerySelectorAsync when the QuerySelectorAllAsync selector is a set of elements"
**Context:**
- Playwright Version: [1.17.0 and 1.17.1]
- Operating System: [Windows]
- Playwright .net CSharp C#
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [.net core 5, windows 11]

**Code Snippet**

You are always able to interact with the First item in the collection or as Array or even converting it using GetEnumerator().
I can see that there are 18+ results but can not access a

[2021-12-02 03:18] songyuantai commented on #10639
okay, i create a compelely exsample for u in there `https://github.com/songyuantai/my_playwright_test.git`
result is there
`C:\Program Files\nodejs\node.exe .\index.js
Server running at http://127.0.0.1:8000/
index.js:21
false
index.js:40
(node:20772) UnhandledPromiseRejectionWarning: frame.click: Timeout 30000ms exceeded.
=========================== logs ===========================
waiting for se

[2021-12-02 04:03] #10639 closed

[2021-12-02 06:05] A-ZC-Lau opened #10667 "[Question] How to drag and drop files"
How do I write a drag and drop action with a file?

There's an example in the docs that I don't understand

[code]

How do I select a file to drag and drop?

[2021-12-02 06:37] AlexKomanov commented on #10646
@mxschmitt
Thank you!

[2021-12-02 06:37] #10646 closed

[2021-12-02 06:39] AlexKomanov commented on #10632
@dgozman  @pavelfeldman
Do I need to change something back with the environment variable that you asked to change?

[2021-12-02 06:45] rwoll opened #10668 "[BUG] https://playwright.dev/ is defaulting to an old version"
**Context:**
- Chrome Latest Stable, macOS

**Describe the bug**

https://playwright.dev/ is defaulting to an old version (1.15) (unless I manually change it). If I open an incognito tab, it is correctly pointed at 1.17 by default. Looks like there's some "sticky" state that I would not expect. See screenshots:

<img width="854" alt="Screen Shot 2021-12-01 at 10 40 27 PM" src="https://user-images.

[2021-12-02 06:46] rwoll commented on #10668
The top photo is default chrome user profile, the second is incognito window.

[2021-12-02 07:03] TimeInvestor opened #10669 "[BUG] [HTML Reporter] when a test is skipped, it should provide information on why it is skipped"
I am using playwright 1.17.1.
First of all, thanks for improving the HTML Reporter a lot in this version.

One thing I found out can be improved is that when a test is skipped, it gives no reason or details at all for that skipped test.
Refer to screenshots:
![screenshot_20211202145220](https://user-images.githubusercontent.com/4818798/144373460-55656554-a46f-4e7e-929a-1e6b6883abed.png)

---

![sc

[2021-12-02 07:08] rwoll commented on #10631
@mxschmitt do you want me to re-open this MR and with just the doc edits? https://github.com/microsoft/playwright/pull/8245

I'd even go further, if PW team doesn't think it would break anyone, to auto add the special loopback bit by default behind the scenes. This one bit me too!

[2021-12-02 08:11] mdemenko commented on #10636
I've checked with this variable. Issue isn't reproducible.

[2021-12-02 08:47] metalcamp commented on #10645
What if you set

[code]

in the test itself? Would that solve the issue?

[2021-12-02 09:01] Amrkamel1 commented on #10633
@pavelfeldman

clicking on the highlighted icon should show a small menu

<img width="1440" alt="Screenshot 2021-12-02 at 09 58 21" src="https://user-images.githubusercontent.com/32042806/144390146-596e8e60-19f0-4fbf-8e38-2f1413325f91.png">

the small menu is displayed but unable to interact with any element inside it, however, it exists in the dom

<img width="1440" alt="Screenshot 2021-12-02 at

[2021-12-02 10:15] AndyGBC commented on #10638
This also appears to have fixed our very similar issue, thanks :)

[2021-12-02 10:36] Yurii397 commented on #10594
@mxschmitt  hey,

Any ideas on how it can be fixed now?

Thanks

[2021-12-02 10:41] mstred commented on #4785
Same thing here. @DJ-Glock, did you manage to have it fixed somehow?

[2021-12-02 10:44] mxschmitt commented on #10668
Yeah docusaurus saves which version you selected the last time, see here when it got introduced: https://github.com/facebook/docusaurus/pull/3543

[2021-12-02 12:10] Yurii397 commented on #10594
@mxschmitt @pavelfeldman,

I put 'executablePath' into  lunch options
![image](https://user-images.githubusercontent.com/46851143/144419366-4a333e96-eacf-41bb-bd1d-c6d93c435ad3.png)
but it looks crashes somewhere before/while initialization

[2021-12-02 13:31] AlexKomanov commented on #10633
@Amrkamel1
You get the violation error.
It is because you are trying to use a locator element that finds more than one matching element.
https://playwright.dev/docs/api/class-locator

[2021-12-02 14:14] tymfear commented on #10642
Hmm, we rely on PW provided browsers. But ok, we got a workaround.
Just out of curiosity is it somehow complicated thing to sign binaries? Never did that so have no idea what it takes to do it.

[2021-12-02 14:30] dialex opened #10671 "[BUG] Async nightmare"
**Context:**
- Playwright Version: 1.16.3
- Operating System: Windows 10
- Node.js version: 16.13.0
- Browser: Chromium

**Describe the bug**

I'm trying to write a test that fills a form (Stripe) and clicks a button. That's it... but the form is inside an iframe.

😡 Disclaimer: My first attempt was with Cypress, which doesn't support iframes natively. I was able to fill the form but the page free

[2021-12-02 15:07] Amrkamel1 commented on #10633
I have used index as well already  but still unable to interact with the element.

[2021-12-02 15:19] sqanatoliy opened #10672 "[BUG] The list of tests is not sorted according to the selected category: passed, failed, flaky"
**Context:**
- Playwright Version: [1.17.0-rc1]
- Operating System: [Windows 11]
- Node.js version: [v14.17.5]
- Browser: [ All]
- Extra: [the same problems I get using Gitlab CI]

The list of tests is not sorted according to the selected category: passed, failed, flaky
To see the tests of the selected category, you need to reload the page

https://user-images.githubusercontent.com/22426754/144450

[2021-12-02 15:30] sqanatoliy opened #10673 "[BUG] Sometimes the Flaky test does not show the step at which the test failed and does not show the steps to repeat the test"
Context:

Playwright Version: [1.17.0-rc1]
Operating System: [Windows 11]
Node.js version: [v14.17.5]
Browser: [ All]
Extra: [the same problems I get using Gitlab CI]

https://user-images.githubusercontent.com/22426754/144452223-1f92656f-2ff7-4c04-8059-4e47c50dc7fa.mp4

Sometimes the Flaky test does not show the step at which the test failed and does not show the steps to repeat the test

[2021-12-02 15:40] dgozman commented on #10632
@AlexKomanov If you have upgraded to 1.17.1, you can safely remove `PLAYWRIGHT_NO_LAYOUT_SHIFT_CHECK`, but it should be ignored anyway. Please let us know if something is broken.

[2021-12-02 15:41] dgozman commented on #10636
@mdemenko In this case, please upgrade to v1.17.1 and the problem should be gone. Please let us know whether it worked for you, and we'll close this issue.

[2021-12-02 15:42] dgozman commented on #10638
@AndyGBC If you could share a repro for the issue you had, that would be great! We'll be able to prevent similar breakages in the future.

[2021-12-02 15:43] dgozman commented on #10636
If you could share a repro with us, that would be great! We'll be able to prevent similar breakages in the future.

[2021-12-02 16:18] yavorski opened #10674 "[BUG/REGRESSION]: visible/hidden chromium"
**Context:**
- Playwright Version: 1.17.1
- Operating System: All
- Node.js version: 16.13.1 LTS
- Browser: Chromium, Firefox

----

Hi,

I think `getBoundingClientRect` api received some changes in the recent 97/98 versions of chromium.
Here is a failing test in chromium, but passing in firefox, it was also working fine with chromium 96.

[code]

Save the file as `test.js` and run with:

* `npx p

[2021-12-02 16:23] pavelfeldman commented on #10671
- Start with https://playwright.dev/docs/intro. It'll tell you how to install Playwright Test and write your first test. It'll take away all the hooks problems.
- Then visit https://playwright.dev/docs/input - it'll tell you how to fill forms

After that, your test will looks like this (it passes)

[code]

Run it

[code]

Or debug step by step

[code]

[2021-12-02 16:27] emakaay opened #10675 "[BUG] unable to create LocatorAssertions (missing class: "com.microsoft.playwright.assertions.PlaywrightAssertions.assertThat")"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows 8 64 bit
- Node.js version: 14
- Browser: included in playwright
- Extra: na

[code]

**Describe the bug**
I'm trying to use LocatorAssertions (as descibed on https://playwright.dev/java/docs/api/class-locatorassertions)
But i'm unable to find the required class "com.microsoft.playwright.assertions.PlaywrightAssertions.assertTha

[2021-12-02 16:39] DvDream opened #10676 "[Question] How to inherit multiple pages/contexts among fixtures and tests?"
Hi,

I have a test with multiple chained fixtures that run before the test execution. What I want to do is to execute the operations of these fixtures (and finally, of the test) on two pages belonging to two different contexts, one persistent and the other in incognito-mode.

Let's say the first fixture is doing a login operation with two different accounts, which I'd like to be done in these two

[2021-12-02 16:40] AlexKomanov commented on #10633
@Amrkamel1
Can you please share the trace of this scenario?

[2021-12-02 16:49] yury-s commented on #10675
As described [here](https://playwright.dev/java/docs/api/class-playwrightassertions#playwright-assertions-assert-that-locator) you need to add
[code]
The assertions are distributed in its own module.

[2021-12-02 16:49] #10675 closed

[2021-12-02 17:12] pavelfeldman commented on #10676
- you don't need to launch browsers for different contexts, `browser.newContext()` is enough.
- `your loggedIn` and `loggedIn2` should be of type Page, so instead of *****page1 you'll use `loggedIn` page.
- don't forget context.close() after await use

[2021-12-02 17:13] pavelfeldman commented on #10672
I can't repro it, could you open DevTools and paste errors from it here?

[2021-12-02 17:15] pavelfeldman commented on #10673
Same story here, it looks like reporter failed, could you paste errors from DevTools here?

[2021-12-02 17:22] sjpierobon commented on #4033
solution

Download chromium and create folders and place chromium 👍

==> (win32)  https://chromium.cypress.io/win/canary_asan/97.0.4666.1

dist\your_program\playwright\driver\package\.local-browsers\chromium-930007\chrome-win\chrome.exe

[2021-12-02 17:27] DvDream commented on #10676
Even if my contexts are of different nature (persistent and incognito mode)?  I think you mean on loggedIn2 where I define browser2, don"t you? But if I write browser.newContext(), where's browser defined?

Ok I will it and I will let you know!

[2021-12-02 17:33] pavelfeldman commented on #10674
Looks like a Chromium bug indeed:

data:text/html,<details><summary>click to open</summary><ul><li>hidden item 1</li><li>hidden item 2</li><li>hidden item 3</li></ul></details>

gives non-0 $0.getBoundingClientRect() on ul.

[2021-12-02 17:47] dtinth opened #10677 "[BUG] Test Reporter API: Property 'suite' does not exist on type 'TestCase'"
**Context:**
- Playwright Version: v1.17.1
- Operating System: Linux
- Node.js version: v14.17.6
- Browser: N/A
- Extra: GitHub Codespaces

**Code Snippet**

[code]

**Describe the bug**

The [Test Reporter API documentation states that a `TestCase` has a `suite` property](https://playwright.dev/docs/api/class-testcase#test-case-suite)

![image](https://user-images.githubusercontent.com/193136/144

[2021-12-02 17:48] emakaay commented on #10675
I missed that completely.

Thanks for that

On Thu, Dec 2, 2021, 17:49 Yury Semikhatsky ***@***.***>
wrote:

[2021-12-02 19:08] aaltat opened #10680 "[BUG] locator.focus() does not raise error if locator points to multiple elements with 1.17.0."
**Context:**
- Playwright Version: 1.17.0 and 1.16.3
- Operating System: Mac
- Node.js version: v14.16.0
- Browser: Chromium
**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
With version 1.16.3 above code raises error: `locator.focus: Error: strict mode violation: "//link" r

[2021-12-02 19:20] aaltat commented on #10680
Did retest with 1.17.1 release and result is same as in 1.17.0 release. In both version test passes, but fails (as expected) with 1.16.3 version.

[2021-12-02 19:46] shirshak55 opened #10681 "[BUG] Protocol Error"
**Context:**
- Playwright Version: ^1.17.1
- Operating System: Linux
- Node.js version: 17
- Browser: Firefox
- Extra: [any specific details about your environment]

Error when filling the form. frame.fill(selector, "")

[code]

The err is spurious.

[2021-12-02 20:29] DJ-Glock commented on #4785
@mstred unfortunately no.

[2021-12-02 20:44] tymfear opened #10683 "[Feature] Allow to evaluate scripts on frameLocator"
Let us know what functionality you'd like to see in Playwright and what your use case is.
We use PW to test MFEs that comes from SystemJS importmaps. There is a possibility to override importmap and serve local app as if it was deployed to server. So before test I need to apply the override which looks like the following
[code]
So I don't need an element for that, just a frame.
Currently I do some

[2021-12-02 21:04] #10674 closed

[2021-12-02 21:07] pavelfeldman commented on #10681
Is there a repro you could share?

[2021-12-02 21:35] kimchak opened #10686 "[Feature] Validation of cropped / clipped text"
Add a validation method that would detect if text is clipped like in the example below. Using bounding-box methods such as isIntersectionViewport from puppeteer does not help in this case, and the only way to work arround this is visual testing (comparing with a snapshot):

![image](https://user-images.githubusercontent.com/60241771/144506725-7cd4b92e-89ea-4801-bedc-2461dda84b13.png)

[2021-12-02 21:41] dgozman commented on #10677
@dtinth There is a mismatch indeed. It should be `TestCase.parent` - I'll update the docs.

[2021-12-02 21:42] pavelfeldman commented on #10667
You would be using Web APIs to create File objects and adding them into the datatransfer items, inside the first evaluate.

[2021-12-02 22:24] #10677 closed

[2021-12-02 22:43] pavelfeldman commented on #10489
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2021-12-02 22:43] #10489 closed

[2021-12-02 22:44] pavelfeldman commented on #10524
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2021-12-02 22:44] #10524 closed

[2021-12-02 22:44] pavelfeldman commented on #10528
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2021-12-02 22:44] #10528 closed

[2021-12-02 22:46] pavelfeldman commented on #10537
That depends on what exactly you are waiting for. For example, they can all appear as 'loading...' and only after some time turn into something sensible. That's why `await expect(locator).toHaveText(['Text 1', 'Text 2', 'Text 3']);` is considered the only reliable pattern when testing (as opposed to scraping). Tell us more about your use case!

[2021-12-02 22:46] pavelfeldman commented on #10541
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2021-12-02 22:46] #10541 closed

[2021-12-02 22:52] pavelfeldman commented on #10553
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2021-12-02 22:52] #10553 closed

[2021-12-02 22:55] pavelfeldman commented on #10567
Let's see if others upvote this.

[2021-12-02 22:56] pavelfeldman commented on #10571
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2021-12-02 22:56] #10571 closed

[2021-12-02 22:56] pavelfeldman commented on #10572
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2021-12-02 22:56] #10572 closed

[2021-12-02 22:56] pavelfeldman commented on #10575
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2021-12-02 22:56] #10575 closed

[2021-12-02 22:57] pavelfeldman commented on #10583
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2021-12-02 22:57] #10583 closed

[2021-12-02 22:58] pavelfeldman commented on #10584
You should not wait for the time, you should wait for elements:

[code]

[2021-12-02 22:58] #10584 closed

[2021-12-02 23:01] pavelfeldman commented on #10594
@Yurii397: It looks like original poster had a different problem than you. Could you file a new bug with the steps to reproduce your problem?

@luad1234: it looks like you are specifying invalid package version to pypi.

[2021-12-02 23:03] pavelfeldman commented on #10616
It could be that your cmd uses another version of Node, or resolves different Playwright via global node modules installation.

[2021-12-02 23:05] pavelfeldman commented on #10631
@rwoll: why didn't we do it last time? Looks like an ok thing to have by default.

[2021-12-02 23:07] pavelfeldman commented on #10642
I don't know if it is, but we've never been asked to before, so why bothering...

[2021-12-02 23:07] pavelfeldman commented on #10642
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2021-12-02 23:07] #10642 closed

[2021-12-02 23:08] pavelfeldman commented on #10645
There already are two suggestions, closing this as a part of triage.

[2021-12-02 23:08] #10645 closed

[2021-12-02 23:10] pavelfeldman commented on #10648
It would not fit the locators ideology. Locator is 'a way to locate an element'. Array of those would be artificial. evaluateAll would process DOM nodes, which is very powerful.

[2021-12-02 23:17] A-ZC-Lau commented on #10667
@pavelfeldman Can you provide an example?

[2021-12-02 23:52] lcpautotester commented on #10489
1.17 fixed the issue-- Thx

[2021-12-03 00:35] rwoll commented on #10631
@pavelfeldman didn't think enough people had hit it, since it just looked like me at that point hehe. Now that someone else hit it, let me add it 😀

[2021-12-03 01:13] mxschmitt commented on #4033
`npx playwright install` will fix it. For any further issues please file a new issue.

[2021-12-03 05:10] fawazahmed0 commented on #3768
I have rewritten the upload logic to use [puppeteer](https://github.com/fawazahmed0/libgen-uploader/commit/174ff6a98d6a5d1ce0b88e512787b09afeb22b8e#diff-ae84bbb0e4aa7ab005d470f37ae65474fefd6b86369b9d152222127359b96879) to fix the issue for me , not sure how puppeteer handles the upload process

[2021-12-03 06:04] nikolaristicc commented on #3768
It would be perfect if there is a way to change playwrights upload function with puppeteers one. Puppeteer has no limits when it comes to upload file size.

[2021-12-03 07:09] wangzyh opened #10692 "[BUG] Pressing F12 will cause the browser to close, when the browser is started with the `--single-process` parameter"
**Context:**
- Playwright Version: 1.14.0
- Operating System: Windows
- Node.js version: v14.18.1
- Browser: All

Startup parameters: --single-process

[2021-12-03 08:28] DvDream commented on #10676
Hi, some updates, I get this error now:

[code]

and my locator is the following:

[code]

which before modifying the page fixture to the Page-typed loggedIn(/loggedIn2) was perfectly working, what can be the problem?

[2021-12-03 08:31] Yurii397 opened #10693 "[BUG] browserType.launch: No executable path is specified. Pass "executablePath" option directly."
**Context:**
- Playwright Version: 1.16.3
- Operating System:  macOS Monterey Version 12.0.1 (21A559)
- Node.js version: 16.2.0
- Browser: Chromium,  but the same with others - Firefox, WebKit
- Extra:  uisng  "jest-playwright-preset": "1.6.0",  processor Intel, Comand Line Tool: Verion 13.1.0.0.1.1633545042,
Chrome Version 96.0.4664.55 (Official Build) (x86_64)

Error when running tests
![image](

[2021-12-03 08:35] Yurii397 commented on #10594
sure, I thought the root problem is the same, decided to not create duplication.

The new created one - https://github.com/microsoft/playwright/issues/10693

@pavelfeldman have a look plz

[2021-12-03 08:48] mdemenko commented on #10636
Updated to 1.17.1. Issue is resolved.

[2021-12-03 08:51] Amrkamel1 commented on #10633
im really confused, now its working fine and I didn't change anything,

get editIcon() { return this.page.locator('(//li[text()="Edit"])[1]') } is working or remove the index in xpath and use .first() is working as well

we can close this ticket maybe there is other way to reproduce this issue.

[2021-12-03 08:54] Amrkamel1 commented on #10537
yes I was doing it like that but If first assertion fail it will break the loop

[2021-12-03 08:58] Amrkamel1 commented on #10537
@pavelfeldman  okay, let's say we have a scenario that we are filling some form then submitting it, after that, we need to assert some values that are matching what we have submitted in the form

using for loop, will work but it will break the loop once the first assertion fails hence you didn't know whats the status of other values.

using multiple assertion
expect()..
expect()..

will give the s

[2021-12-03 10:04] mdemenko commented on #10624
@dgozman I use beforeAll hook to prepare some preconditions (navigate to the page and create test data, currently it can't be done through API). Due to low environment, sometimes hook fails with timeout error. In this case only error text is displayed in report (any test steps, screenshot and video). The same behavior if I add expect statement to beforeAll hook.
Maybe it works as expected since be

[2021-12-03 10:05] Captain1653 commented on #10693
Hi @Yurii397 !

I had the same problem. I have the same operation system. Did you try version `1.17.1` ? It was released yesterday. It solved my problem.

Kind regards

[2021-12-03 10:08] DvDream commented on #10676
Mybe I almost find a solution. I'm doing in this way:

[code]

[code]
I figured out that I don't really need a persistent context for my use case (even if it could be good to try to configure it for future use cases), but now:

- I get two contexts opened but also a window with a blank page appears..and I don't understand why
- You said that I need to close my context a the end of each fixture, bu

[2021-12-03 10:10] emakhachek opened #10695 "[BUG] Error: Failed to install msedge"
**Context:**
- Playwright Version: ^1.17.1
- Operating System: Linux
- Node.js version: v16.13.1
- Browser: Edge
- Extra: docker container based on official PW image

**Code Snippet**

[code]

Build container:
[code]
Run inside container:
[code]
**Describe the bug**

Edge is not installed.

[code]

[2021-12-03 10:21] yavorski commented on #10674
Hi, 10x for the applied patch. Linking the issue in chromium repo here for visibility and further reference https://bugs.chromium.org/p/chromium/issues/detail?id=1276028

[2021-12-03 10:45] Yurii397 commented on #10693
@Captain1653 thanks for  the suggestion, just tried  Playwright `1.17.1` but didn't help

I'm using following dependencies
![image](https://user-images.githubusercontent.com/46851143/144589647-24a60364-3b1e-4a02-bc06-4c2f4b9af77d.png)

if that helps somehow

[2021-12-03 10:48] Yurii397 commented on #10693
@Captain1653 have found solution - "jest-playwright-preset" needed to be updated to "1.7.0",

[2021-12-03 10:49] Yurii397 commented on #10693
will close issue if you don't mind

[2021-12-03 10:51] indapublic opened #10699 "How to intercept response for file upload via filechooser/"
Website uploads file immediately on file change. I want to intercept JSON response of this upload. Is it possible?

[code]

[2021-12-03 10:58] #10693 closed

[2021-12-03 12:07] tmarenko opened #10700 "[Feature] Allow CDP connection with custom `downloadsPath`"
Currently when I'm trying to connect browser over CDP, Playwright always uses temp folder:
https://github.com/microsoft/playwright/blob/f802c27d0983ed40a0d678a61897e85c872bd076/packages/playwright-core/src/server/chromium/chromium.ts#L66
https://github.com/microsoft/playwright/blob/f802c27d0983ed40a0d678a61897e85c872bd076/packages/playwright-core/src/server/chromium/chromium.ts#L93

I wish to pass

[2021-12-03 14:09] navedanjum commented on #1604
One can also extend playwright fixture for initialization and then use it directly in tests as fixtures
[code]

[code]

[2021-12-03 15:33] stabback commented on #7121
I came across https://github.com/microsoft/playwright/issues/7042, which has been folded into this issue.

My use case - I have a monorepo with multiple packages.  In one test, I'm attempting to import some data from one package to help build the test.  That package happens to import from a third package.  That third package also exports `.tsx` files.  Playwright breaks, because it cannot handle `

[2021-12-03 15:46] pavelfeldman commented on #10692
--single-process is not guaranteed to work, even eithout Playwright, it clearly states so in the browser UI when you use it.

[2021-12-03 15:46] #10692 closed

[2021-12-03 15:57] cullman1 opened #10701 "[BUG]"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows 10
- Node.js version: 16.9
- Browser: [All]
- Extra: Running 312 tests, in parallel, max 4 at a time

**Code Snippet**

[code]

[2021-12-03 16:51] valentijnpeters commented on #2071
The below sample script is a .js file

[2021-12-03 17:31] yermulnik commented on #10695
This a known though not yet fixed issue: https://techcommunity.microsoft.com/t5/discussions/the-edge-for-linux-deb-repository-is-not-working-today/m-p/3029703/thread-id/51108

[2021-12-03 17:34] shirshak55 commented on #10681
@pavelfeldman thanks for the concern. There is no easy way to reproduce as it is too spurious. And the test runs for 1-2 days so IDK how to do it and it's an internal app. Also, This generally happens when we manually try to change something in headful mode.

[2021-12-03 18:22] #10680 closed

[2021-12-03 18:56] httpete commented on #9571
I hit exactly this. Would be nice to have a config of "dark spots" css containers that I can exclude.

[2021-12-03 19:00] pavelfeldman commented on #10701
Could you give us an idea on what your tests look like?

[2021-12-03 19:39] pavelfeldman commented on #10700
This is unlikely to be addressed because only the launcher of the browser has control over the download folder for security reason. Raise this against Selenoid and they can come to us for options.

[2021-12-03 19:39] #10700 closed

[2021-12-03 19:41] pavelfeldman commented on #10699
https://playwright.dev/docs/network#modify-responses

[2021-12-03 19:42] pavelfeldman opened #10702 "[Feature] expose testInfo via test.info()."

[2021-12-03 20:02] mxschmitt commented on #10695
@emakhachek @yermulnik it should be fixed now, see [here](https://techcommunity.microsoft.com/t5/discussions/the-edge-for-linux-deb-repository-is-not-working-today/m-p/3030159/highlight/true#M51123).

[2021-12-03 20:47] nikolaristicc commented on #3768
this code is in JSHandle.js in puppeteer. Do you have any ideas if we can create a function for the Playwright that will upload files of any size based on this code?

`async uploadFile(...filePaths) {
        const isMultiple = await this.evaluate((element) => {
            if (!(element instanceof HTMLInputElement)) {
                throw new Error('uploadFile can only be called on an input elem

[2021-12-03 21:52] scinos commented on #10460
I'm seeing the same when running Playwright 1.17.1 + chromium v939194 inside Docker:

## Screenshots

It fails with a timeout when calling `await page.screenshot( { path: fileName } );`. There is no stack trace, only a timeout.

Enabling `DEBUG=pw:*` shows

[code]

(note: there are a bunch of `RECV` that I removed from the log because I believe they belong to the requests that were in flight. I ca

[2021-12-03 22:14] emakhachek commented on #10695
Not yet for me:
[code]

Should I close this issue since it's not a Playwright problem?

[2021-12-03 23:07] mxschmitt commented on #10695
Please try again, I checked again on our CI pipelines, there it seems working.

[2021-12-03 23:50] vsravuri opened #10706 "[BUG] page.waitForRequest & page.waitForResponse: Timeout error doesn't display the timeout value"
**Context:**
- Playwright Version: [1.17.1]
- Operating System: [Mac]
- Node.js version: [16.12.0]
- Browser: [All]
- Extra: [N/A]

**Code Snippet**

playwright.config.js
[code]
waitforresponse.js
[code]

**Describe the bug**
Running the above mentioned test will throw an error message after 20 seconds of `actionTimeout` set in config file but the error message won't display the `actionTimeout` va

[2021-12-04 00:28] dgozman opened #10707 "[internal] api review for 1.18"
- [ ] expect(locator).toBeChecked({ checked })
- [ ] expect(response).toBeOK()
- [ ] locator.dragTo(locator)
- [ ] test.extendTest(test)
- [ ] fixture { scope: 'global' }
- [ ] PW_EXPERIMENTAL_TS_ESM
- [ ] testInfo.attach(...)
- [ ] test.fixme('testname', () => {})
- [ ] fixture { option: true }

[2021-12-04 02:01] pavelfeldman commented on #10671
You did nothing wrong. We are working on better docs, guidelines, examples, best practices. We know our tech is ahead of our docs.

[2021-12-04 10:10] creage opened #10713 "[BUG] Trace Viewer cannot view the traces generated by flaky test"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 14.18.0
- Browser: Chromium

**Describe the bug**
I have some flaky test, which restarts browser two times. First run generates a trace that Trace Viewer cannot open, and shows

[code]
Here is the trace generated by PW [trace.zip](https://github.com/microsoft/playwright/files/7653725/trace.zip).

[2021-12-04 11:35] dialex commented on #10671
haha, I agree! Your tech is very promising after what I've seen with iframes.
I'll try to write a blog post with what I learned from this. Let me know if I can help in any way 😉
Keep up the good work!

[2021-12-04 11:44] tmarenko commented on #10700
I'm not sure that I'm understanding correctly the security reason.
If I hardcode the path to:
[code]
then it works and downloads files as intended.

I've tried to pass `Browser.setDownloadBehavior` at launch and after launch with custom `downloadPath` but seems Playwright always uses temp folder for downloads over CDP:
https://github.com/microsoft/playwright/blob/f802c27d0983ed40a0d678a61897e85c87

[2021-12-04 11:45] AmanDaharwal opened #10714 "[Question]How to switch tabs using playwright"
Scenario: Script is clicking 'Submit Request' button on Request page, on click, user is navigated to next page ( aka Confirmation page) and app will download PDF file and open in new tab automatically( as playwright browser pop blocker is on by default)

So to execute further verification steps in Confirmation page, need to switch browser tab back to Tab1( where confirmation page is opened). As, c

[2021-12-04 12:18] indapublic commented on #10699
Thanks @pavelfeldman for your quick answer.

Yes, I'm tried with

[code]

But request with uploading is not catched. This upload is issued by JS (via AJAX), can be a reason?

[2021-12-04 13:03] AdrianNeatu commented on #10508
@yury-s I didn't mage to isolate the issue in a slip repro setup. I need a bit more time. We can close this issue and I'll open a new one when I have all the details. Thanks!

[2021-12-04 13:03] #10508 closed

[2021-12-04 14:22] nicoandmee opened #10717 "[Question] Is this a resource utilization issue?"
At my work we are using playwright at scale to perform automation/scraping workloads, and occasionally we run into a bunch of errors like this:

`browserContext.newPage: Browser closed. ==================== Browser output: ==================== <launching> /opt/google/chrome/chrome --disable-background-networking --enable-features=NetworkService,NetworkServiceInProcess --disable-background-timer-th

[2021-12-04 15:08] s3naid commented on #10714
Use `page.on('popup')` to capture Request page:

[code]
Also `browserContext.pages()` will return all pages as array.
You can than use this page as You want

[2021-12-04 15:36] akgupta0777 opened #10718 "[BUG] Experimental React Selectors doesn't work on react apps in Iframe."
**Context:**
- Playwright Version: **1.16.3**
- Operating System: [e.g. Windows, Linux or Mac] **Windows**
- Node.js version: [e.g. 12.22, 14.6] **16.13.0**
- Browser: [e.g. All, Chromium, Firefox, WebKit] **Chromium**
- Extra: [any specific details about your environment]

**Code Snippet**

[code]

**Describe the bug**

It can't find the component with the selector. Timeout Error of 30 seconds sh

[2021-12-05 08:26] refactoreric commented on #10561
Thank you, that works a whole lot better!

[2021-12-05 10:33] szamacz opened #10720 "[Feature] Run only changed tests for playwright test runner"
I'm thinking about a possible feature that could be really useful for people using playwright during development - run only tests which code was changed. It would help people save time in case of changes that affect a higher number of tests. Let say that you are changing two methods which are used in 30 tests. As your whole test suite contains over 100 tests you don't want to run all of them to ju

[2021-12-05 13:46] AlexKomanov commented on #10648
Thanks @pavelfeldman !

[2021-12-05 13:46] #10648 closed

[2021-12-05 14:57] gedw99 commented on #6856
What about if the client is golang and compiled to wasm ?

then put use a little bit of js / typescript to interact with the wasm .

the wasm acts as a proxy. Just like how service worker is designed

[2021-12-05 19:37] creage opened #10721 "[BUG]: NPM Error on failing test executed from NPM script"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 14.18.2
- Browser: Chromium

**Describe the bug**
I used to run my tests using NPM script defined in my `package.json`:
[code]
Running a **failing** test from NPM script ends with NPM Error:
[code]
ends with:
[code]

And here is the NPM log file **2021-12-05T13_01_56_278Z-debug.log**

[code]

[2021-12-05 22:54] bruce-at-events opened #10722 "[Question] Page closed before field is filled"
Hi there, I'm new to playwright and here's what happened:

1. navigate to page 1, fill in the form and click submit button, this one works perfectly
2. now after submission it's on page 2 - try to fill the form and it closes the page prematurely.

It's our staging server so there's no public access but the code is as follows:

[code]

Error is:

locator.fill: Target closed
========================

[2021-12-06 06:11] emakhachek commented on #10695
Working.
Thanks.

[2021-12-06 06:12] #10695 closed

[2021-12-06 06:26] A-ZC-Lau opened #10724 "[Question] how to blur an element"
Is there a function that's the opposite of `focus()`? Looking for some way to easily unfocus an element

[2021-12-06 06:57] AmanDaharwal commented on #10714
Thanks, this workaround works

[2021-12-06 07:36] vadkt opened #10725 "[Question] connectOverCDP open non incognito mode"
I launch chrome in regular mode and then attempt to connect to it over CDP. Every time I run `newContext` - the new window in incognito mode has opened. As I know, to open non incognito mode, I need to use `launchPersistentContext`. But what should I do in that situation? Is it possible to run browser in non incognito mode with connectOverCDP? Thx in advance.

[2021-12-06 08:58] RockMinsk opened #10726 "[Feature] Allow to work with multiple elements that match the same locator"
As example, I have list of elements that match the same locator.
- Use case 1: elements are in the DOM but can be hidden or shown after some action and I'd like to wait until all of them hidden / visible
- Use case 2: there is some table or grid with headers, each header has title and I'd like to save all titles in array. For now I can do it like this:

[code]
But I cannot do it for each locator's

[2021-12-06 09:15] cullman1 commented on #10701
Here's on particularly convoluted test that throws sporadic errors when running in parallel (but exactly the kind of functionality we need to determine if we have a bug or not)
[code]

[2021-12-06 09:17] cullman1 commented on #10701
A simple one looks like this:
[code]

[2021-12-06 09:26] cullman1 commented on #10701
So the page is generating script errors occasionally from page.on - and the idea is to get the trace viewer to then view exactly what's going on. The tests always pass sequentially or in isolation, it's only when there's 100s of them running in parallel that we get the script errors.

[2021-12-06 11:45] creage opened #10728 "[BUG] WebKit: new BrowserContexts share same proxy"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 14.18.2
- Browser: WebKit

**Describe the bug**
Starting a new **WebKit** BrowserContext should be isolated from the rest of contexts, **same as it does for Chromium and Firefox**.

Currently it is not in WebKit, but it is in Chromium and Firefox.

1. Launch Webkit
2. Create new context **A**, with proxy serve

[2021-12-06 12:08] damaon commented on #8161
I suggest solving biggest pain-point which is how to store this stuff in git repo so it doesn't blow up in size (to store only last snapshot). Git LFS kinda works but it's painful. Maybe something else would work better? For reference: https://github.com/americanexpress/jest-image-snapshot/issues/92

[2021-12-06 12:30] thorleifjaocbsen commented on #10162
What about instead of hiding elements making a "mask" function?

I'd love to have this:

[code]

[2021-12-06 12:51] AlexKomanov opened #10729 "[BUG] Sometimes, HTML report doesn't present a failed step in case one of entire sub-steps is failed"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 14.6
- Browser: Chrome

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

The HTML report presents that a test was failed and presents the location of the issue in the test:

![image](ht

[2021-12-06 13:05] tmarenko commented on #10700
I've made these example commits to show what I've meant:
https://github.com/tmarenko/playwright-python/commit/0743e8eec52b35e0aa263c40f603e3568268d604
https://github.com/tmarenko/playwright/commit/297d4c61070a70773c20d31d8f36dc9e9f7ee6da

With these kind of changes I can easily gain access to downloaded file:
[code]

[2021-12-06 14:54] z0n commented on #8161
We're using Git LFS, what's your issue with it? Once we had it set up for everyone (we're using Mac, Windows and Linux), it worked fine. We're storing all images in the repo using Git LFS (`*.png`) so there's no work involved when adding snapshots to new tests either.

The only issue I have is comparing the image diffs in VS Code when committing new images as the old image is not shown in the diff

[2021-12-06 16:39] bpasero opened #10731 "[BUG] trace always looks partial given screenshots are cut"
**Context:**
- Playwright Version: 1.16.3
- Operating System: Mac
- Node.js version: 12.x

We produce traces during our CI runs for VSCode and when I look at them, I often feel like they are cut off at the end:

![image](https://user-images.githubusercontent.com/900690/144885600-b030e883-4b10-418f-8894-41eb415bf5cd.png)

I have attached a sample trace:

[playwright-trace-2.zip](https://github.com/

[2021-12-06 16:52] flunderpero opened #10732 "[BUG] HTMLReport throws error on _some_ tests"
**Context:**
## System:
 - OS: Linux 5.10 Ubuntu 20.10 (Groovy Gorilla)
 - Memory: 1.24 GB / 3.84 GB
 - Container: Yes
## Binaries:
 - Node: 14.18.1 - /usr/bin/node
 - Yarn: 3.1.0 - /usr/bin/yarn
 - npm: 6.14.15 - /usr/bin/npm
## Languages:
 - Bash: 5.0.17 - /usr/bin/bash

**Describe the bug**

For about 20% of all tests the page is blank (after clicking on the test) find the following error in th

[2021-12-06 16:57] dimkin-eu opened #10733 "[Feature] make possible merge html reports"
In the current CI pipeline, we have 2 test suites
- storybook tests
- e2e tests

As they are under 1 package, 2nd suite rewrites 1st tests report

[2021-12-06 17:25] #10702 closed

[2021-12-06 17:30] vsravuri commented on #10191
I tried you suggestion, didn't work well with my application. I frequently see error 'Cannot find context with specified id'. I have nested frames 6 to 7 level deep.

I modified the code and i can get around the previous error.

[code]

[2021-12-06 17:49] shtlrs opened #10734 "[BUG] expect(locator).toBeDisabled() returning false when it should return true"
**Context:**
- Playwright Version: [1.17.1]
- Operating System: [Windows]
- Node.js version: [16.10.0]
- Browser: [Chromium]

**Code Snippet**

[code]

**Describe the bug**

Playwright indicates that an input element is not disabled whereas it is.
I've tried the browser's console and when I query the element and then log its disabled attribute to console, it shows true.
I also tried to do it step

[2021-12-06 18:17] #10556 closed

[2021-12-06 18:22] #10480 closed

[2021-12-06 18:23] asterium commented on #7816
Hey @pavelfeldman
It's nice that there's a way to provide custom matchers, and specify adjusted messages there, but it would be really great if there is a way to have this process more streamlined, having such ability out of the box.

I saw there were some attempts for jest lib already:
https://github.com/mattphillips/jest-expect-message

It would be really awesome to see such functionality in fut

[2021-12-06 18:28] #10444 closed

[2021-12-06 18:30] #10383 closed

[2021-12-06 18:48] #10060 closed

[2021-12-06 19:15] kachkaev commented on #2297
Hmm this does not seem to work in Playwright 1.17. The signature of `page.type(selector, text)` requires at least two arguments. I have used `page.type('body', 'hello')` and it seems to work, but I’m not sure if this is the 100% right way.

[2021-12-06 19:23] Nav-2d commented on #10733
Related #10437 & #10158

[2021-12-06 20:39] Henry12116 opened #10740 "[Feature]: More features for touchscreen"
### Feature request

Hello,

It would be great if there was more functionality behind `touchscreen`. As per the documentation, right now we can only call `tap`. The ability to press and hold, press and drag, simulate multi finger gestures, etc would be very useful for automating testing on mobile sites that support this type of input.

Thank you!

[2021-12-06 21:02] dgozman commented on #10726
Here are possible solutions. Let me know whether they work for you or not.

[code]

Documentation for [`expect(locator).toHaveCount()`](https://playwright.dev/docs/test-assertions#expectlocatortohavecountcount-options)

[code]

Documentation for [`locator.allInnerTexts`](https://playwright.dev/docs/api/class-locator#locator-all-inner-texts)
Documentation for [`locator.evaluateAll`](https://playwri

[2021-12-06 21:21] jjeff opened #10735 "[BUG] Electron `recordVideo` option outputs zero-length webm files"
**Context:**
- System:
  - OS: macOS 10.15.7
  - Memory: 828.63 MB / 32.00 GB
-  Binaries:
  - Node: 14.17.0 - ~/.nvm/versions/node/v14.17.0/bin/node
  - Yarn: 1.22.10 - /usr/local/bin/yarn
  - npm: 6.14.13 - ~/.nvm/versions/node/v14.17.0/bin/npm
-  Languages:
  - Bash: 3.2.57 - /bin/bash
- npmPackages:
  - playwright: ^1.17.1 => 1.17.1
  - playwright-core: ^1.17.1 => 1.17.1

**Code Snippet**

I'v

[2021-12-06 21:58] yannsartori commented on #6479
I know that the cause is somewhat known, but I encountered this issue using the Python binding as well.

[2021-12-06 22:02] humbienri commented on #6479
The link above seems to indicate this is a problem in Chromium, not Playwright. However, if you follow the discussion details it does not seem like the Chromium folks "are on it".

[2021-12-06 22:23] RockMinsk commented on #10726
Thank you for answers.

You suggestion:
[code]
Note: we migrate our project to Playwright and don't use for now @playwright/test. So some solution in @playwright will be good for us. But ok, we use some workaround and this is not a problem for us now.

You suggestion:
[code]
Note: this is work, thanks. But in case of some

[2021-12-06 22:29] majid4466 opened #10737 "Cannot handle input of type color [BUG]"
Trying to `fill` an input of type color results in an error:
[code]
**Error**

Trying `type` we would not get an error, but the value will not be assigned:
[code]
**Test failure report**

**Workaround**
What works for now (courtesy of Dmitry Gozman in Playwright Slack) is to evaluate js on the element to assign the value to it:
[code]

**Context:**
- Playwright Version: @playwright/test": "^1.17.1

[2021-12-06 22:36] dgozman commented on #10559
We can do something like `locator.waitForFunction(el => el.childNodes.length === 5)`. Note that the page function does not have access to the `Locator` object, but accepts a dom `Element` instead.

[2021-12-06 22:37] dgozman commented on #10562
@JoelEinbinder Could you please review the proposal?

[2021-12-06 22:38] #10628 closed

[2021-12-06 22:41] dgozman commented on #10657
[Here is a guide](https://playwright.dev/docs/dialogs) about handling dialogs. I'd suggest to record your actions with [Test Generator](https://playwright.dev/docs/codegen) to see an example of how to handle dialogs.

This is intended behavior. If you are not handling the dialog in your test, Playwright auto-dismisses all dialogs.

[2021-12-06 22:41] #10657 closed

[2021-12-06 22:43] dgozman commented on #10663
@DoubleSlashDesign2 Perhaps there is no `"h2.vehicle-card-title a"` inside the second item? If you could provide a repro, we'll be able to debug the issue.

[2021-12-06 22:49] #10615 closed

[2021-12-06 22:51] RockMinsk commented on #10726
@dgozman, based on your answer and my last comment I think you can close the ticket if there are no any plans to enhance work with Locator matches with multiple elements.
As example I provided in Slack general channel the following Protractor method: https://www.protractortest.org/#/api?view=ElementArrayFinder.prototype.each.
So the concept was to have possibility to iterate all matched elements w

[2021-12-06 23:01] dgozman opened #10739 "[BUG] trace viewer shows automation infobar"
`npx playwright show-trace` on ToT, let's bisect.

[2021-12-06 23:32] aslushnikov commented on #10739
Bisect: https://chromium.googlesource.com/chromium/src/+log/00e3679cd93a4aaf008d0c4e3e58cd8f59fed22d..ef03ab861147665c0dc5b529b84438f6f221f13c

[2021-12-06 23:42] #10706 closed

[2021-12-06 23:43] #10211 closed

[2021-12-06 23:43] dgozman commented on #10737
`await page.fill('#color-code', '#33d136');` should work in the next release.

[2021-12-06 23:44] #10737 closed

[2021-12-06 23:44] dgozman commented on #10211
`await page.locator('#my-slider').fill('42')` should work in the next release.

[2021-12-06 23:50] jayson-labarrete commented on #10211
@dgozman Thank you so much!

[2021-12-06 23:54] dgozman commented on #10726
Web-first assertions is one of the many reasons to use @playwright/test 😄

My bad! It should be without a bad type:
[code]

Thank you for the suggestion. I am wary of adding such a method, because it is inherently racy - elements in the page can change concurrently to the function you run. However, if that's not the problem for you (e.g. the list of elements is always static), you can workaround l

[2021-12-07 00:04] dgozman commented on #10714
@AmanDaharwal Take a look at documentation as well: https://playwright.dev/docs/pages/#multiple-pages.

[2021-12-07 00:04] #10714 closed

[2021-12-07 00:07] dgozman commented on #10717
@nicoandmee Yep, that sounds fair. The following line suggests that browser wasn't able to create a new process for itself:

[code]

Perhaps you have leftover browser contexts and pages that you did not close. If that's not the case, I'd suggest to restart the browser once in a while.

[2021-12-07 00:08] dgozman commented on #10718
@akgupta0777 Your code looks fine. If you could provide a repro scenario for us to run locally, we might be able to help.

[2021-12-07 00:09] dgozman commented on #10720
Merging into #7035.

[2021-12-07 00:09] #10720 closed

[2021-12-07 00:11] dgozman commented on #10721
@creage This is expected. Playwright test exits with non-zero error code so that your CI turns red when there are failing tests. What are your expectations?

[2021-12-07 00:12] dgozman commented on #10722
@bruce-at-events Perhaps your whole test times out? Could you please provide a repro config+test, so that we can run locally and figure out the issue?

[2021-12-07 00:13] dgozman commented on #10724
There is no such API. The workaround would be:
[code]

[2021-12-07 00:17] dgozman commented on #10725
There is no ability to open multiple contexts that are not incognito. If you'd like to connect to a single persistent context in the browser, you can do something like this:

[code]

Let me know whether this works for you.

[2021-12-07 00:17] creage commented on #10721
Well, test execution should not break my CI pipeline, because the rest of tasks in pipe get cancelled automatically. I cannot read test results, cannot publish them etc., as build is broken. I can mark my task to ignore the execution results, but then I might miss the real break of some other parts, which I definitely don't want.

Is there any chance to hide that behavior under some flag?

[2021-12-07 00:18] dgozman commented on #10728
@yury-s Could you please take a look?

[2021-12-07 00:23] dgozman commented on #10721
@creage What exactly would you like to happen with this flag? Which errors do you consider severe enough to warrant non-zero exit code? We are always open to possible improvements.

Here is how we handle things on our CI: https://github.com/microsoft/playwright/blob/master/.github/workflows/tests_primary.yml#L45.

[2021-12-07 00:26] dgozman commented on #10729
Interesting! So the entire test did timeout, but we did not mark the last timed-out step as failed.

[2021-12-07 00:32] dgozman commented on #10713
@creage This trace is indeed corrupted. Would it be possible to share the repro config/test? That would help us find the issue.

[2021-12-07 00:35] creage commented on #10721
https://github.com/facebook/jest/issues/7803
Sounds similar, right?)

I'll give a try to suggested approach from there, and get back later.

[2021-12-07 00:36] dgozman commented on #10732
Looks very similar to #10713. If you have a repro, that would be great!

[2021-12-07 00:37] dgozman commented on #10733
Closing in favor of #10437.

[2021-12-07 00:37] #10733 closed

[2021-12-07 00:50] dgozman commented on #10731
When I open the attached trace, I get a different picture. Perhaps your screenshot is from a different trace file? Also, what exactly do you mean by "cut off" - some screenshots are missing, images are cropped, something else?

<img width="1280" alt="Screen Shot 2021-12-06 at 4 45 13 PM" src="https://user-images.githubusercontent.com/9881434/144945464-ec9b9ab9-ab0f-4b20-8977-ff55deed9893.png">

[2021-12-07 00:56] dgozman commented on #10513
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2021-12-07 00:56] #10513 closed

[2021-12-07 00:59] #10549 closed

[2021-12-07 01:28] yury-s commented on #10728
@creage can you upload a repro script?

[2021-12-07 01:54] aslushnikov commented on #10351
Hi @jamesmortensen!

Thank you for listening to the TestJSSummit talk :) We **do support** Ubuntu 20.04 arm64; we **do not support** debian 11 on either x86_64 or arm64.

[2021-12-07 02:06] bruce-at-events commented on #10722
Thanks Dmitry - i found out, it was caused by frames it’s all good now.
________________________________
From: Dmitry Gozman ***@***.***>
Sent: Tuesday, December 7, 2021 11:12:34 AM
To: microsoft/playwright ***@***.***>
Cc: Bruce Li ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/playwright] [Question] Page closed before field is filled (Issue #10722)

@bruce-at-events<https://ddec1-0-e

[2021-12-07 02:21] A-ZC-Lau commented on #10724
Okay. Maybe a `blur` command would be good then.

[2021-12-07 02:55] bruce-at-events opened #10744 "[Question] Access browser name / type in test"
Hi there,

I'm busting my head trying to figure this out but there's no docs on this one, or maybe i'm just ignorant :D

So i was doing a test with 3 browsers enabled, see config:

[code]

And in the code, I'm doing a screenshot at each stage, and I wanted a full screen one:
[code]
My problem is, I can't get browser name from this one - and the version always returns the same value.

I also tried

[2021-12-07 02:58] #10722 closed

[2021-12-07 03:21] wangzyh opened #10745 "[Question] Are there other ways to locate elements when running on Android."
I am running specific software on Android, but there is no way to locate elements other than `id`.
The positioning method in the example is only `id`.
![88f912d202823ae13fbe5b15af23812](https://user-images.githubusercontent.com/31379713/144959325-9f6003c8-1e25-436e-b384-a0073546265a.png)
element like this:
`<div class="inputWrap"`

[2021-12-07 05:38] dgozman commented on #10744
Are you looking for the [`browserName` fixture](https://playwright.dev/docs/api/class-fixtures#fixtures-browser-name)?

[code]

In your code you get `"chromium"` all the time because there are no devices named "Chrome", "Firefox" or "Safari". You can take a look at all [available devices here](https://github.com/microsoft/playwright/blob/master/packages/playwright-core/src/server/deviceDescriptors

[2021-12-07 05:49] bruce-at-events commented on #10744
Sorry I didn't make it clear - I already set up the tests so it will test in 3 different browsers, see example result below:
![image](https://user-images.githubusercontent.com/87623471/144973099-76b8b9b3-3508-4f81-b8e7-e54f717782a6.png)
my problem is, when I take screenshots within the tests, how can I put the browser type(chromium/firefox/webkit) as part of the path for the screenshot, i.e.
say I

[2021-12-07 06:05] bpasero commented on #10731
@dgozman oh yeah sorry, this seems to be related to my 125% zoom that makes the last screenshot drop out, making it look as if there are more screenshots. Try with 125% zoom.

[2021-12-07 07:08] RockMinsk commented on #10726
Yes, I'm already using such workaround for waiting of all elements in the list :)
So ok, I close the ticket. Thank you for feedback and clarifications.

[2021-12-07 07:08] #10726 closed

[2021-12-07 07:29] creage commented on #10728
Well, it would be hard to provide a short version of it, I'll try to create a repo with example code.

P.S. We were using `jest-playwright-preset` before, and this runner didn't had that issue. Once we switched to Playwright Test - Webkit started to share the proxies between contexts - the last one used wins for all of active contexts. And, what I can see from `jest-playwright-preset`'s code, is t

[2021-12-07 09:29] creage commented on #10713
I've tried to create one, but the trace corruption appears very randomly. I couldn't get a stable corruption :)

What I also notice, is that  some of traces are stored in wrong folders. Like a trace of test A gets stored in folder of trace of test B - which is even more confusing...

[2021-12-07 09:50] TimeInvestor opened #10750 "[Feature] HTML Report: add links to navigate back to the home page"
For now, once we go into details of a test in the HTML report, there is no link to navigate back to the home page except click back button in browser. It causes more issue when the HTML report is views on some CI platform e.g. Jenkins bcs clicking browser back button means moving away from the current Jenkins job run instead of going back to Playwright HTML report home page.

Some suggestion is to

[2021-12-07 09:54] AndreyMelnichenko commented on #10559
@dgozman
How about create something more generate methods? Like
`await page.waitUntil(function(), options)`
and `waitUntil` will wait `function` return `true`, and pool it each `timeout` from `options` object
Does it make sense?
**Full example:**
`await page.waitUntil(async(el) => { return await locator.innerText() === 'Apply button'}, {pool: 100})`

[2021-12-07 10:02] acuper opened #10751 "[BUG] Invalid httpVersion (h2) in recorded har file"
**Context:**
- Playwright Version: 1.13+
- Operating System: Windows, Linux
- Node.js version: 12
- Browser: Chromium

**Describe the bug**

We use recordHar option in our tests.
The har file is created but we are not able to import it in fiddler. It shows all sessions in red.
After investigation, we found that it is caused by an invalid value in httpVersion.
It has "h2" as a value, while it shoul

[2021-12-07 10:23] svlieri commented on #6990
Update npm/node to latest

[2021-12-07 10:39] cullman1 commented on #10701
I think there's two distinct issues here actually after more experimenting:

1) Blank zip files

2) The [pid=96][out] console.warn: SearchSettings: "get: No settings file exists, new profile?" (new NotFoundError("Could not open the file at C:\\Users\\chris.ullman\\AppData\\Local\\Temp\\playwright_firefoxdev_profile-6OhGb8\\search.json.mozlz4", (void 0)))
[pid=96][out] Crash Annotation GraphicsCrit

[2021-12-07 11:16] ssams commented on #10330
I think I'm seeing the same issue if I read the title of this issue correctly - default fonts in Firefox seemingly have changed after upgrading from 1.16.3 to 1.17.0.

In our project I've got screenshots which were created with Firefox in the image `mcr.microsoft.com/playwright:v1.6.3`. When running these again with `mcr.microsoft.com/playwright:v1.17.0`, differences on texts on native/unstyled `b

[2021-12-07 11:25] AngelLopezBellmont opened #10752 "[BUG] playwright waitForNavigation problem with firefox [headless, headed] but is working via [firefox-mode-debug, chromium, webkit]"
**Context:**
- Playwright Version: 1.1632
- Operating System: Windows, cicd(azure)
- Node.js version: 15.0.1
- Browser: **error only in firefox: [headless, headed], no error in firefox --debug, chromium,webkit**
- Extra: keycloak auth tool

**login_standard.js**

[code]

**Error to login via firefox , but is working in: [chromium,webkit, firefox-mode-debug]. Problems in firefox: [headless, headed]

[2021-12-07 11:35] liamdocherty10 opened #10753 "[BUG] Locator .type will prefix the existing text (after page load) rather than appending to the end"
**Context:**
- Playwright Version: @playwright/test 1.16.2
- Operating System: Mac
- Node.js version: 14.17.0
- Browser: All
- Extra: N/A

**Code Snippet**

[code]

**Describe the bug**

I would expect that using `.type()` would append the supplied text to any text already in the element however it prefixes it if the text exists on page load.

There is a different behaviour if you perform `.type()

[2021-12-07 11:37] akgupta0777 commented on #10718
@dgozman Thanks for looking into this. Soon i will come with a repro.

[2021-12-07 11:38] ssams commented on #10330
hm, available fonts within the containers seem to be really different according to the output of the `fc-list` command. "Terminus" and "DejaVuSans" are present in 1.16.3, but not in 1.17.0 - isn't especially the latter one the usual default font used by Firefox on most systems?
[code]
[code]

[2021-12-07 12:09] ssams commented on #10330
Did some more tests with the failing screenshots in my project, installing the package `fonts-dejavu-core` in the 1.17 container before running the tests solves the problem (no other modifications), the snapshot tests succeeded without errors again.

When comparing packages installed in the containers, the difference seems to be due to the removal of the `fluxbox` package, which [was installed in

[2021-12-07 15:25] eckhards opened #10755 "[Question] Are aborted requests able to set cookies?"
I am using Playwright Python as part of my own SaaS product to inspect web pages. On the following URL a Youtube video is embedded, and the consent management software Usercentrics is in place to block loading the video until the user has given their consent:

https://www.phoenix-mecano.ch/de/produkte/fahrerlose-transportsysteme-fts/fahrerlose-transportsysteme-fts.html/779

Usercentrics aborts the

[2021-12-07 16:42] dgozman commented on #10744
@bruce-at-events The `browserName` fixture should work. Could you please share your complete config and the test so we can reproduce the issue locally?

[2021-12-07 16:48] dgozman commented on #10559
@AndreyMelnichenko This sounds like some generic retry, not too specific for Playwright. Here is a workaround, let me know if that works for you.

[code]

[2021-12-07 16:49] pavelfeldman commented on #10755
I don't see where in the snippet you are aborting the requests and how.

Playwright does not modify the browser, so what you see is happening to a real fresh Chrome instance when user visits that page.

[2021-12-07 17:08] amrsalem1 commented on #9022
is it implemented yet ?

[2021-12-07 17:24] mxschmitt commented on #9022
No, see here for the current status: https://github.com/microsoft/playwright/issues/7819

[2021-12-07 18:14] dgozman commented on #10753
@liamdocherty10 That's how Playwright decided to handle this. The main point here is the consistency between browsers and platforms. We cannot change this behavior now, because many existing tests will break.

I'd suggest to use [`locator.fill()`](https://playwright.dev/docs/api/class-locator#locator-fill) instead:
[code]

[2021-12-07 18:23] dgozman commented on #10752
@AngelLopezBellmont Thank you for the issue. Unfortunately, we cannot run the code above because it is incomplete, so we cannot see the problem ourselves.

Please describe your issue in more details:
- What exactly "does not work"?
- What do you expect to happen?
- Does it hang?
- Does it show any errors?
- Could you [record a trace](https://playwright.dev/docs/trace-viewer) and send us?
- Could y

[2021-12-07 19:07] dgozman commented on #10745
@wangzyh Do you have a WebView there? You can use the full Playwright API once you call `webview.page()` as in the example above, including all kinds of selectors and locators available.

[2021-12-07 19:23] #10123 closed

[2021-12-07 19:52] aslushnikov opened #10759 "infra: roll Firefox Stable to M95"

[2021-12-07 19:58] #10731 closed

[2021-12-07 21:13] MartinP-Autopilot commented on #10336
@pavelfeldman , we are now on 1.17 and still having the same issue (both in local trace viewer and https://trace.playwright.dev

[2021-12-07 21:22] bsteffensTempus opened #10764 "[Question] In POM how do I reference another method's newly created context (popup)?"
I have a method that clicks a button that opens a new tab.

[code]

I would like to interact this new tab's, 'page1' , context in further methods like below. How should I structure this?

----

[code]

[2021-12-07 22:16] jdedwards3 opened #10765 "page screenshot timeout"
Here is the Dockerfile I am using:

[code]

I am using this on AWS lightsail with Amazon Linux OS and 2GB memory, 1 core processor. I am using it to run an Express v4.17.1 web api application.

The relevant portion of the code running in the Express server is:

[code]

I am getting a timeout at "page.screenshot({...})" even when bumping the timeout up to 120000. Other(smaller) pages are working fi

[2021-12-07 23:10] pavelfeldman commented on #10750
Is there a link we could try? Are you opening report in an iframe?

[2021-12-07 23:28] #10351 closed

[2021-12-08 00:01] dgozman commented on #10734
Did you forget to await? This test works for me with the following changes. Note that `":has-text('ADMIN')"` resolves to body, so I used a better selector.

[code]

[2021-12-08 00:06] dgozman commented on #10764
@bsteffensTempus Just save `page1` as a field. Here is an example. Note that I also changed code to use locators for more convenience.

[code]

Let me know if this does not work.

[2021-12-08 00:06] #10764 closed

[2021-12-08 00:16] dgozman commented on #10594
@luad1234 Use version 1.17.2 for playwright. You can always see the latest version at https://pypi.org/project/playwright/.

[2021-12-08 00:16] #10594 closed

[2021-12-08 00:19] dgozman commented on #10537
@Amrkamel1 Sounds like you'd like #7819.

[2021-12-08 00:19] #10537 closed

[2021-12-08 00:20] #10633 closed

[2021-12-08 00:25] dgozman commented on #10676
Blank page is most likely the default `page` provided by the test runner. If your test or any fixture mentions `{ page }` in the first argument, test runner will create the default page. Remove it from the list if you do not use it, and the page will disappear.

You should close after `await use()` - note the await.

[code]

[2021-12-08 00:26] dgozman commented on #10681
Seems to be the same issue as #5460.

[2021-12-08 00:26] #10681 closed

[2021-12-08 00:28] #5460 closed

[2021-12-08 00:31] dgozman commented on #10699
@indapublic This is not expected. If you could share a repro with us, we'll investigate.

[2021-12-08 00:47] #10729 closed

[2021-12-08 01:14] wangzyh commented on #10745
Yes, there is indeed a webview here, and it can be obtained with `const webview = await device.webView({ pkg:'com.ctrip.ct:business' });`, but when I use the command `webview.page() When `get `page`, the program will get stuck here.

[2021-12-08 01:17] mxschmitt opened #10773 "[BUG] WithText does not carry over the RegExp flags"
Example test:

[code]

[2021-12-08 01:22] #10750 closed

[2021-12-08 02:16] trusktr opened #10776 "[Feature] Missing dependencies in Pop_os (Ubuntu derivative)"
In Pop_os, running

[code]

results in

[code]

and so we see:

[code]

[2021-12-08 02:21] chensce opened #10777 "[Feature]getTableContents and fetch api"
https://resources.sahipro.com/docs/sahi-apis/fetch-apis.html#_getTableContents
The more is fetch api:

https://resources.sahipro.com/docs/sahi-apis/fetch-apis.html

[2021-12-08 02:35] #10669 closed

[2021-12-08 02:35] TimeInvestor commented on #10750
Since our Jenkins is protected so I cannot share any link. It is a standard Jenkins [HTML Publisher plugin](https://plugins.jenkins.io/htmlpublisher/). So I expect many users who run Playwright tests on Jenkins CI will be benefit from this.

Thanks 👍

[2021-12-08 02:37] pavelfeldman commented on #10630
Folding into https://github.com/microsoft/playwright/issues/10076

[2021-12-08 02:37] #10630 closed

[2021-12-08 03:18] KotlinIsland opened #10780 "[Docs] the signatures for event listeners don't specify the arguments or types correctly"
This is super confusing because the displayed signature is completely different to it's actual signature, and the examples are very sparse (not not even use the function, like `page.on('popup')`)
![image](https://user-images.githubusercontent.com/65446343/145141378-d4a0e29c-3463-4778-9274-7785aa080388.png)

But it's not is it, it's actually :
# page.on('console', listener)
- `listener`: <function(

[2021-12-08 03:33] #10773 closed

[2021-12-08 03:35] dgozman commented on #10776
@trusktr Playwright does not officially support Pop_os, but if you have a nice solution, contributions are welcome.

[2021-12-08 03:35] #10776 closed

[2021-12-08 03:39] dgozman commented on #10780
@KotlinIsland This is a common practice in Node.js world. Note that it says "type" and not "second argument" or "listener" 😄  Do you have an example of some other project that handles this better? We are open to improvements.

[2021-12-08 04:01] DetachHead commented on #10780
most projects i've seen have a separate section for events ([example](https://abal.moe/Eris/docs/0.16.1/Client#event-callCreate)), instead of listing them as signatures of the `on` method, which looks misleading imo

[2021-12-08 06:03] bpasero commented on #10731
Thanks!

[2021-12-08 06:33] shirshak55 commented on #5230
With this logic why would we even need to use the playwright(pw) instead of directly working on CDP? But we choose pw because it provides features, proper error handling, makes everything easy, etc.?

The page also provides .isClosed and the same argument can be applied there too. Why need to provide .isClosed for page when the user can easily scan for pages in context. But we choose to provide it

[2021-12-08 06:45] sctouch opened #10783 "How to set up CI for github in nuxtjs?"
I can't make it run CI for GitHub in nuxtjs, anyone has a solution for it?

[2021-12-08 07:37] eckhards commented on #10755
I do not actively abort them in my code, the website (or better: the consent management tool "Usercentrics") aborts the request. Please see the screenshot, the request is marked as aborted in devtools (german "abgebrochen" == aborted)

![screen1](https://user-images.githubusercontent.com/22469899/145166949-5e4c8a76-6d6f-4d66-8cc4-f273cb3df8cd.png)

In the second screenshot you can see what the abo

[2021-12-08 10:05] orihomie opened #10784 "[Feature] CLI options to run / ignore matching tests"
I'd like to have ability to tag test and then, when I run my tests to be able to choose which tests would be launched or ignored.
- the tags for tests
- and the ability for runner to take / skip tests by that tags

[2021-12-08 10:20] shtlrs commented on #10734
My bad, I only missed the await in this sample.
But I have it in my code :s

And I'm having issues uploading the file to github (I'm getting "is not included in the list), do you want me to send it over on slack ?

[2021-12-08 10:37] andrejs-ps opened #10785 "[BUG] Playwright Node.js does not remove temp downloads as advertised"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 14.18.1
- Browser: Tried Chromium (but probably all)

**Code Snippet**

[code]

**Describe the bug**

The documentation (https://playwright.dev/docs/downloads/) states that

This is true in Java binding (tried in 1.14 and 1.17), however this is not the case for NodeJs implementation. It keeps the artifacts and

[2021-12-08 10:53] KotlinIsland commented on #10780
@dgozman I came from the python docs and it's so just so extremely unintuitive, I presumed that there had been some mixup and the wrong documentation was generated. These functions are presented alongside the rest of the api to do distinction.

I would think a different section "Event handling" explaining whats going on, as @DetachHead suggested would be a good one.

I wouldn't mind whipping toget

[2021-12-08 10:56] Reed88 commented on #10735
I had this same issue until I put in a custom size as well as the directory. I went with `recordVideo: {dir: './/captures', size: {width: 1280, height: 720}}`

[2021-12-08 10:57] indapublic commented on #10699
Thanks @dgozman Found that library works as expected on clean demo. So probably problem inside my project somewhere. Closing. Thanks again @dgozman and @pavelfeldman

[2021-12-08 10:57] #10699 closed

[2021-12-08 11:43] indapublic commented on #10699
One question related to this subject, so I will ask in closed thread.

From [here](https://playwright.dev/docs/next/network/#modify-responses)

```const response = await page.request.fetch(route.request());```

How it should be modified for multipart data? Or probably I can get json of complete response already?

[2021-12-08 12:01] amrsalem1 opened #10786 "[BUG] Test is randomly failing without showing errors in the test output"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac
- Node.js version: 14
- Browser: all

**Code Snippet**

[code]
`await feature.alertOf('Saved').waitFor()`

**Describe the bug**

The test is failing without showing any error log, after checking the trace folder found this below

<img width="1439" alt="Screenshot 2021-12-08 at 12 40 32" src="https://user-images.githubusercontent.com

[2021-12-08 12:39] Palak-Jethwani opened #10787 "[Question]Not able to call APIRequest methods ( request.get / request.post ) in utility functions as the scope allows them to be used inside "test" function only"
**#1 :**
In my test cases I use APIs for data clean up purposes (tear down, data changes reversal, data deletion) and since I have to use it multiple times I want to put the common code in utility function  (ApiHelper in log snippet) which is outside test function but when I do so the code fails

`1) [chromium] › profile.test.ts:28:10 › Update User Credential › Update Password - Positive Test @san

[2021-12-08 12:44] indapublic commented on #10699
Ok, solved with

[code]

[2021-12-08 13:04] venu44 commented on #1443
@Bharath-Kumar-S  Can you please let me know if you are able to handle multiple tabs in playwright and switch between them?

[2021-12-08 13:13] creage commented on #10728
@yury-s I can confirm now, that `broswer = webkit.launch()` before doing `broswer.newContext()` solves the isolation issue.

[code]

[2021-12-08 13:13] AmanDaharwal opened #10788 "[Question]How to verify the a file is downloaded successfully or not using playwright JS"
Scenario: App has a download file button, on click, the app sends a get request to BE and if response is 2xx, pdf file is downloaded else if  response is 4xx/5xx, pdf file is not downloaded.

Script to Verify : File is download successfully or not (true/false) after clicking on download file button.

[2021-12-08 14:05] dartyuhov opened #10790 "[Feature] @playwright/test: add download trace.zip link to HTML report"
Let us know what functionality you'd like to see in Playwright and what your use case is.
Do you think others might benefit from this as well?

Hi, thank you for awesome tool!  i've noticed that on some CIs (e.g. JENKINS) HTML report link to trace zip doesn't work (see screenshot below), so it would be useful to download trace.zip with link, same as screenshot link.

Jenkins after navigating to tr

[2021-12-08 14:26] kamelbou opened #10791 "[Question] page.frameLocator does not exist on type 'Page'"
Hi !

I'm trying to use `page.frameLocator` and I can't.

My package.json

[code]

I use it as described in https://playwright.dev/docs/frames

My class:

[code]

Am I doing something wrong ?

Thanks for your help :)

[2021-12-08 15:31] AngelLopezBellmont commented on #10752
it is not working when I run the simple login-test locally (and in cicd as well)

-  npx playwright test mydemos/login_standard.spec.js --browser=firefox   (DOESN'T work)

 when I do

-   npx playwright test mydemos/login_standard.spec.js --browser=webkit   (it works)
-   npx playwright test mydemos/login_standard.spec.js --browser=chromium   (it works)

`playwright.config.js

/** @type {import('@

[2021-12-08 15:43] ltsuda commented on #10791
`.frameLocator` and `.locator` are synchronous, so you need to remove the `await` here. You only need await when calling action methods on locators like `.click()`.

[code]

Also, I see you have both @playwright/test and playwright packages. Maybe you can remove @playwright/test if you are using only the core library.

[2021-12-08 16:05] wanghaisheng opened #10799 "how to use chrome embed function to print url to pdf"
is there any example?

[2021-12-08 16:26] herrouhajar opened #10793 "[BUG] Cannot launch my end 2 end tests with docker-compose using codeceptjs/playwright"
Hello,

Im facing an issue while running my e2e test with docker-compose, cmd : **docker-compose run node npx codeceptjs run**
im getting this error :

** browserType.launchPersistentContext: Failed to launch: Error: spawn /home/node/.cache/ms-playwright/chromium-920619/chrome-linux/chrome ENOENT
=========================== logs ===========================
<launching> /home/node/.cache/ms-playwrig

[2021-12-08 16:47] pavliy commented on #8206
Makes sense to me as well. In my case, I want to test authenticated scenarios with real auth services, but rest of tests - with auth fully mocked. So I thought starting separate servers for that - would totally make sense.

Right now the only alternative - to use separate playwright.config, which does not allow to have single test result.

[2021-12-08 16:51] #10076 closed

[2021-12-08 17:19] yury-s commented on #10728
If you launch a new browser instance they proxy settings will certainly be isolated, you can use i as a workaround for now. The proxy settings are supposed to be isolated between the browser contexts though. There may be a bug/limitation in our windows implementation, I'll need to boot into Windows to check.

[2021-12-08 17:28] dgozman commented on #5230
This sounds very strange - probably a bug. Context is an ephemeral entity, and does not get closed by clicking on any UI element. Do you have a repro by any chance? The only way to close the context should be an explicit call to `context.close()`.

[2021-12-08 17:29] dgozman commented on #10734
Sure.

[2021-12-08 17:31] dgozman commented on #10752
@AngelLopezBellmont I still don't understand what exactly is not working? Do you have some screenshots or output from the terminal to share?

[2021-12-08 18:03] Nav-2d commented on #10784
Are you looking for this? https://playwright.dev/docs/test-annotations#tag-tests

[2021-12-08 18:09] Krata4 opened #10800 "[BUG] Cascaded selector is not working with registered selector"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version:
- Browser: Chromium

Iam using registered selector like:
async function registerMySelector(page, args, log, playwright) {
    playwright.selectors.register("menu", () => ({
        // Returns all elements matching given selector in the root's subtree.
        queryAll(root, selector) {
          let results =

[2021-12-08 18:36] dgozman commented on #10784
Let us know if the link above does not help.

[2021-12-08 18:36] #10784 closed

[2021-12-08 18:50] dgozman commented on #10785
@andrejs-ps Are you using @playwright/test? I'd highly recommend that.

Since you create context yourself, you should also close it explicitly. In the code you are missing await in `await context.close()`. You also should close the browser that you've launched.

[code]

Let me know if that does not help. When I await both, it works for me locally.

[2021-12-08 18:50] #10785 closed

[2021-12-08 18:52] dgozman commented on #10786
@amrsalem1 We need more information to help you.
- What is this report? It does not look like a built-in Playwright Test report.
- Did you open the trace file? What does it show?
- What do you see in the terminal?
- Could you please share the repro config + test?

[2021-12-08 18:56] dgozman commented on #10787
@Palak-Jethwani Could you please share the full test for the first issue? It says "request.get" is not a function, so something is messed up, but it's hard to say without looking at the code.

For the second issue, you can always pass complete urls to get/post:
[code]

[2021-12-08 18:57] dgozman commented on #10780
@KotlinIsland Looking forward for any improvements!

[2021-12-08 18:58] dgozman commented on #10788
Take a look at our [downloads guide](https://playwright.dev/docs/downloads).

[2021-12-08 18:58] #10788 closed

[2021-12-08 19:01] dgozman commented on #10791
You are using `"@playwright/test": "^1.16.3"` - it does not have `frameLocator` API yet. Please upgrade to 1.17.1.

[2021-12-08 19:01] #10791 closed

[2021-12-08 19:01] dgozman commented on #10799
Take a look at [`page.pdf()`](https://playwright.dev/docs/api/class-page#page-pdf).

[2021-12-08 19:01] #10799 closed

[2021-12-08 19:03] dgozman commented on #10793
@herrouhajar Looks like the browser executable is missing. Did you run `npx playwright install`? Overall, this question belongs to codeceptjs issues.

[2021-12-08 19:03] #10793 closed

[2021-12-08 19:06] dgozman commented on #10800
@Krata4 This is because you start your xpath evaluation from the document.

[code]

Replace the line above with the following:

[code]

Let us know if you need more help.

[2021-12-08 19:06] #10800 closed

[2021-12-08 19:12] wanghaisheng commented on #10799
wonderful

[2021-12-08 19:21] dgozman commented on #10765
Well, I just took this screenshot - it is 1264x84306 pixels. I guess your environment is too constrained to handle that. Not sure we can do anything about that 😄

I can suggest to split page into parts and take multiple screenshots:

[code]

[2021-12-08 19:21] #10765 closed

[2021-12-08 19:21] herrouhajar commented on #10793
@dgozman yeah i did, but the issue still took place when i run :
`docker-compose run node npx codeceptjs run`

[2021-12-08 19:24] dgozman commented on #10793
@herrouhajar I am sorry, but we do not know what codeceptjs does, so we are unlikely to be able to help.

[2021-12-08 19:26] dgozman commented on #10745
I guess we'll need a full repro scenario to be able to help.

[2021-12-08 19:27] dgozman commented on #10672
Closing since we cannot reproduce the issue. Please file a new issue with a repro if you have one.

[2021-12-08 19:27] #10672 closed

[2021-12-08 19:27] dgozman commented on #10673
Closing since we cannot reproduce the issue. Please file a new issue with a repro if you have one.

[2021-12-08 19:27] #10673 closed

[2021-12-08 19:27] dgozman commented on #10616
Closing since we cannot reproduce the issue. Please file a new issue with a repro if you have one.

[2021-12-08 19:27] #10616 closed

[2021-12-08 19:30] dgozman commented on #10755
@eckhards I guess you have found a bug on the site? I'd assume there was another successful request that ended up with youtube cookies. Try [recording a trace](https://playwright.dev/docs/trace-viewer) and look at the network tab - maybe you'll spot the request right away.

[2021-12-08 19:33] Krata4 commented on #10800
Hello,

still not work:
async function registerMySelector(page, args, log, playwright) {
    playwright.selectors.register("menu", () => ({
        // Returns all elements matching given selector in the root's subtree.
        queryAll(root, selector) {
          let results = [];
          let query = document.evaluate('//*[@aria-label="' + selector + '"]', root, null, XPathResult.ORDERED_NODE_SN

[2021-12-08 19:37] dgozman commented on #10800
@Krata4 The code looks fine, so need to debug it. If you have a repro with a script and a web page, we'll be able to take look.

[2021-12-08 19:39] Krata4 commented on #10800
with css locationg it is working:

queryAll(root, selector) {
            return Array.from(root.querySelectorAll('[aria-label="' + selector + '"]'));
        }

Can you help me how to implement for XPATH please?

Thanks

[2021-12-08 19:42] andrisi opened #10802 "[BUG] PrintDeps.exe ran in visible console window"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows 10
- Node.js version: 16
- Browser: Firefix

**Describe the bug**

Running some script that uses Firefox, headless, as admin user in Windows 10, and this makes playwrite pop up visible console windows running PrintDeps.exe on the screen like 10 times when a new browser is opened. I'll try to investigate further, but you might kn

[2021-12-08 19:50] Krata4 commented on #10800
sorry, I do not have :-(

[2021-12-08 19:50] cdnsteve opened #10803 "[Question] How can I use variables within the $$eval method to help with dynamic query of element?"
I'm trying to find all elements on a page, then want to filter those elements down into values.
The values have specific selectors on them (css classes, etc).
The problem I have is that I cannot pass outside variables into the $$eval function so that my CSS selectors can be dynamic.

EG:

[code]

If I try to change my CSS selector to a variable it doesn't work, I've tried just about everything.

[

[2021-12-08 19:51] Evilweed opened #10804 "[BUG] Headed run resolves "page.locator('iframe').nth(0)" to Playwright's iframe"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac
- Node.js version: 16.14
- Browser: Chromium

[code]

**Code Snippet**
[code]

**Describe the bug**

Debug iframe that Playwright adds in Headed mode is being found while using `page.locator("iframe").nth(0);`. Couple of our developers, not yet with mastery debugging skills in playwright ran into this issue, and couldn't find the so

[2021-12-08 21:06] dgozman commented on #10800
Take a look at xpath engine implementation: https://github.com/microsoft/playwright/blob/main/packages/playwright-core/src/server/injected/xpathSelectorEngine.ts.

[2021-12-08 21:20] Krata4 commented on #10800
it looks same as my code :-( I do not know where is problem :-(

[2021-12-08 21:25] Krata4 commented on #10800
I tried to write it as xpath engine:
        queryAll(root, selector) {
          let results = [];
          let query = document.evaluate('//*[@aria-label="' + selector + '"]', root, null, XPathResult.ORDERED_NODE_ITERATOR_TYPE);
          for (let node = query.iterateNext(); node; node = query.iterateNext()) {
            if (node.nodeType === Node.ELEMENT_NODE)
              results.push(node)

[2021-12-08 21:29] Krata4 commented on #10800
with this - same issue:

        queryAll(root, selector) {
          let results = [];
          const document = root instanceof Document ? root : root.ownerDocument;
          let query = document.evaluate('//*[@aria-label="' + selector + '"]', root, null, XPathResult.ORDERED_NODE_ITERATOR_TYPE);
          for (let node = query.iterateNext(); node; node = query.iterateNext()) {
            if (

[2021-12-08 21:29] andrejs-ps commented on #10785
@dgozman - do you mean one should use the fixture like so?

[code]

The above works and Playwright cleans up the temp download without having to explicitly `await context.close();`.

But how do I create a single self-contained test that runs in headed mode AND acceptsDownloads? (I'm aware of test.use() method and global config json file).

There's not `browserType` fixture, so the only way I see i

[2021-12-08 21:33] Krata4 commented on #10800
oooooh.
solved

dot before //
so xpath must start with dot like ".//" and it is working :)))).
Thank you very much

[2021-12-08 21:48] indutny-signal opened #10808 "[BUG] fs.promises.readFile doesn't resolve in electron's preload"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 16.9.1
- Browser: Electron 16
- Extra: see https://github.com/electron/electron/issues/32132

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

https://gist.github.com/indutny-signal/609177f4f6fb041f01ac1516f9f2e20f

[2021-12-08 22:00] dgozman commented on #10785
That's because built-in `browser` does a proper close for you.

`test.use()` is scoped per describe block, so just wrap your test in a describe like this:

[code]

If you also need this single test to be headed (why though?), you'll need a separate file.

[code]

[2021-12-08 22:02] jdedwards3 commented on #10765
@dgozman Thank you for responding to this so promptly!

I see the [system requirements](https://playwright.dev/docs/library/#system-requirements) for playwright, although there is no mention of minimum requirements, in terms of memory or processor.

Is there a suggested minimum system configuration?

[2021-12-08 22:09] dgozman commented on #10765
Nope - it depends on what you are doing. As we just saw, capturing a full-page screenshot of some large page is pretty heavy on memory (and probably also cpu + gpu if there is any), while doing some casual goto+click can be done on very light machines. It is also very much browser-dependent. Here is what [Google Chrome has to say](https://support.google.com/chrome/a/answer/7100626?hl=en) about sys

[2021-12-08 22:46] bruce-at-events commented on #10744
Sorry for the late response, please see below for details:

in playwright.config.ts​

// config file
import { PlaywrightTestConfig, devices } from ***@***.***/test';

const config: PlaywrightTestConfig = {
  forbidOnly: !!process.env.CI,
  retries: process.env.CI ? 2 : 0,
  use: {
    trace: 'on-first-retry',
    // screenshot: 'only-on-failure',
    screenshot: 'on'
  },
  reporter: [ ['html', {

[2021-12-08 22:59] mxschmitt opened #10811 "Chromium/Windows test is failing in the latest roll"
- range: https://chromium.googlesource.com/chromium/src/+log/640cff72368a6e743ac36f1cb8a5e842a2592167..6a7b36500c7e0313dc479b2c28371485b08fc198
- probably this commit: https://chromium.googlesource.com/chromium/src/+/9250cb6111ebfa5f751141ae5c5443552b097cf2
- caseq stamped it: https://chromium-review.googlesource.com/c/chromium/src/+/3313465
- thats the test which is failing: `defaultbrowsercontex

[2021-12-08 23:01] dgozman commented on #10744
@bruce-at-events So the problem is with the devices you use. There are no devices named "Chrome", "Firefox" or "Safari". You can take a look at all [available devices here](https://github.com/microsoft/playwright/blob/master/packages/playwright-core/src/server/deviceDescriptorsSource.json), or print them yourself with `console.log(Object.keys(devices))`. Take a look at [our recommended devices](ht

[2021-12-08 23:01] dgozman commented on #10811
Upstream issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1278119

[2021-12-08 23:06] dgozman commented on #10803
Does [this documentation page](https://playwright.dev/docs/evaluating#evaluation-argument) help?

[2021-12-08 23:17] dgozman commented on #10808
@indutny-signal Playwright does not do anything special here, so any help debugging the issue is appreciated.

[2021-12-08 23:22] dgozman commented on #10804
@Evilweed Playwright does not add any debug iframe. Do you have a full repro script that shows the issue?

[2021-12-08 23:41] #10790 closed

[2021-12-08 23:43] indutny-signal commented on #10808
Thanks for a prompt response. I'm not proficient in playwright's codebase, but does it do anything on inspector connection that could potentially block renderer/preload threads?

[2021-12-08 23:48] dgozman commented on #10808
@indutny-signal Hmm... Maybe there is a target that is paused and not resumed. If you could run with `DEBUG=pw:protocol*` and send us the logs, that would help!

[2021-12-08 23:52] indutny-signal commented on #10808
@dgozman here you go: https://gist.github.com/indutny-signal/2bd93b820582e331ed8f4230ae7f1d91 thanks!

[2021-12-09 01:34] #10735 closed

[2021-12-09 02:13] #10634 closed

[2021-12-09 02:14] yury-s commented on #10227
Seems to be the same problem as https://github.com/microsoft/playwright/issues/10634 and should be fixed by #10689

[2021-12-09 02:14] #10227 closed

[2021-12-09 02:40] cdnsteve commented on #10803
Tried a bunch but still no dice.
Maybe I'm going about this wrong, is there another way to select multiple elements within Playwright that I can just iterate through without using eval?

[2021-12-09 02:55] dgozman commented on #10808
I don't see any issues in the log. I tried reproducing, and it all works for me with playwright 1.17.1, node 16.11.1 and electron 16.0.4 on macOS.

[2021-12-09 03:11] rwoll commented on #10668
Feel free to close. Upon further thinking/use, it seems like it's a feature. (Especially since it looks like it has a giant yellow box telling you you can jump to latest that I somehow missed in that moment… 🤦 )

[2021-12-09 04:11] #10668 closed

[2021-12-09 04:49] Avol-V opened #10816 "Wrong path to fail screenshot in html report [BUG]"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Linux
- Node.js version: 14.18.0
- Browser: All
- Extra: Only in CI (TeamCity)

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

Path to fail screenshot in Screenshots section — is absolute path in file system to

[2021-12-09 05:00] orihomie commented on #10784
Thanks!

[2021-12-09 06:43] #7066 closed

[2021-12-09 07:12] rwoll commented on #8113
Going to close this as I found tests with these turned out to be less useful than Image/Screenshot based snapshots, and more susceptible to breakage and maintenance overhead.

[2021-12-09 07:12] #8113 closed

[2021-12-09 08:03] indutny-signal commented on #10808
Ah, but it happens only on Windows. It works just fine for me on both macOS and Linux, otherwise.

[2021-12-09 08:56] shirshak55 commented on #5230
@dgozman

Sorry, I mean page.on("close", () => isContextClosed = true) because I wanted to check if user has clicked on X icon or not. Maybe I was confused because adding a page to context means adding a page to the browser window ( this doesn't apply to firefox though). With this rule I add only 1 page to 1 context.

What's the best way to know if the user closed the browser or not. What I wanted

[2021-12-09 09:14] liamdocherty10 commented on #10753
@dgozman I'm pretty early into using Playwright but I'm working on a central team trying to develop some generic 'wrapper' methods so that each consumer team can use a more tool agnostic implementation e.g.
[code]

If we switch to using `.fill` like your suggestion, are there any scenarios you are aware of where I'd need to use some conditional check based on the tag e.g.:
[code]

Or do you expect

[2021-12-09 09:26] herrouhajar opened #10817 "[BUG] Cannot launch my end 2 end tests in chromium with docker-compose using playwright"
Hello,

Im facing an issue while running my e2e test with docker-compose, cmd : docker-compose run node npx codeceptjs run
im getting this error :

** browserType.launchPersistentContext: Failed to launch: Error: spawn /home/node/.cache/ms-playwright/chromium-920619/chrome-linux/chrome ENOENT
=========================== logs ===========================
/home/node/.cache/ms-playwright/chromium-9206

[2021-12-09 09:32] amrsalem1 commented on #10786
@dgozman
-its allure report, but also in the terminal output no any error is shown, its just show that test has failed
- I have added a screenshot of failed step from trace viewer.  ```await feature.alertOf('Saved').waitFor()```
after I have added timeout for waitFor I didn't see the error again, but still some error should have been displayed in terminal

my configs

[code]

[2021-12-09 09:56] mdemenko opened #10818 "[Question] Running tests on Azure"
I'm running tests on Azure pipeline and have several questions:
1. Currently HTML report is displayed after clicking HTML Viewer tab for pipeline run. But empty page is displayed after clicking failed tests (any details, screenshot, etc.). Test results artifact is generated and can be downloaded (with html folder). So is this PW issue or it should be configured in Azure separately?
![Azure Devops]

[2021-12-09 10:00] trusktr opened #10819 "[REGRESSION]:"
**Context:**
- GOOD Playwright Version: [what Playwright version worked nicely?] 1.8
- BAD Playwright Version: [what Playwright version doesn't work any more?] 1.17
- Operating System: [e.g. Windows, Linux or Mac] Ubuntu
- Extra: [any specific details about your environment]

**Code Snippet**

[code]

**Describe the bug**

I get the error:

[code]

I am trying to migrate from an older `jest-playwr

[2021-12-09 10:04] trusktr commented on #10819
What other info can I provide?

[2021-12-09 10:49] p01 commented on #10219
In Pixelmatch which is used so far by the method `toMatchSnapshot(...)`, the threshold is about the percentage of color difference for one individual pixel.

If a single pixel exceeds that threshold, the images are considered different.
Images are also considered different if they have different resolution.

[2021-12-09 10:59] p01 commented on #8113
By themselves, DOM + CSS snapshot are too noisy, but they are extremely valuable to understand the reason behind visual changes.

[2021-12-09 11:03] indapublic opened #10822 "[Feature] Screenshot of specific element (with selector for example) instead of whole page"
If I missed this functionality please tell me.

I need to capture screenshot of specific element (mostly images with dynamic url like captcha). Is it possible?

I know that `screenshot` method contains `clip` attribute but it's some tricky I guess.

[2021-12-09 12:15] andrejs-ps commented on #10785
@dgozman - thank you, this answers my question.

To anyone reading this, a small note: `headless` is nested inside `launchOptions` like so:

test.use({
    launchOptions: { headless: true},
    acceptDownloads: true
});

[2021-12-09 12:41] Krata4 opened #10824 "[Question] New Context start in SSO only"
Hello,

I have problem, that start of the new context is still in SSO not in incognito mode.
This is happaned on server only. On my laptom with same code it is working.

Can you help me what can be different on the server site please?

Thanks
Jirka

[2021-12-09 12:59] awnclaim opened #10825 "[Question] Specific test retries"
Hi!

Is there any way I could set the maximum number of retries to a specific test function?

My case is the following: in my test, I create an object via a POST request and then I want to verify that the response body of a GET request contains some info about it. The matter is that our backend will return no info within 2-4 minutes after the object is created, so I need to send one request after

[2021-12-09 13:51] dgozman commented on #10753
I do. However, if you encounter an edge case where this is not sufficient, don't hesitate to file an issue. Easy input actions is one of the high priority areas for Playwright.

[2021-12-09 13:51] #10753 closed

[2021-12-09 13:51] Dennyjomiller98 opened #10826 "[BUG] browserContext.close: tracing.stopChunk: ENOENT: no such file or directory"
**Context:**
- Playwright Version: [ @playwright/test": "^1.16.3"]
- Operating System: [Linux]
- Node.js version: [14.17.2]
- Browser: [Chromium, Firefox]

## System:
 - OS: Linux 5.4 Ubuntu 20.04.3 LTS (Focal Fossa)
 - Memory: 11.01 GB / 31.32 GB
 - Container: Yes
## Binaries:
 - Node: 14.17.2 - ~/.nvm/versions/node/v14.17.2/bin/node
 - Yarn: 1.9.4 - /usr/bin/yarn
 - npm: 6.14.13 - ~/.nvm/version

[2021-12-09 13:52] dgozman commented on #8113
@p01 Did you try [Playwright traces](https://playwright.dev/docs/trace-viewer)? They include DOM snapshots for exactly this reason.

[2021-12-09 13:58] dgozman commented on #10803
Here are some recipes for [using Locators as lists](https://playwright.dev/docs/next/locators#lists).

---

Here is what I'd do to get all texts:

[code]

---

Here is an example with [`Locator.evaluateAll()`](https://playwright.dev/docs/api/class-locator#locator-evaluate-all):

[code]

[2021-12-09 13:58] #10803 closed

[2021-12-09 14:08] dgozman commented on #10817
How is this different from #10793? Please don't post the same issue unless you have some additional details to share.

[2021-12-09 14:15] dgozman commented on #10818
Playwright does not do anything special for Azure pipelines. This seems to be Azure pipelines picking something up from your test output? I'd look in their documentation first.

Video defaults to 800x450, unless you specify the video size. [See here](https://playwright.dev/docs/api/class-browser#browser-new-context-option-record-video) for more details. For some reason, [video option](https://play

[2021-12-09 14:19] Krata4 commented on #10824
When I added argument on new browser --auth-server-whitelist="_"  it started work.
Is it bug on Playwright?

[2021-12-09 15:24] dgozman commented on #10822
[`Locator.screenshot()`](https://playwright.dev/docs/api/class-locator#locator-screenshot.) does that.

[2021-12-09 15:24] #10822 closed

[2021-12-09 15:25] dgozman commented on #10824
@Krata4 It is hard to understand what's going on. Do you have a repro script to share?

[2021-12-09 15:29] dgozman commented on #10825
@awnclaim There is no such feature as of today. As a workaround, you can put this test into a separate file and use a separate project for it:

[code]

[2021-12-09 15:40] sunsobolev opened #10829 "Automatisation"

[2021-12-09 15:46] flunderpero commented on #10732
It seems to affect tests with `test.step` only.

[2021-12-09 15:57] OriAmir commented on #7121
I have react app + e2e folder for the playwright testing.
I read all that thread and I'm still do not understand how I could make playwright to recognize absolute paths? I understand its not support the `tsconfig` file for now, but there is any workaround to make it work?

[2021-12-09 16:02] awnclaim commented on #10825
Hello,

Thanks for your reply. I would like to express my strong desire to **include this in your backlog**, as in the workaround you suggested all test functions will be retried in case our backend does not respond, and this is not something we would want.

Could I please ask another question? To apply this workaround, I would need to create separate authentication setups for the suits not to imp

[2021-12-09 16:20] AngelLopezBellmont commented on #10752
I will close this issie and open a new one without pageObject . And I will paste the terminal information there

[2021-12-09 16:24] DvDream opened #10831 "[Question] Run tests in --headed mode through Docker container?"
Hi everyone!
I'm really new to Docker and I'm trying to run my playwright tests by building a Docker image using this Dockerfile:

[code]
and I'm trying to run my tests in --headed mode and I didn't quite understand how to set it from the docs. Could someone help me?

I'm running Docker Desktop into Windows 10, FYI.

[2021-12-09 16:49] AngelLopezBellmont opened #10832 "[BUG] playwright waitForNavigation problem with firefox [headless, headed] but is working via [firefox-mode-debug, chromium, webkit]"
- playwright version: 1.16.3
- operating system: locally-> windows,  cicd -> azure
- node version: 15.0.1
- npm version: 7.9.0
- browser: **error only in firefox: [headless, headed], no error in firefox --debug, chromium,webkit**
- auth tool: keycloak

**I can login only via [firefox-mode-debug, chromium, webkit]
but not via firefox [headless, headed]:**

[code]

**Same test run with different bro

[2021-12-09 16:50] #10752 closed

[2021-12-09 16:51] AngelLopezBellmont commented on #10832
#10752 https://github.com/microsoft/playwright/issues/10752

[2021-12-09 16:51] AngelLopezBellmont commented on #10752
#https://github.com/microsoft/playwright/issues/10832

[2021-12-09 17:28] Reed88 commented on #10735
@dgozman Will that change also fix an issue I am having where await page.video().path() is returning null? I'd like to try this out, how often do you cut alpha releases?

[2021-12-09 17:38] dgozman commented on #10735
Try `npm i @playwright/test@next` tomorrow - there should be a new alpha release.

[2021-12-09 17:45] prushforth opened #10833 "[BUG] Context menu ("Shift+F10") triggers context menu on chromium, not on firefox"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: v13.13.0
- Browser: Firefox
- Extra: We're using jest-playwright, with jest describe/expect, playwright for e2e automation

Here's the test html:

[code]

Here's the jest-playwright test that fails on firefox only, works on chromium:

[code]

**Describe the bug**
The bug is that the contextmenu event is not tr

[2021-12-09 18:23] dgozman commented on #10819
@trusktr I can repro this. I guess something has changed, but I am not sure we are going to fix this. I'd suggest to wrap your code in [the IIFE](https://en.wikipedia.org/wiki/Immediately_invoked_function_expression), to have a scope to declare variables. Sorry for the inconvenience.

[code]

[2021-12-09 18:24] dgozman commented on #10826
I think this was fixed in v1.17.1. Could you please upgrade and check for yourself?

[2021-12-09 18:26] #10829 closed

[2021-12-09 18:35] colemars commented on #2297
I would think to use `await page.keyboard.type('Hello')` now.
https://playwright.dev/docs/api/class-keyboard#keyboard-type

[2021-12-09 18:39] dgozman commented on #10825
Of course 👍

Yeah, that's not an easy problem, but we are working on a nice ergonomic solution for this. For now, you'll have to log in twice in the single `globalSetup` and save multiple storage states, as [described here](https://playwright.dev/docs/test-auth#multiple-signed-in-roles).

[2021-12-09 18:48] dgozman commented on #10734
Thank you for the trace file. The problem here is that `<input>` is inside a disabled `<fieldset>`, and Playwright did not pick it up. This was addressed by #9927, so will be fixed in v1.18.

[2021-12-09 18:48] #10734 closed

[2021-12-09 18:58] awnclaim commented on #10825
Hello,

Thank you so much for drawing my attention to this instruction, I hadn't noticed it before.

I'll stay tuned to the updates from you guys!

[2021-12-09 19:23] dgozman commented on #10825
Let's keep this issue open to track the "set retries per single test" feature request.

[2021-12-09 19:25] jespertheend commented on #8682
What is the step title currently being used for?
I was expecting it to show when an error occurs but this doesn't seem to be the case.

[2021-12-09 20:37] jespertheend opened #10836 "[BUG] `keyup` event not firing for `Enter` key when stepping in debug mode."
**Context:**
- Playwright Version: 1.17.1
- Operating System: macOS
- Node.js version: v16.13.0
- Browser: Chromium (didn't try others yet)

## System:
 - OS: macOS 11.6.1
 - Memory: 782.79 MB / 16.00 GB
## Binaries:
 - Node: 16.13.0 - /usr/local/bin/node
 - Yarn: 1.22.10 - /usr/local/bin/yarn
 - npm: 8.1.0 - /usr/local/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash

**Code Snippet**

keyup.tes

[2021-12-09 20:42] jespertheend commented on #10836
Hmm I can reproduce it with the F keys as well

[2021-12-09 21:26] emakaay opened #10837 "Problem starting browser after upgrade Node module repo from http to https"
**Describe the bug**
My question is NOT related to a bug !.

We recently changed our internal used NPM repo (biggest changes is using https instead of http).

- We use the same virtual python environment as before
- We have removed the npm-cache directory (so no conflicts which previous opjects)
- rfbrowser init works fine (no errors detected). This is a script used by robotframework-browser to do

[2021-12-09 21:31] cameronhunter opened #10838 "[Feature] Ability to register browsers"
Hi! At Netflix we have a custom "browser" named [Gibbon](https://youtu.be/5sETJs2_jwo?t=182) that runs on smart TVs, games consoles, set top boxes etc. Would it be possible to add the ability to register a custom `BrowserType`? Something along the lines of `registerBrowser(name: string, browserType: BrowserType): void` allowing usage such as:

[code]

[2021-12-09 23:49] yury-s commented on #10838
Is Gibbon based one of the tree major engines? If not then registering a new browser type for it would entail supporting another remote debugging protocol in Playwright. Public API for that would likely be bigger than current Playwright API (look at browser-specific bits for e.g. [WebKit](https://github.com/microsoft/playwright/tree/main/packages/playwright-core/src/server/webkit)) which would be

[2021-12-09 23:55] aslushnikov commented on #10759
Firefox release M95 builds are failing on bots.
- https://bugzilla.mozilla.org/show_bug.cgi?id=1744197

[2021-12-09 23:57] dgozman opened #10840 "[BUG] timeout fixtures are not applied to Electron"
### Discussed in https://github.com/microsoft/playwright/discussions/10809

<div type='discussions-op-text'>

<sup>Originally posted by **evertonlperes** December  8, 2021</sup>
Hi there,
Just facing a weird situation (CI and sometimes locally, but it's rare) where the electron app hangs during the `electronApp.close()` method. All the tests has passed properly though.
We build the project through

[2021-12-10 00:03] aslushnikov commented on #10395
There was some git submodule issue; I purged the `_work` folder of the self-hosted runner.

[2021-12-10 00:09] aslushnikov commented on #10831
@DvDream just change your last line to use `xvfb-run`:

[code]

[2021-12-10 00:22] cameronhunter commented on #10838
Thanks for the response @yury-s! Gibbon does support CDP connections. Ideally the BrowserType implementation would be owned and maintained by us and we'd dynamically register it with playwright.

[2021-12-10 00:48] dgozman commented on #10786
I don't think we'll be able to fix the issue, unless we have a full repro that we can run locally.

[2021-12-10 01:03] dgozman commented on #10837
It seems like `rfbrowser` means robot framework? I'd recommend to ask the same question here: https://github.com/robotframework/robotframework.

[2021-12-10 01:03] #10837 closed

[2021-12-10 01:15] #10836 closed

[2021-12-10 01:26] pavelfeldman commented on #10838
As long as you are using the @playwright/test, you don't need changes to the library. You can [override](https://playwright.dev/docs/test-fixtures#overriding-fixtures) the browserType fixture and return your own fixture.

[2021-12-10 01:27] musou1500 opened #10845 "[BUG] Snapshotter does not replaces frame src attr"
**Context:**
- Playwright Version: 1.17.1(also reproduced on `main` branch)
- Operating System: Mac
- Node.js version: v14.15.3
- Browser: All

**Code Snippet**

[code]

**Describe the bug**
frame `src` attribute is not replaced by snapshotted version. so snapshotted frame content is not shown on trace viewer.

[2021-12-10 01:33] musou1500 opened #10847 "[BUG] meta tag specifies charset remains in dom snapshot"
**Context:**
- Playwright Version: 1.17.1(also reproduced on `main` branch)
- Operating System: Mac
- Node.js version: v14.15.3
- Browser: All

**Code Snippet**

[code]

**Describe the bug**

meta tag specifies charset(for example: `<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">`) remains in dom snapshot.
so garbled text is appears on trace viewer.

[2021-12-10 01:47] hoox opened #10849 "[BUG] Links on docs are broken when path has trailing slash"
**Context:**
- Playwright Version: 1.17
- Operating System: N/A
- Node.js version: N/A
- Browser: All
- Extra: N/A

**Code Snippet**

[code]

[code]

**Describe the bug**

When you access the Playwright docs with a trailing slash, the links are broken as they are relative.

For example:
- Go to: [https://playwright.dev/docs/release-notes/](https://playwright.dev/docs/release-notes/)
- Click on the

[2021-12-10 01:47] cameronhunter commented on #10838
@pavelfeldman this is interesting! I'll check into doing that and get back to you.

[2021-12-10 02:55] aslushnikov commented on #10330
@ssams The original issue is vice versa: @xuanzhaopeng updated to 1.16.3 and noticed different fonts.

That's great investigation, thank you! It indeed looks like Firefox defaults to deja vu fonts by default if they are available.

Up until now, we didn't look closely into Visual Regression Testing, so we weren't very accurate with fonts in the container. Sorry for the inconvenience!

As we're foc

[2021-12-10 03:00] kiwiaddo opened #10850 "[BUG] Mismatch in skipped tests between json and junit reports when matcher used"
**Context:**
- Playwright Version: 1.16.3, 1.17.1
- Operating System: Windows/Linux
- Node.js version: 14, 16
- Yarn version: 1.22.4
- Browser: Chrome

**Code Snippet**

`yarn playwright test --grep smoke --reporter json,junit`

[code]

[code]

**Describe the bug**

Using the grep option (--grep) to match a subset of tests results in some being marked as skipped in the json report output. In the j

[2021-12-10 04:37] ltsuda commented on #10786
As @dgozman said, they need a way to reproduce the issue on their side but just some observations:

- You are using an older version of allure-playwright, please use an updated version
  - https://github.com/allure-framework/allure-js/blob/master/packages/allure-playwright/README.md
- On the right-side menu of the Trace Viewer there's a `1` on the Console tab, what does it have there?
- Is this al

[2021-12-10 05:49] Sunny1861 commented on #10369
@dgozman , May I know what kind of feedback want to collect?
We are in research stage for new product UI automation, it is matter for us if playwright support to attach existing electron or not.

[2021-12-10 06:19] bruce-at-events commented on #10744
Thanks so much Dmitry!

Now I see the problem, sorry for one more question: is it possible to use the device name for screenshots? is it exposed somewhere in the fixtures?

Thanks and have a great weekend,
Bruce
________________________________
From: Dmitry Gozman ***@***.***>
Sent: 09 December 2021 10:01
To: microsoft/playwright ***@***.***>
Cc: Bruce Li ***@***.***>; Mention ***@***.***>
Subject

[2021-12-10 08:25] arturmkr opened #10857 "[Feature]: Add description for elements"
### Feature request

In Selenide, it's possible to add description to the elements:
<img width="874" alt="Screenshot 2021-12-10 at 10 15 57" src="https://user-images.githubusercontent.com/14920279/145540900-aeb6fb9c-6516-44e0-a6e7-454b9acedbf4.png">

So, if using Allure Selenide ( https://mvnrepository.com/artifact/io.qameta.allure/allure-selenide ) in the report would be:
<img width="568" alt="Sc

[2021-12-10 08:46] AngelLopezBellmont commented on #10277
#https://github.com/microsoft/playwright/issues/10832

[2021-12-10 09:19] DvDream commented on #10831
Done but it doesn't work.. won't appear anything. I'm just running

`docker run -it docker_example`

[2021-12-10 09:36] emyly opened #10851 "[Question]page.goto: net::ERR_CONNECTION_TIMED_OUT"
**Context:**
- Playwright Version:1.15.0
- Operating System: [ Mac]
- Node.js version: [14.18.1]
- Browser: [Chromium]
-
![image](https://user-images.githubusercontent.com/26674260/145551200-703e021d-60a2-4376-bd32-703fa44276d6.png)

**Describe the bug**
Occasionally, run-to-end access to the test site fails, but the actual site is reachable，An error page. Goto: net: : ERR_CONNECTION_TIMED_OUT，som

[2021-12-10 10:29] mdemenko commented on #10818
I've checked with next config:
`   timeout: 45000,
    workers: 6,
    use: {
        headless: false,
        viewport: { width: 1920, height: 1080 },
        browserName: "chromium",
        screenshot: "only-on-failure",
        video: "retain-on-failure",
        storageState: "state.json",
        acceptDownloads: true,
        trace: "retain-on-failure",
        contextOptions: {

[2021-12-10 11:05] Kremliovskyi opened #10855 "[Question] Is there any way to make better video quality?"
My viewport is 1920x1080 which is said to be default video size but there is scaling to 800x800, I can barely see what data is typed in input fields. Is there any way to make better video quality?

[2021-12-10 11:25] ltsuda commented on #10855
I think this relates to this comment here https://github.com/microsoft/playwright/issues/10818#issuecomment-989891583

[2021-12-10 11:42] Kremliovskyi commented on #10855
@ltsuda Thank you, it is working like this
`const config: PlaywrightTestConfig = {
    use: {
        headless: true,
        viewport: { width: 1920, height: 1080 },
        ignoreHTTPSErrors: true,
        video: {
            mode: "retain-on-failure",
            size: { width: 1920, height: 1080 }
        },`

I suggest to add to documentation https://playwright.dev/docs/test-configuration#re

[2021-12-10 11:47] thorleifjaocbsen opened #10856 "[Question] locator.click - Timed out even if only run for a millisecond?"
Sometimes it fails on a stupid selector like this:

Is there something I've done wrong? The "Save" button is there, but it times out? Default timeout is on 30 seconds is what I read in docs. is there a way to see what the actual timeout is?

![image](https://user-images.githubusercontent.com/8550684/145569475-04ac56ac-3b19-444a-8840-3dc7cd2b10d8.png)

[2021-12-10 13:32] Stachys commented on #2159
@aslushnikov I agree with the above that focus testing is essential in terms of testing for accessibility. It's great to see that it was added in [Assertions](https://playwright.dev/docs/test-assertions#expectlocatortobefocusedoptions).
Unfortunately, this solution works only with Playwright test runner, but it would be very useful to have a solution in Playwright Library itself. Thanks!

[2021-12-10 13:41] mdemenko commented on #10818
Thanks @ltsuda for the link. This is what I was looking for.

[2021-12-10 13:44] martaProsniak commented on #10832
I have similar issue with Firefox. It works with v1.15.2, not with higher versions. I use storage state to login user programatically. During debugging I noticed that localstorage is empty, also with no auth information, so page can't load properly. There is no specific error message, just the one about exceedeing the timeout. This issue appears only in Firefox, Webkit and Chromium work ok.

[2021-12-10 14:56] amrsalem1 commented on #10786
unfortunately its private project, but will try to find another way to reproduce it in some public domain

[2021-12-10 14:58] amrsalem1 commented on #10786
yes its somehow animated, will try to use the method u have provided

[2021-12-10 15:42] dgozman commented on #10369
@Sunny1861 Electron is not a priority for Playwright, so I don't expect this to be fixed soon. Especially, without a clear repro script.

This means we acknowledge the issue, but we'll prioritize it depending on the amount of feedback/similar requests/thumbs up.

[2021-12-10 15:43] dgozman commented on #10744
Unfortunately, no. We've never thought about such a usecase.

[2021-12-10 15:43] #10744 closed

[2021-12-10 15:47] dgozman commented on #10818
@mdemenko You should not mix `contextOptions: { recordVideo: ... }` and `video: "retain-on-failure"` because they conflict. Following @ltsuda's link you can configure just the `video` option and it should work. Let us know if something does not work.

[2021-12-10 15:47] #10818 closed

[2021-12-10 15:58] cmacdonnacha commented on #8852
@pavelfeldman Would you be able to provide an example on how to get this working with annotations? I have the following skip annotation in my test:

`test.skip(process.env.TOKEN === undefined, 'This test was skipped because token was not passed in');`

But I don't see the description in the terminal output. Is there something else I need to include or pass into the command: `npx playwright test`.

[2021-12-10 17:23] Kremliovskyi opened #10859 "[BUG] Retain retry history in Playwright Html report"
I am running same test for 5-10 times in a row to make sure it is not flaky --repeat-each 5. When it is flaky and it fails few times then passes Playwright Html report stores video only of the last successfull run and the same with steps. It shows that 2 out 4 failed when you click on the failed you see all steps passed. Please store the results of each test run dont clear them, I can not debug fl

[2021-12-10 18:00] Nav-2d commented on #10859
Related #10437

[2021-12-10 18:04] kamelbou opened #10860 "[Question] Reporter with Playwright"
Hi,

Is that possible to use Reporter capabilities with Playwright as a lib and not using @playwright/test ?
Indeed, we are moving our code to Playwright and we are still using cucumber-html-reporter. To simplify everything, I would like to remove cucumber-html-reporter.

Thank you

[2021-12-10 18:09] WestonThayer commented on #2159
@Stachys you don't need the test runner, right? `toBeFocused()` is just a convenience wrapper for

[code]

[2021-12-10 18:11] mxschmitt commented on #2159
`toBeFocus` via `expect` gives you auto-retries with a specific timeout. So its different and more feature-rich.

Which test-runner are you using currently and why does the Playwright test-runner not work for you? Just curious.

[2021-12-10 18:20] dgozman commented on #10832
@AngelLopezBellmont If you could share the web page url, we can debug ourselves. Otherwise, I can just imagine possible issues with no confirmation.

I'd suggest to use `waitForURL` instead, because it handles the case where page has the right url already.

[code]

Also, it usually better to wait for something visual instead of a navigation or an url. For example check that "Successfully logged in

[2021-12-10 18:35] dgozman commented on #10850
@kiwiaddo I cannot produce this locally. Could you please provide a test file, a config file and a command that you run?

[2021-12-10 18:40] dgozman commented on #10851
@emyly This `ERR_CONNECTION_TIMED_OUT` comes straight from the browser (Chromium in this case), and is indeed a network related problem.

[2021-12-10 18:40] #10851 closed

[2021-12-10 18:42] dgozman commented on #10856
@thorleifjaocbsen Looks strange indeed. Here is [an overview](https://playwright.dev/docs/test-timeouts) of various timeouts in Playwright Test. If you could share a repro script, we'll be able to run ourselves and debug the issue.

[2021-12-10 18:45] dgozman commented on #10859
I can repro this with the following test when running with `--repeat-each=5`. Seems to be an html reporter issue.

[code]

[2021-12-10 18:47] dgozman commented on #10860
@kamelbou Playwright reporters implement APIs specific to `@playwright/test`. I don't think you can use them with any other test runner.

[2021-12-10 18:47] #10860 closed

[2021-12-10 18:54] pavelfeldman commented on #10838
I'm not sure this helps you much though, but I'm not sure what your goals are either. If you'd like to reuse the logic that we use in our internal browser/context/page/expect, you'd need to clone the repo - all of that is the implementation detail, there is no contract there.

[2021-12-10 19:15] dgozman commented on #10855
Great idea!

[2021-12-10 19:15] #10855 closed

[2021-12-10 19:24] #10751 closed

[2021-12-10 20:08] #10849 closed

[2021-12-10 20:16] cameronhunter commented on #10838
There's a lot of context! We currently use an in-house functional testing framework for Gibbon but to bring us closer to the wider community functional testing approach, we've implemented `puppeteer-gibbon`. So far, this has been a successful but requires a lot of reimplementation of ecosystem packages such as `jest-environment-puppeteer` since they directly require `puppeteer` (vs our implementat

[2021-12-10 22:01] #10631 closed

[2021-12-11 02:09] rwoll commented on #7348
@mxschmitt Can you unassign this from me in GH? Unfortunately, it doesn't look like I will get around to this soon! ☹️ Sorry I wasn't able to be more helpful with this one!

[2021-12-11 02:21] rwoll commented on #10076
Thanks for tackling this @pavelfeldman! Sorry I wasn't able to get to it! Just saw the MR as I was going through emails!

Excited to consume this in 1.18 for local/offline reports!! The HTML report that gets opened on failure continues to be SUPER useful and friendly! 🎉

[2021-12-11 13:45] Tallyb opened #10871 "[Feature] add locator method to return center point"
Let us know what functionality you'd like to see in Playwright and what your use case is.
Do you think others might benefit from this as well?

While, it is quite easy to implement locally, this can be a nice feature: Return the center point of an element.

[code]
return the middle point of the bounding box.
Can be useful in emulate swiping.

[2021-12-11 22:08] dgozman commented on #10663
Closing because we cannot reproduce the issue. If you have a repro that we can run, please open a new bug.

[2021-12-11 22:08] #10663 closed

[2021-12-11 22:08] #10717 closed

[2021-12-11 22:08] #10725 closed

[2021-12-11 22:09] dgozman commented on #10721
@creage Any thoughts?

[2021-12-11 22:10] dgozman commented on #10718
@akgupta0777 Any chance for a repro?

[2021-12-11 22:11] #10676 closed

[2021-12-11 22:11] #10728 closed

[2021-12-11 22:11] dgozman commented on #10787
Closing because we cannot reproduce the issue. If you have a repro that we can run, please open a new bug.

[2021-12-11 22:11] #10787 closed

[2021-12-11 22:12] dgozman commented on #10804
Closing because we cannot reproduce the issue. If you have a repro that we can run, please open a new bug.

[2021-12-11 22:12] #10804 closed

[2021-12-11 22:12] creage commented on #10721
Well, let's close it as designed.

[2021-12-11 22:12] #10721 closed

[2021-12-11 22:13] dgozman commented on #10755
Not sure how we can help here without a repro. If you have a repro that we can run, please open a new bug.

[2021-12-11 22:13] #10755 closed

[2021-12-11 22:14] dgozman commented on #10831
@DvDream You won't see any browser window displayed when running in the docker, unless you set up some kind of "remote desktop" in the docker.

[2021-12-11 22:14] #10831 closed

[2021-12-11 22:39] p01 commented on #8113
Oh! Of course! Thanks @dgozman

Reading the docs, my initial thinking is to use [tracing.startChunk(...)](https://playwright.dev/docs/api/class-tracing#tracing-start-chunk) to get a trace as small as possible right around the calls to `page.screenshot(...)` to easily associate the traces and screenshots together.

Or does that sound like a wrong approach ?

[2021-12-11 23:21] dgozman commented on #8113
@p01 You could try that, but check the trace size to make sure it helps. You can also play with enabling/disabling screenshots.

[2021-12-12 01:26] aslushnikov commented on #10395
fixed.

[2021-12-12 01:26] #10395 closed

[2021-12-12 02:05] aslushnikov commented on #10259
@keevie awesome repro! Reproduces for me both inside container and on my linux workstation. Looking!

[2021-12-12 02:06] rwoll commented on #6759
These patches ended up making it into glib 2.70 which should ship with Ubuntu 22.04 (April 2022). Once those are there, I can patch up Linux WK accordingly if someone else has not yet integrated the changes. (I don't want anyone to have to compile glib from scratch, so, IMO, it doesn't make sense to patch WK until next year.)

[2021-12-12 03:15] chenshuichao opened #10872 "[Feature]Self-healing"
ref:
https://github.com/healenium/healenium-web

[2021-12-12 04:34] akgupta0777 commented on #10718
Sorry for keeping you waiting for so long. Actually I am stuck in work commitments.
Can you wait for 2-3 days more for a repro.

For context I am writing tests for [React-devtools-shell package](https://github.com/facebook/react/tree/main/packages/react-devtools-shell) . You can write a small test for this package with experimental react selectors and it will fail because all the apps in package r

[2021-12-12 07:04] kiwiaddo commented on #10850
The command is `npx playwright test --grep=smoke`. As you can see in the results - the xml includes two tests (none skipped), the json three tests (one skipped).

[playwright-repro.zip](https://github.com/microsoft/playwright/files/7698259/playwright-repro.zip)

[2021-12-12 08:19] Avol-V opened #10873 "HEAD request in Trace viewer"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Linux
- Node.js version: 14.18.0
- Browser: All
- Extra: TeamCity CI

**Describe the bug**

When I open Trace viewer from HTML report in TeamCity Artifacts, it can't open zip-file because of HEAD request before GET request to the file. Looks like TC did not allow HEAD-requests there. Can it be disabled?

[2021-12-12 10:25] eckhards commented on #10755
@dgozman I fully understand - tried to make it reproducable with a trace but with no avail, even though the effect still persists when using a Chrome on my Macbook. I will keep trying to set up a repro and will follow up. Thanks!

[2021-12-12 11:37] aslushnikov commented on #10259
So far I noticed at least two crashes:

- `Document::PreferredColorScheme` cannot use `GetDocShell()` method:
    * `GetDocShell()` is a weakref
    * `PreferredColorScheme` is called from different threads (main & style-compute thread)
    * WeakRefs cannot be accessed from multiple threads

- Headless screencast crash (with a partially transcribed stack)

[code]

[2021-12-12 12:41] Euclidean13 opened #10874 "[BUG] Browser process automatically killed"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Mac
- Node.js version: 16.11.6
- Browser:  Firefox, WebKit

**Code Snippet**

[code]

Package.json script:

[code]

**Describe the bug**

When trying to launch a script using Playwright the browser process is killed before doing anything with it

Console output
[code]

[2021-12-12 13:35] mcatanzaro commented on #6759
WebKit is not going to be allowed to depend on GLib 2.70 for a long time (several years). You're going to need to guard the new code with `#if GLIB_CHECK_VERSION`. You can do that whenever.

[2021-12-12 16:10] OriAmir opened #10875 "[Question] Set page route abort before all tests start running."
Hi, I want to mock all my HTTP requests and abort them before tests start running.
I've tried to set that in the `global-setup` file but looks like the page return in the tests does not contain the routes.
I have the solution of `beforeAll` on every test page, but I want something more general, is it possible?

[code]

Thanks!

[2021-12-12 17:14] #10874 closed

[2021-12-12 17:49] ryanbas21 commented on #7275
Hi,
 Just wanted to say this would be really nice to have. I'm going to take the above approach and spawn a child process, but it would be great if playwright exposed something like jest does with `runCLI` for example. Anyway where we can pass in those values would help the community make playwright extensible.

 I'm currently trying to write a plugin to use playwright with the playwright runner i

[2021-12-12 20:06] bgotink commented on #7275
@ryanbas21 FYI that's my exact use case as well, you might want to take a look at https://github.com/bgotink/ngx-playwright/tree/main/packages/test, even if only as inspiration.

[2021-12-12 22:54] #10847 closed

[2021-12-13 00:31] A-ZC-Lau opened #10877 "[BUG] 1.17.1-focal dependency problems"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Ubuntu focal
- Browser: Chrome
- Extra:
- Images used:
    build: mcr.microsoft.com/playwright@sha256:fc2e1ab48b8fbabc940c0e6b6cdea0b54f03d109e564e03ac591ab6a7a994887

**Error**

[code]

**Describe the bug**

I get an error in bitbucket pipeline when using v1.17.1-focal (mcr.microsoft.com/playwright:v1.17.1-focal), however it was workin

[2021-12-13 00:39] jithinjosejacob opened #10878 "[Question] How to pass graphql variables to mutation calls for api tests"
How to pass graphql variables to mutation calls for api tests

[code]

[code]

I am using new api testing feature to test graphql apis

But i have encountered a scenario where i need to use a graphql variable when then used in the mutation

Is this something we can handle with any specific feature in playwright

[2021-12-13 01:06] #10878 closed

[2021-12-13 01:28] mxschmitt commented on #10877
Adding `apt-get update` before installing the browsers should workaround it.

Relates #10615 which we might should release under 1.17.2.

[2021-12-13 01:58] #10877 closed

[2021-12-13 02:52] J1s0n commented on #10369
Hi,
We are also doing some research on UI automation and how to attach to the exist Electron process and for now if we want to use Playwright we can only use electron.launch("main.js"). Actually it works well but it would be better if Playwright support attach to an existing Electron process. @dgozman  is there any possiable that playwright will spuuort this? it really matter to us, Thanks.

[2021-12-13 07:34] thorleifjaocbsen commented on #10856
I found out that adding a timeout option to the buttons options actually worked. So I guess somewhere the timeout was set to sub ms? We have global timeout and timeout at "0" maybe somewhere it does not take that as indefinite? Well my problem is closed so we can probably close this. Must be a user-error.

[2021-12-13 07:34] #10856 closed

[2021-12-13 09:24] joshhansen opened #10880 "[BUG] Typescript tsconfig.json path prefixes not respected"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Linux (Fedora 35)
- Node.js version: 15.3.0
- Browser: All
- Extra: Typescript 4.4.4

## System:
 - OS: Linux 5.15 Fedora Linux 35 (Workstation Edition)
 - Memory: 525.66 MB / 15.48 GB
 - Container: Yes
## Binaries:
 - Node: 15.3.0 - ~/.nvm/versions/node/v15.3.0/bin/node
 - Yarn: 3.1.0 - ~/.nvm/versions/node/v15.3.0/bin/yarn
 - npm: 7.5

[2021-12-13 10:11] eckhards commented on #10755
Hey @dgozman , I was unable to produce a repro that reliably shows the effect. I presume this is some race conditions related thing going on. We might close this ticket because it is not repdoducible, in case I find a repro I will open a new ticket. Thanks so far!

[2021-12-13 11:07] CallOBock opened #10883 "[Question] support 'screen' permission."
Good day. I need screencast permission for testing. The documentation has the option to capture the camera and microphone, but no screen. Is it possible to capture the screen? If not, why not? Thanks.
Playwright v 1.17.

[2021-12-13 11:26] amrsalem1 opened #10884 "[Question] how to use same request header from browser into the API request ?"
I there a method through which I can use the same request header in the browser session in my API request by default, I have used the method below but still not authorized however the token is correct

[code]

[2021-12-13 13:12] DvDream opened #10885 "[Question] Cannot generate Allure reports whithin Docker container?"
Hi,
I'm trying to use Docker to run tests and generate reports , either Playwright native or Allure reports. When my "create allure report script" run the following command:

`npx allure generate /public/allure-reports/${date}-report/allure-results --clean -o /public/allure-reports/${date}-report/allure-report`

it throws me an error:

`ERROR: JAVA_HOME is not set and no 'java' command could be fo

[2021-12-13 15:10] AngelLopezBellmont commented on #10832
@dgozman
Hi Dmitry,
You are 100% I should include for the begining the url to test. Here it is:
url: https://dmitrygozman.fieldcode.com/
user: dgozman.demo@gmail.com
pass: Dgozman123

[2021-12-13 15:47] heijingg opened #10886 "[Question] How does the codegen connect to an existing browser"

[2021-12-13 16:08] ltsuda commented on #10885
As `allure-playwright` is a third-party reporter (https://github.com/allure-framework/allure-js/blob/master/packages/allure-playwright/README.md), you will probably need to install Allure2 and its dependencies on your Dockerfile.

Please, first try installing only `openjdk-8-jdk`. If this not work, take a look, at the documentation below.

https://github.com/allure-framework/allure2
https://docs.q

[2021-12-13 16:08] ltsuda commented on #10885
As `allure-playwright` is a third-party reporter (https://github.com/allure-framework/allure-js/blob/master/packages/allure-playwright/README.md), you will probably need to install Allure2 and its dependencies on your Dockerfile.

Please, first try installing only `openjdk-8-jdk`. If not work, take a look, at the documentation below.

https://github.com/allure-framework/allure2
https://docs.qameta

[2021-12-13 17:19] chaowenGUO opened #10887 "[BUG] playwright firefox does not play audio"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac] linux
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit] firefox
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug

[2021-12-13 18:38] OriAmir commented on #10880
It's looks like playwright not support external tsconfig file and that's why the path not efface. we don't have workaround from what i read in this topic

https://github.com/microsoft/playwright/issues/7121

I will be happy to hear solution.

[2021-12-13 18:48] mxschmitt commented on #10886
You can use the "Codegen with a custom setup" by calling `page.pause()` to get access to the codegen:

https://playwright.dev/docs/cli#codegen-with-custom-setup

[2021-12-13 18:50] mxschmitt commented on #10880
Playwright does not respect external tsconfig files yet, folding by that into https://github.com/microsoft/playwright/issues/7121. I'd recommend to subscribe to the issue to get notified once its resolved.

For now you can use the manual transcompilation as a workaround: https://playwright.dev/docs/test-typescript

[2021-12-13 18:50] #10880 closed

[2021-12-13 18:53] mxschmitt commented on #10875
The browser which you launch in `globalSetup` is a different one compared to which one is used inside your tests. As you said, `beforeAll` is currently the recommended solution, alternatively you can also create a custom test fixture for it to use your mocks across multiple files. For reference:

- https://playwright.dev/docs/test-fixtures#test-fixtures
- https://playwright.dev/docs/test-fixtures#

[2021-12-13 18:53] ukdas opened #10888 "[BUG] Show the retry number in the list/line reporter (for the live view - not the error view)"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows 10
- Node.js version: v16.13.0
- Browser: All

**Code Snippet**

[code]

In `playwright.config.test`, please set the retries more than `0` - Like - `retries: 1`

**Describe the bug**

**Issue - 1:**
Console log doesn't show about any info regarding retry attempt for the failure test.

![image](https://user-images.githubuserconte

[2021-12-13 18:57] dgozman commented on #10850
@kiwiaddo Thank you, I can repro the issue. Luckily, it was already fixed, and the fix will be available in the next release.

[2021-12-13 18:57] #10850 closed

[2021-12-13 19:03] mxschmitt commented on #10883
Folding into https://github.com/microsoft/playwright/issues/8532

So far it's not yet supported, please upvote the linked issue.

[2021-12-13 19:07] mxschmitt commented on #10885
Allure requires Java as @Ltsuda said. Also for Allure related questions, please file them against their repository since the code does not live in this repository: https://github.com/allure-framework/allure-js/issues

[2021-12-13 19:07] #10885 closed

[2021-12-13 19:22] yury-s commented on #10884
Your code looks correct, it will add `Authorization` header to the request. Perhaps the server expects some other headers too? Can you log the request that works and see what headers are there, maybe that will give you a clue?

[2021-12-13 19:26] ryanbas21 commented on #7275
@dgozman any chance you guys explored this? The playwright runner is just so much faster than using Jest. I'd also love to be able to utilize the `project` command in my CI with `nx` so i can run my CI tests based on browser

[2021-12-13 19:33] dgozman commented on #7275
@ryanbas21 This is on our radar. It opens a quite large API surface, so we are being careful with still working out the balance between the flexibility and long-term commitment.

It seems like you'll be fine with `run(args: string[])`, or do you want more control? I don't see much value in just wrapping `child_process.execSync()` or similar 😄

I guess you'd like to pass something like `FullConfig`

[2021-12-13 19:50] #10361 closed

[2021-12-13 19:59] mxschmitt opened #10892 "[BUG] <audio> leads to WebContent process crash in WebKit"
**Context:**
- Playwright Version: ToT
- Operating System: macOS/Windows
- Node.js version: 14
- Crashing since at least 1.13
- Browser: WebKit

**Code Snippet**

https://github.com/microsoft/playwright/pull/10890

**Describe the bug**

WebContent process is crashing.

[code]

[2021-12-13 20:06] pavelfeldman commented on #10871
For now, there is an easy workaround with `await page.locator('div.some-class').boundingBox();`. Let me keep it open and collect upvotes.

[2021-12-13 20:07] #10872 closed

[2021-12-13 20:12] ryanbas21 commented on #7275
Hey @dgozman!

My use case is very similar to how this person wrote the jest playwright plugin for nx.

https://github.com/Bielik20/nx-plugins/blob/master/packages/nx-jest-playwright/src/executors/jest-playwright/executor.ts

Ideally, i would either use or write myself an nx plugin which executes my playwright tests in the given `nx` project.

I think `FullConfig` is what I want, i'd love to be ab

[2021-12-13 22:34] flying59 opened #10894 "[BUG] onResponse Handler Not Picking Up 404 Errors on Invalid Ajax URLs"
**Context:**
- Playwright Version: 1.15.2
- Operating System: Windows 10 (dev) and Windows Server 2019 (test)
- Node.js version: None
- Browser: Firefox (headed)
- Extra: Sencha UI with Java backend

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

I am using Playwright to

[2021-12-13 22:47] mxschmitt commented on #10888
Regarding issue 1, what are your expectations? Retry does mean that it tries it X times, and if it succeeds in one of the following retries, it gets considered as a `flaky` test. Compared to the first screenshot, which is failing in both retries, it will consider it as `failing`, since in the following retries it's failing as well.

For the issue 2, using a different reporter like `--reporter line

[2021-12-13 23:01] mxschmitt commented on #10894
I tried the following test which works fine for me:

[code]

do you have any URL or a full snippet which you can share with us?

[2021-12-13 23:17] dgozman commented on #10290
I've added a section to the docs. I don't think we'll do any changes in the test runner here, so closing the issue.

[2021-12-13 23:17] #10290 closed

[2021-12-13 23:41] DetachHead opened #10897 "[BUG] undocking dev tools to a separate window freezes chrome when paused on a breakpoint"
**Context:**
- Playwright Version: 1.17.1
## System:
 - OS: Windows 10 10.0.18363
 - Memory: 653.33 MB / 15.78 GB
## Binaries:
 - Node: 16.9.1 - C:\Program Files\nodejs\node.EXE
 - npm: 7.24.1 - C:\Program Files\nodejs\npm.CMD
## Languages:
 - Bash: 5.0.17 - C:\WINDOWS\system32\bash.EXE

**Code Snippet**

**Describe the bug**

1. create a playwright script eg.
[code]
2. set a breakpoint in your ID

[2021-12-14 00:24] yury-s commented on #10376
Debugging observations: it is only reproducible in headful and when response interception is on. We receive two Fetch.requestPaused events for the same request and get stuck waiting for request extra info for the second one:

[code]

[2021-12-14 00:26] joshhansen commented on #10880
@mxschmitt The manual transcompilation seems to be working. Subscribed to the other issue. Thanks

[2021-12-14 05:16] Avol-V commented on #10873
On first try, when I click on Trace in report:
[code]

Second try, do not change anything, just click on Trace in report:
[code]

After download trace archive from Artifacts manually, so browser has cache. In network panel turn off "Disable cache". Click on Trace in report:
[code]

[2021-12-14 07:00] ukdas commented on #10888
Thanks @mxschmitt  for looking into it and explanation in details. It's fine with test runner execution process & reporting method.

We are expecting to have the console's log as below -

**Issue 1:**
Where **Retry #number** will be shown in the log before performing retry attempt as below. Otherwise we need to compare the test title every time to check if the same test's retries happen in the nex

[2021-12-14 07:05] spartanatreyu opened #10906 "[Feature] Add ergonomic randomness to selecting an option on <select>."
[locator.selectOption(values[, options])](https://playwright.dev/docs/api/class-locator#locator-select-option) allows developers to test the selection of a dropdown in a `<select>` element.

Using the following html:

[code]

We can choose which option is selected with something like:

[code]

Currently `values` can be set to:

- `value` <string> Matches by option.value. Optional.
- `label` <strin

[2021-12-14 07:42] aslushnikov commented on #10759
Summary:
- so far mozilla-release does not support downloading build toolchains
- default Clang that comes with XCode on MacOS cannot compile wasi: https://github.com/WebAssembly/wasi-sdk/issues/172#issuecomment-772399153

As a result, we require MacOS install LLVM from Homebrew:

[code]

[2021-12-14 08:15] piotrszczepaniuk opened #10907 "NET::ERR_CERT_AUTHORITY_INVALID on https://playwright.dev/docs/intro"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: Not related
- Browser: All
- Extra: standard windows Windows 10 Enterprise environment

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**
I do not have access to playwright documentation

[2021-12-14 08:40] mxschmitt commented on #10907
It seems like your antivirus/firewall/cooperate security program intercept the network traffic and break HTTPS connections. (Since you mentioned https://infoblox.com)

This is not something which can be fixed on our side, I'd suggest to disable temporarily your security software to find out which one breaks it.

[2021-12-14 08:48] OriAmir commented on #10875
@mxschmitt thanks for your answer, but I'm not sure that `beforeAll / fixtures` will help me because it's will force me to handle that in any test section and I want to find something general to handle that(?).
Not exists any option of handling all the requests before they are running?

[2021-12-14 09:18] rajukshetri commented on #1985
I am also stuck in the similar situation .
Suggested workaround does not applicable to my case .
Is there support available now for attaching playwright to an existing browser window?
Any help is highly appreciated .

[2021-12-14 10:42] amrsalem1 commented on #10884
@yury-s  yes u are correct it was solved by adding some other header contents. now I'm in stucking in other issue

how to get readable res.body() now I'm getting some output of bytes instead of json object

<img width="215" alt="Screenshot 2021-12-14 at 11 38 22" src="https://user-images.githubusercontent.com/89022647/145983090-6363c804-5cd1-41a8-a513-734d38b67b3b.png">

[2021-12-14 11:33] hhristov94 opened #10909 "[Question] How can I fetch the html elements within a bounding box using playwright?"
I have a full page screenshot taken with playwright and a object detection model which returns some bounding box coordinates over it. I would like to fetch the corresponding html element's text that is contained within the bounding box.

So far, I am using Playwright's Python API like this:

[code]
But it seems that the coordinates further down in the page are not found. Is it possible that the lo

[2021-12-14 11:54] nate-buck opened #10910 "Nested Selectors"
Can I nest pseudo-class selectors? For example is

`div.myCssClass:has(li:text-is('some text'))`

a valid selector? If so, am I correct to assume the resulting element locator/handle would represent the (first) matching div element with the class 'myCssClass'?

[2021-12-14 12:09] nate-buck commented on #10910
If the above is valid, would chaining also be valid within the pseudo-class? E.g., is

`div.myCssClass:has(ul >> li:text-is('some text'))`

a valid selector?

[2021-12-14 12:15] amrsalem1 commented on #10884
update, its solved seems i have to use ,json() instead of body

[2021-12-14 12:15] #10884 closed

[2021-12-14 12:56] ddeogharkar opened #10911 "Getting Target closed error while switching to iframe"
Hi,
I am switching to iFrame using latest playwright version 1.17 but I am getting Target closed error. I am using below code

await this.page.frameLocator("//iframe[@class='hero-card']").locator("[aria-label='Go to Page 4']").click();

Error is :
frame.click: Target closed

    =========================== logs ===========================
    waiting for selector "[aria-label='Go to Page 4']"

[2021-12-14 17:15] thernstig opened #10916 "[Question] Problem with locator.allInnerTexts"
I find this peculiar. We changed some code to use locators and `allInnerTexts` in a function called `headers()` which retrieves all header elements in a table (left side in picture). Previously we used `Promise.all(...header.innerText())` (right side in picture)

![image](https://user-images.githubusercontent.com/30827238/146045994-0e062f92-b284-427f-ac7e-f7299e58cf1d.png)

Before locators, it wor

[2021-12-14 17:35] Bessonov commented on #9144
Another way to reduce boilerplate code is creation of fixture:

[code]

Now usage:

[code]

I use it more hierarchically, but the core idea is simple.

Question: Which is the best way to extend the page object/interface, so I can use `page.login()`? I can think of delegation + Proxy, but it doesn't feel right.

[2021-12-14 17:53] mxschmitt opened #10918 "[Feature] Add test.todo()"
### Discussed in https://github.com/microsoft/playwright/discussions/10914

<div type='discussions-op-text'>

<sup>Originally posted by **zomars** December 14, 2021</sup>
This is pretty helpful for planning future tests and keep track of them.</div>

Jest has it: https://jestjs.io/docs/api#testtodoname

[2021-12-14 17:58] mxschmitt commented on #1985
We only guarantee that the same Playwright client version works with the same Playwright server version. Usually if they are the same **minor version** they work together.

[2021-12-14 18:48] vsravuri opened #10919 "[Question] How to delete cookie by name ?"
Currently Playwright supports deleting all the cookies **_browserContext.clearCookies()_**.

In my test, i have a use case to delete a cookie by name.

Appreciate if you could provide a JS example.

[2021-12-14 19:31] kblok opened #10920 "[BUG] Playwright is not being able to click a link with user-select: none;"
**Context:**
- Playwright Version: 1.17.0
- Operating System: Mac
- Node.js version: 14.17
- Browser: Chromium 96 Channel Stable (it works on the bundled chromium)

I'm not able to click a link with `user-select: none;`.
I tried to isolate the issue. But It seems it's not as simple as adding `user-select: none;` to any link:
This piece of code works as expected:

[code]

But I have a real scenario

[2021-12-14 20:26] mxschmitt commented on #10919
There is a feature request for it already, folding into https://github.com/microsoft/playwright/issues/10143

[2021-12-14 20:26] #10919 closed

[2021-12-14 21:03] mxschmitt commented on #4775
Please open a new issue, with more details.

---

Locking this issue - to not spam the other subscribed folks.

[2021-12-14 22:40] flying59 commented on #10894
Thanks for the quick reply!
Our dev environment is isolated but I think I can give you a sample that hopefully mimics our ajax call. I have created a Sencha fiddle that is representative of our invalid Ajax calls. The Sencha fiddle URL is https://fiddle.sencha.com/fiddle/3hgc. (Note: To view the Sencha fiddle editor with the embedded ajax code you can go to https://fiddle.sencha.com/#view/editor&f

[2021-12-14 23:20] yury-s commented on #10894
You are adding listener after the navigation finished and the script has already started running try adding it earlier:

[code]

[2021-12-15 00:41] mxschmitt commented on #10713
Closing since we can't act on this without a repro. Please create a new issue if you have a repro, thanks!

[2021-12-15 00:41] #10713 closed

[2021-12-15 00:43] mxschmitt commented on #10732
Closing since we can't act on this without a repro. Please create a new issue if you have a repro, thanks!

[2021-12-15 00:43] #10732 closed

[2021-12-15 00:43] mxschmitt commented on #10826
Closing since this is most likely already fixed. Please create a new issue if you still encounter unexpected behaviour.

[2021-12-15 00:43] #10826 closed

[2021-12-15 00:44] mxschmitt commented on #10907
Closing since this is not an issue on our side, see above for more information.

[2021-12-15 00:44] #10907 closed

[2021-12-15 00:45] mxschmitt commented on #10897
This is a known limitation, we intercept DevTools inside Playwright and you debug the Node.js process which halts the entire event loop so no communication can happen on that end. Marking as p3 and collecting feedback for now.

[2021-12-15 01:24] zomars commented on #8304
How about the project suffix ? Text files should be browser agnostic also. We don't need to the have `translations-chromium.txt` ,  `translations-firefox.txt`, etc...

Setting `snapshotSuffix` doesn't remove those.

[2021-12-15 01:40] yury-s commented on #10183
Debugging notes: WebFrameLoaderClient::transitionToCommittedForNewPage() in case of fixed layout mode in GTK/WPE sets scrollbars to be [always hidden](https://wksearch.azurewebsites.net/#path=%2Fhome%2Fjoe%2Fwebkit%2FSource%2FWebKit%2FWebProcess%2FWebCoreSupport%2FWebFrameLoaderClient.cpp&line=1523). Later on, when scroll event is handled in FrameView::handleWheelEventForScrolling it will bail if

[2021-12-15 02:22] pavelfeldman commented on #10918
We call it test.fixme!

[2021-12-15 02:24] pavelfeldman commented on #10916
You should use web assertions:

[code]

[2021-12-15 02:28] pavelfeldman commented on #10910
Pseudo selectors (:foo) are a part of the CSS selector language, you can only use them in the css selectors.

https://playwright.dev/docs/selectors

[2021-12-15 02:31] pavelfeldman commented on #10910
You can use capture to mix selector engines and achieve similar results.

https://playwright.dev/docs/selectors#intermediate-matches

[2021-12-15 02:34] pavelfeldman commented on #10906
You can do that in 2 lines. First line returns all values, second picks random and passes it into select. That way you have a flexible way of specifying the random strategy!

[2021-12-15 06:36] rajukshetri opened #10927 "[Feature] Allow connecting to CEF instances via `browserType.connectOverCDP`"
**Context:**
- Playwright Version: [Version 1.17.1]
- Operating System: [Windows]
- Node.js version: [v12.16.1]
- Browser: [ CEF | 90.6.3+gc53c523+chromium-90.0.4430.93]
- Extra:
- CEF | 90.6.3+gc53c523+chromium-90.0.4430.93
Chromium | 90.0.4430.93
OS | Windows
WebKit | 537.36 (@4df112c29cfe9a2c69b14195c0275faed4e997a7)
JavaScript | 9.0.257.23
User Agent | Mozilla/5.0 (Windows NT 6.2; Win64; x64)

[2021-12-15 06:48] karanshah-browserstack commented on #8981
@dgozman Workers are recreated when a test fails to keep pristine environment, instead of doing this just on failures, we need this to happen for each and every spec. Currently we aren't able to do this as workers are reused. Can you please help if this is possible through a workaround or we need a config similar to "reuseWorker" as provided?

[2021-12-15 07:07] thernstig commented on #10916
We are not using Playwright Test yet, but expect to soon. But since we are using locators, I cannot see the difference between the two options explained above. Why would `locator.allInnerTexts()` behave differently?

[2021-12-15 07:40] tmarenko commented on #10700
@pavelfeldman
sorry to bothering you but could you review my last two comments and reply what you think about it?
I'm really struggling to understand the security reason behind the Selenoid itself (if it has such).

[2021-12-15 08:41] creage opened #10932 "[BUG] Frame methods does not respect test.slow()"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 14.18.0
- Browser: All?

**Code Snippet**

[code]

**Describe the bug**

We have some test that sometimes take more time to load, especially in Firefox and Webkit, so we mark it as `test.slow()`, which, according to docs, should triple the default timeouts. But it still fails with log:
[code]
So, the timeout s

[2021-12-15 09:08] nate-buck commented on #10910
Thanks for your answers, Pavel.

[2021-12-15 09:18] Mictim commented on #9417
Is this approach already implemented?
If it is not, It would be nice to have it.

[2021-12-15 09:32] MiraUMR opened #10933 "[BUG]'select' has no attribute 'epoll'"
I am using playwright on Linux version 5.4.0-42-generic with flask and gunicorn.
When I started my project by gunicorn -k gevent -w 4 -b.
Throw exception AttributeError: module 'select' has no attribute 'epoll'
Here is the error code

    File "/root/miniconda3/envs/tiklot/lib/python3.8/site-packages/playwright/_impl/_connection.py", line 22, in <module>
      from pyee import AsyncIOEventEmitter

[2021-12-15 09:56] p01 commented on #10162
@Evilweed you know your use case better than anyone, but rather than `display: none`, but Playwright should rather use `visibility: hidden` to hide elements without effecting the layout of the page.

[2021-12-15 09:58] Mictim opened #10935 "[Question] How can I write api response using interceptor into file and attach it in test.step()"
Hi,

I faced a problem with the implementation of the common steps when I try to intercept the response from API request and write the result (JSON) to the file.
There is an example of the code:
[code]

Could you please advise how can I resolve this without passing testInfo in each method?
I found this discussion: [https://github.com/microsoft/playwright/issues/9417](url)
Is the `test.info.attachm

[2021-12-15 11:16] p01 commented on #7697
@just-boris: The current version of Playwright and Playwright/Test supports the syntax you first asked for:

[code]

[2021-12-15 13:47] eveltman-twinfield opened #10938 "[BUG] Trace viewer filmstrip is confused/confusing when page was created in beforeAll"
**Context:**
- Playwright Version: 1.17.1
- Operating System: Windows
- Node.js version: 17.0.1
- Browser: Chromium

**Describe the bug**
A first step for migrating our Protractor tests most likely will be to migrate them 1:1.
Lengthy tests depending on the previous tests, also doing UI-based login and some other setup steps in beforeAll blocks. So not nearly as isolated as we'd like.

I noticed t

[2021-12-15 14:05] Phonesis opened #10939 "Request: Equivalent of the Cypress Clock function"
With Cypress, you can manipulate the browser time in a test via the clock() function. This is very useful for testing time based logic such as idle logout messages etc.

For example, you can speed up time by calling it like so:

[code]

I just wondered if there were any plans to add something like this to Playwright? Right now, it feels like one of the killer features of Cypress Playwright current

[2021-12-15 14:12] refactoreric commented on #7819
(Not needing this myself (yet?) but stumbled on the issue and thought I'd share some examples)

In case you're looking for examples how it looks in other assertion libraries:
https://fluentassertions.com/introduction#assertion-scopes
https://docs.nunit.org/articles/nunit/writing-tests/assertions/multiple-asserts.html
(Both are examples from .NET)

[2021-12-15 14:34] Kremliovskyi opened #10940 "[Question] How to wait for the same multiple responses ?"
I have two requests that are text/html. I want to wait until both of them are resolved.
Doing this seems to meet race condition - both are resolved after first response arrived
[code]
In cypress you can wait for same requests either using array of aliases or two in a row like
[code]

Is it possible to do in playwright or I should stick to waiting for selector?

[2021-12-15 14:54] JuanCruzTrinidad opened #10942 "[Feature] Junit Reporter - Adding custom testsuite properties"
Hi! This time we come to propose custom properties in test suite return to xml file.
Use the fixture in jest-junit reporter.
https://www.npmjs.com/package/jest-junit
![image](https://user-images.githubusercontent.com/53027244/146187765-086f3fd2-ff81-4e6f-8ce7-77ca9d17679d.png)

My team use datadog for ci analytics test and they read properties in suite and properties for test case.

https://docs.d

[2021-12-15 14:55] Kremliovskyi commented on #10939
I asked the same question they answered me here is a feature request https://github.com/microsoft/playwright/issues/6347
This is working for me
[code]

[2021-12-15 15:09] mxschmitt commented on #10939
Closing and folding into #6342

[2021-12-15 15:09] #10939 closed

[2021-12-15 15:18] mxschmitt commented on #10927
Playwright's latest release does only test against the current stable browsers which are currently 96 (see for that the release notes).

For older versions the compatibility might break, which in your scenario is the case, we recommend to upgrade your browser to a more recent version.

[2021-12-15 15:19] mxschmitt commented on #10933
Would it be possible that you can create a small repro for us in form of a GitHub repository?

[2021-12-15 15:34] zomars commented on #10918
I think they should be semantically different IMO.

[2021-12-15 15:38] JuanCruzTrinidad opened #10943 "[Feature] Use project set by test suite or describe"
At present set projects is unique for configuration file or command line.
Require use project set by test suite or describe.
Created test suite using fixtures what contains a base test, but not possible instance distint use project in the unique file.
The moment solution is a forEach for configuration and created one object for key and one describe for key.

Now:

[code]

Expected:

[code]

[2021-12-15 16:44] yury-s commented on #10940
You can pass a predicate to waitForResponse, something like this:

[code]

[2021-12-15 16:44] #10940 closed

[2021-12-15 16:57] vsravuri commented on #10706
@dgozman Will the fix available in 1.18 branch ?

[2021-12-15 16:59] mxschmitt commented on #10706
Yes, everything on the main branch gets included in 1.18

[2021-12-15 17:01] rwoll commented on #9417
Not yet, and I don't think there are immediate plans to support accessing `info` directly off `test` due to some larger design and implementation considerations that would lock the runner into: https://github.com/microsoft/playwright/pull/10121#issuecomment-965866736

For now, access is via `testInfo` which you'll have to plumb through to any helpers.

cc: @dgozman

[2021-12-15 18:03] mxschmitt commented on #10875
If you want to have it for all the pages, you can override the page fixture, apply there your overrides and use this "new instance" everywhere. For example:

[code]

[code]

See here for more information: https://playwright.dev/docs/test-fixtures#overriding-fixtures

[2021-12-15 18:05] mxschmitt commented on #10909
As the documentation says about `document.elementFromPoint`: https://developer.mozilla.org/en-US/docs/Web/API/Document/elementFromPoint

So you can use before `window.scrollTo` which should fix it: https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollTo

[2021-12-15 18:07] mxschmitt commented on #10911
Could you provide us a full repro? Otherwise it's hard for us to act on it. For now it can be caused by multiple reasons, e.g. the test timeout is reached which closes the page and ends up canceling the `frame.click` call.

[2021-12-15 18:11] mxschmitt commented on #10916
I'd recommend to migrate to Playwright Test. Regarding the difference between `toEqual` and `toStrictEqual` see here: https://jestjs.io/docs/expect#tostrictequalvalue

Also using a debugger like Visual Studio Code would help to find out how the actual array of `allInnerTexts ` looks like.

[2021-12-15 18:14] dgozman commented on #10132
@dtinth, @rwoll Did you try running with inspector and clicking "resume" button so that the test goes to the end? Does this make the problem disappear so that you are unable to debug it?

I think we already pause at the end of a test if you run with inspector. If that does not work for you, I think the manual `page.pause()` like in the snippet above is a good workaround. Fixing #10353 will avoid t

[2021-12-15 18:24] mxschmitt commented on #10927
Closing since Playwright does not support old Chromium browsers.

[2021-12-15 18:28] dgozman commented on #10938
Thank you for the issue, you explained everything very well! The attached zip helps as well, and the problem is clear.

- The issue with screenshots from `beforeAll` messing up with the trace should be fixed by #10862, and will go into the next release.

- #10440 tracks the "separate trace for beforeAll" feature. We plan to address it in the next release as well.

Given the above, I'll close this

[2021-12-15 18:29] #10938 closed

[2021-12-15 18:32] #10745 closed

[2021-12-15 18:34] #10883 closed

[2021-12-15 18:37] mxschmitt commented on #10838
Closing, for adding additional browsers a fork of Playwright might be the best solution for now.

[2021-12-15 18:37] #10838 closed

[2021-12-15 18:38] vsravuri commented on #10706
Thanks @mxschmitt I tested in 1.18 build (^1.18.0-next-alpha-nov-13-2021) and didn't find the changes. Noticed the pull request is merged to master branch. so thought of checking.

[2021-12-15 18:58] mxschmitt commented on #10706
Your 1.18 build is pretty old, try the latest one: `npm install @playwright/test@next`.

[2021-12-15 19:04] mxschmitt commented on #10701
@cullman1 sorry for the late reply. Your test requires a lot of boilerplate - would it be possible that you could create a smaller repro maybe also in form of a GitHub repository? Otherwise its hard for us to investigate without being able to run the actual code.

[2021-12-15 19:07] vsravuri commented on #10706
Thanks @mxschmitt Now i could see the changes. Appreciate your help.

[2021-12-15 19:12] #10873 closed

[2021-12-15 19:12] #10353 closed

[2021-12-15 19:22] mxschmitt commented on #10910
Closing since its answered. For further questions, please open a new issue, thanks!

[2021-12-15 19:22] #10910 closed

[2021-12-15 19:32] mxschmitt commented on #10932
@creage could you create a small repro for us with your expectations and whats not working as intended?

I tired with the following but was not able to replicate it:

[code]

[2021-12-15 19:52] creage commented on #10932
@mxschmitt Could it be because I'm waiting for element to disappear, and not just usual `visible` state?
[code]
Because this is the line where PW exists after 30 seconds.

[2021-12-15 19:57] #10183 closed

[2021-12-15 20:04] yury-s commented on #10376
Filed upstream bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1279953

[2021-12-15 23:49] flying59 commented on #10894
Thank you for the suggestion Yury. Moving the onResponse call earlier did successfully find 404 errors caused by Ajax URLs pointing to invalid/missing CSS and javascript files. However, it still does not find the 404 errors caused by ajax attempting to call an invalid web service for example.

Just curious if you are able to successfully run the code snippet above? The URL https://fiddle.sencha.co

[2021-12-16 00:06] #10440 closed

[2021-12-16 00:25] ImportTaste opened #10959 "[BUG] Can't install due to playwright.azureedge.net being down"
https://playwright.azureedge.net is currently down, I checked to make sure it wasn't just me using https://downforeveryoneorjustme.com

Without being able to reach it, the command to install playwright fails.

[2021-12-16 00:27] mxschmitt commented on #10959
The CDN is not down, maybe your connection/firewall/proxy does prevent accessing it?
https://playwright.azureedge.net/builds/index.html works for me.

What kind of error do you get?

[2021-12-16 02:52] ImportTaste commented on #10959
It's back up.

[2021-12-16 02:52] #10959 closed

[2021-12-16 04:51] josh-thompson13 opened #10964 "[BUG] Cannot start electron application with devtools enabled"
**Context:**

- Playwright Version: 1.16.2
- Operating System: MACos Big Sur 11.4
- Node.js version: Node.js v14.17.6,
- Browser: Electron
- Extra: This is an electron application

**Code Snippet**

[code]
**Describe the bug**

I cannot launch the application with dev tools enabled. I have tried to launch with args and env when I use electron.launch, which launches the application with devtools en

[2021-12-16 05:11] rajukshetri commented on #10927
As we are using CEF :https://en.wikipedia.org/wiki/Chromium_Embedded_Framework that uses the embedded chromium to our application  and we do now upgrade it so frequently.
Is there any way to use the older library of playwright that support the respective chromium browser .
Is there any workaround ?please suggest any solution here ?
We already using selenium and for such requirement  with  chromedr

[2021-12-16 07:33] #10759 closed

[2021-12-16 07:34] aslushnikov commented on #10259
This is fixed with the latest roll. The fix will be available tomorrow in @next channel: `npm i @playwright/test@next`

[2021-12-16 07:34] #10259 closed

[2021-12-16 07:34] rajukshetri commented on #10927
@mxschmitt
I have tried with CEF that embedded chromium  "Browser": "Chrome/94.0.4606.61",  but issue is same .
Unfortunately we don't have product released  with  CEF which have chrome 96  , but I think this issue is not related to the browser version  since same PW configuration works for the standalone browser chrome version 90 installed at machine.

[2021-12-16 07:34] aslushnikov commented on #10095
This is fixed on tip-of-tree now. The fix will be available tomorrow at @next channel: `npm i @playwright/test@next`

[2021-12-16 07:34] #10095 closed

[2021-12-16 08:29] refactoreric commented on #10440
Wow, made my day :) 🎉

[2021-12-16 09:18] yannbf commented on #9434
Coming back to this my problem was actually that I had two conflicting versions of Playwright. In the end it all worked perfectly!

[2021-12-16 10:34] refactoreric commented on #7819
And now as I'm browsing through our existing Protractor tests, I see we are working around chai limitations there by having one dedicated "it" block (test) per assertion. So the action is done in a previous "it" block, and the assertions follow each in their own separate "it" block. That wouldn't work in @playwright/test.

So I think we need this after all.

[2021-12-16 10:57] ddeogharkar commented on #10911
Hi,
I am able to resolve this problem, but now I am facing another issue i.e.

When I am using test.beforeAll like below, browser opens but it gets closed immediately without launching url & further process.

import test, { Page } from "@playwright/test";
import { LoginPage } from "../Pages/pageRepository/LoginPage";
import testData from "../Data/appData.json"

let page: Page;
let loginPage: Login

[2021-12-16 11:47] mauricedoepke opened #10966 "[Docs] Suggestion for clarification of the beforeAll behaviour when combined with .parallel"
The [docs for the beforeAll](https://playwright.dev/docs/api/class-test#test-before-all) hook state that it is run once for the whole test group:

It turns out, that this statement has an exception. If the beforeAll hook is combined with ".parallel", the beforeAll hook seems to behave the same as the beforeEach hook. The [parallel docs](https://playwright.dev/docs/api/class-test#test-describe-para

[2021-12-16 12:25] cullman1 commented on #10701
Ok sure - I'm on it.

[2021-12-16 12:45] dssnoha opened #10967 "[BUG] waitForNavigation([options]) isn't working correctly"
**Context:**
- Playwright Version: 1.15.2
- Operating System: Windows
- Node.js version: 16.7.0
- Browser: All

with headless tests i have a test that checks if any of the responses fails but i have a page where you get to click and wait for navigation even though the page has a response that fails the test still pass when i use debug the test fails. I tried using this and it's didn't work out

[c

[2021-12-16 13:30] andyjy opened #10969 "[BUG] httpCredentials not sent in ApiRequest when server sends `www-authenticate` header without realm"
**Context:**
- Playwright Version: 1.18.0-next
- Operating System: Mac
- Node.js version: 16.13.0
- Browser: N/A - ApiRequest

**Code Snippet**

[code]

**Describe the bug**

The `WWW-Authenticate` header for Basic auth [can be specified simply as](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate#syntax) `WWW-Authenticate: Basic`, with the realm (and charset) optional.

P

[2021-12-16 14:34] Tyriar opened #10970 "[BUG] Trace viewer should cancel scroll event when navigating the left sidebar with arrows"
On https://trace.playwright.dev/

This is showing using up and down to navigate the sidebar, makes it pretty difficult to use:

![recording (4)](https://user-images.githubusercontent.com/2193314/146391209-5447c38f-ba8d-4cb9-9ce7-694302cfc006.gif)

[2021-12-16 14:51] tmazumder opened #10971 "Can I get the system date and format accordingly in Playwright typescript"

[2021-12-16 15:59] cknmca opened #10975 "How to Check the Dynamic Data from an WebSite Using Playwright?"
I am try to figure out the chart related data with playwright..how to check the chart data and tool tip value dynamically shows in the chart..for example stock exchange charts and streaming value how to test with playwright.

[2021-12-16 19:26] mxschmitt commented on #10975
If the charts render in a `<canvas>` element, then the easiest might be to make a screenshot of it and compare it. See here for visual regression testing: https://playwright.dev/docs/test-snapshots

(You can also do `await page.locator('.your.locator canvas').screenshot()` for individual element screenshots.

[2021-12-16 19:27] #10189 closed

[2021-12-16 19:28] rinogo commented on #6360
I have the same problem. Essentially, I want to emit a custom event that I can listen for in our e2e Playwright tests. Without this functionality, I'm forced to use `waitForFunction()` along with some kind of a exposed/global variable which feels needlessly messy.

I, too, would love to be able to do something like:

[code]

Is there a better alternative?

[2021-12-16 19:32] mxschmitt commented on #10971
Playwright with TypeScript, runs Node.js so you can leverage the `Date` object there. See here for reference: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date#examples

`console.log(new Date().toString())`

[2021-12-16 19:39] yury-s opened #10977 "[Bug]: iframe is shrunk smaller than default width"
This is regressed in https://github.com/WebKit/WebKit/commit/bdb68ddedc91dba21084068424ed93bf58f54f0c and tracked upstream https://bugs.webkit.org/show_bug.cgi?id=234361

Keep this bug open to revisit the status of the problem before releasing.

[2021-12-16 19:42] mxschmitt commented on #10967
Usually you combine `waitForNavigation` with a `Promise.all` and some interaction, e.g. `page.click` see here: https://playwright.dev/docs/api/class-page#page-wait-for-navigation

Would it be possible that you can share with us a repro to demonstrate the issue?

[2021-12-16 19:54] tmazumder commented on #10971
Using the above, we get the output as in this form - Fri Dec 17 2021 01:18:59 GMT+0530 (India Standard Time)
can we do date formatting like - 17 Dec, 2021 01:18 PM

[2021-12-16 19:58] mxschmitt commented on #10911
You don't provide us the full code where the error happens, but it looks like you are missing the `await` before `test.step`.

[2021-12-16 20:04] mxschmitt commented on #10971
See here for some resources:
- https://www.w3schools.com/js/js_date_formats.asp
- https://date-fns.org/v2.27.0/docs/format

Closing since this is not about Playwright.

[2021-12-16 20:04] #10971 closed

[2021-12-16 20:13] mxschmitt commented on #10932
I'd recommend to use web-first assertions with frame locators instead of all the custom waitForSelector logic, this should simplify your tests and probably get rid of some potential races, see here:

[code]

See here:

- https://playwright.dev/docs/api/class-framelocator
- https://playwright.dev/docs/api/class-locator
- https://playwright.dev/docs/test-assertions

[2021-12-16 20:16] mxschmitt commented on #10927
Playwright does not support connecting to CEF instances, since the Chromium Embedded Framework does not expose the `Browser.*` CDP domain - so we are limited by that.

(sorry for the confusion above - so its not possible).

[2021-12-16 20:21] creage commented on #10932
@mxschmitt this is all great, but how does it help with tripling the timeouts? 😉

[2021-12-16 20:29] mxschmitt commented on #10935
Yes you should be able to do:

[code]

let us know if this works for you!

[2021-12-16 20:31] mxschmitt commented on #10935
https://github.com/microsoft/playwright/pull/10708 implemented `test.info()` to get the TestInfo object. This gets released in version 1.18 - you can either wait or use our dev release via `npm install @playwright/test@next`.

[code]

[2021-12-16 20:57] mxschmitt commented on #10932
Yeah we need a repro, otherwise we can't act on it - with using `state: hidden` it also works as expected for me. Can you provide us a repro in form of a GitHub repo / or a small script so we are able to run it on our machine? Thanks!

[2021-12-16 21:02] mxschmitt commented on #10920
Could you try version `1.17.1`? I tried to repro but was not able to and we fixed a click related issue in 1.17.1.

[2021-12-16 21:07] mxschmitt commented on #10786
@amrsalem1 are you able to create a small repro for us? Otherwise we can't act on it and we would have to close it.

[2021-12-16 21:07] mxschmitt commented on #10824
Closing as part of the triage process since it seemed stale or did not get enough upvotes in the past. Please create a new issue with a detailed reproducible or feature request if you still face issues.

[2021-12-16 21:07] #10824 closed

[2021-12-16 21:08] mxschmitt commented on #10886
Closing since its answered.

[2021-12-16 21:08] #10886 closed

[2021-12-16 21:09] mxschmitt commented on #10909
Closing since its answered. For further questions, please open a new issue.

[2021-12-16 21:09] #10909 closed

[2021-12-16 21:40] #10969 closed