[2021-07-04 17:42] ajssd opened #7459 "Single browser-level video recording that includes all tabs"
While testing our web app using Playwright, we open and close tabs repeatedly.  This produces many video recording files, each with random non-sequential names.  This makes it very hard to use the recordings.

What would be better is if the recording was at the overall *browser* level, rather than at the page/tab level.  In other words, produce a single recording that shows the browser "window" ju

[2021-07-04 18:23] thekage91 opened #7460 "EACESS error when I use playwright into a Docker image with scrapy"
Hi,
I'm trying to start playwright under a Docker image to deploy it on Zyte.
The main purpose is use playwright to load html pages to scrape.

I'm using scrapy as Scraping Framework and I build my scraper in a custom Docker image. The is the part when I install and compile playwright

[code]

Because the default installation is in /root/.cache I prefer move chromium under another directory and pa

[2021-07-04 19:25] yanirmanor opened #7461 "[Question] using msw as api mocking in test"
Is it possible to use mswjs as rest/graphql mocking in playwright test?

[2021-07-05 02:05] pavelfeldman commented on #7458
I see. I guess because of the unusual control flow in Protractor, it adjusted the default Jasmine behaviour to not throw. Playwright is running your script like a regular program, no control flow magic. So our expect throws as everyone else's.

For your pattern, as a workaround, you could  compute several values `a, b, c, d` and then compare them to golden values all at once like this:
[code]

[2021-07-05 03:14] vsravuri commented on #7458
Thanks for your time looking into this. I understand Playwright is doing what a normal program would do.

Appreciate if you could review these two use cases.

**Case -1
========**
What would be the expectation in this test case if the page title assertion fails? Playwright runner will stop further execution and exit the test case with error? This is how it's working today.

    expect(await page.t

[2021-07-05 04:11] phongtnit commented on #7455
Thanks @mxschmitt

[2021-07-05 06:05] pavelfeldman commented on #7458
Yes, when `expect` condition is not met,  it throws an exception. We aren't unusual here, same happens in all the test runners, including Jest, Jasmine, Mocha, etc. So if you want runner to tolerate some of the assertions and report them in bulk when the test ends, you would need to fight this expect paradigm via wrapping expect with try/catch or substituting expect with your own version that defe

[2021-07-05 06:26] oneassasin commented on #7449
I use antidetect browser for working with google/facebook from multiple accounts (multiloginapp in my case)
And i cant use common browser (chromium, for example) because fb/google keeps track of browser fingerprint
without codegen I need to write code manually, but with codegen with wsEndpoint I can make that more simply

[2021-07-05 06:53] badsyntax commented on #7447
Another alternative approach is to "manually" inject auth (in my case set localstorage keys) in the lighthouse page. To do this we need an API to know when a new page is opened from a browser. Pupeteer provides [`browser.on('targetcreated')`](https://pptr.dev/#?product=Puppeteer&version=v10.1.0&show=api-event-targetcreated). Is there something similar for playwright?

[2021-07-05 07:19] mxschmitt commented on #7455
Closing since we track this currently in #6319 and it can be fixed by creating a new context each time.

[2021-07-05 07:19] #7455 closed

[2021-07-05 07:30] mxschmitt commented on #7460
Are you using the official docker image? EACCES is a permission error, so are you running it under a non-root user? If so, you need to give the user access to that folder. It seems also that the executable path is wrong, since it needs the actual path to the Chromium binary/executable and not to the directory.

[2021-07-05 08:06] thekage91 commented on #7460
Hi @mxschmitt , thank you very much for the response. No, I'm not using the official image but scrapinghub/scrapinghub-stack-scrapy image that has the whole stack to run scrapy inside a container.

After your message I have launched `ls -l` inside the container to see if the permissions was ok and yes, everything is ok.
Inside the container the user is root
[code]

The problem was the path!!
Thank

[2021-07-05 08:18] #7460 closed

[2021-07-05 10:07] frassinier commented on #7445
Thank you, Pavel! 💯
Exactly what I need!
The second snippet works like a charm!

[2021-07-05 10:07] #7445 closed

[2021-07-05 11:16] badsyntax commented on #7447
@pavelfeldman got any advice? for the meantime i will have to run my lighthouse tests outside of the playwright test runner.

For my usecase it would be ideal if:

- We can somehow use launchPersistentContext within playwright test runner
- If playwright exposed an API to determine when new pages/contexts are opened, similar to [`browser.on('targetcreated')`](https://pptr.dev/#?product=Puppeteer&v

[2021-07-05 13:08] calebepaglioza opened #7464 "[Question] Why do we get a UUID/GUID as file name when downloading a file?"
Hello,

When using the Download class, the downloaded file doesn't keep its original name. Instead the original file name is converted into a hash/UUID/GUID like this: `f6746de9-95f6-4c06-b636-3ac7c2fb73bc`

Is it supposed to be like this? If so, why?
Can't see any reference for that behaviour in the documentation [here](https://playwright.dev/docs/api/class-download).

In this given test suite a

[2021-07-05 13:12] alexsorinsky commented on #7396
we defenetly need this [not feature] but just very important basic functionality, test phrases could be in any language. for now add ru please

[smth about ~30 lines](https://github.com/microsoft/playwright/blob/2231992d744ec13b8ff3a657a06a5aebc56cc2ff/src/server/usKeyboardLayout.ts#L67) )

[2021-07-05 13:14] anhtumai opened #7465 "[BUG]Full-page screenshot in headful mode is cropped in Playwright."
**Context:**
- Playwright Version: 1.12.3
- Operating System: Windows
- Node.js version: 14.17
- Browser: Chromium, Firefox
- Extra:

**Code Snippet**

The code sample generates full page screenshots for both headful and headless modes.

[code]
Additional info: tsconfig.json

[code]

**Describe the bug**

The screenshot generated in headful mode does not cover the full page like in headless mode.

[2021-07-05 14:34] yury-s commented on #7464
This is expected behavior. We pick unique name for each file in the downloads directory (note that same file can be downloaded multiple times and it would have to have a unique name every time, with GUIDs this problem is solved automatically), moreover the actual download [path](https://playwright.dev/docs/api/class-download#download-path) is not accessible in case of a remote connection. It's up

[2021-07-05 14:34] #7464 closed

[2021-07-05 14:46] calebepaglioza commented on #7464
Thanks for clarifying, @yury-s.
Wouldn't that be valid to include in the documentation the expected file name when downloading a file?

Thanks,
Calebe

[2021-07-05 14:46] AmosDinh opened #7466 "[Feature] Playwright get long polling response body"
Reposting this from Stackoverflow:
Is it possible to get the response body "stream" of a long polling response using `page.on('response')`?
The content type of the specific response is `'text/event-stream'`.
The code stops("freezes") at `await response.body()`, is there some solution in Python?
I would be grateful for solutions in other languages as well.
Thank you

[2021-07-05 14:59] budsee opened #7467 "Cannot install playwright 1.12.1 in container"
**Context:**
- Playwright Version: 1.12.1
- Operating System: Ubuntu 20.04 container in Apple M1 Chip Machine
- Python 3.9.5
- Browser: All
- Extra: [any specific details about your environment]

I can't install playwright 1.12.1 using pip when I am in container, i.e. ubuntu or alpine, etc The latest version I would get is

#12 1.309 ERROR: Could not find a version that satisfies the requirement p

[2021-07-05 16:15] #7467 closed

[2021-07-06 04:35] subodhpareek18 commented on #7441
I further updated my setup to use self hosted fonts, instead of using google webfonts cdn, hoping that would resolve the issue. But to no avail.

[code]

I thing I did not mention earlier is I'm using styled-components in an SSR setup with next.js. Perhaps that could be contributing to the issue. But I'm not sure if others have faced it too.

[2021-07-06 07:16] subodhpareek18 commented on #7441
Upon further investigation I'm a bit more confused. Testing other websites yields the following results. Google, Github home pages look fine. The website for Next.js itself, the creators Vercel which are all built with nextjs and might have a setup like mine are unable to load fonts.

I don't think it's an issue directly with nextjs as the website of Github Copilot which is also built with nextjs

[2021-07-06 07:20] yury-s commented on #7466
With current implementation you can only get full body of the response after the request has finished (e.g. EventSource has been closed). `response.body()` will block until the request is finished which may never happen in case of `'text/event-stream'`. Getting the response data before the request is finished is possible but would require a new api on the Response (something like `Response.bodyAsS

[2021-07-06 07:38] #7283 closed

[2021-07-06 07:45] AmosDinh commented on #7466
Thank you

[2021-07-06 08:07] 000xiaoxiao000 opened #7472 "[BUG] Dragging the slider is not recorded"
playwright version 1.12.1
playwright codegen URL

You need to hold the mouse down to move the slider. This action cannot be recorded while recording.

[2021-07-06 09:28] zydjohnHotmail opened #7474 "[Question] How to detect WebSocket requests in Playwright"
Hello:
I need some code sample on how to detect WebSocket (wss) requests by Playwright.
Basically, I can visit this URL with Chrome: https://www.websocket.org/echo.html
And click on “Connect” button to connect with the WebSocket server: wss://echo.websocket.org
Then type something in the message box, or using the default text in the message box “Rock it with HTML5 WebSocket”, then click on “Send”

[2021-07-06 09:57] cullman1 opened #7475 "[BUG] playwright-test-runner skips second and subsequent calls of a re-used function in a single test suite file"
**Context:**
- Playwright Version: 1.12.3
- Operating System: Windows 10 Pro - 21H1 -19043.1081
- Node.js version: 12.3 /also node-fetch 2.6.1
- Browser: All
- Extra: Runs within Docker v 20.10.7

**Code Snippet**

The code worked fine with jest, but when transferred to playwright-test-runner, it doesn't work in the same way. I have the following helper function:

[code]

And a single test suite f

[2021-07-06 10:20] yury-s commented on #7474
You are adding `websocket` event listener after all actions have been performed so the listener is never invoked. Just move `page.on('websocket', ws => {...` block above first `page.goto` call.

[2021-07-06 14:00] mxschmitt commented on #7456
I was able to reproduce it, currently on Windows when we kill the process it leads to an error when the process does not exist anymore. Related to [that](https://superuser.com/questions/232703/taskkill-exe-dont-throw-an-error-if-the-process-is-not-running/630799). process.exit(<pid>) does not throw on Unix based operating systems.

[2021-07-06 14:07] mxschmitt commented on #7461
Hi, if they make it possible to mock it using a proxy (which you can set on Playwright side when creating a context), then it should be no problem. From a quick research, it seems like they don't support it, maybe open a feature request for it on their side.

[2021-07-06 14:12] akshayp7 commented on #7289
timeout must be specifies outside projects and accept downloads inside

module.exports = {
  timeout: 300000,
  retries: 0,

  projects: [
    {
      name: `Chrome`,
      use: {
        browserName: `chromium`,

        // Test against Chrome
        channel: `chrome`,

        acceptDownloads: true

      }
    }
  ]
};

[2021-07-06 14:13] akshayp7 commented on #7289
timeout must be specifies outside projects and accept downloads inside

module.exports = {
timeout: 300000,
retries: 0,

projects: [
{
name: Chrome,
use: {
browserName: chromium,

    // Test against Chrome
    channel: `chrome`,

    acceptDownloads: true

  }
}
]
};

[2021-07-06 14:14] sytolk opened #7478 "Electron waiting for selector "[data-tid=locationTitleElement]" to be visible - Randomly failed"
**Context:**
- Playwright Version: [^1.12.3]
- Operating System: [Mac]
- Node.js version: [v12.13.0]
- Browser: [Electron]
- Extra: [https://playwright.dev/docs/api/class-electron]

## System:
 - OS: macOS 11.4
 - Memory: 6.64 GB / 32.00 GB
## Binaries:
 - Node: 12.13.0 - ~/.nvm/versions/node/v12.13.0/bin/node
 - Yarn: 1.22.10 - ~/IdeaProjects/tagspaces/node_modules/.bin/yarn
 - npm: 5.1.0 - ~/Ide

[2021-07-06 14:24] sytolk commented on #7478
Next text run test Succeed...

[code]

[2021-07-06 15:02] avodovnik commented on #7478
Can you provide us with a bit more logs (see [here](https://playwright.dev/docs/debug/)) to help us troubleshoot? You can also try doing a trace, for a failed test...

Are you _also_ using puppeteer (or webdriver) anywhere in the project? I'm trying to understand the mentions of it in the logs above.

[2021-07-06 15:15] mxschmitt commented on #7459
Are you using the [official test-runner](https://playwright.dev/docs/test-intro)? Each test should have its own recording because we apply best practises to make each test isolated from each other and have by that a new context for each test. See [here](https://playwright.dev/docs/next/test-configuration) with `video: 'on'` which should result in having a folder for each test with the test name an

[2021-07-06 15:24] mxschmitt commented on #7400
Closing since there is no action item in it and all is implemented.

[2021-07-06 15:24] #7400 closed

[2021-07-06 15:27] JoelEinbinder commented on #7452
In the next version we will support the `.mjs` extension. Can you try installing `@playwright/test@next` and using the `.mjs` extension. Please let us know if that works great or if you have follow up problems.

I really want to support `"type": "module"` but I am worried that it is the tip of the ice berg in terms of problems with esm.

[2021-07-06 15:41] avodovnik commented on #7444
This is semi-expected behaviour. The `maxFailures` is currently tracked on a per-worker basis. You can verify this behaviour by changing the number of workers to 1, and failing the first of your `long tests`. You'll see none of them get executed.

This should be made clear in the docs - we'll update that.

[2021-07-06 15:54] mlmmn opened #7479 "[BUG] "timeout" annotations and helpers do not affect fixtures and before* hooks"
**Context:**
- Playwright Version: 1.12.3
- Operating System: Mac, official docker image
- Node.js version: 16.3.0, dunno which is in docker
- Browser: all

**Code Snippet**

[code]

**Describe the bug**

When preparing an async fixture which time to resolve exceeds the global `timeout` setting, calling either `test.slow()` or `test.setTimeout()` has no effect on increasing the test timeout and le

[2021-07-06 16:02] mxschmitt commented on #7479
You can set the global timeout in the [`playwright.config.ts`](https://playwright.dev/docs/next/test-configuration#testing-options) or pass it via a CLI argument `--timeout 120000`, could you try that?

[2021-07-06 16:06] mostor-v commented on #7458
For example you can use https://www.npmjs.com/package/soft-assert  for soft assertions

[2021-07-06 16:12] zdm opened #7481 "[Feature] Possibility to define listen address and path for launchServer() method"
Hi.

We want to use playwright as service for apps in out cluster. For this purpose we need to launch service on "0.0.0.0" and with some static path (currently random on each server launch), so our services will have persistent remote endpoint to connect.

Is it possible to add new options for the launchServer() method, which will be passed to the `ws.Server`:
- `host` specify ip address to listen

[2021-07-06 16:34] avodovnik commented on #7481
Can you help us understand the use case for this? Is there a reason that running it on each node is not acceptable?

[2021-07-06 16:35] vsravuri commented on #7458
Thanks!

I will try the library.

[2021-07-06 16:37] Daemos87 opened #7482 "[Feature] Get access to fixtures in test.describe block"
I was trying to generate some tests for each value of an array, and while the following code is valid

[code]

The following does not compile

[code]

The issue here is that describe's second parameter's type is "()=>void", so the arrow function does not  accept any fixture, and so, correct me if i'm wrong,  it looks like there's no way to generate tests from some fixture.

Is there any plan to su

[2021-07-06 16:40] mlmmn commented on #7479
@mxschmitt Yes, I eventually ended up with setting the global timeout in the `playwright.config.ts` but I feel like this makes selective test timeouts pointless. I mean, when a test that is "fast" is about to get failed for whatever reason, Playwright will unnecessary wait for the global timeout which was set only for those "slow" tests.

To me this is either a bug or an undocumented limitation.

[2021-07-06 16:41] zdm commented on #7481
1. We don't need to run it on each node, what is the sense? Better to use it as shared service.
2. With the current limitations we are unable to run it in separated docker container. We need to include playwright code and browser instance to the each container, which is use it. This affects containers size and affect performance, because instead of just run new context we need to run whole browser

[2021-07-06 17:41] sytolk commented on #7478
@avodovnik you mean `/node_modules/@wdio` and this in log `devtools:puppeteer` its interesting..
yes I have dependency to spectron@^13.0.0 which have transitive dependency to webdriverio@^6.9.1 -> puppeteer-core" "^5.4.0".
I wll try to remove spectron tommorow.

[2021-07-06 18:15] florianbepunkt opened #7483 "[Feature]: Set localstorage on values retreived in test.beforeEach"
I test a multiplayer game app with playwright. For each test I need to create a new match and the app uses localstorage to retreive the match id and some match auth info (that is unique for each match).

So I need to set the local storage for each test based on values retreived in test.beforeEach. I think this use case is not very special.

Problem: It is currently not possible if you want to use

[2021-07-06 18:21] florianbepunkt commented on #7483
additional option (d) would be a convenience method to copy context arguments from playwright.config.ts to the new context I would need to create in `test.beforeEach`

[2021-07-06 18:23] vsravuri opened #7484 "[Feature] Request to add feature to capture console logs configurable in Playwright.config file at project level."
Request to add feature to capture console logs configurable in Playwright.config file at project level.

It would be very helpful to have a flag in Playwright.config file to enable / disable console logs, output the console logs to the test case output directory along with screenshot and video.

I used this plugin in Protractor to configure console logs in protractor.config file.

https://www.npmj

[2021-07-06 19:16] #7408 closed

[2021-07-06 19:18] connor4312 opened #7485 "[Feature] Expose a /json/list endpoint when calling `launchServer` compatible with the one Chromium publishes"
For VS Code, we are building a way to run unit tests in "serverless"/web mode on browsers. To enable debugging in this scenario, we need to either have playwright attach to the browser the js-debug launches (which I hacked together but sometimes fails and is [not recommended](https://github.com/microsoft/playwright/issues/1985#issuecomment-650799451)) or have js-debug attach to playwright's browse

[2021-07-06 21:19] ajssd commented on #7459
No, we are not using the PW runner. We are using mocha as the test runner. Which means we are initiating the recording in the browserContext.  In that scenario, is there a way to get one recording per test?  I guess we would have to instantiate the browserContext at the start of each test?  And what about if the test involves a new browser tab?  Thanks for the assistance.

[2021-07-06 22:09] worldomonation opened #7488 "[Bug]: Chromium crash WARNING:process_memory_mac.cc(93)] mach_vm_read(0x16eef0000, 0x8000): (os/kern) protection failure (2) +5ms"
### Playwright version

1.12.x, 1.13-next

### Operating system

MacOS, Linux

### What browsers are you seeing the problem on?

Chromium

### Other information

Node.JS version: 14.16.1
CI: TeamCity + Docker (debian)
Local: macOS 11.4, MacBookPro17,1

### What happened? / Describe the bug

Chromium bundled with Playwright `1.12.x` and `1.13.0-next-alpha-jul-6-2021` crashes when interacting with c

[2021-07-06 22:26] worldomonation commented on #7488
Interestingly, I was able to prevent Chromium from crashing if the test was run headlessly.

[2021-07-07 00:16] Izhaki opened #7489 "[Bug]: page.on('console') yields logs in incorrect order"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

Taking the docs example:

[code]

Refactoring a bit:
[code]

The order of the messages is incorrect when logs are fired in quick succession (and even in not-so-quick-succession).

This is due to timing

[2021-07-07 02:07] 000xiaoxiao000 commented on #7472
Is <div ...>, may also be a Vue control.

[2021-07-07 02:20] truefusion opened #7490 "[Question]: browserContext.setHTTPCredentials deprecation and test runners"
### Your question

I noticed that the documentation for [browserContext.setHTTPCredentials](https://playwright.dev/docs/api/class-browsercontext/#browser-context-set-http-credentials) asserts deprecation and that we should create a new browser context each time to provide our own credentials. This would be all well and good if we weren't interested in using test runners. Since `browserContext.setH

[2021-07-07 04:38] JoelEinbinder commented on #7485
I think you linked to an internal issue that I don't have access to :)

You can pass `--remote-debugging-port=9222` in the `args` option of [`browserType.launchServer`](https://playwright.dev/docs/api/class-browsertype#browser-type-launch-server). Is there a reason this doesn't work for you?

[2021-07-07 06:01] pavelfeldman commented on #7490
You can always configure the way test runners create browser context and among other options, you can specify the http credentials there.

[2021-07-07 06:06] pavelfeldman commented on #7489
Playwright works as any other EventEmitter in Node, with the same strict behavior. Events are emitted in oder and awaits take arbitrary amount if time. So if you want console messages with the resolved args, you need to queue them manually.

That's not how event handlers work in Node. Events are emitted in order and idiomatic Node events are not async / queueing. If they were, it would create more

[2021-07-07 06:08] pavelfeldman commented on #7483
You can always use plain evaluate to set the local storage values in beforeEach. Would that work for you?

[2021-07-07 06:12] pavelfeldman commented on #7482
@dgozman ^^

[2021-07-07 06:39] florianbepunkt commented on #7483
Yes, I believe so. For now I leverage a fixture to recreate context and page, not sure if this is the "playwright way" to do, but it works:

[code]

[2021-07-07 06:58] truefusion commented on #7490
After reading the documentation a bit more, I came to understand how to pass the data to the test runners.

[code]

[2021-07-07 06:58] #7490 closed

[2021-07-07 07:22] budsee opened #7492 "Playwright Docker throwing UnhandledPromiseRejectionWarning: Error: Page closed"
### Playwright version

1.12.1

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

Hi

I'm using playwright docker image here  => https://hub.docker.com/_/microsoft-playwright

I encounter an issue where if I run playwright in the docker, I would have the below error

(node:97) Unhand

[2021-07-07 07:26] sytolk commented on #7478
[Trace Viewer](https://playwright.dev/docs/trace-viewer/) works with chromium. But not with electron:
[code]

[2021-07-07 07:57] sytolk commented on #7478
I have removed spectron and now debugger log looks different:
[code]
The main problem with Electron testing is that never select this:
[code]
If I add waitForSelector before it will select it but somethimes:
[code]

[2021-07-07 08:12] zydjohnHotmail commented on #7474
Hello:
Thanks for your reply, I changed my code, now it is working.
However, I need further information about the HTTP request headers. As I can use Chrome developer tools to convert the WebSocket request to Node.JS fetch:
fetch("wss://echo.websocket.org/?encoding=text", {
  "headers": {
    "accept-language": "en-US,en;q=0.9,fr;q=0.8,nl;q=0.7,zh-CN;q=0.6,zh;q=0.5,zh-TW;q=0.4",
    "cache-control"

[2021-07-07 08:49] mxschmitt commented on #7479
The reason that it does not work is that the fixture runs actually before running the test. It gets detected by the object which you pass into the function, then it sees a key with the value "fixture" and runs it. This means test.setTimeout does not run before the fixture.

Moving test.setTimeout outside the test "should" work, since it's then on the suite level and runs/sets it before the fixture

[2021-07-07 08:56] mxschmitt commented on #7459
I see two solutions there for your problem.

a) use a single context and page for all your test
- not recommended, since tests are not isolated
- might end up in a very big file

b) have a context per test
- this enforces test isolation which is great
- there you can call page.video().saveAs("foo.webm") while closing the context at the end of your test. See the following ressources
  - https://pla

[2021-07-07 08:56] alishba0133 opened #7493 "[BUG] page.on('request') is not capturing favicon.ico URI"
**Context:**

    Playwright Version: playwright-1.12.1
    Operating System: Ubuntu 18.04
    Python Version: 3.8
    Browser: chromium v888113

**Code Snippet**

    import os
    import asyncio
    from playwright.async_api import async_playwright

    async def request(request):
        print('request %s' % request.url)

    async def coroutine():
        async with async_playwright() as playw

[2021-07-07 08:59] mxschmitt commented on #7474
We could probably add websocket.requestHeaders() @yury-s wdyt?

[2021-07-07 09:01] zydjohnHotmail commented on #7474
Hello:
As I can't find any example code for this.
Could you please share your code for this?
Thanks,

[2021-07-07 09:04] mxschmitt commented on #7492
Hi, would be great if you could provide us more logs using the `DEBUG=pw:api` environment variable, there we should see the API calls.

Also I'm curious why you are not using the official Pytest plugin for Playwright: https://github.com/microsoft/playwright-pytest

[2021-07-07 09:07] Izhaki commented on #7489
This makes sense, so I think we should close this issue.

I just wonder if this is something the docs should mention... I've spent an hour trying to figure why my code doesn't work only to find out that the console logs are not ordered.

[2021-07-07 09:09] yury-s commented on #7474
Either this or fire request/response event pair for the web socket handshake to expose the headers/response info.

[2021-07-07 09:10] mxschmitt commented on #7474
It's not possible yet, we are talking about a new API.

[2021-07-07 09:12] mxschmitt opened #7494 "[Feature] Allow getting the Request headers for WebSockets"
Context: https://github.com/microsoft/playwright/issues/7474

[2021-07-07 09:30] budsee commented on #7492
Hi

The logs are huge, so I pipe to a file and attached here => [logs.txt](https://github.com/microsoft/playwright/files/6776050/logs.txt)

Ah it's because I'm using pytest-bdd. to be exact. playwright-pytest does not seems to work with pytest-bdd

[2021-07-07 09:40] gilles-yvetot opened #7495 "[Bug]: Cannot read property '_object' of undefined"
### Playwright version

1.12

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

Node 14.17
I am connecting to the browser thru CDP

### What happened? / Describe the bug

Sentry is reporting uncaught exceptions for me. It does not prevent my test from running (or at least I have not found a correlation).
I know where it is coming from b

[2021-07-07 10:53] mxschmitt opened #7496 "[Bug]: A new worker gets created when skip is used."
### Playwright version

1.12.0

### Operating system

Windows, MacOS, Linux

### What browsers are you seeing the problem on?

_No response_

### Other information

_No response_

### What happened? / Describe the bug

![image](https://user-images.githubusercontent.com/17984549/124747471-3e2dc080-df22-11eb-902a-b4f9088debfe.png)

From Slack: https://playwright.slack.com/archives/C01AG7QGW2F/p16256

[2021-07-07 11:33] akshayp7 opened #7497 "[Question]: How to do Device Emulation config with playwright.config.ts?"
### Your question

My Use case is like, In case of Emulation , we give values to browser like shown below,
We are creating a new Context so values are not picked from playwright.config.ts

const browser = await chromium.launch({ headless: false });
const pixel2 = devices[Pixel 2];
const context = await browser.newContext({ ...pixel2 });

So is it a right approach to give browser attributes values

[2021-07-07 11:34] #7359 closed

[2021-07-07 11:36] mxschmitt commented on #7497
Hi, this should give you a good overview in how mobile emulation works with Playwright Test: https://playwright.dev/docs/next/test-configuration#mobile-emulation

In Playwright Test you should not create your browser or context yourself. It gets automatically created for you and provided as a [fixture](https://playwright.dev/docs/next/test-fixtures) inside your test.

[2021-07-07 11:39] mxschmitt commented on #7493
We currently intentional filter out favicon requests. What is your use-case, do you want to intercept or process it somehow?

[2021-07-07 11:41] mxschmitt commented on #7484
Hi, do you want to have the console logs to debug failing tests or do you want to have it to ensure that your application does not throw e.g. exceptions / use console.error while running the tests?

Regarding the first case for debugging it, there is an open feature request https://github.com/microsoft/playwright/issues/7456 for adding it to the [Trace Viewer](https://playwright.dev/docs/trace-vie

[2021-07-07 11:42] mxschmitt commented on #7474
Closing this issue and we will track the feature request in https://github.com/microsoft/playwright/issues/7494

Feel free to upvote it there.

[2021-07-07 11:42] #7474 closed

[2021-07-07 11:44] mxschmitt commented on #7280
Closing as part of the triage since this is currently working as intended. If you want to interact with CDP directly, you can use a CDPSession, see [here](https://playwright.dev/docs/api/class-cdpsession).

For other requests, feel free to open a feature request.

[2021-07-07 11:44] #7280 closed

[2021-07-07 11:50] mxschmitt commented on #7495
Does this happen for every test run? Are you using background pages? If you could trace-down the bug to a minimal reproducible, that would be awesome! (If you set the `DEBUG=pw:*` env var, it will give you very verbose logs to the stderr. These might also help but depend on your application be confidential, so if you can, you can send me them privately over to take a look. (maxschmitt[A T]microsof

[2021-07-07 11:55] gilles-yvetot commented on #7495
@mxschmitt thanks a lot for the quick answer. I do use background pages (I am testing an extension). They are no clear repro steps (yet) and sometimes it happens when I don't run tests. PW is still connected to the browser and I do something within the browser. I am gonna try to have better repro steps and will come back with a repo for you :)

[2021-07-07 12:01] mxschmitt commented on #7492
From a short investigation, this looks like a Docker bug. See the following related issues:
- https://github.com/cypress-io/cypress-docker-images/issues/431
- https://github.com/cypress-io/cypress-docker-images/issues/488#issuecomment-843841488
- https://github.com/docker/for-mac/issues/5321

Also it seems you can workaround it by passing `args=["--disable-gpu"]` when launching the browser or we w

[2021-07-07 12:10] mxschmitt commented on #7488
This is interesting, would it be possible that you could provide us debug logs which you can set when setting the env var `DEBUG=pw:browser,pw:api`? (This might contain confidential information, if so, let me know then I can give you my work email.)

Also could you try to do it manually via opening the browser - so its a normal Chromium? The location where Chromium is stored on your file system, y

[2021-07-07 12:29] florianbepunkt opened #7498 "[Question]: Skip single project in test (mobile device emulation)"
### Your question

I have setup mobile emulation like shown here: https://playwright.dev/docs/next/test-configuration/#mobile-emulation

We have a feature in our app that is only present on mobile. Therefore I would like to run the corresponding test suite only for one project and skip the other project for this particular test. How does this work?

[2021-07-07 12:38] mxschmitt commented on #7498
The easiest way of doing it would be to skip it by the project name. This would then look like this:

[code]

See here for further information:
- about annotations: https://playwright.dev/docs/next/test-annotations
- about the testInfo object: https://playwright.dev/docs/next/test-advanced#testinfo-object

[2021-07-07 12:41] florianbepunkt commented on #7498
Thank you!

[2021-07-07 12:41] #7498 closed

[2021-07-07 13:32] roseline124 commented on #4775
still error, too

[2021-07-07 13:43] ViaMay opened #7499 "[Question]: playwriter-jest-import module"
### Your question

I used this project https://github.com/playwright-community/jest-playwright for start my tests. But I have a problem.

I want to use Import and Export (https://nodejs.org/docs/latest-v14.x/api/esm.html#esm_modules_ecmascript_modules) for my code.
I can’t understand it is possible to configure its or you don’t support it yet?

[2021-07-07 14:04] JayKishoreDuvvuri commented on #4775
Error resolved now thank you!

On Wed, 7 Jul 2021 at 3:32 PM, Hyunji Song ***@***.***> wrote:

[2021-07-07 14:40] budsee commented on #7492
Thanks for checking using `args=["--disable-gpu"]` does not help.
Please find the attached logs for this => [logs.txt](https://github.com/microsoft/playwright/files/6778038/logs.txt)

I tried` ubuntu:focal `docker image before but I have the below playwright version  install error where I can't install the latest version and stuck with 0.162.2 only

`=> ERROR [ 9/12] RUN pip install playwright==1.

[2021-07-07 14:42] pavelfeldman commented on #7496
We restart workers on exceptions, fixme is internally implemented as exception, but we surely don't want to restart workers on them.

[2021-07-07 14:42] mxschmitt commented on #7492
Could you provide us the output of `pip debug --verbose`?

[2021-07-07 14:48] budsee commented on #7492
Here it is. What does this mean? This also only happen in docker only.

`pip debug --verbose
Traceback (most recent call last):
  File "/usr/bin/pip", line 11, in <module>
    load_entry_point('pip==20.0.2', 'console_scripts', 'pip')()
  File "/usr/lib/python3/dist-packages/pip/_internal/cli/main.py", line 73, in main
    command = create_command(cmd_name, isolated=("--isolated" in cmd_args))
  Fi

[2021-07-07 14:49] pavelfeldman commented on #7489
Ouch. Yes, promises can be tricky. We'll see if we get more reports on this and if we do, we'll figure something out.

[2021-07-07 14:49] #7489 closed

[2021-07-07 14:51] vsravuri commented on #7484
I want to ensure my application doesn't throw browser console errors during e2e test (my e2e test runs for long hours). Also want to filter the exceptions at config level. Instead of writing the code in all the spec files to capture the errors, i want to have a setting at config level.

[2021-07-07 14:54] sytolk commented on #7478
The same issue happened with other selectors the common thing is that always happened on the first selector in test.

To run playwright electron tests:
https://github.com/tagspaces/tagspaces/blob/TSN692---Evaluate-playwright-test-framework/package.json#L93

The same test works without problem in web browser - cromium
https://github.com/tagspaces/tagspaces/blob/TSN692---Evaluate-playwright-test-fra

[2021-07-07 15:33] ayartsev7 opened #7501 "[Bug]: page.click: cssParser_1.parseCSS is not a function"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

    "babel-core": "7.0.0-bridge.0",
    "babel-jest": "24.9.0",
    "babel-loader": "8.0.6",
    "babel-plugin-react-transform": "1.1.1",
    "bamboo-jest-reporter": "1.0.3",
    "compression-webpack-plugin": "3.0.1",
    "css-loader": "0.28.4",
    "dot

[2021-07-07 15:37] mxschmitt commented on #7492
Seems like the PIP installation inside the Docker container (also the official image) seems broken. Could you try executing this beforehand inside the container?

`curl -sS https://bootstrap.pypa.io/get-pip.py | python`

[2021-07-07 15:51] budsee commented on #7492
Does not seem to help

`root@db8d954583cc:/# curl -sS https://bootstrap.pypa.io/get-pip.py | python3
Collecting pip
  Using cached pip-21.1.3-py3-none-any.whl (1.5 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.3
    Uninstalling pip-21.1.3:
      Successfully uninstalled pip-21.1.3
Successfully installed pip-21.1.3
WARNING: Running pip

[2021-07-07 15:55] mxschmitt commented on #7492
And what is the output for `pip debug --verbose` there?

Background: pip debug will log the supported architectures, based on that we can see where the problem is.

[2021-07-07 16:05] sytolk commented on #7478
Maybe this issue is connected with Electron  Content-Security-Policy
if I match the failed with successed log this appears on failed:

[code]

[successed.txt](https://github.com/microsoft/playwright/files/6778649/successed.txt)
[failed.txt](https://github.com/microsoft/playwright/files/6778645/failed.txt)

[2021-07-07 16:18] joecanuelspotify opened #7502 "[Bug]: Headful fails with Chrome 91+"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

This is specific to Chrome, it doesn't happen with Chromium.

We first started noticing this issue when using Puppeteer and Chrome 90. We tried it with Playwright on Chrome  91.0.4472.114 and are seeing it fail here as well.

### What happened? / Describe

[2021-07-07 16:31] dgozman commented on #7482
@Daemos87 This would be a hard thing to make work.

Could you please give some more details? For example, why `something` is a fixture? Perhaps you could require the list instead of making it a fixture, similar to your first example? This way you can share the code, but do not have to bother with a fixture.

[code]

[2021-07-07 16:37] budsee commented on #7492
It's the same as previous

[code]

[2021-07-07 17:13] mxschmitt commented on #7502
Could you provide us the output while setting the `DEBUG=pw:browser,pw:api` environment variable?

[2021-07-07 17:16] JoelEinbinder commented on #7501
It looks like you are babeling your code into es5. This doesn't work with playwright. Try to turn off all of the transformations.

[2021-07-07 17:40] #7456 closed

[2021-07-07 17:40] joecanuelspotify commented on #7502
@mxschmitt Sure thing.

[code]

[2021-07-07 17:59] dgozman commented on #7116
Closing this one in favor of `require`.

[2021-07-07 17:59] #7116 closed

[2021-07-07 18:06] dgozman commented on #7146
@ankit-scio Did that indexedDB snippet work for you?

[2021-07-07 18:12] dgozman commented on #7267
@radekBednarik Thank you for the explanation, this makes sense.

Your custom fixtures will not pick up context options because these options are used manually in the `context` fixture. However, you can easily have your own options in the configuration file like this:

[code]

Then set `myContextOptions` in the configuration file:
[code]

Does this help?

[2021-07-07 18:18] dgozman commented on #7295
@xueshennnn That's probably right. If your click action causes some requests asynchronously, you'll have to wait until some specific point - maybe a last request? Here is an example:

[code]

[2021-07-07 18:19] #7398 closed

[2021-07-07 18:20] #7295 closed

[2021-07-07 18:22] radekBednarik commented on #7267
@dgozman thank you, yes, that is, what I needed. I would suggest, that maybe this should be mentioned in the documentation? Thanks again.

[2021-07-07 18:23] dgozman commented on #7341
@aslushnikov We have to look at this root vs pwuser story, and either make it work or update documentation with a workaround or "it's impossible" note.

[2021-07-07 18:26] dgozman commented on #7346
@DZakh This is an interesting idea, but we have to gather more feedback before changing how snapshot matching works.

Meanwhile, you can also capture an [element screenshot](https://playwright.dev/docs/api/class-elementhandle#element-handle-screenshot) to avoid the area with the ever-changing version, or anything else that is not stable. Would that work for you?

[2021-07-07 18:27] dgozman commented on #7375
Closing in favor of #7148.

[2021-07-07 18:27] #7375 closed

[2021-07-07 18:41] dgozman commented on #7447
@badsyntax Let me answer a few questions here

You can setup [routing on the context](https://playwright.dev/docs/api/class-browsercontext#browser-context-route) - this way it will affect any pages open in this context. Overall, `BrowserContext` should expose all the APIs you need to work with multiple pages out of the box.

You can do everything manually if you'd want. E.g. write a helper that wi

[2021-07-07 18:46] connor4312 commented on #7485
That works beautifully. I assumed this wouldn't work, but should have checked 🤦  thanks!

[2021-07-07 18:46] #7485 closed

[2021-07-07 18:51] dgozman commented on #7267
I am glad this helps! We are working on the documentation indeed 😄

[2021-07-07 18:51] #7267 closed

[2021-07-07 19:04] #7444 closed

[2021-07-07 19:05] Daemos87 commented on #7482
@dgozman thanks for looking into this

maybe it's just a matter of personal taste, but i think that writing something like this

[code]

[code]

is a lot nicer than writing and idiomatic than writing something like this

[code]

And here's the utils.ts file

[code]

Maybe this example is an extreme case, but it's the first thing that comes to my mind and that can be simplified with a describe leve

[2021-07-07 19:13] dgozman commented on #7478
@sytolk In the failed logs I see the following line:
[code]

Could it be that sometimes you open a splash page, and sometimes you don't? This could explain why element with a particular selector is not there, since the page is different. Similarly, the splash page probably does not have Content-Security-Policy set, so you get the warning.

[2021-07-07 19:21] dgozman commented on #7482
@Daemos87 Thank you for the example, it makes sense.

Unfortunately, this is not supported and I do not see an easy way to support it. Two available workarounds for you:

1. Instead of using `test.describe` and multiple `test` blocks, make a single `test` that uses the fixture. You can check each element in the for loop. We are looking into adding [`test.step` API](https://github.com/microsoft/pla

[2021-07-07 19:34] ayartsev7 commented on #7501
@JoelEinbinder thanks for your response!

I disabled all transformations that affected test, now my jest transformations look like
[code]

test name is playwrightMY.test.js, I know the test is not transformed because regeneratorRuntime is not needed anymore and imports are not allowed so the test now looks like
[code]

The error persist :(

New stack trace:
[code]

[2021-07-07 19:37] dgozman commented on #7262
With #7436, you can use a separate `test.skip()` statement in the block that will avoid running hooks if possible:

[code]

Let me know if neither solution works for you.

[2021-07-07 19:37] #7262 closed

[2021-07-07 21:15] Daemos87 commented on #7482
@dgozman

No worries, and thanks for the suggestions.

This is actually a great news, and a step API is something that i think is missing in most of the other test runners out there.

Can i make a suggestion in this regard ? I think that a it could be useful for a user to decide which test's step is a optional and which not.

 something like this :

[code]

[2021-07-07 21:39] mxschmitt commented on #7499
I would recommend opening an issue on [their](https://github.com/playwright-community/jest-playwright) repository, since this is something which needs to to get implemented on the jest plugin preset level.

You can also instead use the [official test-runner](https://playwright.dev/docs/test-intro), which works in the `npm i -D next@playwright` version (or wait until 1.14) with ESM files when the `

[2021-07-07 21:55] mxschmitt commented on #7502
I tried to reproduce it, I'm also running on a Mac, using the same Chrome version and Playwright version using ESM which works for me as expected. So unfortunately not able to repro.

I saw in your case you are using `ts-run`, is this something official which does some magic?

Also which Mac and with which OS version are you using?

[2021-07-07 23:45] ayartsev7 commented on #7501
Found the root of the issue: there was another silly transformation in jests "moduleNameMapper" section. Sorry for the noise.

[2021-07-07 23:45] #7501 closed

[2021-07-08 00:39] archlichking opened #7505 "[Question]: playwright config set in config.ts file overwrites context set in fixture?"
### Your question

I have a question and I cannot find an answer to it from doc. I have a playwright config file, like this

[code]

This config file is loaded when test runs via

[code]

In our test we want to test scenarios for both logged in user and guest, so I create separate test fixtures according to https://playwright.dev/docs/test-fixtures this link.

[code]

[code]

Our website uses cook

[2021-07-08 02:10] github0013 commented on #7341
I am facing the same issue.   I just tried playwright today on docker and firefox seems not working?

### Environments

[code]

### Dockerfile

[code]

### docker-compose.yml

[code]

### in the container

https://playwright.dev/docs/test-intro

#### tests/foo.spec.ts

[code]

[code]

[2021-07-08 02:54] akshayp7 commented on #7497
Thanks for helping out, Looks like I missed reading this part of documentation for config. Now its working for me.

[2021-07-08 02:54] #7497 closed

[2021-07-08 03:07] joeljeske commented on #7411
@JoelEinbinder, it would seem nice if the public "browsers.json" doc at the top of the package was extended like this:

[code]

I am interested in this being exposed as I want to create a playwright testing rules to work well within Bazel. Theres a couple pieces of functionality that I would want to provide:

1. Bazel controls the downloading of the browser binaries for better performance and cach

[2021-07-08 05:03] alishba0133 commented on #7493
In my project I want to save the favicon file and perform brand detection using it.

[2021-07-08 06:05] mailtogagan opened #7506 "[Bug]: Playwright Test does not report the error correctly when FFMPEG does not exist"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

Desktop\Work\PlaywrightTest-Example> node -v
v14.17.3
Desktop\Work\PlaywrightTest-Example> npm -v
6.14.13

### What happened? / Describe the bug

During the playwright installation I am skipping the binaries download (using **PLAYWRIGHT_SKIP_BROWSER_DOWN

[2021-07-08 06:29] ViaMay commented on #7499
Thanks!

[2021-07-08 06:29] #7499 closed

[2021-07-08 06:32] imWildCat commented on #4764
Hello, I can repro similar bugs using the `webkit` driver.

[code]
(I removed two lines of the log to protect our privacy)

I'm not using playwright directly. Instead, we use `jest` with `playwright` to run e2e tests for our project:

[code]

System: `macOS 11.4 (20F71)`
[code]

[2021-07-08 06:53] sytolk commented on #7478
@dgozman good catch this was the issue thanks!

[2021-07-08 06:53] #7478 closed

[2021-07-08 07:47] florianbepunkt commented on #662
I would also be interested in what are the best practices for react.

[2021-07-08 09:07] mxschmitt commented on #7341
I tried to reproduce it, but for me it was working as expected. Are you using `docker-compose up -d && docker-compose exec  frontend  bash`?

Would be awesome if you could provide us the logs which you get when setting the `DEBUG=pw:api,pw:browser` environment variable.

[2021-07-08 09:22] github0013 commented on #7341
[code]

[2021-07-08 09:25] github0013 commented on #7341
I think I found a way to solve it.   I added `user` in `docker-compose.yml`, then firefox is working fine.

[code]

[code]

[2021-07-08 09:39] github0013 commented on #7341
Or, move the user to the `Dockerfile` is better?

[code]

[code]

[2021-07-08 09:45] florianbepunkt opened #7508 "[Bug]: Can't resolve 'electron/index.js'"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

_No response_

### Other information

I installed `"@playwright/test": "1.12.3"`with NPM7 and Create React App. When starting the react app in dev mode, I get the error below

I already deleted node_modules as well as package-lock.json, but to no avail.

### What happened? / Describe the

[2021-07-08 09:56] florianbepunkt commented on #7508
it seems to boil down to line 128 in `client/node_modules/@playwright/test/lib/server/electron/electron.js`

`executablePath: options.executablePath || require('electron/index.js'),`

[2021-07-08 10:56] Tallyb commented on #7189
FWIW, I will leave it here for defining browser as global with typescript (I had some trouble getting there):

[code]

[code]

[2021-07-08 11:23] DZakh commented on #7341
Well, I can't solve my problem this way, because I won't have rights for artifacts outside if the docker container

[2021-07-08 12:29] yury-s commented on #7505
@archlichking can you share complete example where it is failing? I tried this [pwtest.zip](https://github.com/microsoft/playwright/files/6784405/pwtest.zip) and it passed.

[2021-07-08 13:24] #7508 closed

[2021-07-08 13:36] mskelton opened #7512 "[Feature]: Document "fixture enhancement""
### Feature request

As I've began to utilize the Playwright test runner, I discovered that it supports overriding/enhancing existing fixtures.  After more digging, I found other examples in issues including this example shared by @mxschmitt.

https://github.com/microsoft/playwright/issues/7051#issuecomment-859916019

[code]

This is a very powerful pattern as you can add functionality in layers b

[2021-07-08 14:29] joecanuelspotify commented on #7502
Appreciate all the help looking into this!

For context, this is [ts-run](https://github.com/kirbysayshi/ts-run), but we can ignore that. I shouldn't have used that for my example and have switched to a js file and still get the issue when running with Node. I also moved it to a separate directory with the only install being Playwright.

Mac Model: 16 inch 2019 2.4GHz Core i9
Mac Os: Big Sur v11.4

[2021-07-08 14:37] mxschmitt commented on #7502
Awesome, unfortunately the logs still give us no hints. Setting the env var to `DEBUG=pw:*` would be be another try to get something more useful out of it. Thank you for time!

[2021-07-08 14:54] ankit-scio commented on #7146
@dgozman Thanks for following up. No haven't tried this yet. Will do by the end of this month and update. Thanks

[2021-07-08 15:12] badsyntax commented on #7447
@dgozman thanks. wasn't aware of routing on the context, that's super helpful. thanks for these suggestions, i'll try them out when i have some time and give some feedback, but i reckon this approach should work.

[2021-07-08 15:45] joecanuelspotify commented on #7502
With `DEBUG=pw:*` I am seeing the close event called, but I'm not sure why. I attached the full output in the file below, but here is a snippet of when I see the page close unexpectedly.

[code]

[output.txt](https://github.com/microsoft/playwright/files/6785766/output.txt)

[2021-07-08 16:24] #7506 closed

[2021-07-08 16:24] #3174 closed

[2021-07-08 16:25] IgorGee opened #7514 "[Feature]: Build off of existing playwright scripts"
### Feature request

I'd like to be able to create a playwright script and treat it as an initialization or base script for additional scripts.

I can think of two use cases for this:
* Quickly fix a script for a site that changed
* Create DRY playwright scripts for tests that have a common set of initial steps

Quick Fix Workflow:
1. Normal playwright script creation: `playwright codegen --output

[2021-07-08 16:25] IgorGee opened #7515 "[Feature]: Edit a playwright script via codegen"
### Feature request

I have an existing playwright script, but I want to take some additional complicated steps in the middle of that existing script.

As far as I understand, I have to manually write those steps or `codegen` from scratch.
I'd like to use the same great `codegen` tool to edit my existing script.

Some ideas of how to implement this:

* `codegen --edit existing-script.js --line 46`

[2021-07-08 16:28] worldomonation commented on #7488
Hi @mxschmitt, thanks for some leads!

I located several Chromium installations on my machine under `~/Library/Caches/ms-playwright/` but I believe `chromium-888113` is of interest.

I tried the following scenario in both regular and incognito sessions:

1. log in to WordPress.com
2. start a new post
3. publish
4. like the post
5. comment on post
6. like the comment

When running under Playwright,

[2021-07-08 16:44] CharlieMartell commented on #5561
We are still seeing this issue on @playwright/test@1.12.3. @patrickberkeley were you able to solve the issue by upgrading?

[2021-07-08 17:02] archlichking commented on #7505
@yury-s ahhh, thanks. The difference is here, instead of

[code]
your example uses
[code]

Your example works, I'll use this pattern. Thanks, we can close this ticket now.

[2021-07-08 17:09] #7505 closed

[2021-07-08 17:15] sytolk commented on #662
I'm not sure is this a the cleanest solution? but it works for me in React.
For example after click on Delete button and needs to waitFor rerender React component:
`await page.waitForLoadState('networkidle');`
..next check if deleted item exist

[2021-07-08 17:19] mxschmitt commented on #7488
awesome, `maxschmitt[AT]microsoft[DOT]C0M`, would also be cool if you could add there a reproducible script, so I don't need to create an account there, thanks in advance.

[2021-07-08 17:39] srguiwiz opened #7520 "[Feature]: Access to fixtures in page object model methods"
### Feature request

Methods in the page object model as supposed to abstract "doing stuff".  Fixtures contain objects that methods would need to operate with.  Therefore, fixtures would be useful to have available in a similar way as in test code.

Workaround meanwhile:  We can pass fixtures to the constructor of a page object model class.

I cannot say yet whether the effort to implement and doc

[2021-07-08 17:39] patrickberkeley commented on #5561
@CharlieMartell yeah the issue was resolved for me in playwrite v1.9.1

[2021-07-08 18:09] mxschmitt commented on #7496
Closed since fixed in https://github.com/microsoft/playwright/pull/7511.

[2021-07-08 18:09] #7496 closed

[2021-07-08 19:46] #7482 closed

[2021-07-08 20:37] niewiemczego opened #7523 "[Bug]: Can't connect playwright to existing browser"
### Playwright version

1.12.0

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

Playwright open another browser and open google.com instead of opening google.com in the existing browser

### Code snippet to reproduce your bug

[code]

### Relevant log output

_No response_

[2021-07-08 20:52] mxschmitt commented on #7502
Is your device managed or do you have any Google Chrome policies maybe applied? You can find them when navigating to `chrome://policy`. One of the differences between Google Chrome and Chromium is that they are only applied to Google Chrome. The logs are unfortunately not very meaningful even tho they are one of the highest verbose levels.

It seems basically that Google is closing the site by the

[2021-07-08 21:34] doctorpangloss opened #7524 "[Feature]: Add source map support to page.on("pageerror") event"
### Playwright version

1.12.0

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

 1. Create a static site with minified Javascript content and source maps.
 2. Throw an exception in the minified code.
 3. Observe `page.on('pageerror')`'s argument provides a stack trace that does n

[2021-07-08 23:39] dgozman commented on #7523
@niewiemczego This is expected. Playwright opens a new browser window when you call `browser.new_page()`. If you'd like full control over the browser, I suggest to use `chromium.launch()` instead. Is there a reason you use `chromium.connect_over_cdp()`?

[2021-07-08 23:44] dgozman commented on #7520
@srguiwiz This seems somewhat vague, because page object classes are some arbitrary javascript, we have no control over it. That said, you can provide your page object through a fixture, so that every test does not have to pass all the fixture to it:

[code]

Does that help?

[2021-07-08 23:46] dgozman commented on #7515
@IgorGee You can use `page.pause()` to run codegen from an arbitrary place. Here is the [documentation](https://playwright.dev/docs/cli#codegen-with-custom-setup). Does that work for you?

[2021-07-08 23:51] dgozman commented on #7512
@mskelton Here is the source for the documentation: https://github.com/microsoft/playwright/blob/master/docs/src/test-fixtures.md. Look around for other docs as well. Any documentation PRs are immensely valuable, so please go ahead!

[2021-07-08 23:59] dgozman commented on #7479
@mlmmn You can use `testInfo.setTimeout()` from the fixture to change the timeout for any test that uses this long-running fixture. Below is the original snippet with a small tweak. Does that work for you?

[code]

[2021-07-09 00:04] dgozman commented on #7483
@florianbepunkt You can override `storageState` with a fixture function:

[code]

`test.use()` also accepts a fixture function if you'd like it locally:

[code]

Does that work for you?

[2021-07-09 00:06] dgozman commented on #7493
This seems like a valid usecase, but it does not fit the testing world, where favicons bring flakiness.

[2021-07-09 00:06] srguiwiz commented on #7520
Yes, that is what we are doing now.  That workaround is reasonable.  Thank you.

The feature idea was to have access to all fixtures, maybe in a method of the page object model, to avoid test authors needing to bother with each, given a page object model.

But, you are right, I just noticed a base page object model class doesn't extend any further base class.  Strike this feature idea.  If ever im

[2021-07-09 00:09] dgozman commented on #7484
@vsravuri It seems like you want a configurable "strict mode", see #7153. Does that sound right?

[2021-07-09 00:15] dgozman commented on #7520
Indeed, thank you for double-checking!

[2021-07-09 00:15] #7520 closed

[2021-07-09 00:21] vsravuri commented on #7484
@dgozman

Yes, something similar to what is mentioned in 7153.

Currently i use this setting with Protractor where i specify the error level and filter the errors. This also has the option to provide keywords to filter the errors.

Also write the error output in test results

[2021-07-09 00:21] #7484 closed

[2021-07-09 00:23] vsravuri commented on #7484
By mistake this ticket got closed.

[2021-07-09 00:25] dgozman commented on #7484
@vsravuri Let me copy your input to #7153, to consolidate the discussion in one place.

[2021-07-09 00:27] dgozman commented on #7153
From #7484: currently using Protractor config to filter errors and write them to the test results folder:

[code]

[2021-07-09 01:14] IgorGee commented on #7515
@dgozman Hmm, it's close, but the behavior of codegen at the pause point is not behaving the same way as it would if I created a brand new script.

What I'm experiencing:
1. I create a pause point on `existing-script.js`
2. Run `node existing-script.js`
3. Playwright gets to the pause point correctly, but it's only recording `page.goto` commands during the pause.

It's not recording arbitrary clic

[2021-07-09 02:06] dgozman commented on #7515
@IgorGee There is a "Record" button at the top-left that toggles recording mode. It is not toggled by default when using `page.pause()`, only when started with `npx playwright codegen`, so you'll have to click it manually before recording actions.

[2021-07-09 02:10] IgorGee commented on #7515
@dgozman Yep, "Record" was on after the pause. I didn't mention that in my previous message, but it was definitely on and still exhibits the behavior I described.

[2021-07-09 02:33] Mango88Boba opened #7527 "UnhandledRejection error during page.click with navigation"
When I execute page.click on a button that causes a navigation, I encounter a unhandledRejection error that is not coming from the playwright code that I cannot catch or expect to catch, since it is not a timeout error.  Please help me understand if there is issue with my sample code.  I have changed all the links to be anonymous, since they are not public.

I have attached the sample source code

[2021-07-09 03:16] Mango88Boba commented on #7527
Adding my test config:
Playwright version: 1.11.1 (also fails on 1.12.3)
Operating system: Windows 10
What browsers are you seeing the problem on? Chromium

[2021-07-09 04:43] akshayp7 commented on #7527
1. I had a redirection issue on button click, I used the below code which solved my issue, it waits for navigation event on click of button,

await Promise.all([
            page.waitForNavigation(),
            page.click(locator);
        ]);
2. My second solution would be try to record the script using "npx playwright codegen" , and perform the same action and look into the code generated.

Hop

[2021-07-09 06:17] florianbepunkt commented on #7483
@dgozman Perfect, thank you

[2021-07-09 06:17] #7483 closed

[2021-07-09 07:38] yury-s commented on #7505
The test runner should throw an error like `Error: browser.newContext: ENOENT: no such file or directory, open './state.json'` if the file doesn't exist so you probably had both state.json and tests/state.json.

[2021-07-09 07:48] truefusion opened #7529 "[Feature] Load playwright.config.js only once per run"
### Feature request

Currently, the config is loaded more than once per run. This makes it problematic for me when I wish to perform certain, specific tasks within the configuration that I only wish to be ran once (e.g. prompting for input). If the configuration would be loaded only once, it would resolve my issue.

[2021-07-09 08:16] mxschmitt commented on #7529
What are you trying to do before the runs? There are multiple ways of doing something like that:

a) Create a worker fixture with `auto: true`. This gets then triggered one time per worker, see here:
- https://playwright.dev/docs/test-fixtures#worker-fixtures
b) You can leverage the globalSetup functionality, to run something before all your tests will run. This is a one-time execution, see here:

[2021-07-09 08:45] christianbaumann opened #7530 "[Bug]: Typo in auth - session-storage documentation"
### Playwright version

1.12.0

### Operating system

_No response_

### What browsers are you seeing the problem on?

_No response_

### Other information

_No response_

### What happened? / Describe the bug

On https://playwright.dev/java/docs/auth/#session-storage the code example is:
`String sessionStorage = (String) page.evaluate("() => JSON.stringify(sessionStorage");`

There's a `)` missin

[2021-07-09 08:50] truefusion commented on #7529
My tests require basic HTTP authentication. Rather than resorting to storing passwords locally, I attempted to implement prompting for input in the config. This works fine the first time around, but playwright seems to require loading the config multiple times. From the looks of it, it doesn't seem like your suggestions will work in my case.

[2021-07-09 08:55] mxschmitt commented on #7530
Do you want to submit a PR for it? You can find the source-file here: https://github.com/microsoft/playwright/blob/master/docs/src/auth.md

If not, no worries. We can pick it up.

[2021-07-09 08:57] mxschmitt commented on #7529
Do I understand that correctly that you need to pass the username/email + password from externally into your tests?

Then I would recommend to use environment variables for that which you can read inside your tests using e.g. `process.env.USERNAME`

[2021-07-09 08:59] christianbaumann commented on #7530
Never done that, but happy to pick up the challenge. :-)

[2021-07-09 09:36] truefusion commented on #7529
Are you saying that the `globalSetup` file will be executed before playwright attempts to import from `playwright.config.js` and that whatever I store in `process.env` will be made available to `playwright.config.js`?

[2021-07-09 09:51] #7530 closed

[2021-07-09 10:03] niewiemczego commented on #7523
@dgozman Im using this method to be able to bypass security on some sites. If I use chromium.launch() or other launch options site somehow detects that the browser is automated by bot but when Im running mine chrome and then connect to it site doesnt detect it and Im able to use playwright automation.

[2021-07-09 10:28] StfBauer commented on #4033
Same issue here too on windows. 14.0.0.

[2021-07-09 10:56] mxschmitt commented on #4033
When using Playwright Test, you need to install the browsers yourself. You can do that via "npx playwright install".

[2021-07-09 11:52] mskelton opened #7533 "[Feature]: Publish types for use by libraries"
### Feature request

Currently, there isn't a clear approach for how third party libraries should utilize the Playwright TypeScript definitions.  Should you install `playwright` as a peer dependency?  Should you install `playwright-core` as a peer dependency?  Should you install `playwright-core` as a dependency?

Looking for either some guidance on what to do here, or if there is an improvement t

[2021-07-09 12:34] mxschmitt commented on #7529
No, since you specify the path to your globalSetup in the playwright.config.js. Are the values which you want to pass over dynamic and if so how do you decide which values to use?

If its not dynamic, we recommend environment variables, and if dynamic a global setup file which includes the logic to determine the values and sets then the values onto the process.env object so the the tests can acces

[2021-07-09 14:26] joecanuelspotify commented on #7502
I can reproduce on other websites. It's effecting our developers experience when working on our tests because they prefer to run headful tests when iterating on tests locally.

The laptop I'm using for testing is my company managed device and it does have policies applied to it. The policies sound like a likely culprit, since you can't replicate the issue. I will try to replicate on a personal lap

[2021-07-09 14:42] nexcode opened #7536 "[Question]: run Chromium from Flatpak"
### Your question

[code]

Error: `Failed to launch chromium because executable doesn't exist at /usr/bin/flatpak run org.chromium.Chromium`

Is it possible to launch it somehow?

[2021-07-09 16:03] dgozman commented on #7523
@niewiemczego In this case a new browser window will be opened, and I don't think this will change in the nearest future. Sorry for the inconvenience!

[2021-07-09 16:03] #7523 closed

[2021-07-09 16:19] pavelfeldman opened #7537 "Debug mode for test runner"
### Feature request

Requested on Twitter: https://mobile.twitter.com/eliostruyf/status/1413392602418790401

[code]

- [x] My understanding is that this is a new mode

[code]

Which is a shortcut to

[code]

But in addition to that,

- [x] inspector and browser window are reused to reduce flashing
- [ ] elements of the new test status UI show the history of successful/failed runs in the inspector

[2021-07-09 16:24] nexcode opened #7538 "[Question]: playwright-artifacts"
### Your question

In `/tmp` folder many `playwright-artifacts-XXXXX` folders.
Is there any way to change their location?

[2021-07-09 16:47] Tallyb opened #7539 "[Feature]: add args parameter when running PW test"
### Feature request

Allow users to pass cli args to a PW run.
`playwright test --args=arg1,arg2,arg3`

And then get context.args: string[] = [arg1, arg2, arg3]

Allow for run time execution beyond env params.

[2021-07-09 17:02] kshrestha99 opened #7540 "[Feature]: Allow `describe` to be called in files other than test"
### Feature request

Currently, for our framework using Protractor, Jasmine, and Typescript, I have an override for the jasmine describe function with my own custom function. This allows me to do something like this in the test file:

[code]

I tried to do something similar with Playwright but got this error:
"Error: describe() can only be called in a test file"
The error makes sense too since I a

[2021-07-09 17:44] devniel commented on #1115
+1 for this feature, especially for tables, when scrolling horizontally.

[2021-07-10 02:00] dgozman commented on #7540
@kshrestha99 Could you please provide more details? Where do you call `login.loginDescribe` from? Ideally, we would like to see your test file, config and your `login` helper to understand things better.

[2021-07-10 02:01] dgozman commented on #7539
@Tallyb Could you share a bit more, like an example where this is useful? Also, when you say `context.args` - do you mean the default `context` fixture that is provided to each test?

[2021-07-10 02:05] dgozman commented on #7538
These folders should be automatically removed. Could you please run your script with `DEBUG=pw:browser*` environment variable and post the output here, so we can better understand why these folders are not removed?

Also, are you using `chromium.connectOverCDP` by any chance?

[2021-07-10 02:07] dgozman commented on #7536
@aslushnikov This basically means treating `executablePath` as a shell command, perhaps we can do that?

[2021-07-10 02:16] dgozman commented on #7529
@truefusion I don't think we'll be able to only load config once, so you'll need a workaround.

I think the easiest one would be `globalSetup` that prompts the user and stores the result in `process.env`, as @mxschmitt suggests. I guess you want that available in `playwright.config.js` to set something like `httpCredentials`? You can do the same by overriding the `httpCredentials` fixture by exten

[2021-07-10 02:56] kshrestha99 commented on #7540
@dgozman Sure thing, let me include what I have so far...

mytest_spec.ts:
[code]

describe_override:
[code]

[2021-07-10 05:22] ZooDoo4U opened #7545 "[Feature]: Allow users the ability to influence selectors in recording."
### Feature request

As a tester needing to extract elements on a page it would be great if we could have an option for specifying what a selector is in the generated script from the recording...

Specifically, just learned about the "data-" attribute which seems would be perfect for this.  They are intended to store custom data private for a page or application.   Additionally using the "data-XXX

[2021-07-10 07:35] nexcode commented on #7538
I use browserType.launchPersistentContext

[2021-07-10 09:18] mahaveer0496 opened #7546 "[Question]: Do all tests run in parallel?"
### Your question

First of all thanks for the amazing library! It's awesome to work with. 🙌

---

I noticed that tests in separate files run in parallel but what about tests in the same file? Are they always executed sequentially?

For the snippet below will the 2nd test always get executed after the first one?
[code]

What about this snippet?
[code]

[2021-07-10 09:22] mahaveer0496 opened #7547 "[Question]: How to run tests in parallel when using playwright-github-action"
### Your question

I've been trying to get tests to run in parallel but could not find a resource.
Any help would be great. Thanks!

[2021-07-10 09:45] mxschmitt commented on #7547
There are two ways of achieving that.

a) You can run your tests parallel on a single GitHub Action job by using the `--workers=4` CLI argument ([or in the config](https://playwright.dev/docs/test-configuration#testing-options)), there you can specify how much workers should be spawned to parallelise your test runs on a single machine.
b) You can leverage test sharding, see [here](https://playwrig

[2021-07-10 09:47] mxschmitt commented on #7546
A test file gets executed in a single worker so the tests inside a file don't run in parallel. Currently they do run sequentially per file in terms of the order.

(You might be interested in the #7254 feature-request too)

[2021-07-10 10:23] visortelle commented on #7537
This feature done right can allow to build [storybook](https://storybook.js.org/)-like components catalogs.

There is no need to setup a separate storybook/styleguidist/etc. to display a UI components list with usage examples if you already have a list tests for each component and can run it in browser just by clicking a right test case.

[2021-07-10 13:20] florianbepunkt opened #7548 "[Question]: React: Flaky screenshots (pixel shift)"
### Your question

I have a lot visual regression tests are quite flaky. Inside our React app I use hook that runs after the current screen to test has been mounted. This hooks adds a `"rendered"` css class to the documents body.

Inside playwright I await this class as an indicator that the react screen has loaded.

Still I get very flaky and often falling tests that look like the follwing diffs.

[2021-07-10 13:41] ArmanYeghiazaryan opened #7549 "[Question]: Java User-Agent and Browser Size"
### Your question

Hello,

I have two questions. Unfortunately I could not find a solution for Java.

1. How can I set a custom user-agent into my firefox browser in Java?

2. How can I set my firefox browser as full screen? (In general change the size)

I would really appreciate, if you could attach a Java code snippet.

Thank you very much!

[2021-07-10 18:42] mahaveer0496 commented on #7546
Thank you so much for the quick reply! 🙏

[2021-07-10 18:42] #7546 closed

[2021-07-10 19:40] mahaveer0496 commented on #7547
Thanks a ton! I'll try the solutions :)

[2021-07-10 19:40] #7547 closed

[2021-07-10 21:27] truefusion commented on #7529
I managed to sort something out with `playwright.config.js`  and `process.env`. Extending the base test was not desirable because I end up losing functionality (e.g. `test.describe`), and I am not aware of how to extend the base test in a way that maintains desired functionality.

Thanks for help!

[2021-07-10 21:27] #7529 closed

[2021-07-10 22:20] mxschmitt commented on #7461
Closed as part of the triage process. This is a feature which most likely should get implemented by msw/a wrapper package, since Playwright has the API to provide support for it.

[2021-07-10 22:20] #7461 closed

[2021-07-10 22:48] dgozman commented on #7529
I would be very interested in the bug report about lost functionality, because extended `test` should retain all the features by design.

[2021-07-11 03:05] #6601 closed

[2021-07-11 03:07] dgozman commented on #7545
This seems very similar to #5178, so let's continue discussion there.

[2021-07-11 03:07] #7545 closed

[2021-07-11 03:08] dgozman commented on #7533
I'd suggest to use `playwright-core` dependency for now. Is there a reason this does not work for you?

[2021-07-11 05:34] ZooDoo4U commented on #5178
As a user would like an option to explicitly define or influence what properties the recorder looks for and uses for the selectors in the generated code emitted by the recorder.

Personally, not a big fan of tools second guessing and assuming they know what is best,  would assert there are "data-XXX" defined in the HTML spec that could be used for this purpose.   Would assert  it would actually ma

[2021-07-11 05:47] YonatanKra commented on #7249
Hi,
Sorry for the late reply. It's a private repo, so I cannot share a link.
The long time might be due to jfrog artifactory. I'll check it out this week.

[2021-07-11 07:38] Pooort opened #7550 "[Question]: How can I use extensions in Chromium?"
### Your question

How can I use extensions in Chromium? Can't find any info in docs.

Thanks.

[2021-07-11 09:02] cefn opened #7551 "[Feature]: Support .tsx files to avoid need for jest"
### Feature request

Given playwright has its own test runner, I was expecting to be able to drop the use of jest for simple unit testing in favour of `@playwright/test` which would simplify a lot of things..

* No need to install, configure jest
* All tests could be invoked with a simple glob, rather than having to partition my test scripts into jest vs. playwright tests

Unfortunately, because s

[2021-07-11 10:19] mxschmitt opened #7552 "[Bug]: Playwright Test loads test files two times"
### Playwright version

next

### Operating system

Windows, MacOS, Linux

### What browsers are you seeing the problem on?

_No response_

### Other information

_No response_

### What happened? / Describe the bug

See here for the repro: https://github.com/mxschmitt/playwright-test-repro-test-gets-two-times-executed

Reported in https://github.com/microsoft/playwright/issues/7529#issuecomment-8

[2021-07-11 10:20] mxschmitt commented on #7529
I was able to repro. I faced the same issue a few weeks ago and created a new issue to track it: #7552.

[2021-07-11 12:42] mskelton commented on #7533
That should work, I was mostly just looking for recommendations as there seems to be some confusion in the ecosystem regarding the right way to handle this.  Having a dependency or peer dependency on `playwright` is definitely wrong as using `playwright-chromium` or `@playwright/test` with a third party library that depends on `playwright` would cause unnecessary browser downloads.

[2021-07-11 13:24] akshayp7 commented on #7527
oh ok. Another option would be to add a small amount of delay say 500 ms and check,
Lets wait for better solutions in comments.

[2021-07-11 14:15] StfBauer commented on #4033
@mxschmitt yes but they don't install 😀 without error.

[2021-07-11 14:17] mxschmitt commented on #4033
@StfBauer please create a new issue with the error etc.

[2021-07-11 16:20] zdm commented on #7481
Any news?

[2021-07-11 17:43] ArmanYeghiazaryan commented on #7549
Would appreciate any help.

[2021-07-11 18:22] pavelfeldman commented on #7552
I don't think we can/should work around this. That's how folio is supposed to work.

[2021-07-11 18:22] #7552 closed

[2021-07-11 18:30] mariusc23 commented on #6981
I ran into this issue because I had `test` in my `.yarnclean` file. Yarn removed the `lib/test` folder and the entire `node_modules/@playright/test` folder because of this 🤦

I fixed by adding this to `.yarnclean`:
[code]

[2021-07-11 19:22] sarink commented on #5906
How can you download a pdf file? Playwright just keeps opening it

[2021-07-11 21:16] dgozman commented on #7529
@mxschmitt I only see a repro that shows we read test file multiple times, and that's expected. Seems unrelated to `test.describe` not working.

[2021-07-11 21:18] #7512 closed

[2021-07-11 22:19] truefusion commented on #7529
Seems I may have done something wrong the first time around. I am unable to reproduce the issue. I don't know what I may have done to cause the error `describe is not a function.` If I am ever able to reproduce it, I'll let you guys know.

[2021-07-12 04:56] GwynDavies opened #7554 "[Bug]: With playwright test, an 'expect' fail causes beforeAll to re-run"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

_No response_

### Other information

Node = v14.17.3
NPM/NPX = 7.18.1

### What happened? / Describe the bug

Issue:
    With playwright test, the hook test.beforeAll, is getting run more than once.

Expecting:
    I was expecting the beforeAll hook to run only once

More info:

This h

[2021-07-12 06:29] steverandy opened #7555 "[Bug]: ERROR: Playwright does not support chromium on mac12"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

_No response_

### Other information

macOS 12.0 Beta

### What happened? / Describe the bug

Not able to install playwright via npm.

### Code snippet to reproduce your bug

_No response_

### Relevant log output

[code]

[2021-07-12 06:29] steverandy commented on #7555
Is there a temporary workaround to install playwright on macos v12 beta?

[2021-07-12 06:35] yury-s commented on #7555
You can download Chromium manually and point [`executablePath`](https://playwright.dev/docs/api/class-browsertype#browser-type-launch) to it or use [`channel`](https://playwright.dev/docs/api/class-browsertype#browser-type-launch) with a preinstalled official build of Chrome/Edge.

[2021-07-12 07:14] interiv opened #7556 "[Bug]: cannot got Iframe dynamic content"
### Playwright version

1.12

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

[code]

[code]

### What happened? / Describe the bug

the  b is null

### Code snippet to reproduce your bug

[code]

### Relevant log output

[code]

[2021-07-12 07:17] yury-s commented on #7549
You can specify user agent string when creating [new context](https://playwright.dev/java/docs/api/class-browser#browser-new-context). See [this example](https://playwright.dev/java/docs/emulation/#user-agent).

There is now built-in support for full-screen mode in Playwright but you can configure any custom size, see [this guide](https://playwright.dev/java/docs/emulation#viewport) for the viewpo

[2021-07-12 07:17] #7549 closed

[2021-07-12 07:32] sytolk opened #7557 "[Feature]: Electron app change viewport: app width and height"
### Feature request

I have successful change app initial browser window size for web app like:
[code]
but this not work on [Electron](https://playwright.dev/docs/api/class-electron/) and there is no options for this in doc. I have try with command line arguments like this but without success:
[code]

[2021-07-12 07:33] yury-s commented on #7556
You are querying `body` element on third frame while the content is dynamically loaded in the second one, the following snippet should do the trick:

[code]

With that said what I see is that `fr[2].$$('body')` just hangs instead of returning null which is a bug.

[2021-07-12 08:00] interiv commented on #7556
not

not like you say.

if you can ,got  and print all iframe name .show them.\

[2021-07-12 08:17] yury-s commented on #7556
Yes, you are right fr[2] is the one being written from js, I apologize for the confusion. However, what I see is that `let b=await fr[2].$$('body');` just hangs I wonder why it returns null for you.

[2021-07-12 08:26] interiv commented on #7556
`"use strict";
const {chromium} = require('playwright');

(async () => {
    const browser = await chromium.launch();
    let content = await browser.newContext();
    let page = await content.newPage();
    await page.goto("d:\\a.html");

    let f2 = page.frame('u2');
    console.log(f2);
    console.log('-----------------')
    let b2 = await f2.$('body');
    console.log(b2);
    console.log('

[2021-07-12 08:39] yury-s commented on #7556
What I get in this case is `TypeError: Cannot read property '$' of null` because `  let f1 = page.frame('u1');` resolves f1 to null, is that what you see?

[2021-07-12 08:44] interiv commented on #7556
like I sad .it is a bug

[2021-07-12 08:56] yury-s commented on #7556
Yes, there seems to be a bug, but in your original report you claimed that in `let b=await fr[2].$$('body');` b was null which is why I wanted to make sure that we are talking about the same issue.

[2021-07-12 09:34] interiv commented on #7556
fr[0] is  mainFrame
a.html has 3 frame in body .
 you can remove others 2 frame ,keep one frame to test.you will see 2 frame.

it is not importent
The main problem is that we can't get the iframe content  of dynamic one;

[2021-07-12 09:44] davidNHK commented on #7551
https://github.com/microsoft/playwright/issues/7148

I thought this issue duplicated

But seem component test is heavy demanded 👀

[2021-07-12 09:46] davidNHK commented on #7148
Can I have some timeline on this feature?

Or where I can get ideas on how can contributing to remove the blocker?

[2021-07-12 11:15] mxschmitt commented on #7488
Seems like an upstream bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1223052

Relevant logs:

[code]

[2021-07-12 11:18] mxschmitt commented on #7551
As @davidNHK said, if you are interested in component level testing, see #7148.

For having TSX/custom Babel support, see here: #7121

[2021-07-12 11:20] mxschmitt commented on #7554
The reason behind that behaviour is that when a test is failing, Playwright Test does run the rest of the test in a new worker, to ensure a clean state etc.

Are you running into any issues caused by that behaviour?

[2021-07-12 11:21] mxschmitt commented on #7550
We recently added docs for that, you can find it today under the next/ version, see here: https://playwright.dev/docs/next/chrome-extensions

[2021-07-12 11:43] florianbepunkt opened #7558 "[Feature]: export globals/currentTestInfo() for custom matchers"
### Feature request

I'm writing a custom matcher that ports additional image comparison algorithms in order to solve my issue in #7548

Could you please export `currentTestInfo()` from  https://github.com/microsoft/playwright/blob/master/src/test/globals.ts  so wen can import it in our custom matchers like `import { currentTestInfo } from "@playwright/test"`

As far as I know this is the only met

[2021-07-12 12:43] alberspim opened #7560 "Missing dependency chrome_elf.dll"
Running the following test using .NET

[code]

Results in following error

[code]
The chrome_elf.dll **IS** present in the following location:
C:\Users\<username>\AppData\Local\ms-playwright\chromium-888113\chrome-win\chrome_elf.dll

NuGet Package: Microsoft.Playwright (Version 1.12.2)
Node.JS: v16.4.2
Dotnet: 5.0.301
OS: Windows 10

[2021-07-12 12:53] chetanSrajiv opened #7561 "[Question]: Unable to Capture complete console logs from browser using playwright"
### Your question

When I am using below snippet, I see that the code is printing only one line of log
[code]

Output is : [ 'hello from the browser' ]

other details: playwright : "version": "1.12.3",
![w3SchoolsConsoleLogsPage](https://user-images.githubusercontent.com/13467788/125290620-24371800-e33e-11eb-9a23-b4961d356b95.png)

[2021-07-12 13:47] visortelle commented on #7148
As I see, initially there is should be a way to bundle modules and upload them to the browser page.

Two days ago I implemented a script for my personal project that uses webpack and `context.addInitScript(..)` under the hood to achieve it.

How it looks now:

TestButton.tsx

<img width="489" alt="Screen Shot 2021-07-12 at 4 28 56 PM" src="https://user-images.githubusercontent.com/9302460/12529579

[2021-07-12 15:25] GwynDavies commented on #7554
Okay that explains things. I will work to isolate the setup, so it is not affected by the starting of the new worker on a test fail

[2021-07-12 15:29] pavelfeldman commented on #7561
Until Playwright 1.13 (next version), we did not consider page errors as console messages. You only have single console.error call in your code, so you had one line in output.

Starting with 1.13 we included page errors in console messages. Before it releases, you can listen to 'pageerror' event to get those as a workaround.

[2021-07-12 15:42] JoelEinbinder opened #7562 "[Feature]: High level drag api"
### Feature request

Now that we have support for drag and drop via mousedown/mousemove/mouseup, its time to create a high level `page.dragAndDrop` api.

[2021-07-12 15:48] mxschmitt commented on #7554
Closing then, thanks for confirming. 👍

[2021-07-12 15:48] #7554 closed

[2021-07-12 16:29] mtt87 opened #7563 "[Feature]: more detail on failing tests when using playwright-test"
### Feature request

I used to run tests with `jest` and now I've moved to `playwright-test`.

I'm very happy overall with it except for one feature: it's really hard (or basically impossible) to know at what line is the test failing. If I look at the line numbers in the output they refer to the `test('something'...` line and not the exact line that is failing.

![Screenshot 2021-07-12 at 13 59 40

[2021-07-12 16:33] mxschmitt commented on #7563
Which version of Playwright Test are you using? (We recently improved the reporting there in version 1.12.3)

We recommend either the [Trace Viewer](https://playwright.dev/docs/trace-viewer) or the [debug logs/mode](https://playwright.dev/docs/debug#verbose-api-logs) to find out more information why a specific test/test run is failing.

[2021-07-12 16:37] mtt87 commented on #7563
I'm using `"@playwright/test": "^1.12.3",`

I've used the debug tools locally and they work great but this a scenario where tests are falling on CI so it would be good to get a more verbose log.

I have not tried `DEBUG=pw:api` is that going to add what I'm looking for?

Thank you @mxschmitt

[2021-07-12 16:45] lo1tuma commented on #7548
I’m facing the same problem with flaky visual regression tests. I’m currently migrating out test suite from backstop.js to playwright. With backstop.js I’ve never had those pixel shift related problems (but several others). So I think this might come from the different image-diffing tool they use.
I’ve also found [related issues](https://github.com/mapbox/pixelmatch/issues/74) in the `pixelmatch`

[2021-07-12 16:47] mxschmitt commented on #7563
`DEBUG=pw:api` gives you basically a log of every Playwright call which gets executed and you see directly which one is failing. Also the Trace Viewer is probably the best solution for your use-case, which works out of the box with Playwright Test: https://playwright.dev/docs/test-configuration

[2021-07-12 16:54] florianbepunkt commented on #7548
@lo1tuma I'm working on an enhanced image snapshot matcher that supports more image comparison algorithms as well as bluring snapshot and test images. I will report back here, once things matured a bit. But currently I can get rid of a lot of flakiness by using SSIM and slight blurring (by 1-2 pixels).

[2021-07-12 18:22] pavelfeldman opened #7564 "[Internal]: Pass all the modernizr checks"
### Feature request

[Internal]: Pass all the modernizr checks

[2021-07-12 18:29] pavelfeldman opened #7565 "[Feature]: release element locators to public"
### Feature request

[Feature]: release element locators to public

[2021-07-12 19:12] wupaz opened #7566 "[Bug]: Browser downloads failing in CI"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

npm/6.14.13
node/v14.17.1 win32 x64

Azure Pipeline : Agent Windows-2019

In package.json
    "@playwright/test": "^1.12.3",
    "playwright": "^1.12.3",

### What happened? / Describe the bug

Install fail when task NPM Install run on a AzurePipeline (D

[2021-07-12 19:22] #7533 closed

[2021-07-12 19:26] mskelton commented on #7566
My company is also experiencing this.  We are running our tests from Buildkite and experiencing the same bug.  Also, it would appear we are not alone as Playwright itself is experiencing this:

https://github.com/microsoft/playwright/runs/3048916469

[2021-07-12 19:27] mskelton commented on #7566
@wupaz Could you update your issue title to provide a better description of the issue?  Something like this perhaps: "Browser downloads failing in CI"

[2021-07-12 19:33] mxschmitt commented on #7566
### Update from Playwright side:

There is currently an outage on GitHub Actions -> Azure CDN. We keep you updated about this.

[2021-07-12 20:15] pavelfeldman commented on #7137
I'll fold this into https://github.com/microsoft/playwright/issues/7254, because it looks like you can achieve the same result with the steps inside a single large test.

[2021-07-12 20:15] #7137 closed

[2021-07-12 20:21] pavelfeldman commented on #7397
Note that you call `indexSelectors.sideMenuDrawerContainer` in one place and `dataTestId(indexSelectors.sideMenuDrawerContainer)` in another place. Also, you should not need the expect one since you've already awaited it to be hidden.

Since the original issue of 'test is over when expect is called' is now resolved / explained, could you file a new issue for this new inexplicable behavior if me hi

[2021-07-12 20:21] #7397 closed

[2021-07-12 20:22] pavelfeldman commented on #7458
Closing as per above!

[2021-07-12 20:22] #7458 closed

[2021-07-12 20:23] pavelfeldman commented on #7459
You request is clear, collecting votes.

[2021-07-12 20:39] pavelfeldman commented on #7515
I just tried it and it did work for me:
- I ran the script, it paused,
- I hit Record, it focused target page and created a blank recording snippet
- I started performing actions and they were recorded

Could you share a minimal repro from your side?

[2021-07-12 20:41] pavelfeldman commented on #7536
Could you tell us a little more about your scenario? How do you run Node, what test runner you use?

[2021-07-12 20:43] pavelfeldman commented on #7538
Could you share more on where you use it and how? Playwright exits in a way that does not handle the process exit signals and hence does not do the cleanup.

[2021-07-12 21:01] #7550 closed

[2021-07-12 21:02] pavelfeldman commented on #7551
Yup, looks like it folds into either of those above.

[2021-07-12 21:02] #7551 closed

[2021-07-12 21:03] pavelfeldman commented on #7556
This issue is clear.

[2021-07-12 21:04] pavelfeldman commented on #7561
I'll close this as fixed since it is addressed in v1.13.

[2021-07-12 21:04] #7561 closed

[2021-07-12 21:08] pavelfeldman commented on #590
This only collected 8 upvotes during the last 18 months, so I'm going to close it and defer to the third parties to resolve this. You can always open a new bug and link to this one with additional information!

[2021-07-12 21:08] #590 closed

[2021-07-12 21:10] wupaz commented on #7566
It weird sometime Pipeline pass ...

[2021-07-12 21:12] pavelfeldman commented on #586
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:12] #586 closed

[2021-07-12 21:12] pavelfeldman commented on #2987
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:12] #2987 closed

[2021-07-12 21:12] pavelfeldman commented on #3166
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:12] #3166 closed

[2021-07-12 21:13] pavelfeldman commented on #1032
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:13] #1032 closed

[2021-07-12 21:13] pavelfeldman commented on #1675
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:13] #1675 closed

[2021-07-12 21:13] pavelfeldman commented on #2311
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:13] #2311 closed

[2021-07-12 21:13] pavelfeldman commented on #2420
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:13] #2420 closed

[2021-07-12 21:14] pavelfeldman commented on #2752
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:14] #2752 closed

[2021-07-12 21:14] pavelfeldman commented on #3301
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:14] #3301 closed

[2021-07-12 21:14] pavelfeldman commented on #3139
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:14] #3139 closed

[2021-07-12 21:14] pavelfeldman commented on #3434
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:14] #3434 closed

[2021-07-12 21:14] pavelfeldman commented on #1821
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:14] #1821 closed

[2021-07-12 21:15] pavelfeldman commented on #3511
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:15] #3511 closed

[2021-07-12 21:15] pavelfeldman commented on #2589
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:15] #2589 closed

[2021-07-12 21:15] pavelfeldman commented on #2693
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:15] #2693 closed

[2021-07-12 21:15] pavelfeldman commented on #3896
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:15] #3896 closed

[2021-07-12 21:15] pavelfeldman commented on #3786
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:15] #3786 closed

[2021-07-12 21:18] pavelfeldman commented on #2775
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:18] #2775 closed

[2021-07-12 21:18] pavelfeldman commented on #2676
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:18] #2676 closed

[2021-07-12 21:18] pavelfeldman commented on #4538
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:18] #4538 closed

[2021-07-12 21:19] pavelfeldman commented on #4548
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:19] #4548 closed

[2021-07-12 21:19] pavelfeldman commented on #4444
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:19] #4444 closed

[2021-07-12 21:19] pavelfeldman commented on #4175
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:19] #4175 closed

[2021-07-12 21:19] pavelfeldman commented on #4498
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:19] #4498 closed

[2021-07-12 21:20] pavelfeldman commented on #4763
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

(Note that we plan to implement something similar. The message above is just a part of the semi-automatic triage.)

[2021-07-12 21:20] #4763 closed

[2021-07-12 21:21] pavelfeldman commented on #4772
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:21] #4772 closed

[2021-07-12 21:21] pavelfeldman commented on #4720
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:21] #4720 closed

[2021-07-12 21:21] pavelfeldman commented on #4532
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:21] #4532 closed

[2021-07-12 21:21] pavelfeldman commented on #5012
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:21] #5012 closed

[2021-07-12 21:21] pavelfeldman commented on #5013
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:21] #5013 closed

[2021-07-12 21:21] pavelfeldman commented on #4935
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:21] #4935 closed

[2021-07-12 21:22] pavelfeldman commented on #5088
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:22] #5088 closed

[2021-07-12 21:22] pavelfeldman commented on #4997
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:22] #4997 closed

[2021-07-12 21:22] pavelfeldman commented on #4785
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:22] #4785 closed

[2021-07-12 21:22] pavelfeldman commented on #5132
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:22] #5132 closed

[2021-07-12 21:22] pavelfeldman commented on #5176
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:22] #5176 closed

[2021-07-12 21:22] pavelfeldman commented on #5177
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:22] #5177 closed

[2021-07-12 21:23] pavelfeldman commented on #5179
This is fixed now!

[2021-07-12 21:23] #5179 closed

[2021-07-12 21:23] pavelfeldman commented on #5181
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:23] pavelfeldman commented on #5191
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:23] #5191 closed

[2021-07-12 21:24] pavelfeldman commented on #5192
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:24] #5192 closed

[2021-07-12 21:24] pavelfeldman commented on #4941
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:24] #4941 closed

[2021-07-12 21:24] pavelfeldman commented on #3228
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:24] #3228 closed

[2021-07-12 21:24] pavelfeldman commented on #5241
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:24] #5241 closed

[2021-07-12 21:25] pavelfeldman commented on #5274
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:25] #5274 closed

[2021-07-12 21:25] pavelfeldman commented on #5326
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:25] #5326 closed

[2021-07-12 21:25] pavelfeldman commented on #5279
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:25] #5279 closed

[2021-07-12 21:25] pavelfeldman commented on #5445
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:25] #5445 closed

[2021-07-12 21:25] pavelfeldman commented on #5404
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:25] #5404 closed

[2021-07-12 21:27] alexplischke opened #7568 "[Bug]: junit report does not report the correct test status when sharding"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium, Firefox, WebKit

### Other information

nodejs: v12.16.3

### What happened? / Describe the bug

I have some tests that I want to shard. While the sharding works as expected, the generated junit report does not correctly reflect the status for the executed shard.

Executed Comma

[2021-07-12 21:28] pavelfeldman commented on #4469
Everything we report via HAR should be available on Request/Response objects as well.

[2021-07-12 21:28] pavelfeldman commented on #5631
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:28] #5631 closed

[2021-07-12 21:29] pavelfeldman commented on #5680
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:29] #5680 closed

[2021-07-12 21:29] pavelfeldman commented on #5236
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:29] #5236 closed

[2021-07-12 21:29] pavelfeldman commented on #5700
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:29] #5700 closed

[2021-07-12 21:30] pavelfeldman commented on #2875
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:30] #2875 closed

[2021-07-12 21:30] pavelfeldman commented on #5266
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:30] #5266 closed

[2021-07-12 21:30] pavelfeldman commented on #3934
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:30] #3934 closed

[2021-07-12 21:31] pavelfeldman commented on #5935
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:31] #5935 closed

[2021-07-12 21:31] pavelfeldman commented on #5611
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:31] #5611 closed

[2021-07-12 21:32] pavelfeldman commented on #5959
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:32] #5959 closed

[2021-07-12 21:32] pavelfeldman commented on #5212
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:32] #5212 closed

[2021-07-12 21:32] pavelfeldman commented on #6006
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:32] #6006 closed

[2021-07-12 21:33] pavelfeldman commented on #5160
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:33] #5160 closed

[2021-07-12 21:33] pavelfeldman commented on #6099
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:33] #6099 closed

[2021-07-12 21:33] pavelfeldman commented on #6150
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:33] #6150 closed

[2021-07-12 21:35] pavelfeldman commented on #2353
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:35] #2353 closed

[2021-07-12 21:35] pavelfeldman commented on #6218
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:35] #6218 closed

[2021-07-12 21:35] pavelfeldman commented on #6219
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:35] #6219 closed

[2021-07-12 21:35] pavelfeldman commented on #3954
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:35] #3954 closed

[2021-07-12 21:36] pavelfeldman commented on #2511
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:36] #2511 closed

[2021-07-12 21:36] #6303 closed

[2021-07-12 21:37] pavelfeldman commented on #2525
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:37] #2525 closed

[2021-07-12 21:37] pavelfeldman commented on #4665
I'll close this as a part of the bug triaging process. We have hundreds of bugs and feature requests with dozens and even hundreds of upvotes, while this one only has a few thumbs up. Please feel free to open a new bug and link this one if you'd like to see it addressed.

[2021-07-12 21:37] #4665 closed

[2021-07-12 22:25] gomisha opened #7570 "Firefox not firing "requestfailed" event even when request fails in Dev Tools Network tab"
I'm trying to check all failed requests that my extension blocks.

I'm manually loading my extension into Firefox by sleeping to give enough time to load the extension manually like this:

![image](https://user-images.githubusercontent.com/15269764/125362951-c1458100-e33d-11eb-9182-3762c0def0d1.png)

I also open Dev Tools Network tab so I can confirm that some domains / requests are getting blocke

[2021-07-12 22:42] mxschmitt commented on #6362
This was implemented in https://github.com/microsoft/playwright/issues/7283. Thanks for the chromium contribution!

[2021-07-12 22:42] #6362 closed

[2021-07-13 00:48] alisterscott commented on #7062
A HTML reporter similar to jest-stare would be great 👍

https://www.npmjs.com/package/jest-stare

[2021-07-13 01:04] mstepin commented on #7062
Now that a test runner is available, a HTML reporter feels like an essential friend to have by your side. Should be a quick win and keep the entire community very happy.

[2021-07-13 03:32] yusoof-pret commented on #2661
How to set this in the playwright.config.ts to disable the web security when browser launch

[2021-07-13 03:34] yusoof-pret opened #7574 "[Question]: How to set the disable-web-security as an args in playwright.config.ts"
### Your question

Some of the frame are not loading in the browser (chrome and firefox), I believe it may be because of different domain. How to set the disable-web-security as an args in playwright.config.ts.

[2021-07-13 05:41] cameronbraid commented on #7121
My app uses module imports like
[code]

but these don't work in playwright out of the box

in Jest config I use

[code]

in tsconfig I have
[code]

And in playwright config I managed to get it working with `app-module-path` :

[code]

[2021-07-13 07:25] StfBauer opened #7575 "[Question]: Screenshot without any platform. in screenshot name."
### Your question

Whenever I compare screenshots it automatically adds the platform as well as browser.

Let's say I like to test the following:
- Chrome is the primary browser make a spec screenshot
? Does the Chrome Screenshot matches Chrome on Windows
? Does the Chrome Screenshot matches Firefox on Windows
? Does the Chrome Screenshot matches Webkit on Windows
? Does the Chrome Screenshot matc

[2021-07-13 07:54] yongjik opened #7576 "[Bug]: Mousemove events have inconsistent button states on webkit"
### Playwright version

1.12.3

### Operating system

Linux

### What browsers are you seeing the problem on?

WebKit

### Other information

Linux: Ubuntu 20.04, Node.js version: 15.8.0. (Saw the same bug with Python version - Python 3.9.1, Playwright v1.12.1)

### What happened? / Describe the bug

When I call `page.mouse.down()` and then `page.mouse.move()`, the fired event's `buttons` property

[2021-07-13 08:03] yury-s commented on #7575
It is not currently supported, the name of the snapshot is computed using a predefined [algorithm](https://github.com/microsoft/playwright/blob/9264a8d5b18cdb7d8b1b050602835e56d5911aa3/src/test/workerRunner.ts#L240). One possible workaround would be to copy the same snapshot to the corresponding files for other browsers/create symlinks.

[2021-07-13 08:03] #7575 closed

[2021-07-13 08:29] yury-s commented on #7576
This is a bug, I can reproduce it on macOS too.

[2021-07-13 09:07] yury-s commented on #7574
You can set [`bypassCSP`](https://playwright.dev/docs/api/class-browser#browser-new-context) option like this:

[code]

[2021-07-13 09:07] #7574 closed

[2021-07-13 09:12] yury-s commented on #7570
Playwright doesn't support extensions in Firefox at the moment, see [this issue](https://github.com/microsoft/playwright/issues/2874). If the failing requests are issues by the extension's background pages you won't see them in the context listener. Please vote for that feature request if you need extension support in FF.

[2021-07-13 09:12] #7570 closed

[2021-07-13 09:32] callmemagnus commented on #4538
Sad day for writing legible tests.

[2021-07-13 09:35] matks commented on #7566
Agreed, sometimes it works

Maybe some of the Azure network behavior is correct and other parts are failing

[2021-07-13 11:46] UnderTheMoonspell opened #7579 "[Question]: Screenshot comparison inside Page Model"
### Your question

I created a class to abstract some of my tests like so:

![image](https://user-images.githubusercontent.com/10156878/125446171-117aeee3-f2a4-4091-aff1-f7f3e72d529f.png)

And this is my test :

![image](https://user-images.githubusercontent.com/10156878/125446222-ee9425d1-dc00-4a7e-a13e-c8e9f45996d4.png)

If I change the color of a h1 I have and run the tests with the takeScreens

[2021-07-13 12:05] #7568 closed

[2021-07-13 12:16] yury-s commented on #7579
It should make any difference. Could it be that the threshold has some weird value in the POM?

[2021-07-13 12:17] IgorGee commented on #7515
@pavelfeldman I just tried to reproduce using google as an example site, and was unable to.

Seems like the bug is specific to the site I was trying to automate. I made a dummy account to reproduce the bug. The bug will only happen after a login. My guess is that playwright gets confused with some kind of redirect from the URL.

Here's the repo to reproduce:
https://github.com/IgorGee/playwright-r

[2021-07-13 12:34] nexcode commented on #7536
Node runs as a systemd service on centos 8 (node 16).
Just in a flatpak, chrome supports codecs out of the box and it would be more convenient to use it for tests (video playback).

[2021-07-13 12:38] nexcode commented on #7538
[code]
Will this be enough for playwright have time to validly end its session?

[2021-07-13 12:58] UnderTheMoonspell commented on #7579
It doesnt. Its the same 0.2

![image](https://user-images.githubusercontent.com/10156878/125455258-43635631-cb80-4e54-9179-eb3ce916dbdb.png)

[2021-07-13 13:30] mtt87 commented on #7563
The problem is that, if I understood correctly, this will record the trace in a file (artifact) rather than outputting the problem in the logs.

In a CI environment this adds a lot of complexities around "retrieving test artifacts" even for people with very simple use cases where they want to see like myself where the test is failing.

I wonder if given the fact that playwright test already suppor

[2021-07-13 13:41] yury-s commented on #7579
Can you share a minimal reproduction example? The following code works just fine:

[code]

[2021-07-13 14:19] avodovnik commented on #7560
That's an interesting one. I wonder if something could have happened with the installation at some point. My suggestion would be to try reinstalling it. You do that by deleting the `C:\Users<username>\AppData\Local\ms-playwright\chromium-888113\` folder. (or the entire `ms-playwright` one, if you want to do a complete reinstall) and running `playwright install` again.

Let us know if that fixes it

[2021-07-13 14:19] yusoof-pret opened #7582 "[Bug]: Iframe not loading in chromium and firefox"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

Your browser does not support iframes.. this is happening with chromium and firefox. The Iframe is not loading and the section is disabled.

![image](https://user-images.githubusercontent.com/84907221/125468087-7f4918ce-0f5a-4483-89dc-84e3d80d39c7.png)

Th

[2021-07-13 14:37] wupaz commented on #7566
It seem fixed ... last 10 npm install I didn't have any issue, but I hit an issue juste after ;(

[code]

[2021-07-13 14:47] wupaz commented on #7540
I have exactly same error, but when I try to execute in command in DevOps (pipeline/release) _npx playwright test_  And I'm sure all it ok because same code run perfectly on my pc and target server (run manually on same folder than DevOps release use).
`"Error: describe() can only be called in a test file"`

[2021-07-13 14:48] UnderTheMoonspell commented on #7579
Does this work if you comment the `await new MyPage(page).test();` ?

[2021-07-13 16:21] worldomonation commented on #7488
Thanks @mxschmitt! Does the Playwright team have their own channel for interacting with Chromium project, or should I take it this report to the upstream bug myself?

[2021-07-13 16:34] mxschmitt commented on #7488
The best would be that you either create a new bug report there or (if I think its the case) write + star that you are also affected on the linked bug report. (reproducibles are important there).

We also investigate into upstream bugs occasionally if there are multiple users affected by it.

[2021-07-13 16:44] aslushnikov opened #7583 "[Bug]: roll Firefox stable to v90"
### Your question

firefox 90 was released - we should roll to it

[2021-07-13 16:47] aslushnikov commented on #7452
This is Fixed!

[2021-07-13 16:47] #7452 closed

[2021-07-13 16:56] tanvee38 commented on #7050
@mxschmitt @pavelfeldman could you please consider Playwright test runner to run tests serially within a test script like Jest? I think for e2e tests it makes sense as it saves lots of time by not repeating the same test steps (for example login) in every test. After checking the playwright test runner, my understanding is that it considers every test independent even within a file and for every t

[2021-07-13 16:59] aslushnikov commented on #7555
I think this is already fixed on tip-of-tree. Could you please try installing `npm install playwright@next`?

[2021-07-13 18:19] mxschmitt commented on #7394
Needs to be changed int he following language ports:

- [ ] Python
- [ ] Java
- [ ] .NET

[2021-07-13 19:13] wupaz opened #7587 "[Bug]: Devops Pipelines/Releases fail to run npx playwright test"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

npm/6.14.13
node/v14.17.3 win32 x64

Azure Release : Agent.Version 2.188.4
Windows 2019

In package.json
"@playwright/test": "^1.12.3",
"playwright": "^1.12.3",

### What happened? / Describe the bug

When I try to run npx playwright test in a Pipelines/

[2021-07-13 21:05] localnerve opened #7588 "[Question]: Is route interception on a page supposed to work in every case (Chromium)?"
### Your question

Is Page.route supposed to work on page requests alongside a service worker in every case?

I found a reproducible case where this doesn't work. Not sure if this is a bug, just not documented, or I missed it.

After troubleshooting and observation (and finding a workaround), I went back and created a simple, minimal example where Page.route (for page requests), alongside a servic

[2021-07-13 21:25] #7566 closed

[2021-07-13 22:24] aslushnikov commented on #7587
@wupaz peculiar! Any chance you can share this `e2e\playwright\use-case\add-new-patient.uctest.spec.ts` file that has this error? What happens if you remove (fully comment) this file?

[2021-07-13 22:30] wupaz commented on #7587
If I comment I got an error on second file, I got this same error for each file I have.

[2021-07-13 22:37] wupaz commented on #7587
[code]

[2021-07-13 22:48] wupaz commented on #7587
I try a another Pipelines/release Task  (Powershell inline) same error

[code]

[2021-07-14 00:26] erix-gdrx commented on #7447
👀  following. We've got the same issue. Want to throw lighthouse into our E2E tests to capture Web Vitials as part of our CI runs. But lighthouse can't get into the authenticated pages even though Playwright already logged in on the test.

[2021-07-14 03:02] kshrestha99 commented on #7540
@dgozman Were you able to replicate the same error message? Is there anything else you would like from me? Any chance this restriction can be removed so I can override the `describe` function and create what I need?

[2021-07-14 03:33] 000xiaoxiao000 opened #7596 "How to know the style of an element, such as: the size of the element, the location of the page, etc."
### Playwright version

1.12.0

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

How to know the style of an element, such as: the size of the element, the location of the page, etc.

### Code snippet to reproduce your bug

_No response_

### Relevant log output

_No response_

[2021-07-14 03:48] plessbd opened #7597 "[Bug]: Webserver should run before global-setup"
### Playwright version

@next

### Operating system

_No response_

### What browsers are you seeing the problem on?

_No response_

### Other information

_No response_

### What happened? / Describe the bug

related to #7368

When using @next with the webserver config global-setup runs first. (I want to use e2e tests in an angular project)

where global-setup is being used to create an initial s

[2021-07-14 04:26] kshrestha99 opened #7598 "[Question]: use of interface Page in Playwright vs ElementFinder/ElementArrayFinder in Protractor"
### Your question

When using Protractor, I can do this:

In a Page object class:

[code]
And in test runner file, I can simply call that method after instantiating the page object:
[code]

The above way does not require a page constructor and so the elements can be used as parameters/arguments in helper methods or other files without needing a page context.

But in Playwright, I have to first hav

[2021-07-14 05:51] klhex commented on #7562
It would be cool if the API offered not only coordinates or a relative distance as an option to specify the destination but also most/all of the element selectors. See Taiko API: https://docs.taiko.dev/api/draganddrop/

[2021-07-14 06:15] AlexKomanov opened #7601 "[Feature]: Add grouping or division for a test names within the same 'describe' section in the console output"
Currently, if you run with two tests within the same 'describe' section - the names of the 'describe' and test are written in one line in the console output without any grouping/division.
Example of the current state (see also the added screenshots):
describe name  test1 name
describe name test2 name
![image](https://user-images.githubusercontent.com/52656401/125572024-54983e41-edba-472e-aa75-3ee6

[2021-07-14 07:08] alberspim commented on #7560
First of all thank you for your quick response.

I completely removed the ms-playwright folder and reinstalled.
Because I am behind a corporate proxy the playwright install command fails.

[code]

I have installed the Browsers using the command: `npm i -D playwright`

This again downloads chromium, ffmpeg, firefox and webkit. I can start chrome.exe from the chromium-888113/chrome-win folder.

chro

[2021-07-14 09:10] AlexKomanov opened #7602 "[Bug]: Providing 'page' as parameter in child class new instance displays error in WebStorm IDE but doesn't display in Visual Studio Code"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

_No response_

### Other information

**Windows version:** 10
**Visual Studio Code version:** 1.57.1
**WebStorm version:** 2021.1.2

### What happened? / Describe the bug

I've created a little project that uses the Page Object Model pattern with Typescript.
I've created it with a Visua

[2021-07-14 10:13] mxschmitt commented on #7325
Thats the warnings which I'm getting in Visual Studio Code while debugging:

![image](https://user-images.githubusercontent.com/17984549/125605195-c0419e52-b54b-401a-8527-6438320adaaa.png)

[2021-07-14 10:38] mxschmitt commented on #7582
Where do you get the error message `Your browser does not support iframe` from? Having a URL for that to reproduce it ourselves would be awesome.

[2021-07-14 11:10] badsyntax commented on #7447
Ok i've got this to work with the Test runner.

Here's my `e2eUtil.ts` file with playwright fixtures:

[code]

Running lighthouse on a public route:

[code]

Running lighthouse on an authenticated route:

[code]

I'd appreciate a quick review to validate I'm not doing anything wrong with this approach.

@dgozman It would be convenient if `chromium.launchPersistentContext` provided a way to populat

[2021-07-14 12:55] yusoof-pret commented on #7582
https://lab.pret.co.uk/en-GB
hopefully you will be able to signup and navigate to the url https://lab.pret.co.uk/en-GB/pretcoffeesub/checkout . you will find the payment section where the cardnumber and cvc are disabled.

[2021-07-14 14:05] aslushnikov commented on #7588
@localnerve page.route doesn't work for service worker routes. It intercepts only **network** traffic from the page. We have an issue filed for this: https://github.com/microsoft/playwright/issues/1090 Feel free to upvote!

For now, we'd recommend disabling service workers on the website.

P.S. I appreciate all the debugging you did! Let me fix the docs so that this behavior won't be surprising in

[2021-07-14 14:19] badsyntax commented on #7602
Perhaps because you're importing the `Page` type from different packages?

BasePage is using `import { Page } from 'playwright` but your test file is using `import {  Page } from "@playwright/test";`

Have you tried using the `Page` type from `@playwright/test` in your BasePage?

[2021-07-14 14:26] ViaMay opened #7607 "[Feature]: add option test.Each and test.describe.Each"
### Feature request

I will be good to have option like https://jestjs.io/ru/docs/api#testeachtablename-fn-timeout and https://jestjs.io/ru/docs/api#describeeachtablename-fn-timeout  for this: https://playwright.dev/docs/test-intro/#use-test-hooks

I know I can use 'for')

[2021-07-14 14:31] steverandy commented on #7555
It works on `next` version. Thanks.

[2021-07-14 14:41] mxschmitt commented on #7607
Seems like a duplicate of #7036, please add to that issue why for of is currently not working for you. Thanks!

[2021-07-14 14:43] #7555 closed

[2021-07-14 14:52] pavelfeldman commented on #7169
https://playwright.dev/docs/next/test-annotations/#tag-tests

[2021-07-14 14:54] aslushnikov commented on #7601
@AlexKomanov when running tests in parallel, tests from different suites might complete. Having a group-structure in the console won't make it easy for the users to follow what's going on where - thus the current style of reporting.

[2021-07-14 15:07] kshrestha99 commented on #7403
@JoelEinbinder Any updates on this? Is there anything I can do?

[2021-07-14 15:16] ViaMay opened #7609 "[Bug]: Error: ENOENT: no such file or directory, open '...\test1\test2\snapshot-name-expected.png"
### Playwright version

1.12.3

### Operating system

_No response_

### What browsers are you seeing the problem on?

_No response_

### Other information

node v14.17.1
npm 6.14.13
"@playwright/test": "^1.12.3",
"playwright": "^1.12.3"

### What happened? / Describe the bug

**Actual refult:**
if we run test we will have a error:
 1) tests\tests\test.js:3:1 › [Chromium] test ====================

[2021-07-14 15:24] aslushnikov commented on #7598
@kshrestha99 First of all: we do discuss locators API, inspired by protractor. There's a vague tracking bug at https://github.com/microsoft/playwright/issues/7565 - feel free to upvote to get updates when it's fixed and locators are landed.

The locators that we discuss is a sugar around the `(page, selector)` pair. So instead of passing both to the helper functions, you'll be able to create a loc

[2021-07-14 15:25] ViaMay commented on #7607
@mxschmitt yep

[2021-07-14 15:25] #7607 closed

[2021-07-14 15:26] aslushnikov commented on #7596
check out the [`elementHandle.boundingBox()`](https://playwright.dev/docs/api/class-elementhandle#element-handle-bounding-box) API!

[2021-07-14 15:26] #7596 closed

[2021-07-14 15:31] avodovnik commented on #7560
@alberspim One quick question, do you have Chrome installed on your system as well (i.e. as a regular browser)?

[2021-07-14 15:38] aslushnikov commented on #7609
@ViaMay The error is cryptic indeed - that's a bug, we'll fix it.

However, do you intentionally compare two different pages to the same snapshot? The following worked just fine for me (pay attention to the last line in the test):

[code]

[2021-07-14 15:45] ViaMay commented on #7609
@aslushnikov This is a fake test for us to show an error)
In fact, when my test fails because the screenshot does not match the expected screenshot, I just cannot see what the problem is. I have to update the screenshot and see the error with my eyes (

[2021-07-14 15:54] aslushnikov commented on #7560
@alberspim is it 32bit windows or 64bit?

[2021-07-14 16:06] JoFrMueller opened #7611 "[Bug]: Self signed certificate doesn't work for Docker"
### Playwright version

1.12.3

### Operating system

Linux

### What browsers are you seeing the problem on?

Chromium, Firefox

### Other information

Current Docker image from mcr.microsoft.com/playwright:focal

### What happened? / Describe the bug

As long as we run `playwright` outside (for Windows 10) of Docker it picks up the locally installed SSL certificates correctly.

`curl -v` inside

[2021-07-14 16:17] AlexKomanov commented on #7601
@aslushnikov
Something like in the example from here:
[https://playwright.tech/blog/tracking-frontend-coverage-with-playwright](https://playwright.tech/blog/tracking-frontend-coverage-with-playwright)

[2021-07-14 16:18] AlexKomanov commented on #7602
@badsyntax
Thanks a lot. My mistake.
Works perfectly!

[2021-07-14 16:28] #7602 closed

[2021-07-14 16:30] mxschmitt opened #7614 "[Bug]: Do not support using folders / .. in toMatchSnapshot"
### Playwright version

next

### Operating system

_No response_

### What browsers are you seeing the problem on?

_No response_

### Other information

_No response_

### What happened? / Describe the bug

toMatchSnapshot("../../../foo.png") is possible. We should prevent it if it does contain a slash or ...

### Code snippet to reproduce your bug

_No response_

### Relevant log output

_No re

[2021-07-14 17:01] #7597 closed

[2021-07-14 17:26] nedwardsOF commented on #6936
We're you able to adapt Testable's Puppeteer example to work with Playwright? I have a thread going in the Playwright Slack about using connectOverCDP, but haven't given it a shot yet.

[2021-07-14 17:47] alberspim commented on #7560
@avodovnik

Yes, Chrome is my regular browser

@aslushnikov

64bit

With env variable set to 1 test won't start. Well it starts, but keeps on waiting. Nothing happens.

[2021-07-14 17:50] hptabster commented on #6936
This is the code I use to launch OpenFin instead of Chromium:
[code]

[2021-07-14 17:51] mxschmitt commented on #7560
How did you install the browser since you set a proxy? Did you follow [these](https://playwright.dev/docs/installation#install-behind-the-firewall-or-proxy) introductions?

Executing `playwright install` should work when the HTTP_PROXY env var is set.

[2021-07-14 17:52] mxschmitt opened #7616 "[Bug]: Installation snippets for .NET are empty."
See here: https://playwright.dev/dotnet/docs/next/installation/

[2021-07-14 17:58] ZooDoo4U opened #7648 "[Feature]: Playwright Inspector -- Show count of item matched."
### Feature request

As a user creating selectors would be helpful to see the count of matched items upon pressing "Explore".

[2021-07-14 18:21] kshrestha99 commented on #7598
@aslushnikov Thank you for the suggestion of using page and element locator as two arguments. That will also work but this means that all those methods will have an extra argument. But if there is no other solution, I will probably just stick to putting a constructor for the helper class too.

[2021-07-14 18:57] alberspim commented on #7560
@mxschmitt

I have installed playwright using the command: `npm i -D playwright`

My npm is configured with a .npmrc file which sets both the proxy and https-proxy.

Furthermore I think that some routes are opened in our proxy firewall regarding npm. I do not know what routes are taken using the playwright install command. Maybe some are blocked?

[2021-07-14 19:03] localnerve commented on #7588
The phrase, "service worker routes" is confusing. The request is initiated from the page. When I read "service worker route", I presume a request initiated by the service worker.

Exceptions/Outliers:
1. Routes other than the POST initiated by the page fetch work.
2. Works with remote host over https, not localhost http.

Feels like we are missing the core of the underlying issue.

[2021-07-14 20:45] mskelton opened #7618 "[Feature]: Add social image to Playwright repository"
### Feature request

When viewing the Playwright repo in GitHub Explore, there is no social image.  Might be nice to add the Playwright logo as the social image for this repo so it shows up nicer in explore.

Here is how it currently looks:

<img width="782" alt="Screen Shot 2021-07-14 at 3 45 05 PM" src="https://user-images.githubusercontent.com/25914066/125690502-8162783b-ac4b-47a7-9a81-b800c340

[2021-07-14 21:37] dgozman commented on #7540
@kshrestha99 Thank you for the scripts, that' perfect! We'll take a look and figure out how to proceed here.

[2021-07-14 21:44] dgozman commented on #7447
@badsyntax This seems legit. A few comments:

- You are not closing the persistentContext, and you probably want to:
[code]

- You can override page/context fixtures if you'd like to avoid renaming like this: `{ lighthouseAuthenticatedPage: page }`.
[code]
  If you do this, default `page` should pick up your persistent `context` right away.

[2021-07-14 21:45] dgozman commented on #7447
Please file a separate issue for this, so we can prioritize accordingly.

[2021-07-14 21:54] dgozman commented on #7475
I think this was fixed in #7243, and should get into next v1.13 release. Please comment here if you can reproduce it in v1.13 (or `@playwright/test@next` if you try before 1.13 is out).

[2021-07-14 21:54] #7475 closed

[2021-07-14 23:03] Nav-2d opened #7621 "[Bug]: --list option is not working as expected"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

_No response_

### Other information

_No response_

### What happened? / Describe the bug

As per the [documentation](https://playwright.dev/docs/test-cli), `--list` will  List all the tests but that is not the case.

The below output is generated:
[code]

### Code snippet to reproduce y

[2021-07-14 23:23] mxschmitt commented on #7011
Seems added in #7418.

[2021-07-14 23:23] #7011 closed

[2021-07-14 23:31] #7614 closed

[2021-07-14 23:34] dgozman commented on #7609
@ViaMay The problem here is that you use `test1/test2/snapshot-name.png` as a snapshot name, probably meaning some relative path? After #7620, you should see the 'expected/received/diff' error message now.

That said, we are not going to treat `test1/test2/snapshot-name.png` as a path. I'd suggest to replace it with something like `test1-test2-snapshot-name.png` or just `snapshot-name.png` to avoi

[2021-07-14 23:34] #7609 closed

[2021-07-14 23:56] madebysid opened #7624 "[Bug]: Unable to launch any browser on macOS 12 beta"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

_No response_

### Other information

OS: macOS 12 Beta 3
Node version: v14.17.0

### What happened? / Describe the bug

When I try to run a simple Playwright script on the latest macOS beta, Playwright errors out (error trace down below)

I'm not too familiar with Playwright's codebase,

[2021-07-15 02:18] cx4 opened #7629 "[Bug]: Apple Silicon M1 Prompt error ‘_greenlet.cpython-39-darwin.so: mach-o, but wrong architecture’"
### Playwright version

1.12.1

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

[code]
and my pip list
Package    Version
---------- -------
greenlet   1.1.0
pip        21.1.2
playwright 1.12.1
pyee       8.1.0
setuptools 57.0.0
websockets 9.1
wheel      0.36.2

### What happened? / Describe the bug

_greenlet.cpython-39-darwin.so: ma

[2021-07-15 03:29] 000xiaoxiao000 commented on #7596
Use page, which API?

Use page, which API?

How to Verify Images

[2021-07-15 04:35] fujii commented on #7441
I tested with https://nextjs.org/
It uses a Variable Font of WOFF2 font format.

https://commits.webkit.org/r264236 enables WOFF2 font for WebKit WinCairo port.
However, it doesn't support Variable Fonts yet.

It seems that https://fonts.google.com/specimen/Inter switchs Variable Fonts and nomal fonts by checking User-Agent.

[2021-07-15 04:41] henrydzung opened #7632 "[Feature]: Make test result directory name able to include non-ASCII character"
### Feature request

Hi,
Currently Playwright-test's generated test output directory name is including the test's title, but it can only includes alphanumeric values, all non-ASCII character will be replaced with a hyphen `-`.

My tests title is in Japanese so it would be nice if it can include non-ASCII character in the output folder.

[2021-07-15 05:30] mxschmitt commented on #7624
This should be fixed in the next release of Playwright. (`npm install playwright@next`)

[2021-07-15 06:00] madebysid commented on #7624
Oh awesome!

Although I should note that in my case, there was no issue downloading browsers during `npm install`, only running them failed.

Nevertheless, I'll wait for the next release!

[2021-07-15 06:07] mailtogagan opened #7633 "[Bug]: Can not execute show trace with local browser binary"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

v14.17.3

6.14.13

### What happened? / Describe the bug

I am skipping the binaries download during installation. Now when I am trying to run show-trace command (with generated trace.zip during scenario execution), then its failing as its still looking

[2021-07-15 06:09] badsyntax opened #7634 "[Feature]: browserType.launchPersistentContext: populate context with given storage state"
### Feature request

Hi there.

It would be really handy to be able to populate a persistent context with auth state, similar to [browser.newContext({ storageState: 'state.json' })](https://playwright.dev/docs/api/class-browser/#browser-new-context).

I am generating auth-state (`state.json`) in my globalSetup, and I'm using a persistent context to allow lighthouse to run on authenticated routes,

[2021-07-15 06:18] badsyntax commented on #7447
Awesome thank you @dgozman! I've made the change you suggested and `page` uses the persistent `context` as you described. This approach is a bit neater.

FYI there's a TypeScript type conflict when overriding the `context` fixture and it's not obvious why. It's not a huge issue as i'm using `@ts-ignore` to suppress the error.

<details><summary>Error here</summary>

[code]
</details>

<details><su

[2021-07-15 06:37] pavelfeldman commented on #7633
that's already addressed. trace viewer will use locally installed Chrome or Edge starting with v1.13

[2021-07-15 06:37] #7633 closed

[2021-07-15 06:39] #7624 closed

[2021-07-15 07:16] visortelle commented on #7148
I updated README and published my lib for component testing to npmjs.

Here is how React component test looks now:

<img width="525" alt="Screen Shot 2021-07-15 at 10 11 38 AM" src="https://user-images.githubusercontent.com/9302460/125745060-53098086-09f9-406e-be77-1e8237a49667.png">

[https://github.com/visortelle/playwright-module-loader/blob/191ebf08fe8d10f50428b942e4514228ad07cd56/packages/tes

[2021-07-15 07:55] madebysid commented on #7624
Awesome, thanks! I can confirm that the `next` version does not exhibit this problem anymore

[2021-07-15 08:03] subodhpareek18 commented on #7441
Okay that makes a lot of sense, will try self hosted variable/normal fonts and revert on the above.

[2021-07-15 08:03] 2007anu opened #7635 "[feature] support 'microphone' permission on Firefox"
### Your question

Using playwright@1.12.3 with Node js,

Below code is giving error:

[code]

Error:
[code]

[2021-07-15 08:11] kspolam opened #7636 "[Question]: timeout"
### Your question

Is there anything similar to selenium implicit wait ?

when I use page.setDefaultTimeout() for the implicit wait purpose , it is also overriding maximum timeout set in the playwright config for each test

[2021-07-15 09:05] aslushnikov commented on #7560
@alberspim it should timeout in ~30 seconds and tell you where exactly things went south. Does it do it?

Is this browser fully functional? Can you manually launch it and try navigating to pages?

[2021-07-15 09:35] aslushnikov commented on #7588
My bad, let me rephrase: it won't intercept requests intercepted by service worker.

[2021-07-15 09:38] aslushnikov commented on #7598
Yep this is fine. It'll also make it very easy to do multitab tests for you; doing multitab tests in protractor would be more painful!

[2021-07-15 09:44] aslushnikov commented on #7611
@JoFrMueller could you please try launching docker with `--network host` option?

[2021-07-15 09:49] alberspim commented on #7560
@aslushnikov
- It does not timeout in 30 seconds. It just keeps on waiting. (Fun fact: I can see chromium is started in the Task Manager when running the test. Used both headless set to true and false. Same behaviour. Test wont't run, browser not opened/visible)
- I can manually navigate to pages, the browser is fully functional when starting it from `ms-playwright\chromium-888113\chrome-win`

[2021-07-15 09:50] alberspim commented on #7560
@aslushnikov
- It does not timeout in 30 seconds. It just keeps on waiting. (Fun fact: I can see chromium is started in the Task Manager when running the test. Used both headless set to true and false. Same behaviour. Test wont't run, browser not opened/visible)
- I can manually navigate to pages, the browser is fully functional when starting it from `ms-playwright\chromium-888113\chrome-win`

[2021-07-15 09:51] aslushnikov commented on #7618
@mxschmitt explained that this social image is what shows up at https://github.com/topics/e2e-testing

[2021-07-15 09:59] JoFrMueller commented on #7611
Why? [Docker documentation](https://docs.docker.com/network/host/)

Could you explain how this should be related?

`curl -v` does work correctly (inside of Docker) and picks up the enterprise certificates from within the container itself correctly. It doesn't pick up anything from the host. And neither it should!

I have to somehow explain towards FireFox and Chrome to also pick up the Docker cont

[2021-07-15 10:08] cybopob93 opened #7638 "[Question]: Usage video records."
### Your question

I have necessity of recording video in portions. What I mean: We work with the same page and run a lot of actions on this page and we need in portions recorded videos. Example:
- 1st video is: go to page expamle.com, open login form, submit it
- 2nd video is: while on page after 1st step go to search form or pesonal page and do some actions there
- 3rd video is: reopen main page

[2021-07-15 10:33] Belisckner opened #7639 "[Bug]: Problem in runner with report: junit and shard=x/y"
### Playwright version

1.12.0

### Operating system

MacOS, Linux

### What browsers are you seeing the problem on?

Chromium, Firefox, WebKit

### Other information

test-runner

### What happened? / Describe the bug

When running tests by the command `playwright test --reporter=junit --shard=1/2 `, in the junit report the skipped tests are marked "passed" with time '0'.

At the same time, in gi

[2021-07-15 10:43] mxschmitt commented on #7639
We recently fixed a similar bug #7568 sounds like a duplicate or related.

[2021-07-15 11:00] Belisckner commented on #7639
It's related, yes.
But not the same.

in #7568 suggest marked "skip" test. But in gitlab-ci there are both variant of test. Skipped and passed (with time).
In first thread test would be "skipped"
In second thread test would be "passed" with example time="1.234"

For gitlab, it would be different tests, but this is actually one test

[2021-07-15 11:23] AlexKomanov opened #7640 "[Bug]: The command "npx playwright show-trace" doesn't work with trace zipped folder if name contains spaces"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

_No response_

### Other information

**Node.js version:** v14.16.1
**Windows version:** 10
**WebStorm version** 2021.1.3

### What happened? / Describe the bug

I record a trace for each test that I perform.
In order to avoid file overwriting - I use the title of the test (testInfo.tit

[2021-07-15 11:39] rjzheng commented on #717
Seeing the same issue but on MacOS. Most cookies persisted except for one. Everything runs fine with `headless: false`.

[2021-07-15 11:48] aslushnikov commented on #7611
@JoFrMueller wait, I'm confused. Do I understand correctly that you have your own docker image atop of Playwright's official where you add a self-signed certificate?

[2021-07-15 11:50] JoFrMueller commented on #7611
@aslushnikov exactly.

Or we just add the self-signed certificate as part of the `Dockerfile` that executes the `playwright` tests. There's no difference...

[2021-07-15 11:56] ViaMay commented on #7609
@dgozman the solution #7620  will suit me . Can you tell us about when it can be expected on prod?

[2021-07-15 12:02] mxschmitt opened #7641 "[Bug]: do verify ffmpeg exit code after recording video"
We currently don't check that ffmpeg exit code is 0 when recording the video with Chromium.

Action item: verify that its == 0 and throw otherwise.

[2021-07-15 12:14] radamihai opened #7642 "[Question]: Playwright doesn't find the right location of elements with 'zoom' css property"
### Your question

On a specific website playwright doesn't seem to find the location of elements accurately:

![issue1](https://user-images.githubusercontent.com/23338650/125783337-ed62a618-acbf-46e4-8e28-8f4eb75ae4e5.png)

In the above image I'm hovering over the button in the browser opened by codegen. The highlighted area does not match the element position, as seen on the screen or when hover

[2021-07-15 12:15] localnerve commented on #7588
That makes sense. Thanks for clearing this up. Please consider using that phraseology, or making that distinction, in the docs.

[2021-07-15 12:19] mxschmitt commented on #7609
You can try it out today via `npm install @playwright/test@next` or wait a few days until 1.13.0 gets released.

[2021-07-15 12:38] aslushnikov commented on #7642
Easily reproes for me on tip-of-tree as of Jul 15, 2021:

[code]

![image](https://user-images.githubusercontent.com/746130/125789254-c3f8144c-7031-4d91-9635-b515fdaf6156.png)

[2021-07-15 12:47] aslushnikov commented on #7640
@AlexKomanov This seems to be an NPX issue on Windows:
- https://github.com/npm/npx/issues/43
- https://github.com/npm/cli/issues/502

The official "workaround" for this would be to [install NPM v7](https://github.com/npm/cli/issues/502#issuecomment-767371011):

[code]

[2021-07-15 12:48] aslushnikov commented on #7638
There's no API for now that will let you do this. We'll discuss this topic on today's team gathering.

[2021-07-15 12:51] aslushnikov commented on #7636
Are we talking about @playwright/test here? In this case, `page.setDeafultTimeout` does not affect test. You can configure test timeout separately with `test.setTimeout()` method:

[code]

[2021-07-15 13:03] aslushnikov commented on #7635
@2007anu Which browser is this?

[2021-07-15 13:07] kspolam commented on #7636
thanks for the quick response.
test.setTimeout(500) this has solved the problem.

Can we configure test timeout in playwright test config file ?

[2021-07-15 13:09] aslushnikov commented on #7146
I'll close this for now; please feel free to file a new issue with an update if things don't work for you.

[2021-07-15 13:09] #7146 closed

[2021-07-15 13:09] #7479 closed

[2021-07-15 13:12] aslushnikov commented on #7636
Yes, just use `timeout` config option like in this snippet:

[code]

Also, check out our docs: https://playwright.dev/docs/next/test-configuration

[2021-07-15 13:12] #7636 closed

[2021-07-15 13:14] aslushnikov commented on #7563
@mtt87 I'm pretty surprised you don't get lines for the timeouts. We recently fixed this.

Could you please share some of the tests that timeout for you? Do you know exactly what line times out?

[2021-07-15 13:24] aslushnikov commented on #7560
@alberspim ok, a few more questions.

Since you have Node.js, can you please try running the following 2 scripts:

[code]

[code]

[2021-07-15 13:32] kspolam commented on #7636
Hi,

What i have observed is that, page.setDefaultTimeout, test.setTimeout and timeout in config file is overriding each other

Same time out  applied for both tests and element locators

[2021-07-15 13:37] 2007anu commented on #7635
Nightly

[2021-07-15 13:37] aslushnikov commented on #7502
@joecanuelspotify this might be related to some policies that are installed on your mac. One popular one is disable running chrome without extensions.

So could you please run the following snippet?

[code]

[2021-07-15 13:38] aslushnikov commented on #7635
Firefox indeed doesn't support microphone permission. I'll mark this as a feature-request

[2021-07-15 13:41] aslushnikov commented on #7538
I don't think so. the `close` operation is async, and there's no guarantee it'll terminate before the process is killed.

[2021-07-15 13:41] 2007anu commented on #7635
Ok, thanks

[2021-07-15 13:41] 2007anu commented on #7635
Any other workaround for this?

[2021-07-15 13:49] AlexKomanov commented on #7640
@aslushnikov
Thanks!
Worked for me perfectly!!!

[2021-07-15 13:49] aslushnikov commented on #7635
no workaround that i'd know of

[2021-07-15 13:51] #7640 closed

[2021-07-15 14:01] mtt87 commented on #7563
👋  Hi @aslushnikov , I can't really say for sure but I suspect it might be one of the
[code]
The reason is that I noticed the other day there is an analytics library we are using and they had a bit of an outage and it would take 30+ seconds to reply to requests.
When you open the page there is a "page view" event triggered and that could be the reason but again, I can't be 100% sure as this is not

[2021-07-15 14:36] vsravuri opened #7645 "[Question]: How to return the selected text of dropdown?"
### Your question

How to return the selected text of dropdown ?

**Playwright + JavaScript**

Here is my HTML source code

[code]

This line of code returns **1**, i would like to return **Yes**
[code]

Appreciate any help!

[2021-07-15 15:05] aslushnikov commented on #7563
@mtt87 ok ok, let's see!

First of all, there's a huge difference between "failing test" and "timing out test". In the first case, there's some condition that failed, and test runners can attribute to line number. In case of "timing out test", test runners don't know what's going on and usually just report the test line number. For example, jest won't tell a line number where the test times out.

[2021-07-15 15:20] imWildCat opened #7646 "[Bug]: Failed to download chromium, caused by Error: ERROR: Playwright does not support chromium on mac12-arm6"
### Playwright version

^1.12.2

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

While installing node dependencies:
[code]

### Code snippet to reproduce your bug

_No response_

### Relevant log output

_No response_

[2021-07-15 15:35] aslushnikov commented on #7646
@imWildCat could you please try installing playwright@next?

[2021-07-15 15:36] aslushnikov commented on #7645
@vsravuri  Just use `textContent` instead of value:
[code]

[2021-07-15 15:41] #6679 closed

[2021-07-15 15:47] tuxinaut opened #7647 "[Bug]: run-driver-posix.sh does not work under NixOS"
### Playwright version

1.12.3

### Operating system

Linux

### What browsers are you seeing the problem on?

_No response_

### Other information

Linux distribution: [NixOS](https://nixos.org/)
Node.js version: v12.22.2

### What happened? / Describe the bug

The [run-driver-posix.sh](https://github.com/microsoft/playwright/blob/07fc8cc77793aa4e014940f06e83bd29b655ab6b/utils/build/run-driver-po

[2021-07-15 15:56] nexcode commented on #7538
Indeed, it is strange that my static analyzer did not highlight this area.

[2021-07-15 15:56] #7538 closed

[2021-07-15 15:59] aslushnikov commented on #7647
@tuxinaut both are very valid. Would you like to submit a PR?

[2021-07-15 16:00] souleb opened #7650 "[Bug]: Gsts via node2nix on nixOS"
### Playwright version

1.12.3

### Operating system

Linux

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

trying to install [gsts](https://github.com/ruimarinho/gsts) via node2nix on nixOS get me the following error:

[code]

### Code snippet to reproduce your bug

[code]

### Relevant log output

_No respo

[2021-07-15 16:01] tuxinaut commented on #7647
ACK; I try to provide a pull request soonish.

[2021-07-15 16:03] aslushnikov commented on #7650
@souleb I'm not familiar with either node2nix or nixOS, but it looks like Playwright install script doesn't have access to the internet. Could it be the case?

[2021-07-15 16:04] souleb commented on #7650
nope, all other dependencies resolve correctly

[2021-07-15 16:21] dgozman commented on #7447
@badsyntax Thank you for following up. I'll take a look at the TS error, that's unexpected.

[2021-07-15 16:25] aslushnikov commented on #7650
@souleb can you please try running with `DEBUG=pw:install` env variable?

[2021-07-15 16:44] archlichking opened #7653 "[Bug]: screen in video recorded in docker webkit is scaled up"
### Playwright version

1.12.3

### Operating system

Linux

### What browsers are you seeing the problem on?

WebKit

### Other information

docker image: mcr.microsoft.com/playwright:v1.12.3-focal

### What happened? / Describe the bug

The video doesn't scale correctly for webkit mobile simulation in docker container. In chromium it scales well.

webkit video screenshot

<img width="452" alt="S

[2021-07-15 16:59] souleb commented on #7650
Does not seem to work with the nix package manager

[2021-07-15 17:31] Schepetkov opened #7654 "[Question]: Test finish successfully, but not open browser."
### Your question

Hi all.
I set up all from https://playwright.dev/dotnet/docs/intro/#installation, run test and test finish successfully, but not open browser.
https://drive.google.com/file/d/1uRT1aBfKe6NuFRrzK1S86lmsdKrj9WBT/view?usp=sharing
Why? How to fix it?

[2021-07-15 17:53] #7583 closed

[2021-07-15 17:57] aslushnikov commented on #7654
@Schepetkov By default, Playwright runs browsers in headless mode. Pass "Headless=false" when launching browser: https://playwright.dev/dotnet/docs/api/class-browsertype#browser-type-launch

[2021-07-15 18:15] #7654 closed

[2021-07-15 18:20] pbrovarnik opened #7655 "[Bug]: Node is not running in focal or bionic Docker container on M1 mac"
### Playwright version

1.12.0

### Operating system

MacOS, Linux

### What browsers are you seeing the problem on?

_No response_

### Other information

docker image: mcr.microsoft.com/playwright:focal
docker image: mcr.microsoft.com/playwright:bionic

### What happened? / Describe the bug

Node seems to crash when trying to install dependencies when building a Docker image FROM mcr.microsoft.c

[2021-07-15 18:26] dtinth opened #7656 "[Bug]: @playwright/test generates a confusing error message when I forgot to run `npx playwright install`"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

I installed `@playwright/test` but did not install `playwright`, following docs:

I forgot to read the part where it says:

I tried running a test, it says:

[code]

The error message told me to run `np

[2021-07-15 20:00] yusoof-pret commented on #7582
did you had chance to look into the issue?

[2021-07-15 20:06] #3264 closed

[2021-07-15 20:07] mxschmitt commented on #7656
Good catch! With the next version it will say `npx playwright install` instead: https://github.com/microsoft/playwright/pull/7410

[2021-07-15 20:16] #7406 closed

[2021-07-15 20:51] lourd commented on #1374
Linking to related issues #6737 and #5816. These are critical for my team for using Playwright to test our WebGL app, https://spatial.io

[2021-07-15 20:53] Dospios commented on #5999
I really think that Playwright needs its own analogue of cy. request. This is one of the most convenient things for cypress, despite the limitations. I'd really like to see playwright be able to send requests without all these workarounds.

[2021-07-15 20:57] mxschmitt commented on #5999
@Dospios we are curious to find more out about the use-cases why people use cy.request. What kind of requests are you making and when? Do you automate e.g. the login via the request instead of doing it via automation?

[2021-07-15 23:33] vigneshshanmugam opened #7662 "[Feature]: Adding blocked and queued time to the ResourceTiming"
### Feature request

To understand how much time the browser spent on a single request, Playwright already exposes the timing information to some extend that would help in figuring out the time spent on `dns`, `ssl`, `connect`, and `download` events.

To understand the timing data before the request was even fired, It would be great to have the ability to extract `blocked`, `queued` time which is

[2021-07-15 23:47] vigneshshanmugam opened #7663 "[Feature]: exposing cipher and keyExchange on securityDetails"
### Feature request

Currently, [response.securityDetails()](https://github.com/microsoft/playwright/blob/master/docs/src/api/class-response.md#async-method-responsesecuritydetails) only exposes some of the fields that are used by the HARTracer.

Would like PW API to also expose some additional information like `cipher`, `keyExchange` and `keyExchangeGroup` from CDP - https://chromedevtools.github

[2021-07-16 00:52] vsravuri commented on #7645
@aslushnikov I tried the solution, during test run if i select 'No' in the Select Box, i still see 'Yes' ('Yes' is default selected value in drop-down on page load) returned using

[code]
Basically this returns whatever value is set on page load, not what i select in UI.

Is there any other way to return the text selected in UI during test run ?

[2021-07-16 07:17] Dospios commented on #5999
Yes, this is one of the use cases. If I have already written a test that checks authorization on the frontend, then for the following tests that require authorization, there is no need to perform authorization on the frontend, it is much more efficient and faster to register accounts and perform authorization on the backend. In the same way, I check third-party services, for example, stripe. It is

[2021-07-16 07:23] mxschmitt commented on #5999
Sounds like a valid use-case. Are you depending on making the requests in the browser? (so that the cookies are set) If not, you should be able to use e.g. [node-fetch](https://www.npmjs.com/package/node-fetch) to make http requests inside your tests.

[2021-07-16 07:43] Dospios commented on #5999
@mxschmitt  In the projects I work on, cookies are used only for authorization. After authorization, a cookie is created with a token that is used in requests as authorization header: Bearer + {token}.
It is most likely possible to make this work well with playwright, but as a user I would like it to be as simple as with the cy.request command right out of the box.
Consider this as a suggestion fo

[2021-07-16 08:38] ArmanYeghiazaryan opened #7667 "[Question]: Inject value"
### Your question

Hey,

I have a HTML element which is not visible and has the value "A". How can I change its value to "B" using Playwright and Java?

Also, is it possible to make the element visible? Once it is visible, a text field will appear.

Thank you very much!

[2021-07-16 08:48] andrisi commented on #5999
@mxschmitt in my case I'd use request to access the internal API used by various sites to extract information, without making their UI call the APIs, but still using the environment (cookies) they create.

[2021-07-16 09:16] crunchyicecube opened #7668 "[Question]: Testing on different resolution"
### Your question

Hi amazing people,

I want to check if there is a good way that you can suggest for me to test the same test cases but multiple browsers and resolutions.
I am using the Page Object Model that is suggested here: https://playwright.dev/python/docs/pom
along with that I utilise `pytest-playwright` library to write my tests.

Currently, what I understood is that I can only override

[2021-07-16 09:28] aslushnikov commented on #7645
@vsravuri  interesting - can you please share your script that doesn't work? It should work unless there's some race condition in automation.

This will work with Playwright too:

[code]

[2021-07-16 09:48] mtt87 commented on #7563
@aslushnikov Thank you for detailed explanation, very appreciated 👏  🙏

I'm using axios to perform that request and by default there is no timeout.
I will add a timeout so we can be sure that this is the real cause of the problem

I will close the issue for the moment and re-open it in case I find out that the problem is not what you suggested 😄

[2021-07-16 11:02] splurgeop commented on #1086
+1

[2021-07-16 11:14] mtt87 commented on #7563
Well... I just added the timeout to `axios` and tried again... no changes 😭
![Screenshot 2021-07-16 at 12 02 41](https://user-images.githubusercontent.com/2150927/125938106-dd3181f6-eb6f-47c2-a1bd-47e779c23eb6.png)

Question: I created some helper functions that wrap a series of playwright commands (for example `loginUser` or `signupUser` etc) because I'm repeating them in multiple tests. Will pla

[2021-07-16 11:59] florianbepunkt commented on #7247
@AzrizHaziq
I have the same situation, however I have the os not only in the file name, but also in the folder names, e. g. "login-screen-Desktop-darwin"

It would be helpful to be able to configure this behaviour

[2021-07-16 12:25] agaramudhala opened #7672 "[Question] : open intranet url"
Hi team,

Intranet url aren't opening inside playwright docker container or via pw debugger. Any work around for this pls

[2021-07-16 12:38] AzrizHaziq commented on #7247
Hi @florianbepunkt , have you try `snapshotPath,  outputDir, outputPath`. Hope this help you.
https://playwright.dev/docs/test-advanced/#testinfo-object

[2021-07-16 12:46] florianbepunkt commented on #7247
@AzrizHaziq Thanks. Found out my problem was that setting `testInfo.snapshotSuffix = ''` in beforeEach did not work. Not sure why, but setting it inside a test worked.

[code]

[2021-07-16 12:56] imWildCat commented on #7646
Thanks for the help! It can be resolved using the next version!

[2021-07-16 12:56] #7646 closed

[2021-07-16 13:53] mskelton opened #7673 "[Feature]: Case insensitive `--grep`"
### Feature request

Currently, the `--grep` CLI command is case sensitive which makes matching tests more difficult if you don't know remember the exact casing offhand.  I think it would be beneficial to make the `--grep` command case insensitive by default.

Looking at the source, it would appear that the grep command accepts a regex expression, but since this is also a CLI flag it isn't as simp

[2021-07-16 13:55] aslushnikov commented on #7662
@vigneshshanmugam This will require sending patches to our WebKit & Firefox as well, which has a relatively steep learning curve: https://github.com/microsoft/playwright/tree/master/browser_patches

Are you willing to deep dive there as well?

[2021-07-16 14:38] aslushnikov commented on #7663
let's have this on hold while we lack necessary information exposed across all the browsers.

[2021-07-16 14:41] aslushnikov commented on #7667
@ArmanYeghiazaryan Use [`page.evalOnSelector()`](https://playwright.dev/java/docs/api/class-page#page-eval-on-selector) method:

[code]

This depends on the method the element was hidden by the page. You might need to either change its display, or visibility, or display/visibility of its parent.

[2021-07-16 14:44] aslushnikov commented on #7672
@dineshbabuv try running docker container with `--network host` flag

[2021-07-16 14:50] pavelfeldman commented on #7662
I don't think we need new patches upstream - we only need a timestamp in requestWillBeSent, which I think we already have.

[2021-07-16 14:52] aslushnikov commented on #7563
@mtt87 yes, it does understand this!

Adding timeouts won't change much in terms of reporting, unfortunately. For the debugging purposes, could you please
wrap the following line with `console.log` statements?

[code]

If this line times out, you'll see only the `starting request` line.

[2021-07-16 14:53] pavelfeldman commented on #7662
@vigneshshanmugam are you up for sending a patch? You might need an extra line or two in Juggler, but other than that should be doable. The patch would need to expose requestTime on request.

[2021-07-16 14:56] #7656 closed

[2021-07-16 15:03] vigneshshanmugam commented on #7662
Was thinking of extending the `ResourceTiming` info to this to make the calculation of `blocked` and other timings easier.

[code]

And can extract like

[code]

Am in on the right path here?

@pavelfeldman Sure happy to overlook there and work on a PR.

[2021-07-16 15:09] dineshbabuv commented on #7672
I have read only access in tat container. Can add i add network flag explicitly in playwright config or launchoptions? @aslushnikov

[2021-07-16 15:12] aslushnikov commented on #7672
@dineshbabuv no, docker container isolates playwright from external environment.

[2021-07-16 15:12] mtt87 commented on #7563
Done, doesn't seem to be the cause because for every `request started` there is a `request ended`
[code]

[2021-07-16 15:18] aslushnikov commented on #7563
@mtt87 hm! Could you please try running test that times out with `DEBUG=pw:api` env variable set?

[2021-07-16 15:23] aslushnikov commented on #7655
@pbrovarnik the `mcr.microsoft.com/playwright:focal` is a linux/amd64 image, so your first attempt - `docker run -it --rm --ipc=host mcr.microsoft.com/playwright:focal /bin/bash` - is supposed to fail.

However, the `docker run -it --rm --platform linux/amd64 --ipc=host mcr.microsoft.com/playwright:focal` should work.
Let me look into why it doesn't.

[2021-07-16 15:37] aslushnikov opened #7677 "[Feature]: support `npx playwright install edge-dev`"
### Feature request

As requested by a customer.

[2021-07-16 15:41] AveryTheDev opened #7678 "[Question]: How to get es6 to work with Playwright?"
### Your question

I'm getting an error when attempting to run my tests. `Cannot use import statement outside a module`.

I saw in https://github.com/microsoft/playwright/pull/3125 there was supposed to be a wrapper included to help handle this but I don't see this in my node module folder.

I also tried reinstalling `playwright` and `@playwright/test` but I am still facing the same issue.

[2021-07-16 16:01] mtt87 commented on #7563
Here it is... I hidden some URL and looked around but I can't find anything wrong 👁️
<details>
<summary>Full log</summary>

  log:
[code]
</details>

[2021-07-16 16:03] #6123 closed

[2021-07-16 16:06] akshayp7 commented on #7169
Thanks this feature is working like charm

[2021-07-16 16:06] #7169 closed

[2021-07-16 16:07] aslushnikov commented on #7678
@AveryTheDev which version of playwright do you use? With Playwright 1.12.3 and node v14.9.0, the following works for me:

[code]

[2021-07-16 16:09] AveryTheDev commented on #7678
I reinstalled today, so I have the version "^1.12.3" as a dev dependency in my app

[2021-07-16 16:09] AveryTheDev commented on #7678
The error is thrown on my config file and my spec file

[2021-07-16 16:23] vsravuri commented on #7645
@aslushnikov

I found the problem.

I have two styles, style1 and style2. style1 is hidden (style="display: none) and style2 is visible.

[code]
locator is available in both the styles.

<img width="615" alt="Screen_Shot_2021-07-16_at_8_26_33_AM" src="https://user-images.githubusercontent.com/22808594/125978405-484349e2-a8cd-4395-b06e-6c1026a0a42b.png">

[code]

$eval is resolving to the hidden lo

[2021-07-16 16:56] #7677 closed

[2021-07-16 17:20] aslushnikov opened #7682 "release-1.13: testrunner fixes"
### Your question

- [x] list reporter to-be-fixed
- [x] reporter API
- [x] a big friendly message for our users about running `npx playwright install`
    - [x] `install-deps` for the webkit
    - [x] github-playwright-action

[2021-07-16 17:50] ortoniKC opened #7683 "[Question]: Difference between context.tracing & browser.startTracing?"
### Your question

Hi, I am trying to find the difference between both the code, as per the document both should work.

This works:
[code]
This is not working.
this generates the file but while opening
**Invalid trace file: trace.zip**
[code]

Thanks!

[2021-07-16 18:06] #7576 closed

[2021-07-16 20:54] nlile commented on #6306
@yury-s is there a reason why `firefoxUserPrefs` is not a parameter for `launchPersistentContext`? Did some searches and can't seem to find anyone complaining about it.

[2021-07-16 21:03] mxschmitt commented on #6306
Sounds like a valid feature request, please open a new issue for it, thanks!

[2021-07-16 21:37] nlile opened #7687 "[Feature]: Add `firefoxUserPrefs` as a parameter for `browserType.launchPersistentContext`"
### Feature request

Currently the `BrowserType` method `launchPersistentContext` doesn't accept `firefoxUserPrefs` as a parameter. `firefoxUserPrefs` is an available parameter for `launch` and `launchServer`.

I'm brand new to this project, but I would assume a temporary workaround would be `page.goto('about:config');`. I'll try to test this and report back.

Edit: Because  `about:config` doesn't

[2021-07-16 21:37] nlile commented on #6306
Sure thing, just opened #7687

[2021-07-16 22:23] vsravuri opened #7689 "[Bug]: Playwright with codegen crashed selecting a dropdown"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?
Chromium

_No response_

### Other information

v14.17.0
MacOS : 11.4

### What happened? / Describe the bug

Launched Playwright

[code]

Selecting a dropdown value from the website, Playwright is crashing.

### Code snippet to reproduce your bug

[code]

### Relevant log output

[code]

[2021-07-16 23:06] kumars3 opened #7690 "[Bug]: Toast message is not displayed in firefox browser"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Firefox

### Other information

_No response_

### What happened? / Describe the bug

On uploading an invalid file. I am expecting a toast message to be displayed. But in the playwright firefox (v 89) nightly version no toast message is displayed. When I am uploading same file in Mozill

[2021-07-17 00:02] aslushnikov commented on #7645
Oh, just use the `:visilbe` pseudo-selector that playwright has for these cases:

[code]

[2021-07-17 00:05] worldomonation commented on #7488
Understood, thanks - I will report my observation to the bug you linked. No better luck at coming up with a reproducible script that does not rely on my infra, but I will give it a shot next week.

[2021-07-17 00:16] vsravuri commented on #7645
@aslushnikov

Thank you very much.

The solution worked.

[2021-07-17 00:16] #7645 closed

[2021-07-17 05:34] #7621 closed

[2021-07-17 08:06] #7394 closed

[2021-07-17 12:25] dennis8989 commented on #4776
I have the same issue. I use playwright-python, I wonder how to add process.setMaxListeners(Infinity) in my code? or it has been fixed in version 1.12? Thanks

[2021-07-17 12:27] mxschmitt commented on #4776
Which version are you using? I would recommend creating a new issue with reproducible steps. Because closed issues don't get normally much attention.

[2021-07-17 12:31] klhex opened #7694 "[Docs] Wrong link to test runner CLI documentation"
https://playwright.dev/docs/test-reporters, section "Using reporters" currently links to PW CLI documentation (https://playwright.dev/docs/cli) but should link to PW test runner CLI doc (https://playwright.dev/docs/test-cli/) instead.

![image](https://user-images.githubusercontent.com/71178731/126036852-4831cc81-10cc-4588-b85c-1b1cdb4a635e.png)

Will try to raise a PR for this in a few minutes...

[2021-07-17 13:14] florianbepunkt commented on #7548
We migrated the visual regression tests of a middle-complex React app to Playwright and Playwright test runner. A few of our findings regarding test flakiness. Hope this helps people in a similar situation.

### 1. Disabling of animations and images

#### Animations
In our case we used material-ui. This enabled us to disable animations in a centralized theme file with a flag, if we are in a test e

[2021-07-17 16:07] dmail commented on #7030
According to my tests Istanbul coverage and v8 coverage cannot be merged together. I have opened an issue to track this: https://github.com/istanbuljs/v8-to-istanbul/issues/144. Maybe there is a way but I couldn't make it work.

If confirmed it means coverage collected using Istanbul cannot be merged with coverage returned by [page.coverage.stopJSCoverage()](https://playwright.dev/docs/api/class-c

[2021-07-17 17:11] sievins commented on #7575
@yury-s would you be up for adding support for this? Or considering a PR with this feature?

Including the `process.platform` in the test name means that none of our snapshots match when run in CI. Our CI platform is Linux whereas we all develop on Macs.

Without this feature Playwright is a non starter for our integration tests 😢.

[2021-07-17 23:18] just-boris opened #7697 "[Feature]: support direct image in `toMatchSnapshot`"
### Feature request

Currently, `toMatchSnapshot` always expects a file

[code]

In our case, we compare two simultaneously open pages. In this case, it would be great to have an ability to provide the expected image directly as an argument, to avoid writing it to disk:

[code]

[2021-07-18 05:41] VaasRamsay opened #7698 "webkit browser returns additional line feed with innerText on certain elements"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

WebKit

### Other information

macOS 10.15.7
node v12.20.0

### What happened? / Describe the bug

On webkit browser, when grabbing `innerText` additional line feed is added at the end. This happens on parent elements, not on children holding the text directly.

[code]
In this example, `i

[2021-07-18 07:08] mxschmitt commented on #7698
Sounds like a duplicate of https://github.com/microsoft/playwright/issues/5478. So using textContent() instead should fix it.

[2021-07-18 07:24] AlexKomanov opened #7699 "[Bug]: The fixture 'after.all()' affect next worker and triggers error ' browser.newContext: Target page, context or browser has been closed'"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

**Node version:** 14.16.1
**NPM version:** 7.19.1
**Windows version:** 10
**VS Code version:** 1.57.1

### What happened? / Describe the bug

I have 4 tests that run in 3 workers instances.
If I perform the tests with 3 workers ('npx playwright test') -

[2021-07-18 08:16] AlexKomanov opened #7700 "[Question]: Does 'await context.close();' prevents taking a screenshot?"
### Your question

I take the screenshot at the end of the test. I use the 'screenshot' option in the 'playwright.config.ts':

![image](https://user-images.githubusercontent.com/52656401/126060401-c773ddaf-9e38-4cf8-9809-b8be9c43c6f6.png)

In the fixture test.afterEach(), I've used the command 'await context.close();' in order to clean the context and clean the memory. But using this command - pre

[2021-07-18 08:45] mxschmitt commented on #7700
Yes this is expected. With Playwright Test you should not close the context manually since its done internally by default after each test. Also clearCookies is not necessary, since you will receive a new fresh context in each test. For tracing we recommend to use the [Playwright Test option](https://playwright.dev/docs/test-configuration) instead of doing it manually.

Did you experience memory is

[2021-07-18 08:49] mxschmitt commented on #7699
Yes, browser.close() will close the browser in a worker so the worker is after that broken and thinks it's browser is still there.
I would recommend to you to:

- to do tracing via the Playwright Test option: https://playwright.dev/docs/test-configuration
- don't close the browser, close the context, or clear the cookies

This should simply your code and make it work.

[2021-07-18 08:50] AlexKomanov commented on #7700
@mxschmitt
No, I didn't. Just thought that it is necessary.

Thanks for the quick answer.

Since you mentioned internally closing - does it the same behavior for the browser closing - does the runner closes internally all instances of the browser/s?

[2021-07-18 08:51] mxschmitt commented on #7700
Yes Playwright Test will handle that as well for you.

[2021-07-18 08:54] AlexKomanov commented on #7699
@mxschmitt
Thanks for the answer.
About your recommendations:
* In case I do tracing via the Playwright Test option - how it stores the traces of different tests?
* does the runner close internally all instances of the browser/s?

[2021-07-18 08:56] mxschmitt commented on #7699
- It will store it in the output directory which is by default "test-results". In it are sub-folders for each test which contain the trace, screenshot, video which you can enable in the config.
- Yes it does

[2021-07-18 09:04] AlexKomanov commented on #7700
@mxschmitt
Thanks a lot!!! You can close. I got all information!

[2021-07-18 09:06] #7700 closed

[2021-07-18 09:08] AlexKomanov commented on #7699
@mxschmitt
Thanks!
Do I have an option to change the default output directory?

[2021-07-18 09:15] mxschmitt commented on #7699
Yes see here, outputDir: https://playwright.dev/docs/test-advanced

[2021-07-18 09:38] VaasRamsay commented on #7698
Thanks. `textContent` messes up multi-line text, hence I rely on `innerText`.

[2021-07-18 09:53] mxschmitt opened #7701 "[Bug]: Playwright Test file matches depends on OS path separator"
### Playwright version

next

### Operating system

Windows

### What browsers are you seeing the problem on?

_No response_

### Other information

_No response_

### What happened? / Describe the bug

If you are using `npx playwright test foo/bar.ts` it does not work on Windows since it takes the OS path separator into account. We should normalise it to make these path argument cross-os compatib

[2021-07-18 10:07] #7694 closed

[2021-07-18 10:18] Schepetkov opened #7702 "[Question]: Check if element class contains string using playwright - С#"
### Your question

Hi all,

I'm trying to figure out how to check that the class contains "a-button-selected" for example via C#.
in JS, I can do something like this: button.classList.contains("a-button-selected");

https://stackoverflow.com/questions/66241109/check-if-element-class-contains-string-using-playwright - how do the same in C#.

Thanks for answer.

[2021-07-18 11:16] AlexKomanov commented on #7699
@mxschmitt
Thanks a lot! Works as well!

[2021-07-18 11:19] #7699 closed

[2021-07-18 12:23] #7702 closed

[2021-07-18 12:24] Schepetkov commented on #7702
public readonly string SelectedAnimatedButton = ".a-button-selected #gc-customization-type-button-Animated";

 public async Task<bool> IsAnimatedButtonSelected()
        {
            var element = await Page.QuerySelectorAsync(SelectedAnimatedButton);

            if (element == null)
            {
                return false;
            }

            return true;
        }

[2021-07-18 14:07] AlexKomanov opened #7703 "[Bug]: page.waitForSelector() doesn't fail a test in case the selector not found"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

**Node version:** 14.16.1
**NPM version:** 7.19.1
**Windows version:** 10
**VS Code version:** 1.57.1

### What happened? / Describe the bug

As a part of the method that checking if the element exists - I use the 'page.waitForSelector()' method.
If I pr

[2021-07-18 15:17] AlexKomanov opened #7704 "[Bug]: 'globalTimeout' option doesn't trigger any indication if reached"
### Playwright version

1.12.3

### Operating system

Windows

### What browsers are you seeing the problem on?

Chromium

### Other information

**Node version:** 14.16.1
**NPM version:** 7.19.1
**Windows version:** 10
**VS Code version:** 1.57.1

### What happened? / Describe the bug

If the time parameter of the 'globalTimeout' was reached - the tests suite stops the run. The user doesn't get a

[2021-07-18 16:00] davidfou opened #7705 "[Bug]: globalSetup doesn't wait for the returned callback"
### Playwright version

1.12.3

### Operating system

Linux

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

Hi :wave:

I configured a `globalSetup` which returns a promise with something similar to what's described on the [doc](https://playwright.dev/docs/test-advanced/#global-setup-and-teardown). By putting

[2021-07-18 17:26] ArmanYeghiazaryan opened #7706 "[Question]: Print #document"
### Your question

Hello,

I have a question. How can I implement Java code, which lets Playwright print the following content inside of the #document?
Please have a look at the attached screenshot.

![image](https://user-images.githubusercontent.com/82316190/126076560-1f6930a2-6ea4-474a-a4aa-7ef421db5011.png)

Thank you very much!

[2021-07-18 19:16] vsravuri opened #7707 "[Bug]: Files are deleted from downloadsPath when the browser context that produced them is closed"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

Node: v14.17.0
Browser: Chrome, Chromium
Mac OS: 11.4

### What happened? / Describe the bug

As per the documentation here https://playwright.dev/docs/downloads

**_Unless downloadsPath is set, downloaded files are deleted when the browser context that pr

[2021-07-18 23:11] Tyriar opened #7710 "[Bug]: expect(...).toMatchObject(...) output is too verbose"
### Playwright version

@playwright/test@1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

Chromium

### Other information

_No response_

### What happened? / Describe the bug

When running `expect(savedData).toMatchObject(loadedData)` on a large number array where only a single index differs, this is what happens:

![recording (5)](https://user-images.githubu

[2021-07-19 05:41] mxschmitt commented on #7710
Hi! Using the following workaround should lead to your expected behavior:

[code]

Since this is something which Jest is setting [by default to false](https://github.com/facebook/jest/blob/bc50e7f360ab1845abbaa0b3ad788caead0d3174/packages/jest-circus/src/legacy-code-todo-rewrite/jestExpect.ts#L21), I think we should also do that.

[2021-07-19 05:46] mxschmitt commented on #7678
Do you want to use it with `@playwright/test`? Then using the `.mjs` file extension should work for you.

[2021-07-19 06:13] mxschmitt commented on #7575
@sievins we have an open issue to enhance the experience for making cross-platform screenshots: #7439.

Using something like `docker run -it -v $(pwd):/work/ mcr.microsoft.com/playwright:v1.12.3-focal --network host /bin/bash` to run / update your screenshots might be the best workaround for now.

[2021-07-19 06:26] mxschmitt commented on #7706
This is an iframe, so you first need to get the frame and then you can interact with its DOM.

[code]

[2021-07-19 06:36] vsravuri opened #7711 "[Bug]: Firefox: File download brings up 'openFile / saveToDisk' dialog box"
### Playwright version

1.12.3

### Operating system

MacOS

### What browsers are you seeing the problem on?

Firefox

### Other information

Node: v14.17.0
Mac OS: 11.4
Firefox: 89

### What happened? / Describe the bug

When i try to download file in Firefox, i get a 'openFile / saveToDisk' dialog box. Same code works fine in Chrome and Webkit without prompting to open / save the file.

I follo

[2021-07-19 06:37] mxschmitt commented on #7683
`browser.startTracing` is a Chromium only tracing feature, which gives you a JavaScript event profiler, see [here](https://www.chromium.org/developers/how-tos/trace-event-profiling-tool).

`context.tracing*` is the Playwright tracing feature, which is cross-browser compatible and provides you screenshot, snapshot, DOM inspection out-of-the-box to debug your failing or flaky end-to-end tests.

Also

[2021-07-19 07:03] ortoniKC commented on #7683
Thank you it helped 😊
 @mxschmitt

[2021-07-19 07:09] alberspim commented on #7560
@aslushnikov

Both scripts return the following error

PS C:\WS\Tmp\js> node .\b.js
node:internal/process/promises:246
          triggerUncaughtException(err, true /* fromPromise */);
          ^

browserType.launch: Host system is missing dependencies!

Full list of missing libraries:
    chrome_elf.dll

Error
    at Object.captureStackTrace (C:\WS\Tmp\js\node_modules\playwright\lib\utils\stackTr

[2021-07-19 08:43] nexcode commented on #7536
Or launching version from flatpak different from launching just a binary?

[2021-07-19 09:01] sievins commented on #7575
Thanks @mxschmitt, that's great news. The workaround works perfectly for now.

For those wanting to run their tests like this from a single command, without an interactive shell:

`docker run -v $(pwd):/work/ mcr.microsoft.com/playwright:v1.12.3-focal bash -c 'cd work && npm run test'`

[2021-07-19 10:01] suedar opened #7714 "[Question]: Get `test() can only be called in a test file` error while I run `npx playwright test`"
### Your question

![image](https://user-images.githubusercontent.com/18492953/126142490-433ab70d-9927-4bcd-a9f0-55f4081ee08d.png)

I was running `npx playwright test` as tutorial saying.
![截屏2021-07-19 下午6 04 35](https://user-images.githubusercontent.com/18492953/126143750-9866c198-026e-4816-a3e8-9394c0bbfa4a.png)

But I got this error. Anyone know how to solve this. Thanks.

[2021-07-19 10:06] mxschmitt commented on #7714
Do you have Jest or Jest-playwright installed?

[2021-07-19 10:14] suedar commented on #7714
here is my package.json
[code]

here is my jest.config.js
[code]

The project is running base on React.

[2021-07-19 10:35] akshayp7 commented on #7714
can you add test in your test case name like
TC01.test.js

[2021-07-19 10:36] mxschmitt commented on #7714
Hm, it seems like Playwright Test starts "Running X test using X worker" and then Jest gets somehow gets trigged (Playwright Test has nothing to do with Jest). Could you run the following command and provide me the output of it?

`npx playwright test --list --reporter=json,list`