[2022-06-01 11:08] aslushnikov commented on #14505
@vivekvasu95 [Max's answer](https://github.com/microsoft/playwright/issues/14505#issuecomment-1142026640) should work for you

@Warrfie you should setup an HTTP authentication: https://playwright.dev/docs/network#http-authentication

[2022-06-01 11:08] #14505 closed

[2022-06-01 11:08] Smrtnyk commented on #14520
I have also noticed few times that playwright complained how an imported constant from another module which is an array is not an iterable, and it definitely is since it is an array.
To me it looks like compilation process failed or something.
It happens rarely, will post an error message when it occurs but might be related to this also.

[2022-06-01 11:09] #14445 closed

[2022-06-01 11:12] aslushnikov commented on #14419
I'll close this for now in favor of a workaround.

[2022-06-01 11:12] #14419 closed

[2022-06-01 11:19] Warrfie commented on #14505
It didn't work. Because there is more than one SSO Login Prompt on that site, I can pass only one via that method.

[2022-06-01 11:35] gegoncalves commented on #14478
Shoooees. I am dumb 😅

Thanks for the help

[2022-06-01 11:35] #14478 closed

[2022-06-01 11:41] Smrtnyk opened #14541 "[BUG] playwright: not found script returned exit code 127"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Linux
- Node.js version: [e.g. 12.22, 14.6]
- Browser: Firefox
- Extra: it runs in CI in jenkins instance

[code]
When running shard that starts firefox we have two jenkins steps
one is for tests that can have retries (flaky ones)
and second step runs tests that should be stable (0 retries)
Sometimes happens that after first step runs p

[2022-06-01 12:05] gegoncalves commented on #14508
Now I got it. So my problem is exactly that: using `page`

My basic methods all are configured based on `Page`

[code]

So, when I use the beforeAll with the `browser` it creates one browser instance and because my `test()` always use methods from the common-actions.ts that have Page, it opens a new browser instance.

Do you recommend any workaround @aslushnikov ?

[2022-06-01 12:11] Linux249 commented on #14458
I have the same problem after switching to a M1 mac.
Could reproduce it with:
"@playwright/test": "^1.22.0"
mcr.microsoft.com/playwright:v1.22.0-focal
And:
"@playwright/test": "^1.22.2"
mcr.microsoft.com/playwright:v1.22.2-focal

I use a MacBook Pro (14", 2021) with a Apple M1 Pro chip

[2022-06-01 12:20] aslushnikov commented on #14484
Configuration-wise, all Playwright [parallelization strategies](https://playwright.dev/docs/test-parallel) should apply there as well!

[2022-06-01 12:25] aslushnikov commented on #14226
@leotg130 This would imply that the strategy for creating and matching snapshot is different, so over time, the automatic re-baseline of screenshots in bulk might not work.

@dimkin-eu it fails if we keep taking screenshots and they differ all the time. Consider a javascript animation, or a GIF 💁‍♂️

[2022-06-01 12:33] tiger360 commented on #14514
Hello,
It is on Ubuntu 20.04
Sorry, it was on Youtube but I could not reproduce it.
Time to time it's appearing and because of that, the selectors are failing.
![image](https://user-images.githubusercontent.com/5794444/171405094-f6f4e847-befc-414c-a794-ffb5f5535673.png)

[2022-06-01 12:58] tiger360 commented on #14514
Yeah it's just an example 😅.
The message was kinda : "Allow YouTube.com to send notifications?"
It was in the YouTube studio page when I'm connected.

[2022-06-01 13:01] aslushnikov commented on #14458
@Linux249 I just tried and a simple test worked for me. We also run a subset of our tests in Docker on M1 mac and they all pass.

So can you please help me reproduce this? What exactly do you run and what fails for you?

[2022-06-01 13:54] Arroheim opened #14544 "[BUG] No automatic screenshots when useing fixtures"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Windows
- Node.js version: 16.13.2
- Browser: Chromium
- Extra: Commandline:

[code]

No screenshots appears when i useing this options in playwright.config.js:
[code]

Fixture:
[code]
Test file:
[code]

[2022-06-01 13:57] Kreeg commented on #14460
@aslushnikov thank you! I'll try this within 2 weeks.

[2022-06-01 14:56] mxschmitt commented on #14523
For example in Python: https://github.com/microsoft/playwright-python/runs/6691621380?check_suite_focus=true

[2022-06-01 15:05] bshostak commented on #14533
@aslushnikov thank you for looking at this! I removed the async from the describe block but I am still seeing the same behavior. Basically what happens is:

1. I run npx playwright test
2. I see a log of "Running 4 tests using 1 worker" ( i have it set to use 1 worker for right now).
3. It sits at this log and never starts executing the tests.

the odd thing is that when debugging, if I had a cons

[2022-06-01 15:31] natalygoloborodko commented on #11975
Adding votes on behalf of my company for this feature.

[2022-06-01 15:33] dragancla opened #14547 "Importing private typescript modules in Playwright"
### Discussed in https://github.com/microsoft/playwright/discussions/14545

I'm having issues with importing custom private modules in Playwright tests.

Test code - functionality.test.ts

[code]

It always throws an error `Error: src/tests/api-tests/functionality.test.ts: JavaScript files must end with .mjs to use import.`

Test is obviously typescript. I have no javascript files in my project at

[2022-06-01 15:42] pavelfeldman opened #14549 "[BUG] Prioritize frame[name=...] selectors when generating frame locators"

[2022-06-01 15:46] pavelfeldman opened #14550 "[Recorder] never suggest using nth() - it is an anti-pattern"

[2022-06-01 16:16] dgtlmoon commented on #6319
I can confirm the same, `1.22.0`, python

[code]

I saw memory usage up to about 1.5Gb this morning, what is curious is that it's not _all_ URL/pages that cause this, I'll report more info

[2022-06-01 16:20] pavelfeldman opened #14551 "[BUG] VS Code is saying await expect.poll(() => {}); does not return promise"

[2022-06-01 16:25] christopher-r-doucet commented on #14388
@aslushnikov on a page like https://www.myhousefriend.com/ that I am trying to test there are 14.
![image](https://user-images.githubusercontent.com/8879741/171452254-cbcdcb03-508e-4125-99fd-5b469ad865c4.png)
![image](https://user-images.githubusercontent.com/8879741/171453422-1ada7f37-5b1b-427c-a907-4d85ff570537.png)

[2022-06-01 16:27] Kranael opened #14552 "[Feature] Mark test for auth. / manage often used states in config"
I would like to request a feature:

I think it would be really convenience when we could mark test authenticated or not

I know playwright config have a use {} object that we can use to authenticate all tests but what if we have tests that dont need that auth?

So some pseudo code here:

[code]

[code]

And we would use it like that:

[code]
if we want no auth we just use:

[code]
if we want auth

[2022-06-01 17:08] aslushnikov opened #14553 "feature: collect CPU / memory stats when failing to launch browser"

[2022-06-01 17:24] Vitallu opened #14554 "[BUG]"
**Context:**
- Playwright Version: [what Playwright version do you use?]
- Operating System: [e.g. Windows, Linux or Mac]
- Node.js version: [e.g. 12.22, 14.6]
- Browser: [e.g. All, Chromium, Firefox, WebKit]
- Extra: [any specific details about your environment]

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For

[2022-06-01 18:13] twbryan commented on #4295
We have the same use-case (wanting to run headful, but only screenshot the page contents for comparisons) as above.

[2022-06-01 18:35] cassus commented on #14408
It would work fine for success / Failure detection.
The only drawback is the lack of the the more accurate expect failure error messages. The test timeout error messages are less detailed, harder to debug.

Along these lines I think setting the expect timeout sufficiently high (30-60 seconds) will avoid most of the congestion issues and still give me a more helpful error message. Thanks for the in

[2022-06-01 18:35] #14408 closed

[2022-06-01 18:58] rwoll commented on #14554
It looks like there is no title nor information filled out in the issue (aside from the default template). Please file a new issue with the title set and the details filled out. Thanks!

[2022-06-01 18:58] #14554 closed

[2022-06-01 19:39] PavanMudigondaTR commented on #14483
@pavelfeldman @aslushnikov I have the same feedback. I suddenly see video capture is not working. I loved this feature and its main selling point to my team. Could you please tell if you could bring this back ?

[2022-06-01 20:17] eatonjl opened #14559 "[BUG] Timeout of 30000ms exceeded while running fixture "browser" setup. (using Firefox)"
**Context:**
- Playwright Version: 1.22
- Operating System: Ubuntu
- Node.js version: v16.15.0
- Browser: Firefox
- Extra: Run using TeamCity, on a Linux VM with a Docker TeamCity build agent and the Playwright Docker container

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug

[2022-06-01 20:50] eatonjl commented on #14559
Another thing to note is that I am using environment variables. I tried with an invalid browser as well (e.g. "firefoxas" instead of "firefox"). This makes me think it may not recognize the Firefox variable for the project for some reason.

[2022-06-01 21:06] 304NotModified opened #14743 "[Feature] Suggestion: add InstallWhenNeeded to make installation easier"

[2022-06-01 21:31] dmallavarapu opened #14562 "[BUG] html reporter doesn't respect the OutputFolder, I have 2 different folders with the results split"
**Context:**
- Playwright Version: [v1.22.0]
- Operating System: [Mac]
- Node.js version: [v16.4]
- Browser: [Chromium]

**Code Snippet**

Here is my playwright.config.ts file

[code]

**Describe the bug**

I initially gave outputFolder as 'test-results' for html reporter, ran a few times and later decided to change it and now I want to push the html reporter results into "pw-results/html".  Updat

[2022-06-01 21:36] pavelfeldman commented on #14339
Let me fold it into ?https://github.com/microsoft/playwright/issues/14298

[2022-06-01 22:23] #13762 closed

[2022-06-01 22:26] mike1808 opened #14563 "[BUG] Any Chrome channel crashes on macOS with no error after few seconds of launching"
**Context:**
- Playwright Version: `1.23.0-alpha-may-31-2022`
- Operating System: macOS 12.3.1
- Node.js version: v18.2.0
- Browser: `chrome`, `chrome-beta`, `chrome-canary`
- Extra: [any specific details about your environment]

## System:
 - OS: macOS 12.3.1
 - Memory: 10.54 GB / 64.00 GB
## Binaries:
 - Node: 18.2.0 - ~/.nvm/versions/node/v18.2.0/bin/node
 - Yarn: 1.22.18 - ~/.nvm/versions/node

[2022-06-01 22:42] KenjiTakahashi commented on #14559
I'm also seeing this problem, but only when running inside Docker container. Running the same tests on the same environment, but directly on the machine, works fine.
Extending timeout doesn't help anything.
I can see some `firefox` instances getting spawned, but they don't seem work as expected.

[2022-06-01 23:14] pavelfeldman commented on #14562
As per your config, `pw-results/html` will contain all the resources necessary to render the report. You can disregard the intermediate assets under test-results that this report was built off.

[2022-06-01 23:41] franzvezuli commented on #7035
A watch mode would be great, it's kind of the only deal-breaker between Playwright and Cypress in my opinion.

[2022-06-01 23:50] #14459 closed

[2022-06-02 00:28] mike1808 opened #14566 "[BUG] Origin request header is removed when extraHTTPHeaders are used with Chromium"
**Context:**
- Playwright Version: `1.23.0-alpha-may-31-2022`
- Operating System: macOS 12.3.1
- Node.js version: v18.2.0
- Browser: `chromium`
- Extra: [any specific details about your environment]

## System:
 - OS: macOS 12.3.1
 - Memory: 10.54 GB / 64.00 GB
## Binaries:
 - Node: 18.2.0 - ~/.nvm/versions/node/v18.2.0/bin/node
 - Yarn: 1.22.18 - ~/.nvm/versions/node/v18.2.0/bin/yarn
 - npm: 8.9.

[2022-06-02 02:19] mrmckeb commented on #10437
We're running our tests on GitHub Actions. We'd ideally like a single report, but for now will create a report per shard/matrix runner.

I'm not sure how this should work - there's no easy mechanism for the runners to talk to each other to combine a report.

[2022-06-02 02:24] kevin-s-wang commented on #14537
@aslushnikov Thank you for your response.

I'm using nvm to manage my node environment and the tests were performed under macos 12. When I switch back to node v14, everything works fine. I also tested on the early versions of playwright, it explicitly said that macos 12 was not supported. Not sure if this issue is relevant to OS or not?

[2022-06-02 02:34] mingjiezhang opened #14567 "Only some special test cases that can be executed sequentially while others in parallel？"
Does playwright support some special test cases that can be executed sequentially(not in parallel), while other test cases can be executed in parallel？

[2022-06-02 02:39] lmiller1990 commented on #14416
Hello, I work on the libraries in question (Test Utils, Testing Library, Cypress). Always good to see more solutions in the component testing space :100:

I had a look at the code, Playwright does a simple mount, see here: https://github.com/microsoft/playwright/blob/214117c9c5f86daa7b24f79094b0fc33ca687023/packages/playwright-ct-vue/registerSource.mjs#L132-L137. Instead of just mounting the app,

[2022-06-02 03:19] yury-s commented on #14566
In your example the `origin` header is not expected to be sent and it would be missing without `extraHTTPHeaders`. Do you have a reproducible example where `origin` header is sent without extraHTTPHeaders but not with it?

[2022-06-02 03:20] yury-s commented on #14567
Yes, there is [serial mode](https://playwright.dev/docs/next/test-parallel#serial-mode) for that.

[2022-06-02 03:20] #14567 closed

[2022-06-02 03:57] harir5 commented on #14535
@aslushnikov - how do we ensure that tests in each module run one after another but the modules themselves run in parallel please ?

module 1
   test 1
   test 2
   test 3
   test 4

module 2
   test 1
   test 2
   test 3
   test 4

In this example above, i'd like for module1 and module2 (projects in my configuration) to run in parallel, but the tests within the modules, they need to run one after

[2022-06-02 04:24] vsravuri commented on #14535
@harir5
In your example, use 2 workers, one for each project, in each project use "test list" file, "test list" file will ensure spec files run in the order you listed, both the projects will run in parallel.

You can refer to this section https://playwright.dev/docs/test-parallel#control-test-order

[2022-06-02 04:28] ptc-aramachandra opened #14569 "File chooser API not working with electron"
Using the following https://playwright.dev/docs/api/class-filechooser to achieve handling of file chooser.

scenario: I have a browse button which will open a file chooser and i have to select a directory here.

As mentioned in the above API, I used `this.page.waitForEvent('filechooser'),` and it fails for me with a timeout saying not able to find the event `page.waitForEvent: Timeout 30000ms exce

[2022-06-02 05:15] A-ZC-Lau opened #14570 "[Question] DRY way to create fixtures"
say I have some typescript code like this:

[code]

how would I make it so that I can create a function to return the fixture, so I don't have to copy and paste? i.e.
[code]

What's the type for the values in the fixtures?

[2022-06-02 07:17] aslushnikov commented on #14435
Unfortunately, it wouldn't: Playwright relies heavily on exact remote debugging protocol versions, so there's no guarantee other browser versions will work with a particular Playwright version.

[2022-06-02 07:40] aslushnikov commented on #14483
@PavanMudigondaTR the fix has landed and will be live in 1.23!

[2022-06-02 07:42] aslushnikov commented on #14413
@VasylQA interesting! Please do not hesitate to re-file with a repro - we'll look into it!

[2022-06-02 07:43] gegoncalves commented on #14559
Having the same problem described by @KenjiTakahashi

[2022-06-02 07:45] aslushnikov commented on #14508
@gegoncalves i see what you do, but it won't work. So why don't you want to not use fixtures for your POM objects and instead have a global variable, like [it's shown here](https://github.com/microsoft/playwright/issues/14508#issuecomment-1143531663)?

[2022-06-02 07:47] aslushnikov commented on #14537
@kevin-s-wang I'm running on macOS 12 as well, and node.js 16, using NVM.

The following works great for me:

[code]

Can you try these steps and see if they work for you?

[2022-06-02 08:07] bonek opened #14641 "[Question]: How can I get stream or byte array Tracing zip?"
### Your question

How can I get stream or byte array "Tracing zip"?
I want send it to other location, not save in path.

[2022-06-02 08:17] gegoncalves commented on #14508
I don't know if I understood your question @aslushnikov correctly

So you are asking to use a global variable instead of the custom fixtures? I was thinking to use the custom fixtures due to the fact of being easier to just call the related pages through fixtures per test case than create an instance of each used POM

The `generalActions` class will be only the basic method we have. Ex:

[code]

t

[2022-06-02 08:19] aslushnikov commented on #14569
Looks like a dupe of #8278

[2022-06-02 08:19] #14569 closed

[2022-06-02 08:23] aslushnikov commented on #14508
@gegoncalves Yeah, I'd do it this way! It should work reliably in case of page re-use.

[2022-06-02 08:27] oktayozkan0 opened #14571 "[Question] Nightly (Firefox) SEC_ERROR_UNKNOWN_ISSUER"
When im trying navigate to a website, nightly gives an error like this:

[code]
How can i solve this issue?

[2022-06-02 08:52] pkerschbaum opened #14572 "[Feature] Allow mocking third party and built-in modules (for non-E2E tests)"
### Feature Request

Playwright Test can also be used as a "generic" test runner to run unit/integration tests (see #14268).
For such tests it is often helpful, if not necessary, to mock modules loaded by CJS `require` or ESM `import` statements. This allows to test a module in isolation.

At the moment, Playwright does not have a way to replace modules with mocks when they get loaded. As discusse

[2022-06-02 08:52] pkerschbaum commented on #14398
Issue created: #14572

[2022-06-02 08:54] gegoncalves commented on #14508
I got it.

I was thinking here: It will be nice if there was an option in the future to "turn off" a test() isolation using something in a beforeAll that allowed to use fixtures (that a base on Page).
I dont know if it make sense for you @aslushnikov

That way would be easier to have a specific `.spec.ts` file that is not isolated between `test()`

Maybe you are wondering why we are doing that. Th

[2022-06-02 09:24] emanuellarini commented on #13855
For those who might search for this... I have a working solution... keep in mind that you mind need to make adjustments in X and Y coordinates depending on your needs.

[code]

[2022-06-02 10:09] mxschmitt commented on #14523
Seems like its affecting Windows as well: https://github.com/microsoft/playwright-python/runs/6700039466?check_suite_focus=true

[2022-06-02 10:13] soniaM7 commented on #11703
TypeError: page.waitForCondition is not a function

getting this error with --> await page.waitForCondition(async () => {
this function

[2022-06-02 10:31] inancgumus opened #14574 "[Question] Does locators work across frame navigations?"
A frame can navigate, and only the page document will change. Will the locator continue to work even after navigation then? What about page navigations?

[2022-06-02 10:38] aslushnikov commented on #14559
Hey folks, I tried the following:

1. kicked docker container and installed Playwright Test inside:
[code]

2. Copied the test suite from https://github.com/microsoft/playwright/issues/14559#issue-1256944229 as `a.spec.ts` inside docker container
3. Run the tests with `npx playwright test --browser firefox --repeat-each=10` inside docker

I ran the tests a few times and they worked just fine. Can

[2022-06-02 10:41] ooo2003003v2 opened #14575 "[Question] How can I update window obj?"
Hello there.

I'm trying to update the window obj in beforeEach but I cannot find a right way to do it. I've tried page.evaluate and page.
 page.evaluateHandle but it doesnt seem to work. Could anyone help me???

[code]

[2022-06-02 10:56] vikramvi commented on #14490
Being ex-MS employee, am curious to know philosophy behind reinventing wheel by team in MS headquarter.

Even though this is not a bug, I've asked as query; why can't responsible person can't reply in detail ?

Is there any secret for not replying or MS just don't want to support open source community ?

[2022-06-02 10:58] aslushnikov commented on #14570
@A-ZC-Lau you can just omit it - it'll be inferred.

You can also parametrize `GENERATE_FIXTURE` if you'd like to:

[code]

Does it work?

[2022-06-02 11:01] Mosorathia opened #14576 "How can I disable the extension after launching the browser and navigating to a URL?"
// Here i am launching browser with extension and navigating to a url....  Problem is that after url is opened, I want to disable AdBlocker extension and reload the page.. what is the way to do that using playwright?

[code]

[2022-06-02 11:02] kbrueckner opened #14577 "[BUG] expect(locator).toHaveCount() throws expression: expected string, got object"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Mac
- Node.js version: 16.13.2

**Code Snippet**

I was following the documentation:

[code]

**Describe the bug**

The tests throws:
locator._expect: expression: expected string, got object

[2022-06-02 11:39] aslushnikov commented on #14508
This does look like a bug; but would you mind filing a separate issue with a minimal repro for that?

[2022-06-02 11:42] aslushnikov commented on #14577
@kbrueckner the following works just fine for me:

[code]

Can you try running this and see if it works for you too?

[2022-06-02 11:43] aslushnikov commented on #14576
@Mosorathia There's no way to do this after the browser launch. Sorry for the inconvenience! Is this a testing or scraping scenario?

[2022-06-02 11:43] gegoncalves commented on #14508
Yeap, I am gonna do it, no problem at all.

Regarding the `test.step()` ending the run when it founds a problem, is it possible to set somehow to keep going to the next steps?

[2022-06-02 11:46] aslushnikov commented on #14575
@ooo2003003v2 The following works just fine for me:

[code]

To double-check with devtools, you can:
1. comment out `browser.close()`
2. change `chromium.launch()` to `chromium.launch({ headless: fase})`
3. Run script, open devtools and make sure that `window.__mock` is initialized properly

If things don't work for you, please re-file a new issue with a good repro that illustrates things that don

[2022-06-02 11:46] #14575 closed

[2022-06-02 11:51] aslushnikov commented on #14574
@inancgumus yes, locators will work regardless or the navigations. Note that for a locator to point to an element inside an iframe, you should use [frame locators](https://playwright.dev/docs/api/class-framelocator):

[code]

To get most from locators, make sure to use [web-first assertions](https://playwright.dev/docs/release-notes#-web-first-assertions) as well!

[2022-06-02 11:51] Mosorathia commented on #14576
It is a testing scenario.. I have to test a URL once with adblocker and then after disabling  adblocker and refreshing the page..

[2022-06-02 11:54] inancgumus commented on #14574
Thanks, @aslushnikov! I read from the documentation that a locator belongs to a single frame. So wouldn't the frame go away when its page changes?

[2022-06-02 11:55] aslushnikov commented on #14576
The best I can suggest is launching the browser one more time without adblocker.

[2022-06-02 11:59] aslushnikov commented on #14574
It will!

I feel like there's some confusion though; just to re-iterate: `locator` is not an exact element on the page, but rather a "rule" to retrieve the element. So for example the following interaction:

[code]

... will re-query locator to find the button it points to. No matter if there's a navigation going on, Playwright will wait until there's the button to click it.

[2022-06-02 12:00] aslushnikov commented on #14571
@oktayozkan0 Try using `https://playwright.dev/docs/api/class-testoptions#test-options-ignore-https-errors` option in your test

[2022-06-02 12:00] Mosorathia commented on #14576
That won't work here as the log which I want to test is fired only when the page is refreshed and not on the first time load on the browser..

[2022-06-02 12:02] aslushnikov commented on #14563
@mike1808 I just ran on MacOS 12, Macbook Pro M1, and it worked fine - no crashes.

It does look though that your stable chrome is corrupted. Could it be the case?

[2022-06-02 12:03] aslushnikov commented on #14576
@Mosorathia maybe you can hack into the adblock background page to disable it.. but I can't think of much besides this

[2022-06-02 12:08] kbrueckner commented on #14577
That is actually a good point. I am not having the expect statement wrapped into test from playwright/test.
My setup is still based on jest as the runner. I suppose that is not working together?

[2022-06-02 12:11] ritikkumarsahu opened #14580 "[BUG] TypeError: Cannot read properties of null (reading 'status')"
**Context:**
- Playwright Version: 1.21.1
- Operating System: Windows
- Node.js version: v16.13.2
- Browser: Firefox
- Extra: using proxy and incognito mode

![image](https://user-images.githubusercontent.com/50456414/171625816-a3ce3137-d924-4f61-aeff-baccd7679eb9.png)

**Code Snippet**

[code]

**Describe the bug**

Whenever page is navigated to some other URL using page.goto(URL),  This error (s

[2022-06-02 12:17] schmkr commented on #11833
Yesterday, I also started an attempt to use Playwright Test for writing E2E tests for a Chrome Extension. But because the browser (by default) is launched in incognito, extensions don't work.

It would be very helpful if it was made possible to define the browser(s) to launch with a persistent context. And/or in a more generic way, if it was possible to add a way to use a (factory) function that r

[2022-06-02 12:24] aslushnikov commented on #14541
@Smrtnyk so this message somehow says that `npx` didn't find Playwright. I don't follow what can cause this message; maybe the installation step is missing occasionally?

Overall, this looks like a CI misconfiguration to me rather than a Playwright problem. Unfortunately, I'm not familiar with Jenkins that much, so I won't be of much help here.

[2022-06-02 12:24] A-ZC-Lau commented on #14570
@aslushnikov that could work for this example.

But what's the type that the fixture uses? Just in case I need to access `page` and other properties in the future.

[2022-06-02 12:32] Smrtnyk commented on #14541
It is installed
the step before executed playwright tests successfully
the second step then couldn't find playwright

its weird that one run finds it and then the second run doesn't see it anymore

[2022-06-02 12:32] ooo2003003v2 opened #14582 "[Question] I have a question about Page."
Hello there.

Currently I am using browserContext.newPage() to create a page. But I came across there's another way to create page which browser.newPage(). Could anyone tell me what's the difference between these two? Thank you.

[2022-06-02 12:32] uzeyirqa commented on #11975
Are there any plans to implement this feature request?

[2022-06-02 12:52] #13927 closed

[2022-06-02 13:00] Mosorathia commented on #14576
My whole scenario of refresh is like it first checks local storage and based on that fires a log.. Is it possible that i launch a browser with extension, hit a url and get/save local storage data.. then relaunch browser without extension and set the local storage data which I got formerly?

[2022-06-02 13:00] PascalvdHoek commented on #13871
@dgozman @aslushnikov any updates on this issue?

[2022-06-02 13:17] Wandang commented on #14352
Thanks for pointing out a few things.

I adjusted my example to be even simpler. I only import Transloco now, threw out the transloco-e2e setup usage. Furthermore I fixed the PlaywrightConfig typeimport and added the module type to package.json.

This is the current error
[code]

It is unclear to me whether the issue lies with Transloco or with Playwright. How can we configure the project to make

[2022-06-02 13:51] eatonjl commented on #14559
Good to know, @KenjiTakahashi. As for the config, I can include mine here. I am using environment variables to dictate the browser and device.
[Link To Config Code](https://carbon.now.sh/?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=cobalt&wt=none&l=application%2Ftypescript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=1x&wm=

[2022-06-02 14:29] gegoncalves opened #14583 "[BUG] Html report does not mark report tree correctly if assertion is missing await"
**Context:**
- Playwright Version: 1.22
- Operating System: Windows
- Node.js version: v16.14.1
- Browser: All
- Extra: Using custom fixtures and POM

**Describe the bug**

1. Using `test.step()` , Html report does not mark with X failed actions that are nested. In this case is just 2 levels but with more levels all of them has a green mark, excluding the root action

<img src="https://user-images

[2022-06-02 14:48] ptc-aramachandra commented on #14569
Is there a solution for this ? Or is this a feature to include in the future ?

[2022-06-02 14:58] gegoncalves opened #14584 "[Feature] Allow test run to continue the case execution if a test.step() fails"
It would be nice to have a flag or something that could be use to allow a test run go trough all the `test.step()`, even if any of them fail.

Something like: `test.describe.configure({ mode: 'continue' });` 😄

The reason for this request is explained in this comment from the first line until the first bullet point: https://github.com/microsoft/playwright/issues/14508#issuecomment-1144617999

[2022-06-02 14:58] #14574 closed

[2022-06-02 15:01] IuliiaBondarieva opened #14585 "Playwright proxy IP address"
**Context:**
- Playwright Version: @playwright/test@1.22.0
- Operating System: Mac
- Node.js version: v16.13.2
- Browser: Chromium

We have a problem to access our e2e tests 'cause it seems to be not whitelisted from one of VPNs.
We are also using whitelisted VPN at work, but it still doesn't solve the problem.

If I try to run playwright locally in chrome browser it shows the same IP as my local

[2022-06-02 15:04] dmallavarapu commented on #14562
Thank you for the immediate response.

For testing, I deleted `test-results` folder and the report worked fine. Thanks for clarifying that. However `test-results` is the parent folder of all our results including other run results. Is there a way we can avoid this creation of intermediate assets under `test-results `? Why is playwright remembering '`test-results`', even if for the temp assets?

Al

[2022-06-02 15:07] eatonjl commented on #14559
I tried a change to see how it would react. I removed the environment variables, had three projects (one for each browser types) and indicated the project in the TeamCity settings. The results were a little different, but still not good. It ran the first three tests before ignoring the rest (whereas before it only ran the first one). However, the failure message for all three was the same as the f

[2022-06-02 15:07] MaksymChepilDevPro opened #14586 "[Feature] allow to NOT restart before and after hooks on test failure and rerun"
A bit of info from the documentation:
BeforeAll hook [test.beforeAll(hookFunction)](https://playwright.dev/docs/test-retries).
Note that worker process is restarted on test failures, and beforeAll hook runs again in the new worker. Learn more about

Test retries [Failures](https://playwright.dev/docs/test-retries#failures)
Should any test fail, Playwright Test will discard the entire worker proces

[2022-06-02 16:06] abdullah2993 opened #14587 "[Question] Writing test inside a class method"
I have my tests setup something like this
[code]

[code]

When I run the tests they fail with the following error
[code]

I'm not sure why it isn't working or is this kind of structuring even supported? is there a better way of doing this?

[2022-06-02 16:40] ramnutheti opened #14590 "Not able to run test with npx playwright test, error First argument must use the object destructuring pattern: _a"
**Context:**
- Playwright Version: [1.22.1]
- Operating System: [e.g. Windows, Linux]
- Node.js version: [e.g. 16.4]
- Browser: [ Chromium]
- Extra: [Microsoft Visual Studio Professional 2022 (64-bit) Version 17.0.5]

System:
    OS: Windows 10 10.0.19044
    Memory: 4.33 GB / 15.73 GB
  Binaries:
    Node: 16.14.0 - C:\Program Files\nodejs\node.EXE
    npm: 8.3.1 - C:\Program Files\nodejs\npm.CMD

[2022-06-02 16:58] aslushnikov commented on #14532
if we fix it for you, we will mask a significant underlying problem in your tests and you will never find it. 💁‍♂️

[2022-06-02 16:58] #14532 closed

[2022-06-02 17:06] aslushnikov commented on #14572
@pkerschbaum We do not prioritize this feature since we focus on e2e tests for now, so let's wait and collect some upvotes.

[2022-06-02 17:07] mike1808 commented on #14563
@aslushnikov I don't think so. I have tried all available chrome channels and also tried re-installing. Also, this issue happened with my other teammates.

[2022-06-02 17:17] dgozman commented on #14504
@kryaksy The problem here is [this `test.use()` call](https://github.com/kryaksy/playwright-digest-do-not-match-repro/blob/master/src/fixtures/index.ts#L45). Because it is in a shared fixtures file, it is only executed during the first `require()` of that file (`dummy.spec.ts`), so the use overrides apply to the first test file that required the fixtures, but not the others. Unfortunately, that le

[2022-06-02 17:29] KenjiTakahashi commented on #14559
It looks to me like it's somehow related to tests code and/or `node_modules` being inside a mounted volume.
What I did:
1. `npm init -y playwright@latest pwtest` (leave all at default)
2. `cd pwtest`
3. `docker run --rm -it -v $(pwd):/code/ mcr.microsoft.com/playwright:v1.22.2-focal /bin/bash`
4. [Inside container] `cd /code/ && npx playwright test --project firefox`
5. No profit :-(.

[2022-06-02 17:49] RichFlickstein commented on #4959
This is a blocker issue for us adopting Playwright. Can you consider re-opening this and addressing it?

[2022-06-02 17:49] christopher-r-doucet commented on #14388
@aslushnikov

`test('Juniper 3', async ({ page }) => {
        await page.goto('https://alexmartinezseller2.carrot.com/');
        const img = page.locator('img.wp-image-1558');
        //const img2 = page.locator('img.wp-image-1564');
        //const img3 = page.locator('img.wp-image-1565');
        const img4 = page.locator('img.wp-image-1704');
        const img5 = page.locator('img.wp-image-15

[2022-06-02 18:05] tiger360 opened #14592 "[Question] wait for element value text to be NOT empty"
Hello 😎,
Is there a way to wait until the element value is not empty ,
I tried with "waitForFunction " but I had an error :  page.waitForFunction: call to eval() blocked by CSP
It's on youtube and using Firefox on Ubuntu 20.04.
[code]
Thanks

[2022-06-02 18:08] davidhprotective opened #14593 "[Question] Can we intercept and modify API response with Playwright in .NET version"
I went through this documentation here: https://playwright.dev/dotnet/docs/network and checked the same link for the Node.js version. I noticed that "Modify responses" is missing in the .NET version.

First, just so that I understand the feature correctly, is that what intercepting API response and modifying it with whatever we would like to display, such as mocking a server error?

Second, was th

[2022-06-02 18:19] vigsubramani opened #14594 "Condition not activating the button when called from PlayWright"
Hi Team,

On our website, we have a condition that when the userid and password are present, then only the button will enable. This condition satisfies perfectly on manual actions everytime. But, whenever we are calling the FillAsync from PlayWright, it is not working. So, the button looks unclicked until, we perform key press activity on the password field and then the code start to initiate.

He

[2022-06-02 18:27] jkilada commented on #14559
I am also trying to run tests in a CI environment with the docker container bind mounting the source directory, and experiencing this same issue.

[2022-06-02 18:34] eatonjl commented on #14559
@aslushnikov Do you feel you have enough from these comments to reproduce the issue? Please let me know if you need more. @KenjiTakahashi and @jkilada, thank you for your help in figuring out how to reproduce.

[2022-06-02 18:40] bezyakina commented on #14485
@aslushnikov
Because we take long screenshots, out of the box full-screen screenshots don't work correctly with mobile webviews, so we have to scroll, then take a screenshot, repeat and at the end combine all the screenshots into one big screenshot. This operation can take up to a minute. Since the tests are stable, if the layout is broken, then there is no point in repeating the test, because we

[2022-06-02 18:53] bibiali opened #14596 "[BUG] Requirejs complains Mismatched anonymous define() after upgrade to 1.21.1 related to cssTokenizer"
**Context:**
- Playwright Version: 1.21.1
- Operating System: Windows, Linux & Mac
- Node.js version: 14.17.0
- Browser: Chromium
- Extra: This was working with Playwright versions 1.20.1

**Describe the bug**
Under certain conditions, when running a test and launching the browser, I see this in the console
[code]

If I inspect the code on the launched chrome browser, I see that there is injected

[2022-06-02 19:08] almiller9 opened #14597 "[BUG] Chromium removing origin header when POST for login token"
**Context:**
- Playwright Version: [1.22.2]
- Operating System: [ Windows]
- Node.js version: [e.g. 10.7.0]
- Browser: [Chromium]
- Extra: [Doesnt happen in Webkit or Firefox]

**Code Snippet**

[code]

**Describe the bug**

Our application uses Microsoft to create a token for sign on by calling a token endpoint
POST https://login.microsoftonline.com/***/oauth2/v2.0/token)

In desktop version of c

[2022-06-02 19:39] mike1808 commented on #14566
@yury-s sorry, I realized that I was using `--disable-web-security` which made the browser not to add `origin` header. I am not sure if it's intended behavior for chore or not, but it's not related to playwright.

[2022-06-02 19:39] #14566 closed

[2022-06-02 20:28] typetetris commented on #3265
I was trying to get the `readyState` property of an `video` element. The following worked for me

    const remoteVideo = page.locator('video.remote');
    const readyState = await remoteVideo.evaluate(e => (e as HTMLVideoElement).readyState);

[2022-06-02 21:14] mxschmitt commented on #14593
In version 1.23 this feature gets released for Playwright for .NET. It should get released in 1-2 weeks.

[2022-06-03 00:21] pavelfeldman commented on #14352
It my repro above, I don't use Playwright at all, and I get the same error about flatten. So I believe the issue is with how `transloco` consumes `flat`. Playwright is not even mentioned in my (and your) snippet.

[2022-06-03 00:22] pavelfeldman commented on #14352
I'll close this as not a bug, please feel free to file a new issue and link this one if you discover Playwright has anything to do with the problem!

[2022-06-03 00:22] #14352 closed

[2022-06-03 00:31] pavelfeldman commented on #14416
@lmiller1990 thanks for following up!

That's what I started with, and then eventually it evolved to what we are doing. Overall, using Vue Test Utils in Playwright would be great! However, as I explain above, wiring it to Playwright is not the same as wiring it to TL or Cypress. Our tests run in Node and our components run in the browser. You can't simply pass the plugins, directives, etc between

[2022-06-03 00:37] #14143 closed

[2022-06-03 00:39] pavelfeldman commented on #14143
Tomorrow at this time, you'll be able to give it a try via installing `npm i --save-dev @playwright/experimental-ct-vue2@next`

[2022-06-03 00:49] harir5 commented on #14535
@aslushnikov @vsravuri - thank you so much for providing a solution. we are in the process of implementing it. In the meantime, we thought of using a workaround to resolve the issue. just wanted to run it by you folks.

we have _concurrently_ installed as a part of our node modules.

in our package.json file, we have provided the following commands :

"run-module1": "npx playwright test --workers=

[2022-06-03 01:04] vsravuri commented on #14535
@harir5

This is how my package.json looks like. project1 and project2 are defined in playwright.config file, 'npm run sample_test' will invoke two workers, one worker for each project.

`"sample_test" : playwright test --config=./pw_config.js --project=project1 --project=project2 --workers 2`

[2022-06-03 04:13] #14355 closed

[2022-06-03 04:14] #14549 closed

[2022-06-03 04:15] mattd233 opened #14613 "[Question] Clearing cache for electron app"
I wonder if there is a way to clear the cache of the electron app after you run each test.
The electron documented something like this, but I'm not sure how to access `app session` in playwright.

[code]

[2022-06-03 04:57] harir5 commented on #14535
thanks @vsravuri - much appreciated.

[2022-06-03 05:45] sounddrill31 commented on #13024
This worked, thanks!

[2022-06-03 06:03] rommels-pageup opened #14615 "[Question] Time out on CI"
does anyone have an experience on this kind of issue? where on my CI the playwright is timing out, as usual everything works on my local.

note that:
npm run  is executed before the playwright test is called .

![image](https://user-images.githubusercontent.com/89371423/171795965-ba62fcae-81ea-4d18-aebc-ef775d9d29e5.png)

tia... :)

[2022-06-03 07:11] dimkin-eu commented on #14532
So, there are no options, to not include traces from other specs in report? Then this must be shown in some documentation/troubleshooting - `if you getting extra unrelated traces, search for not properly used fixtures` or something

[2022-06-03 07:36] dimkin-eu commented on #14532
and another inconsistency ( or feature )( or i getting it wrong :) )

to reuse single page
https://playwright.dev/docs/test-retries#reuse-single-page-between-tests

[code]

to create one more

[code]

should 1st case also use context ?

[2022-06-03 07:52] mxschmitt commented on #14593
This is possible today see here: https://playwright.dev/dotnet/docs/network#handle-requests

[2022-06-03 07:53] KingsonSamuel opened #14616 "[BUG] - Failed to download Chromium 102.0.5005.40 (playwright build v1005)"
**Context:**
- Playwright Version: [v1.22.0]
- Operating System: [Windows]
- Java version: ["1.8.0_121"]
- Browser: [ Chromium]
- Extra: [Executing from a company or enterprise]

**Code Snippet**

Playwright playwright = Playwright.create();

		LaunchOptions launchOption = new LaunchOptions();
		launchOption.setChannel("chrome");
		launchOption.setHeadless(false);
		Browser browser = playwright.ch

[2022-06-03 07:54] KingsonSamuel commented on #14616
Please help me with this issue asap as we are having less timeline to evaluate a tool for automating an Application. Thanks!

[2022-06-03 08:42] aslushnikov commented on #14615
@rommels-pageup there might be lots of different issues that manifest themselves as a timeout on CI:

- your test uses a URL that is inaccessible on CI. To debug this, use [Playwright Tracing](https://playwright.dev/docs/api/class-tracing).
- your CI hardware is over-saturated, so everything is just very slow there. Make sure not to run with too many workers

It's hard to recommend anything beyond

[2022-06-03 08:42] #14615 closed

[2022-06-03 08:51] aslushnikov commented on #14613
@mattd233 From Playwright point of view, this is how you can evaluate in the main Electron process:

[code]

This should be enough to use various electron APIs. I can't comment on Electron specific API's though since I don't have much experience, so I'll close this for now. Please re-file if you think that we still can be helpful!

[2022-06-03 08:51] #14613 closed

[2022-06-03 08:54] aslushnikov commented on #14597
@almiller9 could you please create a small reproduction script that I can run locally to see this for myself?

Also, note that if you use `--disable-web-security` flag in Chrome, than `origin` header will not be sent.

[2022-06-03 09:00] KingsonSamuel commented on #14616
@aslushnikov Hey I could able to download Chromium-win64.zip file by clicking on the link you shared.

[2022-06-03 09:00] lefado opened #14617 "Error on GH action when running playwright tests"
I am using your package in order to run playwright tests on Github Actions. However, I am getting error
[code]

Error is not intuitive to debug, since code line causing error is not being displayed. I wonder if you have seen this issue before.

Thanks in advance

[2022-06-03 09:06] KingsonSamuel commented on #14616
But I cannot able to navigate to the URL-
i.e - When I try to access

**URL**  https://playwright.azureedge.net/builds/chromium/1005/
 I get below error
<Error>
<Code>BlobNotFound</Code>
<Message>The specified blob does not exist. RequestId:e39b2268-601e-002f-6928-777568000000 Time:2022-06-03T09:03:01.4926854Z</Message>
</Error>

Also

**URL**  https://playwright.azureedge.net
I get below error :

[2022-06-03 09:11] aslushnikov commented on #14592
@tiger360 you should use [web-first assertions](https://playwright.dev/docs/test-assertions) for this:

[code]

[2022-06-03 09:18] aslushnikov commented on #14587
@abdullah2993 this structuring is not supported; you have to define all tests synchronously in the file. You can, however, use `expect` calls inside your classes with no problem.

So for your usecase, just remove the `test` call from-inside of your class methods:

[code]

[2022-06-03 09:22] aslushnikov commented on #14586
cc'ing @dgozman as this might be another use-case for global fixtures.

[2022-06-03 09:38] aslushnikov commented on #14585
@IuliiaBondarieva Playwright doesn't do anything special - it just controls a browser. However, headless browser has a different user agent, reports a different set of cookies, and so on - so servers can rely on these hints and change behavior.

First of all, I'd recommend trying to run headed version of chrome browser, and alternatively to try running [stable chrome channel](https://playwright.de

[2022-06-03 09:42] ferrykranenburgcw opened #14618 "[BUG] Playwright can not find test by name via command line (-g)"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Windows
- Node.js version: 16
- Browser: Chrome

**Code Snippet**

Help us help you! Put down a short code snippet that illustrates your bug and
that we can run and debug locally. For example:

[code]

**Describe the bug**

It look like the `-g` command line option does not work correctly any more. It does not find tests with all the gi

[2022-06-03 10:13] aslushnikov commented on #14582
@ooo2003003v2 the `browser.newPage()` is a shortcut for the following:

[code]

[2022-06-03 10:14] aslushnikov commented on #14508
Folding this into https://github.com/microsoft/playwright/issues/14584!

[2022-06-03 10:14] #14508 closed

[2022-06-03 10:16] aslushnikov commented on #14584
@gegoncalves You can use [`expect.soft`](https://playwright.dev/docs/test-assertions#soft-assertions) inside the steps, and they will continue running. Would it work for you?

[2022-06-03 10:28] aslushnikov commented on #14616
@KingsonSamuel Can you also download it via powershell?

[2022-06-03 10:29] aslushnikov commented on #14617
@lefado no, I've never seen it before. Any more details to help us debug it?

[2022-06-03 10:35] gegoncalves commented on #14584
@aslushnikov unfortunately no. If was only the assertion that would be nice. However, if there is any timeout before the other steps, it is going to stop the run.

nonsense code example: 4th line gonna timeout and stop the execution
[code]

[2022-06-03 10:39] aslushnikov commented on #14618
@ferrykranenburgcw I experimented with multiple Playwright versions (1.18, 1.20, 1.22), and no matter what I do, I always get a single test to be run.

Here's my test suite:

[code]

This is the command I run:

[code]

So is this a regression?

[2022-06-03 10:42] aslushnikov commented on #14577
@kbrueckner yeah, no guarantees with jest. We don't test this setup at all; all our focus is at @playwright/test.

I'll close this then; feel free to re-file if you think we can be helpful!

[2022-06-03 10:42] #14577 closed

[2022-06-03 10:43] aslushnikov commented on #14576
@Mosorathia Yep, you can do this using the [storage state API](https://playwright.dev/docs/api/class-browsercontext#browser-context-storage-state)

[2022-06-03 10:45] aslushnikov commented on #14563
@mike1808 I see you run the `1.23.0-alpha-may-31-2022` Playwright version. Does it repro for you with the Playwright v1.22?

[2022-06-03 10:52] aslushnikov commented on #14559
**Everybody:** I see you all mount the source folder inside the container. Do you run `npm i` inside the container as well? If not, could you please try running `npm i` and check if the issue goes away?

[2022-06-03 10:54] aslushnikov commented on #14584
@gegoncalves ah, yes. In this case you'll have to fallback to using tests instead of steps. There are no plans to make test execution continue on step failure (aka `test.step.soft`)

[2022-06-03 10:57] aslushnikov commented on #14485
@bezyakina I see. So far test retries cannot be configured dynamically, and there are no immediate plans to do so.

The best workaround I can think of is to split out the screenshot tests into a separate project and configure it with no-retries policy. Would it work?

[2022-06-03 10:59] aslushnikov commented on #14388
@christopher-r-doucet So this implies there's something wrong with your WSL. Is it WSL or WSL2? Note that things might be terribly slow under WSL, but should work fine in WSL2!

[2022-06-03 11:03] aslushnikov commented on #14532
@dimkin-eu The `browser.newPage()` is just a shortcut for

[code]

So that's more or less the same.

[2022-06-03 11:05] aslushnikov commented on #14541
@Smrtnyk I do agree it's weird! Maybe the CWD is different between the runs / affected sporadically by something?

[2022-06-03 11:06] aslushnikov commented on #14569
I don't think there's a solution; feel free to upvote the #8278 to get notified on the updates there!

[2022-06-03 11:07] gegoncalves commented on #14584
Ah ok. That way I will be back to the problem of multiple instances of browsers being used from the issue https://github.com/microsoft/playwright/issues/14508#issuecomment-1144617999

I need to figure out how to [reuse single page between tests](https://playwright.dev/docs/test-retries#reuse-single-page-between-tests) using custom Fixtures. Unfortunately, is not possible to do using context or pag

[2022-06-03 11:09] aslushnikov commented on #14547
Permalink to the code: https://github.com/microsoft/playwright/blob/e69c3f12e6f07ee9e737446ba22f20cb669d7211/packages/playwright-test/src/loader.ts#L292-L295

cc'ing @pavelfeldman who might have more context

[2022-06-03 11:14] bhvngt opened #14621 "[BUG] Support for vite plugins and svelte preprocess"
**Context:**
- Playwright Version: [what Playwright version do you use?] 1.22
- Operating System: [e.g. Windows, Linux or Mac] Mac
- Node.js version: [e.g. 12.22, 14.6] 18.2
- Browser: [e.g. All, Chromium, Firefox, WebKit] Chromium
- Extra: [any specific details about your environment] svelte-kit, vite, unocss

## System:
 - OS: macOS 12.4
 - Memory: 623.73 MB / 32.00 GB
## Binaries:
 - Node: 18.2

[2022-06-03 11:28] surfmuggle commented on #5178
It seems that `npx playwright codegen allready <url>` uses `data-test` as  a selector.

This markup

[code]
resulted in

[code]

[2022-06-03 11:43] Phonesis commented on #14483
Yeah fantastic work turning this around so quick

[2022-06-03 11:46] gegoncalves commented on #14559
We did it and it is working ok. By the way: we were at the 1.21 - we changed to the 1.22 and `npm i`

@aslushnikov

[2022-06-03 11:56] ferrykranenburgcw commented on #14618
After running `npx playwright install` it works correctly now. I don't know what happened but it works. Thanks.

[2022-06-03 11:56] #14618 closed

[2022-06-03 12:07] jithinjosejacob opened #14622 "[Question] Can we connect to real mobile devices in Browserstack"
Is there a way to connect to real mobile devices in Browserstack instead of using Device Emulation feature

[2022-06-03 12:10] jithinjosejacob opened #14623 "[Question] Can we create multiple APIRequestcontext in same config file for API Testing"
I need to write API Tests for 2 different user roles. I have 2 different user roles. One is admin and other one is guest.

I need to create 2 different APIContexts in config file so that I can call them from tests.

something like requestadmin, requestguest.

Is this feasible. Current playwright official example shows creation of one Apicontext, and then using the request in the tests

[2022-06-03 12:15] aslushnikov commented on #14552
@Kranael you can use [`test.use()`](https://playwright.dev/docs/api/class-test#test-use) right next to the test you want to auth. Like this:

[code]

Would it work for you?

[2022-06-03 12:15] aslushnikov commented on #14552
@Kranael you can use [`test.use()`](https://playwright.dev/docs/api/class-test#test-use) right next to the test you want to auth. Like this:

[code]

Would it work for you?

[2022-06-03 12:21] aslushnikov commented on #14544
@Arroheim You shouldn't close the page you got from fixture; since you close it, Playwright can't take screenshot.

So your `googlepage` fixture should be like this:

[code]

[2022-06-03 12:28] aslushnikov commented on #14580
@ritikkumarsahu does it happen for you without proxies? I tried a few snippets but i failed to repro this.

Any chance you can build a repro that I can actually run locally to debug it?

[2022-06-03 12:31] eatonjl commented on #14559
I am not sure I understand (I am pretty new to this ). In Teamcity I have to commands for the build step. The first is **npm ci** and the second is **npx playwright test tests/smoketestshould.spec.ts --project=firefox**
Are you saying I should replace **npm ci** with **npm I** in the build step in TeamCity?
Also, would your recommend we not mount the source folder inside the container?

[2022-06-03 12:36] jatin-karla11 commented on #14477
I don't have knowledge w.r.t. docker image since I run on Jenkins.
https://github.com/microsoft/playwright/issues/13875

this is the same kind of error that I am getting, can you check this?

[2022-06-03 12:36] loxinchi commented on #14479
@aslushnikov  Thank you so much for your timely reply.

After took off `networkidle` call, `await expect(page).toHaveURL(/new\/sign/);` works fine.

I updated my repo to add the locator assertion.
I noticed that `toBeVisible()` doesn't seem to have auto wait because the global expect timeout, and I had to add `waitFor()` to pass the test.

What's the difference between `waitFor()` and  auto wait i

[2022-06-03 12:44] aslushnikov commented on #14479
@loxinchi [web-first assertions](https://playwright.dev/docs/release-notes#-web-first-assertions) are much more flexible then [`locator.waitFor()`](https://playwright.dev/docs/api/class-locator#locator-wait-for). That's a "Swiss knife" of Playwright Test!

[2022-06-03 12:45] aslushnikov commented on #14477
@jatin-karla11 That one I already tried and was not able to repro. :( I hoped you can shed more light on what's going on there!

[2022-06-03 12:49] aslushnikov commented on #14559
@eatonjl No, `npm ci` works well.

This is a fine practice, however all the build artifacts have to be re-built inside container. The `npm i` / `npm ci` is the command to build artifacts inside.

[2022-06-03 12:52] eatonjl commented on #14559
@aslushnikov that is good to know. So, should what I am doing work, or am I also supposed to put an `npm I` somewhere else as well?

[2022-06-03 12:57] aslushnikov commented on #14559
@eatonjl it all should work, at least from the Playwright side.

I unfortunately don't have much experience with TeamCity, so I won't be able to suggest much there. But it looks like something is wrong in the TeamCity configuration.

[2022-06-03 12:58] niranjan94 opened #14624 "[BUG] Network interception breaks multipart requests"
**Context:**
- Playwright Version: `1.22.2`
- Operating System: Mac
- Node.js version: `v16.13.0`
- Browser: Chromium & WebKit _(works as expected on firefox)_

**Code Snippet**

[code]

**Describe the bug**

- The code to reproduce is straightforward. All requests are intercepted and passed through without any modifications
- On chrome & webkit, I see that the final request being sent to server i

[2022-06-03 13:00] eatonjl commented on #14559
Earlier I included the pull and run commands used in TeamCity. According to what you see below, do you think I would need to add `npm I` to the run command after it pulls the Playwright Docker image?
`/bin/sh -c "docker pull mcr.microsoft.com/playwright:v1.22.0-focal
&&
. /opt/buildagent/temp/agentTmp/docker-wrapper-4487303948225419876.sh
&&
docker run --rm -w /opt/buildagent/work/6f7a18f2c8f56a5c

[2022-06-03 13:02] aslushnikov commented on #14533
@bshostak so could you please show me all your source code so that I can debug it locally?

[2022-06-03 13:07] aslushnikov commented on #14559
@eatonjl The `npm i` has to be inside container; the command you showed me runs outside the container. So adding `npm i` won't change anything.

Could you please show the steps you run inside the container?

[2022-06-03 13:10] abdullah2993 commented on #14587
understood, are there any plans on adding support like this, where we can generate multiple tests at runtime? This is really helpful in structuring the code better and removes a lot of copy paste

[2022-06-03 13:14] aslushnikov commented on #14624
I can repro on tip-of-tree.

[2022-06-03 13:17] aslushnikov commented on #14587
@abdullah2993 Not at runtime, but you can create [parametrized tests](https://playwright.dev/docs/test-parameterize#create-tests-via-a-csv-file). As long as you generate tests synchronously, it should all work!

[2022-06-03 13:22] PavanMudigondaTR commented on #14483
sorry i saw video file getting generated but white screen in 1.22 i will check when 1.23 arrives.

[2022-06-03 13:32] purepear opened #14625 "[Feature] Allow request interception chaining (was 'based on request method')"
Currently `page.route(url, handler, options)`/`browserContext.route(url, handler, options)` intercept routes based on url alone. It would be great if we have the ability to intercept based on any request properties like `method`, `header`, etc.

## Use case
A use case would be the common REST scenario where we want to intercept both `GET /items` and `POST /items`.

Very simplified example:
[code]

[2022-06-03 13:32] eatonjl commented on #14559
@aslushnikov, well I thought I just did. Like I said, I am pretty new to this. There are three parts in TeamCity that may be relevant here. The first is the shell script. That is where I run the `npm ci` and `npx playwright test tests/smoketestshould.spec.ts --project=firefox` commands. Then there is the "Run step within Docker container:" area. This is where the "mcr.microsoft.com/playwright:v1.2

[2022-06-03 13:36] eatonjl commented on #14559
According to TeamCity documentation, it runs those two commands in the Docker container:
"Run step within Docker container | Specify a Docker image name as stated in Docker Hub. TeamCity will start a container from the specified image and will try to run this build step within this container."
https://www.jetbrains.com/help/teamcity/2022.04/docker-wrapper.html#Docker+Settings

[2022-06-03 13:42] purepear commented on #14625
Another option:
* Non-breaking change: adding `options.method`

[2022-06-03 13:51] davidhprotective commented on #14593
Thanks.

Then, can you please help me understand the difference between handling requests vs mocking/modifying API responses?

Thanks.

[2022-06-03 13:55] vitalics commented on #14158
Close this issue, as playwright team mentioned - they are not ready to implement such selectors. So Based on attached PR, custom engine is available by link: https://github.com/vitalics/playwright-angular-selectors

[2022-06-03 14:11] ramnutheti commented on #14590
I have 4 test files classified based on there functionality and all of them under tests folder

![image](https://user-images.githubusercontent.com/98409766/171871012-d7eb6f04-a581-4839-a5ab-e565b88e7d88.png)

[2022-06-03 14:13] casmeiron opened #14626 "[Question] How to force the download of certain files? XML Files are not triggering download but opening directly on browser."
Hi guys,

I have to download several kinds of files with playwright, and all it's working as I expected but XML.
When I click on some link that's linking to a XML file, the playwright is not handling it like it handles the other types. ( I call page.waitForDownload and wait till the path is returned).

I suspect it's rendering the XML into the window instead.

Is it possible to force playwright (C

[2022-06-03 14:24] pavelfeldman commented on #14621
When you specify Vite plugins, you take over configuring plugins, all of them. It means that we won't be setting the `svelte()` plugin for you anymore. Try adding `svelte()` from `@sveltejs/vite-plugin-svelte` as the first item of the plugin list.

[2022-06-03 14:27] pavelfeldman commented on #14621
I'm not familiar with it, but how do you integrate it with vite/rollup today? I would imagine that a Vite plugin could do that as well.

[2022-06-03 14:48] bhvngt commented on #14621
This worked like a charm.

You are right. Vite plugin can do this for me. Interestingly, I did not had to do anything. Apparently, picked up my `preprocess` config from `svelte.config.ts`.

Thanks a ton @pavelfeldman.

[2022-06-03 14:48] #14621 closed

[2022-06-03 14:49] Uninen commented on #14621
I had this same problem (`undefined (reading 'httpServer')`) but it was due using mount wrong with Vue. (The examples in the docs only show React syntax, only place where the Vue syntax is shown is [this FAQ ticket](https://github.com/microsoft/playwright/issues/14298).

However, I also use Vite plugins and the component doesn't seem to mount at all. My setup works with a simple component but fail

[2022-06-03 14:57] KenjiTakahashi commented on #14559
@aslushnikov Installing from inside the container does not fix the issue for me.
I did some further experiments.
Using the same example project code from `npm init`, but removed `node_modules` and `package*json`.

`docker run --rm -it -v $(pwd):/code/t/ mcr.microsoft.com/playwright:v1.22.2-focal /bin/bash`

Then inside the container:
1. `cd /code/`
2. `npm i @playwright/test`
3. `npx playwright te

[2022-06-03 15:01] scruel opened #14627 "[BUG] PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD not work"
**Context:**
- Playwright Version: 1.22.0
- Operating System: Windows 10 21H2
- Node.js version: 16.15.1
- Browser: All

C:\Users\user>set PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1
C:\Users\user>playwright install
Downloading Chromium 102.0.5005.40 (playwright build v1005) - 104.1 Mb [                    ] 0% 535.2s Terminate batch job (Y/N)?

**Describe the bug**
Keep downloading browsers after set PLAY

[2022-06-03 15:13] Uninen commented on #14416
I'm looking at converting Cypress component tests over to Playwright and this is basically what would be needed to use [Pinia](https://github.com/vuejs/pinia) in Vue component tests.

This is what the old mount looks like:

[code]

The component mounting just fails if it uses Pinia and the test instance isn't created with `createTestingPinia`. Haven't found a workaround yet but if there is one, I'

[2022-06-03 15:34] gegoncalves commented on #14583
@aslushnikov  I found what is the issue after trying many different things.
It is just because of the `await ` missing in the assertion. Anything that follows the assertion goes inside the node in the html report

Try this:
[code]

<img width="522" alt="image" src="https://user-images.githubusercontent.com/101710983/171889846-54cc76f2-0998-4885-8d01-d19e343f6145.png">

[2022-06-03 15:48] pavelfeldman commented on #14621
@[Uninen](https://github.com/Uninen) could you file a separate ticked w/ a repro I could try? This ticket was about Svelte and is already closed. Btw, this would be a non-JSX syntax example: https://github.com/microsoft/playwright/blob/main/tests/components/ct-vue-cli/src/notation-vue.spec.ts

[2022-06-03 15:56] pavelfeldman commented on #14547
This is expected, with the TypeScript / ESM interoperability, you must say `import type` when you are importing types.

For non-types, you are hitting the `Cannot use import statement outside a module` error. This means that you are importing a JavaScript ESM module from a non-module (TypeScript has nothing to do with it). Only Node modules can import from other modules. Could you share which ones

[2022-06-03 16:14] Kranael commented on #14552
It works as mentioned in my other post i really would like to have test describe just for grouping and test() for all propertys of the test itself. And if i need a global setup i would use your approach.

Maybe it could be renamed refactored to a "feature" instead of "test" and under the feature.describe() -> test.use etc.?

[2022-06-03 16:37] Uninen commented on #14621
I think I found the root issue which is that I need Vue plugins for my component to work and adding those is not currently possible with the current implementation of `mount`. Here's a related comment: https://github.com/microsoft/playwright/issues/14416#issuecomment-1146062955 and here is a PR that demonstrates the problem with a [working](https://github.com/Uninen/vite-ts-tailwind-starter/pull/2

[2022-06-03 16:49] davidhprotective commented on #14593
Ok thanks. Then I am really looking for the difference between handling requests vs modifying responses, one of which is not yet available in .NET version.

[2022-06-03 16:52] hex0cter commented on #14479
@aslushnikov Do you mind elaborating a bit on the purpose of `.waitFor()`? When I looked at the documentation, the default behaviour for [waitFor](https://playwright.dev/docs/api/class-locator#locator-wait-for) seems identical to [toBeVisible](https://playwright.dev/docs/test-assertions#locator-assertions-to-be-visible). They both wait for an element to be visible.

As @loxinchi mentioned in her l

[2022-06-03 17:19] jkilada commented on #14458
Experiencing the same issue here. Test suite works on all browsers in linux CI env but fails for webkit when running on M1 mac.

[2022-06-03 17:20] jkilada commented on #14559
Thanks @KenjiTakahashi for your research. I was able to resolve the issue in a similar manner by ensuring cwd was outside of the bind mount before invoking the tests.

[2022-06-03 18:16] bshostak commented on #14533
@aslushnikov Unfortunately I can't share all the source code since it's behind work stuff, but this repo I created does basically the same functionality with trying to generate an array of strings and then the test just dies as explained previously. Thanks for looking at this.

https://github.com/bshostak/playwrightdemo

[2022-06-03 19:37] pavelfeldman opened #14631 "[Question] Using Vue plugin with Vue component testing"
Original reports: https://github.com/microsoft/playwright/issues/14416, https://github.com/microsoft/playwright/issues/14621

Original message:

I think I found the root issue which is that I need Vue plugins for my component to work and adding those is not currently possible with the current implementation of mount. Here's a related ticket and my comment: https://github.com/microsoft/playwright/i

[2022-06-03 19:38] pavelfeldman commented on #14631
/cc @Uninen

[2022-06-03 19:40] vishnuramvs29 commented on #11692
I am also facing the same issue as [CctavioMoreira](https://github.com/CctavioMoreira). For me v17 works good with Selenium Grid. Please provide a fix for latest versions.

[2022-06-03 19:50] pavelfeldman commented on #14631
Investigation note:

I put a breakpoint after mount and looked at the devtools console:

![step1](https://user-images.githubusercontent.com/883973/171938814-63c20ce0-beeb-4df9-9f28-5501400dacbb.png)
![step2](https://user-images.githubusercontent.com/883973/171938842-afff307c-d85f-4963-b08c-942912b3aa47.png)

Which suggests that `useStore` is being used before `activePinia` was set. I'm not familia

[2022-06-03 20:03] pavelfeldman commented on #14631
@Uninen: I sent you a pull request: https://github.com/Uninen/vite-ts-tailwind-starter/pull/219/commits/44a91ce16c12bc6270d64e12ab70c9020e0cd708

[2022-06-03 20:23] pavelfeldman commented on #14631
Added a section into https://github.com/microsoft/playwright/issues/14298

[2022-06-03 20:23] #14631 closed

[2022-06-03 20:37] pavelfeldman commented on #14627
This flag is about automatic browser download. You are giving an explicit command to download the browsers manually, so it does not respect the flag. If you don't want the browsers to be downloaded, don't call this command.

[2022-06-03 20:39] scruel commented on #14627
[Installation](https://playwright.dev/python/docs/intro#installation)
Everyone start with this....

[2022-06-03 20:42] pavelfeldman commented on #14625
I find the snippet in the proposal to be less readable than the original one - two callbacks per call are harder to work with. Options.method can be added, but I'd like to better understand the exact use cases it addresses.

[2022-06-03 20:43] pavelfeldman commented on #14622
No, there is no such capability.

[2022-06-03 20:43] #14622 closed

[2022-06-03 20:44] cwalker-reveille opened #14632 "[Question] Can Playwrite work with a website using Dynatrace"
I am doing a proof of concept to use Playwrite to test our apps. In particular- testing with a login page that our web app does not currently have. Using your examples, I created a c# test to go to a public transportation site that uses id/password (Its an OAuth2 site if that makes any difference). When I tested the code, I saw the valid user id and password loaded and the login button clicked. Ho

[2022-06-03 20:52] pavelfeldman commented on #14452
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-03 20:52] #14452 closed

[2022-06-03 21:38] yury-s commented on #14328
It looks like it will be fixed with next webkit update (1652).

[2022-06-03 22:12] pavelfeldman commented on #14632
It is more likely that the site you logging into specifically disabled automation tools login. google.com, microsoft.com and other sites would deliberately do that.

[2022-06-03 22:14] pavelfeldman commented on #14627
Yes, but that flag is rarely used, so it isn't mentioned in the well lit path of the tool usage.

Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-03 22:14] #14627 closed

[2022-06-03 22:28] ptc-aramachandra opened #14634 "[Question] Is there a way to handle file chooser on electron applications ?"
Tried the file chooser API on playwright website but did not work. Let me know if someone was able to handle it ?

[2022-06-03 22:30] Treshch1 commented on #1086
@pavelfeldman Trying the code below I get the next browser picture on the Mac
Code:
[code]

Browser displaying:
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/30592600/171962426-943d9f4e-4b45-4778-afcf-5c4cf0fdafb4.png">

Do you see the same picture after running this code?

[2022-06-03 22:32] denis-domanskii commented on #7445
@frassinier could you please reopen the question due to the last comment?

[2022-06-03 22:36] mike1808 commented on #14563
@aslushnikov yes, the result is the same. Are there any flags to make Chrome more verbose to get the error message from it?

[2022-06-03 23:42] denis-domanskii commented on #13362
Probably it may be useful for services initialisations, see here: #7445 . Because fixtures, as I understand, don't guarantee that the code will be called once. Even with a worker scope.

[2022-06-04 01:18] RichFlickstein commented on #4820
This hangs in Webkit on Windows 10. The browser gets created but then it seems to be waiting for something.

[2022-06-04 05:17] alikirec commented on #14252
It's already mentioned in https://playwright.dev/docs/api/class-browsercontext -- at the end of the first code snippet
[code]

[2022-06-04 06:28] scruel commented on #14627
@pavelfeldman  Flag is rarely used? What's your mean? We don't need to execute `playwright install` following the installation part of document said?

[2022-06-04 06:30] scruel commented on #14627
So how can I skip browser download? What flag? `PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD`? Even if it's rarely used, I think it should be work when anyone uses it, right? But it's not? Then issue just closed?

[2022-06-04 07:46] aslushnikov commented on #14590
@ramnutheti ok, could you please create a repository with the test files that reproduces the issue so that we could debug it locally?

[2022-06-04 08:23] evanfuture commented on #11809
I did it this way:
[code]

[2022-06-04 08:24] aslushnikov commented on #14563
@mike1808 you can try running `DEBUG=pw:browser npx playwright test` to get logs from the browser.

Also, can you try opening your stable chrome manually? Does it open?

[2022-06-04 09:22] evanfuture commented on #11809
Found an even easier way, just drop this into your describe block or above your tests:
```test.use({ storageState: { cookies: [], origins: [] } });```

[2022-06-04 12:00] Uninen commented on #14631
Thank You for the help and the added docs for the Vue community @pavelfeldman 🙏

The Playwright team and community is amazing. Keep up the good work and kudos to the whole team for such a great product 👍

[2022-06-04 12:02] Mone71 commented on #14631
Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ville Säävuori ***@***.***>
Sent: Saturday, June 4, 2022 7:01:04 PM
To: microsoft/playwright ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [microsoft/playwright] [Question] Using Vue plugin with Vue component testing (Issue #14631)

Thank You for the help and the added docs for the Vue community @pave

[2022-06-04 12:24] Raghu-GreatLearning opened #14636 "issue while using browser.newContext([options])"
What I am trying to do :
- wants to visit a website from a different location.
Tried different ways but it's not working.

[code]

[2022-06-04 12:27] Uninen commented on #9208
The guide uses `babel-plugin-istanbul` which is not helpful for modern projects that don't use babel (like Vite / esbuild). It would be nice to have a way to use for example [c8](https://github.com/bcoe/c8) instead.

[2022-06-04 12:58] ksdaftari opened #14640 "Recommendations for installing on RedHat8 Linux"
I know officially only support installation for Ubuntu Linux, but wondering if there are recommendations/approaches for to get working on other Linux distributions like RedHat 8? Also just curious will there be possibility to support other Linux distorts in future? Also is it just that user have to have build scripts/etc themselves or is there going feature set that inherently wouldn't work on oth

[2022-06-04 14:26] manuca opened #14637 "[Question] Conflict with existing Jest tests and mjs modules with js extension"
I'm adding Playwright to an existing Vue 2 project but I'm having issues when I run tests.

There are internal Jest test files with `js` extension but in `mjs` format. Those Jest tests are in `__tests__/` directories scattered around the project. Jest picks them up just fine when it runs but I'm guessing that works due to some Babel magic (just guessing). Anyway, just pointing out that I didn't ha

[2022-06-04 15:10] tiger360 commented on #14592
oooh awesome thank you very much, I did not know about it 😉
Is it mandatory to use it with : test('example test', async ({ page }) => { }
because I have this error message :
`Error: toHaveAttribute must be called during the test`
My code is running in a regular js file.

[2022-06-04 15:30] pavelfeldman commented on #14637
Your testDir is misplaced, should be one level higher. Use types via TS or JSDoc as in our examples to make working with config easier!

[2022-06-04 15:34] pavelfeldman commented on #14636
Why do you think it is not working? Btw, your test creates browser (expensive) and does not close it (bug). Better to go simpler:

[code]

[2022-06-04 15:37] manuca commented on #14637
Thanks @pavelfeldman that made it work!

[2022-06-04 15:37] #14637 closed

[2022-06-04 15:49] #14065 closed

[2022-06-04 16:12] mxschmitt commented on #14642
If you remove the `preexec_fn` does it work then?

[2022-06-04 16:25] Raghu-GreatLearning commented on #14636
Thanks for the quick reply.
It worked.

[2022-06-04 16:28] #14593 closed

[2022-06-04 16:40] Kranael commented on #14632
Sry for highjacking this question but i would like to know why they do this and how you can bypass it with playwright.

[2022-06-04 17:07] Kranael opened #14643 "[Question] logged in fixture / how to create a worker scoped function"
Hi i try to create a fixture named something like "loggedInPage":

Given your documentation: https://playwright.dev/docs/test-fixtures#worker-scoped-fixtures

[code]

[2022-06-04 17:19] Raghu-GreatLearning commented on #14636
@pavelfeldman
this geolocation feature is changing only browser's location, on maps it show that location. If I try visiting some website like google.com or YouTube, I expect to see a version that's made of country specific users but I can only see website based on my ip not on browser location.

[2022-06-04 17:56] creage opened #14644 "[Feature] Browser name in testcase name in JUnit reporter"
We run PW tests using Azure DevOps, and there is only one compatible reporter we can use so far, is JUnit.

It works fine, except that it doesn't write the browser name which were used for executing a test, to the `<testcase name="">`, leading to not very friendly view:

<img width="573" alt="image" src="https://user-images.githubusercontent.com/910967/172019578-215c926f-11fe-412c-9359-aaf9e523392

[2022-06-05 00:09] weitaifu opened #14647 "屏幕分辨率设置不当，有些部分不可见"
**Context:**
2022/6/4安装了playwright,录制代码时，发现它设置的**_分辨率不当_**，以致于下部有些部分看不见，因而无法操作。手动缩小到80%，可以看见这些部分。可以进行到下一步，问题依然，重新录制，不能保持修改的设置。人家都说playwright超过selenium许多。然而我立即卸载了playwright和pytest-playwright。**playwright比selenium IDE差很多。无法修改代码**，比如追加条件和循环，**参数无法更换**，playwright喜欢用文本定位（比如下拉框select),以致于代码太长。许多注释往往也是很长，往往也是参数造成的，似乎抓不住关键。似乎**无法重新执行录制的代码**。而且仅有的一次重新执行就出错。**智能等待并没有出现在代码中**，而实际上等待是执行成功的一个十分关键的因素。人家使用录制功能，主

[2022-06-05 09:14] PaperStrike opened #14651 "[Question] Safe invisible two way communication"
I wonder if there's an API, or a workaround, that allows a script in the page to communicate with Playwright directly, passing messages between one another through two-way channels, like [Channel Messaging API](https://developer.mozilla.org/en-US/docs/Web/API/Channel_Messaging_API).

I considered `WebSocket`, with which we can connect a Node.js server. By that the script can send messages to Playw

[2022-06-05 11:56] ngadiyak opened #14652 "[BUG] testMatch doesnt load tests from several folders"
**folders structure**
[code]

**in config:**
`testMatch: /.*.test.js/ `

`npx playwright test` runs tests only from **folder 1**. If I deleted **folder 1**, it will run tests from **folder 2**

what exactly i am doing wrong way or is it a bug?

[2022-06-05 12:30] #14652 closed

[2022-06-05 12:57] szamacz commented on #14586
From my side, I would add that while it is a great idea to restart the worker in case of failed UI test, this doesn't make much sense when it comes to failed API test.

[2022-06-05 13:18] vinismarques commented on #6319
I'm also facing this issue with Python.
Node.js JavaScript Runtime consumed more than 4 GB of RAM before crashing. My use case is scraping, so I only need to open one Browser, one Context, and one Page. After that, I should be able to navigate through the website without a problem. But what I'm actually seeing is that the RAM usage for Node.js JavaScript Runtime keeps growing.

[2022-06-05 15:13] pavelfeldman commented on #14651
Could you share why exposeFunction's visibility is a problem?

You can poll using evaluate, if you organize an event queue (array of outgoing messages) on the page side, you'll be picking all the events and you'll never miss any.

[2022-06-05 15:16] pavelfeldman commented on #14647
Please use GitHub Issues to file bugs or feature requests!

[2022-06-05 15:16] #14647 closed

[2022-06-05 15:45] PaperStrike commented on #14651
Thank you for your suggestion! Your event queue idea is really inspiring!

exposeFunction's visibility isn't a real problem. It turns out that it's just me feeling uncomfortable for introducing any global variable / function. The complexity may make me ended up using it or webSockets, anyway.

Thanks!

[2022-06-05 18:10] #14651 closed

[2022-06-06 03:53] kevin-s-wang commented on #14537
@aslushnikov thank you. I've upgraded macos to 12.4(previously was 12.3), it's working now. Not clear what's the root cause, but it works!

[2022-06-06 06:28] A-ZC-Lau commented on #14570
@aslushnikov I can't use that method because it makes `use` have an `any` type which I want to avoid.

Also, `T` becomes unknown so will have a `Type 'unknown' has no construct signatures` error

[2022-06-06 07:23] AlexanderMykulych commented on #14143
@pavelfeldman Great work, thank you!
There is only one missing point for me. Maybe you could clarify.
I need to pass vuex store to the Vue instance:
[code]
Any ideas?

[2022-06-06 07:32] zydjohnHotmail opened #14677 "How to minimize a page with the repo?"
### Your question

Hello:
From time to time, I need to minimize a page, but not close it.  Just minimize it, so it will stay in Windows task bar.  And later on, I can open it again, and use it to visit other pages.
I have searched around, the only examples I can find are either maximize the page, or SetViewportSizeAsync, but they are not what I need.
I need to minimize the page.
Please advise,
Tha

[2022-06-06 07:56] aslushnikov commented on #14479
@hex0cter Ah, sorry, I misread that comment.

In Playwright tests, the [`locator.waitFor()`](https://playwright.dev/docs/api/class-locator#locator-wait-for) has a [0 timeout by default](https://playwright.dev/docs/api/class-testoptions#test-options-action-timeout), so it'll wait long enough for test to pass.

The [web-first assertions](https://playwright.dev/docs/release-notes#-web-first-assertion

[2022-06-06 08:08] aslushnikov commented on #14533
@bshostak Ah! Now I see!

The issue is that test generation has to be **deterministic**, so you cannot use `Math.random()` when generating tests.

One way to workaround this would be to use a [seeded random](https://en.wikipedia.org/wiki/Random_seed). Something like this:

[code]

[2022-06-06 08:15] #14544 closed

[2022-06-06 08:36] fj201314 opened #14655 "为什么没有调用browser.close(), 浏览器也关闭了，该怎么才能不让浏览器自动关闭"

[2022-06-06 08:36] aslushnikov commented on #14458
I managed to repro. Turns out this is a dupe of https://github.com/microsoft/playwright/issues/14236

[2022-06-06 08:36] #14458 closed

[2022-06-06 08:36] aslushnikov commented on #14236
I manage to repro - no SSL URL's can be loaded in the Ubuntu 20.04 aarch64 container.

Investigating.

[2022-06-06 08:49] aslushnikov commented on #14552
@Kranael You can do it yourself, like this:

[code]

I think we're talking about https://github.com/microsoft/playwright/issues/14548. As mentioned there, you can use nested describes, so it all should just work for you!

[2022-06-06 08:52] aslushnikov commented on #14583
@gegoncalves yeah, you cannot miss awaits! You should probably use something like [no-floating-promises](https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/no-floating-promises.md) eslint rule to guard against these in your code.

[2022-06-06 08:53] gegoncalves commented on #14584
Is it possible to use instead of a global-setup a "local-setup" based on this: https://playwright.dev/docs/test-auth#multiple-signed-in-roles

The way the doc explain the usage, it is going to be used across all the `spec.ts` files. That can cause a lot of false negatives/positives in case the cookies has wrong info

[2022-06-06 08:54] aslushnikov commented on #14592
@tiger360 Yeah, that's a testing feature, so should be inside a test.

[2022-06-06 08:54] gegoncalves commented on #14583
Thank you gonna close it and sorry for the confusion

[2022-06-06 08:54] #14583 closed

[2022-06-06 08:58] aslushnikov commented on #14584
@gegoncalves Why so? You can specify the `storageState` option only for the tests / suites / spec files where you need it:

[code]

[2022-06-06 09:00] aslushnikov commented on #14616
@KingsonSamuel hmm, all pointers are that the URL is accessible and downloadable.

Does it take long to download it? Could you please try one more time with Playwright? I see from your logs, that Playwright actually starts browser download, but something interrupts it later on.

[2022-06-06 09:01] aslushnikov commented on #14636
@Raghu-GreatLearning certain websites rely on IP to figure geolocation. To emulate that, you'd need a proxy.

[2022-06-06 09:02] aslushnikov commented on #14632
@Kranael Sorry, but this falls outside of the scope of the Playwright project!

[2022-06-06 09:06] alexeyr commented on #14252
Missed it, thank you!

[2022-06-06 09:06] aslushnikov commented on #14570
@A-ZC-Lau All the types work properly for me for the snippet I pasted:

<img width="767" alt="image" src="https://user-images.githubusercontent.com/746130/172131024-a15a4a51-4fa0-4f8d-bf1f-4ee7d9c1014f.png">

Make sure you have a `testFixtures` type that you use later in `extend`:

[code]

[2022-06-06 09:11] aslushnikov commented on #14559
@eatonjl thank you for sharing the screenshot, your setup seems legit to me. Can you try the @KenjiTakahashi workaround?

[2022-06-06 09:20] aslushnikov commented on #14559
But why that is, I can't really tell. And why it only fails for Firefox? Sth wrong with how Firefox handles files in bind mounted dirs?

@KenjiTakahashi Thank you for the investigation! I didn't find anything regarding this on the BugZilla. I wonder if you can reproduce the same behavior without Playwright, using plain `firefox -headless -screenshot` commands?

[2022-06-06 09:25] aslushnikov commented on #14626
@casmeiron if you just want to download XML files, you can easily do it like this:

[code]

Alternatively, you can use [response interception](https://playwright.dev/docs/release-notes#response-interception) to inject the `content-disposition` header to the response.

[2022-06-06 09:33] hex0cter commented on #14479
Hi @aslushnikov! Thanks for your reply.

I did some more experiments on this. It turns out the problem is not really about the timeout value for expect. I tested iPhone 11 and iPhone 12 on MacOS and Ubuntu 20.04 (in docker). In fact the slowness only happens with iPhone 12 on Ubuntu. On MacOS both  devices always work like a charm.  But on Ubuntu, no matter what timeout I use (I tried up to 300000

[2022-06-06 09:34] Raghu-GreatLearning commented on #14636
@aslushnikov
Thanks, will look into that

[2022-06-06 09:34] #14636 closed

[2022-06-06 09:34] aslushnikov commented on #14623
@jithinjosejacob You can [create a fixture](https://playwright.dev/docs/test-fixtures#creating-a-fixture) for yourself that creates an [API Context](https://playwright.dev/docs/api/class-apirequest#api-request-new-context).

For example, like this:

[code]

[2022-06-06 09:35] pashidlos opened #14657 "[BUG] Cant run component test - Missing "./lib/utils" export in "cheerio" package"
**Context:**
- Playwright Version: @playwright/experimental-ct-react 1.22.2
- Operating System: Mac
- Node.js version: v14.17.0
- Extra: yarn and lerna is used in project

## System:
 - OS: macOS 11.6.6
 - Memory: 323.70 MB / 16.00 GB
## Binaries:
 - Node: 14.17.0 - /usr/local/bin/node
 - Yarn: 1.22.17 - /usr/local/bin/yarn
 - npm: 8.5.2 - /usr/local/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/ba

[2022-06-06 09:39] aslushnikov commented on #14640
@ksdaftari so far the best we can recommend is to use Docker container to abstract away from your host distribution.

More distributions **might be** supported over time, depending on the demand.

No idea! Sometimes things work if compiled manually, sometimes not. YMMV!

Hope I answered all the questions :) Feel free to close the issue; we'll close it in a few days if no more questions arise.

[2022-06-06 09:47] aslushnikov commented on #14643
@Kranael Your code snippet looks mostly legit. What doesn't work?

Here's a working code snippet I just tried:

[code]

[2022-06-06 09:49] aslushnikov commented on #14655
@fj201314 please re-file in English!

[2022-06-06 09:49] #14655 closed

[2022-06-06 10:05] fj201314 opened #14658 "Why is browser not called Close(), and the browser closes automatically. How to prevent the browser from closing automatically"
with sync_playwright() as playwrite:
        browser = playwrite.chromium.launch(headless=False,slow_mo=5000)
        context=browser.new_context(permissions=['clipboard-read'])
        page=context.new_page()
        page.goto(url=”“)
        time.sleep(3)

[2022-06-06 10:09] jithinjosejacob opened #14659 "[Question] Is there a way to use different authentication state for different workers"
I am running tests against a website using 3 workers

I am reusing the same authentication state to login

so when tests are run in parallel , same user gets logged in at 3 places which slows down the app.

Is there a chance that I can create 3 different authentication states using 3 different users and use each of them on 3 seperate workers so that they can login simultaneously

[2022-06-06 10:11] bezyakina commented on #14485
@aslushnikov
We did it. There are only screenshot tests in our suite. But when the tests fall due to unstable devices connection, we will have to restart the entire test suite. The point was not to restart the entire suite. Instead, retry the only failed test directly.

[2022-06-06 10:32] ianamikagl opened #14660 "[Question] Is there a way to run IP based testing for geolocation in Playwright?"
Geolocation support is available with playwright using latitude and longitude, however it only changes location on client side. In my use case, I would like to fetch and render content based on different geo location.

[2022-06-06 10:34] ianamikagl opened #14661 "[Question] As we can see that currently playwright doesn't provide cloud device support, what are roadmaps for the same?"
Current supported feature in experimental phase with details for the current status or release details. Anyone has any details related to this, please do share.

[2022-06-06 10:58] jatin-karla11 commented on #14477
this is the basic structure of our test files-

import test, { expect } from '../../../fixtures/basePages';
// a lot more imports

const authPath = `xyz.json`

test.beforeEach(async ({ loginPage, page }) => {
  await page.goto('/', { waitUntil: 'networkidle' });
  await SkipLoginHelper.login(page, loginPage);
});

test.describe('Basic autopay tests', () => {

  test.use({ storageState: authPath })

[2022-06-06 11:01] gegoncalves commented on #14584
Thanks @aslushnikov and this is my last question to close that issue:

[code]

Is there a way to not specify a browser? On this line `const browser = await chromium.launch();` we always need to choose one.

I want to use the `--project` command instead of have to do this for multiple browsers

[2022-06-06 11:22] aslushnikov commented on #14236
Debug build throws the following error:

[code]

Suspect: https://github.com/webkit/webkit/commit/9ab5cfe8920c

[2022-06-06 11:36] #14657 closed

[2022-06-06 11:55] ksdaftari commented on #14640
@aslushnikov Yep that answers all my questions thanks!

[2022-06-06 12:03] pashidlos opened #14662 "[Question] Component tests. React <= 16.13.1. Cannot find module 'react/jsx-runtime'"
Assuming it was added in React 17
https://ru.reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html

Is that possible to make it work with React 16?

[code]

[2022-06-06 12:04] jemi-j opened #14663 "How to pass SSL certificate to playwright (For API request)"
I want to pass certificate to get my API request working. Is there a way to do that?

[2022-06-06 12:42] #14640 closed

[2022-06-06 12:57] bellindj commented on #12829
We have this issue. We're using an NX monorepo. What we have is a setup like this:

libs/lib1/tsconfig.json
libs/lib1/tsconfig.lib.json -- overrides config for the library when built
libs/lib1/tsconfig.spec.json -- overrides config for test files
libs/lib1/playwright.config.ts

libs/lib2/tsconfig.json
libs/lib2/tsconfig.lib.json -- overrides config for the library when built
libs/lib2/tsconfig.spe

[2022-06-06 13:04] eatonjl commented on #14559
@aslushnikov I should be able to get some time to try that today. I will let you know what I find.

[2022-06-06 15:15] ramnutheti commented on #14590
@aslushnikov I figured out the issue and now my command works , I was missing testMatch:'*spec.ts' in playwright.config.ts

[2022-06-06 15:16] #14590 closed

[2022-06-06 15:16] ramnutheti commented on #14590
Thanks a lot for the support

[2022-06-06 15:32] AlexanderMykulych commented on #11833
Have a similar issue but a different problem)
I want to implement playwright component testing in my team, and playwright gives us excellent developer experience.
But there is one missing point for me. When I debug my test, the browser opens in incognito mode, and I can not open vue devtools to debug my component.

[2022-06-06 15:58] aw492267 commented on #6347
Hi, if iam using the code above, i get a problem with ts bcs it is telling me, that window.__clock is not a propertie of window. Any solution for this problem?

[2022-06-06 16:40] Meir017 opened #14665 "[Suggestion] consolidate dotnet java and python bindings into main repository"
- some of the issues reported in the other repositories are solved by fixes in the underlying nodejs server logic
- most if not all of the abstraction classes are generated by code in the main repository
- the release versions numbers are aligned between the different languages
- the docs for the different languages are located in the main repository

[2022-06-06 16:46] #13882 closed

[2022-06-06 17:12] aslushnikov commented on #14644
@creage AzureDevOps actually has a specific format - TRX. We'd be happy to have a built-in reporter for TRX, that should be able to support anything.

Would you be interested in implementing a TRX reporter?

[2022-06-06 17:20] creage commented on #14644
https://github.com/microsoft/playwright/issues/11143
We know. But the TRX schema is not available for public AFAIK, thus we are limited by JUnit.

[2022-06-06 17:23] rwoll opened #14666 "[internal] Response.fullfilledByServiceWorker for FF"

[2022-06-06 17:42] viraxslot commented on #14452
@pavelfeldman well, our request was closed with the same workaround. It's a pity you don't plan to add this functionality. I just wanted to emphasize there are several requests for this feature.

[2022-06-06 18:03] pkerschbaum commented on #6347
@aw492267 if you want to extend existing interfaces/types in TypeScript, you have to do something called "Module Augmentation", see [typescriptlang.org/docs/handbook/declaration-merging.html#module-augmentation](https://www.typescriptlang.org/docs/handbook/declaration-merging.html#module-augmentation).

I have put this block of code into my code base:

[code]

[2022-06-06 18:17] KenjiTakahashi commented on #14559
I've tried running `firefox -headless -screenshot` on the same setup and it worked fine every time. Looks like something else going on.

[2022-06-06 18:27] pavelfeldman commented on #14665
Please limit the usage of Issues to feature requests and bug reports!

[2022-06-06 18:27] #14665 closed

[2022-06-06 18:28] pavelfeldman commented on #14663
Would you like to pass a client certificate or add a trusted server certificate?

[2022-06-06 18:29] pavelfeldman commented on #14662
Could you suggests the steps to reproduce this?

[2022-06-06 18:30] pavelfeldman commented on #14661
Playwright is an open source testing framework, your question is outside of Playwright's scope.

[2022-06-06 18:30] #14661 closed

[2022-06-06 18:30] vigsubramani commented on #14594
Hi Team,

Thank you. This works.

[2022-06-06 18:30] #14594 closed

[2022-06-06 18:33] pavelfeldman commented on #14659
Yes, you can log in 3 times and pass 3 different storage states to 3 different projects that will run in parallel. See https://playwright.dev/docs/test-parameterize#parameterized-projects!

[2022-06-06 18:42] MindaugasMateika opened #14667 "Unify download path type with testInfo.attach path type"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Mac
- Node.js version: 14.19.2
- Browser: -

**Describe the bug**

Download path has `string | null` type while `testInfo.attach` path argument has `string | undefined` so it's not possible to pass path without getting a warning. It's minor but could it be unified?

![SCR-20220606-txc](https://user-images.githubusercontent.com/17873445/

[2022-06-06 18:45] pavelfeldman commented on #14388
Maybe running those in parallel would help you speed this up:

[code]

[2022-06-06 18:46] vigsubramani opened #14668 "How can I make PlayWright (DotNet) to wait until it finds an element without timing out, until the control appears?"
I was trying to wait for a control on a web page, which is taking large time (Approx 1 to 1.5 minutes) to load. But, PlayWright gets timed out and not waiting until the control gets loaded. Can you please help us to provide the knowledge on how to wait for a control to load to proceed to next step? Also, can you please help us understand on how to wait for a text / control to appear, so that we ca

[2022-06-06 18:47] pavelfeldman commented on #14460
We keep non-actionable issues closed to maintain the repo in a healthy state. Please file a new issue and link this one once you get back to it!

[2022-06-06 18:47] #14460 closed

[2022-06-06 19:10] bshostak commented on #14533
@aslushnikov wow, consider my brain broken looking at how that function works 😅 . Thanks so much for your help with figuring out this issue! I will go ahead and close this.

[2022-06-06 19:10] #14533 closed

[2022-06-06 19:47] almiller9 commented on #14597
Removing --disable-web-security fixed my issue.

[2022-06-06 19:47] #14597 closed

[2022-06-06 19:58] eatonjl commented on #14559
@aslushnikov OK, I was able to take a look at it. I had a developer on my team who knew a little more than me try out the workaround. Basically, in TeamCity we removed the working directory. In the shell script we cd'd into the working directory and did the install command. Then, we backed out of the directory and execute the run command, this time specifying where the config is in the working dir

[2022-06-06 20:39] gauravgandhi1315 commented on #14668
you can use `await page.waitForTimeout(time);`

[2022-06-06 20:46] pavelfeldman commented on #14668
@[gauravgandhi1315](https://github.com/gauravgandhi1315) that's a very bad advise.

@vigsubramani every Playwright action (`ClickAsync`, `WaitForAsync`, etc) has a timeout option. Pass large value or 0 to disable timeout.

[2022-06-06 20:49] gauravgandhi1315 commented on #14668
@pavelfeldman Sorry my bad, you are right!

[2022-06-06 20:53] pavelfeldman commented on #14667
- `download.path()` returns `null` when `acceptDownloads` is set to false. So it is guaranteed to be there if you are accepting the downloads.
- And `undefined` path in attachment means that the value is optional (as opposed to nullable).

Making attachments accept nullable path sounds arbitrary, so I guess doing `path: path!` on the client side would be the least of the evils.

[2022-06-06 20:57] pavelfeldman commented on #14477
`networkidle` is non-deterministic, you should never use it for testing, just for scraping.

Usually, if everything works locally and fails on CI, it is one of two things:
- CI does not have dependencies installed to run browsers
- Test is sensitive to the timing and slower CIs surface the issues

Your snippet does not tell us much, if you manage to create a reproduction we can try, we are happy t

[2022-06-06 21:11] pavelfeldman commented on #14479
I can reproduce it, only in headless mode, the viewport is shaking.

[2022-06-06 21:13] pavelfeldman commented on #14480
I don't think we can act on this report without the reproduction. Please file a new issue and link to this one if you succeed at creating a small repro for us.

[2022-06-06 21:13] #14480 closed

[2022-06-06 21:18] pavelfeldman commented on #14485
I would probably try/catch the screenshot comparison. It will still produce the artifacts, but will not fail the execution. We can consider adding `expect.trial` to mitigate your use case more broadly.

[2022-06-06 21:20] pavelfeldman commented on #14488
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-06-06 21:21] pavelfeldman commented on #14520
Could it be that you are importing from .jsx / .tsx? That's not supported.

[2022-06-06 21:21] pavelfeldman commented on #14520
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-06-06 21:21] #14520 closed

[2022-06-06 21:23] pavelfeldman commented on #14541
I'll close it because it does not seem to be Playwright-related. Please provide a reproduction script that demonstrates the issue, that way we can quickly resolve it.

[2022-06-06 21:23] #14541 closed

[2022-06-06 21:23] pavelfeldman commented on #14547
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 21:23] #14547 closed

[2022-06-06 21:59] pavelfeldman commented on #14552
Let me fold it into [14548](https://github.com/microsoft/playwright/issues/14548) then.

[2022-06-06 21:59] #14552 closed

[2022-06-06 22:09] pavelfeldman commented on #14562
Playwright Test will store intermediate results under `test-results`, it thinks it owns this folder. If you point html reporter to `test-results/html`, those will clash. Playwright Test thinks it owns test-results, html report thinks it owns test-results/html, but they are nested!

[2022-06-06 22:10] pavelfeldman commented on #14562
That's because we want to make sure you have access to all those temp assets, regardless of whether you are using reporters or not. You can delete it if you don't need it. But if we delete it on CI, it would be considered data loss, and clients might use this data to troubleshoot.

[2022-06-06 22:10] pavelfeldman commented on #14562
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:10] #14562 closed

[2022-06-06 22:11] pavelfeldman commented on #14477
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:11] #14477 closed

[2022-06-06 22:16] pavelfeldman commented on #14641
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:16] #14641 closed

[2022-06-06 22:17] pavelfeldman commented on #14571
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:17] #14571 closed

[2022-06-06 22:17] pavelfeldman commented on #14576
This feature is not supported and there are no immediate plans to implement it. Closing.

[2022-06-06 22:17] #14576 closed

[2022-06-06 22:18] pavelfeldman commented on #14582
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:18] #14582 closed

[2022-06-06 22:20] aslushnikov commented on #13871
Looks like a dupe of https://github.com/microsoft/playwright/issues/14236 - merging in there.

[2022-06-06 22:20] #13871 closed

[2022-06-06 22:20] pavelfeldman commented on #14584
It is not currently possible because global setup is global and spans across the projects. You can pass an environment variable and use it in global setup to pick a browser of liking as you are running your tests though.

[2022-06-06 22:20] pavelfeldman commented on #14585
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:20] #14585 closed

[2022-06-06 22:25] pavelfeldman commented on #14586
Heavy test setup should probably done outside of the test run, otherwise entire dev workflow becomes compromised. Imagine that every time user hits a "run" icon in the VS Code sidebar, against a single test, this entire setup needs to be happening. We'd like our tests to run fast and be easy to debug, and this request is conflicting with our testing vision / priorities. Hence closing as won't fix.

[2022-06-06 22:25] #14586 closed

[2022-06-06 22:26] pavelfeldman commented on #14587
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:26] #14587 closed

[2022-06-06 22:30] pavelfeldman commented on #14592
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:30] #14592 closed

[2022-06-06 22:33] pavelfeldman commented on #14596
Are there steps I could follow to reproduce this?

[2022-06-06 22:36] pavelfeldman commented on #14617
This suggests that you have conflicting versions of  `playwright` (or `playwright-core`) and `@playwright/test`. Make sure you either use one or the other and run `npm ci`.

[2022-06-06 22:43] pavelfeldman commented on #14632
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-06 22:43] #14632 closed

[2022-06-07 02:06] SilenceCarrot opened #14672 "[Question] How to solve the inconsistency caused by the asynchronous rendering of the page when taking screenshots"
How to solve the inconsistency caused by the asynchronous rendering of the page when taking screenshots？

E.g.
After clicking the submit button, take a screenshot of the screen.
Then when taking screenshots, taking into account the influence of network and machine load, there will be some differences due to the asynchronous actions of the page when taking screenshots.
Then there may be inconsisten

[2022-06-07 03:10] pavelfeldman commented on #14672
That's a great summary. On top of that you'll see the font discrepancies and rasterization artifacts. So you need to wait for the dom to get into the expected state, wait for images to load. `toMatchScreenshot` will make sure consecutive screenshots are the same to minimize potential rasterization effects.

[2022-06-07 03:16] jemi-j commented on #14663
I want to pass a client certificate

[2022-06-07 03:45] fj201314 commented on #14658
Can you tell me how to modify this code so that the browser will not be closed automatically ，please。I tried, but failed

from playwright.sync_api import sync_playwright,Playwright
with sync_playwright() as playwrite:
    browser = playwrite.chromium.launch(headless=False, slow_mo=5000)
    page = browser.new_page()
    page.goto('https://www.google.com.hk/')

[2022-06-07 04:01] pavelfeldman commented on #14658
playwright = sync_playwright()
browser =...

[2022-06-07 04:04] pavelfeldman commented on #14663
This is not implemented. I'll fold it into https://github.com/microsoft/playwright/issues/1799 which is talking about client-side certificates in general.

[2022-06-07 04:04] #14663 closed

[2022-06-07 04:06] fj201314 commented on #14658
But when the waiting time is up, the browser still closes. What I want is if the user doesn't close it manually or the script doesn't call the browser Close(), the browser is still open

[2022-06-07 04:07] fj201314 commented on #14658
Is there any way to implement it

[2022-06-07 05:21] eyep-incomm commented on #14065
@mxschmitt still seeing this issue after upgrading to latest alphas since you merged this fix. I'm attempting to run playwright tests with

```npx playwright test --config=playwright.config.ts --project=Chromium```

See details below:

**Context:**
- Playwright Version: [1.23.0-alpha-jun-4-2022 and 1.23.0-alpha-jun-7-2022
- Operating System: Windows 10 21H2
- Node.js version: [16.15.0]
- Browser:

[2022-06-07 05:56] jithinjosejacob commented on #14659
can i do it for the same project ,lets say i want to use 3 workers for chrome. We are already using different storage state for different browsers

[2022-06-07 06:06] purepear commented on #14625
Hi @pavelfeldman, the current use case we have is: we have a test suite that entirely mock the api. We have a thin wrapper fixture that helps us reuse endpoint mocks so we don't have to declare the paths in each file. A very simple representation:

[code]

Without a way to target routes by method, we would have to use sth like `intercept('getAndCreateItems', [response1, response2])` endpoint, whic

[2022-06-07 06:17] mxschmitt commented on #14065
Maybe you have multiple versions of playwright installed? On our CI the error is gone which proofs that the main issue is fixed.

[2022-06-07 07:03] pashidlos commented on #14662
@pavelfeldman thanks for quick response
in did it cannot be reproduced with the latest v16
but reproduces with the one I have in project
check the reproduce project
https://github.com/pashidlos/pw-component-test-example

[2022-06-07 07:11] MindaugasMateika commented on #14667
Makes sense, thank you.

[2022-06-07 07:11] #14667 closed

[2022-06-07 07:12] purepear commented on #13467
I was also looking for a simple way to assert element presence

I guess we could do:
[code]

but it seems like a very common assertion so maybe having `toExist()`/`toBeInTheDocument()`/`toBePresent()` is worth it:
[code]

BTW @grybykm [locator.waitFor()](https://playwright.dev/docs/next/api/class-locator#locator-wait-for) might be helpful in your case:
[code]

[2022-06-07 07:49] gegoncalves commented on #14584
I got it. Thanks @pavelfeldman

Just to confirm: @aslushnikov there is no plan for a `test.step.soft()`? If so, I am gonna close that ticket.

And again thanks for the help and amazing work that you have been doing with playwright

[2022-06-07 08:23] grybykm commented on #13467
@purepear thanks for the suggestion but `waitFor` is not helpful at all in my case.

[2022-06-07 09:46] roniemartinez commented on #6319
Same here on Python. I got almost 6GB memory usage doing `page.goto()` on a few hundred URLs before crashing (this is just one page).

[2022-06-07 09:47] MurakamiShinyu opened #14675 "[BUG] Cannot generate large PDF (page.pdf: Cannot create a string longer than 0x1fffffe8 characters)"
**Context:**
- Playwright Version: 1.22.2 (also tested with 1.21.1)
- Operating System: Mac
- Node.js version: 17
- Browser: Chromium

**Code Snippet**

[code]

**Describe the bug**

Playwright cannot generate PDF file larger than 512MB. The error "Cannot create a string longer than 0x1fffffe8 characters" occurs at `buffer.toString('base64')`:

https://github.com/microsoft/playwright/blob/4cc25725

[2022-06-07 11:12] PeterHevesi opened #14679 "Create selector engine for selecting input by typed text"
Hi,
I have a problem, that it is not possible to select input based on text, that was just typed with neither xpath, nor css or not even any other selector engine in Playwright, because the value attribute of an input doesn't get updated when new text was typed...
Only only property value is updated when text typed into input...
So to be able to select this input based on containing text, it is re

[2022-06-07 12:14] mxschmitt commented on #11955
I was able to verify that its fixed on the tip-of-tree (`1.23.0-alpha-jun-7-2022`) which gets released as 1.23 in 1-2 weeks.

[2022-06-07 12:14] #11955 closed

[2022-06-07 12:15] nag5000 opened #14680 "[Question] Using Vue selectors with Vue component testing"
Should [Vue selectors](https://playwright.dev/docs/selectors#vue-selectors) work at the current stage of Component Testing?
I can't locate any of the components. But I'm sure there are mounted, and the test passes if I use alternative css selector.

[code]

[2022-06-07 12:18] #10136 closed

[2022-06-07 12:19] oscargforce opened #14681 "[Question] Error due to pages being too isolated."
Hello!

I wondered if there are any "hacks" to work around the below issue.

When I try to login into an application that uses nemID === a danish bankID login service provided by Signicat, I get the following message.
![image](https://user-images.githubusercontent.com/102926658/172376158-f99c745b-3fe0-484e-b06a-edeb241e1bfe.png)

"too restrictive privacy settings or other environmental factors" ==

[2022-06-07 12:20] mxschmitt commented on #9870
Seems not relevant anymore, closing!

[2022-06-07 12:20] #9870 closed

[2022-06-07 13:01] infonline opened #14683 "[BUG] Back/forward cache (bfcache) global values leaking from one page to another"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Windows with WSL + GitLab CI
- Node.js version: 16.5.0
- Browser: Chromium, Firefox
- Extra: [any specific details about your environment]

**Code Snippet**

E2e test:

[code]

Page 1 fixture:
[code]

Page 2 fixture:
[code]

**Describe the bug**

We offer analytics solutions and due to the Back/forward cache (or [bfcache](https://web.de

[2022-06-07 13:46] pashidlos opened #14684 "[BUG] Component tests. Build failed - Rollup failed to resolve import "@emotion/styled""
**Context:**
## System:
 - OS: macOS 11.6.6
 - Memory: 255.63 MB / 16.00 GB
## Binaries:
 - Node: 14.17.0 - /usr/local/bin/node
 - Yarn: 1.22.17 - /usr/local/bin/yarn
 - npm: 8.5.2 - /usr/local/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash

**Code Snippet**
https://github.com/pashidlos/pw-component-test-example/tree/import-interface

[code]

**Describe the bug**
Cant run tests

[2022-06-07 15:19] MaksymChepilDevPro commented on #14586
@pavelfeldman
Ok, so you suggest creating a heavy test setup outside of the test run.
And what if we need to make this "heavy" setup per each test suite that aims to test unique flow?

For now, we have more than 300 suites like this.
In this case, we cannot use the `PW test runner` by default and need to use separate test runners.

`We'd like our tests to run fast and be easy to debug, and this re

[2022-06-07 15:20] pavelfeldman commented on #14684
Use `import type` instead!

[2022-06-07 16:14] azad-derakhshani-GS opened #14685 "[BUG] Test steps spill over into after hooks and fail even though they passed"
**Context:**
- Playwright Version: 1.22
- Operating System: Manjaro Linux
- Node.js version: v16.15.0
- Browser: Chromium

Today I've repeatedly seen a test fail even though all its steps passed (and in the video I can actually see the test running fine without any problems). The fail only occurs due to a 60s timeout (see attachment).
However, what's odd is that the test actually ran for an entire

[2022-06-07 17:11] azad-derakhshani-GS opened #14686 "[BUG] Timeout of 60000ms exceeded while running fixture "context" teardown."
**Context:**
- Playwright Version: 1.22
- Operating System: Manjaro Linux
- Node.js version: v16.15.0
- Browser: Chromium

When running my entire testsuite (currently 23 tests, 4 skipped, total duration 4 minutes, 7 spec files & workers), some tests fail with

`[BUG] Timeout of 60000ms exceeded while running fixture "context" teardown.`

But the issue doesn't occur when running those tests individ

[2022-06-07 18:50] pashidlos commented on #14684
@pavelfeldman thanks !

taking into account that `BreadcrumbsProps` is interface and `Breadcrumbs` is a component
inside `index.ts`
this not working
[code]
this is working
[code]

[2022-06-07 19:03] pavelfeldman commented on #14680
I suspect that the reason is that we use production build for testing components, while vue selectors rely upon dev one.

[2022-06-07 19:08] pavelfeldman commented on #14686
Is there a chance we could get a repro for it?

[2022-06-07 19:09] pavelfeldman commented on #14683
Is there a chance we can get a repro for this?

[2022-06-07 19:13] azad-derakhshani-GS commented on #14686
Since it only happens when running the entire test suite and not individual tests, I would have to give you the entire test suite, which of course I can't, so that's why I suggested showing it in a call instead.

[2022-06-07 19:14] azad-derakhshani-GS commented on #14685
Since it only happens when running the entire test suite and not individual tests, I would have to give you the entire test suite, which of course I can't, so that's why I suggested showing it in a call instead.

Which script do you mean?
The strange thing is that those steps are part of the test (the test isn't over yet), they should not spill over into the after hook, so it would seem like a PW

[2022-06-07 19:46] sgdowney opened #14690 "[Question]: proxy url script with WebKit"
### Your question

Using C# with Playwright 1.22.
I can specify a proxy url script with launching Chromium (Chrome channel) via the Args property of the BrowserTypeLaunchOptions.  I specify the proxy url like this:
[code]
The browser is able to reach the site.
Using Webkit, I'm not able to reach the site using the code below:
[code]
Can you use a proxy script with WebKit?

[2022-06-07 20:14] elaichenkov opened #14689 "[BUG] Microsoft Edge Beta browser crashes when running it headed or debug mode"
**Context:**
- Playwright Test Version: 1.22.2
- Operating System: MacOS
- Node.js version: v16.15.0
- Browser: MS Edge Beta (msedge-beta)
- Extra: MS Edge Beta version 103.0.1264.17

[code]

[code]

[code]

**Steps to reproduce**
1. Install the Microsoft Edge browser with the command:
[code]
2. Run the tests with the following command:
[code]
3. Observe the error:
[code]

[2022-06-07 20:18] ScubaDaniel commented on #14295
It seems like `ctViteConfig` is being ignored completely? I'm trying to fix an issue with Vite based on monorepo symbols ([like this](https://github.com/vitejs/vite/issues/5668)).

I've been trying all the documented work-arounds, but it seems like Vite/Rollup aren't getting my configuration - at least the ones that matter.

Things that don't seem to work:
* optimizeDeps
* build.commonjsOptions
*

[2022-06-07 21:13] drevhs opened #14691 "[BUG] page.goto('/') does not work in Fixture in Debug mode"
**Context:**

- Playwright Version: 1.22.2
- Operating System: Mac
- Node.js version: 17.7.2
- Browser: Chromium
- Extra: VS Code Playwright Test extension

## System:
 - OS: macOS 12.4
 - Memory: 200.19 MB / 16.00 GB
## Binaries:
 - Node: 17.7.2 - /opt/homebrew/bin/node
 - npm: 8.5.2 - /opt/homebrew/bin/npm
## Languages:
 - Bash: 3.2.57 - /bin/bash
## npmPackages:
 - playwright: ^1.22.2 => 1.22.2

[2022-06-07 21:16] Kranael commented on #14643
I want to understand the fixture structure more. Here your documentation is not enough i think.

For example i want to know `base.extend<{}, MyPage>` <- What is the {}? I know its a object but why do we need to pass here a empty object?

And the next question:

Not scoped fixtures are written like that:
[code]

If i want a scoped fixture i need a array like this?

[code]

and the scope is setup wi

[2022-06-07 21:28] Kranael commented on #13983
Maybe a marker could be added like:

`test.describe(true|false //this here - true would be including the name, false would be excluding the name?, 'name', async ....)`

default would be like it is now?

[2022-06-07 22:12] pavelfeldman commented on #14691
'/' is indeed an invalid URL!

[2022-06-07 23:12] Kranael opened #14694 "[Question] Page object pattern best practice?"
I have some element that have no id or other unique locator strategy possible than relative xpath href:

[code]

that transform to:

[code]

so my only possible locator could be a css class that will maybe change in future or a ARIA label that is tied to the language the user is currently used so if we need to test in english the test would break.

All other classes/elements are generated from ang

[2022-06-07 23:59] eyep-incomm commented on #14065
Thanks for the quick response. Sorry to be a pest, but I'm quite new to modern typescript and node. How do I check to see if multiple version of playwright are installed? What's the npm command? Trying too google this now.

[2022-06-08 00:04] pavelfeldman commented on #14470
Following styles make rasterization very slow w/o HW acceleration on Windows.

[code]

The image that is being processed is https://genuine-narwhal-f0f8ad.netlify.app/assets/large-bg.jpg
800k, 2048x1536 size.

[2022-06-08 01:03] SilenceCarrot commented on #14672
Thanks a lot for your answer.
But please excuse my unprofessionalism, which API provides the 'toMatchScreenshot' method? I kind of didn't find it in Playwright's API.
I hope you can give me more information, I will be very grateful to you.

[2022-06-08 01:19] ltsuda commented on #14672
I hope this helps:

API:
https://playwright.dev/docs/test-assertions#screenshot-assertions-to-match-snapshot-1
https://playwright.dev/docs/test-assertions#screenshot-assertions-to-match-snapshot-2

Visual comparison page:
https://playwright.dev/docs/test-snapshots

[2022-06-08 02:50] SilenceCarrot commented on #14672
Oh great, that's exactly what I was looking for.
So, the search function in the top right corner of the playwright documentation page is flawed, it doesn't help me find the keyword I'm looking for: 'toMatchSnapshot'.
![image](https://user-images.githubusercontent.com/15966265/172520949-32dd0191-bf74-489a-a2f9-596641ace7ec.png)

My problem has been solved, playwright is a great project, thank you f

[2022-06-08 04:05] pavelfeldman commented on #14690
Maybe this helps: https://playwright.dev/docs/api/class-testoptions#test-options-proxy

[2022-06-08 04:06] pavelfeldman commented on #14685
Most likely you did not await those steps.

[2022-06-08 04:08] pavelfeldman commented on #14681
Could we get a repro for this problem? Can you perform the same steps manually?

[2022-06-08 05:03] sergioariveros commented on #14553
This will be something great to have, we have some issues related to this but never dig in to much as are rare and not consistent failures

[2022-06-08 06:13] John-Yue-Deltatre commented on #11692
Hi, @CctavioMoreira @aslushnikov @dgozman

I also meet very similar problem as yours, I can see my test case is sent to the hub and a session was established. but a browser with empty URL was launched and test case wasn't executed at node.  :

From the following logs, it seems that the problem is due to the fact that the cdp connection between hub and node was not able to established:

2022-06-08T

[2022-06-08 06:39] rainerhahnekamp commented on #14470
I see, thank you very much for your help. Makes totally sense.

@pavelfeldman @aslushnikov  👍

[2022-06-08 06:39] #14470 closed

[2022-06-08 06:53] SilenceCarrot commented on #14672
Oh, great, that's a nice ability.
But I am currently using playwright-java, does it provide an effective method?

[2022-06-08 07:01] Billy- commented on #2795
In the application I am currently working on, it is served from localhost but API calls are made to a different domain. I can see requests to those domains pick up an authentication cookie which is stored against that domain but these cookies are present on localhost but with the domain value matching the API server. I can see cookies for both localhost _and_ the API server when inspecting cookies

[2022-06-08 07:20] JontyMC commented on #11692
+1 would like to see a fix for latest version so we can upgrade

[2022-06-08 07:41] nag5000 opened #14698 "[BUG] Vue component testing doesn't work with "*.test.mjs""
**Context:**
- Playwright Version: 1.22.2
- Operating System: Linux
- Node.js version: 14.19.3
- Browser: All

**Code Snippet**

There are 2 identical test files "tests/e2e/FooBar.test.EXT" with different extensions ".mjs" and ".ts":

[code]

**Describe the bug**

With ".ts" it works:

[code]

With ".mjs" there is exception:

[code]

[2022-06-08 07:47] phgn0 commented on #5593
Another workaround, dispatching the `chrome.action.onClicked` event from the extension background service worker:

[code]

[2022-06-08 08:24] mxschmitt commented on #14065
Seems like the deprecation warning which you are getting is a different one. We can nail it down by setting the following environment variable:

[code]

it should then print a stack trace next to the deprecation warning.

[2022-06-08 09:47] squelix commented on #14255
I wanted to use `png` but `png` pictures are too heavy in a repository :/

[2022-06-08 10:14] Marcin3 commented on #13296
Can we split this feature? For me first point is more important and maybe in this way could be delivered faster.

[2022-06-08 10:39] fj201314 opened #14701 "Why is an error reported when using an asynchronous method: task was destroyed but it is pending!. How to solve it"
async def test_run():
        # nest_asyncio.apply()
        playwright =  await async_playwright().start()
        browser = await playwright.chromium.launch(headless=False, slow_mo=5000)
        context =await browser.new_context()
        page = await context.new_page()
        await page.goto('https://www.baidu.com/')
        await page.wait_for_timeout(3000)
        await page.close()

[2022-06-08 10:46] sugendran opened #14702 "[Question] Should waitForResponse care about the order of query params?"
Hi, I have a question about `waitForResponse` - should it care what order the URL params are specified in? I’m changing the HTTP request client in a project, and the clients order the params differently, which causes my playwright tests to fail.

Here's a zip with a sample test that I think should pass in both cases.
[playwright-url-param-question.zip](https://github.com/microsoft/playwright/files

[2022-06-08 10:56] np-xavier opened #14703 "[Feature] Skipped tests in HTML reporter could have a stronger visual indication"
The default Playwright test report does not have an icon or clear indication that it has been skipped with `test.skip()`. Currently, a passed test and a failed test both have a nice green tick and red cross icon respectively, but the skipped test has no icon.

When I first ran my report I was a little confused about if the report had somehow "blipped out" and not rendered the report entry correctl

[2022-06-08 11:05] ronnymikalsen opened #14704 "[Question] Can chromium.connect send traffic through proxy?"
I am trying to connect to LambdaTest from our CI environment that is behind a firewall. All our traffic has to go through a proxy. I can't find a way to make `chromium.connect` to connect using our proxy

[code]

[2022-06-08 11:49] crazyk2 opened #14705 "[Question] How to create test dynamically"
As mentioned [here](https://github.com/microsoft/playwright/issues/10325#issuecomment-1094377676)  it is no longer possible to create a test dynamically using globalSetup.

Maybe there is some kind of workaround to create tests dynamically?

I've tried
[code]

[code]

But both of examples doesn't work

[2022-06-08 12:57] drevhs commented on #14691
According to the docs, that is valid when you have a baseURL defined.  Which I do.  Also, this works when NOT in debug mode. The issue is that is doesn't work IN debug mode. And it ONLY fails in the fixture.  I have similar code in tests directly and it does not fail in debug mode.

[2022-06-08 13:07] dimkin-eu opened #14706 "[Feature][Question] Workers utilisation visualisation"
In Allure report, there is a timeline panel, which shows how multiple tests are run in parallel
![image](https://user-images.githubusercontent.com/7899764/172623614-87f0c66a-54fd-4171-a079-36d9b8595185.png)

Is there a way to show in the more or less same way workers utilization?

This could help in tests optimising, to check if some of them are taking too long
( also shoving pass/fail/retry there

[2022-06-08 13:27] MindaugasMateika opened #14707 "[Feature] Add feature to allow mocking useRouter in Next.js for component testing"
If the component uses `useRouter()` hook, tests will fail because the hook will be null/undefined.

Jest has `jest.spyOn` to mock it (reference - https://jamespotz.github.io/blog/how-to-mock-userouter). It would be helpful to have something similar here.

[2022-06-08 13:51] MindaugasMateika opened #14708 "[Feature] Add small customization how trace is displayed in html report"
Usually CIs (in my case Jenkins) cannot serve HTML report like we do locally. Instead, a static page is served, and clicking on trace preview does nothing.

It would be nice to have some small configuration to decide how trace is displayed in HTML report:
- same as now
- no trace preview (image), trace attachment, link to trace page like `https://trace.playwright.dev/?trace=http%3A%2F%2Ffoo.com%2F

[2022-06-08 14:17] sgdowney commented on #14690
It's not just a single proxy server.  Depending upon the destination different proxy servers have to be used so providing a single proxy server IP isn't possible.

[2022-06-08 14:26] pavelfeldman commented on #14689
I'm on 12.3.1, can't repro this:

[code]

Any chance you are on the corp network with enterprise policies?

[2022-06-08 14:31] #14694 closed

[2022-06-08 14:38] pavelfeldman commented on #14701
Please provide version of your environment, exact script and steps to follow!

[2022-06-08 14:44] pavelfeldman commented on #14704
There is no way to specify the proxy for the connect call. But you can point it to a different location (proxy itself).

[2022-06-08 14:45] pavelfeldman commented on #14705
Playwright Test will run the tests, if you'd like to generate them, it should be done prior to calling Playwright Test.

[2022-06-08 14:46] pavelfeldman commented on #14706
Did you enable `fullyParallel` in your config? That would make all these bars green all the time.

[2022-06-08 14:48] pavelfeldman commented on #14707
Could you provide a complete example of what you'd like to achieve? Note that in most cases, putting all the mocking / init code into the `playwright/index.js` would be sufficient.

[2022-06-08 14:55] pavelfeldman commented on #14691
That would be unexpected. Could you share a complete snippet and exact steps? Where did you specify the baseURL? Your fixture extensions might see or not see that. Existing part of the snippet that I see is syntactically incorrect, you could be trying to access it from the worker fixture, etc. Also, what do you call the 'debug mode'? We have several ways of debugging.

[2022-06-08 14:58] pavelfeldman commented on #14672
Playwright Java does not have that method yet, please stay tuned!

[2022-06-08 15:06] pavelfeldman commented on #14643
You pretty much never want a worker-scope fixture. We use those to optimize the number of browser instances, but you should not need them. Keep it simple and follow the docs: https://playwright.dev/docs/next/test-fixtures#overriding-fixtures

If you do this, the first parameter of extend will contain types for your fixtures (MyPage in your case).

[2022-06-08 15:08] pavelfeldman commented on #14643
Or are you looking for this? https://playwright.dev/docs/next/test-auth#reuse-signed-in-state

[2022-06-08 15:58] dimkin-eu commented on #14706
nope ( also this is not possible for all specs )

Allure's picture is some random from the internet for reference/idea :)

[2022-06-08 16:15] lemke-ethan opened #14711 "[Question] How can I trigger a service worker update by modifying the HTTP response?"
I am working on an SPA that I recently added a service worker to, which pre-caches the application shell using a cache-first strategy and caches navigation requests using a network -first strategy.

The SPA contains some logic that displays a "A new version is available!" banner with a "Reload" button at the top of the page when it detects a "waiting" service worker. I would like to write an end-t

[2022-06-08 16:23] elaichenkov commented on #14689
@pavelfeldman yeah, this can be the case. However, it's odd because it works for headless mode.

[2022-06-08 16:29] pavelfeldman commented on #14689
That actually explains it, under the hood headless is a separate content embedder that does not respect enterprise policies, extensions, etc. It is closer to the content shell than to a browser.

[2022-06-08 16:33] elaichenkov commented on #14689
I see, thanks for explaining.

[2022-06-08 16:54] jbergeronjr opened #14712 "[Question] Playwright with Codeceptjs Does Not run on a RedHat Server"
[code]
Some details about what I am running.

* CodeceptJS version: ^3.1.1
* Playwright version: ^1.14.1
* NodeJS Version: v18.3.0
* Operating System: Linux RedHat 8

I don't think this is a codecept issue. Seems more on the playwright side. Anyone have any ideas on how this could be fixed or run on Redhat 8?

[2022-06-08 16:56] isherkhan opened #14713 "[Question]How get the drop down selected option using indexing?"
Hi

I have a same selector for one or more drop down list elements I would like to read the selected option of the second instance of the drop down list.

[2022-06-08 17:11] lemnis commented on #13829
Use `await page.click('sdf-icon-button.burger button', { force: true });`

[2022-06-08 17:25] azad-derakhshani-GS commented on #14685
No I always use await.

[2022-06-08 17:39] eyep-incomm commented on #14065
@mxschmitt Was able to do the following -

set the environment variable and here's the output:

[code]

[2022-06-08 18:10] jpzbkk commented on #13591
It was working perfectly until about a month ago... This is extremely frustrating!

[2022-06-08 18:54] yury-s commented on #14328
Fixed with recent roll: https://github.com/microsoft/playwright/pull/14709

[2022-06-08 18:54] #14328 closed

[2022-06-08 19:29] micahjon commented on #14431
Running into this issue as well. In my case `await page.goBack()` hangs forever if an `onbeforeunload` dialog is shown, even if I add an `on('dialog')` listener that dismisses it (dialog is not dismissed when I run in `headless: false` mode).

[2022-06-08 20:03] pavelfeldman commented on #14711
Intercepting the service-worker.js request is [not yet implemented](https://github.com/microsoft/playwright/issues/1090) in Playwright. We are [almost there](https://github.com/microsoft/playwright/pull/14716), but it needs some final touches. I'll let @rwoll comment on when it becomes available.

The rest of your test seems to be ok. You'll reload the page, it'll re-request service worker, then s

[2022-06-08 20:07] pavelfeldman commented on #14712
I don't think it is related to Redhat 8 and it looks like Playwright code is post-processed here, so I'd definitely file it against codeceptjs!

[2022-06-08 20:07] #14712 closed

[2022-06-08 20:13] franzvezuli commented on #12911
One use case that I use is:

-- Inspect the first call has a status of 302
-- Inspect the `location` header is correct

[2022-06-08 20:15] pavelfeldman commented on #14685
I'm not sure which screenshot you are referring to. Is that in the archive? I don't have apps that would open mhtml.

We would need to see the source code or a minimal reproduction to tell what's happening.

This is a signal supporting my hypothesis - one of the stray async flows finishes before the test is over if you mark it as slow.

I'm doing my best, but there are no steps to reproduce, no sc

[2022-06-08 20:16] pavelfeldman commented on #14689
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-08 20:16] #14689 closed

[2022-06-08 20:47] lemke-ethan commented on #14711
@pavelfeldman thank you for the reply!

I am a little confused by your links regarding the `service-worker.js` script response modification. It seems like that PR is adding the ability to intercept requests that a service worker makes, which I am really excited about and plan to use in the future. However, I don't see how it has anything to do with intercepting and modifying the response for the `

[2022-06-08 21:34] #14666 closed

[2022-06-08 22:21] azad-derakhshani-GS commented on #14685
The first screenshot in the post. :)
Here it is again:
![image](https://user-images.githubusercontent.com/98180468/172709017-acca7934-419f-4a4c-bfa3-f5ca1187b667.png)

I know, and I would love to give you more details, but that's the whole problem. The issue was only observed when running the whole test suite, so there are not really any details. Believe me, I would prefer to narrow it down and gi

[2022-06-08 22:27] pavelfeldman commented on #14685
Ok, so we are seeing getAttribute in the after hooks. What this means is that after the test has finished, getAttribute was called. Can you look at its usages and figure out what is calling it after the test end? Maybe you use `page.on` somewhere?

[2022-06-08 22:27] #14522 closed

[2022-06-08 22:28] pavelfeldman commented on #14711
Yes, this set of changes does intercept the main request as well!

[2022-06-09 01:13] pavelfeldman opened #14725 "[BUG] should get a non-session cookie fails on Chromium ToT"
[code]

[2022-06-09 01:23] pavelfeldman commented on #14580
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-06-09 01:23] #14580 closed

[2022-06-09 01:23] pavelfeldman commented on #14563
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-06-09 01:23] #14563 closed

[2022-06-09 01:23] pavelfeldman commented on #14626
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-09 01:23] #14626 closed

[2022-06-09 01:23] pavelfeldman commented on #14623
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-09 01:23] #14623 closed

[2022-06-09 01:24] pavelfeldman commented on #14514
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-06-09 01:24] #14514 closed

[2022-06-09 01:24] pavelfeldman commented on #14570
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-09 01:25] pavelfeldman commented on #14617
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-09 01:25] #14617 closed

[2022-06-09 01:28] pavelfeldman commented on #14625
So why can't you use `endpoints[endpointName].method` in your `intercept` fixture?

[2022-06-09 01:30] jithintill opened #14728 "[Question] Clarifying API Testing project structure for multiple users using playwright/test"
related to https://github.com/microsoft/playwright/issues/14623

Is it right to use below structure for testing api for users having different permissions.

I have followed the same approach like ui testing for multiple browsers.

playwright.config.ts
[code]

tests

[code]

[2022-06-09 02:39] isherkhan commented on #14713
Hi, I am trying to get the selected option from a dropdown.(i have multiple dropdowns in the page with the same selectors)
i tried passing indexing in the page.$eval function.

Iam looking for a similar function as below for the multiple selectors

const a = await page.$$(['data-id="DDLUser"]).nth(1);

const last = await page.$eval<string, HTMLSelectElement>('[data-id="DDLUser"]).nth(1)', el => el

[2022-06-09 02:57] Jojoshua commented on #5178
Is this behavior something we can count on @dgozman @pavelfeldman? We have been interested in providing codegen a hint to use a data attribute as well. This would save immense time.

[2022-06-09 03:29] biswasritu66 opened #14730 "If there is 100 files with same name , how to click the recent added file in JS playwright?"

[2022-06-09 04:30] rwoll commented on #14255
Were you able to try `scale: "css"`, and did it help with your image size? See https://playwright.dev/docs/api/class-page#page-screenshot-option-scale for notes

[2022-06-09 04:37] god-pane opened #14734 "[Question]: How do I select options in ant design version 4?"
### Your question

https://ant-design.gitee.io/components/select-cn/
![image](https://user-images.githubusercontent.com/9427959/172765145-db856936-652c-4d5b-9a72-a2151df41603.png)

[2022-06-09 05:02] A-ZC-Lau opened #14731 "[Question] DRY way to create fixtures using typescript"
continuing from https://github.com/microsoft/playwright/issues/14570

The answer there did not provide me with proper typescript typings.

I've found some of the types used, but I would also like to access `browser` and other types inside the TestFixture type

[code]

[2022-06-09 05:04] purepear commented on #14625
The issue is that we can't intercept both GET and POST requests at the same time because:
* the matcher `<string|RegExp|function(URL):boolean>` provides only the `url` so we can't match by method.
* the handler `<function(Route, Request)>` can match by method but once you are in a handler, you can't "skip" it, if it's not the right method, and go to the next matcher/handler. If we intercept both `

[2022-06-09 05:08] drevhs commented on #14691
I am using VS Code with the Playwright for VS Code extension. So debug mode is through VS Code using that extension.

I was using chromium.launchPersistentContext to create my own context and you are correct that I did not set baseURL in the options.  Once I did that, this now works in debug and normal run modes.  So, is my original bug inverted?  Should this have failed in normal mode as well unt

[2022-06-09 05:30] lmiller1990 commented on #14416
I work on both Test Utils + Cypress - kind of curious if there's something lacking in Cypress Component Testing that made you move to Playwright, or just a personal preference?

Either way, happy to help out with either solution.

[2022-06-09 05:35] pavelfeldman commented on #14713
await page.locator('...').nth(1).inputValue()

[2022-06-09 05:52] benjefferies commented on #11975
@kumars3 is perfectly right with https://github.com/microsoft/playwright/issues/11975#issuecomment-1038297911. It's not completely necessary to implement a BDD framework for Playwright however hooks into Playwrights' initialisation need to be exposed so that the Playwright context can be initialised. I've done some digging to try and figure out a way and came up with nothing.

Does anyone know of

[2022-06-09 06:37] ronnymikalsen commented on #14704
Thanks for the quick reply. I will try that

[2022-06-09 06:37] #14704 closed

[2022-06-09 07:04] Exoow opened #14733 "[REGRESSION]: Documentation outdated for toHaveScreenshot (naming screenshot no longer possible)"
**Context:**
Playwright 1.22.2
Documentation 1.22

**Code Snippet**
Trying to define screenshot name per the following documentation, but this seems not possible.
(Yes I'm using Page object in this code, but same error goes for Locator.)
![image](https://user-images.githubusercontent.com/18096566/172784903-b013e34d-bb56-4402-9520-e1bb4ce8a968.png)
![image](https://user-images.githubusercontent.com

[2022-06-09 07:12] LeRiton commented on #14224
Is my question clear?
Should I consider that at this time this is not possible through Playwright?
Thanks

[2022-06-09 07:21] viveksuarez7 opened #14735 "click three times on the same page rather than waiting for the page to reload ."
I wanted to test a flow for my end to end testing ... for my single page application , Where on the click of the save and continue button i move to the next page but the playwright test fails as the button clicks on 'Save and Continue 'thrice before it goes to the next page. Because of this the the test case fails for the next page

[2022-06-09 07:22] squelix commented on #14255
I used `scale: "css"` but it was not very useful for the image size :/

[2022-06-09 07:25] viveksuarez7 commented on #14735
// Select BGN
  await page.frameLocator('#storybook-preview-iframe').locator('select[name="ViewAccount\\.Currency\\.CurrencyCd"]').selectOption('BGN');
  // Click text=Save and continue
  await page.frameLocator('#storybook-preview-iframe').locator('text=Save and continue').click();

  await page.frameLocator('#storybook-preview-iframe').locator('text=Save and continue').click();

  // Click text=

[2022-06-09 08:09] pbadak opened #14736 "[Question] webKit dependencies available for fedora 36 ?"
I tried running below simple python code on webKit on OS: fedora version: 36 (latest)
[code]

Initially I get below error ->

[code]

So I created symblinks for all above mentioned dependencies like  libpcre.so.3 -> libpcre.so file present in my system as mentioned in one of the solution.
But after that I'm getting another error ->

[code]
Is there a workaround to use webkit with playwright on fed

[2022-06-09 08:11] dimkin-eu commented on #14532
so after some investigation, in our case we should not use `test.beforeAll(async ({ context }) => {` as new pages are created in same ( shared ) context, which makes kaboom

so need to use `await newPage.context().close()` , to be sure issue with not closed contexts not appearing

[2022-06-09 08:53] luxuncang commented on #10369
I don't know how it's going now👍

[2022-06-09 09:48] Nhasa opened #14737 "[Question] Is locator.click() always click in the center of the button?"
I use playwright 1.19.2 at the moment

Is locator.click() always click in the center of the button? what if I have element overlayed element on top of the button (partially but still clickable manually). For example, chat bubble is covering a portion of the button.
![image](https://user-images.githubusercontent.com/22735419/172817819-d00aef58-6397-4bf3-9cfb-ff4631fa56c0.png)

As you can see the bu

[2022-06-09 09:57] Exoow opened #14738 "[BUG] Full page screenshot only captures viewport"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Windows/Linux
- Browser: Chromium

**Code Snippet**
[code]

**Describe the bug**
The baseline image shows the rows are expanded, but only the viewport is captured - both top and bottom are clipped. Both for Windows Chromium and the official Playwright docker.

![image](https://user-images.githubusercontent.com/18096566/172820594-0d5df39

[2022-06-09 10:33] pashidlos opened #14740 "[BUG] Component test. Cannot use component with `path` methods used - Timeout of 10000ms exceeded."
**Context:**
- Playwright Version: 1.22.2

 System:
    OS: macOS 11.6.6
    Memory: 1.79 GB / 16.00 GB
  Binaries:
    Node: 16.15.1 - ~/.nvm/versions/node/v16.15.1/bin/node
    Yarn: 1.22.17 - /usr/local/bin/yarn
    npm: 8.11.0 - ~/.nvm/versions/node/v16.15.1/bin/npm
  Languages:
    Bash: 3.2.57 - /bin/bash

**Code Snippet**
https://github.com/pashidlos/pw-component-test-example/tree/import-in

[2022-06-09 10:33] muodov commented on #747
@yury-s could you share some details/links about the upstream webkit problem? Specifically, why opening WebInspector stops the Playwright script

[2022-06-09 11:00] isherkhan commented on #14713
It worked thank you

[2022-06-09 11:09] mrmckeb commented on #14625
We've started hitting these limitations too, specifically "There is no chaining, first handler wins.".

Engineers, after using tools like Cypress, expect that if they use `route.continue()`, the request will "bubble up" to the next handler. They also expect to be able to handle POST and GET separately.

We'll add more custom tooling to our project to help mitigate the issue, but an implementation

[2022-06-09 11:12] MindaugasMateika commented on #14737
From my experience - yes. But you can provide coordinates in the click options, at least in JS/TS.
https://playwright.dev/docs/api/class-locator#locator-click-option-position

[2022-06-09 11:28] AlexanderMykulych commented on #14295
Had the same problem, some of my configurations applied, and some did not. I've written my custom vite plugin and defined there `config` function:
<img width="238" alt="image" src="https://user-images.githubusercontent.com/7901909/172836278-584d6ea3-7562-49e6-8dcb-0dc8534d2ce2.png">

<img width="250" alt="image" src="https://user-images.githubusercontent.com/7901909/172836200-979003f1-5b04-45f6-b4

[2022-06-09 11:58] ltsuda commented on #14737
If you guarantee that the button is interactable, you can use the option `force` to ignore the actionability.

https://playwright.dev/docs/api/class-locator#locator-click

[2022-06-09 12:18] drevhs commented on #14691
Also, as I look at the docs for launchPersistentContext, it doesn't seem to indicate that baseURL is required (which is what you imply above) and the behavior (as I have noted) also doesn't make it seem required - until I try to use it in Debug mode in a fixture.  It still seems like there is some inconsistency in the behavior, the docs or both.

[2022-06-09 12:31] muodov opened #14745 "[BUG] exposeBinding() breaks in Webkit on a certain page"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Mac
- Node.js version: v17.8.0
- Browser: WebKit
- Extra: nothing special

**Code Snippet**

[code]

**Describe the bug**

The callback exposed with `Page.exposeBinding()` stops working on a specific page: https://www.dastelefonbuch.de/. It does seem to exist in page context, but the payload is never delivered to playwright scope.
It wo

[2022-06-09 12:54] mxschmitt commented on #14745
Internal observation: the reason for that is that the site has overridden the `console.debug` function to a noop:

<img width="989" alt="image" src="https://user-images.githubusercontent.com/17984549/172851665-bbbab5fc-ebbe-471f-a4f0-3dea86a64356.png">

[2022-06-09 13:02] mxschmitt commented on #14725
Bisect range: https://chromium.googlesource.com/chromium/src/+log/d93b1011ef82e78b408181faa309a6f7a84dc489..3c9cf06d12947f01e3495fee4f3560b9c98e2d17

Good: 1006175
Bad: 1006179

Well reproducible and confirmed.

[2022-06-09 13:23] imartinflores commented on #14376
hey @rwoll just in case it helps, Ill provide some feedback. I've tried installing it using @next , and then updated the .tsx file to .jsx and the imports to require(). I've got 2 errors:
1: When using import
[code]

2 - When updated to require()
[code]

[2022-06-09 13:46] stevez opened #14748 "[Component testing]: use vite dev server mode instead of production mode"
When I run component tests, I found first uses rollup to bundle the files and then run the test, I wonder if we can use vite dev server mode to run the component tests, then we have many benefits from vite:
1. watch mode
2. faster start up,
3. support HMR mode
4. faster feedback

[2022-06-09 13:48] stevez opened #14749 "[Feature]Component testing: reuse the same vite server and same vite config file"
Since my application already uses vite server, I wonder if we can use the same vite sever for both local development and component testing.
and It would be great if we can put the component test configuration in the same vite config file.

[2022-06-09 13:52] stevez opened #14750 "[Question] Need a complex example to test react component which requires internationalization and redux store"
I tried to implement a component test to our existing application but unsuccessful, due to our existing component requires following 2 things:
1. react-intl IntlProvider
2. redux store

Could you provide a more complex example on how to test the react component which requires intlProvider and redux store?

[2022-06-09 14:11] rwoll commented on #14376
@imartinflores What's the output of `npm ls @playwright/test @playwright/experimental-ct-react`? I suspect mismatched versions.

What does your require statement look like? For the component tests, you should require `@playwright/experimental-ct-react` (or vue or svelte).

[2022-06-09 14:15] vovsemenv opened #14751 "[Feature] Add unique id to each test in results."
We make custom reporter for playwright and really need to have way to get unique id of each test.

[2022-06-09 14:15] eatonjl opened #14752 "[BUG] Misclick when some element overlays the target's iframe"
**Context:**
- Playwright Version: 1.22
- Operating System: Mac (12.4 Monterey)
- Node.js version: v16.15.0
- Browser: Any
- Extra: N/A

**Code Snippet**

N/A (Can provide something if needed)

**Describe the bug**

I was noticing an issue when writing tests. I would see situations where tests would fail for odd reasons. In the trace files it would show that the specified button was found, visible

[2022-06-09 14:48] Rafiot opened #14754 "[Feature] Add more entries to response.securityDetails (and HAR output)"
The method `response.securityDetails` returns a few details regarding the certificate, but I'd love to get a few more, especially hashes of the certificate and/or the complete certificate itself (maybe as an option?).

I want to use it in [PlaywrightCapture](https://github.com/Lookyloo/PlaywrightCapture) (via the HAR output) and ultimately in [lookyloo](https://github.com/Lookyloo/lookyloo) in ord

[2022-06-09 14:55] rwoll commented on #14754
Relates https://github.com/microsoft/playwright/issues/6759

[2022-06-09 14:57] rwoll commented on #14752
Related thread https://github.com/microsoft/playwright/pull/12660#issuecomment-1133647870, but let's keep the discussion on this Issue since PRs once merged are not triaged/monitored.

[2022-06-09 14:58] rwoll commented on #14751
Folding into https://github.com/microsoft/playwright/issues/14310. cc @pavelfeldman

[2022-06-09 14:58] #14751 closed

[2022-06-09 15:01] pavelfeldman commented on #14691
This indeed sounds suspicious, but we would need to have a repro to analyze.

baseURL is optional in the general case, but it is required if you want to use relative URIs such as '/'. We need something to resolve it relative to.

[2022-06-09 15:06] pavelfeldman commented on #14713
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-09 15:06] #14713 closed

[2022-06-09 15:06] pavelfeldman commented on #14711
Folding into #1090 as per above.

[2022-06-09 15:14] pavelfeldman commented on #14754
Could you be more specific as to what you would like to see? This largely falls outside of the Playwright scope, so unless it is needed for testing, we are likely to close it.

[2022-06-09 15:21] pavelfeldman commented on #14752
M1 Pro is fast, so when you are not slowing it down with parallels and such, things run faster and surface the race conditions your test has. I'd guess this is a hydration issue: button is visible, but the listener has not yet been attached to it. The artifact of the thin air could also be due to the delay in the rasterization. I.e. everything is ready in DOM, but pixels have not been rasterized f

[2022-06-09 15:22] uzeyirqa commented on #11975
I initialize the browser and context in a beforeAll hook with cucumber js. As for settings like timeout  they get picked up from playwright.config.js the only issue I’m having is that I need to configure video and trace recording manually in the hooks they are not picked up from the playwright config.

[2022-06-09 15:23] uzeyirqa commented on #11975
I initialize the browser and context in a beforeAll hook with cucumber js. As for settings like timeout they get picked up from playwright.config.js the only issue I’m having is that I need to configure video and trace recording manually in the hooks they are not picked up from the playwright config.

[2022-06-09 15:24] pavelfeldman commented on #14749
While we are considering your request, you can already require it from a shared file

[2022-06-09 15:26] pavelfeldman commented on #14748
dev server actually makes things much, much slower. each test is making an endpoint request and with dev mode each request takes 200ms. so we deliberately made a decision to go prod mode. Once you have 100 tests, 200ms per request becomes a 20 seconds of delay non-starter.

[2022-06-09 15:27] Nhasa commented on #14737
Thanks @ltsuda

I think using force option is discouraged? Based on the playwright lint rule?
https://github.com/playwright-community/eslint-plugin-playwright#no-force-option

[2022-06-09 15:28] pavelfeldman commented on #14745
@[muodov](https://github.com/muodov) it does, but only on webkit, we'll fix it.

[2022-06-09 15:30] Rafiot commented on #14754
It definitely relates to https://github.com/microsoft/playwright/issues/6759. I'd like to be able to get the serial number and the hashes (sha1 and sha256, at least) in `response.securityDetails` (and in the HAR export). The full certificate is definitely optional (but nice to have if possible).

I'm not using Playwright for testing, but that sounds like a useful information to me?

[2022-06-09 15:33] pavelfeldman commented on #14738
We would need a reduced test case that we could reproduce locally for this.

[2022-06-09 15:37] pavelfeldman commented on #14737
If you force, it'll click the center and hit your overlay. Your scenario looks like an edge case that we would not want to address. you can do `await locator.dispatchEvent('click')` to just dispatch it in JS and move on.

[2022-06-09 15:38] pavelfeldman commented on #14736
Not at this point, but we are likely to get it to work in the future.

[2022-06-09 16:03] azad-derakhshani-GS commented on #14685
Ah sorry, maybe I should've posted a bigger screenshot. `getAttribute` is called in the test, not the AfterHooks, that's what I meant by spilling over (into the AfterHooks).
Part of the test is a nested for loop that goes through a calendar cell by cell, checks an attribute and then clicks it.

![Screenshot_20220609_115538](https://user-images.githubusercontent.com/98180468/172891781-9a8dabde-0c31

[2022-06-09 16:25] b5414 commented on #2404
@mdw123 not abandoned one:

- https://github.com/Sparticuz/chrome-aws-lambda

[2022-06-09 16:37] dgozman commented on #5178
@Jojoshua Yes, codegen always checks and suggests test ids.

[2022-06-09 17:40] pavelfeldman commented on #14733
It should be fixed in v1.22.2

[2022-06-09 17:42] pavelfeldman commented on #14731
Your question seems to be about typescript, not Playwright. 3rd and 4th

[2022-06-09 17:43] pavelfeldman commented on #14731
Folding into https://github.com/microsoft/playwright/issues/14570

[2022-06-09 17:46] pavelfeldman commented on #14570
I'm still not sure what you are trying to achieve. Could you provide a complete example with fixtures and usages and explain what is expected vs what is happening.

[2022-06-09 17:53] pavelfeldman commented on #14734
https://playwright.dev/docs/api/class-locator#locator-select-option

[2022-06-09 17:53] #14734 closed

[2022-06-09 17:54] pavelfeldman commented on #14730
I'm not sure what this means. Please provide exact code snippets, steps to reproduce, expected and actual results in a new issue!

[2022-06-09 17:54] #14730 closed

[2022-06-09 18:13] aslushnikov commented on #14183
Prior to 1.23 release, we had a discussion, and agreed that this whole setup was unfortunate.
- we don't like that we use `package.json` as an anchor point for throw-away artifacts
- we don't like that we use non-root config files

We didn't agree upon path forward though; however, we all acknowledged that the situation is unfortunate.

[2022-06-09 18:19] dwalleck opened #14759 "[BUG] Change in storageState/use behavior in Playwright 1.21 and 1.22"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Windows
- Node.js version: 16.15.1
- Browser: All

**Code Snippet**

The full reproduction of this issue can be found in [this repo](https://github.com/dwalleck/playwright-storage-state-use-reproduction).

[code]

**Describe the bug**

The above scenario worked for us through Playwright 1.20.2 . When I tried to upgrade to Playwright 1.2

[2022-06-09 18:25] pavelfeldman commented on #14728
This would work, but depending on the nature of your tests, you could add fixtures:

`fixtures.ts`
[code]

`test.spec.ts`
[code]

All in one project, no repetition and extra work.

[2022-06-09 18:31] pavelfeldman commented on #14759
It will probably work if you move `storageStatePath = generateStorageStateFile(__filename)` into beforeAll, but overall, it does not sound like a recommended way of the storage reuse. Did you see https://playwright.dev/docs/auth#reuse-authentication-state ?

[2022-06-09 18:34] pavelfeldman commented on #14754
Folding into #6759!

[2022-06-09 18:34] #14754 closed

[2022-06-09 18:35] pavelfeldman commented on #14616
The issue seems to be localized to a single user (connectivity issues on the users end). Closing as not actionable on the Playwright side.

[2022-06-09 18:35] #14616 closed

[2022-06-09 18:38] pavelfeldman commented on #14685
The code looks good, but there isn't anything I can reproduce, so I'll have to close it as non-actionable. I'm not familiar with the Spill term and it seems like you can use debugger / console.log to see what runs, when and why. Playwright test is just a program, so you should put a bunch of console.logs and you'll quickly identify the place where the problem with missing await or something simila

[2022-06-09 18:39] pavelfeldman commented on #14686
Closing as non-actionable since we can't reproduce it.

[2022-06-09 18:39] #14686 closed

[2022-06-09 18:46] azad-derakhshani-GS commented on #14685
I meant spilling over figuratively (like a fluid spilling over), as in: the test steps are shown in the Afterhooks in the PW test report, which they shouldn't. Or to put it this way:

Expected result:
- Afterhooks only contain Afterhooks

Actual result:
- Afterhooks contain test steps

There is definitely no missing await or anything like that, and I already use tons of console.logs in my tests.
T

[2022-06-09 19:01] arturozv commented on #8740
+1 on the use case of anchor tags that scroll to different sections of the page

[2022-06-09 19:41] eatonjl commented on #14752
@pavelfeldman & @rwoll, I did a bit more investigation with one of our developers. It turns out (at least in one instance) that the click is getting intercepted without Playwright knowing it. I am not sure a good way to show you, so here is what I have:
You can download and extract this zip file to access the demo html page we made.
https://www.filehosting.org/file/details/4754107/demo.zip
Then, u

[2022-06-09 19:43] eatonjl commented on #14752
On most machines, the overlay disappears before Playwright can initiate the click. On my machine, however, the click gets initiated while the overlay is present, which is why the click action never happens.

[2022-06-09 19:50] X-GitHub-De1ivery commented on #14752
بتاريخ الخميس، 9 يونيو 2022، جاء من Joe Eaton ***@***.***>:

[2022-06-09 20:30] pavelfeldman commented on #14752
This sounds like https://github.com/microsoft/playwright/commit/c4581e54c0b54e395ee9d87fb2b91e1438bc3a93

You can try `npm i playwright/test@next` to verify!

[2022-06-09 20:52] pavelfeldman commented on #14735
You should put `page.waitForURL(pattern)` after each click to wait for the navigation.

[2022-06-09 21:10] pavelfeldman commented on #14759
If that is the case, why are you using beforeAll, etc? Could you share more about your scenario? I suspect that there is an overall simpler solution.

[2022-06-09 21:12] pavelfeldman commented on #14685
Ok, sure, let's do the call! Ping me on our Slack!

[2022-06-09 21:18] eatonjl commented on #14752
@pavelfeldman I tried that, but got this error:
0 verbose cli [
0 verbose cli   '/usr/local/bin/node',
0 verbose cli   '/usr/local/bin/npm',
0 verbose cli   'i',
0 verbose cli   'playwright/test@next'
0 verbose cli ]
1 info using npm@8.5.5
2 info using node@v16.15.0
3 timing npm:load:whichnode Completed in 0ms
4 timing config:load:defaults Completed in 1ms
5 timing config:load:file:/usr/local/lib/

[2022-06-09 21:19] pavelfeldman commented on #14685
I'll close this bug as non-actionable because there are no steps to follow, but feel free to ping me over Slack!

[2022-06-09 21:19] #14685 closed

[2022-06-09 21:54] rwoll commented on #14752
There was a typo in this (missing `@` at the start of the package name). It should be:

[code]

[2022-06-09 22:03] dwalleck commented on #14759
Ugh, I misspoke. I meant a new user for each test file. Our beforeAll uses a fixture that provides the necessary credentials. This is what our actual beforeAll looks like:

[code]
We did this outside of our describe block since the expectation is that the `beforeAll` block would be executed before the `test.use` statement. That assumption was true until Playwright 1.21. I dug around in the PRs for

[2022-06-09 22:35] #13738 closed

[2022-06-09 22:35] mxschmitt commented on #13738
Thats done! For further issues, please file new issues on GitHub. It gets released in 1.23.

[2022-06-09 22:54] pavelfeldman commented on #14759
While we are figuring it out, you could use following patern:

[code]

[2022-06-09 22:57] pavelfeldman commented on #14759
... or if you prefer beforeAll:

[code]

[2022-06-09 22:58] pavelfeldman commented on #14759
@[dwalleck](https://github.com/dwalleck) ^^

[2022-06-09 23:21] jithintill commented on #14728
oh nice, this looks good. havent tried fixtures yet, will try it out

[2022-06-09 23:21] #14728 closed

[2022-06-10 00:05] ryanrosello-og opened #14773 "[BUG] Trace file is not generated when the last test fails in serial mode"
**Context:**
- Playwright Version:  1.22.2
- Operating System: Windows 11
- Node.js version:  17.7.1
- Browser: chromium  102.0.5005.40
- Extra: We handle the creation of the `browser`, `page` and `context` ourselves.  We do not use fixtures. This has been simplified in the snippet below.

[code]

**Code Snippet**

*playwright.config.ts*
[code]

*example.spec.ts*
[code]

**Describe the bug**

If t

[2022-06-10 00:06] rwoll opened #14774 "[Feature] GitHub Test Reporter Summary View"
https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/

[2022-06-10 00:12] rwoll commented on #4646
https://github.com/microsoft/playwright/pull/14763/files#diff-2d78fbd6a992ff94180cd23823c6d2554508544536c13cdfaa696de2f9f998a6R157 coincidentally implemented a naïve table selector where the API looks like:

[code]

where you represent the table as an array. Since this was part of simply writing an assertion for a specific scenario, it does not concern itself with all the intricacies of tables (e.

[2022-06-10 01:09] Nhasa commented on #14737
Thanks @pavelfeldman.

[2022-06-10 01:40] god-pane commented on #14734
do this:
page = context.new_page()
page.goto('https://ant-design.gitee.io/components/select-cn/', timeout=120 * 1000)
page.select_option('.ant-select-selection-search-input >> nth=18', label='z35')

throw:
waiting for selector ".ant-select-selection-search-input >> nth=18"
  selector resolved to visible <input readonly value="" type="search" role="combobox" …/>
  selecting specified option(s)
  El

[2022-06-10 01:41] god-pane commented on #14734
@pavelfeldman

[2022-06-10 02:12] pavelfeldman commented on #14570
At this point it looks like a TypeScript question rather than Playwright one to me, would you agree?

[2022-06-10 02:13] pavelfeldman commented on #14737
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-10 02:13] #14737 closed

[2022-06-10 02:18] #14570 closed

[2022-06-10 03:29] dwalleck commented on #14759
Ahh, nice! I will try these options out in the morning and let you know how they work out. Thanks for the help!

[2022-06-10 03:35] viveksuarez7 commented on #14735
The Navigation url reamains the same .. after every save and continue in the flow . Though the page fetches new api data and renders a new step in the flow

[2022-06-10 04:01] mrwwalmsley commented on #11005
Is there any reason why it couldn't be made available as a command line parameter?

There are often times when I'm running tests and it would be nice to be able to try different speeds without having to go in an edit the config.

[2022-06-10 05:06] ryanrosello-og commented on #14773
As a side note.  This is also an issue even if the there is only one test in the suite e.g.

[code]

[2022-06-10 05:54] ltsuda commented on #14734
This website is using some weird/really hard framework to work with but the following code passed here.

The website is not using the HTML `select` tags, so the `select-option` would not work, I think.

[code]

[2022-06-10 06:02] mstepin commented on #10437
wanting this too. We run our tests back to back with various different configurations and want to combine the final test results into a single html. So pls team at MS and Playwright, at some point in future, make this a native playwright feature.
In the meantime, we have wired in the merger provided by @anooprav7 . There are a bunc of issues with that module that we needed to address so just a hea

[2022-06-10 06:10] shilpa32 opened #14776 "I want to check If DOM is loaded or not? and if not I want to wait on the page till DOM loads. - Playwright Java"
I want to check If DOM is loaded or not? and if not, I want to wait on the page till DOM loads.   -  Playwright Java

Concern: Manually when I launch the browser, Icons are loading but from automation, it's not.

I tried with waits (  page.waitForSelector(locator, new Page.WaitForSelectorOptions().setState(WaitForSelectorState.VISIBLE)); )
but didnt worked.

[2022-06-10 06:33] Exoow commented on #14733
Already using 1.22.2 - sorry, I corrected the original post.

[2022-06-10 06:44] Exoow commented on #14738
I figured the cause: the application's scrollbar is not at the top <body> tag. I'll have to find a workaround, sorry for the confusion.

[2022-06-10 06:44] #14738 closed

[2022-06-10 07:19] AlexanderMykulych commented on #14748
This feature is excellent, especially for debugging.
My project's build takes 30-40 seconds, and if I change something and want to debug my test, I need to wait for that time.
Maybe it could be some env variable that turns on that behavior? 🤔

Another addition that I thought. It would be great to combine `vite serve` + some watch mode or test restart. I changed my code, and one test or some tests

[2022-06-10 07:22] phaethon5882 opened #14777 "[Question] Is it possible to pass the test code to the playlight as a string and run it without making it into a file?"
hello. I'm making an application that runs E2E tests using playlight on the web.

I write test code in the web editor, send the test code to the node application, and run it using the 'npx playwright sample.test.ts' command.

1). It's a strange question, but is it possible to run it by passing it as a string instead of creating a file like the one below and executing it?

`npx playwright "import {

[2022-06-10 07:28] god-pane commented on #14734
There is a worse case, inside the selection, when the number of options reaches a certain number, you have to use the mouse to scroll in order to display the options, what should I do?
![image](https://user-images.githubusercontent.com/9427959/173013513-3b5b6ee1-7e7f-434d-b6d5-9db54c7dca32.png)

[2022-06-10 07:32] pbadak commented on #14736
Thanks for the update @pavelfeldman .
I'm also getting below error on firefox when tried opening our internal URLs on fsame fedora 36.
[code]
can you assist on the same.

[2022-06-10 07:46] tmkx opened #14778 "[REGRESSION]: toHaveJSProperty failed with boolean"
**Context:**
- GOOD Playwright Version: 1.15.0
- BAD Playwright Version: 1.16.0
- Operating System: macOS
- Extra: Node.js v16.15.0

**Code Snippet**

[code]

**Describe the bug**

The second assertion shows "expect.toHaveJSProperty: expectedValue: expected object, got boolean".

But if I change it to `expect(video).toHaveJSProperty('muted', {})`,\
the error became:
[code]

[2022-06-10 07:54] VsKatshuma commented on #14226
In our use case, we would very much like a matcher that retakes a screenshot until it matches the snapshot. I really hope that something like what @aslushnikov mentioned in https://github.com/microsoft/playwright/issues/14226#issuecomment-1131777539 is implemented in playwright. (polling a screenshot)

Would you be able to confirm if such functionality is underway, or was this just a comment with

[2022-06-10 07:56] divysharma007 opened #14779 "While modifying response, even if I don't make any changes response returned is not complete"
[code]

[2022-06-10 08:14] mxschmitt commented on #14778
Sounds like a duplicate of https://github.com/microsoft/playwright/issues/14135 to me. Its already fixed in the code base and gets released in 1.23.

You can also consume the next via `npm install @playwright/test@next` to get the fix.

[2022-06-10 08:16] #14778 closed

[2022-06-10 08:25] #12741 closed

[2022-06-10 08:29] khaki32 commented on #13191
I created a new project using `npm init svelte` and I'm still getting this error when running the test command, despite the playwright version being 1.22.2

[2022-06-10 08:45] ville-nvt commented on #14779
`route.fulfill();`
You should pass the wanted response to route.fulfill as parameter.
https://playwright.dev/docs/api/class-route#route-fulfill

`let response = await page.request.fetch(route.request());`
Not sure what this part is supposed to do, looks like you can remove this and just provide route.fulfill function call your wanted response

[2022-06-10 09:08] #14236 closed

[2022-06-10 09:11] divysharma007 commented on #14779
[code]
I want to override body but it's not getting changed when I check it in trace(network)

[2022-06-10 09:37] murtaza1415 commented on #6465
+1 Would be really helpful to have this feature, so that I may redirect the logs from stdout to a file.

[2022-06-10 10:06] thewilkybarkid opened #14782 "[Feature] Select by accessible name"
It's possible to interact with form controls by their `<label>`, but not to select them.

Other elements can also be labelled with `aria-label`/`aria-labelledby`, such as:

[code]

but there isn't a way (that I'm aware of) to select an element with the label 'A list of things'.

The selector documentation gives the example

[code]

which is enough when using `[aria-label]`.

## Suggestions

- A `l

[2022-06-10 10:18] ElliottDevlinPA opened #14783 "[Question] Using Multiple Browser Contexts with Playwright Test"
Hi, I'm using Playwright Test v1.21.1 on MacOS and have a question regarding using multiple browser contexts within a test.

My use case is that I need to have two users log in to the same app in separate windows, carry out their own individual actions and have them completely independent of each other, i.e. no state can be shared across the two windows. From looking at your docs, I see that creat

[2022-06-10 10:57] ritz078 opened #14784 "[REGRESSION]: `toHaveCSS` does not compute styles correctly"
**Context:**
- GOOD Playwright Version: 1.20.2
- BAD Playwright Version: 1.22.2
- Operating System: Mac

**Code Snippet**

[code]

Live Example: https://try.playwright.tech/?l=playwright-test&s=7b961yt

**Describe the bug**

`toHaveCSS` does not calculate the computed value correctly anymore.

[2022-06-10 11:44] ville-nvt commented on #14779
Not sure what is the default functionality. You can observe developer tools network tab to see what is returned.

[2022-06-10 11:58] ltsuda commented on #14734
I'm not sure how to do that and I can't try right now.

You might need to perform some kind of loop, scrolling into the last item and validating until the item you want is present to send the ENTER key.

Maybe something using `await dropdownListLocator.locator(".ant-select-item").last().scrollscrollIntoViewIfNeeded()` to scroll to the last item of the list, then validate if the item you want is pr

[2022-06-10 12:05] TBatist opened #14786 "[Question] MS Edge doesn't open when deploying with Intune"
Hello there,

First of all, I was not sure to mark this issue as a question or a bug, but I didn't feel like this issue is a real bug in Playwright. Therefor, I've marked this issue as a question.

I have successfully wrote program which will automate a process in Microsoft Edge. The desire is to deploy this program with Intune, so the program will run on all device within the company. For this pr

[2022-06-10 12:19] rwoll commented on #13191
@khaki32 Can you file a new issue to be triaged? Please include a link to a repo of your test project we can clone and download to observe the error! Thanks!

[2022-06-10 12:25] navid4u commented on #12014
I guess you've got to try ClojureScript Data Browser on chrome.

[2022-06-10 12:35] thewilkybarkid commented on #14782
Thanks, @lemnis, that's really useful (and something I can use now: https://github.com/PREreview/prereview.org/commit/9c963d8d87dba490196562859b97bff004a0c10d).

Hadn't spotted that the `role` selector was added recently, but going through the docs it looks really powerful.

Yeah, but now I'm aware I can use the `role` selector I'll use it. I do wonder if it would still be useful (e.g. to help mak

[2022-06-10 12:37] mxschmitt opened #14787 "[internal] chromium tip-of-tree viewport size regression"
Repro:

[code]

Will yield to `AssertionError [ERR_ASSERTION]: 299 == 300`.

Good: `1011387`
Bad: `1011400`
Range: https://chromium.googlesource.com/chromium/src/+log/20101ab4a778351fae7005109299c918358b1277..27cfbb4224b708a594b7512bfe84e2ec68ece91a
Suspicious change: https://chromium.googlesource.com/chromium/src/+/3f0b9c8632df2dea7fcbc05571c6e91b9df5983c

[2022-06-10 12:53] Pierogi2 opened #14788 "[Question] VS Code debug launch configuration"
Could you please provide example of such launch configuration? https://playwright.dev/docs/next/debug#use-launch-config
I tried to make one myself but I found it tricky to attach to the worker process spawned by test.

Here is my attempt:
<h5 a><strong><code>launch.json</code></strong></h5>

[code]

<h5 a><strong><code>tasks.json</code></strong></h5>

[code]

<h5 a><strong><code>launchTestDebug.sh

[2022-06-10 12:58] mxschmitt commented on #14787
Disabled the tests for now, search in the code base for the issue URL when fix is rolled.

[2022-06-10 12:59] mxschmitt commented on #14725
Disabled the tests for now, search in the code base for the issue URL when fix is rolled.

[2022-06-10 13:03] mxschmitt commented on #14786
What do you mean that it fails, what kind of exception gets thrown with what error?

Might be the same root cause as https://github.com/microsoft/playwright/issues/13631

[2022-06-10 13:11] TBatist commented on #14786
So, apart from the error I want to throw, this is the complete error message.

Browser closed.

==================== Browser output: ====================
<launching> C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe --disable-background-networking --enable-features=NetworkService,NetworkServiceInProcess --disable-background-timer-throttling --disable-backgrounding-occluded-windows --dis

[2022-06-10 13:23] eatonjl commented on #14752
@rwoll and @pavelfeldman, I confirmed that my version is now 1.23.0-alpha-jun-10-2022 but I had the same experience. The button gets "clicked" but doesn't actually. Here is the trace files. The third from last action is the one where it clicks where the button is. But the loading icon, with its invisible overlay is blocking it. https://www.filehosting.org/file/details/4971782/trace.zip

[2022-06-10 13:46] Pierogi2 commented on #14788
Ok I solved it. It works with request `launch` configuration.
<h5><strong><code>launch.json</code></strong></h5>

[code]
<h5><strong><code>package.json</code></strong></h5>

[code]

[2022-06-10 13:46] #14788 closed

[2022-06-10 14:10] mxschmitt commented on #14784
It was actually not working correctly before and fixed in https://github.com/microsoft/playwright/issues/12629. You need to use the CSS property name, in your case: `background-image`. Then it will work as expected.

[2022-06-10 14:25] pavelfeldman commented on #14784
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-10 14:25] #14784 closed

[2022-06-10 14:26] #14777 closed

[2022-06-10 14:27] pavelfeldman commented on #14776
Something else is wrong with your script, you should not wait for DOM, Playwright does it for you. We would need exact steps to reproduce in order to help.

[2022-06-10 14:31] pavelfeldman commented on #14779
[code]

[2022-06-10 14:31] #14779 closed

[2022-06-10 14:32] pavelfeldman commented on #14782
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-10 14:32] #14782 closed

[2022-06-10 14:58] benjefferies commented on #11975
I'm experiencing the same issue. It also affects the `toMatchSnapshot` assertion.

@pavelfeldman this is the 3rd most popular issue on the playwright. Is there any workaround you know of to use another test runner by initialising `@playwright/test` context in a similar manner?

[2022-06-10 15:16] lszomoru opened #14790 "[BUG] Error: Failed to download chromium v1000"
We have started seeing intermittent issues while trying to download Playwright in our Azure Pipelines:

[code]

Are there any known issues with the infrastructure hosting Playwright? Thank you!

[2022-06-10 15:26] bpasero commented on #14790
//cc @pavelfeldman

[2022-06-10 15:49] craigjennings11 opened #14791 "[BUG] Boolean properties don't work when using shorthand notation"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Windows 10
- Node.js version: 16.14.0
- Browser: All
- Extra: None

**Code Snippet**
[code]

**Describe the bug**

When testing a component that has a boolean property, it's value must be explicitly set to `true` for the component to render correctly. If you use the shorthand notation, it isn't passed through for some reason.

[2022-06-10 15:53] Majdoub90 opened #14792 "[BUG] Firefox Timeout in docker image when using inside Jenkins"
**Context:**
- Playwright Version: [1.22.2]
- Operating System: [Linux]
- Node.js version: [14.2]
- Browser: [Firefox]
- Extra: []

**Code Snippet**
DOCKER FILE :
[code]

**Describe the bug**
I'm trying to run my playwright test in my docker image. Everything works fine in local. But when I run the test in the docker image firefox always timeout. I tried some other playwright images and noticed th

[2022-06-10 15:58] pavelfeldman commented on #14783
(You are missing await on every line starting with .goto)

I'll update the docs. For now:

[code]

[2022-06-10 15:59] mmy97 opened #14793 "[Feature] WebServerPlugin: add support for servers that have auth"
Hi,

We're trying to use playwright/test's [testConfig.webServer](https://playwright.dev/docs/api/class-testconfig#test-config-web-server) option to start our application for testing.

This is working great except for the fact that only 2XX status codes are allowed.

Our application will respond with a 302 to unauthorised requests. This is because it redirects to another page so that the user can

[2022-06-10 16:06] #14625 closed

[2022-06-10 16:20] pavelfeldman commented on #14790
It is saying "Node can't download off Azure", so points at Azure CDN for dropping the connection from Azure Pipelines.
We are already retrying the fetch, DEBUG=pw:install should show all the attempts.

[2022-06-10 16:38] mmy97 opened #14794 "[BUG] WebServerPlugin: some processes are not killed properly during cleanup"
**Context:**
- Playwright Version: 1.22.2
- Operating System: macOS 12.4
- Node.js version: 14.16.0
- Browser: Chromium
- Extra: We are using testConfig.webServer to start a java server via maven (openjdk version "17.0.1" / Apache Maven 3.8.4)

**Code Snippet**

[code]

**Describe the bug**

We are using testConfig.webServer to start a java server via maven, but it is never seems to be killed at t

[2022-06-10 17:55] lszomoru commented on #14790
We are also seeing the same errors in our GitHub Actions.

[2022-06-10 18:18] gauravgandhi1315 opened #14795 "[Question] Can I set string header in the playwright?"
My application URL is not loading using playwright because one of the key string is missing in the header api request. Is there any way I can add missing string value in the header api request?

[2022-06-10 18:58] githubhappyKaur opened #14796 "How do perform operation on electron app after Login on first window is successful. Is there any sample code?"

[2022-06-10 19:04] githubhappyKaur commented on #14796
const {test} = require('@playwright/test');
const {_electron: electron} = require('playwright-core');

test('test click', async () => {
const electronApp = await electron.launch({executablePath:"C:/Program Files/TestApp+.exe"});
const appPath = await electronApp.evaluate(async ({ app }) => {
        return app.getAppPath();
  });
  console.log(appPath+" -App path");
 test.setTimeout(120000);

  le

[2022-06-10 19:18] pavelfeldman commented on #14792
Let me keep it open to collect more repros. So far, there has not been any complaints.

[2022-06-10 20:44] AndyGleed commented on #13900
@dgozman  Hi, i have been trying to locate the selector generator to folk as I have some ideas I would like to try out with it, but I can't find it.  Could you please link me, thanks :)

[2022-06-10 21:35] diego-s-lopez commented on #12793
Hi! Same error here! It´s working until v1.17.

V 1.17 PW:browser* logs:
![image](https://user-images.githubusercontent.com/39778380/173153773-5cbd5170-4114-4246-b221-1240530e6c65.png)

V 1.22.2 Logs:
![image](https://user-images.githubusercontent.com/39778380/173154295-e7d04799-97fb-49e3-b7e0-b23664659d6c.png)

[2022-06-10 21:42] dgozman commented on #13900
@AndyGleed [Here you go](https://github.com/microsoft/playwright/blob/main/packages/playwright-core/src/server/injected/selectorGenerator.ts).

[2022-06-10 21:47] #14793 closed

[2022-06-10 22:03] divysharma007 opened #14801 "POP-WINDOW is not opening in the chromium browser"
[code]
I am attaching screenshots-
![image](https://user-images.githubusercontent.com/70777384/173156685-e2de00d5-0209-4298-be54-cef987177cf3.png)
firefox
![image](https://user-images.githubusercontent.com/70777384/173156337-9a0b3214-2b77-45c9-8bec-0588e9eed7c9.png)

[2022-06-10 23:11] pavelfeldman commented on #14795
https://playwright.dev/docs/api/class-testoptions#test-options-extra-http-headers

In config, specify
[code]

or if using library, use

https://playwright.dev/docs/next/api/class-browser#browser-new-context-option-extra-http-headers

[2022-06-10 23:12] pavelfeldman commented on #14796
In is unclear what you mean by that, but maybe you have several windows?
[code]

[2022-06-10 23:13] pavelfeldman commented on #14801
We don't see what is in your `openMail` function.

[2022-06-11 00:34] #14791 closed

[2022-06-11 07:33] divysharma007 commented on #14801
[code]

[2022-06-11 08:20] cameracode opened #14806 "[BUG]: DeprecationWarning: Buffer() is deprecated due to security and usability issues"
**Context:**
- Playwright Version: 1.22.2
- Operating System: Windows 10 21H2 & macOS Monterey
- Node.js version: v16.14.0
- Browser: Chromium
- Extra: [any specific details about your environment]

## Windows 10 System:
 - OS: Windows 10 10.0.19044
 - Memory: 10.86 GB / 31.71 GB
## Windows 10 Binaries:
 - Node: 16.15.0 - C:\Program Files\nodejs\node.EXE
 - npm: 8.5.5 - C:\Program Files\nodejs\npm

[2022-06-11 09:12] mrmckeb commented on #10437
Feel free to install from my fork in the meantime. I think I've managed to get everything working.
https://github.com/mrmckeb/playwright-merge-html-reports/tree/with-dist

```npm i https://github.com/mrmckeb/playwright-merge-html-reports#aadf6a7```

[2022-06-11 09:20] mrmckeb commented on #14625
Thanks @pavelfeldman, amazing work as always!

[2022-06-11 10:20] anooprav7 commented on #10437
The fix has been merged to [`playwright-merge-html-reports@0.2.1`](https://www.npmjs.com/package/playwright-merge-html-reports/v/0.2.1). Thank you @mrmckeb for the fix (https://github.com/anooprav7/playwright-merge-html-reports/pull/3).

[2022-06-11 13:51] pavelfeldman commented on #14801
Could you record a trace and share it with us?

[2022-06-11 13:53] pavelfeldman commented on #14735
Use this pattern then:

https://playwright.dev/docs/navigations#asynchronons-navigation

[2022-06-11 14:01] divysharma007 commented on #14801
[aba9a7edc9141263c622bf803255ea74526889bf.zip](https://github.com/microsoft/playwright/files/8884043/aba9a7edc9141263c622bf803255ea74526889bf.zip)

[2022-06-11 14:43] pavelfeldman commented on #14388
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-11 14:43] #14388 closed

[2022-06-11 14:44] pavelfeldman commented on #14668
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-11 14:44] #14668 closed

[2022-06-11 14:44] pavelfeldman commented on #14596
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-06-11 14:45] pavelfeldman commented on #14658
There is way to implement it other than setting a large timeout. You have a synchronous program, it has the beginning and and end, so unless you wait_for_timeout, the sync program needs to end!

[2022-06-11 14:45] #14658 closed

[2022-06-11 14:55] pavelfeldman commented on #14659
The structure of the tests should not depend on the number of workers - you should be able to run the same test suite with 1 worker and with 100. So I assume you want to sign in in each worker separately. You can achieve that via a worker-scope fixture. Something similar to (but not exactly like) this: https://playwright.dev/docs/next/test-fixtures#worker-scoped-fixtures

In the worker-scope fixtu

[2022-06-11 14:56] pavelfeldman commented on #14659
Assigning to 1.24 to add the above to the docs.

[2022-06-11 14:56] pavelfeldman commented on #14677
We need more information to act on this report. Please file a new one and link to this issue when you get back to it!

[2022-06-11 14:56] #14677 closed

[2022-06-11 14:57] pavelfeldman commented on #14690
Understood. No, there is no such feature for WebKit.

[2022-06-11 14:57] #14690 closed

[2022-06-11 14:58] pavelfeldman commented on #14702
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-11 14:58] #14702 closed

[2022-06-11 14:58] pavelfeldman commented on #14672
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-11 14:58] #14672 closed

[2022-06-11 14:59] pavelfeldman commented on #14643
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-11 14:59] #14643 closed

[2022-06-11 15:02] pavelfeldman commented on #14733
I don't think you are, erase your node_modules and package-lock to ensure update to 1.22.2.

<img width="720" alt="Screen Shot 2022-06-11 at 8 01 15 AM" src="https://user-images.githubusercontent.com/883973/173193195-bbea0d9e-e57f-40a4-bbd9-fd411a9c078f.png">

[2022-06-11 15:04] pavelfeldman commented on #14790
Yeah, it is the same thing. Did it resolve? Probably was due to some outage on Azure side.

[2022-06-11 15:04] pavelfeldman commented on #14795
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-11 15:04] #14795 closed

[2022-06-11 15:23] suratdas opened #14807 "[BUG] In some cases/websites, relative locator does not return value an end-user sees on the screen"
**Context:**
- Playwright Version: Java Playwright dependency 1.22.0
- Operating System: Mac
- Node.js version: NA. Using Java dependency com.microsoft.playwright:playwright:1.22.0
- Browser: All
- Extra: None

**Code Snippet**
[code]

**Describe the bug**
The expected (based on how an end-user sees on the screen) and actual are given above. It is not returning a value based on visual layout from

[2022-06-11 18:02] marcindulak commented on #14156
Renaming js -> jsx seems to work with `@playwright/experimental-ct-react@1.23.0-alpha-jun-11-2022`

[code]

package.json

[code]

[2022-06-11 18:05] marcindulak commented on #14156
For reference here is the link explaining the js -> jsx behavior https://github.com/microsoft/playwright/issues/14298

[2022-06-11 18:18] alexferrari88 commented on #14224
Hi, you might find this helpful: [playwright-dompath](https://github.com/alexferrari88/playwright-DOMPath).
It does exactly what you would like to do: it can retrieve xPath and CSS selector of an element selected with Playwright. Under the hood it is using the same script that Google Chrome uses in Chrome Dev Tools. I hope it can solve your problems!

_Self-disclosure: I am the author_

[2022-06-11 19:06] divysharma007 commented on #14801
[code]

[2022-06-11 20:52] AlexDaniel commented on #10132
I'm just starting with playwright and I'm a bit confused. Without this feature, how exactly am I supposed to use Playwright? So, I have a test file with a bunch of tests, let's say 3 of them fail (say I'm tweaking a bunch of stuff and need to adjust tests, or I'm moving from something else to playwright). OK, what should be my next steps? Right now I insert page.pause() before the fail, then I cop

[2022-06-12 04:14] DaleLuce commented on #8850
+1

[2022-06-12 13:46] nikolay-yavorovskiy commented on #14488
Yeah. example was a bit incorrect, i wrote it without checking.
But the issue still exists.
There's an example from the trace.
Selector that I'm trying to find is correct.
`.slim-table[data-test-id="profile-layout-table"] >> .slim-table-body`
![image](https://user-images.githubusercontent.com/89914399/173236261-7aa99d40-6329-4535-bd98-d04c02d1c7b9.png)

[2022-06-12 16:39] #14488 closed

[2022-06-12 16:48] JCMais opened #14812 "[Feature] Add support for legacy decorators or allow to provide a custom babel config"
This has been [suggested](https://github.com/microsoft/playwright/issues/13996) [over](https://github.com/microsoft/playwright/issues/12105) and [over](https://github.com/microsoft/playwright/issues/11440), but the feature request is always closed.

I am opening another one because not having support for decorators is a major no go for components testing with Playwright. I know the feature is expe

[2022-06-12 20:06] #14794 closed

[2022-06-12 20:08] pavelfeldman commented on #14812
Could you share a snippet of your code? Are you using decorators in the test, in the component, or in the code that test imports?

[2022-06-12 20:09] pavelfeldman commented on #14662
Closing as per above, please feel free to open a new issue if this does not cover your use case.

[2022-06-12 20:09] #14662 closed

[2022-06-12 20:40] JCMais commented on #14812
In the code that the component imports. Which is included by both playwright and vite.

I don't have any code I can share right now, but to test you only need to import a .ts file that has decorators from within your test.

[2022-06-12 22:17] pavelfeldman commented on #14812
That's unexpected. When we parse the test, we detect component import and swap that code for a component stub, so we should not be babeling your component. We build a component bundle using vite, so as long as vite supports your syntax, things should work. Having a reduced test case would help addressing it.

[2022-06-12 23:15] ryanrosello-og opened #14813 "[BUG] Videos are not generated when reusing a single page between tests"
**Context:**
- Playwright Version:  1.22.2
- Operating System: Windows 11
- Node.js version: v 17.7.1
- Browser: chromium
- Extra: [any specific details about your environment]

## System:
 - OS: Windows 10 10.0.22000
 - Memory: 1.24 GB / 15.79 GB
## Binaries:
 - Node: 17.7.1 - C:\Program Files\nodejs\node.EXE
 - Yarn: 1.22.17 - C:\Program Files\nodejs\yarn.CMD
 - npm: 8.5.2 - C:\Program Files\nod

[2022-06-13 02:22] MervLim opened #14814 "[Question] First test case would always fail when launching a development web server during tests"
Hi, i am using playwright v1.22 with macOS and my application is purely front-end(React/TypeScript). I have set up to launch a development web server at my playwright config file. I have 2 test cases and when i run playwright test, the first test case would always fail. This doesn't happen if i start my application from my own terminal and run playwright test. Am i missing anything?

**My code on

[2022-06-13 03:19] xpedrooo commented on #5185
Hi,

Actions are not recorded in codegen like clicking the button, filling up input fields.

Any idea?

Thanks

[2022-06-13 06:19] Exoow commented on #14733
You are correct, there was a discrepancy between package file and node_module files. Thanks.

[2022-06-13 06:19] #14733 closed

[2022-06-13 06:36] akarsh17 commented on #14813
Hi @ryanrosello-og
If you are picking the browser context configuration directly from xyz.config.js file and have not defined the context in the spec itself, then you would want to try the following configuration in order to get the videos generated.

  use: {
    trace: 'retain-on-failure',
    screenshot: 'only-on-failure',
    video:'retain-on-failure',
    **contextOptions: {recordVideo: { dir

[2022-06-13 06:57] I569110 opened #14816 "[BUG]Latest playwright depends on jpeg-js-0.4.3.tgz which cause the Whitesource Security alert"
Context:

current Playwright Version: 1.17.1
Node.js version: v16.15.0
Browser: chromium

The newest version 1.22.2 for platwright also depends on jpeg-js-0.4.3.tgz which will casue the security alert in whiteSource check.
And the main reason for this alert is because the jpeg-js need to be upgraded to jpeg-js-0.4.4.tgz
![image](https://user-images.githubusercontent.com/107390010/173296381-a96b216

[2022-06-13 07:13] pavelfeldman commented on #14816
Could you share more on the vulnerability? Is that a live-lock on malformed jpeg parsing? It does not look like we are affected.

[2022-06-13 07:19] ryanrosello-og commented on #14813
thanks for the suggestion @akarsh17

I tried the following:

Declared the `recordVideo` directly into the config

[code]

And also directly into the `beforeAll` of the spec:

[code]

Still no luck, I can see the videos are created but the videos are not being embedded in the HTML report which kind makes it difficult to trace which video belong to which result.

![2022-06-13_17-14-25](https://user-

[2022-06-13 08:32] mxschmitt commented on #14806
Internal note: cause for that is the `source-map-support` module. Fix is https://github.com/evanw/node-source-map-support/pull/212 so everything after v0.5.6 has the fix included.

[2022-06-13 08:43] ElliottDevlinPA commented on #14783
Hi @pavelfeldman, thank you for your response - I am now able to launch two browser instances.

Another question please - is it possible to create two new pages with the two separate browser contexts using my existing page objects? So, rather than creating a generic page object, can I specify that they are instantiated with my page object for the Login page of my app?

[2022-06-13 08:47] seddik-st opened #14817 "How to test electron using DOM [Question]"
Hello,

I'm using playwright to test electron app built by Theia however  when i try to click a button or select an element it doesn’t work and it time out. This is how the page  body looks like (see picture below).

![image](https://user-images.githubusercontent.com/105231055/173315175-430aa33c-2cb3-477c-8b40-38269806b10a.png)

My code:
[code]

[2022-06-13 08:56] np-xavier commented on #14814
See the [documentation here](https://playwright.dev/docs/test-advanced#launching-a-development-web-server-during-the-tests), I suspect you need to use the `url` configuration option as well as `baseUrl`. When `webServer.url` is set, it will wait for a 2xx response - currently the tests are executing before the application is ready, I think.